[2020-12-02 18:37] shepmaster commented on #2593
Ahh, profiles are dictated by the channels, not by rustup? TIL.

[code]

[2020-12-02 18:37] #2593 closed, assigned to nobody

[2020-12-02 18:37] shepmaster commented on #2593
Is there another rustup mechanism to specify "no, I really never want docs by default"?

[2020-12-02 19:30] kinnison commented on #2593
Not currently, no.  If you wanted to propose something then I'd be willing to entertain options :D  In general changes to rustup look forwards, but I understand your need to deal with older toolchains :D

[2020-12-03 04:53] saurik commented on #1408
I got this today.

[code]

Also fixed by rustup uninstall stable && rustup update stable.

[2020-12-03 11:42] chansuke commented on #2575
@kinnison I appreciate your comment and suggestion. I will start working at this weekend.

[2020-12-03 13:50] philippludwig commented on #1459
@kinnison I added the comment because this is issue the first result on Google when you search on how to set the toolchain per project.

[2020-12-03 20:57] kinnison commented on #2577
To achieve this will require factoring the "checking for self-updates" part of the self_update process out into a separate function which can be called from the `rustup check` implementation.  It shouldn't be that complex to do and I'd be happy to mentor someone through the process.

[2020-12-03 20:59] kinnison commented on #2576
Such a setting could be very useful, it'd be nice to clean up a bunch of `--no-self-update` in our test suite for example.  While not trivial, it shouldn't be too hard to add the setting and pipe it through to the requisite places in the CLI through our `Cfg` object.

[2020-12-03 21:03] kinnison commented on #2506
@follower Since 1.23 is now out with the revamped code by @workingjubilee in place, could you have another go and see how things behave?  If we still need to make improvements then we will.

[2020-12-03 21:05] kinnison commented on #2472
Hi @biork

I'm interested in seeing if this is still the case with the new (1.23) rustup.  Could you have another go for me?  (Sorry for the ongoing pain)

D.

[2020-12-03 21:08] kinnison commented on #2443
We don't appear to have re-encountered this issue.  I'm going to close it, but if it happens again, poke on here and we can reopen it.

[2020-12-03 21:08] #2443 closed, assigned to nobody

[2020-12-03 21:10] kinnison commented on #2289
With rustup 1.23 we will warn if you're installing a toolchain whose architecture doesn't match the host, but we won't prevent it, so that multiarch systems still behave.  I'm going to consider this closed for now, but if something comes up which is similar, please feel free to open a new issue detailing the situation and mentioning this issue if the context is useful.

[2020-12-03 21:10] #2289 closed, assigned to nobody

[2020-12-03 21:13] kinnison commented on #2291
We now have major.minor channel files present on the dist server, so we're a step closer to being able to do this.

If someone wanted to have a go at implementing the channel parsing and handling the double-manifest-download then we can see how it works.

[2020-12-03 21:16] kinnison commented on #2283
Given we now warn when users install a toolchain which doesn't match their host platform I'm going to close this issue since the original poster would have been warned when they installed the wrong kind of toolchain.  If we want to do more on this we can reopen or file a fresh targetted issue.

[2020-12-03 21:16] #2283 closed, assigned to nobody

[2020-12-03 21:29] #2104 closed, assigned to nobody

[2020-12-03 21:30] #1939 closed, assigned to kinnison

[2020-12-03 21:31] #1893 closed, assigned to nobody

[2020-12-03 21:32] #1735 closed, assigned to nobody

[2020-12-03 21:35] kinnison commented on #1598
There is a lot more documentation these days, I'd like to think things are good enough, though not everything you listed is explicitly there in the docs, more is than was.

If this kind of documentation is still lacking in your opinion, please could you open a fresh issue detailing what you suggest is missing and which parts of the new book-form documentation the content should go in?

Thanks,

D.

[2020-12-03 21:35] #1598 closed, assigned to nobody

[2020-12-03 21:35] #1584 closed, assigned to nobody

[2020-12-03 21:36] kinnison commented on #1539
There has been no movement on this, nor any reproduction of it. I'm going to close the issue.  If something like this comes up in the future, we can open a fresh issue to discuss.

[2020-12-03 21:37] #1539 closed, assigned to nobody

[2020-12-03 21:39] kinnison commented on #1496
The update code has changed significantly since these reports, with no further suggestion of similar issues, I'm going to close this.

If you still encounter this kind of situation please open a fresh issue where we can discuss it.

[2020-12-03 21:39] #1496 closed, assigned to nobody

[2020-12-03 22:00] #1458 closed, assigned to nobody

[2020-12-03 22:00] #1378 closed, assigned to nobody

[2020-12-03 22:01] kinnison commented on #1314
Rustup has been quietly checking GPG signatures on components now for quite some time.

[2020-12-03 22:01] #1314 closed, assigned to nobody

[2020-12-03 22:01] kinnison commented on #1299
Is it okay if I close this?

[2020-12-03 22:02] kinnison commented on #1221
We use env_proxy these days and I'd assume this is acceptable.  If not, then we should look at enhancing that section of the code.

[2020-12-03 22:02] #1221 closed, assigned to nobody

[2020-12-03 22:05] kinnison commented on #1158
I'd suggest simply adding an argument to `rustup self update` a'la `rustup self update --version 1.20.0` or similar.  Though I'm unsure if it's still desirable to offer users an easy way to downgrade rustup.

[2020-12-03 22:05] kinnison commented on #1158
If this is still desirable in some form, please ping me, otherwise I've marked this inactive and will close at some point in the near future.

[2020-12-03 22:06] kinnison commented on #1144
Rustup snaps have been out (and quite popular) for some time now.

[2020-12-03 22:06] #1144 closed, assigned to nobody

[2020-12-03 22:07] est31 commented on #1144
Link: https://snapcraft.io/rustup

[2020-12-03 22:07] kinnison commented on #1069
I'm going to assume this is no longer an issue given we've changed certificates since this was posted.  if it remains a problem, please open a fresh issue to discuss.

[2020-12-03 22:07] #1069 closed, assigned to nobody

[2020-12-03 22:08] #989 closed, assigned to nobody

[2020-12-03 22:09] kinnison commented on #933
Given the lack of response, I'm closing this.

[2020-12-03 22:09] #933 closed, assigned to nobody

[2020-12-03 22:10] #937 closed, assigned to nobody

[2020-12-03 22:11] kinnison commented on #877
Is such a limiting envvar still interesting to people?  If not, I'll close this issue.  I'm marking it inactive at any rate.

[2020-12-03 22:12] #906 closed, assigned to nobody

[2020-12-04 00:16] steveklabnik commented on #2441
I am trying to `rustup update nightly` and getting

[code]

I believe that this is the right ticket?

[2020-12-04 09:35] kinnison commented on #2441
Hi Steve, yes this is the right ticket.  Are you certain there're no IDEs or anything open which could be using rustup, rls, rustc, etc.  Even via another program such as rust-analyzer?  If you're sure and still getting that, then rebooting may be your only hope, and then run `rustup self update` on a freshly booted system.  Windows' file locking makes our update process a bit fraught though we ha

[2020-12-04 19:30] steveklabnik commented on #2441
So, I did make sure to close out Code.

However, thinking about it... I do have one hunch. I am using nushell as my shell, installed via Cargo. Could that cause this problem?

[2020-12-04 21:39] kinnison commented on #2441
Unless nushell was running cargo or rustup or similar, not as far as I know, no.

[2020-12-04 21:41] kinnison commented on #2441
One idea, run task manager and look through the process list for any of rustc cargo rls rustup etc. ?

[2020-12-04 23:48] doxxx commented on #2441
[Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) has a feature where you can search open handles to see which process has a file locked.

[2020-12-05 18:00] therealbstern commented on #2028
Isn't this step done too, if rustup is already validating the `asc` detached signatures?  Or does this mean releases of rustup proper, not of the rust packages?

Anyway, this is awesome, I've been watching this for a while via #241, so I'm chuffed that this is working.

[2020-12-05 22:07] Vbbab opened #2597 "Rustup refusing to update nightly beyond 2020-11-24 (1c389ffef) -- missing installed component rustfmt?"
**Problem**
`rustup check` shows for `nightly`:
[code]

However upon running `rustup update`, I get the following log for `nightly` updates:
[code]

`rustup` is refusing to update because updates are `missing installed component 'rustfmt'`?

**Steps**

1. `rustup check` -- Update available for `nightly-x86_64-pc-windows-msvc`
2. `rustup update` when `rustup default nightly` -- **FAILED**

Why is `

[2020-12-05 23:11] ehuss commented on #2597
Components are allowed to go into a "broken" state on nightly.  There is some documentation about this here: https://rust-lang.github.io/rustup/concepts/components.html#component-availability and https://rust-lang.github.io/rustup/concepts/channels.html#nightly-availability

You can use `--profile=minimal` or `--force` to force install a nightly release with a missing component.

[2020-12-07 00:28] katsuhiro3 opened #2598 "We should document that double-clicking rustup-init may not work properly"
**Problem**

On Windows, if you run `rustup-init.exe` by double clicking the executable, it wouldn't detect custom paths in `CARGO_HOME` and `RUSTUP_HOME` and install to the default path.

**Steps**

1. Set the variables `CARGO_HOME` and `RUSTUP_HOME` via command line (`setx ... /m`) or Windows GUI
2. Double click the `rustup-init.exe` executable
3. Answer `Y` to the initial prompt regarding havin

[2020-12-07 11:49] toothbrush7777777 commented on #2590
I've run into this before. It happens because `conhost` doesn't reset the terminal colours after a program is terminated.
I think bash and most other terminals & shells resets the colour automatically.

[2020-12-08 01:43] ghost commented on #2472
I just did a clean install using the...

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

...method, and, yes, it worked.

On Thu, Dec 03, 2020 at 1:17pm Daniel Silverstone <notifications@github.com> wrote:

[2020-12-08 09:34] kinnison commented on #2597
@Vbbab Do you need any further assistance or can I close this issue?  it's definitely not a bug in rustup.

[2020-12-08 09:35] kinnison commented on #2028
@therealbstern No we don't sign rustup releases yet, only rust channels.  We're working on some basic signature support by dint of unifying how rustup and rust releases are done to some extent, but that's going to be a long time in the making.

[2020-12-08 09:36] kinnison commented on #2598
I'm not sure what's going on here, since presumably these variables are global environment settings in Windows.

Is there anything we could do in order to ameliorate this, or is it a question of simply documenting that if you're wanting this behaviour you **must** run rustup-init from the cli?

[2020-12-08 10:35] Yuzuki-N opened #2600 "Arm macbook installation ERROR"
I am going to install rust on my m1 macbook air
but when i do this
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`
this will be some error like this
[code]
i want to know how to correctly install rust-lang correctly

[2020-12-08 13:56] eddyb opened #2601 "rust-src component installed by `rustup component add` not seen by `rustup toolchain install ... --component`."
I would expect `rustup toolchain install ... --component rust-src` to do nothing when `rust-src` is already installed.
But if it installed through `rustup component add rust-src`, it tries installing again (and fails due to conflicting with itself):
* setup
[code]
* failure
[code]
* expectation (AFAICT, this is what happens for any component other than `rust-src`)
[code]
* it even works correctly

[2020-12-08 14:02] kinnison commented on #2472
Wonderful, thank you.  I'm going to close this issue, but ping either here or on a fresh issue if problems recur.

[2020-12-08 14:02] #2472 closed, assigned to nobody

[2020-12-08 14:04] kinnison commented on #2600
This is not a bug in rustup, but rather that the aarch64 release of the toolchain has not yet reached stable.  Either wait until after the next release of rust which should include the aarch64 toolchain on stable, or else install the beta or nightly channel for now.

You can select the channel at the prompt during installation.

[2020-12-08 14:04] #2600 closed, assigned to nobody

[2020-12-08 14:05] kinnison commented on #2601
Okay that's an interesting set of behaviours for me to puzzle over

[2020-12-08 14:07] eddyb commented on #2601
Okay found the cause, `~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/components` contains:
* `rust-src` when installed via `rustup component add --toolchain nightly rust-src`
* `rust-src-x86_64-unknown-linux-gnu` when installed via `rustup toolchain install nightly --component rust-src`

[2020-12-08 14:09] eddyb commented on #2601
~~I'm guessing when `rust-src-x86_64-unknown-linux-gnu` is installed, trying to install `rust-src` recognizes it as "already installed", whereas the other way around, it doesn't recognize it.~~

**EDIT**: it's actually broken both ways, I just wasn't testing enough sequences of commands, see https://github.com/rust-lang/rustup/issues/2601#issuecomment-741592459.

[2020-12-08 14:15] kinnison commented on #2601
Yes, there's definitely something up with how we're resolving the architecture there.  rust-src is unusual in that it's an all-arch component whereas the others are per-arch.

[2020-12-08 14:19] kinnison commented on #2590
What's odd is that there's no red in the rustup output at that point.  So I wonder what we've done to the terminal that is causing that.

[2020-12-08 15:52] steveklabnik commented on #2441
Mysteriously, this morning when I tried to get back to this, it worked. Hm. I'll give all that a try if I run into it again in the future, thanks / sorry.

[2020-12-08 15:57] kinnison commented on #2441
No worries, this part of `rustup` on Windows is very difficult to predict sometimes.  Especially with background virus scanners etc. which might decide to hold a handle on the binary for a bit at any time.

[2020-12-09 07:35] eddyb commented on #2601
Looks like the other way around is broken too, sorry!

[code]
(it lists with every single one of the 152 directories/files in the component, spamming my terminal)

<hr/>

For whatever reason, specifying `rust-std` as well *does* make it work (even in the case above where `rust-src` was installed through `rustup toolchain install ... --components rust-src`), so I'm going to use this as the workarou

[2020-12-09 10:25] #2588 closed, assigned to nobody

[2020-12-09 11:23] eddyb commented on #2601
Ah, looking at [at the CHANGELOG entry for `1.21.0`](https://github.com/rust-lang/rustup/blob/4a2e283ad33757c119b950de43189f6bad7a9122/CHANGELOG.md#1210---2019-12-19), I'm guessing #2087 and/or #2115 didn't go far enough?

**EDIT**: wait, I'm on `rustup 1.21.1`, will need to check on latest `rustup` later today, in case this was fixed since.

[2020-12-09 11:47] kinnison commented on #2601
It'd be worth double-checking, but I don't *think* I did much in the way of altering the deduplication inputs to toolchain installation.  When we attempt to "install" an already installed toolchain we have to look at the requested components and deduplicate against the installed components.  I wonder if we're failing to do that correctly for `rust-src`.

[2020-12-09 12:27] eddyb commented on #2601
Testing with below `rust-toolchain` on `rustup 1.23.1`, it seems to behave like `rustup toolchain install ... --components rust-src` (which makes a lot of sense), *including* the bug with running `rustup component add rust-src` later, described in https://github.com/rust-lang/rustup/issues/2601#issuecomment-741592459.
[code]

[2020-12-09 13:05] eddyb commented on #2601
Heh, RLS (or rather, the VSCode extension) plays well with the TOML `rust-toolchain` we need, because of a coincidence:
[code]

That is, `rust-analysis` behaves like `rust-std`, in that it forces `rust-src` to fix itself - if `rustup component add rust-src` came first, it would've failed.

[2020-12-09 14:05] kinnison commented on #2601
Thank you for the updates.  I intend to have a go at bottoming this out this week.

[2020-12-10 05:14] apnorton opened #2603 "Installer detection of TLS 1.2 support fails for curl 7.73.0+"
**Problem**
When installing rustup from the downloaded shell script with curl 7.73.0 on the system, the installer fails back to not enforcing TLSv1.2.

**Example** (note: `./rustup-install.sh` is just the result of `curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf -o rustup-install.sh` because I don't like piping to bash):
[code]

**Steps**
1. Install current version of curl
2. Attempt to

[2020-12-10 15:44] Vbbab commented on #2590
Perhaps the Interrupt is colored (**^C**)?

[2020-12-10 15:45] Vbbab commented on #2590
Oh and it appears that the bug only reproduces if you **wait a few seconds** at the first prompt. In that case the interrupt is red.

Waiting up to 4 seconds before interrupting will actually show the beginning of an *error*, which could be why it's red...

[2020-12-10 20:13] kinnison commented on #2590
What error is it showing at that point?  can you attach a screenshot?

[2020-12-10 20:15] Vbbab commented on #2590
If I interrupt it at *exactly* 4 seconds, this error shows up, but is blank:
![image](https://user-images.githubusercontent.com/44555590/101824677-64e95d00-3ae1-11eb-8742-d2608452676f.png)

[2020-12-10 20:19] kinnison commented on #2590
Oh interesting, I wonder if the control+C managed to give it some input before it killed it.

[2020-12-10 20:36] Vbbab commented on #2590
but if I interrupt at different time intervals, things happen:
- Immediately: Regular **white** ^C, user shell is **normal**
- At 4 secs: **error**, **red** ^C, user shell is **red**
- Between 1-4 secs, and more than 4 secs: **no error**, **red** ^C, user shell is **red**

[2020-12-10 20:38] kinnison commented on #2590
That is extremely odd.

[2020-12-10 20:39] Vbbab commented on #2590
Could this be a bug with some sort of input-handling loop? Or maybe `rustup-init` is loading something within the initial 4 secs?

[2020-12-10 20:40] kinnison commented on #2590
I guess possibly.  I'm not entirely sure how the input loop behaves on Windows.

[2020-12-10 20:44] Vbbab commented on #2590
OK... Is there any way that I can see `rustup-init`'s code? (Or is that closed-source?) All I see on this repo is a `rustup-init.sh`

[2020-12-10 20:56] kinnison commented on #2590
the src/ tree *is* rustup and rustup-init - it's all open source.  the code in question will be in src/cli/self_update.rs most likely

[2020-12-10 22:47] Vbbab commented on #2590
OK, thanks!

[2020-12-10 23:37] londospark commented on #1033
Does anyone have an inspirational quote or a list of quotes that they think should be included?

[2020-12-10 23:43] kinnison commented on #1033
I'm not sure what would inspire people, though as vaguely useful to programmers go, I quite like:

* “Knowledge is power.” – Francis Bacon
* “ Code is like humour. When you have to explain it, it’s bad.” – Cory House
* “Make it work, make it right, make it fast.” – Kent Beck
* “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin

[2020-12-10 23:44] kinnison commented on #1033
Of course, as was suggested above, thinking carefully about whether or not this would be acceptable to add is also important.  We'd be adding public API to the primary interface a lot of people have with the language, so I'd not immediately accept a PR for this unless it was reasoned out as to why this is safe/sane to add.

[2020-12-11 03:39] mbrubeck commented on #1033
`rustup self help` is already a valid command, which is the reason I made this joke originally.  This wouldn't add any new API; it would just add a sentence or two to the existing help text.

[2020-12-11 04:00] arafangion opened #2606 "Rustup doesn't check the platform OS version correctly."
I previously mis-reported this at https://github.com/rust-lang/rust/issues/79924
**Problem**

**Steps**

1. Try to install rust using Rustup on an Apple Silicon laptop.

`% curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

Expected this to install rust, however there are two problems, lets focus on the first one in this ticket: (The other issue was I was expecting it to install the

[2020-12-11 05:15] Vbbab commented on #2597
OK, thanks for the clarifications! I have no more questions.

[2020-12-11 05:16] #2597 closed, assigned to nobody

[2020-12-11 10:47] katsuhiro3 commented on #2598
The decision is up to you, @kinnison. One of the reasons why I brought it to light is because I couldn't find anybody with a similar issue by googling, so if this one remains unchanged at least people might find a solution through my ticket.

[2020-12-12 10:10] kinnison commented on #2598
Well, it's not up to me if there's something we can do to improve matters.  I don't understand *why* Windows wouldn't be setting environment variables for double-clicked things but is for running it in a cmd window.

However it ought to be fairly easy for someone to add/update docs to hilight that it's best to run rustup-init from a cmd or powershell window rather than by double-click.

[2020-12-12 10:14] kinnison commented on #2606
Yep, currently we only check the minor of the version and so we get this wrong.  It should be a pretty easy fix in rustup-init.sh's check_help_for code.

[2020-12-12 11:39] est31 opened #2608 "CI fails on powerpc64-unknown-linux-gnu"
Since merging of #2517, the master branch CI fails on powerpc64-unknown-linux-gnu. [Link to a failing build](https://github.com/rust-lang/rustup/runs/1542098778). Relevant excerpt from the log:

[code]

The failing line is [here](https://github.com/briansmith/ring/blob/f247250ee0b96770ac34e2c1fbf23e3f3efb0d84/build.rs#L375). It turns out that ring doesn't support the powerpc platform: https://gith

[2020-12-12 12:08] kinnison commented on #2608
Hmm, that's not ideal no.  Please do sort a PR for that if you can.

[2020-12-12 12:16] est31 commented on #2608
@kinnison → #2609

[2020-12-13 01:27] shepmaster commented on #2606
I don't see this behavior:

[code]

[2020-12-13 08:44] chansuke commented on #2575
@kinnison I read through the test codes... My idea is that creating the function that generates a damaged toolchain in `tests/mock/clitools.rs`. After that, I will start adding some test codes. Is that the right approach...? Thanks.

[2020-12-13 10:41] #2603 closed, assigned to nobody

[2020-12-13 10:56] kinnison commented on #2575
I'm not sure you need to create broken toolchains in `clitools.rs`.

Let's first consider the 'checking components and targets work' part of the above:

A possible testing scenario might be:

1. a project has a `rust-toolchain` stating that it wants `nightly` with the `rust-src` component installed.
2. the user already has `nightly` but without `rust-src`
3. we should cause `rust-src` to be instal

[2020-12-13 15:58] #2608 closed, assigned to nobody

[2020-12-14 01:14] arafangion commented on #2606
I took a look at this because I was asked to test the changes, but then I noticed I didn't see this behaviour in the git version of the code and still see it in the production version.

It appears that the code changes in 01fd3a19774e97839f6b3c52075a491ea9479abd somehow suppresses this code, so to test this specific change now in the official master I applied a revert of that commit locally.

Howe

[2020-12-14 22:19] kinnison commented on #2606
It's unclear how the code change you reference could have affected the result of calling `sw_vers` - very odd.

[2020-12-15 02:51] arafangion commented on #2606
@kinnison It took a bit of digging, but it appears that check_help_for is first called with $_arch being set to 'notspecified', which then influences whether curl is supported and with which cipher suites.  With the code change I referenced, this now returns '1'.

If it can't find anything, then it provides those warnings by calling check_help_for, and this time specifies the arch to 'aarch64-appl

[2020-12-15 08:17] kinnison commented on #2606
And this is why reading only an isolated function is a bad plan when reviewing shell code :D  It sounds like in theory we don't need the PR I wrote for this issue; but I'd rather belt-and-braces this just in case someone has an old curl on their path.

[2020-12-15 08:52] arafangion commented on #2606
I agree!  And if you don't fix it and the code is used again in the future, it'll cause a bit of a surprise, so I think this is a good change to make.

[2020-12-15 08:59] #2606 closed, assigned to kinnison

[2020-12-15 09:00] #2579 closed, assigned to kinnison

[2020-12-15 10:26] milahu commented on #1364
still have the same problem: download starts, but progress is not visible

[code]

[2020-12-15 11:29] kinnison commented on #1364
Sadly we're stuck on an older `term` until/unless we can replace it with something else entirely.  Term 0.5 broke Windows. We have other issues open for finding a replacement.

[2020-12-15 13:34] milahu commented on #1364
aah, thanks .. #1818 #1835

[2020-12-15 23:21] jyn514 opened #2611 "Installing a major version does not allow overriding a minor version on the command line"
**Problem**

Installing `1.33` does not allow running `cargo +1.33.0`. You have to explicitly use `cargo +1.33`.

**Steps**

1. rustup install 1.33
2. cargo +1.33.0

[code]

**Possible Solution(s)**

- Make it work as-is, and have 1.33.0 forward to 1.33. Using 1.33.1 should give an error (and possibly suggest using 1.33 instead).
- Give a better error that suggests using 1.33 instead.

**Notes**

[2020-12-16 09:27] kinnison commented on #2611
Currently, channels are entirely independent entities in Rustup.  We have no 'aliasing' per-se.  There is a big question of correct behaviour here.  For example, if I have `1.x` installed and today `1.x.0` maps to that, but tomorrow a `rustup update` means that `1.x` is updated to `1.x.1` such that `cargo +1.x.0 build` no longer works because `1.x.0` is no longer 'installed' then that might upset

[2020-12-16 21:43] zingus commented on #1188
Suggested fix: try `taskkill /F /IM "rls.exe"`
rls.exe it's the language server, might be used by editors (including vscode)

[2020-12-17 06:36] zhmushan opened #2612 "aarch64 windows"
Could we build an installer for `aarch64-pc-windows-msvc` ? (I'm working on Surface Pro X)

[2020-12-17 06:50] rbtcollins commented on #2611
I think the user model of versions here is the problem - as you say, the channels are not aliased at all, and we don't know in any semantic form the relationship between 1.3 and 1.3.0, or that when 1.3 moves to 1.3.1, that 1.3.0 will stop working.

I think there may be another bug in this space already, but my 2c are:

- x.y channels were added to decrease user friction and balance between 'well w

[2020-12-17 07:58] kinnison commented on #2612
In theory we could.  std and host are built for this target.  We need to know by what means (cross from Windows x86_64? cross from Linux?) and for that I shall request a hint from @pietroalbini on how we build that target's rustc/cargo.

[2020-12-17 07:59] kinnison commented on #2611
What would you say 'dont-work-for-me' behaviour entails?  I'm kinda not happy about adding extra env API surface if we don't have to.

[2020-12-17 08:10] rbtcollins commented on #2611
Disabling all Auto install behaviour would be the thing I think

[2020-12-17 08:17] kinnison commented on #2611
Hmm, I could accept a `RUSTUP_DISABLE_AUTO_INSTALL=1` type thing I guess, as an unstable API.  I'm leery about making it official unless people come back to whine about `+toolchain` auto installing.

[2020-12-17 08:20] rbtcollins commented on #2611
Either decide that auto install it lack there of is not part of the contract, or make controlling it part of the contract. Trying to have it both ways will just prevent us doing anything

[2020-12-17 08:29] kinnison commented on #2611
I feel like the lack of auto-install there is probably a bug, but I don't know if others are relying on `rustc +blah --version 2>/dev/null` as a way to test if a toolchain is installed (it shouldn't be, but then again people do things they shouldn't all the time).

@jyn514 As the original raiser of this issue, how do you feel about us auto-installing 1.33.0 in your use-case above?  It'd be the sam

[2020-12-17 08:33] rbtcollins commented on #2611
We have had a bug about the proxies even *existing* as a problem for toolchain detection, so, shrug...

[2020-12-17 10:35] emilyalbini commented on #2612
For rustc/cargo we're cross-compiling from Windows x86_64.

[2020-12-17 11:32] kinnison commented on #2612
Cool, would you expect GH Actions to just work if I `rustup target install aarch64-pc-windows-msvc` and then `cargo build --target=aarch64-pc-windows-msvc` ?  If so I should be able to add the action pretty easily.

[2020-12-17 11:38] emilyalbini commented on #2612
I'm not sure exactly, I was not involved in setting that CI up. I guess trying won't hurt?

[2020-12-17 13:11] jyn514 commented on #2611
Hmm, I think I agree with @rbtcollins that installing the toolchain silently feels too magic. I would rather have this not work at all than silently install.

Really what I want is a diagnostic that suggests "use +1.33 instead".

[2020-12-17 14:09] 0xPoe commented on #2577
Can I work on this?

[2020-12-17 14:17] rbtcollins commented on #2611
@jyn514 I'm actually in favour of autoinstallation - if you explicitly say +1.33.0 on the command line, you're providing explicit instructions to the proxy to use that version, and refusing to install it is a bit obstinate. I think having a way to say 'actually bandwidth is expensive' or 'we're offline' or all those variant use cases would provide a means to opt-out for the cases where autoinstall

[2020-12-17 14:44] jyn514 commented on #2611
Hmm, that makes sense - the idea is to make this consistent with rust-toolchain and have a way to opt out of *both* auto install methods. I'd like that I think, I run into rust-toolchain issue a lot when triaging bugs and it tests a version that I didn't mean to test.

[2020-12-18 09:08] kinnison commented on #2611
Interestingly, if we complete and merge #2596 then we will end up with `cargo +1.33` invoking `1.33.0` if it's installed, but not the other way around, by "unique prefix" (though if you have `1.x.0` and `1.x.1` installed then `cargo +1.x` would complain the prefix was't unique.  Providing we're okay with the unique-prefix approach invoking what you have in conjunction with the narrowing resulting

[2020-12-18 09:09] kinnison commented on #2577
Sure, we'd be grateful for the help.  If you want to discuss this, then please find me on our discord channel, or you can ask here if you want.

[2020-12-18 09:13] #2552 closed, assigned to nobody

[2020-12-18 09:17] kinnison commented on #2612
Probably wouldn't hurt, no.  I'll see if I can knock up a PR to check

[2020-12-18 11:58] jeroen commented on #2413
I'm still seeing this:

[code]

Do I still need to enable the beta channel?

[2020-12-18 12:04] glandium commented on #2413
Yes, until 1.49.0 is released, which, if I'm not mistaken, should happen in 2 weeks (although considering that would be during the holidays, I don't know if the usual 6 weeks schedule is going to stand).

[2020-12-18 12:05] jeroen commented on #2413
OK so I need to pass the `--default-toolchain beta` flag. Do I also still need the aforementioned `RUSTUP_UPDATE_ROOT` or is this no longer needed with the latest rustup?

[2020-12-18 12:12] glandium commented on #2413
Latest rustup is native. You can use `sh <(curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs) --default-toolchain beta`, now.

[2020-12-19 09:55] kinnison commented on #2612
A brief test suggests this will be a significantly bigger job than thought.

Hyper doesn't support tokio 0.3 yet.  tokio 0.2 relies on mio 0.6 - mio 0.6 relies on winapi 0.2.

I believe the fixes for aarch64 didn't make it into winapi 0.2 so we'd need to fix hyper to work on tokio 0.3 (and redo our test suite with that, which is less hassle) in order to eliminate incompatible winapi deps.

[2020-12-19 09:57] kinnison commented on #2612
[code]

[2020-12-20 16:24] DJMcNab commented on #2511
For me, in the past I've used multiple windows users, all for myself. In this case, this was before I found the git includeIf config, so I needed to support multiple git identities, and multiple windows users was the best way for me. But in this configuration, I have rustup at `C:/Programs/Rustup`, which doesn't need administrator priveleges.

[2020-12-21 14:42] bishtpawan commented on #2271
Hi @SummerGram this is already present in the source code. Then why this issue is in an open state? Can you please provide me more details if anything left out?

Thanks

[2020-12-22 10:05] kinnison commented on #2612
When tokio 1.0 releases, hyper intends to do a release: https://github.com/hyperium/hyper/issues/2352 - In particular, https://github.com/hyperium/hyper/issues/2352#issuecomment-748382861 suggests that we should wait for Tokio 1.0 to come out, then hyper will be updated for that, then presumably reqwest, and finally we can update.  That might pave the way for this target.

[2020-12-22 10:08] #2263 closed, assigned to nobody

[2020-12-23 07:51] X-21 commented on #2523
I have a issue when install rust and I guess it's like this problem about proxy.

`$ curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh`
[code]

[code]
And I turn off the Ubuntu's system proxy, restart and the installation script would have successed.

#1328

[2020-12-23 08:45] kinnison commented on #2523
@X-21
If you're in a position to reproduce the issue, I'd appreciate it if you could.  If you copy your `rustup` binary as `rustup-init` then it will save you constantly redownloading the installer during tests.  For example if you do:

[code]

And then once it has failed as above, you can attach trace.log to a comment (do not paste it in, attach it please, it'll be quite big) and we can look to s

[2020-12-23 08:55] X-21 commented on #2523
#

Sure, I am pleasure to help that.
[code]
Then it was failed as expected and generated the trace.log which I attached.
[trace.log](https://github.com/rust-lang/rustup/files/5734208/trace.log)

[2020-12-23 09:05] kinnison commented on #2523
Okay, so from the looks of that trace, it connected to your proxy and sent the clienthello etc.  Your proxy then did not respond.  Are you sure the https proxy is actually working?  Could you also do the following for me to see how curl deals with things?

[code]

Then attach curltrace.log please?

[2020-12-23 09:13] X-21 commented on #2523
Yes I am sure the proxy is working. I can't visit some entertainment website without the proxy.
![1](https://user-images.githubusercontent.com/26213615/102980124-0771f900-4542-11eb-8888-6cc26de7190f.png)

And the curltrace.log:
[curltrace.log](https://github.com/rust-lang/rustup/files/5734284/curltrace.log)

[2020-12-23 09:32] kinnison commented on #2523
Okay, curl looks like it used HTTP not HTTPs to talk to the proxy on your system.  Fascinating.  If I set similar environment variables and run curl, it uses HTTPs to connect, not HTTP, same as rustup does.

On the other hand, wget interestingly uses HTTP by default when it tries to use a proxy.

Your curl is 7.47.0 whereas mine is 7.64.0.  I wonder if this is simply the case that older versions o

[2020-12-23 09:56] X-21 commented on #2523
I use proxy by ubuntu's Network proxy like that:
![32](https://user-images.githubusercontent.com/26213615/102982832-270b2080-4546-11eb-8318-c4ba35f63a7f.png)

so all request(http/https/socks5/ftp) will be transmitted to another machine in local network, and this machine will handle these request to a proxy software named shadowsocks what is a proxy work in Transport Layer.

I try curl https://www.

[2020-12-23 10:11] X-21 commented on #2523
and I capture it when download file from 'https://static.rust-lang.org/dist/channel-rust-stable.toml.sha256' :
![3232323180112](https://user-images.githubusercontent.com/26213615/102984673-e19c2280-4548-11eb-83f6-a432236893ae.png)
I guess the problem is casued by the Server Name of request for download file from static.rust-lang.org, which is doesn't indicate the destination domain.

curl google:

[2020-12-23 10:31] matthiaskrgr opened #2617 "rustup redownloads already installed toolchain"
I'm currently on rustc `nightly-x86_64-unknown-linux-gnu - Up to date : 1.50.0-nightly (bb1fbbf84 2020-12-22)`.

When I use a `rust-toolchain` file and specify `nightly` as a compiler, this works fine.
But when I pin the version to the current nightly in particular
[code]
rustup will redownload and reinstall that nightly although it is already installed.

rustup --version

[code]

rustup show
[cod

[2020-12-23 11:06] kinnison commented on #2523
The SNI is not relevant here, it's that we're doing SSL to the proxy, which the proxy is not responding to properly.

Is the machine `192.168.10.1` running shadowsocks itself?  If so, which version of the shadowsocks server?

[2020-12-23 11:11] kinnison commented on #2617
This is expected behaviour, rustup does not deduplicate toolchain installations because you could potentially encounter confusing behaviour if it did.

Consider if it worked the way you suggest it should:

day 1, `nightly-2020-12-14` and `nightly` are the same thing, you run a build in your project whose `rust-toolchain` states `nightly-2020-12-14` and it builds and runs.
day 2 you `rustup update

[2020-12-23 11:38] matthiaskrgr commented on #2617
But could rustup simply copy the files from one folder to another instead of downloading them from a server, in case of `stable`, `1.48.0` and `1.48` all being equal?

[2020-12-23 12:53] kinnison commented on #2617
In theory doing that for stable/numbered toolchains would be possible, however extending it to beta/nightly would be near impossible to do reliably since the channel names and the compiler versions don't line up and are not even guaranteed to be offset in the same way over time.  As such, rustup would be unable to know what the current `nightly` is in terms of `nightly-YYYY-MM-DD` thus it'd be una

[2020-12-23 16:04] chriskout opened #2618 "Rust not installing"
**Problem**
I am trying to install rust on a Linux environment (Kali 2020.4). When I run the install command an error appears. Weirdly enough I do get the rustup, cargo, and rustc bins but using the latter two commands does not work.

**Steps**
1. Run the Installer: ```curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh```
2. Get the error message:
---
    info: downloading installer

[2020-12-23 16:17] chriskout commented on #2618
Before anyone says to just use rustup to install a toolchain:

`rustup install nightly`:
---
info: syncing channel updates for 'nightly-x86_64-unknown-linux-gnu'
info: latest update on 2020-12-23, rust version 1.50.0-nightly (bb1fbbf84 2020-12-22)
info: downloading component 'cargo'
info: downloading component 'clippy'
error: component download failed for clippy-x86_64-unknown-linux-gnu
error: cau

[2020-12-23 20:05] Alovchin91 commented on #2612
It should already be possible to compile it by switching the backend from reqwest to curl. I managed to compile v1.22.1 some time ago. Didn't test it though as I'd prefer to do this kind of tests in a virtual machine and I don't run Insiders build, but maybe I'm just being too cautious 🤔

[2020-12-23 22:38] kinnison commented on #2612
Given that Tokio 1.0 came out today I'm more inclined to wait and then update as described above.

[2020-12-23 23:58] Alovchin91 commented on #2612
I'm not suggesting to completely switch to curl. What I'm saying is — it can already be used to test as there's probably more to it (e.g. I know for sure MSVC detection in Cargo doesn't work on Windows arm64).

[2020-12-24 01:12] X-21 commented on #2523
Yes I know it was doing SSL to proxy, but I think it should do SSL to static.rust-lang.org via shadowsocks.
Yes the machine in 192.168.10.1 is running shadowsocks and it's version is lastest - [https://github.com/shadowsocks/shadowsocks-windows/releases/tag/4.3.3.0](url)

[2020-12-24 08:17] kinnison commented on #2612
If you want to test it and submit patches for anything broken, then you can try building on/for aarch64 windows yourself.  However if you think Cargo is broken currently, then it seems counterproductive for me to fight to sort CI builds out for a platform I cannot test at all and that you think won't work anyway, rather than to work on other things.

If you want help setting up a build then I can

[2020-12-24 08:18] #2601 closed, assigned to kinnison

[2020-12-24 08:34] kinnison commented on #2523
I agree that it should do SSL to static.rust-lang.org.  It would achieve that by establishing the link to the proxy and then asking it to connect through to port 443 on static.rust-lang.org and then it'd establish SSL over that.  Having read through shadowsocks' code, it uses privoxy as its underlying http proxy.  Having been through privoxy's source code it has no SSL capability at all.  Given th

[2020-12-24 08:58] Alovchin91 commented on #2612
Umm... Let me try to explain.

First of all, I never fought for anything. You're totally right that there is no reason to sort out CI builds if it doesn't build in the default configuration. But I never even mentioned CI, so please don't put words into my mouth.

Second, and most important, I just pointed out the fact that it can be done. I did build it but didn't test it because I was too cautiou

[2020-12-24 09:00] pJunger commented on #2523
I also added a strace log from running `rustup self update` for my configuration: [rustup-trace-update.log](https://github.com/rust-lang/rustup/files/5738892/rustup-trace-update.log)

[2020-12-24 09:26] X-21 commented on #2523
Thanks, it is a socks5 proxy as you said. So I change the  https_proxy to 'http://192.168.10.1:10899' make rustup and other commands working. I also have the confusion why rustup can't work but others can.
I only set socks slot and http slot initially, but some commands like
`curl https://www.google.com/ -o 1.html`
would not be working and
`curl http://www.google.com/ -o 1.html`
is ok.
So I set ht

[2020-12-24 14:29] 0xPoe commented on #2576
@kinnison  Can I working on this?

[2020-12-24 19:02] Piping commented on #2523
I can confirm the behavior and right fix for `rustup` 1.23.1.

The fix is to change `https_proxy` environment variable  to use `http://proxy_version_url`.

Then rustup is able talk to static.rust-lang.org.

Is it a bug that rustup does not use `https://proxy_url` correctly?

[2020-12-26 07:47] rbtcollins commented on #2575
Does show active-toolchain install the toolchain today? I have cognitive friction around the idea that 'show' installs things. *Other* than that, this all sounds good.

[2020-12-26 18:10] jyn514 opened #2621 "Provide help if user attempts to install `1.0` through `1.8` since those need `1.0.0` through `1.8.0`"
**Problem**

`rustup install 1.0` should install 1.0.0, the same way that `rustup install 1.48` installs 1.48.0. Instead it gives an error.

**Steps**

1. `rustup install 1.0`

[code]

This looks like a problem on T-infra's side? But I'm not sure what's going wrong, so I'm dumping it on you instead :P

**Notes**

Output of `rustup --version`: rustup 1.23.1 (3df2264a9 2020-11-30)

[2020-12-28 10:59] kinnison commented on #2621
This is not rustup's fault.  We've not generated 1.x manifest links for toolchains before manifest version 2 came out.  If we were to do this, it would require retrogenerating v2 manifests for the older toolchains which while possible (and possibly desirable) would be rewriting history to some extent.

Either way this isn't rustup's problem.  I'll leave this open for now until someone involved in

[2020-12-28 11:07] kinnison commented on #2612
I apologise for the delay responding, and also for how my previous comment came across.  The 'fighting' was about *me* and CI, since the only way I have to test builds is to push them and wait for Windows CI to run on Github, and was not intended to suggest you were in any sense being combative about this.

As for 'cargo being broken', perhaps I misinterpreted what you said about Cargo and MSVC de

[2020-12-28 11:13] kinnison commented on #2523
No, this is a bug that your proxy doesn't support https:// proxy urls properly, and you've not encountered it otherwise because your OS is running old enough versions of curl that *it* doesn't support them properly either.  Is there a chance you can unset the https proxy variable?  Most things will then fall back to the all proxy anyway, which should be set to an http:// url which will then work.

[2020-12-28 14:04] emilyalbini commented on #2621
How hard would it be to just hardcode that there were no point releases for manifest v1 releases?

[2020-12-28 14:18] kinnison commented on #2621
rustup doesn't know for sure which releases are v1 or v2, it just tries v2 and falls back to v1 if it can't find it.  I suppose it could then try falling back to a v1 without the point release, but that starts to feel icky IMO.

[2020-12-28 14:32] kinnison commented on #2576
Sure you're welcome to work on it.  Do you want to start by reading through how settings are passed around in the Cfg code, and then write a comment here with how you suggest you'll fix this?

[2020-12-28 14:35] kinnison opened #2623 "Need to detect both `source` and `.` when installing and uninstalling rustup."
In  #2616 we changed from `source` to `.` in order to be more compatible with non-bash shells.  We should probably use `source` for bash and `.` for POSIX sh if we can separate the two, or else just use `.` but detect both kinds so that we don't end up with double invocations and/or failing to remove an invocation on uninstallation as per https://github.com/rust-lang/rustup/pull/2616#issuecomment-

[2020-12-28 14:36] 0xPoe commented on #2576
I will write my thoughts here after I read the code and go back to the code after you give your comments.

[2020-12-28 14:38] kinnison commented on #2575
@rbtcollins Yep if there's a `rust-toolchain` file then `rustup show active-toolchain` will install that in order to be able to show it.

[2020-12-28 15:55] #2577 closed, assigned to nobody

[2020-12-29 14:41] emccreigh opened #2624 "Missing std lib HTML docs - architecture stable-aarch64-unknown-linux-gnu"
**Problem**
Exactly as reported in issue 2494, but for a different architecture.  On a Raspberry Pi 4B running the new-ish 64-bit Raspberry Pi OS, the command

  rustup docs

yields

  error: couldn't open browser
  error: caused by: command 'xdg-open (internal)' did not execute successfully; exit code: 2
  command stderr:
  xdg-open: file '/home/pi/.rustup/toolchains/stable-aarch64-unknown-linux-

[2020-12-29 17:57] kinnison commented on #2624
Can you confirm that the documentation component is installed?  (`rustup component list | grep rust-docs`)  If it is installed and the documentation is not present then it's likely an infrastructure related problem.  If it is not installed, then please install the `rust-docs` component (`rustup component add rust-docs`) and try again.

[2020-12-29 19:23] emccreigh commented on #2624
The documentation component is apparently not installed.  But when I give the command

  rustup component add rust-docs

I get the reply

error: toolchain 'stable-aarch64-unknown-linux-gnu' does not contain component 'rust-docs' for target 'aarch64-unknown-linux-gnu'; did you mean 'rustc-docs'?

... and I get a similar reply with the 32-bit version of Raspbian as well.

[2020-12-29 21:27] kinnison commented on #2624
That suggests that the docs are not building for that target for some reason.  @pietroalbini Given aarch64 linux is supposed to be tier one is this something which needs raising further?

[2020-12-30 10:39] emilyalbini commented on #2624
Documentation for `aarch64-unknown-linux-gnu` will be available from Rust 1.49.0 onwards, which is scheduled to be released tomorrow! 32-bit documentation will not be available, as we only produce it for Tier 1 targets.

[2020-12-30 16:33] kinnison commented on #2624
Thank you Pietro.

I'm going to close this issue then.

[2020-12-30 16:33] #2624 closed, assigned to nobody

[2020-12-31 10:01] Alovchin91 commented on #2612
Thank you for your response! We were all tired and stressed for the last few weeks I think. Hopefully we now have some time to recharge our batteries 🙂

For rustup, I think I could suggest the following plan:

1. I could still build rustup with curl locally and test it on my Windows arm64 machine (Surface Pro X). Since it's an installer, I expect there might be some issues with paths if for any re

[2020-12-31 10:31] kinnison commented on #2612
Thank you for being prepared to help with this.  I agree that step one is to see if you can get a build up and running at all.

In point 1 you talk about issues for program files and registry, what in particular differs for aarch64 windows here?  AIUI we use the user's home directory for the most part, but we do adjust the PATH environment variable (don't know if that touches the registry?)

In po

[2020-12-31 14:25] #2279 closed, assigned to nobody

[2021-01-01 17:42] matthiaskrgr opened #2626 "improve rustc wrapper startup time?"
`time  ~/.rustup/toolchains/master/bin/rustc  >& /dev/null`
`0,040 total`

`time  ~/.cargo/bin/rustc  >& /dev/null`
`0,272 total`

That's almost 7x slower.
I wonder if there is some something we can do to get these numbers a bit closer?

[2021-01-01 19:32] jyn514 commented on #2626
@matthiaskrgr this is about the rustup wrapper, not the x.py rustc shim, right? If so I think this should be moved to https://github.com/rust-lang/rustup/.

[2021-01-01 19:34] matthiaskrgr commented on #2626
Ah, ~/.cargo/bin/rustc is rustup? Yes, the issue should be moved then. :)

[2021-01-01 19:52] kinnison commented on #2626
I can confirm that the difference in performance is around 6x:

[code]

[2021-01-01 20:52] kinnison commented on #2626
Looking locally, ca. 15ms are before main() is entered (presumably due to dynamic link time for all the libraries rustup uses by dint of being linked to curl).

It looks like about 25ms is taken parsing manifest files, sadly this is also done twice, and thus accounts for the vast majority of the extra time.  The toml parser must be quite inefficient.

It might be possible to knock one of those par

[2021-01-01 22:12] rbtcollins commented on #2626
To help triage this, how much does this contribute to typical build times? like, - sure we can put a chunk of time into making this snappy, and that would be good, but if a typical build is 1500ms ... ?

[2021-01-01 22:22] jyn514 commented on #2626
@rbtcollins I wouldn't notice so much on builds, but this hurts things like `rustc --explain E0111` or `rustc --help`.

[code]

[2021-01-01 22:24] matthiaskrgr commented on #2626
to addd to the list:
[code]

[2021-01-02 10:32] kinnison commented on #2626
@matthiaskrgr

Comparing with C compilers is disingenuous since the number of rustc invocations for a similarly sized codebase will be many fewer.  For example, rustup is around 130 .rs files, but including its dependencies the total rustc invocations is only 320 or so.  If we assume a wasted 35ms (the repeated manifest parse) of CPU time on my computer per rustc invocation and we generously assum

[2021-01-02 10:49] kinnison commented on #2626
Further investigation yields:

The majority of the time spent parsing the manifest is in the toml load itself, i.e. before we apply any semantic understanding to the manifest. The channel is around 700k and will only get larger over time.  Another possible improvement to do would be to trim out anything not relevant to the toolchain being installed when fetching the manifest.  That ought not to be

[2021-01-02 12:41] kinnison commented on #2626
I wrote a simple trimmer for the manifests to reduce the toml quantity in installed toolchains.  Doing that results in the following (stable is untrimmed, beta is trimmed):

[code]

(for reference, directly invoking rustc (stable or beta) without rustup in the way is ca. 11ms.

[2021-01-02 12:43] kinnison commented on #2626
@matthiaskrgr Assuming #2627 goes CI-green, you might want to try the binary from there and see how it affects performance for you.

[2021-01-02 14:37] jyn514 commented on #2626
Well, I somewhat disagree: https://danluu.com/keyboard-latency/#humans-can-t-notice-100ms-or-200ms-latency. But the numbers after your change are a *lot* better :)

[2021-01-02 16:15] matthiaskrgr commented on #2626
Well, I made a small ICE-finder that runs rustc on all the files inside the rustc repo.
Luckily, I chose the master toolchain (I use a direct path to the master rustc) instead of using generic `rustc` already

Using `rustc` it would take at least 1.5 hours to only start rustc that many times (20K files)
With the direct path (skipping rustup wrapping), that's only 13 minutes..

[2021-01-02 16:22] rbtcollins commented on #2626
Running it serially, individually? Not terribly surprising.

I'm totally fine with rustup being faster, but development of rust itself isn't our primary use case: shipping rust toolchains to our users is, and running rustc in such a non idiomatic fashion is very much a specialised, developer of rust, need.

To me that says, if someone wants to make this faster, great, but we're unlikely to steer f

[2021-01-02 16:28] rbtcollins commented on #2626
If folk are running error explains in their game update loops - the context of that blog post - we have a whole new set of requirements to feed into rustup design.

Fast is good, and it is a feature.

But language servers and dev environments can avoid making the user wait for the invocation of the compiler in various ways; and should simply because remote dev environments pay latency in many ways

[2021-01-02 18:41] kinnison commented on #2626
When I was playing with my dodgy PR above, I ran into the fact that `rustc-dev` appears to be present in all toolchains in all targets, like `rust-std` is.  @Mark-Simulacrum is going to have a look at why this might be, since regardless of whether or not we end up merging this "optimisation" we could do with knowing why `rustc-dev` is like this.

[2021-01-05 03:05] vietvudanh commented on #1712
This works for me behind a corporate proxy.

Also I would love these commands have option like --verbose or similar to show what's wrong. The current error with no stacktrace is too general to find out what exactly the problem.

[2021-01-05 20:22] Alovchin91 commented on #2612
I can't tell yet, I will need to check on that. Windows arm64 has 2 WoW subsystems (ARM32 on ARM64 and x86 on ARM64) so there might be some redirection when working with registry if this is how the PATH variable is changed. But for now this is just from the top of my head 🙂

[2021-01-05 20:23] Alovchin91 commented on #2612
reqwest v0.14 has been released today: https://github.com/seanmonstar/reqwest/releases/tag/v0.11.0

Unfortunately, rustls feature does not compile on Windows arm64: https://github.com/briansmith/ring/issues/1167

Hope that this can be resolved without much trouble.

[2021-01-05 21:09] kinnison commented on #2612
Sounds like progress is being made indeed.  I will probably get a chance to work on updating rustup to the tokio 1.0 ecosystem at the weekend.

Thanks for keeping an eye out.

[2021-01-06 01:43] wisonye opened #2629 "error: 'sysinfo not supported on this platform' in FreeBSD"
**Problem**

Hi there, there is some problems when installing and running `Rust` in `FreeBSD`.
I've already tried that on my son's laptop.

When installing `rust` via the command show in official website:

[code]

It prints out many `error: 'sysinfo not supported on this platform' in FreeBSD`. When I add some components, it also show that error like below:

![screenshot-2021-01-06_12:58:20](https:

[2021-01-06 01:47] ForsakenHarmony commented on #2292
I'm also running into this issue, fish from cygwin embedded in clion

The PR #2469 does not change the behaviour because in this case no env variable gets set

[2021-01-06 08:24] kinnison commented on #2629
We use `effective-limits` which is currently on `sys-info` version 0.6.  I think 0.7 introduces FreeBSD support.  @rbtcollins what would be involved in updating `effective-limits` ?

[2021-01-06 08:42] rbtcollins commented on #2629
get an update PR for effective-limits that passes CI

[2021-01-06 10:30] aloucks commented on #2292
I think running `rustup` with `winpty` will also fix the issue.

[2021-01-06 16:08] nabijaczleweli opened #2630 "Build fails if only curl-backend feature is on"
**Problem**
[code]
**Steps**
1. Be at 3cca9ff11dd4ea31f2611c03cb5861baa1a13a9c
2. `cargo build --release --no-default-features --features curl-backend`

**Possible Solution(s)**
Removing the `tls` argument worked, but I'm assuming it's somewhat important, so.

**Notes**

Output of `rustup --version`: `rustup 1.23.1 (3df2264a9 2020-11-30)`
Output of `rustup show`:
[code]

[2021-01-08 22:59] cuviper opened #2632 ""File too big" on s390x"
**Problem**
On `s390x-unknown-linux-gnu`, I saw an error while installing:

[code]

It *seems* to work fine anyway.

**Steps**

1. Normal install on s390x: `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

**Possible Solution(s)**
Increase `MAX_FILE_SIZE`? It seems #2363 was the most recent time...

**Notes**

Output of `rustup --version`:
[code]

Output of `rustup show`:
[code]

E

[2021-01-09 05:30] wisonye commented on #2629
@rbtcollins Any update? :)

[2021-01-09 07:17] rbtcollins commented on #2629
I'm not working on this

[2021-01-09 09:57] kinnison commented on #2630
Thank you for this report, I have filed #2633 and will merge it assuming it goes CI-green.

[2021-01-09 10:03] kinnison commented on #2632
As you noted, it worked anyway.  In 1.23 we changed it from a rejection of "too large" files, to simply reporting them, but trying anyway.  It worries me that we're reaching above 220 megabytes for the compiler driver file, but I suppose it's not a specific problem.

I'd suggest we should change the message so it's a warning, and warns that there's a very large file which *may* cause problems, rat

[2021-01-09 10:40] #2630 closed, assigned to nobody

[2021-01-09 10:43] kinnison commented on #2629
I have filed https://github.com/rbtcollins/effective-limits.rs/pull/13 which, if it turns out okay will permit a future release of effective-limits to include freebsd support.

[2021-01-09 11:23] kinnison commented on #2590
I'm not able to reproduce this, which is also odd.  Are you able to investigate at all @Vbbab ?

[2021-01-09 12:17] kinnison commented on #2612
@Alovchin91 I've prepared a PR which updates us to Tokio 1.0 which I believe solves at least some of the winapi problems.

[2021-01-09 22:12] Vbbab commented on #2590
Hmm, I could try, but I'm not really familiar with Rust, sorry...

Perhaps someone else with Windows and experience with Rust?

[2021-01-10 15:25] Alovchin91 commented on #2612
@kinnison Great, thanks!

I didn't try to compile it yet but given that I couldn't compile reqwest with the same feature flags because of ring dependency, I don't expect it to compile just yet. We'll probably have to wait for @briansmith to either figure out ASM support on Windows arm64, or to merge a non-ASM version 🙂

I've been too slow to make a PR in sys-info crate so its master already suppor

[2021-01-11 06:47] wisonye commented on #2629
👍  Thanks for doing that, and I take that as a solved answer, feel free to close this issue if needed.

[2021-01-11 08:44] kinnison commented on #2629
I think that this issue shouldn't be closed until the effective-limits release is done *and* we've updated rustup to use the new version.

[2021-01-11 10:43] roxennnn opened #2636 "rcfiles: We need to cope correctly when the rcfile does not have a newline at the end and we need to append the source command."
I am totally new to Rust and I wanted to install it. I followed the installation guide on the [website](https://www.rust-lang.org/learn/get-started). I use Linux Mint, thus I ran the following in a terminal:

[code]
After this, when I open a new terminal, the ``bash: export: `/home/user/.cargo/env': not a valid identifier`` message appears on top of the terminal.

I figured out it is due to the fo

[2021-01-11 11:32] chansuke commented on #2590
I have a WIndows machine and would like to try to reproduce the error tomorrow.

[2021-01-11 11:34] tesuji commented on #2636
@roxennnn what is your .bashrc content before installing with rustup ?
In specific, do you have any `export PATH` line in .bashrc and what is it ?

Can someone move this to rustup repository ?

[2021-01-11 12:32] ghost commented on #2636
That seems wrong. I believe it should be:
[code]

[2021-01-11 13:30] roxennnn commented on #2636
@lzutao No, I didn't have any `export PATH` in the `.bashrc` file before the installation.

What is the difference? The wrong one seemed to work fine.

[2021-01-11 13:42] ghost commented on #2636
The wrong one append `$HOME/.local/binsource` and `$HOME/.cargo/env` to `PATH`. `$HOME/.cargo/env` is not a directory but a script, so I think it should be `source`d instead.

I don't know why the wrong one worked fine. Maybe `cargo` or `rustc` (or other commands you were trying) was already in your old `PATH`. Note that the wrong one is valid bash syntax so bash wouldn't complain.

[2021-01-11 14:18] nagisa commented on #2636
Sounds like the the initial `.bashrc` didn't have a trailing newline?

@ehuss maybe?

[2021-01-11 14:52] ehuss commented on #2636
Sorry, I don't have permission to transfer to that repo.

I know there have been several PRs related to this recently (https://github.com/rust-lang/rustup/pull/2616 https://github.com/rust-lang/rustup/pull/2634).

@roxennnn Would you mind closing this and reopening it at https://github.com/rust-lang/rustup/issues/?

[2021-01-11 15:03] tesuji commented on #2636
maybe @pietroalbini could make it ?

[2021-01-11 15:12] emilyalbini commented on #2636
Transferred the issue!

[2021-01-11 15:34] kinnison commented on #2636
Thank you Pietro.  It looks like @roxennnn  had a `.bashrc` whose last line lacked a newline at the end.

I think it's definitely a bug that we don't cope gracefully with this and so I'll add this to the 1.24.0 milestone to fix.

[2021-01-11 20:26] cuviper commented on #2632
The problem with an "error" is that I wasn't sure what happened. It *seemed* to work, but I had no idea what the consequences really were. I was trying to debug a regression on that target, so this raised extra doubt whether I had a working toolchain at all.

FWIW, a big part of that file is static LLVM, which may be dynamically linked on other targets.

To be honest, while it does seem like a use

[2021-01-12 08:24] kinnison commented on #2632
Unpacking is (currently) done by allocating enough RAM to unpack the file from the compressed tarball into RAM, and then to write it to disk in a thread.  This permits interleaving of IOs which massively improves unpacking speed on many platforms.  Unfortunately it means that severely RAM limited targets can, without the large-file check, end up OOMd which Rust's default allocator does not handle

[2021-01-12 11:59] rbtcollins commented on #2632
Concrete problems:
- low memory platforms (e.g. rPi) may fail to install this at all
- users with ulimits set will fail to install: https://discord.com/channels/442252698964721669/463480252723888159/790662376075952180
- multiuser machines with ulimits can also run into issues

Users can fix some of these themselves of course.

Longer term we'll introduce a parallel writing chunked IO driver (io_ur

[2021-01-12 18:41] cuviper commented on #2632
A safer slow path sounds like the right call, so the fast path doesn't have to force limitations.
I definitely sympathize with maintainer time pressure though.

[2021-01-12 18:51] rbtcollins commented on #2632
We have such a safe path, see RUSTUP_IO_THREADS  and RUSTUP_UNPACK_RAM  in the config docs - https://rust-lang.github.io/rustup/environment-variables.html

[2021-01-12 18:56] Mark-Simulacrum commented on #2632
I think setting a limit during Rust's CI might be complicated, since we no longer package gzip'd tarballs in CI, recompressing at a later point - I think modern rustup is probably always using the xz tarballs though so for that purpose it may not matter. If just xz file size limits make things better I think that would be relatively easy to add.

Would adding such a check allow us to ensure end us

[2021-01-12 18:58] cuviper commented on #2632
@rbtcollins those are just knobs controlling the current behavior, right? I see a slow path as more of an automatic fallback, so you can zip along in the happy fast path for most of the process, but switch to slower streaming when a large file is encountered.

[2021-01-12 19:26] rbtcollins commented on #2632
Ah, no, the streaming implementation we have designed won't be slower, it will just be more memory efficient. I've made some headway on implementing it, but I get a few hours a month to hack on rustup, so its going to be another while it comes together.

[2021-01-12 19:42] kinnison commented on #2590
If you can reliably reproduce this then we stand a chance of diagnosing it, yes please @chansuke

[2021-01-12 20:00] kinnison commented on #2612
Fantastic news, we edge closer :D

[2021-01-13 03:21] mcandre commented on #912
Possible to turn off the checksum requirement? I realize that is difficult
to do, but for such a transient artifact it would be nice to automatically
follow upstream changes, rather than waiting for humans to manually catch
up every day.

On Tue, Jul 21, 2020, 9:39 PM Sergei Vorobev <notifications@github.com>
wrote:

[2021-01-14 06:50] etcusrvar commented on #924
I also have had the same issues over VPN for quite a while. I've worked around it by setting `https_proxy`. Same issue and workaround for cargo

[2021-01-14 09:45] Kixunil commented on #2070
Could this be at least documented more visibly? Just got quite confused by this issue and initially didn't notice that toolchain can be installed using `rustup show`.

[2021-01-14 09:56] kinnison opened #2639 "Document autoinstallation behaviour on overrides page of docs"
In some cases it can confuse a small but not insignificant number of people that the override files can cause autoinstallation of toolchains, and in other cases people are not sure *what* command to use to trigger this activity best.

We should document the autoinstallation behaviour as part of https://rust-lang.github.io/rustup/overrides.html and we should make recommendations about the "best" wa

[2021-01-14 09:56] kinnison commented on #2070
@Kixunil I have filed #2639 to that effect.

[2021-01-14 10:06] Kixunil commented on #2070
Thanks!

[2021-01-14 23:38] Freaky commented on #2629
@wisonye Your cargo-watch delays are due to the notify crate using a fallback polling-based approach, basically running a walkdir every few seconds (https://github.com/notify-rs/notify/issues/273).

I had a standalone [proof-of-concept directory watcher using kqueue](https://github.com/Freaky/keventdir-rs), but didn't take it very far.

[2021-01-15 01:59] wisonye commented on #2629
Wow, thanks for the point out.  The `cargo-watch` is a very handy tool for me, basically, open rust in `vim` and the `cargo-watch` at the same time. I'm lucky not happen on Arch and MacOS which it's my OS, the `FreeBSD` just my boy's study choice, but still hope that will happen one day 👍

[2021-01-19 05:15] imeredith opened #2640 "i686-pc-windows-gnu target cant find mingw?"
**Describe the problem you are trying to solve**

I'm trying to build a 32bit program on windows using stable-gnu toolchain and i686-pc-windows-gnu as the target, and got `linker i686-w64-mingw32-gcc not found`. After some digging I only see mingw installed for the 64bit target.

**Describe the solution you'd like**

Either the i686-pc-windows-gnu target should bundle mingw or some documentation a

[2021-01-19 17:06] rbtcollins commented on #2640
You should almost certainly use msvc i686 target then, as the gnu toolchain
is the non-standard one in the Windows ecosystem, not the MSVC toolchain.
Unless its a gnu built .dll of course.

rustup doesn't install the C linker and runtime though (at least currently)
- thats up to you; so if you install it, you should be fine.

[2021-01-19 20:46] imeredith commented on #2640
Hmm I see, I'll open an issue on winapi and maybe they can help out with why im getting issues when compiling i686 then

[2021-01-19 20:46] #2640 closed, assigned to nobody

[2021-01-21 16:40] jer-irl opened #2642 "Regression of rustup doc BROWSER environment variable support in #1287"
**Problem**

Bug #1287 and PR #1289 added support for the `BROWSER` environment variable to allow overrides to the XDG default browser when running `rustup doc`.

**Steps**

1. `BROWSER=$(some-non-default) rustup doc`
2. Documentation opened in XDG default browser

**Possible Solution(s)**

It looks to me like this feature was reverted with the move to `opener` in this commit e661fc61a3b49a985501d

[2021-01-21 18:07] kinnison commented on #2642
While I concur that this is a regression, I wonder if the right answer is to push the handling of `BROWSER` into the `opener` crate, rather than duplicating logic between here and Cargo.

 @Seeker14491 how would you feel about `BROWSER` environment variable handling being pushed into `opener` as per the linked approach in Cargo?

[2021-01-22 16:04] jplatte opened #2643 "Can't install versions <1.8 with two-part version number"
**Problem**

I recently tried to `rustup toolchain install 1.0` since I wanted to know whether a particular behaviour¹ was already present with the first stable release of Rust. However, toolchain installation failed:

[code]

It seems that the same thing happens for all versions <1.8.

¹ https://github.com/rust-lang/rust/issues/78700#issuecomment-762915890

**Steps**
1.`rustup toolchain install 1

[2021-01-22 16:09] kinnison commented on #2643
This is effectively a dupe of #2621

[2021-01-22 16:17] jplatte commented on #2643
Sorry, I was looking for the term "two-part version number" (what the changelog calls this feature) in existing issues and PRs and didn't find anything, the PR that updated the changelog also had no further links.

[2021-01-22 16:17] #2643 closed, assigned to nobody

[2021-01-22 16:24] kinnison commented on #2643
Quite alright, I can appreciate it's not always easy to work out what issue might be related :D

[2021-01-22 23:18] iranvir commented on #2213
I am trying to create a "No GNU" Rust toolchain stack on Alpine Linux. Any chance I can use compiler-rt from the llvm project in libgcc's stead?

[2021-01-23 05:29] 12101111 commented on #2213
This issue is about `libgcc_s` which provide the same functions of llvm's `libunwind`.

Functions of `libgcc` is provided by https://github.com/rust-lang/compiler-builtins/

[2021-01-24 18:00] Gnosnay opened #2644 "[Usage problem] How to download the source code of external deps of rust std"
Hey there, thanks a lot for reading this issue.
I am one novice of rust. When I learn the rust, I found one problem that I can not navigate into the external deps of rust std code.

## what is the problem

for example, I wanna know how `Hashmap` implemented. So I use Clion to read the source code std lib. And I found the std relies on the external dep called `hashbrown`, which I couldn't navigate

[2021-01-24 21:09] ehuss commented on #2644
The source for dependencies is not available.  We attempted to add them to the rust-src component in https://github.com/rust-lang/rust/pull/78790, but it had to be reverted due to some issues it caused.  You can follow issue https://github.com/rust-lang/wg-cargo-std-aware/issues/23 for tracking adding it back.

[2021-01-25 01:19] chansuke commented on #2590
I tried to reproduce the error (`rustup 1.23.1 (3df2264a9 2020-11-30`)) but couldn't succeed...

[2021-01-25 06:42] Vbbab commented on #2590
An update: There's some error message on my end now. _Very_ rare chance of this actually occurring.

The regular way is by hitting ctrl-c **as soon as** you arrive at the _initial_ prompt, at which point a red `^C` would display and leave your shell red.

I do believe so. Take a look:
![image](https://user-images.githubusercontent.com/44555590/105670118-5e4a5580-5e95-11eb-96e1-9334a3c7c89a.png)

[2021-01-25 06:42] Vbbab commented on #2590
Another screenshot of repro:
![image](https://user-images.githubusercontent.com/44555590/105670213-7fab4180-5e95-11eb-8401-a14790275482.png)

[2021-01-25 12:51] yikerman opened #2645 "Error while trying to cross-compiling in GitHub Action's VM."
**Problem**

I am trying to cross-compile the [Shadowsocks](https://github.com/shadowsocks/shadowsocks-rust) in both targets `x86_64-apple-darwin` and `aarch64-apple-darwin` in a GitHub Action. The workflow file can be found [here](https://github.com/xiaoyu2006/ss-buildbot/blob/d3502101b018da1133315c2e90f8c62cbc2dd4a2/.github/workflows/nightly.yml). It builds on my local machine, but [fails](https

[2021-01-25 13:43] toothbrush7777777 commented on #2590
I think it was easier to reproduce with certain anti-viruses. I can't remember which but I think McAfee was one.

[2021-01-25 15:31] ehuss commented on #2645
Per the output:

[code]

It is installing the target for the stable toolchain.  But then it cd's into `shadowsocks-rust` to run the build which has a `rust-toolchain` which builds it for nightly.

You'll need to install the targets for the appropriate nightly release.

Also, FYI, installing rustup shouldn't be necessary, since it is installed in GHA already.  It is also updating the stable toolcha

[2021-01-26 02:31] Seeker14491 commented on #2642
Having the `BROWSER` override implemented in `opener` is planned for the next release and is already implemented in the [`v0.5-dev`](https://github.com/Seeker14491/opener/tree/v0.5-dev) branch.

[2021-01-26 12:38] yikerman commented on #2645
Gotcha. Thanks.

[2021-01-26 12:38] #2645 closed, assigned to nobody

[2021-01-27 00:49] chansuke commented on #2590
@toothbrush7777777 Ah...thank you for the detailed information!! I will take a look again.

[2021-01-27 08:33] kinnison commented on #2642
@Seeker14491 That's fantastic news.  Do you have a timeline on releasing that?

[2021-01-29 02:55] xinbin1122 commented on #2553
I have the same problem.

[2021-01-31 13:14] skade opened #2646 "Reported issue with rustup on Ubuntu 20.04, disabling configurations"
**Problem**
We got a report over at https://github.com/rust-lang/www.rust-lang.org/issues/1423 for what seems to be a rustup behaviour where rustup configuration disables other configs on Ubuntu 20.04

I'm a little hesitant to copy it over here, as I'm not quite sure which parts of the text are relevant.
I think it's more effective if someone more acquainted with rustup/ubuntu took lead here.

[2021-01-31 14:18] douglaslwatts commented on #2646
Here are the relevant parts of the initial bug report I made:

I installed Rust using the script acquired from the curl command recommended on your website: https://www.rust-lang.org/tools/install . As soon as I logged out and back in, ALL of my custom settings, keyboard shortcuts were completely gone and gnome-shell-extensions turned off ...literally every single setting I have ever changed on my

[2021-01-31 16:11] cztomsik commented on #2564
Happens to me too, it worked fine before (1 year ago for sure), for what exactly does rustup needs so much memory?

[2021-01-31 16:33] rbtcollins commented on #2564
Try exporting RUSTUP_IO_THREADS=1 before running rustup.

The underlying problem is that rust has some very large files (single files > 200MB), and we need to untar the file and write it to disk, but because of interactions with other system constraints like Windows Defender and NFS servers we've settled on concurrent file writing across the board (it took several evolutions to get here, even thou

[2021-01-31 17:10] rbtcollins commented on #2646
I'm afraid it is going to be very hard to diagnose this. rustup does write to files in `~` naturally, but without seeing the faulting files we can only speculated and go and look hard at our code  / run fuzz experiments etc. And we sortof have a natural laboratory in all the users such as yourself using it - but this is the first report of this kind, and until we have a second we're probably going

[2021-01-31 17:16] douglaslwatts commented on #2646
considering that I keep snapshots and it is easy to restore from them, if I were willing to attempt to reproduce the issue on my laptop, which is set up almost identically to my desktop and has "similar" hardware, what would I need to do provide you to assist in tracking down the problem? I don't use my laptop very much as I much prefer my desktop.

[2021-01-31 18:24] douglaslwatts commented on #2646
I could also just try to reproduce the issue on the same machine, my desktop, since I can restore in less than a minute with rsync anyway.

[2021-01-31 20:02] douglaslwatts commented on #2646
I planned to reproduce the issue, rsync ~ to somewhere, use rsync to restore ~ from my snapshot, but have it be verbose and redirect the output to a file, and then provide you with that file along with the files that were changed in the restore. Unfortunately, the issue was not reproduced on my laptop and the installation script worked perfectly. I tried reproducing it on my desktop, the original

[2021-01-31 20:15] rbtcollins commented on #2646
You're welcome. I'm going to close this ticket at this point - the long tail being what it is; if it turns up again, we'll have another data point, but an open aging one-in-a-million bug isn't helpful to anyone.

[2021-01-31 20:15] #2646 closed, assigned to nobody

[2021-02-02 03:09] Khobalt commented on #1340
I've run into this as well. Please tell me someone has logged this bug or found a solution other than reinstalling macOS.

[2021-02-02 03:12] sunshowers opened #2647 "non-workspace dependency rust-toolchain files may be used in some cases, causing Cargo/rustc version mismatches"
**Problem**
It looks like rustup's toolchain wrappers may pick up rust-toolchain files published by third-party dependencies in some situations. Specifically, this may happen if rustup's Cargo wrapper is bypassed but the rustc wrapper is used.

I originally ran into this with `env_logger 0.8.2`, which publishes [a `rust-toolchain` file](https://docs.rs/crate/env_logger/0.8.2/source/rust-toolchain)

[2021-02-02 03:21] Khobalt commented on #1340
I just renamed ~/.rustup to something else and then I was good to go.

[2021-02-02 09:02] kinnison commented on #2553
What's odd is that seeing this error implies that `mktemp -d` failed for you.  The 'bad' template has been present in `rustup-init.sh` since 2016 it seems.  It *is* nominally a bug though so I'm reopening this.

The line in question is https://github.com/rust-lang/rustup/blob/master/rustup-init.sh#L75 and it should be pretty simple to add a `-XXXX` or similar on the end of the template string.

[2021-02-02 15:25] ehuss commented on #2647
Can you explain why cargo is being run with `eval`?  That circumvents rustup's normal mechanism for "locking" the toolchain to whatever is defined in the workspace, which allows this to happen.

[2021-02-03 03:00] sunshowers commented on #2647
Heh, so we were doing it because we want to run a nightly version of Cargo (for the v2 resolver) against a stable rustc :) the versions of both are locked.

But in https://github.com/env-logger-rs/env_logger/issues/190 there are a number of other reports about an issue which seems to be similar (at least this is the most likely explanation).

[2021-02-03 09:28] cztomsik commented on #2564
It helped a bit, it failed first time but after restart it probably fit into memory and got through.

Oh, I had no idea, I thought the install process just downloads binaries and untars them somewhere (with system tar if possible). Ok, thanks a lot.

BTW: could you outline the work needed for handling big files on devices with limited memory?

[2021-02-03 21:06] ehuss commented on #2647
Ah. I think the only option is to set the `RUSTUP_TOOLCHAIN` environment variable before launching cargo. That is how the toolchain becomes "sticky" once it is chosen by one of the overrides.  Rustup doesn't know anything about dependencies or cargo, and if you circumvent the initial wrapper, there is no information for it to know how to handle that differently.

[2021-02-03 21:19] sunshowers commented on #2647
That makes sense.

Do you think there's any point in trying to prevent `rust-toolchain` files from being read in third-party dependencies at all? Or maybe prevent that file from being published on crates.io? Not sure what you think about strategies like that.

[2021-02-03 21:24] rbtcollins commented on #2647
I don't understand this third-party dependency use case being described - its mentioned in your report, but not covered by your reproduction instructions.

[2021-02-03 21:28] sunshowers commented on #2647
Ah, to be clear what I mean by "third-party dependency" is a non-workspace dependency, e.g. `env_logger` in https://github.com/sunshowers/env-logger-test/blob/main/Cargo.toml#L7-L8. If you follow my instructions you'll see that the `rust-toolchain` file in the `env_logger` crates.io release gets picked up.

[2021-02-04 19:32] jyn514 opened #2648 "'Component unavailable' error is formatted badly"
**Problem**

The error message is missing a newline.

**Steps**
[code]

Also, it seems odd that it suggests uninstalling a component that's not installed.

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]

[2021-02-05 22:25] danitrod commented on #2648
Can I work on this? From my understanding the issue is in https://github.com/rust-lang/rustup/blob/master/src/errors.rs, line 428 and 440

[2021-02-07 01:54] 756445638 opened #2651 "why I cannot use rustfmt on my windows machine ??"
Output of `rustup --version`:

rustup 1.23.1 (3df2264a9 2020-11-30)
info: This is the version for the rustup toolchain manager, not the rustc compiler.
info: The currently active `rustc` version is `rustc 1.51.0-nightly (4f4656d46 2021-02-04)`

Output of `rustup show`:

$ rustfmt
error: the 'rustfmt' component which provides the command 'rustfmt.exe' is not available for the 'nightly-x86_64-pc-win

[2021-02-07 09:28] kinnison commented on #2651
This happens when `nightly` doesn't contain a particular components. https://rust-lang.github.io/rustup-components-history/ suggests `rustfmt` hasn't been available for a while.

If you want the most recent `nightly` which does have the components you desire, then you can do:

[code]

Either way, this is not a bug in `rustup` unless you've tried that and it didn't do as expected.

Please try that,

[2021-02-07 09:29] kinnison commented on #2648
That looks like the right place to look yes.  There are a couple messages there which might need some attention.

[2021-02-07 09:37] kinnison commented on #2647
I think there might be value in suggesting crates.io should either refuse or at least warn for `rust-toolchain` being present in a crate tarball; but I don't think we should be trying to insert protection into `rustup` to prevent this particularly unusual corner case.

the `RUSTUP_TOOLCHAIN` environment variable should be sufficient to solve your problem, and if it remains confusing for you, you c

[2021-02-07 09:39] kinnison commented on #2564
I am not certain of the details since I've not looked at that part of the codebase in a while, however in brief the work would involve detecting when a particularly large file is encountered in the incoming stream of files, and rather than reading it all in at once and passing it to an IO thread to be written out, operating on the main thread to do that particular file in a streaming fashion.

I'm

[2021-02-07 11:24] phil-opp opened #2652 "Optional `.toml` extension for `rust-toolchain` file?"
**Describe the problem you are trying to solve**

The `rust-toolchain` file accepts TOML syntax since https://github.com/rust-lang/rustup/pull/2438, but it still can't have a `toml` file extension (i.e. `rust-toolchain.toml`). Thus, the used markup language is not clear to both users and IDEs.

**Describe the solution you'd like**

Allow an optional `.toml` extension for the file so that both `rus

[2021-02-07 12:49] kinnison commented on #2652
If we were to do this, I'd want to say:

1. The `rust-toolchain.toml` file must *ONLY* support the toml style content
2. If both are present, use `rust-toolchain` and emit a warning that `rust-toolchain.toml` is being ignored

This would match the cargo PR in the top post.

[2021-02-07 13:16] phil-opp commented on #2652
I agree on both points. Should I try to send a PR for this?

[2021-02-07 16:26] kinnison commented on #2652
Sure, if you want to discuss it you can find me on discord too.

[2021-02-07 16:38] phil-opp commented on #2652
Great! I already started looking into it and I'll send a PR in a moment.

_Edit:_ I opened https://github.com/rust-lang/rustup/pull/2653.

[2021-02-07 18:34] danitrod commented on #2648
Looks like this was already addressed by commit [`b045fb2c9817bb5436651bcfd2584936af4f0f15`](https://github.com/rust-lang/rustup/commit/b045fb2c9817bb5436651bcfd2584936af4f0f15).

[2021-02-08 05:25] 756445638 commented on #2651
thank you a lot,  I downgrade the toolchain , and worked.

[2021-02-08 18:30] rogerxxxx commented on #2168
Be aware.  Rust bootstrap requires SSE2, most Pentium3 (i686) and earlier CPU's do not have SSE2 CPU register, resulting in segmentation faults. Can workaround this by building the rust bootstrap yourself, while most distributions now rely upon rust prebuilts SSE2 bootstraps.  I've yet to see any explanation within the past year as to this requirement.

[2021-02-09 03:32] joshtriplett opened #2654 "rustup-init should detect early if /proc isn't mounted"
Running rustup-init.sh without `/proc` mounted produces many errors before finally explaining the issue:

[code]

All of these ultimately come from the same cause. Rather than proceeding and encountering issues like `[: Illegal number`, I think it would make sense to detect early in the script if `/proc` isn't mounted (such as with `test -L /proc/self/exe`) and error out at that point.

[2021-02-09 10:47] kinnison commented on #2648
It's amazing how I can forget things that recent :(  Thank you for finding that @danitrod

[2021-02-09 10:48] #2651 closed, assigned to nobody

[2021-02-10 09:48] #2553 closed, assigned to nobody

[2021-02-10 18:41] OJFord opened #2656 "CARGO_HOME ignored in creating (the contents and location of) ~/.cargo/env"
**Problem**

Rustup creates `$HOME/.cargo/env`:
[code]

regardless of the value of `$CARGO_HOME`

**Steps**

1. `export CARGO_HOME="$HOME/other"`
2. `rustup-init -y --no-modify-path --default-toolchain=stable --component clippy rls` (I doubt much of that's relevant, but it's what I did, maybe `--no-modify-path` causes it to hit a funny code path though that  is the cause of this)
3. Observe output

[2021-02-10 19:00] rbtcollins commented on #2656
I've just tried to reproduce this and failed:
[code]

[2021-02-11 09:25] kellda commented on #1095
Is it fixed ? I tried `rustup update nightly` (not having nightly installed), once with no connection, once with not enough space to download and once with not enough space to unpack and got `1` every time.

[2021-02-11 09:57] rbtcollins commented on #1095
I think so.

[2021-02-11 09:57] #1095 closed, assigned to nobody

[2021-02-11 10:56] kellda commented on #1397
What about `rustup --version` or `rustup +toolchain --version` ?

[2021-02-11 11:49] kellda commented on #1618
I'm interested to work on this. The bare minimum seems to be:
- Create a new key under `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Uninstall` (officially an GUID, many apps just use their name)
- Add a `DisplayName` string (is it better to display it as "rustup", "Rust" or something else ?)
- Add a `UninstallString` which is the path to the uninstaller (i.e. _`cargo_home`_`\bin\ru

[2021-02-12 18:09] kinnison opened #2660 "Consider `upgrade` as alias for `update`"
Some people are used to saying `upgrade` when wanting to update toolchains.  As such it might be nice to offer this as an alias of `rustup update` which could either be visible or hidden.

I am happy to mentor someone through this work.

[2021-02-12 18:13] kragil commented on #1003
Why is Rust still relying on this slow MS crap? It's been years...

[2021-02-12 19:07] kinnison commented on #1618
Sounds good, I look forward to your patch.

[2021-02-12 19:08] kinnison commented on #1397
I think if you explicitly say `+toolchain` then you're saying you want that to be installed.

[2021-02-12 19:32] kinnison commented on #1858
I believe further discussion was had in #2488

[2021-02-12 20:41] rbtcollins commented on #1003
@kragil I understand you are frustrated, though its not clear what has caused that, but please be kind or at least courteous in this bugtracker: we follow, and require everyone participating here to follow, the rust code of conduct: https://www.rust-lang.org/policies/code-of-conduct - in particular calling the MS toolchains "slow crap" is rude an unnecessary.

That said, your question would be bes

[2021-02-13 09:11] chansuke commented on #2660
I'd like to tackle this issue.

[2021-02-13 09:12] kellda commented on #1397
I'm still unsure what is the right behaviour: which commands of the following should install a toolchain ?

- `rustup --version`
- `rustup +toolchain --version`
- `rustup show`
- `rustup +toolchain show`
- `rustup show active-toolchain`
- `rustup +toolchain show active-toolchain`

What about healing damaged toolchains ?

Furthermore, there are actually tests (`*_not_installed` in `cli-rustup.rs`)

[2021-02-13 09:31] kellda commented on #1397
cc #1250 for the tests
cc #2252 for always installing toolchains

[2021-02-13 20:42] mbuesch opened #2661 "complete profile is an attractive nuisance"
**Problem**
rustup-init fails with: detected conflict: '"share/doc/rust/html/rustc/favicon.svg"'
when installing *nightly* *complete*:

[code]

**Steps**

Operating system: Linux amd64

Use installer settings:

[code]

**Possible Solution(s)**

**Notes**

[2021-02-14 11:36] moegodot commented on #2661
You may have interrupted the download.
If it's true.
You may need to clear your download cache.
Usually in ~/.rustup and ~/.cargo.

[2021-02-14 13:02] mbuesch commented on #2661
No.

No. This is a completely fresh start. rustup and cargo directories don't exist.

It only happens in *complete* profile. I guess two components provide the same file or something like that.
Please try to reproduce the problem.

[code]

[code]

[2021-02-14 17:09] lgphp opened #2662 "package manager installed rust uninstall instructions are unclear"
when i run   : ``` rustup self uninstall    ```
 it show:
error: self-uninstall is disabled for this build of rustup
error: you should probably use your system package manager to uninstall rustup

pls ask : how can i enable self-uninstall

[2021-02-14 22:39] rbtcollins commented on #2662
You've installed rustup via some package manager. You need to use that same package manager to do the uninstall. E.g. apt/yum/snap/nix/whatever: we don't currently track what package manager installed rustup, so this message is as good as we can do.

[2021-02-14 23:31] rbtcollins commented on #2661
Don't use the complete profile. It is not intended for use.

[2021-02-15 16:07] mbuesch commented on #2661
Ah Ok.

So could we remove this user visible option?
It's pretty confusing to have a visible option that's not supposed to be used.

[2021-02-16 01:10] joshtriplett commented on #2488
The nice thing is that once the client has zst support, the server-side can decide how aggressively to compress for each tarball. For instance, if stable artifacts get more downloads, we could spend more resources compressing them.

[2021-02-16 08:53] kinnison commented on #2656
I can also confirm that things seem to work for me.  What platform are you running on?  E.g. is `rustup-init` provided by something which might be overriding your environment such as nix?

For reference, what I tried:

[code]

[2021-02-16 08:54] kinnison commented on #2660
Hi @chansuke - sorry for taking so long to respond, I'd be happy to see you work on this.

[2021-02-16 08:55] kinnison commented on #2662
I think the big question here is "Can we do anything to detect *which* package manager was in use and thusly recommend an uninstallation method?"

Coupled with that could be "If rustup itself came from a package manager, should `rustup self uninstall` at least remove the toolchains and links in $CARGO_HOME perhaps?"

I think these are open questions which need some thought and design work.

[2021-02-16 09:01] kinnison opened #2663 "The test `check_updates_some` may be accessing the internet"
**Problem**

When running the test `check_updates_some`, and therefore likely others which test these code pathways, the internet is accessed in order to check for `rustup` updates.

Likely this is missing a `RUSTUP_UPDATE_ROOT` or similar in the environment during the running of those tests since normally we force `--no-self-update` etc. on appropriate CLI calls.

**Steps**

1. turn off your wifi

[2021-02-16 09:14] kinnison commented on #2661
I agree that it is confusing and I'll bring it up for discussion at our next dev-tools meeting.  I'm considering hiding `complete` entirely as we've never really made it work properly.

[2021-02-16 09:18] kinnison commented on #2488
Currently the channel manifest toml only has gz and bz2 support, and not in an entirely extensible way, I think that we need to define how the channel toml will represent the available compression formats, and thence what is considered 'acceptable' in terms of available formats.  E.g. would a channel manifest with only `.zst` be okay?  For that to be the case a lot of tooling may need adjustment.

[2021-02-16 09:24] kinnison commented on #1397
I think, for each case we need to think about whether or not having the toolchain *absent* would cause confusion or breakage in scripting which may already exist and rely on behaviour.  I'm prepared to introduce some breaking change so long as it's very well thought out.

In my view, if you are explicitly stating a toolchain via `+toolchain` or via a `rust-toolchain` file then we should always ins

[2021-02-16 15:01] kinnison commented on #2488
True, not bz2, braino on my part :D

[2021-02-16 15:02] #2654 closed, assigned to nobody

[2021-02-16 15:02] kinnison commented on #2654
I got a little overexcited with Robert's approval of the PR, but I believe this is fixed and so will be in 1.24's release.

[2021-02-16 20:25] jonhoo commented on #2458
This would come in extremely handy for me as well, though for a fairly different use-case. In my case, I have a larger build system that sometimes needs to "fiddle some bits" before `cargo`/`rustc` gets to run. Currently, the way that works is that the user has to invoke the "main" build system, which then internally invokes `cargo`. This works, but means that tools that aren't aware of the larger

[2021-02-16 20:27] rbtcollins commented on #1397
I think we should break things. Not cavalierly, but carefully, perhaps even with an RFC. But we have 'install', and we can make that idempotent. We can make a version of install that honours toolchain files etc. But (ab)using show to trigger an install is just counter intuitive and will be an ongoing source of WTFs forever.

[2021-02-16 21:30] alexwlchan commented on #2663
I'm having a look at this, I think I see what's going on.

Briefly: this seems to affect three tests in this file:

[code]

There is a setup function in the tests which sets a value for `RUSTUP_UPDATE_ROOT` to be a local `file://` URL, which some tests in that file are using (e.g. `check_updates_self`, which passes without Internet):

https://github.com/rust-lang/rustup/blob/90c840180955f245047b4a

[2021-02-16 22:26] clehner opened #2668 "How, if at all, should `rustup` display the licence terms for Rust etc?"
Should Rustup include license text and copyright notices for the Rust toolchain and its internal dependencies, to be installed alongside the binaries? Or do the binaries have command-line options to output this info? Should license info be displayed at install time also?

Related: https://github.com/rust-lang/rust/issues/67014

[2021-02-16 23:16] guilt commented on #2590
I think you'd typically have to set the reset sequence (explictly print) on die.

https://github.com/rust-lang/rustup/blob/90c840180955f245047b4a7045e6e949d4076884/src/cli/log.rs#L33

Like, at the end of these kinda functions + general execution, good to add a
`let _ = t.reset();`

I mean, they could always die without reset-ting (and is a common issue with most commands in Unix as well, nothing n

[2021-02-17 03:50] Vbbab commented on #2590
BTW, another way to repro:

- Navigate to the directory of `rustup-init`.
- Type `rustup-init`, but don't hit enter.
- Now, follow enter key **immediately** with ctrl - c.
- Repeat until the bug is produced.

[2021-02-17 04:00] guilt commented on #2590
We need to check where all this can happen; What if there's a fault when printing something, or SIGKILL; If this is a signal handler, the at_exit patch I've posted can be easily re-written; Will figure out how to test it.

My question to all is that is at_exit even a standard at this point? beta/stable compilers don't expose it.

[2021-02-17 07:47] kellda commented on #1618
I eventually got some time to try to implement this, but I realize I'm not sure where to put that code. I think in `cli/self_update/windows.rs` in a new function. But then from where should it be called ? `do_add_to_path` ? Or `cli::self_update_install` ? Also, should it be gated by the `no_modify_path` option or a new one ?

[2021-02-17 08:42] kinnison commented on #2458
@jonhoo That's a really interesting use-case for this approach.  I was wondering what value a path based rust-toolchain file might be wrt. checked in files; but as part of a wider build system that makes a huge amount of sense.  If you wanted to adopt the WIP PR I have and take it further toward something mergeable then I'd be super-grateful.  I trust you to find the corner cases I've not thought

[2021-02-17 09:01] kinnison commented on #1397
If we are going to make such a breaking change I agree that an RFC would be best.  If we're to file an RFC we need to think through all the implications of disabling implicit installation for the various commands and decide which retain implicit installation and which will no longer support it.

As a starter for ten, I think the following *must* continue to support implicit installation:

* Any in

[2021-02-17 09:02] kinnison commented on #2663
That sounds sensible.

[2021-02-17 13:18] zinla opened #2671 "I use rustup updata rust ad I get this warning"
warning: downloading with complete profile isn't recommended unless you are a developer of the rust language

[2021-02-17 18:30] jonhoo commented on #2458
@kinnison I'd be happy to pick up the PR! Could you give me a rough idea of the state-of-affairs, next steps, and remaining/unresolved bits?

This gets tricky quickly, since IIUC the toolchains are all global (well, user-global). But the user might have tons of packages checked out locally, potentially using different versions of the build system that may want to use slightly different wrappers. I

[2021-02-18 14:29] 0xPoe commented on #2576
Sorry for the late reply.

I have read the code and I think the problem can be solved in a few steps.
1. We need to add a self-update related setting item in Settings.
2. We need to set the value in Cfg with the set subcommand support.
3. Since the configuration can be read in Cfg, we can get the value from the cli (similar to get_default_host_triple) and check for it in the self-update mod and us

[2021-02-19 12:42] Folaht opened #2672 "toolchain '$toolchain' may not be able to run on this system UX is not working well"
Wanting to use musl instead of gnu, I run into this issue:

[code]

**Notes**

[code]

[code]

[2021-02-19 13:04] rbtcollins commented on #2672
I'm sorry that this has affected you. As the warning message says, that toolchain could not run on your system.

We try to do a difficult thing, permitting the maximum permissible underlying capabilities of the system, while still being easy to use. In this area we fall short.

Remove that new toolchain, and then instead use the target add option to add a new target to your existing toolchain.

[2021-02-19 14:31] patrickelectric commented on #2172
Having the same problem with 1.50.0:
[code]

[2021-02-19 14:36] patrickelectric commented on #2172
Moving to 1.40.0 with minimal installation fixes the issue.

[2021-02-20 09:49] 0xPoe commented on #2576
@kinnison ping~

[2021-02-20 10:30] kinnison commented on #2668
I am not certain what (if any) licence obligations would require that we do that.  The licence texts for the toolchains are included in the documentation components I believe, though perhaps copies ought to accompany the rustc and cargo components too.

As I am not at all sure either way what would be best, I'd like to leave this open for possible input from others, and I've subscribed to the rela

[2021-02-20 11:01] kinnison commented on #2671
This warning is informing you that you have chosen the `complete` profile, which is not recommended for normal users of Rust.  If you want to silence this warning, you can run `rustup set profile default`.

[2021-02-20 11:01] #2671 closed, assigned to nobody

[2021-02-20 11:04] #2663 closed, assigned to nobody

[2021-02-20 11:13] kinnison commented on #2576
Sorry for the delay, I had a very busy work week.

I think your proposed approach is on-track.  I'd suggest a setting name along the lines of `auto-self-update` with permitted values `enabled` (default if missing), `disabled` (does nothing unless manually running `rustup self update`), and `check-only` (which does a check for new versions to report when otherwise it would do an automatic self upda

[2021-02-20 11:38] kinnison commented on #2458
I think your use-case does indeed warrant the `rust-toolchain` approach so let's just consider that from now on.  Thank you for clarifying things a little more for me.

So the work I did is in #2471 and in that, Jubilee had a really good point that currently `rust-toolchain` is defined as US-ASCII (though we effectively ignore that when trying for a toml parse).  In #2653 a contributor is working

[2021-02-20 14:53] #2547 closed, assigned to kinnison

[2021-02-20 15:49] #2623 closed, assigned to nobody

[2021-02-20 16:04] #2660 closed, assigned to nobody

[2021-02-20 16:09] kinnison commented on #2612
I am going to be removing this from the 1.24.0 milestone (and pushing it to 1.25.0) as I am not confident we'll get to the point of building for this platform in this cycle.  If you happen to have an update on how the dependency landscape lies, it'd be handy to have it here.  I believe Ring is still not quite there.

[2021-02-20 16:11] kinnison commented on #2590
I don't think we're going to get to a stable-compatible solution to this problem in the 1.24.0 cycle so I'm going to defer this particular piece of work for 1.25.0 - if we fix it before 1.24.0 is branched then that's great, but I'm not going to hold up the release for it.

I think we're approaching an idea of the fix, but with the need for `nightly` right now, we're not able to use it yet.

[2021-02-20 16:15] Alovchin91 commented on #2612
Yes, didn't hear anything from Ring author ever since :\

[2021-02-20 16:28] rbtcollins commented on #1397
It doesn't make intrinsic sense to me that merely adding +toolchain to a command causes an install.

I think of rustup as an API, and there are metadata operations such as show and version which should strictly show what the state of the system is without mutating it; operations such as as 'default' that mutate metadata and also shouldn't obviously install, but perhaps the ergonomics of ease of ea

[2021-02-20 16:40] rbtcollins commented on #2672
@kinnison and I have discussed this and we have consensus: the only use case for this UX being the way it is is is folk doing  unusual personalities with e.g. qemu binary emulation on their machines etc. We think making the ability to install toolchains that aren't the host toolchain require a --force-non-host-toolchain (or some other name) option would perhaps avoid folk making this mistake: user

[2021-02-20 16:43] rbtcollins commented on #2662
I haven't looked at the package manager mode; if its configured via a /etc file or something we could have the manager insert a string in there for instance.

[2021-02-20 16:50] kinnison commented on #1397
I think that's a reasonable compromise.  I will note though that not autoinstalling on `rustup default XXX` would result in a substantial sweeping change (though not a complex one) across the entire test codebase.

[2021-02-20 17:10] rbtcollins commented on #1397
It might be nice for instance to have a 'please install whatever the current toolchain is' command, maybe via options to install?

Rather than having folk run 'rustup rustc' to trigger autoinstalls when using toolchain files.

[2021-02-20 17:26] Diggsey commented on #2672
@rbtcollins There are some combinations that work fine without any kind of emulator, at least on windows. eg:

- 32-bit toolchains on 64-bit hosts
- GNU vs MSVC toolchain

It looks like the logic for this warning doesn't currently consider these possibilities. If this is to become a hard error it should be smarter about this.

[2021-02-20 17:31] kinnison commented on #1397
I can almost imagine that as `rustup toolchain install .` (effectively use `.` to mean 'whatever I need to build *this here*'.

[2021-02-20 18:19] Nemo157 commented on #2576
Yep, that seems about what I was thinking.

[2021-02-20 19:18] briansmith commented on #2612
I do not know anything about your schedule but I would be happy to help. It would be useful to know the cut-off dates for the milestones you have.

[2021-02-20 20:00] rbtcollins commented on #2672
I think thats a good discussion to have, but its not obvious to me that we should actually be more complicated in the code here.

Running a 32 bit toolchain on a 64-bit host will save some memory, but it requires 32-bit libc etc, and 32-bit system headers for Windows - so 'some sort of host emulator' is needed, even if that is just multiarch. multiarch isn't default-on on systems, and we haven't g

[2021-02-20 20:01] rbtcollins commented on #1397
My only concern about that is that what-if we wanted to permit installing a toolchain from a dir/tarball etc in future. We'd need to make sure that we can discriminate effectively. Probably we can but lets think it through.

[2021-02-20 20:07] kinnison commented on #2612
@briansmith Hi! Thank you for coming along.

Right now there's no particular timeline on getting aarch64-windows support into Rustup, though obviously we'd prefer to do it as soon as we can.  One? of the blockers to this is ensuring we can build rustls which AIUI relies on ring.  I'm sure @Alovchin91 can explain more since he's really the person with the context here, but I'm fairly sure the linke

[2021-02-20 20:37] briansmith commented on #2612
Thanks. I understand there's no deadline for this particular task, but it would be useful to know the change freeze dates for the next one or two milestones so I can prioritize this work against other work.

[2021-02-20 22:17] Diggsey commented on #2672
AFAIK, this distinction doesn't exist on windows. When you install the VC++ build tools you get both 32-bit and 64-bit support, and they both use the same headers. I don't even know of a way to get *just* 64-bit support, but maybe there is an option somewhere.

There are also several advantages to using a 32-bit toolchain to compile 32-bit code (or a gnu toolchain when targeting gnu), due to the f

[2021-02-21 10:36] kinnison commented on #2612
In rustup we don't operate our milestones on a strict timescale because we're a pretty small group of developers as you can appreciate that doesn't always lend itself to fixed release dates.  In general I try to get 2 to 4 releases out per year, and I'm hoping to release 1.24 pretty soon (within a couple of weeks) so that'd put the 1.25 release (unless something unusual happens) no later than arou

[2021-02-21 10:43] kinnison commented on #1397
I think installing from a dir is more `rustup toolchain link` and we could always do tarball installations from `rustup toolchain unpack` or similar.  The verb doesn't always have to be `install` IMO.

[2021-02-21 11:05] Alovchin91 commented on #2612
@briansmith Thank you for the response! Just FYI, at this point in time I can still build rustup with curl backend instead of reqwest, so Ring is not really blocking other work on making rustup arm64-compatible. Obviously though, it should indeed happen before we can proclaim win-arm64 version ready for release.

[2021-02-21 11:58] rbtcollins commented on #1397
We could look for a new verb for this though like 'ensure' or something.

`link` doesn't copy a toolchain in, so its quite different. I agree that tarballs can use different verbs.

[2021-02-21 12:40] kinnison commented on #1397
Hmm I like `ensure` that's nice.

[2021-02-21 15:52] rodested commented on #1109
Hello,

Racer module needs an update after changes in the rust path detailed above.

I've forked the main racer repository and added a patch so that it automatically detects if the old or new one should be used.
Also have requested to the maintainers a merge applying my changes.

Meanwhile, you can download a fixed races.el version which fixes the problem from here:
https://github.com/rodested/ema

[2021-02-21 17:03] #2652 closed, assigned to nobody

[2021-02-22 11:00] kellda commented on #1397
I think `rustup toolchain install .` may be confusing, as I would think `.` should be a toolchain or point to a toolchain. Also I would think I could use whatever path in place of `.`, e.g. `git clone [someproject] && rustup toolchain install [someproject]` instead of `git clone [someproject] && cd [someproject] && rustup toolchain install .`

I've thought about 'auto-install' although ensure is a

[2021-02-22 18:52] kinnison opened #2677 "Release 1.24.0"
Release checklist:

* [x] Write changelog
* [ ] Write blog post and get the PR ready
* [ ] Ensure all issues for 'fixed-in-next-release' are known
* [ ] Prepare stable branch update
* [ ] Make release, merge back to master.

(It'd be nice to make a template if this turns out to be useful)

[2021-02-22 18:55] #2636 closed, assigned to nobody

[2021-02-22 22:20] blesson3 commented on #2661
I'm using the `default` profile and I'm getting a similar error `failed to install component: 'rust-docs-x86_64-unknown-linux-gnu', detected conflict: '"share/doc/rust/html/std/keyword.self.html"'`. The non-native-host toolchain is required by [cross](https://github.com/rust-embedded/cross), but I've boiled the issue down to the `default` profile used by `rustup`.

I even removed the `~/.rustup` d

[2021-02-23 02:56] jonhoo commented on #2458
Thanks! PR up in https://github.com/rust-lang/rustup/pull/2678 :)

[2021-02-23 16:20] jrop opened #2679 "Incorrect report of non-executable rustup-init binary in latest Ubuntu Docker container: "Please copy the file to a location where you can execute binaries and run ./rustup-init""
**Problem**
rustup-init.sh reports "Please copy the file to a location where you can execute binaries and run ./rustup-init", however when I `ls` the file (and furthermore, try to execute it), it is indeed executable.

This started happening in the ubuntu:21.04 Docker container with image hash: `1fc773f9e714`.

**Steps**

1. docker run --rm -it ubuntu@sha256:2fc51f401cb873bfec33022d065efacbaf868b2

[2021-02-23 19:13] kinnison commented on #2679
The script you fetch with curl determines which, and then downloads the binary for rustup-init (rustup) and tries to run it.  If the temporary directory it downloads to is mounted noexec then it won't work.  I wonder how come you can run it manually but not if it's downloaded by the script and run by the script.

I'm afraid I don't have docker myself so I can't directly diagnose this.  All I can s

[2021-02-23 20:58] ghost opened #2680 "rust won't install on ExFAT filesystem"
**Problem**
Attempting to install rust via rustup-init on Windows 64bit on a ExFAT filesystem produces the error:

error: could not create link from 'X:\cargo\bin\rustup.exe' to 'X:\cargo\bin\rustfmt.exe'

**Steps**
Where E is formated as ExFAT and rustup-init.exe is running from C: and has a filesystem of NTFS. Attempt to start the installer:

Welcome to Rust!

This will download and install the

[2021-02-23 21:26] kinnison commented on #2680
ExFAT does not support filesystem-level links which are required for `rustup`'s proxy functionality as you surmised in your 'possible solutions'. In theory we could do without the links by creating copies of `rustup` for each proxy but that would be a significantly wasteful use of disk space.

At this time, this is a side-effect of implementation decisions, not a bug, and also not something we see

[2021-02-23 21:31] rbtcollins commented on #2680
There aren't that many proxies; OTOH we'd have more updates and possible things going wrong, skew etc. I think we could design for this eventually, but given team bandwidth is sharply limited, I completely concur with the help wanted aspect.

[2021-02-23 21:35] jrop commented on #2679
So I was having all sorts of issues with that Ubuntu image: ubuntu@sha256:2fc51f401cb873bfec33022d065efacbaf868b2e23f4dd76d7230d129258e255, which is the ubuntu:21.04 image as of 2/23/2021

I could not run any Cargo commands that ended up doing anything Git-related, as I got similar errors.  For example:

[code]
(that error seems to originate from [libgit2](https://github.com/libgit2/libgit2/blob/2

[2021-02-23 21:38] jrop commented on #2679
Also, from what I can tell, nothing looks screwy with the mount list:
[code]

[2021-02-23 21:56] kinnison commented on #2679
Is, perhaps, the `$HOME` set to `/` and is `/` not writable in some fashion perhaps?  All in all this is sounding like a docker-specific problem.  If you can come up with a fix, it would be handy to update this issue so that others can find it.

[2021-02-23 22:13] ghost commented on #2680
So how do other programming languages get over this issue? Am i correct that for example golang makes copies of itself every time? Also what do you mean by `proxy functionality`?

[2021-02-23 22:32] rbtcollins commented on #2680
I think most of your questions about rustup itself are covered in our documentation about how rustup works and what it does.

rust, as opposed to rustup, can be unpacked on exfat, and if you want to manually install for some reason, you can probably do that just fine - I presume thats your use case? Having a portable installation on some slow MMC device you can cart around?

As for other languages

[2021-02-24 07:15] joshtriplett commented on #2626
Manifest parsing aside, would it potentially make sense for the top-level rustup-enabled cargo invocation to determine the toolchain and then set the `RUSTC` environment variable (if not already set) to point directly to the appropriate binary? That would eliminate almost all of the repeated startup times and manifest parses, and let rustc run directly.

[2021-02-24 07:39] joshtriplett commented on #2626
I just tested this approach building `tide`, which builds a total of 209 crates. I compared `time cargo build` to `time RUSTC=$HOME/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/rustc cargo build`. Passing `RUSTC` reliably shaved off at least 20 CPU seconds, for around 6 seconds of build time on my 4-way laptop; that's around an 8% speedup to the build.

I think that'd be a worthwhile opt

[2021-02-24 08:21] kinnison commented on #2626
Is setting `RUSTC` purely something that cargo would want, or is it indicative of a general thing we should consider of setting `RUSTC` `CARGO` `RLS` etc. depending on which tools are installed?  I assume setting this means that cargo simply doesn't invoke rustup's proxy?

One concern with this, rather than simply improving the startup performance of rustup, is how this might interact with how rus

[2021-02-24 21:37] joshtriplett commented on #2626
I think it'd be reasonable to always set `RUSTC` from the rustup proxy, as long as the toolchain has `rustc` and `RUSTC` isn't already set in the environment.

Right. See https://doc.rust-lang.org/cargo/reference/environment-variables.html ; cargo will invoke `RUSTC` when it wants to run rustc.

I think we can handle that case by just not setting `RUSTC` if our toolchain doesn't have `rustc`. We c

[2021-02-25 08:03] Gurkenglas opened #2681 "shell restarting message can be confusing"
**Describe the problem you are trying to solve**
rustup-init added `%USERPROFILE%\.cargo\bin` to `PATH` but said
[code]
at the end, so I unnecessarily went to add it.

**Describe the solution you'd like**
That message should not appear if `%USERPROFILE%\.cargo\bin` is in `PATH` by the end.

[2021-02-25 10:23] rbtcollins commented on #2681
I'm not sure how to communicate the situation better than we have.

PATH isn't just the registry setting. It is also an ephemeral value in the process environment block of each process. And the cmd prompt that that message is shown in does not have the cargo bin directory in the PATH that is in the process environment block.

Restarting that shell will pickup the value from the registry, as the me

[2021-02-25 19:24] #2514 closed, assigned to nobody

[2021-02-25 21:08] Gurkenglas commented on #2681
Ah, I see. I thought the sentence described the situation as it would be after I finish adding `%USERPROFILE%\.cargo\bin` to the registry setting.

`To get started you may need to restart your current shell. This would reload its PATH environment variable to include Cargo's bin directory (%USERPROFILE%\.cargo\bin).`

[2021-02-27 10:30] #2488 closed, assigned to nobody

[2021-02-27 10:37] kinnison commented on #2488
@joshtriplett If you use a master build of `rustup` then there's now `.zst` support there though I'd consider it entirely rough-cut for now.  If you'd prefer to wait until it's in a released version before experimentation that's fine, but now you should be able to have a play around with a theoretically `.zst`-only toolchain channel manifest if you wanted.  Just use `zst_url` and `zst_hash` as you

[2021-02-27 14:56] Arian94 opened #2682 "Rustup latest version number!!!"
https://github.com/rust-lang/www.rust-lang.org/issues/1459#issue-816783303
**Problem**
I'm sending what I've said in the issue above (in the link) again here.

 entered this command:
```rustup -V```
gave me this:
```rustup 1.50```
for some reason, i had to downgrade to version 1.31. so ran this:
```rustup install 1.31```
then re-entered ```rustup -V``` but instead of showing me 1,31, showed this:

[2021-02-27 15:35] kinnison commented on #2488
@89z I didn't say that any of the channels *had* been updated, merely that the in-development branch of `rustup` could now support it if Josh wanted to experiment.  Don't expect this any time soon.

[2021-02-27 15:48] kinnison commented on #2682
Hi,

It sounds like you're confusing versions of `rustup` with versions of **Rust**.

Rustup is the _installer_ where you seem to be more worried about **Rust** toolchain versions.

`1.50.0` is the current Rust version, and `1.23.1` is the current installer version.

If you can explain what it is you're trying to *achieve* then I can try and make some suggestions as to what you might need to run t

[2021-02-27 17:56] Arian94 commented on #2682
I know what you mean. But I just remember the very first time I entered the command ``` rustup -V``` it showed me a 'one' line result. But the next times I entered it, it showed 'three' lines of response being the first line as ``` rustup 1.23.1 ```. The next two are about the Rust versions and so on.
So, I supposed, something is wrong.

Besides, if there was just one place in the internet for the

[2021-02-27 20:36] kinnison commented on #2682
The extended output of `rustup -V` explains itself quite clearly.  The first line is the version of `rustup` but since a lot of people were confused that they had `rustup 1.22.1` when they thought they had a Rust version of say `1.45.0` we added the additional lines to explain the active version of `rustc` as well.

If you want to know if you have the latest `rustup` you can simply run `rustup sel

[2021-02-27 20:36] #2682 closed, assigned to nobody

[2021-02-28 09:41] rbtcollins commented on #2682
We have changed the behaviour of rustup -V over time to make it clearer. However your experience was recently and that happened a long time ago. A much better explanation is that the first output you saw (`1.50`) wasn't from `rustup -V`, but from `rustc -V`.

Perhaps we should ask the rustc team to consider a more verbose version output too, given how close the name rustup and rustc are.

[2021-02-28 09:44] rbtcollins commented on #2681
I think thats a good improvement. Would you like to put a patch forward?

[2021-02-28 10:36] rbtcollins commented on #2668
Unless there is a specific legal obligation to ensure that the user has read the licence (ugh), I would very much like to follow the Ubuntu approach of minimalism here: though they are a founding enabling capability for what we do, the licenses are not themselves what we do.

And if we do have to show them, then at a UX level I think that we should only interrupt a user the minimum number of times

[2021-02-28 10:41] rbtcollins commented on #2661
@blesson3 no, you're hitting #2672

[2021-02-28 11:54] kinnison commented on #2661
For reference, from the dev-tools meeting, I was tasked with taking the discussion to the `release` team to see what they'd prefer to do between redefining the set of things in `complete` to something which can be guaranteed to install on `stable` toolchains, or to deprecating/removing it entirely.

In the meantime the dev-tools team, as a whole, was okay with the idea of *hiding* the `complete` p

[2021-02-28 15:31] Arian94 commented on #2682
"A much better explanation is that the first output you saw (1.50) wasn't from rustup -V, but from rustc -V."
That might be right.

[2021-02-28 23:20] matthiaskrgr commented on #1249
`rustup check` has been implemented, I think this can be closed...?

[2021-02-28 23:25] matthiaskrgr opened #2685 "rustup show active-toolchain could be more detailed"
Right now `rustup show active-toolchain` shows this on my system:
[code]

It would be nice to not only know the active channel but perhaps also show the actual compiler version and the corresponding hash? (perhaps through a `--verbose` flag?)
[code]

[2021-03-01 01:22] quarkjuggler opened #2689 "Mostly, code for installation to other place is NOT FINISHED."
I've been trying for 3 or 4 days to install.  My name is /home/pi, but I wanted to install to /home/production so that everyone could use it.  Here are problems that I encountered:
1. I put '/' at the end of directory names in RUSTUP_HOME and CARGO_HOME.  This was reasonable.  You folks didn't check for it.
2. The install died because etc library wasn't found.  You folks should create it if not fo

[2021-03-01 01:33] jonas-schievink commented on #2689
Please file rustup issues at https://github.com/rust-lang/rustup and ask questions about the installation process at https://users.rust-lang.org/

[2021-03-01 08:36] kinnison commented on #1249
Yep, well spotted Matthias.

[2021-03-01 08:36] #1249 closed, assigned to nobody

[2021-03-01 15:22] jmaargh opened #2686 "Command for "install stuff from `rust-toolchain.toml`""
Apologies if this already exists, but I couldn't find it in the docs or shell help. Or if there is an alternate workflow for this.

I love `rust-toolchain.toml`, it's a great idea. It would be even more useful if there were a command such as `rustup override install`, which would look at the current `rust-toolchain.toml` and install the toolchain and components specified there. It would be super u

[2021-03-02 04:12] HarrisonHemstreet opened #2688 ""cannot find current revision for snap rustup" on 'rustup update'"
$ rustup update
internal error, please report: running "rustup" failed: cannot find current revision for snap rustup: readlink /snap/rustup/current: no such file or directory

I also deleted some rust files in an attempt to delete the Rust programming language in an attempt to later reinstall because the normal rustup self uninstall was not working

[2021-03-02 06:23] JohnTitor commented on #2688
It should be a rustup issue, you should file this at https://github.com/rust-lang/rustup.

[2021-03-02 08:01] rbtcollins commented on #2688
@JohnTitor normally we'd move such an issue report rather than closing it outright, since we're all in the same github org...

[2021-03-02 08:06] JohnTitor commented on #2688
@rbtcollins I closed because I don't have the right on rustup repo and someone also closed such an issue, e.g., https://github.com/rust-lang/rust/issues/82649#issuecomment-787575827. If you want, feel free to re-open and transfer it :)

[2021-03-02 08:09] kinnison commented on #2688
@rust-lang/infra Could someone please clean up, reopen, and move this to the rustup repository?

[2021-03-02 08:12] kinnison commented on #2685
I concur that it would be helpful to know this information.  Are you in a position to offer a patch?  If you want help working out what to do, we're willing to assist either here or on the Discord channel for Rustup.

[2021-03-02 09:51] rbtcollins commented on #2686
See #1397

[2021-03-02 11:05] jmaargh commented on #2686
I feel like there's value in keeping this issue different from #1397 for a couple of reasons:

1. The main point of #1397 is to disable a certain behaviour, this is to add that behaviour somewhere else (something that was discussed in #1397, but isn't the main point)

2. It's not clear to me from #1397 whether what's being discussed is installing _just_ the toolchain per-se, or also the components

[2021-03-05 10:53] rbtcollins commented on #2688
I don't know snappy well enough - is there some command to query the system / interrogate what snappy thinks is the current status of the system ?

[2021-03-05 20:27] kinnison commented on #2688
The way that @HarrisonHemstreet has reported this suggests there's a number of problems at play.

The reported "cannot find current version for snap" is likely due to an incorrect attempt to uninstall the snap.  `snap uninstall rustup` would have likely been the right way, though having damaged the `/snap/...` tree I'm not sure what the fix will be.

As for `rustup self uninstall` wouldn't work --

[2021-03-05 21:11] rbtcollins commented on #2689
I'm struggling a little interpreting this bug report, so if I have misunderstood anything, please be tolerant and correct me gently.

You say your name is /home/pi - do you mean your username is "/home/pi" or is your username "pi" ?

Re (1) what happened? Was some error reported? Did you have to remove the / ?

Re (2) what is an "etc library" ?

(3) - if CARGO_HOME is not set when rustup runs, it

[2021-03-05 22:12] rbtcollins commented on #2688
See also #2662

[2021-03-06 13:25] mohd-akram commented on #2606
The version on rustup.rs is still broken btw.

[2021-03-06 15:55] kinnison commented on #2606
@mohd-akram Yes, we've not made a release yet.  It's pretty close but not done yet.

[2021-03-07 16:50] urohit011 commented on #2685
Can I take this issue?

[2021-03-09 23:27] Iqwertz opened #2690 "Problem installing Rust on Raspberry pi 4"
I am now trying to install rustup for hours on an rpi and it is really frustrating!
So when I install rust with the following command:
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
`
The install script runs but at the end it says:
`
info: profile set to 'default'
info: default host triple is i686-unknown-linux-gnu
warning: Updating existing toolchain, profile choice will be ignor

[2021-03-11 18:12] drahnr commented on #1821
To make this a oneliner, use `source <(rustup completions zsh cargo)` in your `.zshrc` i.e.

[2021-03-11 18:57] kinnison commented on #2686
I think that ensuring `rust-toolchain{,.toml}` is properly honoured is an all-or-nothing thing - it couldn't "just" be the toolchain itself, no matter what.

You're right that #1397 is about ensuring that we don't over-indulge in autoinstallation, and I think this is a good home for how we then permit manual triggering of what was previously automatic.

I continue to think something like `rustup t

[2021-03-11 18:58] kinnison commented on #2685
@urohit011 We don't really operate a process of handing issues out per-se, now that you've expressed an interest here, that's enough.  If you want to discuss things, then #wg-rustup on the rust-lang discord is the best place to find us, or you can post here too.  Thanks for being interested in getting into `rustup` development.

[2021-03-11 19:00] kinnison commented on #2690
There is a lot confusing here.  For example, the mention of `info: default host triple is i686-unknown-linux-gnu` which feels like you have a very confused `~/.rustup/settings.toml`

Could you try first properly uninstalling via `rustup self uninstall` and then ensuring that you don't have a `~/.cargo` or `~/.rustup` left behind.  Then try installation from scratch with the `curl` command.

[2021-03-11 20:36] Iqwertz commented on #2690
Yeah it is really weird I guess there was an collision with another programm! I know installed a new Image and it worked fine! Sorry for the inconvinience!

[2021-03-11 20:36] #2690 closed, assigned to nobody

[2021-03-11 21:32] murlakatamenka commented on #1821
@drahnr thanks for the tip.

Actually `rustup` package on Arch takes care of that, completion scripts are generated by `rustup` binary:

https://github.com/archlinux/svntogit-community/blob/a57fda98a448bc39cf2c4f5ea6023fc747855da9/trunk/PKGBUILD#L42-L43

[2021-03-12 09:44] Zieng opened #2692 "rustup doc not working on m1 macbook"
**Problem**

When I run `rustup doc`, I got:
[code]
Running `rustup +nightly component list --installed`, I got:
[code]

I also tried `rustup component add rust-docs`, and the output is
[code]
so it seems on m1 mac the `rustup doc` is not supported? I think this is a very basic feature and I can't believe that we still don't support it on m1 mac, this is why I open the issue as bug report instead

[2021-03-12 09:51] kinnison commented on #2692
@rust-lang/infra this issue belongs on `rust-lang/rust` since it's a failure to construct the `rust-docs` component for the aarch64 apple target.

[2021-03-12 10:48] jmaargh commented on #2686
I'm easy about the syntax. `rustup toolchain ensure [path]` works for me.

I was thinking re-using `rustup toolchain install`, so:
- `rustup toolchain install [toolchain]` works as currently
- `rustup toolchain install [path to rust-toolchain.toml]` installs according to the specified file
- `rustup toolchian install [path to directory]` finds the `rust-toolchain.toml` that would apply to that dir

[2021-03-12 12:19] shepmaster commented on #2692
Tier 2 platforms do not build the documentation, so it’s not a “failure“. See also https://users.rust-lang.org/t/problem-with-rust-in-apple-silicon/56535/3?u=shepmaster

[2021-03-12 13:23] kinnison commented on #2686
Given all the other arguments `rustup toolchain install` can be given, I'd favour a separate verb.

[2021-03-12 14:59] #1618 closed, assigned to nobody

[2021-03-12 19:15] Livven opened #2693 "Clarify GNU vs MSVC for Windows"
**Describe the problem you are trying to solve**

[The book says](https://github.com/rust-lang/rustup/blob/master/doc/src/installation/other.md):

However, the [official Rust download page](https://www.rust-lang.org/tools/install) links to the MSVC version of `rustup-init`, going against the recommendation from the book.

Additionally, I ran the GNU version of `rustup-init` in a clean `mcr.microso

[2021-03-14 03:00] MaulingMonkey commented on #2668
Yep:

* `%USERPROFILE%\.rustup\toolchains\1.6.0-x86_64-pc-windows-msvc\share\doc\rust\{COPYRIGHT, LICENSE-APACHE, LICENSE-MIT}`
* `%USERPROFILE%\.rustup\toolchains\nightly-x86_64-pc-windows-msvc\share\doc\rust\{COPYRIGHT, LICENSE-APACHE, LICENSE-MIT}`
* `${rustup show home}\toolchains\${rustup show active-toolchain}\share\doc\rust\{COPYRIGHT, LICENSE-APACHE, LICENSE-MIT}`

(`share\doc\{cargo, clip

[2021-03-14 12:00] Alovchin91 commented on #2612
Status update:

* When integrating the latest sys-info into effective-limits, I faced an issue with windows-gnu builds: https://github.com/rbtcollins/effective-limits.rs/pull/14
    The fix for sys-info is in the pipeline: https://github.com/FillZpp/sys-info-rs/pull/92

* vendored-openssl doesn't seem to work; not sure how important it is, I can build without it; but it's probably a good low hangi

[2021-03-14 15:02] kinnison commented on #2612
This is fantastic news!  Some of the version updates I did to support aarch64-windows have shown up a problem with the CI dockers we use for android, so I'm in the process of resolving that, but we're creeping closer!  Thank you for your efforts.

[2021-03-14 22:42] Alovchin91 commented on #2612
Also, here's an issue I mentioned earlier when speaking of Cargo (which turned out to be a rustc issue after all): https://github.com/rust-lang/rust/issues/83043

In fact, it boils down to cc-rs (and Microsoft's unwillingness to do anything about it), which is also used in rustup here: https://github.com/rust-lang/rustup/blob/6fccc017a4c6c712baa82d51982aacee5bede17a/src/cli/self_update/windows.rs#

[2021-03-15 07:07] rbtcollins commented on #2693
I believe the book to be out of date: we decided to recommend the MSVC built rustup a long time ago. See #1353

[2021-03-15 16:40] probablykasper opened #2694 "Error installing `1.50-x86_64-unknown-linux-musl` toolchain on macOS"
**Problem**
Installing the `<version>-x86_64-unknown-linux-musl` toolchain worked for Rust 1.49, but doesn't in Rust 1.50. I'm on x86_64 macOS 10.14.6.

Logs from running `rustup toolchain install 1.50-x86_64-unknown-linux-musl`:
[code]

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]

[2021-03-15 16:46] kinnison commented on #2694
AIUI the musl toolchains are tier 2 and as such not guaranteed in any sense.  You can install with the minimal profile to avoid the rust-docs component.  I assume you're doing these installs for some kind of research or use in docker since they likely won't *run* on macos?

If you want to persue this further then the issue needs @rust-lang/infra to move it to the rust-lang/rust repository.

[2021-03-15 17:06] probablykasper commented on #2694
@kinnison I'm using [cross](https://github.com/rust-embedded/cross), which uses Docker, to cross-compile. From what I could tell musl is better for compatibility, although I know basically nothing about musl vs gnu so not sure how much that actually matters.

I initially thought this issue was for the rust repo, so I'll just re-open the issue I made there https://github.com/rust-lang/rust/issues/8

[2021-03-15 18:18] rbtcollins commented on #2694
Ok, so we should probably work with cross when we make toolchain installing a hard fail for non-native platforms, and allow a release cross-over period for #2672

[2021-03-15 18:56] rbtcollins commented on #2672
The point about the default host is worth taking into account for the implementation for sure : thats just about a possible bug we should avoid.

But the point about --force is much weaker: the hypothesis is that people are not even reading the message, let alone taking in the documentation around it. We know, from having to explain this repeatedly, that the conceptual separation between 'toolchai

[2021-03-15 19:53] rbtcollins commented on #2612
I've connected with MS on twitter - see the rust bug for the link - I think the discussion should happen there, and rustup should be doing whatever rustc ends up doing.

[2021-03-16 09:13] joshtriplett commented on #2488
@kinnison Thank you!

[2021-03-17 01:01] harvzor commented on #2365
My distro didn't have any swap enabled, so I installed zram using this guide: https://pimylifeup.com/raspberry-pi-zram/

It's increased the amount of RAM I have available allowing it to install Rust.

[2021-03-17 14:30] XAMPPRocky opened #2696 "Remote Custom Toolchains"
**Describe the problem you are trying to solve**
It would be nice to be able to specify custom toolchains at a remote location, so that you can very easily download and install custom toolchain using Rustup. So that other distributors can just provide URLs to their distribution, and not require users to manually download and link the toolchain themselves. Of course this remote location would have

[2021-03-17 16:12] ehuss commented on #2696
Does using the `RUSTUP_DIST_SERVER` environment variable address your use case?  I think something like `RUSTUP_DIST_SERVER=https://rust.example.com/ rustup install custom-channel` should work.

[2021-03-17 16:28] XAMPPRocky commented on #2696
Well I think it might technically fit, though I don't think I'm familiar enough with rustup's internals to say whether it completely would. For example how does that `rustup update` without `RUSTUP_DIST_SERVER` being set? But I think terms of usability, I'd like something a lot more user friendly, as environment variables aren't really as cross platform as having it in a config file. Ideally you w

[2021-03-17 18:04] kinnison commented on #2696
We've wanted to support alternative dist servers for a while now, so this is definitely something we'd like to explore.  There may be issues I can link to this, but I don't have them to hand right now.

I have a rough sketch idea of how this might work, but it'll need fleshing out and exploring so if someone wanted to work on this, we should probably start with a zoom/gmeet/whatever to discuss the

[2021-03-17 19:48] #2458 closed, assigned to nobody

[2021-03-19 08:21] rahulbansal16 commented on #1483
@kinnison I am trying to figure out how to package toolchain for cross-compilation.
so I started with compiling for windows on ubuntu.

I followed the [documentation](https://rust-lang.github.io/rustup/cross-compilation.html).
Installed `cargo target add x86_64-px-windows-msvc`
When I execute the command `cargo build --target=x86_64-px-windows-msvc`.

I get the below error.

![image](https://user-

[2021-03-19 08:25] AndreKR commented on #1483
I don't think the `x86_64-pc-windows-msvc` toolchain can cross-compile, only `x86_64-pc-windows-gnu` can.

In addition to switching the toolchain you **might** have to set `[target.x86_64-pc-windows-gnu] linker = "x86_64-w64-mingw32-gcc"` in your Cargo config (not Cargo.toml!).

[2021-03-19 09:32] rahulbansal16 commented on #1483
In the documentation, there is a mention of  https://doc.rust-lang.org/nightly/rustc/platform-support.html **x86_64-px-windows-msvc** . Why do you think it is mentioned in the cross-compilation doc?

How were you able to figure out that x86_64-pc-windows-msvc don't cross-compile? Is it some naming convention, hit, and trial, through the official website, etc that you did? It becomes so confusing t

[2021-03-19 15:06] rbtcollins commented on #1483
I think we should steer folk to the cross project actually and keep rustup focused on an excellent installation mechanism. *if* we can ever get to the point of installing all the dependencies to merely compile for the same host automatically, then we can talk about cross-compilations dependencies.

@rahulbansal16 we mention the platform support URL in the cross compilation doc of rustup to help ma

[2021-03-19 15:44] AndreKR commented on #1483
As far as I know _cross_ needs to be able to run Docker containers and since a lot of build jobs already run inside Docker containers themselves, the _cross_ project is of very limited use.

I strongly believe that should be a goal, and it seems we're actually getting closer to that? Sure, there are exceptions because of licensing issues (msvc), but the other targets already bring their necessary

[2021-03-19 15:56] rbtcollins commented on #1483
My understanding is that cross supports running within docker as long as you give it the docker socket. So, no problem.

I agree that bringing in all the compile pre-reqs is a goal, but Rustup hasn't moved on that at all since I've been contributing to it: we don't install debs, rpms, etc. Having copies of the platforms preferring components that the Rust-lang project is allowed to distribute is I

[2021-03-19 16:10] AndreKR commented on #1483
Giving a container the Docker socket (or running a `privileged` container, which is the other common technique to run "Docker in Docker") is basically giving the container full access to the host - not something you would do on a shared CI runner, because then why even bother with a container, just run the build job directly on the host.

:+1:

[2021-03-24 08:06] may1393 opened #2699 "MD5SUM for 1.10"
MD5SUM for 1.10
[code]
MD5SUM for 1.8.1
[code]

__Originally posted by @kriegalex in https://github.com/google/googletest/issues/2981#issuecomment-672002778__

[2021-03-24 08:17] rbtcollins commented on #2699
Our downloads are described in channel files; they are hashed with detached hashes, and inside the channel file are hashes for the files referenced therein. https://forge.rust-lang.org/infra/channel-layout.html

[2021-03-24 08:17] #2699 closed, assigned to nobody

[2021-03-24 13:24] chansuke commented on #2696
I would like to try to work on this

[2021-03-24 14:07] kinnison commented on #2696
We should make a plan to have a realtime discussion about what this might entail then, so that you can work on a design document.  This is quite a big task and I'd rather not run at it half-cocked.  What timezone are you in @chansuke ?

[2021-03-24 14:33] tmh-azinhal commented on #2694
I have the same problem. However I am using the toolchain `armv7-unknown-linux-gnueabihf`.
Like @probablykasper, it worked with Rust 1.49. I am on macOS 11.2.3

[2021-03-24 14:49] kinnison commented on #2694
After a bunch of research it seems that there are keyword documentation files for `self` and for `Self` (`keyword.self.html` and `keyword.Self.html` are the files) - on Linux these both exist because Linux filesystems are case-sensitive by default.  On macOS and Windows, whichever is written second by `rustdoc` will win over the other, and thus there's actually an overwrite bug on those platforms.

[2021-03-24 14:49] kinnison commented on #2694
Note, these keyword documentation files were only enabled in 1.50

[2021-03-24 15:00] kinnison commented on #2694
https://github.com/rust-lang/rust/issues/25879

[2021-03-24 15:08] chansuke commented on #2696
@kinnison Thank you for your comment. I'm in JST.

[2021-03-24 15:13] kinnison commented on #2696
JST is UTC+9.  Will your clocks change next week?  If so then you stay 9 hours ahead of me, if not, then you'll become only 8h ahead.  Either way I'm guessing that unless you're a night owl, the best way for us to have a chat would be in my morning, your evening.  I shall see what I can find in terms of available time either tomorrow or Friday, or else early next week, and then propose a set of op

[2021-03-25 16:04] beppe9000 commented on #2463
is it possible to install a package from stable or beta if it is not available in nightly ?

[2021-03-25 20:14] kinnison commented on #2463
No, channels are integral.  Sorry.

[2021-03-26 02:25] miigotu opened #2700 "`rustup-init.sh` fails to detect platform correctly under `docker buildx` which lacks `/proc`"
rustup-init.sh installs the incorrect rustc and other binaries because of a failure to detect arch.
Problems: `/proc/self/exe` does not exist during docker build, so i686/386 etc is detected incorrectly as x86_64 due to failure on line 153. mips64 likely suffers the same issue because it also uses get_bitness

`grep '^Features' /proc/cpuinfo | grep -q -v neon` fails and ARMv6 is incorrectly detect

[2021-03-26 03:20] RickHunterS opened #2701 "error: 'cargo' is not installed for the toolchain 'stable-x86_64-unknown-linux-gnu'"
**Problem**
When I use "curl - SSF" https://sh.rustup.rs |After sh "installation, the corresponding cargo module has been installed, but it will report an error when I query the cargo version information or other software needs to call it

**Steps**

1.curl - SSF" https://sh.rustup.rs |After sh
2.Adopt default installation scheme
3.cargo --version

The specific error reporting information is as fo

[2021-03-26 08:55] kinnison commented on #2700
We use `/proc/self/exe` because that tends to tell us the **userland** host type rather than `uname -m` which would tell us the kernel architecture.  Yes it's possible that's correct, but it's also possible for it to be wrong.  E.g. some `aarch64` systems can run 32-bit userlands, some `armhf` kernels can run `armel` userlands, etc.

It sounds like this is a limitation of `docker buildx` somehow n

[2021-03-26 09:00] kinnison commented on #2701
This looks like CentOS may be missing a library which the new rust release needs.  To test that, please run:

[code]

And provide the output of that in a comment.  My guess is that one or more of the libraries which cargo depends on are not available on your system.  If we can identify which, we can work on fixing it.

[2021-03-26 13:49] beppe9000 commented on #2463
ok thanks for clearing that

[2021-03-26 17:54] miigotu commented on #2700
This is my temporary solution that works (building python cryptography):
[code]

[2021-03-27 14:12] d-damien commented on #946
@alexcrichton I obtain B ratings as of today.

[2021-03-27 21:50] cdecompilador opened #2702 "Can't link target riscv64gc-unknown-linux-gnu on linux"
**Problem**
Can't link target riscv64gc-unknown-linux-gnu on linux, im experimenting with riscv
and I thought that it would be easy to make a hello world and compile it directly but... linker issues!
Since I've experienced something similar before I tried some solutions but none with success.

***Tries***
This sould work out of the box
->  `rustc main.rs --target=riscv64gc-unknown-linux-gnu main.r

[2021-03-29 11:00] extrawurst opened #2703 "check reports available update, update does nothing (on macOS)"
**Problem**
even though `rustup check` reports an **available** update to the nightly toolchain, `rustup update` does not perform the update.

**Steps**

1. run `rustup check`
2. run `rustup update`

[code]

[code]

**Notes**

Output of `rustup --version`:
[code]

Output of `rustup show`:
[code]

[2021-03-29 11:02] extrawurst commented on #2703
ok I should have read the output why it skips the recent version 🙈

[2021-03-29 11:02] #2703 closed, assigned to nobody

[2021-03-30 08:25] XAMPPRocky opened #2704 "Components occasionally become corrupted after rustup upgrade"
**Problem**

At Embark we usually upgrade to using the latest stable rust compiler soon after its release. We've noticed a consistent spurious issue where your components become corrupted after being upgraded. This happens across different platforms, with different components, and it does not happen to the same install consistently, but we do usually have it happen to at least one or two people on

[2021-03-30 10:59] jethrogb opened #2705 "installing nightly with missing components suggests doing 'rustup component remove'"
When trying to install a toolchain that's missing components you may get an error message, e.g.:
[code]
The suggested action is useless, however:
[code]
The correct suggestion would be to run the original command again with `--profile minimal`

[2021-03-30 11:18] rbtcollins commented on #2704
So this is happening on different OS's?

Fascinating bug. This is BinaryNotProvidedByComponent with description "binary should be provided by component but isn't in current toolchain"

Next time it happens, lets check the following:
* the directly executed binaries (e.g. cargo) should be hardlinks to rustup(.exe on windows)
* the indirectly executed binaries within the toolchain dir, which is what

[2021-03-30 12:44] rbtcollins commented on #2705
This occurs because we use the same codepath for add toolchain and add component, and the error isn't contingent on the context.

[2021-03-30 14:32] jyn514 commented on #2694
@kinnison does it make sense for rustup to default to `--profile minimal` when installing a toolchain that's not for the host? That would "fix" 1.50 in future releases of rustup; https://github.com/rust-lang/rust/pull/83678 can only help for new releases of rust, so 1.50 would still be broken.

[2021-03-31 10:15] kinnison commented on #2694
That's certainly an interesting idea @jyn514 -- @rbtcollins how would you feel about overriding the default profile to `minimal` for non-same-host installs (unless `--profile` is given)?

[2021-03-31 15:07] rubin55 commented on #2661
Like @blesson3, I'm running into the exact same issue, but on Linux, Pop!_OS 20.04 (an Ubuntu variant). Note that this happens **both** with `complete` and `default`. The fact that `complete` could/should be hidden has nothing to do with this issue:

[code]

Note also that it's the exact same file that's conflicting (`share/doc/rust/html/std/keyword.self.html`). I can confirm that `minimal` works,

[2021-04-01 02:55] nhooey opened #2706 "Installing `nightly` for `x86_64-apple-darwin` target fails because there is no date where the `rustc-docs` component exists"
**Problem**
The `rustup` command fails to install the `nightly` build for the `x86_64-apple-darwin` target because the `rustc-docs` component doesn't exist for that target.

**Steps**
1. Install Rust `nightly` on a MacBook Pro 2017 with this command:
[code]

2. Notice that it fails, saying to check the `rustup-components-history` web page to find a suitable date:
[code]

3. Check the website and n

[2021-04-02 13:43] kinnison commented on #2702
Apologies for taking so long to get back to you on this one.

For cross compilation you require that your host is capable of building/linking for that target.  While the target is rustup gets you te build portion of that for Rust, it does not get you the underlying linking capability nor the system runtime (libc).  You will need to work out how to acquire that tooling for your particular OS, or el

[2021-04-02 13:43] #2702 closed, assigned to nobody

[2021-04-02 13:45] kinnison commented on #2661
@rubin55 The `rust-docs` problem is not the same as the other problems on this.  This implies you're installing a linux toolchain onto a non-linux host as that kind of error is more related to the fact that 1.50 and 1.51's documentation contains filenames which differ only by case which upsets Windows and mac filesystems in their default configuration

[2021-04-02 13:46] kinnison commented on #2706
The `rustc-docs` component is not one which is well supported as yet.  I suggest you remove it from your installation (likely you got it via an accidental use of the `complete` profile, a problem we're tracking elsewhere: #2661 ).

[2021-04-02 14:49] jyn514 commented on #2694
@probablykasper could you confirm that `rustup toolchain install nightly-2021-04-02-unknown-linux-musl` works on macOS?

[2021-04-02 15:24] AaronKutch commented on #1501
Has this issue not really been fixed, or am I missing something? Right now, I am trying to add clippy to the CI of `compiler-builtins`. The GitHub Actions CI has to start by installing a fresh Rust with no components. Because the crate uses nightly features, we need the nightly version of `clippy`, but the component might not exist. It happens to exist right now, but my local `rustup update` does

[2021-04-02 15:50] rbtcollins commented on #2694
@kinnison not sure thats the right thing to do on win32 on win64 configs etc. Maybe just for cross OS e.g. linux -> ~linux etc.

[2021-04-02 16:33] RalfJung commented on #1501
For nightly toolchains, the only approach I know of is to do what Miri also does when you want to run it in some project's CI:
[code]
Not sure what the nicest way is to put that into GHA.

Files like https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri exist for all tools, e.g. https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/clippy.

[2021-04-02 22:02] AaronKutch commented on #1501
Thanks, I found the magic lines to be:
[code]

[2021-04-03 19:59] probablykasper commented on #2694
@jyn514 Yup, it's working!

[2021-04-04 12:26] 0xPoe commented on #2705
I am working on this.

[2021-04-04 18:21] makslevental commented on #2701
i'm in this incredibly frustrating loop as well on ubuntu 18

azureuser@datastation:~$ ldd `rustup which cargo`
info: syncing channel updates for 'stable-x86_64-unknown-linux-gnu'
info: latest update on 2021-03-25, rust version 1.51.0 (2fd73fabe 2021-03-23)
error: not a file: '/home/azureuser/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/cargo'
ldd: missing file arguments
Try `ldd --help'

[2021-04-04 22:39] jonas-schievink opened #2708 "Use a different exit code when component is missing"
**Describe the problem you are trying to solve**

The rustup wrappers will exit with status code 1 if the component they wrap is not installed or unavailable.

This is bad, because it makes it impossible to distinguish that case from an error reported by the tool itself. Therefore tools that invoke the rustup wrappers (like rust-analyzer) are forced to match against the strings output on stderr if

[2021-04-06 05:04] kawpii commented on #2603
@kinnison @apnorton I am still seeing this problem, can you please reopen this?

[code]

[code]

[2021-04-06 15:35] #2632 closed, assigned to nobody

[2021-04-06 16:13] rbtcollins commented on #2145
Fixed by #2707

[2021-04-06 16:13] #2145 closed, assigned to nobody

[2021-04-06 16:14] rbtcollins commented on #2564
Fixed by #2707

[2021-04-06 16:14] #2564 closed, assigned to nobody

[2021-04-07 03:29] 0xPoe commented on #2681
@rbtcollins This issue seems to have been fixed and we should be able to close it now?

[2021-04-07 07:41] me-diru commented on #2704
I got the same bug in macOS and it is only happening in one particular codebase terminal.

The error:
[code]
I tried updating using ```rustup update```, I get this:
[code]

[2021-04-07 08:57] rbtcollins commented on #2704
Please perform the debugging steps I requested.

[2021-04-07 12:10] me-diru commented on #2704
Steps followed:

- I verified this with ```find ~/.cargo/bin -samefile ~/.cargo/bin/rustup``` and cargo is hard-linked to rustup
- cargo is directly executed, so this is not relevant (but I didn't find cargo in my tool-chain)
- I think cargo is present in the toml file you mentioned
[code]
_Thank you for responding_

[2021-04-07 16:44] rbtcollins commented on #2704
cargo is not directly executed: you run cargo, but cargo is rustup, rustup the runs the real cargo which is located in the path in the toolchain dir that I gave. If its not there, (and you say it isn't), then the component is either incorrectly unpacked, unpacked but has had elements deleted (e.g. by a virus scanner), or isn't unpacked at all, irrespective of the toolchain config.

See if the foll

[2021-04-07 21:01] shaneutt commented on #2168
I'm interested in potentially working on this, can someone help me put together a TODO list of what it will take to get OpenBSD support added?

[2021-04-08 07:04] semarie commented on #2168
@shaneutt the first steps would be:

- [ ] be able to build working OpenBSD binaries from Linux (without that, I doubt there will be any official support for OpenBSD). it should need some patches in llvm/libc++/libc++abi
- [ ] decide which OpenBSD version should be targeted and be prepared to update it regulary (release cycle is 6 months based). it is important: else you will just add frustration

[2021-04-08 14:11] Deartomy commented on #2273
thanks， I met the same problem， and follow your advice to fix it~~

[2021-04-08 18:05] me-diru commented on #2704
It worked, cargo is running now :)

I use VSCode, I don't recall doing any special rust integration while installing rust.

[2021-04-08 20:48] eshikafe commented on #2661
Please I am unable to install rust 1.51.0 on Ubuntu 20.10 (groovy).
What could be wrong?

[code]
rustup is unable to install rustc. It gets **Killed** while installing rustc.

[2021-04-08 22:33] x448 commented on #2294
Third-party security audit of `ring`, `webpki`, and `rustls`:
- Nice summary by the author of `rustls` is at https://jbp.io/2020/06/14/rustls-audit.html
- The report is at https://github.com/ctz/rustls/blob/master/audit/TLS-01-report.pdf

[2021-04-08 22:55] bk2204 opened #2711 "Provide clearly visible hashes to download rustup-init"
**Describe the problem you are trying to solve**

I would like to install Rust on my system without piping curl to sh, and I would like to verify the cryptographic integrity of software I run on my system before permitting it to execute.  I would also like to install Rust in a secure way inside my CI scripts such that I can verify that the code I am executing in my build scripts is the same code a

[2021-04-09 02:50] ghost commented on #1455
My PATH was different but this solution worked for me. Thank you!!!!

[2021-04-09 03:55] workingjubilee commented on #2689
The "global" locations you might be thinking of are `/etc/profile` and `/etc/bashrc`. These are not "dotfiles", and so they are not under Rustup's purview, as they often require an elevated privilege level to edit that Rustup does not assume it is running under. Indeed, this is essentially an anti-goal of Rustup's current design: there are checks to prevent unintentional `sudo` installations.

[2021-04-09 04:58] icodeface commented on #2553
got same error when `$TMPDIR` set to an invalid path, hopefully this can help other people.

[2021-04-09 20:18] workingjubilee commented on #2598
My recent Windows experience has been with the Windows Terminal app, and I have spoken to other Rust-on-Windows users who have also strongly endorsed Windows Terminal (which defaults to a PowerShell interface, but also plays well with WSL setups). The former is available on the "Microsoft Store", and I believe we should (gently) recommend it and make sure Rustup works on it in particular, as

0. I

[2021-04-10 08:08] ickk opened #2712 "`rustup check` should also check for updates to rustup itself"
According to [the rustup documentation](https://rust-lang.github.io/rustup/basics.html?highlight=update#keeping-rustup-up-to-date), `rustup update` already automatically updates both the installed toolchains and rustup itself. It would be helpful if the corresponding command for *checking* for updates behaved the same.

Currently it is not clear if there is any way to see whether there is an updat

[2021-04-10 08:48] rbtcollins commented on #2712
I think this is a reasonable feature request. Note that you can do rustup self update to just update rustup.

[2021-04-10 09:11] ickk commented on #2712
Whoops. Seems this was already added in #2615 but hasn't made it's way into a release yet.

Comments regarding versions being listed on rustup.rs and in the documentation stand though.

[2021-04-10 09:51] ickk opened #2713 "Live documentation lists feature(s) not yet in release"
**Problem**

The [live documentation](https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file) says it should be possible to use a `rust-toolchain.toml` file, however it seems that was only added in #2653 which is more recent than the latest release.

<details>
    <summary><b>Steps</b></summary>

Check the version of rustup installed
[code]
Create a new project and create a `rust-too

[2021-04-10 10:00] ickk opened #2714 "`rustup doc --rustup` command to open the rustup book"
**Describe the problem you are trying to solve**
`rustup doc` is capable of opening all kinds of rust books - alloc, cargo, embedded, nomicon, proc_macro, etc - however rustup can't open its own book.

**Describe the solution you'd like**
`rustup doc --rustup` should open the rustup book.

**Notes**
This would at least partially address online documentation being incoherent with the release a user

[2021-04-10 13:33] rbtcollins commented on #2598
I don't think this bug had anything to do with the terminal. Rather, because the variables were set in the registry, explorers process environment block wasn't updated, double clicking on the exe doesn't run an intervening new shell process, and we only consider the peb variables. Not an entirely satisfactory hypothesis but one that is testable.

Two ways, either set the variables via setx, reboot

[2021-04-10 15:18] ehuss commented on #2713
Hm, looks like 1.24 got merged to the stable branch, but wasn't released?  Perhaps kinnison can clarify.

[2021-04-10 15:57] rbtcollins commented on #2713
We were going to release but it was the same week as a rust release, and didn't want to collide with the possibility of bugs.

[2021-04-11 00:20] azav commented on #2636
This is not closed.

I just had the exact same issue on Big Sur after running the indicated curl script from https://rustup.rs

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

Last login: Sat Apr 10 19:07:26 on ttys018
-bash: export: `/Users/zav/.cargo/env': not a valid identifier

FYI, I've now run the installer 3 times.

Finally, this line below is written into my .bash_profile a

[2021-04-11 10:10] ickk commented on #1397
Regarding implicit installs, as a user it seems obvious to me that commands that I expect be purely informational wouldn't modify my system under any circumstances:
  `rustup show`
  `rustup check`
  `rustup which`
  `rustup --version`
  `rustup --help`

It wouldn't really bother me to have commands that already modify the behaviour of my system in some way automatically install things, and would

[2021-04-12 17:52] #2694 closed, assigned to nobody

[2021-04-12 17:55] kinnison commented on #2701
@makslevental Hmm, that error message is worrisome -- What happens if you do:

`ls -ld '/home/azureuser/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/cargo'` ?

[2021-04-12 17:57] kinnison commented on #2708
On the face of it this sounds like a very sensible suggestion.

I'd like for someone to give some careful thought to what it means to change this "API"

I *think* it ought to be fine, but I'd like to be sure we've thought it through before we do any work to implement this.

[2021-04-12 18:04] kinnison commented on #2603
@kaushalyap We've not released this fix yet, I am working through the last bits of work before I can.

[2021-04-12 18:05] kinnison commented on #2681
Indeed, thank you @hi-rustin

This ought to be in the next release.

[2021-04-12 18:05] #2681 closed, assigned to nobody

[2021-04-12 18:07] kinnison opened #2717 "Installer gets killed during installation"
Please I am unable to install rust 1.51.0 on Ubuntu 20.10 (groovy).
What could be wrong?

[code]
rustup is unable to install rustc. It gets **Killed** while installing rustc.

_Originally posted by @eshikafe in https://github.com/rust-lang/rustup/issues/2661#issuecomment-816181334_

[2021-04-12 18:09] kinnison commented on #2717
Hi @eshikafe

Are you able to tell me how much RAM that system has?  Is there any indication in the kernel's logs (visible via the `dmesg` command) which corresponds with you trying to install Rust?

That kind of message typically happens if you run out of RAM, or if there's something even more wrong with the system.

[2021-04-12 18:13] kinnison commented on #2711
I think the right thing is to link to the sha256 files which are present alongside the installers on `https://rust-lang.github.io/rustup/installation/other.html`  The lines in question start at https://github.com/rust-lang/rustup/blame/master/doc/src/installation/other.md#L35

[2021-04-12 18:15] kinnison commented on #2712
This is indeed fixed in the next release.

[2021-04-12 18:16] kinnison commented on #2714
Currently the _rustup book_ is not actually distributed as part of the documentation component because it's not one of the components of a Rust installation per-se.  I suppose we could have it launch the `http` link, but I'm not sure that's entirely helpful since `rustup doc` is supposed to be offline documentation.

[2021-04-12 18:18] kinnison commented on #2713
Yeah this is awkward - I staged a release and *then* realised we were going to collide with a toolchain release.  And since then there's been more done which I'd like to include in 1.24 so I'll be re-staging a release at some point pretty soon with a view to releasing assuming all is well.

[2021-04-12 18:19] kinnison commented on #2636
@azav Unfortunately there's no way in a PR to label an issue rather than close it.  The bug is *fixed* it's just not *released* yet.

This will be fixed in 1.24 which we hope to release fairly soon.

[2021-04-12 18:21] #2693 closed, assigned to nobody

[2021-04-12 18:27] makslevental commented on #2701
@kinnison note that I had to install the toolchain using `apt-get` to work around this. So I uninstalled it (which is fine because I only needed to compile a dep of a python package) and trying to repro again I do not get this error. That is to say that cargo installed successfully when executing `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`. If I have some time soon I will try

[2021-04-12 19:39] djc commented on #2294
I was looking at the Cargo manifests for rustup and the download crate and found it pretty confusing that there seem to be like three download backends all enabled by default. Why is that?

[2021-04-12 20:24] jyn514 commented on #2714
Does it make sense to include it with the distributed docs? I guess that gets tricky since not all distributions are installed through rustup, but maybe rustup could download it at the same time it downloads `rust-docs`?

[2021-04-12 20:32] jyn514 commented on #2708
There's only a few places where rustup calls exit:
[code]
The one in `proxy_mode` comes from `run_command_for_dir`, which looks like it comes directly from the wrapper process. The other in `rustup-init` comes from `run_rustup` which apparently is used in a bunch of different places. The ones that aren't 0 look like this:
[code]
So if we change the exit code for components, we should probably chan

[2021-04-12 20:35] jyn514 commented on #2708
Oh wait, all the other errors are when running `rustup` itself, not a proxy. So there's no need to change anything other than the error from the proxy.

[2021-04-12 21:19] kinnison commented on #2294
@djc There's two backends, one with two options for TLS provider, because we've still not managed to bottom the problem which means reqwest wasn't working on armel on snapcraft, and we're not *certain* yet about the TLS provider change, so while we have a default, we're providing options for testing.

[2021-04-12 21:21] kinnison commented on #2714
I think if we were to distribute the book we should simply bundle it into the release so that an update of rustup would get it.  We could even compile it into rustup if we wanted to get particularly grungy.

[2021-04-12 22:22] bk2204 commented on #2711
Sure, that would definitely meet my needs.  I'll see if I can find some time in the near future to get to it if nobody picks it up first.

[2021-04-14 03:34] 0xPoe commented on #2711
I am working on this.

[2021-04-14 18:46] winksaville opened #2720 "The docs at rust-lang.github.io/rustup are from master"
**Problem**
I was reading the [rustup/docs the-toolchain-file](https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file)
section and tried to use `rust-toolchain.toml` but it didn't work. As it turns out support for `.toml` was added after
the 1.23.1 release.

**Steps**
The second paragraph in [rustup/docs the-toolchain-file](https://rust-lang.github.io/rustup/overrides.html#the-toolch

[2021-04-14 19:13] kinnison commented on #2720
This is not a bug per-se - the issue is that we're staging a new release and unfortunately because we're taking our time over it, the docs were updated prematurely.  1.24.0 is slated for release in the next little while so the docs will align again at that point.  After that I'll look into whether we can make the doc-update a manual step rather than always happening on pushes to our stable staging

[2021-04-14 19:35] winksaville commented on #2720
I would like to suggest the docs be updated when the "release" actually happens, hopefully that can be automatic. I tend to like having file extensions when possible and glad to see a new release is eminent so I can use `rust-toolchain.toml` :)

[2021-04-15 07:00] rbtcollins commented on #2720
The technical interactions here are as follows.

Releasing is a highly manual process taking an extended period to complete.
The release branch exists to to make the code visible, allow fix PRs to be targeted,  etc.
Such fix PRs are often needed as part of the release process.
The docs come from the release branch, as part of reducing the manual overhead of that release process.

[2021-04-16 15:12] vanillajonathan opened #2723 "Offer/apply Shell autocompletion as part of `rustup-init.sh` ?"
When installing, we should detect the user's login shell if possible and then offer to add autocompletion sourcing to their init files.  Perhaps this could be done generically in the `$CARGO_HOME/env` file, but if not, then we may need to do per-shell handling.

---

As an 'agile' story this might be:

* As a users of rustup
* When I freshly install Rust
* I would like to have shell autocompletion

[2021-04-16 15:41] kinnison commented on #2723
Hi @vanillajonathan
There's already this kind of functionality - see:

https://rust-lang.github.io/rustup/installation/index.html#enable-tab-completion-for-bash-fish-zsh-or-powershell

[2021-04-16 15:53] vanillajonathan commented on #2723
Thanks, but I feel like this should have just have worked without me having to find out how enable it manually myself.

I think it should have done this for me when I went to https://www.rust-lang.org/learn/get-started and installed it with:

    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

[2021-04-16 16:00] kinnison commented on #2723
I shall rework this issue to that effect.

[2021-04-17 10:14] eshikafe commented on #2717
Thanks @kinnison for the hint. I increased my VM's RAM from 1G to 4G to resolve the issue.

[2021-04-17 14:07] rbtcollins commented on #2704
@diru1100 how did you trigger the bug? Did you run an update to rust from the CLI? Or from some vscode extension?

[2021-04-17 15:26] 0xPoe commented on #2639
I am working on this.

[2021-04-17 20:39] workingjubilee opened #2726 "System-Rust-override warning is too scary"
If a user installs Rust from Rustup, they probably want to install Rust from Rustup. They should be clearly and explicitly cautioned about what is happening, but the message should not try to implicitly dissuade them from continuing, as many package managers are now delivering Rust for system dependencies. Instead, it should be relatively reassuring: Rust's stability promises mean that even if som

[2021-04-17 20:55] workingjubilee commented on #2726
This echoes the needs of https://github.com/rust-lang/rustup/issues/1490 so it is fine if it is closed as a duplicate, however the messaging is still really intense.

[2021-04-17 21:00] workingjubilee commented on #2672
Observationally, given the problem is not reading the messaging, and a large number of people do express confusion about rustc's messaging even when it is solved by reading the error message, we should definitely appreciate those details and not expect this to be completely solved, either way.

[2021-04-21 05:41] yihuang commented on #817
https://github.com/oxalica/rust-overlay/tree/master/manifests/nightly/

I find this link pretty useful 😄

[2021-04-21 08:47] kellda commented on #2146
What about  calling `install_from_dist` (the same function as `rustup toolchain install` calls) when `--allow-downgrade` is passed to `rustup component add` ? Would we need to prevent upgrading the toolchain in this case ?

[2021-04-21 17:31] #2286 closed, assigned to nobody

[2021-04-23 13:03] spastorino opened #2729 "`rustup update` failing with could not rename component file"
[code]

[2021-04-23 13:05] jyn514 commented on #2729
@spastorino Kinnison said on discord:

[2021-04-23 13:45] rbtcollins commented on #2729
wheres the actual end of the output? I see the rollback start, but not the actual original error that triggered the rollback.

The could-not-renames are just symptoms of whatever the problem was I think

[2021-04-23 14:24] rbtcollins opened #2730 "Detect dead code better"
We should stop using 'pub' and instead use 'crate' within rustup. Rustup has no exported API, but having pub functions results in dead types and functions not being detected. https://github.com/rust-lang/rust/pull/79061 is an example of this technique applied to rustdoc

[2021-04-23 14:30] spastorino commented on #2729
ohh yeah I see the problem

[2021-04-23 14:32] spastorino commented on #2729
Uninstalled and installed again and it's now working. Anyway, unsure what happened or how the component file got corrupted.

[2021-04-23 14:50] rbtcollins commented on #2729
dup of #2417

[2021-04-24 01:22] bruxisma commented on #1122
Hello!

It might be interesting to note that VS has supported a "guaranteed install path" for command line usage for some time, and to allow grabbing specific components as needed. Information can be found [here](https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio?view=vs-2019)

With the Build Tools components (the command line focused ones th

[2021-04-24 04:55] 0xPoe commented on #2730
I am working on this.

[2021-04-24 18:40] firasuke commented on #2213
You might have better luck trying [llvm-crt-replacement](https://github.com/staalmannen/llvm-crt-replacement).

[2021-04-25 15:40] jyn514 commented on #2621
Would it make sense to do this, but only as a warning? "help: did you mean `rustup toolchain install 1.0.0`"?

[2021-04-25 19:35] workingjubilee opened #2733 "Mysterious hangs on MacOS"
In https://github.com/rust-lang/rustup/pull/1071, a mild timeout was added to wait a second if rustc on the Apple environment was feeling truculent. Since, this has raised to 10 seconds, an order of magnitude increase, but it has still not actually fixed the problem: https://github.com/rust-lang/rustup/pull/2731

Presumably, this is happening on `x86_64-apple-darwin`, but it might be happening as

[2021-04-26 04:56] rbtcollins opened #2734 "latent file removal bug"
I just noticed that `ensure_file_removed` doesn't have the retry logic that `remove_file` does (both in `utils.rs`: the difference between them is solely that a file-not-found error is ignored by ensure-file-removed; so we should apply the retry logic - in fact we should just layer `ensure_file_removed` on `remove_file`.

[2021-04-26 08:45] kinnison commented on #2733
I concur that this is worthwhile investigating.  I think comment mentioned older toolchains so it may be something we cannot necessarily reliably address, but if someone with a mac could take a look, reduce the timeout to say 1s, and see which toolchains reliably fail then we can investigate why.

[2021-04-26 08:46] kinnison commented on #2733
If someone wants to help with this, they'll need a mac specifically.

[2021-04-26 12:17] RalfJung opened #2736 "Make "skipping nightly which is missing installed component" more prominent"
**Describe the problem you are trying to solve**

When only looking at the final summary printed by `rustup`, one cannot tell that a nightly was skipped due to missing components:
[code]

**Describe the solution you'd like**

It would be nice to add some indication to the summary that the latest nightly installed is *not* the latest nightly, due to missing components. For example:
[code]
This is q

[2021-04-27 06:09] rbtcollins commented on #2704
@XAMPPRocky any further insight on this? All the evidence so far is the known concurrency limitations as I mention above. I'd like to close this as a dupe, but I don't want to if there is a good chance its a different cause (e.g. some IO corruption on MacOS X).

[2021-04-27 06:33] me-diru commented on #2704
hey @rbtcollins, I got the bug in a specific project directory. Rust was working fine in other terminal windows afaik. First I tried doing ```rustup update```, which temporarily fixed the problem until I did what you suggested.

I do have these 3 in the toolchains folder if that helps:
[code]

[2021-04-27 06:36] XAMPPRocky commented on #2704
@rbtcollins Feel free to close as dupe.

[2021-04-27 15:23] EverlastingBugstopper opened #2737 "cargo-fmt does not work with rustup 1.24.0"
**Problem**
`cargo fmt` can no longer be run as of rustup 1.24.0

**Steps**
[code]

**Possible Solution(s)**
This seems to work just fine on rustup 1.23.1, so we should likely be looking at recent changes

**Notes**

[code]

[code]

[2021-04-27 15:27] 0xPoe commented on #2737
It seems introduced by https://github.com/rust-lang/rustup/pull/2716.

[2021-04-27 15:54] #2737 closed, assigned to nobody

[2021-04-27 16:03] emilyalbini commented on #2737
We reverted the production branch of Rustup to the known good version 1.23.1.

[2021-04-27 16:17] workingjubilee opened #2739 "Testing for proxying, including both TOOLS and DUP_TOOLS"
(Note: this has been edited by the rustup team)

1.24.0 shipped with the ability to run `cargo fmt`, untested.

1.24.1 will not have that defect.
We need to test to make sure that:
- rustup correctly proxies to all of its core tools rather than the subset currently checked.
- rustup correctly proxies to its `DUP_TOOLS` list.

[2021-04-27 16:35] rbtcollins commented on #2739
Rustup doesn't do the third Item on your list.

[2021-04-27 19:03] rbtcollins commented on #2704
@diru1100 did you have vscode or another IDE open at the time you ran rustup ?
Oh I think I might have a lead on it - do you have a toolchain fail in that directory? @XAMPPRocky do you use toolchain files?

[2021-04-28 02:59] 0xPoe commented on #2739
Test all proxies on macOS Catalina 10.15.7 19H2 x86_64

All proxies working well.

The package cargo-cache for cargo was also tested.

See: https://discord.com/channels/442252698964721669/463480252723888159/836798461134897152

[2021-04-28 03:12] 0xPoe commented on #2739
If anyone wants to help test, you can use the following command to upgrade to 1.24.1(linux/macos/git-bash):

[code]

[2021-04-28 04:14] 0xPoe commented on #2733
I am working on this.

[2021-04-28 08:01] kinnison opened #2741 "Release process should include explicit beta test period"
We should update the release process to include an explicit beta testing process where the staged release is offered up to users to validate that no regressions have been introduced.  Since there are a lot of release process items tied to pushing to the `stable` branch, this will involve:

* Agreeing the subset of binaries which will be included in this beta process
* Designating a `beta` branch f

[2021-04-28 13:49] 0xPoe commented on #2733
I will test it tomorrow.

[2021-04-28 16:15] svenstaro opened #2742 "Ensure release process reliably and effectively communicates releases to distro packagers"
Hello, yesterday [you appear to have released 1.24.1](https://github.com/rust-lang/rustup/blob/master/CHANGELOG.md) as per the changelog but you didn't make a tag for it. Could you please publicize the tag?

[2021-04-28 16:33] kinnison commented on #2742
We did not release 1.24.1 yesterday, we've asked for beta testing.  We will announce when we release it.

We released 1.24.0 and then had to withdraw it due to a regression.

Again, 1.24.1 is *NOT* considered released yet, please do not publicise it as anything other than beta-grade.

[2021-04-28 16:35] svenstaro commented on #2742
How can I know whether something is a beta or a proper release? I'm asking as I'm the Arch maintainer for rustup and then had to patch 1.24.0 downstream.

[2021-04-28 16:39] kinnison commented on #2742
We announce when a new release is public, and the version number available from https://static.rust-lang.org/rustup/release-stable.toml - I'd recommend waiting an hour or two at least after that number updates in case we have to roll back.  1.24.0 is effectively withdrawn from use and should not be being published by Arch at this time.

I'm sorry for how awkward this release was, normally we can p

[2021-04-29 06:48] me-diru commented on #2704
Yup, the terminal which gave the error was in VSCode.

Not sure about this

[2021-04-29 06:49] XAMPPRocky commented on #2704
Yeah, we do in our largest projects, and the errors I gave in the original post was from one of those projects.

[2021-04-29 09:28] 0xPoe commented on #2733
I can reproduce it. I can try to investigate why it's timeout.

[code]

[2021-04-29 09:38] rbtcollins commented on #2704
@diru1100 I think you may have a different bug then, if you don't have a toolchain file.

@XAMPPRocky toolchain files trigger implicit installation. I wonder if something like this is possible:
IDE runs several comands at once: each -> triggers implicit install, concurrency corruption bug occurs.

[2021-04-29 14:38] rbtcollins commented on #2742
We're going to work up an RFC for doing pre-release workflows etc, and will value your input on that. I think perhaps leaving this bug open to talk about that might be an idea.

That said, I think if we've published a binary image anywhere, having a tag that matches that is just a good practice, and costs us just some education - and perhaps figuring out how to be clear about the tag (e.g. tag it

[2021-04-29 14:40] svenstaro commented on #2742
Some projects use the GitHub pre-release feature which is pretty good to communicate the state of a release.

[2021-04-29 16:31] kinnison commented on #2648
1.24.1 has now been released and hopefully won't need to be withdrawn.

[2021-04-29 16:31] #2648 closed, assigned to nobody

[2021-04-29 16:31] kinnison commented on #2712
1.24.1 has now been released and hopefully won't need to be withdrawn.

[2021-04-29 16:31] #2712 closed, assigned to nobody

[2021-04-29 16:32] kinnison commented on #2713
1.24.1 has now been released and hopefully won't need to be withdrawn.

[2021-04-29 16:32] #2713 closed, assigned to nobody

[2021-04-29 16:32] kinnison commented on #2720
For now, I'm going to close this.  We'll have a wider discussion about beta testing which will include documentation.  1.24.1 is now out.

[2021-04-29 16:32] #2720 closed, assigned to nobody

[2021-04-29 16:33] kinnison commented on #2742
We have now released 1.24.1 and I've pushed the tag to the repository.  Thanks for the pointer to pre-release functionality on github, I'll add that to the notes for sorting a better beta-testing process and thus a better release process all told.

Thank you also for looking after the Arch packages.

[2021-04-29 17:22] svenstaro commented on #2742
Cool, I pushed 1.24.1 to Arch repos.

[2021-04-29 18:11] #2711 closed, assigned to nobody

[2021-04-29 18:27] #2705 closed, assigned to nobody

[2021-04-29 18:30] kinnison commented on #2726
I agree this is related #1490 but your point about the messaging is valid and could be resolved before we do anything more complex.  As such I'd love it if someone would propose some relacement messages whose tone is a little more cautionary rather than scary.

[2021-04-29 18:37] kinnison commented on #2146
It would indeed need to prevent upgrade, which would complicate the install-from-dist interface again :(

[2021-04-29 18:41] #2685 closed, assigned to nobody

[2021-04-29 18:42] kinnison commented on #2621
I think that would be acceptable.  Yes.  I'll retitle the issue.

if someone wishes to tackle this, it should be fairly easy to complete.

[2021-04-29 19:33] workingjubilee commented on #2733
@rustbot modify labels: +O-macos

[2021-04-29 20:25] workingjubilee commented on #2680
@rustbot label: +O-windows

[2021-04-29 20:27] workingjubilee commented on #2612
@rustbot modify labels: +O-windows, +A-aarch64

[2021-04-29 20:29] workingjubilee commented on #2418
@rustbot label: +O-windows

[2021-04-29 20:29] workingjubilee commented on #2441
@rustbot label: +O-windows

[2021-04-29 20:29] workingjubilee commented on #2511
@rustbot label: +O-windows

[2021-04-29 20:30] workingjubilee commented on #2590
@rustbot label: +O-windows

[2021-04-29 20:31] workingjubilee commented on #2203
@rustbot label: +O-windows

[2021-04-29 20:32] workingjubilee commented on #2206
@rustbot label: +O-windows +O-linux

[2021-04-29 20:32] workingjubilee commented on #2213
@rustbot label: +O-linux

[2021-04-29 20:33] workingjubilee commented on #1994
@rustbot label: +O-windows +O-containers

[2021-04-29 20:33] workingjubilee commented on #1865
@rustbot label: +O-windows

[2021-04-29 20:33] workingjubilee commented on #1866
@rustbot label: +O-windows +O-linux

[2021-04-29 20:34] workingjubilee commented on #1332
@rustbot label: +O-windows

[2021-04-29 20:34] workingjubilee commented on #1462
@rustbot label: +O-windows

[2021-04-29 20:35] workingjubilee commented on #1426
@rustbot label: +O-windows

[2021-04-29 20:35] workingjubilee commented on #1912
@rustbot label: +O-windows

[2021-04-29 20:36] workingjubilee commented on #1947
@rustbot label: +O-windows

[2021-04-29 20:36] workingjubilee commented on #2311
@rustbot label: +O-bsd

[2021-04-29 20:36] workingjubilee commented on #2292
@rustbot label: +O-windows

[2021-04-29 20:38] workingjubilee commented on #1826
@rustbot label: +O-windows

[2021-04-29 20:38] workingjubilee commented on #1509
@rustbot label: +O-bsd

[2021-04-29 20:38] workingjubilee commented on #1515
@rustbot label: +O-macos

[2021-04-29 20:39] workingjubilee commented on #1565
@rustbot label: +O-linux

[2021-04-29 20:39] workingjubilee commented on #2168
@rustbot label: +O-bsd

[2021-04-29 20:40] workingjubilee commented on #1894
@rustbot label: +O-bsd

[2021-04-29 20:40] workingjubilee commented on #2629
@rustbot label: +O-bsd

[2021-04-29 20:42] workingjubilee commented on #1236
@rustbot label: +O-macos

[2021-04-29 20:42] workingjubilee commented on #1274
@rustbot label: +O-macos

[2021-04-29 20:43] valpackett commented on #1509
This should be closed by now, we're far away from 2018 :)

[2021-04-29 20:44] workingjubilee commented on #1122
@rustbot label: +O-windows

[2021-04-29 20:45] workingjubilee commented on #1647
@rustbot label: +O-windows

[2021-04-29 20:46] #1509 closed, assigned to nobody

[2021-04-29 20:46] workingjubilee commented on #912
@rustbot label: +O-windows

[2021-04-29 20:48] workingjubilee commented on #1559
@rustbot label: +O-linux

[2021-04-29 20:51] workingjubilee commented on #2700
I do not believe all BSDs support `/proc`, so I am labeling this as a BSD issue until it is confirmed otherwise.
@rustbot label:+O-bsd

[2021-04-29 20:53] workingjubilee commented on #1900
@rustbot label: +O-windows

[2021-04-29 20:54] workingjubilee commented on #1911
@rustbot label: +O-linux

[2021-04-29 21:03] workingjubilee commented on #1568
@rustbot label: +O-windows

[2021-04-29 21:03] workingjubilee commented on #1729
@rustbot label: +O-linux

[2021-04-29 21:05] workingjubilee commented on #1490
@rustbot label: +O-linux

[2021-04-29 21:06] workingjubilee commented on #2688
@rustbot label: +O-linux

[2021-04-29 21:06] workingjubilee commented on #2689
@rustbot label: +O-linux

[2021-04-29 21:07] workingjubilee commented on #2726
@rustbot label: +O-linux

[2021-04-29 21:07] workingjubilee commented on #2662
@rustbot label: +O-linux

[2021-04-29 21:09] workingjubilee commented on #932
@rustbot label: +O-linux

[2021-04-29 21:11] workingjubilee commented on #2742
@rustbot label: +O-linux

[2021-04-29 21:12] workingjubilee commented on #2706
@rustbot label: +O-macos +A-x86-64

[2021-04-29 21:13] workingjubilee commented on #2692
@rustbot label: +O-macos +A-aarch64

[2021-04-29 21:45] rbtcollins commented on #2511
there are multiple of issues here: to update in-use programs requires shutting down running instances of programs; CARGO_HOME is presumed writable, and Rustup writes to CARGO_HOME. Rustup has on-demand installation of toolchains so would need all users to be able to elevate on-demand, kill off all running users processes even if the user was not active (because of Terminal Services) and then conti

[2021-04-30 00:38] miigotu commented on #2700
This is debian buster

[2021-04-30 06:56] jyn514 commented on #2311
@workingjubilee this is unrelated to BSD, you can install tcsh on any machine. In my case this was CentOS 8, but I've used it on ubuntu as well.

[2021-04-30 06:56] jyn514 commented on #2311
@rustbot label: -O-bsd

[2021-04-30 14:19] shaneutt commented on #2168
I did end up digging into this, but I've had to drop it due to other life priorities. The patches to llvm/libc are the bigger painpoints there in terms of the amount of time that needs to be dedicated to this.

[2021-05-01 13:38] tlinford commented on #2704
@rbtcollins not sure if this is useful, but I came across this when I opened a folder with a `rust-toolchain` file inside in vs code with rust-analyzer and rust-analyzer downloaded the toolchain.
Fixed it with:
`rustup component remove cargo`
`rustup component add cargo`

Also tried to reproduce by removing the toolchain, and letting rust-analyzer fetch it again, but it doesn't seem to happen ever

[2021-05-02 03:48] 0xPoe commented on #2733
The show command does not timeout on my computer, only when installing.

[2021-05-02 06:04] joshtriplett commented on #2488
I'm working on patches to try this in the Rust distribution process. Right now, those patches are waiting on https://github.com/gyscos/zstd-rs/pull/117 to go into a released version of the zstd crate, because Rust tarballs benefit greatly from zstd's long-distance matching mode.

[2021-05-02 08:58] kinnison commented on #2488
Great to hear - if you need any extra work on our side to enable your experiments, please let me know.  I fully expect that we'll not have done everything right first time :D

[2021-05-02 21:49] rbtcollins commented on #2488
I worry about the reference to memory footprint: we have literally just
resolved issues extracting large files from tarballs on platforms like
raspberry pi; requiring hundreds of MB of RAM in working set to decompress
will not work for a significant number of use cases.

[2021-05-03 05:48] joshtriplett commented on #2488
@rbtcollins I'd expect zst to typically take less memory on decompression, and *much* less decompression time (by a factor of 10). And gzip isn't going away.

[2021-05-03 08:44] rbtcollins commented on #2704
@XAMPPRocky do your teams use an IDE and rust-analyzer by chance?

[2021-05-03 08:47] XAMPPRocky commented on #2704
Yes, 100% I believe most people are using VS Code with rust-analyzer.

[2021-05-03 09:47] rbtcollins commented on #2704
Duplicate of #988 for sure at this point.

[2021-05-03 09:47] #2704 closed, assigned to nobody

[2021-05-03 10:00] rbtcollins commented on #2717
Should be fixed with 1.24.1

[2021-05-03 10:02] emilyalbini commented on #2488
Just a note, I'm not sure whether it will be feasible to provide *three* compression formats. Our releases are already huge and we store them forever, so adding more duplication could be an issue. The infra team would need to discuss what we're going to serve to users.

[2021-05-03 11:57] rbtcollins commented on #2488
Rustup would need to figure out logic for when to choose which once as
well..., probably solvable, but not zero cost.

[2021-05-03 16:29] foresterre commented on #2717
I think this is the same issue, but I'm not 100% sure, my apologies if it isn't.

---

@rbtcollins It may potentially still be an issue

On the github CI which has 500MB allocated RAM, rustup seems to sometimes time out with Rustup 1.24.1 too:

<details>
<summary>Details</summary>

[code]

sources: https://github.com/foresterre/cargo-msrv/pull/71, https://github.com/foresterre/cargo-msrv/pull/71/c

[2021-05-03 21:08] joshtriplett commented on #2488
@pietroalbini I'm not expecting that we should supply three. I'm hoping that we move from gz/xz to gz/zst. I'm working on a proposal for that.

[2021-05-04 01:59] wezm opened #2748 "rustup 1.24.1 fails to install Rust 1.38.0 on Windows in Travis CI due to failure to allocate memory"
**Problem**

`rustup` 1.24.1 fails to install Rust 1.38.0 on Windows in Travis CI due to failure to allocate memory. Interestingly installing Rust 1.51.1 with this version of `rustup` does succeed. Here's an example log:

[code]

Installing Rust 1.38.0 in this environment works with `rustup` 1.23.1.

**Steps**

1. Attempt to install Rust 1.38.0 in a Windows Travis CI build, see https://github.com/

[2021-05-04 03:22] joshrotenberg commented on #2734
I'm gonna give this one a shot if that's cool.

[2021-05-04 07:06] messense commented on #2748
Same issue on GitHub Actions

[code]

[2021-05-04 10:59] XAMPPRocky opened #2749 "rustup-init with rust-toolchain"
**Describe the problem you are trying to solve**
With the introduction of the TOML version of `rust-toolchain`, there isn't an easy way to install the exact version and components without also first installing the default toolchain. Where as with the old one line version you could write `rustup-init --default-toolchain $(cat rust-toolchain)`.

**Describe the solution you'd like**
`rustup-init --fr

[2021-05-04 12:26] foresterre commented on #2748
Yes!, this seems to be the same issue I observed yesterday.

From https://github.com/rust-lang/rustup/issues/2717#issuecomment-831377775:

[2021-05-04 16:58] #2748 closed, assigned to nobody

[2021-05-04 16:58] kinnison commented on #2748
I think we'll have to look to a 1.24.2 after the Rust release (so perhaps next week)

[2021-05-04 18:21] rbtcollins commented on #2749
Dup of #2686 with the mild tweak of permitting it during rustup-init.

[2021-05-04 18:21] #2749 closed, assigned to nobody

[2021-05-04 18:25] rbtcollins commented on #2686
There's a request to permit this during rustup-init as well; I've marked them as dup because I think its basically the same work... getting to a oneline for rustup not being installed is doable via:
`rustup-init -y --no-update-default-toolchain && rustup toolchain ensure .` (or whatever design we end up settling on).

[2021-05-04 18:35] rbtcollins commented on #2726
I can concur with the scariness aspect, but I'd like to clarify something: what are distros doing that leads to rustc/cargo being installed as part of the distro for system dependencies? Unlike python rustc/cargo are only needed when building system components, so unless someone is developing system packages, they shouldn't need a distro packaged rustc/cargo, correct?

[2021-05-04 19:02] rbtcollins commented on #2736
Well there is the date on the nightly?

[2021-05-04 19:46] RalfJung commented on #2736
That makes it impossible to distinguish "there was no nightly" from "a nightly was skipped".

Now, "there was no nightly" is rare, so maybe I am overly paranoid here -- but it *has* happened in the past. :)

[2021-05-04 19:57] rbtcollins commented on #2736
The diagnostic details are still present higher up - nothing stops you looking up higher to see once the date suggests something is up.

I do appreciate that just looking at the summary is convenient, and I'm not proposing to close the bug, but I don't have better ideas to propose so far :).

[2021-05-05 00:27] nekevss commented on #2365
Following up. I had to install zram and then run the below command to install rust (mainly get past the second rustc download).

RUSTUP_UNPACK_RAM=16777216 rustup toolchain install stable-armv7-unknown-linux-gnueabihf

[2021-05-05 07:01] kinnison commented on #2365
@nekevss Did you need that even with Rustup 1.24.1 ?

[2021-05-05 13:47] kinnison opened #2754 "Test needed - Verify streaming file installation"
While preparing 1.24.2 we encountered a problem where streamed files were all NUL bytes.

This was easy to fix, but highlights the fact that our test set does not include any files large enough to trigger the streaming installation mode.

We should ensure that at least one (and at most a small number) of our tests validate that (a) the streaming mode is invoked (i.e. files larger than `IO_CHUNK_SI

[2021-05-05 13:52] rbtcollins commented on #2754
I think we have a test... But don't test the content.

[2021-05-05 17:25] Gargo commented on #2040
I have the same issue but currently the command is:

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

this path doesn't support your `--no-modify-path`

[2021-05-05 18:52] kinnison commented on #2040
add `-s -- --no-modify-path`?

[2021-05-05 21:42] nekevss commented on #2365
@kinnison Yepp, rustup 1.24.1 with rustc 1.51.0.

Worth noting, I just got my Raspberry Pi 4, so I could've been overlooking something. But I kept getting the error "memory allocation of 16777216 bytes failed" on the second install/download of rustc. The above command finally got it to run and so I thought I'd add to the thread since this was helpful for me to figure out.

[2021-05-06 17:01] Gumichocopengin8 opened #2757 "rustup self update causes error on Mac"
**Problem**

I tried to update rustup itself, but when I run `rustup self update`, I got the following errors.

[code]

I installed rust through Homebrew, so I run `brew upgrade`. Nothing helped tho.

**Steps**

1. install Rust through Homebrew
2. When new rustup version is. available, run `rustup self update`
3. You'll get the errors

**Possible Solution(s)**

**Notes**

Output of `rustup --versi

[2021-05-07 00:21] carols10cents commented on #2621
Hm, I think if I typed `rustup toolchain install 1.0` after being used to typing `rustup toolchain install 1.50` and rustup said `help: did you mean rustup toolchain install 1.0.0` I would be sad and angry.

[2021-05-07 07:31] loehden commented on #2128
I now get the same error on my Raspberry Pi 4 with 4 GB RAM (> 3 GB free) and had to reduce the the unpack size even more. `RUSTUP_UNPACK_RAM=20000000` worked, but this is < 20 MiB and thus smaller than `rustc`, weird.

[2021-05-07 07:48] kinnison commented on #2757
If you installed `rustup` through homebrew, then you will only get your updates via that channel.  We cannot control/override that.  You will need to contact the maintainer of homebrew's rustup package.

[2021-05-07 07:48] #2757 closed, assigned to nobody

[2021-05-07 07:49] kinnison commented on #2128
That is quite surprising @loehden - Are you running a 32bit or a 64bit userland on that Pi 4?

[2021-05-07 08:06] #2621 closed, assigned to nobody

[2021-05-07 13:41] wongsyrone opened #2759 "fail to allocate memory when run `rustup update`"
**Problem**
Fail to allocate memory when I run `rustup update` on Windows 10 x64 using cmd.exe
[code]
**Steps**

1. run `rustup update`
2.
3.

**Possible Solution(s)**

setting the environment variable RUSTUP_UNPACK_RAM to 21474836480 **does NOT** solve the problem

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]