[2021-05-07 17:37] rbtcollins commented on #2128
I'd be interested in whether this patch: https://github.com/rust-lang/rustup/pull/2756 behaves better.

[2021-05-08 01:33] wongsyrone commented on #2759
setting the environment variable RUSTUP_UNPACK_RAM to 21474836480 **does NOT** solve the problem.

How can I get my toolchain back as I cannot install it anymore?

[2021-05-08 03:47] wongsyrone commented on #2759
I changed the value, it looks like working now.
[code]

[2021-05-08 12:00] Zerotask opened #2761 "Update from 1.51.0 to 1.52.0 failed"
**Problem**
Update from 1.51.0 to 1.52.0 failed

**Steps**

1. opened PowerShell Core (Windows 10)
2. run `rustup update`

<details>
info: syncing channel updates for 'stable-x86_64-pc-windows-msvc'
info: latest update on 2021-05-06, rust version 1.52.0 (88f19c6da 2021-05-03)
info: downloading component 'rls'
info: downloading component 'rust-src'
info: downloading component 'rust-analysis'
info:

[2021-05-08 13:54] kinnison commented on #2761
This could be caused by a corrupt toolchain installation.  The likely easiest way to fix this will be to `rustup toolchain remove stable` and then `rustup toolchain install stable` once more.  It is very important that you don't have any IDEs etc. open when you do this as they can interfere.

[2021-05-08 13:57] kinnison commented on #2759
We think there's likely a problem with memory fragmentation on Windows' allocator.  We are working on a fix to this in #2756 and I hope we will resolve this fairly soon.

[2021-05-08 13:58] Zerotask commented on #2761
This worked, thanks.

[2021-05-08 14:00] kinnison commented on #2761
Excellent, sorry for the confusion.

[2021-05-08 14:00] #2761 closed, assigned to nobody

[2021-05-08 17:19] gruber123 commented on #2759
In the nighltly toolchain It fails on rustc unpack allocation cannot allocate 16 mb of memory [crash],

[2021-05-08 17:20] kinnison commented on #2759
@gruber123 what platform are you using?

[2021-05-08 17:21] gruber123 commented on #2759
windows 7 x64

[2021-05-08 17:31] kinnison commented on #2759
@gruber123 Cool, could you download and install https://github.com/rust-lang/rustup/suites/2685811520/artifacts/59213037 (you must be logged into github to download it) and then try again to do the install of nightly? (You may need to remove the incomplete/broken version first)

[2021-05-08 18:22] gruber123 commented on #2759
Thanks, I've already installed it after closing some programs, but failing message for next updates is frustrating.
With first nigthly release after stable release (v1.52) was appeared I've tried to update nightly release (before updating to stable) and failed all the time no matter how many or less programs (memory) are opened (same memory fail on rustc), after some failure I've made full update

[2021-05-08 18:44] kinnison commented on #2759
Can you please confirm - did you install the rustup-init which I linked to above?  If so, could you please run `rustup dump-testament` and paste the output of that into a comment here; and also run `rustup toolchain remove nightly` then `rustup toolchain install nightly --no-self-update` and confirm that either (a) it works or (b) it fails in which case also paste the log of doing that.

[2021-05-09 01:03] cr1901 opened #2762 "`rustc` proxy may not invoke the correct `rustc` `override` when used with external `cargo`."
**Problem**
This too may be a `cargo` problem, but since it involves the `rustc` proxy, I'll open here first.

Consider a crate with the following `src/lib.rs` and `Cargo.toml`:

[code]

[code]

My default `rustup` toolchain is `nightly`, and I have an `override` to use `stable` in this directory. `rustup` is on the path first, so the proxies will be picked up first. In addition, I have an externa

[2021-05-09 03:34] 0xPoe commented on #2576
Sorry, I forgot about this. I will take the time to add that feature recently.
cc: @jonhoo

[2021-05-09 08:27] kinnison commented on #2762
Rustup is not meant to be used in this fashion certainly.  I think you would probably do best to discuss with the Cargo team how they develop and debug in this kind of situation.  I'm not sure how overrides, partial toolchains, and so on would interact in this kind of situation.

[2021-05-09 08:28] kinnison commented on #2762
If it turns out that we're doing something wrong within Rustup itself once you've had your discussions with Cargo, we can revisit it on this issue.

[2021-05-09 16:23] rbtcollins commented on #2759
@gruber123 the custom build of rustup that @kinnison has linked may fix the problem for you, but you'll need to follow these steps:
1. download the URL he linked, which is a zip file.
2. inside the zip is a rustup-init.exe
3. run that rustup-init.exe; it will re-install rustup on top of your exinsting install
4. try uninstalling and re-installing your toolchain. Please add the option `--no-self-up

[2021-05-09 16:47] ehuss commented on #2762
This may be very difficult to solve.  Cargo would somehow need to discover which toolchain should be used, which can be difficult to discover correctly. That would need to be cached, and the existing caching is already a bit tricky and buggy.

There is documentation at https://doc.crates.io/contrib/process/working-on-cargo.html#running-cargo for how to work around this issue.

[2021-05-09 17:07] jonhoo commented on #2576
@hi-rustin That would be amazing!

[2021-05-09 17:25] #2734 closed, assigned to nobody

[2021-05-09 18:19] gruber123 commented on #2759
C:\Users\User>rustup dump-testament
Rustup version renders as: 1.24.1+433 (5360c0228 2021-05-08)
Current crate version: 1.24.1
Built from branch: remotes/pull/2756/merge
Commit info: 1.24.1+433 (5360c0228 2021-05-08)
Working tree is clean

C:\Users\User>rustup toolchain remove nightly
info: uninstalling toolchain 'nightly-x86_64-pc-windows-msvc'
info: toolchain 'nightly-x86_64-pc-windows-msvc' uni

[2021-05-09 18:24] gruber123 commented on #2759
Ok, it worked without closing extra programs

So what is custom build of rustup-init, how it's different from official version on main page?
Also on failure cases temp directory not cleaned.

[2021-05-09 19:46] cr1901 commented on #2762
@ehuss

Ahhh, this is very useful to know. Anyways, if it's very difficult to solve, then it may as well remain unsupported. As a possible solution: how difficult would it be for `rustup` proxies to notify a non-proxy `cargo` that its running a proxy `rustc` (doesn't matter which toolchain, just that the proxy was run)? Then non-proxy `cargo` could print out a nice big warning that "this is unsupp

[2021-05-09 21:36] kinnison commented on #2759
The version we asked you to try is a work-in-progress to fix the issue on the main version.  I will look to merge that tomorrow and then we can try and prepare a new beta release.  I'll keep you updated when that's done and I'll ask you to install and try the beta release then.  I'll provide instructions at that point.

[2021-05-09 21:37] kinnison commented on #2762
When Rustup invokes something via a proxy we set the `RUSTUP_TOOLCHAIN` environment variable I believe.  You might be able to use that to detect it in Cargo, but honestly it's not a guaranteed API so I wouldn't want to tie Cargo to it.  In reality it's probably better to use the mechanisms the Cargo team recommend.

[2021-05-10 01:07] cr1901 commented on #2762
Right, but there will be other people, like me, who still try what I did first before reading the docs. My question is more like "can't there be an error/big warning that points back to the Cargo docs?", knowing that people will experiment without reading the docs? And if so, is there a way for `cargo` to know that you're doing something unsupported from the `rustup` side of things.

If `RUSTUP_TO

[2021-05-10 15:30] gruber123 commented on #2759
again some problem:

C:\Users\User>rustup update nightly  --no-self-update
info: syncing channel updates for 'nightly-x86_64-pc-windows-msvc'
info: latest update on 2021-05-10, rust version 1.54.0-nightly (ca82264ec 2021-05-09)
info: downloading component 'rust-analysis'
info: downloading component 'rls'
info: downloading component 'cargo'
info: downloading component 'clippy'
info: downloading com

[2021-05-10 15:35] gruber123 commented on #2759
![2021-05-10_183311](https://user-images.githubusercontent.com/24848485/117685281-7339c300-b1be-11eb-8ffe-44b8d32ee908.png)

after update rustup still in processes of tasks list

I think it's because rls.exe was in processes also when also vs code was opened, It's not the big problem but could be better to ask for close programs that interfere with.

[2021-05-10 17:39] FoxKyong commented on #2759
I have exactly the same problem but on Raspberry Pi 3. Unitl now I was able to update with 'rustup update' without a problem. Now I can't update it nor do a clean install.

[code]

[2021-05-10 20:08] kinnison commented on #2759
@gruber123 As we state in the release announcements, you must ensure there are no IDEs etc open when updating rust toolchains, for exactly that reason.

[2021-05-10 21:09] rbtcollins commented on #2759
@FoxKyong if you wish to try a build of master with our candidate fix in it, you can find it here https://github.com/rust-lang/rustup/suites/2703495866/artifacts/59599296

[2021-05-10 23:02] tatsuya6502 opened #2764 "Failed to allocate memory when installing a Rust toolchain (`armv7-unknown-linux-gnueabihf`)"
**Problem**

A user in a Japanese Rust community has reported that he/she cannot use Rustup v1.4.1 to install Rust to a Raspberry Pi 3 (with a 32-bit Arm Linux). It fails when unpacking a component due to a memory allocation error.

[code]

Another user in the community confirmed the problem using his Raspberry Pi 3.

**Steps**

1. Run `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | s

[2021-05-10 23:02] tatsuya6502 commented on #2764
As a workaround, I told them to use Rustup v1.3.1 for now and it worked for them.

**Installing Rustup v1.3.1**

[code]

**Installing the latest Rust stable**

[code]

[2021-05-11 02:49] Arnavion commented on #2764
I had the same issue on my Raspberry Pi 3 running Raspbian 10 arm32. `RUSTUP_UNPACK_RAM=16777216 rustup update` worked for me. I didn't have to also downgrade rustup to 1.23.1; just setting that env var was enough to make rustup 1.24.1 work.

[2021-05-11 05:23] CliffHan commented on #2764
I met same problem on cubietruck(like rpi3) running latest armbian(kernel 5.10.y). `RUSTUP_UNPACK_RAM=16777216` works.

[2021-05-11 06:01] rbtcollins commented on #2764
Yes, its the same problem as # #2759

[2021-05-11 06:01] #2764 closed, assigned to nobody

[2021-05-11 06:23] loehden commented on #2128
Sorry, I must have missed my email notifications. And thanks for the fast replies!

@kinnison: I am using 32 bit Raspberry Pi OS.

@rbtcollins: Since the patch has been merged into master now, I guess I will see results at the next update, right? For the current update I still had to use the workaround (got the same error, even had to use `RUSTUP_UNPACK_RAM=18000000` now).

[2021-05-11 09:48] kinnison commented on #2128
I've updated the beta post on the users forum @loehden - If you get a chance, could you try https://internals.rust-lang.org/t/seeking-testers-for-rustup-1-24-2-beta/14634/6 ?

[2021-05-11 09:49] kinnison commented on #2764
I've updated the beta testing post on the users forum with details of how to test our proposed fix - https://internals.rust-lang.org/t/seeking-testers-for-rustup-1-24-2-beta/14634/6

[2021-05-11 09:49] kinnison commented on #2759
I've updated the beta testing post on the users forum with details of how to test our proposed fix - https://internals.rust-lang.org/t/seeking-testers-for-rustup-1-24-2-beta/14634/6

[2021-05-11 10:35] tatsuya6502 commented on #2759
Thank you for addressing this issue and letting us know about the beta testing. I asked one of the users who reported a duplicate issue #2764 on Raspberry Pi 3 to join the beta testing. So far, so good; he verified that Rustup v1.24.2 beta can install the latest Rust stable tool chain without problem.

**Raspberry Pi 3 running Raspbian Buster arm32** (`armv7-unknown-linux-gnueabihf`)

[code]

[2021-05-11 10:45] tspiteri opened #2765 "Requiring --force-non-host for *-pc-windows-gnu"
When I try to install a *-pc-windows-gnu toolchain on Windows, I always get something like
[code]

Does it really make sense to require `--force-non-host` for a GNU toolchain install under Windows? I do not want to cross compile, so I don't think it makes sense to use `rustup target add` instead.

[2021-05-11 12:19] kinnison commented on #2765
I agree, we ought not to give this warning for these toolchain variants.  @rbtcollins do you agree?  I think it ought to be fairly easy to special-case the windows gnu/msvc variants here.

[2021-05-11 12:23] kinnison commented on #2759
That's great news, thank you for that.  We'll hold off a little while in case other reports come in, but I think we have a candidate for 1.24.2 :D

[2021-05-11 13:35] ghost commented on #2759
I also got this problem randomly with newly installed Windows 10 21H1 and WSL. I saw an allocation error on the first try, and the second was successful.

[2021-05-11 13:37] ghost commented on #2759
[code]

[2021-05-11 13:40] kinnison commented on #2759
@ghost Are you using the 1.24.2 beta release as per the above comments?

[2021-05-11 13:41] ghost commented on #2759
@kinnison I downloaded from https://win.rustup.rs.

[2021-05-11 13:42] ghost commented on #2759
@kinnison I'm using 1.24.1.
[code]

[2021-05-11 13:45] kinnison commented on #2759
@ghost Could you please follow the instructions in https://internals.rust-lang.org/t/seeking-testers-for-rustup-1-24-2-beta/14634/6 to get the beta copy and try that?

[2021-05-11 15:31] ghost commented on #2759
After changing the version to beta, I was able to see a significant difference. When running rust-analyzer in vscode with rustup version 1.24.1 it took a very long time than usual. With version 1.24.2 beta it took me the usual time again. Maybe rust-analyzer uses rustup internally.

[2021-05-11 15:44] y3g0r commented on #1274
Had the same issue on MacOS Catalina 10.15.7 (19H1030)

`curl 7.54.0 (x86_64-apple-darwin16.5.0) libcurl/7.54.0 SecureTransport zlib/1.2.11`

Installing more recent version of curl using brew helped

[code]

[2021-05-11 15:58] Michael-F-Bryan opened #2766 "The rust-toolchain.toml file works on Linux but not on Mac"
**Problem**

I just ran into an issue in GitHub Actions where running `rustup show` on Linux will correctly download the desired nightly Rust version and components while the Mac build continued using `stable` and later failed.

**Steps**

1. Add a `rust-toolchain.toml` to your repository
2. Set up GitHub CI to build your project on Mac and Linux
3. Push the changes to kick off a build
4. Wait for

[2021-05-11 16:49] Arnavion commented on #2764
I don't have an irlo account so I'll just confirm here; 1.24.2 fixes the issue for me.

[2021-05-11 17:11] ehuss commented on #2766
Are you sure you are running rustup 1.24?  The GitHub hosted runners are updated on different cycles. [macOS 10.15](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md#rust-tools) is currently on 1.23.1 whereas [ubuntu 18](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md#rust-tools) is on 1.24.1.  macOS updates ten

[2021-05-11 18:21] FoxKyong commented on #2759
Thanks, I just tried it and it works. Installation works but I noticed another very minor issue. It adds ```. "$HOME/.cargo/env"``` to both .profile and .bashrc. It should by only at one place and I think it was before only in .profile.

[2021-05-11 19:03] rbtcollins commented on #2766
Yeah, 99.99% sure this is just an old rustup. Do a rustup self update and it should be better.

[2021-05-11 19:03] #2766 closed, assigned to nobody

[2021-05-11 20:29] ehuss commented on #2766
Self-updates are disabled on GitHub hosted runners (and Azure if IIRC).

[2021-05-11 20:54] rbtcollins commented on #2766
Ah then install a fresh copy, or file a ticket wherever that action image is maintained

[2021-05-11 21:43] kinnison commented on #2759
@FoxKyong Because the sourcing of the env file is designed to be safe to do multiple times, we now scattergun the line into as many places as possible to cover as many different shells as we can.

[2021-05-12 01:53] Michael-F-Bryan commented on #2766
@rbtcollins thanks, I re-installed `rustup` on the Mac build and it worked exactly intended.

[2021-05-12 01:59] cr1901 commented on #2762
Should this issue be xferred to `cargo` as well? I can't seem to tag @rust-lang/infra, like the previous issue did.

[2021-05-12 02:03] wongsyrone commented on #2759
I tried the beta version, works smoothly. Great job.

[2021-05-12 02:05] wongsyrone commented on #2759
Closing as the problem has been fixed.

[2021-05-12 02:05] #2759 closed, assigned to nobody

[2021-05-12 07:08] kinnison commented on #2762
@rust-lang/infra could one of you move this to cargo ?

[2021-05-14 14:09] worstpractice opened #2769 "Unexpected backtrace when adding rustup component"
Thanks to everyone working on this awesome tool! :heart:

**Problem**
In a nutshell:
![image](https://user-images.githubusercontent.com/54796463/118281039-15162400-b4cd-11eb-90cf-5558881cac6e.png)

**Steps**

1. Run `rustup component add llvm-tools` in your terminal of choice

**Notes**
My everyday configuration is having `RUST_BACKTRACE` set to `1`. It is also the configuration used in the screen

[2021-05-16 02:38] wongsyrone opened #2771 "Slab allocator panics if unpack RAM is manually set too low (or machine has < 32MB of RAM)."
**Problem**
panic when run `rustup update`  using 1.24.2 beta version

[code]

**Steps**

1. just `rustup update`
2.
3.

**Possible Solution(s)**
No idea.

**Notes**

[code]

[code]

[2021-05-16 02:39] wongsyrone commented on #2771
@kinnison The latest beta test result.

[2021-05-16 02:49] wongsyrone commented on #2771
After removing the environment variable `RUSTUP_UNPACK_RAM=20000000`, it works.

[2021-05-16 09:26] kinnison commented on #2771
I think this suggests there'll be some tweaking to be done on how we handle forced lower-RAM scenarios, but since `RUSTUP_UNPACK_RAM` is not meant for general use I'm not going to worry too badly for now, thank you for raising this.  I'm going to rework the title and leave this open, but not block the release on this.

[2021-05-16 09:27] kinnison commented on #2771
One possible fix for this could be to ensure that the minimum specified RAM limit is not below the total of 1 slab of each size.

[2021-05-16 09:43] kinnison commented on #2769
Thank you for this report, we print backtraces on normally handled errors if requested.  This is normal behaviour (though not particularly helpful in this situation I concur).

@rbtcollins Should we perhaps suppress that backtrace reporting?  it seems unhelpful and worries people.

[2021-05-16 11:04] sunknudsen commented on #2128
@loehden @kinnison I am experiencing same issue on Raspberry Pi 3B (1GB RAM) and Pi 4B (4GB RAM).

Used to be able to run `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh` flawlessly on Pi 3B.

[2021-05-16 11:10] kinnison commented on #2128
@sunknudsen If you've time you can check out the beta version linked above, otherwise if you can wait a couple of days we'll have the beta released properly as 1.24.2

[2021-05-16 11:13] sunknudsen commented on #2128
Thanks @kinnison. Unfortunately, I know little about Rust ecosystem… Is there a way to install older version of Rust using `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`?

[2021-05-16 11:20] 0xPoe commented on #2128
You can install the toolchain for a specified date:

`rustup toolchain install  nightly-2021-05-10`

About the toolchain, you can refer to https://rust-lang.github.io/rustup/concepts/toolchains.html this docs.

[2021-05-16 11:44] wongsyrone commented on #2771
Thanks. Please keep the good work.

[2021-05-16 12:49] kinnison commented on #2128
@sunknudsen It's less about installling on older Rust and more about installing either 1.23.1 of rustup (hard) or the beta copy (medium difficulty) or waiting for the new release (takes time).  If you want to do the middle one, then you need to do:  `export RUSTUP_UPDATE_ROOT=https://dev-static.rust-lang.org/rustup` before the usual installation sequence you already know.  But you need to remember

[2021-05-16 12:49] rbtcollins commented on #2771
@kinnison there is already a check for minimum size > sum of slabs : the threaded pool startup allocates one of each pool to ensure that there is no chance of starvation due to bad workload patterns. This panic is in fact exactly that check.

We can make it prettier sure, but theres no actual fault here.

[2021-05-16 12:52] rbtcollins commented on #2769
We might want to use RUSTUP_BACKTRACE only and not RUST_BACKTRACE, to make
us more invisible; OTOH that would probably get bug reports on the other
side of the equation: "why isn't this thing I know is written in rust not
reporting its backtraces".

Discriminating between a normal fault and an exceptional fault would be
good though perhaps nontrivial.

-Rob

On Sun, 16 May 2021 at 11:43, Daniel Si

[2021-05-16 14:40] worstpractice commented on #2769
To me (FWIW), a backtrace signals an unexpected internal malfunction in a piece of software.

I associate a simple error message with an expected error of some kind.

Judging from the backtrace, I'd have never suspected that to be the intended behaviour — never mind (what appears to be) an "error" originating outside the rustup binary itself.

AFAIK, it seems that the actual extent of the issue wa

[2021-05-16 20:55] sunknudsen commented on #2128
Thanks for helping out @kinnison!

[2021-05-17 10:14] kinnison commented on #2771
Mmm, in my view this kind of check should either have happened right at the start, or it should be soft - i.e. too small a limit should be bumped up to the functional minimum and a warning issued.

[2021-05-17 20:28] sunknudsen commented on #2128
Thanks for [release](https://github.com/rust-lang/rustup/releases/tag/1.24.2) @kinnison!

[2021-05-17 20:29] kinnison commented on #2128
@sunknudsen You're very welcome, thank you for being patient with this :D

[2021-05-17 21:30] ehuss opened #2773 "--force-non-host warning is too broad"
**Problem**
`rustup update stable-msvc` (or other combinations like `nightly-gnu`) on Windows generates a warning:

[code]

**Possible Solution(s)**
Don't warn about installing msvc or gnu on windows.

**Notes**

Output of `rustup --version`: rustup 1.24.2 (755e2b07e 2021-05-12)
Output of `rustup show`:
Default host: x86_64-pc-windows-msvc
rustup home:  C:\Users\User\.rustup

installed toolchains

[2021-05-18 11:47] rbtcollins commented on #2773
Note that this occurs with the *release build* of rustup, not just the gnu build of rustup. I think this is a regression.

[code]

[2021-05-18 11:49] rbtcollins commented on #2771
Sure, no in principle disagreement there. It is at the start FWIW: https://github.com/rust-lang/rustup/blob/master/src/diskio/threaded.rs#L167

[2021-05-18 11:53] rbtcollins commented on #2769
@worstpractice No - no 404; we have a database we consulted and didn't find the thing you requested in it. That then gets signalled as an error, and the error reported. I certainly agree with the broad expectation; its just hitting a rough spot here, and our ability to hide it will depend on whether we can reliably determine exceptional vs routine errors in our CLI layer.

[2021-05-18 11:58] rbtcollins commented on #2765
This and #2773 are dupes I think.

And yeah, the intent for force-non-host was to make the cross project use cases which we *do* need to support possible while allowing us to make casual use of them a hard error in a future release. Looks like the heuristic for it isn't complete yet.

As for 'cross compiling' - whether the host is built with msvc or gnu doesn't make it into a cross compiler as I u

[2021-05-18 11:59] rbtcollins commented on #2754
So we now test the content but we don't test the actual tar unpacking code which is what needed to be changed - the driver of the interface. That interface has been modified now, perhaps this isn't as risky anymore?

[2021-05-18 12:00] rbtcollins commented on #2717
Fixed by 1.24.2 for sure.

[2021-05-18 12:00] #2717 closed, assigned to nobody

[2021-05-18 12:01] rbtcollins commented on #2701
@makslevental any reproduction of the issue since then ?

[2021-05-18 14:00] tspiteri commented on #2765
It still looks like is a cross compiler to me, for example `cargo test` won't build and test doctests if using `--target`. (I don't know if there's some cargo trickery to make it work, but it doesn't by default.) It also just looks weird to me that rustup wouldn't want me to just install a tier 1 toolchain without force flags.

[2021-05-18 16:57] kinnison commented on #2754
I still feel like we ought to have an end-to-end test where we unpack a component with files below and above the streaming threshold.

[2021-05-18 18:38] #2430 closed, assigned to nobody

[2021-05-18 23:44] luqmana opened #2774 "Attempting to install Rustup 1.24.2 hangs"
**Problem**

After #2756 rustup will just hang if it's not able to determine the effective max ram of the system. The differences seem to be:
1. The fallback for when `effective_limits::memory_limit` changed from 500MB to 32MB.
2. Rustup gets stuck waiting for some memory to free up here: https://github.com/rust-lang/rustup/blob/a1d59124df97069ce210f4ca9c11f00ab2dbd5e8/src/dist/component/package.r

[2021-05-19 00:37] chrisduerr commented on #2774
This also breaks on FreeBSD, which I've noticed when my CI suddenly started failing. The default `32MB` aren't even enough for the minimal install, so I think platforms without effective limits just can't build right now.

[2021-05-19 07:09] 12101111 commented on #2213
crt is a different thing, see the doc at https://github.com/rust-lang/rust/blob/master/compiler/rustc_target/src/spec/crt_objects.rs

But it's possible to bootstrap such toolchain that don't need `libgcc_s.so` or `libunwind.so`: https://github.com/rust-lang/rust/pull/85600
[code]

[2021-05-19 07:40] Darksonn commented on #2629
See also: #2774

[2021-05-19 07:42] rbtcollins commented on #2774
hmm, a hang is unexpected: the threaded executor allocates a chunk from every slab size, and  that will allow at least one io to proceed; the streaming ios also don't have busy waits that I remember, so it should always just loop until something completes; mkdirs to let something flush don't get accounted for against the budget (sssh), so it should always be possible for `flush_ios`  to complete.

[2021-05-19 08:15] Darksonn commented on #2774
Adding the `RUSTUP_IO_THREADS=1` environment variable fixed FreeBSD CI for us.

[2021-05-19 08:39] kinnison commented on #2774
I can confirm this is reproducable on Linux, which means we (well I) stand a chance of diagnosing at least.  It's a little odd that you say 64M isn't enough for `complete` though - can you let me know which component it gets stuck on in `complete` which isn't in `default` ?  I've managed to reproduce the issue at 32M with `minimal` profile because the `rustc` component seems enough.

Is the CI you

[2021-05-19 08:51] Darksonn commented on #2774
We have a [Cirrus CI][1] setup on the Tokio github repository that we use for FreeBSD.

[1]: https://cirrus-ci.com/

[2021-05-19 22:58] sinlesschip opened #2775 "Rustup installation fails."
**Problem**
When installing rust the installation fails.
No internet connection problems.
[code]

**Steps**
1. run `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

**Possible Solution(s)**
Unsure

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]

[2021-05-19 23:23] kinnison commented on #2775
It looks like your `/tmp` is either unwritable or full.  Can you confirm if it is?

[2021-05-19 23:49] sinlesschip commented on #2775
Sorry I'm dumb, I don't how to do this. I'm not great with Linux.

[2021-05-19 23:58] sinlesschip commented on #2775
Okay, I've found in the properties through the GUI it says 182gb free space and all permissions are set to create and delete files.

[2021-05-20 07:29] kinnison commented on #2775
Don't worry, I'll do my best to help you out.  Your original report suggested that you have `snap` available to you.  If you would prefer, you could install `rustup` through `snap` which might be easier for you.  Try the following command sequence:

[code]

Hopefully that'll sort you out.

[2021-05-20 15:54] sinlesschip commented on #2775
Thanks for you help, I ran:
`$ sudo snap install rustup
`
and got this error:
[code]
Is this safe to run with the `--classic` flag?

[2021-05-20 16:53] kinnison commented on #2775
Aah yes, I forgot you'd need `--classic` - this is so that the toolchains can actually find and build your code :D  It is expected to need `--classic` at this time.

[2021-05-20 18:10] sinlesschip commented on #2775
It worked! Hm I wonder why it wouldn't install with the original command off the docs. Anyways, thank you!

[2021-05-20 20:41] #2775 closed, assigned to nobody

[2021-05-20 23:38] alex commented on #2626
Is it worth reconsidering rustup as a chimera binary, given just how much stuff gets linked that isn't relevant to `rustc` (on my machine, in order of comedy value: libkr5, libssh2, librtmp, libcurl, etc.)

Alternatively, if a chimera is still desirable, splitting most of rustup into a dynamic library that's only loaded after we've checked if we're a proxy binary.

[2021-05-21 01:57] 0xPoe commented on #2730
@rustbot  claim

[2021-05-21 01:57] 0xPoe commented on #2576
@rustbot  claim

[2021-05-21 08:10] rbtcollins commented on #1865
#2441 is more comprehensive

[2021-05-21 08:10] #1865 closed, assigned to nobody

[2021-05-21 08:16] rbtcollins commented on #2626
Yes, worth considering. I have a project (#2441) to make proxies safe on windows as well which is related; that said, how much warm startup-time impact does linking those libraries have today? Cold time is irrelevant, since a single process invocation is trivially amortised over a full build. There is some complexity consider in having a separate binary though such as distribution and updating. I

[2021-05-21 08:47] rbtcollins commented on #1912
I'm closing this as the symptom is well resolved. I'm going to file a new bug about possible future improvements.

[2021-05-21 08:47] #1912 closed, assigned to nobody

[2021-05-21 09:13] kinnison commented on #2626
IME having profiled it a bit, the majority of the startup time of the proxies, by a *LONG* margin, is the parsing of the channel toml.  Hence I played with https://github.com/rust-lang/rustup/pull/2627 though it's the wrong solution, it's an approach to consider.

[2021-05-21 09:20] rbtcollins opened #2776 "Faster installation on McAfee systems"
Some AV implementations (E.g. McAfee) hook in post-write, opening and scanning the file after it is written to disk. No implication of TOCTOU race, since they could also have a JIT check in place. But an IO pattern of:

* creat
* write
* close
* rename (either the file or a containing directory)
will race with the AV scanners

* open
* read
* close
calls on Windows OS's.
Note that the AV scanner i

[2021-05-21 15:25] Nemo157 opened #2777 "For pre 1.8 toolchains rustup claims to sync on each build"
**Problem**

In a new empty edition 2015 project, when running a pre-1.8 toolchain, it prints `info: syncing channel updates for '$toolchain'` on each build.

**Steps**
Create a new project, remove `edition = "2018"` from the `Cargo.toml`

[code]

**Notes**

Output of `rustup --version`:
[code]

Output of `rustup show`:

<details><summary>it's a lot :grin:</summary>

[code]

</details>

[2021-05-21 15:29] Nemo157 commented on #2777
Just to make sure, I deleted my `~/.cargo/config` so I could remove the `CARGO_HOME` override, the behaviour is still the same.

[2021-05-21 19:42] workingjubilee commented on #2213
@rustbot label: +O-containers

[2021-05-21 19:44] workingjubilee commented on #1239
@rustbot label: +O-containers

[2021-05-21 19:48] workingjubilee commented on #2700
True, but the relevant high-order bit there seemed to be
@rustbot label: +O-containers

[2021-05-21 19:48] workingjubilee commented on #2679
@rustbot label: +O-containers

[2021-05-22 13:38] HindrikStegenga commented on #1405
@simlay Does that mean I can somehow get Rust code to compile on tvOS with std support? And if so, could you tell me how or where I can find on how to proceed?

[2021-05-22 19:38] wijiler commented on #965
i still have this problem now

[2021-05-22 19:39] wijiler commented on #965
i change to 15.4 nightly but it still says im on 14.80 stable when i do rustc --version

[2021-05-22 19:47] wijiler opened #2778 "For some reason I can't change to nightly"
so I'm trying to use rocket but for some odd reason when I do rustup override set nightly it says it changed my version than i do rustc -V and it doesn't work

**Steps**

1.I don't know why this happened
2.
3.

**Notes**
Nightly 15.40.0
but when I do
rustc --version or rustc -V
it says I'm on stable 14.48.0??!?!?!?!?!?

[2021-05-22 20:38] Thomasdezeeuw commented on #2774
Since this breaking/blocking some stuff in the ecosystem would it be possible to just use 500MB for the time being as a workout?

[2021-05-22 20:52] jclulow commented on #2774
It's probably best to revert the regressing change for now -- the motivation was ostensibly a "hypothetical" memory fragmentation issue, whereas the hang is very real.

[2021-05-22 21:37] kinnison commented on #2774
@jclulow the fragmentation problem was very real on tier 1 platforms.  I have what I think is a fix for this hang and I hope I'll get a beta out early next week with it.

[2021-05-22 21:39] kinnison commented on #2778
The version numbers you're giving are very confused.  Current nightly is 1.54 and current stable is 1.52 so I'm not sure where 15.40 or 14.48 come from.

Can you confirm the output of:

* `which rustup`
* `which rustc`
* `rustup show`

[2021-05-22 23:26] wijiler commented on #2778
oh it's fixed now I had to restart for rust to work again

[2021-05-22 23:26] wijiler commented on #2778
im assuming it just didnt update the path

[2021-05-22 23:26] wijiler commented on #2778
untill the restart

[2021-05-22 23:26] #2778 closed, assigned to nobody

[2021-05-23 09:25] kinnison commented on #2776
Do we need to force the flush of the files?  Won't that slow down installation in general for platforms which don't suffer the AV-block ?

[2021-05-23 19:00] rbtcollins commented on #2776
I think we have a few options; filesystems don't have much in the way of implied commits these days - there is a special case around renames of $random things on top of foo, combined with flushing the content of $random thing, where ext4 famously lost content for a while back in the early 2000's. But generally speaking flushing isn't particularly expensive when done juidiciously and appropriately.

[2021-05-23 19:02] rbtcollins commented on #2774
Yeah - to be clear, the problem was concrete, the hypothetical aspect was whether fragmentation was the cause.

[2021-05-26 02:23] Zieng commented on #2692
My workaround before apple silicon becomes tier1 platform(tracked by https://github.com/rust-lang/rust/issues/73908) is first install the x86 toolchain
[code]
then in my shell config file adds
[code]

Then I can use the `rustdoc` as the equivalent of `rustup doc` .

Closing this issue as this workaround works well for my daily usage.

[2021-05-26 02:23] #2692 closed, assigned to nobody

[2021-05-26 09:15] rbtcollins commented on #2626
@kinnison it may be different on Windows

[2021-05-26 09:29] kinnison commented on #2626
@rbtcollins good point, I suppose I'd best test there too.

[2021-05-27 20:12] #2576 closed, assigned to 0xPoe

[2021-05-28 11:17] #2774 closed, assigned to nobody

[2021-05-28 11:29] #2777 closed, assigned to nobody

[2021-05-28 19:16] leoniloris opened #2785 "curl SSL certificate problem when trying to install/download from https://sh.rustup.rs (armv7, debian:buster)"
**Problem**

When running `curl https://sh.rustup.rs -sSf` I get:
[code]

**Steps**
1. docker run -it arm32v7/debian:buster bash
2. apt-get update && apt-get install ca-certificates curl
3. curl https://sh.rustup.rs -sSf

**Possible Solution(s)**

**Notes**

* my system:
[code]

* I have tried and it **didn't work**:
    - curl -k: does not work since rustup script uses curl as well, and I would n

[2021-05-28 19:52] kinnison commented on #2785
At a guess, your docker is missing the `ca-certificates` package.  Could you confirm if that is present?

[2021-05-28 19:56] leoniloris commented on #2785
Ah yes @kinnison , I forgot to mention on the original post. But yes, I installed it along with curl:

[code]

I'll edit the original post.
To complement, the docker image neither comes with curl nor ca-certificates.

[2021-05-28 20:10] kinnison commented on #2785
That's very odd.  I've just checked and the certificate is fine:

[code]

I've also checked and *my* ca-certificates is at version `20200601~deb10u2` too.

Try running `update-ca-certificates` before running `curl` ?

[2021-05-28 20:12] leoniloris commented on #2785
nothing =/

[code]

(also tried with update-ca-certificates --fresh )

[2021-05-28 20:28] kinnison commented on #2785
Odd, please install the `openssl` package and try the `s_client` command I showed above.  Let's see what the chain is that you receive.

[2021-05-28 20:47] leoniloris commented on #2785
<details><summary>Show `openssl s_client -connect sh.rustup.rs:443 -servername sh.rustup.rs` result</summary>
<p>

[code]
</p>
</details>

[2021-05-28 22:21] kinnison commented on #2785
So somehow curl can't find the root cert, which is kinda what we expected.  That file is present as `/etc/ssl/certs/ce5e74ef.0` (Also as `/etc/ssl/certs/Amazon_Root_CA_1.pem` and ultimately `/usr/share/ca-certificates/mozilla/Amazon_Root_CA_1.crt`) on my Debian system.  Is that symlink chain present on yours?

Whatever the situation is, it's not limited to Rustup's use of curl at least, so we know

[2021-05-28 22:55] leoniloris commented on #2785
Well, weirdly enough, this image/distro does not come with `/etc/ssl/certs/ce5e74ef.0` (only the other two).
I created a symlink from `/etc/ssl/certs/Amazon_Root_CA_1.pem` to `/etc/ssl/certs/ce5e74ef.0 ` and it did the trick.

Thanks a lot @kinnison !

That's very weird, because I'm not using anything "custom", just a debootstraped image + qemu static and yet, this credential was missing in this s

[2021-05-29 04:23] #2771 closed, assigned to nobody

[2021-05-29 09:21] #2785 closed, assigned to nobody

[2021-05-30 09:48] chrisduerr commented on #2677
The latest release is 1.24.2, pretty sure this is done?

[2021-05-30 14:26] kinnison commented on #2677
@chrisduerr Yep, thanks for the reminder, It took so long I lost track of this issue 😀

[2021-05-30 14:26] #2677 closed, assigned to kinnison

[2021-05-30 20:53] wgwz opened #2786 "Broken links for `utils` in crates.io"
**Problem**

Broken links for `utils` in crates.io

**Steps**

1. Go to this link: https://crates.io/crates/utils
2. Click on any of the links for Homepage, Documentation, or Repository
3. All three links above are broken

**Possible Solution(s)**

**Notes**

I'm not sure where to open this issue (broken links), I know this repo is not the right location but I suspect there is a developer here tha

[2021-05-30 20:59] wgwz commented on #2786
This not the right place. Sorry

[2021-05-30 20:59] #2786 closed, assigned to nobody

[2021-05-31 11:46] #2765 closed, assigned to nobody

[2021-05-31 11:46] #2773 closed, assigned to nobody

[2021-05-31 17:20] Thomasdezeeuw commented on #2774
Can we get a release for this? It's breaking the CI for a lot of people still.

[2021-05-31 17:33] kinnison commented on #2774
@Thomasdezeeuw My intention is to prepare a beta release tonight, and hopefully to get it onto dev-static tomorrow.  Keep an eye on the users forum for a call to test it.

[2021-06-01 12:19] ethulhu opened #2788 "Warn users of Tier 2 platforms, and explain what that means"
TL;DR: Please notify users of Tier 2 platforms a) that it is a Tier 2 platform, and b) what that means.

**Describe the problem you are trying to solve**

* I have an AArch64 MacBook.
* I tried to use `rustup doc`, which failed because the files were not there.
* I tried to use `rustup component add rust-docs`, which failed because `toolchain 'stable-aarch64-apple-darwin' does not contain componen

[2021-06-01 15:09] kinnison commented on #2788
For us to be able to explain the platform tier, that information would need to be exported to us in the channel metadata.

@pietroalbini do you think we might put something together to allow rustup to indicate tier levels on toolchain installation?  We could just include the tier data as another table in the channel toml perhaps?

[2021-06-02 13:33] Tim-Zhang commented on #2774
@kinnison How are things going?

[2021-06-02 13:55] 0xPoe commented on #2774
The beta release has been released and you can find the test method [here](https://internals.rust-lang.org/t/rustup-1-24-3-seeking-beta-testers-particularly-freebsd/14813 ).

[2021-06-02 13:56] 0xPoe commented on #2774
It seems to be on the internals forum?

[2021-06-02 14:26] kinnison commented on #2774
Yeah, I get the two mixed up, sorry :(

[2021-06-03 01:40] teor2345 commented on #2411
Note that this change was backed out in 1.23 because `rust-analyzer` isn't stable yet:
https://github.com/rust-lang/rustup/pull/2408#issuecomment-734899954

[2021-06-04 12:04] kartva commented on #2206
Any progress on this PR?

[2021-06-04 15:46] emilyalbini commented on #2788
I don't think I'll have the time to think about an implementation for this, but it'd be nice to include the information somehow in manifests :)

[2021-06-04 16:06] jyn514 opened #2789 "`rustup self uninstall` fails on Windows if a custom toolchain is installed"
**Problem**
Rustup gives a "permission denied" error if you try to uninstall it after linking a custom toolchain.

**Steps**

[code]

The only thing left in `~/.rustup` is `.rustup/toolchains/stage2/`.

**Notes**

Output of `rustup --version`: rustup 1.24.2 (755e2b07e 2021-05-12)
Output of `rustup show`:
[code]

[2021-06-04 18:25] vinkovsky commented on #2692
Here is my workaround. Install rust with x86_64 arch

1. Run `arch -x86_64 zsh`
2. Install rust with `curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh`

<img width="600" alt="arch" src="https://user-images.githubusercontent.com/66293881/120846750-c7a54800-c59c-11eb-902c-59b60e329bfe.png">

[2021-06-05 07:17] rbtcollins commented on #2789
Probably the recursive delete crate we use doesn't know how to remove a reparse point.

[2021-06-08 16:39] kinnison commented on #2629
On the basis that the actual error has been fixed, I'm closing this, but we do want to update to a new effective-limits when one is released using a newer sysinfo.

[2021-06-08 16:39] #2629 closed, assigned to kinnison

[2021-06-08 17:28] kinnison commented on #2206
@DesmondWillowbrook I'm afraid we're beholden to someone providing @Seeker14491 with the help needed to get the `opener` crate to the point that it can better support this use-case.

[2021-06-08 17:30] kinnison commented on #2789
Could we essentially do a "for each installed toolchain, uninstall toolchain, then uninstall self` in the uninstallation pathway?

It'd be a tad more long-winded than our current approach, but it would result in things being more predictable perhaps?

[2021-06-08 17:35] kinnison commented on #2742
@svenstaro Since we currently don't have a process, I figured I'd ping you here to say 1.24.3 is out.

[2021-06-08 17:37] svenstaro commented on #2742
Thanks, pushing a new package.

[2021-06-08 17:39] kinnison commented on #2647
I continue to believe this is "not rustup's duty" for now.  I'm going to close this issue.  If you feel you have a viable use-case which isn't resolved by one of the existing supported interfaces such as partial toolchains or the environment variable overrides, then please speak up.  Also perhaps consider suggesting cargo should remove `rust-toolchain{,.toml}` when it unpacks a crate?

[2021-06-08 17:39] #2647 closed, assigned to nobody

[2021-06-08 17:41] kinnison commented on #2642
@Seeker14491 I appreciate we're pinging you quite a bit recently, but... any word on 0.5 ?

[2021-06-08 17:42] kinnison commented on #2618
@chriskout I apologise, this bug seems to have slipped under my radar and I've only just noticed it on an issue-sweep.

Are you still struggling, or have you found your answer?  the above looks remarkably like a broken web proxy or else perhaps running out of disk space awkwardly?

[2021-06-08 17:47] kinnison commented on #2533
@rust-lang/compiler I'm not sure if you're quite the right team to ping, but what do we think about providing a `rust-rr` wrapper which then we could provide a rustup proxy for?

[2021-06-08 17:49] #2523 closed, assigned to nobody

[2021-06-08 17:50] #2506 closed, assigned to nobody

[2021-06-08 17:50] #2474 closed, assigned to nobody

[2021-06-08 17:51] #2321 closed, assigned to nobody

[2021-06-08 17:57] kinnison commented on #1987
@pietroalbini how're we feeling about `rustup.rs` vs `install.rust-lang.org` or `get.rust-lang.org` or similar?

[2021-06-08 17:59] kinnison commented on #1969
This issue is about a situation which Rustup is really not designed to support.  I'm going to close this issue but if you have further ideas for a viable UX for this, please reopen it, or file a fresh one as a feature request.

[2021-06-08 17:59] #1969 closed, assigned to nobody

[2021-06-08 18:00] #1927 closed, assigned to nobody

[2021-06-08 18:04] kinnison commented on #1866
Does this remain an issue with wsl2 ?  If not, I suggest we close this.

[2021-06-08 18:11] kinnison commented on #1807
Depressingly I've not seen this happen ever again myself.  Have you?

[2021-06-09 12:34] rbtcollins commented on #1866
I haven't tested yet; WSL1 is still the only WSL some users can use due to enterprise rollout channels. If WSL2 is slow it will be for different reasons.

[2021-06-09 16:46] rbtcollins commented on #1987
Is there some reason to change?

[2021-06-09 20:17] kinnison commented on #1987
The `.rs` suffix has (or had) problematic management IIRC.

[2021-06-09 20:50] rbtcollins commented on #1987
We can do that separately to hsts pining and or certificate inclusion though...

[2021-06-10 06:46] Seeker14491 commented on #2642
I'm having another go at fixing several issues people have reported in the `opener` crate, and I plan on putting out a release within a few days at most.

[2021-06-10 07:22] kinnison commented on #2642
That is fantastic news.  Please don't let me rush you though - take your time :D

[2021-06-10 09:29] kelvinkirima014 commented on #953
This worked for me

[2021-06-11 17:53] tlively opened #2791 "Prompting wasm32-unknown-emscripten users to install Emscripten"
**Describe the problem you are trying to solve**

The wasm32-unknown-emscripten target is unique (AFAIK) in that it requires an external toolchain, Emscripten, to be additionally installed to work correctly. Further, different versions of Rust require different specific versions of Emscripten to be installed and activated to ensure compatibility between the versions of LLVM used by Rust and Emscri

[2021-06-13 09:20] #2206 closed, assigned to nobody

[2021-06-13 09:23] kinnison commented on #2791
This is an interesting idea.  The logical extension of this is for channel files to include binary names to search for on the host which if they fail would result in an error message for the user.  If on the other hand you need very specific versions of emscripten in order to use that target then perhaps just a message to always display when adding that target might be better.

In theory we could

[2021-06-13 10:57] Seeker14491 commented on #2642
This should be fixed now with the merging of https://github.com/rust-lang/rustup/pull/2792.

[2021-06-13 11:20] kinnison commented on #2642
Aha thanks @Seeker14491

[2021-06-13 11:20] #2642 closed, assigned to nobody

[2021-06-13 18:42] rbtcollins commented on #2791
Do other distributions of rust also need this capability? If so, we should not centre rustup in the design, though making sure rustup can deliver it is important. In particular going from anything rust -> rustup would probably be a mistake, since rustup isn't guaranteed to be present anywhere today.

As far as rustup impl goes, I very much want to see it data driven rather than static code : we ma

[2021-06-14 09:40] emilyalbini commented on #2791
I agree that having it in the manifest if feasible would be better!

[2021-06-14 13:10] jonas-schievink opened #2793 "Environment variable to disable `rust-toolchain.toml`"
**Describe the problem you are trying to solve**

In order to support VS Code's "workspace trust" feature in rust-analyzer (https://github.com/rust-analyzer/rust-analyzer/issues/9224), we'd like to disable `rust-toolchain.toml` support, since that allows arbitrary code execution.

**Describe the solution you'd like**

The easiest solution would be some environment variable that simply disables thi

[2021-06-14 13:23] matklad commented on #2793
I'd phrase this more general terms. We need an env variable that indicates that the contents of the file-system is "untrusted". So that, if we set `UNTRUSTED=1`, running `rustc -v`  and such can't steal the secrets and such. I think this is more useful than just the narrow sense of "disabling toolchain file" because:

* it guarantees forward security:  if rustup grows another way to opt-in into in

[2021-06-14 14:29] tlively commented on #2791
It looks like the manifests are generated by the [build-manifest](https://github.com/rust-lang/rust/tree/master/src/tools/build-manifest) tool. Would a manifest-based solution involve hard-coding a list of generic external dependencies for each applicable target in that tool or is there a better root source for that information? Right now the Emscripten version is hard-coded in a CI [build script]

[2021-06-14 14:51] kinnison commented on #2793
I agree that a more general solution is better.  There's  a number of possible approaches here.  The approaches outlined so far are good, an alternative is a more explicit approach.  Here's a starter-for-ten on that kind of approach:

Any `rust-toolchain` or `rust-toolchain.toml` must be explicitly enabled by the user in order to work a'la `direnv`.

UX would be approximately:

1. User clones a re

[2021-06-14 15:10] bjorn3 commented on #2793
That will break CI as there is no user to approve the `rust-toolchain` and nobody has such approval as part of the CI config yet.

[2021-06-14 15:11] matklad commented on #2793
Yeah, that's much better, provided that we don't actually break real-world CIs. I guess that's ok, if the logic triggers only for path-based overrides. I think it's OK, and probably better, if rustup downloads official toolchains without questions.

From the tooling perspective, we probably need a special exit code (451 ?) to distinguish this specific failure, so that, eg, an IDE can show a dialog

[2021-06-14 15:26] kinnison commented on #2793
So CI *could* run `rustup trust` or whatever as part of the pathway, providing that there's trust in who can cause CI to run then that should be okay.

If we choose to only require it for path based toolchains then that might help a bit with the usability.  Rustup will try and download official toolchains (and add components/targets) by default if it needs to.

A special exit code for this makes s

[2021-06-14 16:39] bjorn3 commented on #2793
:+1: This pretty much mitigates the usability and CI impact of requiring a trust command.

:sparkling_heart:

[2021-06-16 06:08] lnicola commented on #2793
Hypothetical: if there is, say, an arbitrary code execution bug (or another security bug) in `rustc` or `cargo`, a malicious repository would still be able to ask for that version and exploit it.

[2021-06-16 07:49] kinnison commented on #2793
@lnicola True, though there's an argument that any such toolchain should _probably_ have its channel file yanked from static.rust-lang.org no?

[2021-06-16 08:14] lnicola commented on #2793
That depends. If it's a long-standing bug (introduced in 1.10, found today), that would be impractical.

[2021-06-16 08:30] kinnison commented on #2793
In that case we probably need a toolchain status file on static.rlo which rustup can read to understand if there are toolchains with security problems and/or known major regressions.

Then rustup could refuse to install a flagged official toolchain unless it was also marked as trusted by the user.

[2021-06-16 11:26] dark0ghost opened #2794 "bash: rustup: command not found"
**Problem**
bash: rustup: command not found

**Steps**

1.curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh
2. rustup update

OS: Parrot OS 4.11 x86_64
Kernel: 5.10.0-6parrot1-amd64

[2021-06-16 11:44] kinnison commented on #2794
Did you run these commands one after another in the same terminal window?  If so, did you follow the instructions to add the PATH before you ran the second command?

If you had a fresh shell for the second command, can you confirm please which shell you are using?

[2021-06-16 11:52] dark0ghost commented on #2794
I did the commands sequentially.Variables set. Restart konsole no effect.
bash:
`GNU bash, version 5.1.4(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
`

[2021-06-16 11:55] kinnison commented on #2794
Please check your `PATH` environment variable (`echo $PATH`) and your `.bashrc` `.bash_profile` `.bash_login` and `.profile` dotfiles (not all will be present) to see if they have been updated to source your `.cargo/env` file.

[2021-06-16 13:50] dark0ghost commented on #2794
path:
`/opt/swift/usr/bin:/opt/swift/usr/bin:/home/dark0ghost/.local/bin:/snap/bin:/usr/sandbox/:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/share/games:/usr/local/sbin:/usr/sbin:/sbin:/home/dark0ghost/.sdkman/candidates/java/current/bin:/home/dark0ghost/.local/bin:/snap/bin:/usr/sandbox/:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/share/games:/usr/local/sbin:/u

[2021-06-16 13:55] kinnison commented on #2794
I'm fascinated as to how `/home/dark0ghost/.cargo/env` has ended up in your `PATH` variable.  It should be `/home/dark0ghost/.cargo/bin` being added by our scripts.  What is the mention of cargo in those files?

[2021-06-16 14:04] dark0ghost commented on #2794
.bashrc:
`PATH=/opt/swift/usr/bin:/home/dark0ghost/.local/bin:/snap/bin:/usr/sandbox/:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/share/games:/usr/local/sbin:/usr/sbin:/sbin:/home/dark0ghost/.sdkman/candidates/java/current/bin:/home/dark0ghost/.local/bin:/snap/bin:/usr/sandbox/:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/share/games:/usr/local/sbin:/usr/sbin:/sb

[2021-06-16 14:08] dark0ghost commented on #2794
initially I put through "apt install" maybe there is a problem?

[2021-06-16 14:23] kinnison commented on #2794
Okay, the bashrc/profile changes look correct.  Can you please show me the content of `$HOME/.cargo/env` which should be a short script which adds `.../.cargo/bin` to your `PATH`.

(And I appreciate this is a bit of a long-shot, but could you also try rebooting [or at least logging out and back in] too) ?

[2021-06-16 14:30] dark0ghost commented on #2794
during this time the computer has been restarted many times
.cargo/env:
[code]

[2021-06-17 15:49] spastorino opened #2798 "rustup update could not rename component file when upgrading from stable 1.52 to stable 1.53"
[code]

[2021-06-17 19:04] rsalmei commented on #2798
Yes, same here on macOS, latest rustup.

[code]

[2021-06-18 08:03] rbtcollins commented on #2798
You are suffering from #2417 - this is a duplicate.

[2021-06-18 08:03] #2798 closed, assigned to nobody

[2021-06-18 18:34] jsejcksn commented on #2417
Adding some additional strings from the console output in order to improve SEO on this issue and help other users discover it:

info: rolling back changes
error: could not rename component file from
update failed

[2021-06-18 18:40] mlsvrts opened #2799 ""rustup component remove [component]" fails if component files do not exist."
**Problem**
`rustup component remove [component]` fails if component files do not exist. This, incidentally, will also break `rustup update`.

Windows had some issues, and after some repair my recently installed `clippy` executables were deleted. However, rustup was still of the opinion that clippy was installed, preventing me from updating/adding/removing components:

    $ rustup component list

[2021-06-18 19:08] rbtcollins commented on #2799
Duplicate of #1480

[2021-06-18 19:08] #2799 closed, assigned to nobody

[2021-06-19 10:48] gilescope commented on #1661
wasm64-unknown-unknown is on the platform list as existing now but seems std lib isn't precompiled for it when I try it.

[2021-06-19 14:10] Luc108 opened #2800 "Update fails: directory does not exist: 'bin/cargo-clippy.exe'"
**Problem**

Updating rust fails

**Steps**

1.  rustup update

**Notes**

Output of rustup update (most relevant parts):

error: failure removing component 'clippy-preview-x86_64-pc-windows-msvc', directory does not exist: 'bin/cargo-clippy.exe'

stable-x86_64-pc-windows-msvc update failed - rustc 1.51.0 (2fd73fabe 2021-03-23)

rustup 1.24.3 (ce5817a94 2021-05-31)

Output of `rustup show`:

Defau

[2021-06-19 14:10] CryZe commented on #1661
I'm not seeing it on the target list:
[code]
and I don't think it's supposed to be there. It's a tier 3 target with no prebuilt std.

[2021-06-20 08:00] 0xPoe commented on #2730
- [ ] After most of the cleanup is done, we should globally introduce #! [deny(unreachable_pub)].

[2021-06-20 14:45] ojeda opened #2801 "Clarify in which component and/or profile `rustdoc` is"
**Describe the problem you are trying to solve**
It is not clear from https://github.com/rust-lang/rustup/blob/master/doc/src/concepts/components.md from which component `rustdoc` comes from, and therefore it is not clear that it is included in the minimal profile.

**Describe the solution you'd like**
Clarify in https://github.com/rust-lang/rustup/blob/master/doc/src/concepts/components.md from w

[2021-06-20 22:17] rbtcollins commented on #2800
duplicate of #1480 I think, though its odd that #2799 was also failed with the same exact symptom; I wonder if some exterior agent has caused this

[2021-06-20 22:17] #2800 closed, assigned to nobody

[2021-06-21 07:34] Luc108 commented on #1480
Two easy, short term suggestions related to #2800 :
* "_file_ does not exist" instead of "_directory_ does not exist" in the error message
* When an update fails, we can give the user the suggestion to uninstall and reinstall. Giving the user details on how to do that, is very helpful.

[2021-06-21 07:40] Luc108 commented on #1480
And more details about #2800:

The file bin/cargo-clippy.exe was indeed missing. No idea how that's possible. Not done anything special or advanced. Only default install and maybe an update.

I uninstalled everything ("rustup self uninstall") and installed the same version again. This time the file was there.

[2021-06-21 15:08] rbtcollins commented on #1866
just for kicks I ran under WSL2 with .rustup symlinked onto `/mnt/c/`.
[code]

Quite slow.

[2021-06-21 17:34] aidanhs commented on #1987
We (the infra team) discussed this but realistically don't think this is going to hit the top of our priority list within the next 6 months.

(which also lets us punt on decisions around domains)

[2021-06-22 00:27] jyn514 opened #2803 "rustup fails to self-update on Windows (sometimes?)"
**Problem**

Rustup gives an error while updating:

[code]

In particular, this should have been 1.24.3, not 1.24.2.

Strangely, running `rustup self update` *says* it works, but still gives the same error message:

[code]

**Steps**

Unsure, but `rustup self update` seems to be required.

**Possible Solution(s)**

*mumble mumble* windows file locking *mumble mumble* linux doesn't have these probl

[2021-06-24 00:37] gdnathan commented on #1125
up,
`/usr/bin/xdg-open /home/erudyx/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/share/doc/rust/html/index.html` works just fine, but `rustup doc` or `rustup doc --book` does absolutely nothing

[2021-06-24 01:20] Seeker14491 commented on #1125
@Erudyx could you respond to https://github.com/Seeker14491/opener/issues/4#issuecomment-867204711? Also, I'd like to know what's your distro and browser so I can try to reproduce this.

[2021-06-24 13:50] jyn514 commented on #2801
`rustdoc` is in the `rustc` component. You cannot install rustc without also installing rustdoc.

[2021-06-24 13:54] jyn514 opened #2804 "`rustup update` does not support `--profile`"
**Problem**
`rustup install` describes itself as "The 'install' command is an alias for 'rustup update <toolchain>'". This is not accurate - it supports `--profile <profile>     [possible values: minimal, default, complete]` and `update` does not. I understand there's some ambiguity about what --profile should do for an installed toolchain (https://github.com/rust-lang/rustup/issues/2219), but upd

[2021-06-24 14:02] ojeda commented on #2801
Yeah, exactly: that is not clear from the docs. It just says "`rustc` — The Rust compiler.", without mentioning `rustdoc`.

[2021-06-24 14:13] rbtcollins commented on #2804
agree that there is a bug here. We need to decide what an update to a profile that has less components than are present should do.

[2021-06-24 18:22] onerandomusername opened #2806 "Rustup concurrent Install removes rustc"
**Problem**

Running concurrent installers or updates can cause both of them to error and remove rust from the system. Expected behavior should not allow the second installer to start if there is already one installer.
![image](https://user-images.githubusercontent.com/71233171/123313031-0de42c00-d4f7-11eb-9b2e-3f6d969a4d50.png)

**Steps**

1. Run `rustup install <stable|beta|nightly>` or, if ther

[2021-06-25 08:34] kinnison commented on #2806
Locking `$RUSTUP_HOME` is something we've talked about before.  I'm not sure, but there is likely to be similar bugs which might be markable as related to this, or even a bunch of dups.

[2021-06-25 08:35] kinnison commented on #2791
@tlively I'd expect that it'd be best to ensure theres a single source of truth for the versions, certainly.

[2021-06-25 08:36] kinnison commented on #2794
That looks entirely correct, so either something else is *removing* that path from your environment, or something else is broken.  If you run `source ~/.cargo/env` in your shell, does `rustup` etc. now work?

[2021-06-25 09:09] dark0ghost commented on #2794
I ran
[code]
  ,  but nothing has changed. I write in $PATH:/.cargo/bin and and it helped. I guess it is something wrong in os

[2021-06-25 09:22] kinnison commented on #2794
I specifically said `source ~/.cargo/env` **NOT** `bash source ...`.  I think something is very very wrong with your OS if this is not working now.  Could you remind me which OS and version you are running?

[2021-06-25 09:23] kinnison commented on #2803
Yep, this is a known problem with Windows.  It's always best to ensure that (a) you don't have any IDEs or other things open which might be using rustup and (b) you run `rustup self update` until it works.

[2021-06-25 09:57] kinnison commented on #2804
We need to know what it means for `--profile $whatever` to be supplied to `rustup update` -- if the toolchain is not installed, it's interpreted as per `rustup toolchain install` as you'd expect in the inner code, but of course it's not in the clap bits.

`rustup install` is *NOT* the API people are meant to be using anyway.  It's hidden from the UI and all the docs say `rustup toolchain install`.

[2021-06-25 10:23] dark0ghost commented on #2794
Parrot os 4.11

[2021-06-25 12:05] kinnison commented on #2794
Parrot is based on Debian so I wouldn't expect anything particularly strange.  Can you please run the following in sequence in the same terminal, and then paste the entire terminal output for me...

1. `env | grep "^PATH="`
2. `grep cargo ~/.bashrc`
2. `grep cargo ~/.profile`
3. `source ~/.cargo/.env`
4. `env | grep "^PATH="`

As an example, here's the output from me doing that:

[code]

[2021-06-25 17:56] carols10cents opened #2807 "`rustup update` does NOT report when self-update is disabled"
**Problem**

As noted in #2757, `rustup` can't update itself when `rustup` is installed using a system package manager like homebrew. `rustup self update` reports an error in this case:

[code]

`rustup update --help` (that is, without `self`) says:

[code]

I expected `rustup update` to report the same `self-update is disabled` error that `rustup self update` reported when `rustup update` tries t

[2021-06-26 16:59] soernt commented on #1772
As with Visual Studio 2019 installer 2.10.217... there is not even a workload named "C++ build tools" only "Desktop development with c++". Even at the tab "Single Components" there as not a single option "c++ build tools" but a large list of "c++ XXX" options. So I am total confused what exactly needs to be installed. I guess that is the option I selected within the screenshot. It would be helpful

[2021-06-26 19:34] kinnison commented on #1772
@rbtcollins What do you say?  If the docs/recommendation text needs updating let's get it as right as we can.

[2021-06-26 20:44] ratijas opened #2809 "Docs for Windows/MSVC toolchain: which workloads/components to install?"
**Describe the problem you are trying to solve**

I'm trying to use a Visual Studio installer without GUI via [command line parameters](https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio?view=vs-2019) (in fact, from the [chocolatey package](https://community.chocolatey.org/packages/visualstudio2019buildtools)), but there are so many options w

[2021-06-27 00:22] ratijas commented on #2809
So far it looks like a was wrong about so many things in this life.  `*.VC.CoreBuildTools` does not provide a linker (`link.exe`), and that version-less "Windows 10 SDK" stuff is just a C runtime without any notion of C++.  What's with the naming, Microsoft? What's worse, Visual studio installer GUI just doesn't want you to know what exactly are you about to install: it will only show you the name

[2021-06-27 09:21] kinnison commented on #2809
Wow this is a lot, thank you for doing that investigation.  We want to give the shortest possible suggestions in our documentation so if there's any chance you can boil things down to a pithy small instruction sequence then that would be appreciated.  @rbtcollins you're most likely to be able to judge whether or not things make sense, my Windows install is very very crusty / non-traditional these

[2021-06-27 20:21] dark0ghost commented on #2794
1) env | grep "^PATH=":
[code]
2) grep cargo ~/.bashrc :
[code]
3)  grep cargo ~/.profile:
[code]
4) source ~/.cargo/env and env | grep "^PATH=":
[code]

[2021-06-27 20:22] dark0ghost commented on #2794
here I have not formatted correctly

[2021-06-27 20:34] rbtcollins commented on #2809
So yeah, npm does some chocolatey thing that works well, copying that is where I'd probably start.

I'd also start by syncing with the main rustc docs, since we're downstream - an installer, not the owner of the toolchain definitions themselves.

[2021-06-27 20:35] rbtcollins commented on #2807
Does homebrew automatically update packages installed via it?

[2021-06-27 20:36] rbtcollins commented on #2806
duplicate of #988 (which is a pinned bug :))

[2021-06-27 20:36] #2806 closed, assigned to nobody

[2021-06-27 20:38] rbtcollins commented on #2801
closing in favour of that PR

[2021-06-27 20:40] rbtcollins commented on #2803
Duplicate with #2441

[2021-06-27 20:40] #2803 closed, assigned to nobody

[2021-06-27 21:24] ratijas commented on #2809
I'll try to summarize my findings in a short concise bunch of if-else branches. But tomorrow. Sorry, not in the best shape right now.

For those who haven't tried npm on Windows+chocolatey, can you please elaborate what do you mean?

[2021-06-27 22:35] onerandomusername commented on #2806
Ahhh, sorry, can't believe I missed that!

[2021-06-28 01:27] 0xPoe commented on #2807
Yes, it will check itself and the installed software to see if it needs to be updated before installing the new software.

[2021-06-28 10:19] ratijas commented on #2809
I won't promise to give exhaustive instructions on my first attempt, but let me try. It's gonna be a bunch of if-else blocks.

https://drive.google.com/file/d/1mMEHAdlxCIWaRjPXOpAKu9No837v0soV/view?usp=sharing

Rendered: [MSVC targets.pdf](https://github.com/rust-lang/rustup/files/6725421/MSVC.targets.pdf)

[2021-06-29 09:16] kinnison commented on #2794
Okay thank you for doing that @dark0ghost -- it looks like your shell isn't reading either of `.bashrc` or `.profile` then, since sourcing the file yourself definitely adds the path in.  Unless some other part of your shell startup is then resetting the path, which would be unusual.  Can you confirm that you *are* using bash as your shell?  I know you said so in the first post, but since then you

[2021-06-29 10:24] dark0ghost commented on #2794
Yes, I use bash. Nothing has changed since the last time

[2021-06-29 10:34] ojeda commented on #2801
Hmm... an issue should not be closed until the PR is merged (and if referenced, GitHub will close it for you).

[2021-06-29 13:08] rbtcollins commented on #2801
for some reason I thought this came from the channels and thus was in the wrong repository, sorry.

[2021-06-29 13:12] ojeda commented on #2801
No problem at all :D

[2021-06-30 07:14] ratijas commented on #2809
Ping.  Is this triaged / prioritized yet?

[2021-07-01 20:10] umanwizard opened #2813 "When `-y` is combined with other short options, rustup-init cannot be used without a terminal."
**Problem**
For example, it cannot be invoked with `-qy`, but rather requires `-q -y`.

This is because before the options are passed to the main binary, they are scanned with a simplistic technique to detect whether an interactive tty is required:

[code]

If `need_tty` is not cleared, the script will refuse to continue running unless stdout is a terminal.

**Steps**

1. `curl --proto '=https' --

[2021-07-01 21:03] ZuseZ4 commented on #2696
@kinnison Do you know what the current state of this issue is?
I would like to have rustup for downloading a toolchain instead of my library pulling things from third-party servers.
If needed I can also contribute to this.
However, I would have expected this to be a comparably small change, while you indicated that this might be a larger task.
So if you want we can set up an online meeting to figu

[2021-07-03 08:57] #2801 closed, assigned to nobody

[2021-07-03 09:00] kinnison commented on #2794
There's something odd going on then that your bash isn't reading either of those files, you're going to need to work out what rc file your shell reads when you open your terminal so that you can determine which of those files needs the `. ~/.cargo/env` line in it.  Once you've found that you can copy it from the `.bashrc` or `.profile` into that file and hopefully new terminals will have that auto

[2021-07-03 09:10] kinnison commented on #2696
@ZuseZ4 I'm afraid I've not seen any further work on this from anyone.  If you're interested in helping us to work out the right way to do this and then implementing it then that'd be cool.  It is unlikely to be a particularly small change because there'll be a *lot* of Rustup which needs checking to ensure that assumptions hold properly.  For example, currently dist toolchains (i.e. ones which ca

[2021-07-03 09:19] kinnison commented on #2809
Hi @ratijas and thank you for your efforts on that diagram.  Wow it looks complex and likely to need some maintenance since it includes versions of tools such as SDK 19041 or v142 of C++ tools.  I think we'd need to make it a little more generic which, sadly, means we probably can't put the JSON together easily for our users.

I think we could convert a lot of that diagram into text instructions w

[2021-07-03 10:06] ratijas commented on #2809
Unfortunately, that's because the process is really complex indeed. There's no single straightforward way which would work for everyone (e.g. steps are different depending on whether VS is already installed or not). That's why I suggest giving users some ideas where to start — but — if they know they need something more specific for their use case, thats means they are power users, and they probab

[2021-07-03 10:50] rbtcollins commented on #2809
I think that diagram reflects many ways people can end up with the result; but we don't need to encode that to get either instructions or automation in place. By analogy, it is like describing every possible package manager: apt || rpm || dpkg || deselect || nix || yum || zypper || yast etc.

But we don't, and wouldn't: we describe using abstractions like 'using your package manager install the c

[2021-07-03 10:57] ratijas commented on #2809
Except, in case of Linux package managers we can afford to expect users to know what they are doing. In Windows land this is often not the case, because nobody — literally nobody in the world understands how any of that works. During University years, I tried to bring Rust to some courses' team projects — and I tell you what: it was a pain to get people started on Windows.

Can you please describe

[2021-07-03 11:05] rbtcollins commented on #2809
When you install npm on windows, you get the ms build tools automatically installed if you select the check box. I've mentioned twice that *go and look at it* is the needed action: If I knew exactly what it did, I wouldn't describe it as *go and look at it*, but instead would describe what it does.

[2021-07-03 11:53] ratijas commented on #2809
@rbtcollins Thanks! I felt like it was important to write down here what are the effects of npm installer, and as a user (outsider) what did you like so much about it. So that even if I will try to install npm in Windows per your suggestion, I'd know specifically what to look for, long before digging into its implementation details. Honestly it's was a surprise for me that node has ecosystem for n

[2021-07-03 14:07] rbtcollins commented on #2809
It isn't a matter of trying the npm installer; it is a matter of reading
the source code.

[2021-07-03 16:51] asomers opened #2818 "CI for FreeBSD"
**Describe the problem you are trying to solve**
rustup could use some continuous integration tests on FreeBSD.  If it had, then bug #2629 would've been caught immediately.

**Describe the solution you'd like**
CI for Rust on FreeBSD is pretty easy using Cirrus CI, much easier than with Github Actions.  If you follow the instructions at https://cirrus-ci.org/guide/quick-start/ and stop at "Post In

[2021-07-03 19:45] dark0ghost commented on #2794
I decided to try to fix it, but nothing happened. decided to go through these steps one more time and finally added to $PATH. Also there was an update in packages today. I suspect the problem is resolved with help update .
$PATH now:
[code]

[2021-07-03 20:08] dark0ghost commented on #2794
After reboot nothing works.
if in bash write source ~/.cargo/env - work, but after reboot - no. Only works fine if you overwrite the path manually. I copied the script to a .bashrc, but the system does not seem to see it

[2021-07-05 02:18] jyn514 commented on #2804
@kinnison I don't understand how `rustup install` vs `rustup toolchain install` is related. `rustup toolchain install` also supports --profile.

I would expect it to behave exactly the same as for `rustup toolchain install`. The docs say they are aliases - is that not the case? I don't know why they would behave differently.

[2021-07-05 10:31] kinnison commented on #2818
This is being addressed in #2783

[2021-07-05 10:43] longtomjr opened #2819 "Sha256 files includes the build directory path making automated verification more difficult"
**Describe the problem you are trying to solve**
When verifying the `*.sha256` files for the `rustup-init` downloads it is not possible to use a simple `sha256sum -c rustup-init.sha256 2>&1` out of the box. The reason is that the sha256 file includes the nested directories in the path like so `<hash> *target/x86_64-unknown-linux-gnu/release/rustup-init`.

**Describe the solution you'd like**
The s

[2021-07-06 14:22] jonas-schievink opened #2820 "Force-reinstall a toolchain"
**Describe the problem you are trying to solve**

My computer is haunted, and if I don't set the right environment variables before `rustup update`, the toolchain it installs will fail to use any procedural macros with fun errors like

[code]

**Describe the solution you'd like**

Because I re-learn this fun fact after every Rust release, I end up with broken toolchains a lot. It would be helpful

[2021-07-06 18:35] rbtcollins commented on #2820
Perhaps we should solve the haunting?

[2021-07-06 18:50] blixt opened #2821 "rustup binaries should be compiled with `remap-debuginfo = true`"
**Describe the problem you are trying to solve**

When compiling a binary with the following `RUSTFLAGS` environment variable:
[code]
it successfully removes all references to my local computer's directory structure in the debug information within the compiled output for Cargo dependencies and the project's binary.

However, some references to my computer's directory remains in the binary build pr

[2021-07-06 18:53] rbtcollins commented on #2821
Rustup doesn't build those files at all: they are downloaded from the rust project builds; this bug belongs on rustc.

[2021-07-10 15:52] Bharath-KKB commented on #1856
I had the same issue today. Adding Zscaler Root CA cert (used by rust sites) solved the issue.

[2021-07-11 20:25] rbtcollins commented on #2441
Ok so I think we can perhaps experiment with a few things.

Here's a proposed design, and why:

Lets assume we need to update the proxies from time to time: any optimisation such as having non-updated proxies can wait, since we will have to update them sometimes.

# Basic approach
* Proxies are taught how to self-exit when an update is in progress
* Proxies will refuse to start up when an update i

[2021-07-13 17:27] pierwill opened #2824 "Github API `/repos/<repo>/releases/latest` not working"
I am trying to get the number of the latest `rustup` release with the following:

[code]

This is currently not working with the `rustup` repository, although it does work with `rust-lang/rust`:

[code]

This API would be great to have enabled for this repository!

[2021-07-13 17:33] rbtcollins commented on #2824
Can I ask what you are trying to accomplish@

[2021-07-13 17:35] pierwill commented on #2824
I'm looking here: https://gist.github.com/lukechilds/a83e1d7127b78fef38c2914c4ececc3c

Turns out the tags endpoint does work:

[code]

[2021-07-13 17:40] pierwill commented on #2824
Example script:

[code]

[2021-07-13 20:47] rbtcollins commented on #2824
It still isn't clear why you need this. Rustup self updates.

On Tue, 13 Jul 2021, 19:40 pierwill, ***@***.***> wrote:

[2021-07-13 21:10] #2813 closed, assigned to nobody

[2021-07-13 21:14] kinnison commented on #2821
I believe this is related to https://github.com/rust-lang/rust/issues/75362

[2021-07-13 21:14] #2821 closed, assigned to nobody

[2021-07-13 21:18] kinnison commented on #2819
The place to look to fix this for WIndows is:

https://github.com/rust-lang/rustup/blob/master/ci/prepare-deploy.ps1#L6

And for other targets is:

https://github.com/rust-lang/rustup/blob/master/ci/prepare-deploy.bash#L9-L13

Should be a fairly easy fix for someone.

[2021-07-13 22:58] ratijas commented on #2809
I feel like this is stalling for hilarious reason that no one wants to deal with npm installer :-\

Including me, that is.

[2021-07-14 16:33] rbtcollins commented on #2809
We're a volunteer project; bugs move forward when volunteers volunteer time.

My time is currently going to fixing the problem with locked files during updates, and general project overheads.

If/when this bug becomes top of the pile for me, I will download the NPM source and figure out what exactly they do. If you want this to move forward, you can do that.

If you don't, thats fine too.

[2021-07-14 20:10] alexcrichton commented on #2626
I was poking around recently when I felt that `cargo test` had a surprisingly large amount of overhead outside of the tests themselves. Some profiling showed that rustup is doing a large amount of TOML parsing when it starts up, and some digging showed that it's parsing a `multirust-channel-manifest.toml` file which is 22k lines of TOML.

I'd expect that ideally when a toolchain is already install

[2021-07-15 17:03] Milo123459 opened #2826 "Colours"
**Describe the problem you are trying to solve**

Adding some colours
**Describe the solution you'd like**

Adding some colours to the commands
**Notes**

- [x] I'm willing to make a PR

Hey, I'm just asking. I was thinking maybe we should add some more colours to the rustup CLI. Maybe stable toolchains are green, nightly is red, etc. Let me know what you think. As seen above, I am happy to make a

[2021-07-16 07:29] kinnison commented on #2826
I feel like adding colours to the UI would be counterproductive.  We do have support for **bold** text in some of our output, but colours are not consistent across society.  For example:

* **Red** can mean any of love, passion, lust, danger, important, but also good luck, and happiness
* **Green** can mean any of nature, healing, youth, fertility, but also greed, sickness, jealousy, and inexperie

[2021-07-16 10:10] Milo123459 commented on #2826
It's pointless but the point is it's just to make it more readable. We can use any colours and even allow the user to customise it. I just wanted to implement it as it helps give some contrast.

[2021-07-16 10:29] 68CodingMonkeys opened #2827 "installing rust on raspbian fails"
Tried to install rust like documented in https://www.rust-lang.org/learn/get-started
(Hardware is a PI Model 4B with acutal raspbian buster)

cuser@node00:/Projekt/pd $ curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust
programming language, and its package manager, Cargo.

[2021-07-16 11:48] 0xPoe commented on #2826
I think maybe the color to distinguish warnings from errors is valid (we already have it). But differentiating colors by channel would be weird and confusing with the colors of warnings and errors?

[2021-07-16 16:43] rbtcollins commented on #2827
After the source, what is the value of `$PATH` ? And is there a cargo in `~/.cargo/bin/`?

[2021-07-16 16:57] kirawi commented on #1826
I've got something working, hopefully I'll be able to submit a PR later today.

[2021-07-17 07:36] 68CodingMonkeys commented on #2827
cuser@node00:/Projekt/pd $ echo $PATH
/home/cuser/bin:/home/cuser/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:/home/cuser/bin

cuser@node00:/Projekt/pd $ which cargo
/home/cuser/.cargo/bin/cargo

cuser@node00:/Projekt/pd $ ls -l ~/.cargo/bin
total 163776
-rwxr-xr-x 12 cuser cluster 13974212 Jul 16 12:08 cargo
-rwxr-xr-x 12 cuser cluster 13974

[2021-07-17 12:00] kinnison commented on #2827
My guess is that the install script got confused by a 64bit kernel and 32bit userland, fetched the 32bit rustup (correct) but that looked at your uname and chose to install aarch64 tooling (incorrect)

I suggest the following:

[code]
Hopefully that'll fix your immediate issue.  Subsequently we need to perhaps implicitly add an appropriate --default-host to the invocation if the userland mismatche

[2021-07-17 16:04] TheRustifyer commented on #1793
Still working on 2021/07/17

[2021-07-17 17:36] 68CodingMonkeys commented on #2827
I tried this:

cuser@node00:/Projekt $ rustup toolchain uninstall stable
info: uninstalling toolchain 'stable-aarch64-unknown-linux-gnu'
info: toolchain 'stable-aarch64-unknown-linux-gnu' uninstalled
cuser@node00:/Projekt $ rustup set default-host armv7-unknown-linux-gnueabihf
cuser@node00:/Projekt $ rustup toolchain install stable --profile minimal
info: syncing channel updates for 'stable-armv7-

[2021-07-17 18:09] kinnison commented on #2827
Aah it has cached the old default toolchain, you'll also need `rustup default stable-armv7-unknown-linux-gnueabihf` to switch that.

[2021-07-17 18:09] #2639 closed, assigned to nobody

[2021-07-17 18:13] kinnison commented on #2826
I concur with @hi-rustin I'm also of the opinion there'd be confusion.  And @Milo123459 I think you hit the nail on the head when you say "it's pointless".  If there is a contrast issue at stake then perhaps we can use spacing to make things clearer.

[2021-07-17 18:14] Milo123459 commented on #2826
Yea I guess.

[2021-07-17 18:14] #2826 closed, assigned to nobody

[2021-07-17 18:16] kinnison commented on #2626
Switching away from toml to bincode basically made the manifest decode drop to be in the noise.  sub 1ms.  Not loading the manifest at all would mean we'd need to introduce lazy manifest loading because we do manifest/component reconciliation during proxy startup in case a `rust-toolchain.toml` or similar is requesting components, or if a directory override needs to trigger something.
Everything e

[2021-07-17 18:17] kinnison commented on #2824
What problem are you trying to solve @pierwill ?  Note, I'm not asking what you're trying to do, since that's pretty clear.  I'm trying to work out *why* and what problem you're trying to solve, in case there's an easier way we can do that.

[2021-07-17 21:01] 68CodingMonkeys commented on #2827
This seems to work:

cuser@node00:/Projekt $ rustup default stable-armv7-unknown-linux-gnueabihf
info: using existing install for 'stable-armv7-unknown-linux-gnueabihf'
info: default toolchain set to 'stable-armv7-unknown-linux-gnueabihf'

  stable-armv7-unknown-linux-gnueabihf unchanged - rustc 1.53.0 (53cb7b09b 2021-06-17)

cuser@node00:/Projekt $ cargo --version
cargo 1.53.0 (4369396ce 2021-04-

[2021-07-18 01:13] joshtriplett commented on #2626
I still think it would be valuable to export the appropriate environment variables so that invocations of rustc underneath a rustup'd cargo don't need to re-do the parsing and selection logic, even if we can substantially speed up that logic by switching to bincode.

[2021-07-19 14:37] pierwill commented on #2824
I've been working on ways to increase security when using rustup in environments like CI/CD, where we want to use a specific version of the install script and verify its checksum. As part of this, it might be nice to add a check/notification when a new version of the install script is available (i.e., a new rustup release), hence the call to the Github API. I thought there was a chance others migh

[2021-07-19 19:37] kinnison commented on #2824
I can find no setting about this, do you know where the config would be?  Is it possible you need an API token which has rust-lang access to use that API?

[2021-07-19 20:07] TomaszWaszczyk commented on #2081
In 2021 I have very similar error which sounds like:

[code]
Any idea how to cope with that?

[2021-07-19 20:51] kinnison commented on #2081
@TomaszWaszczyk That looks entirely unrelated - there's a typo in that package's Cargo.toml (a tab is present in a version string) maybe you accidentally edited that file?

[2021-07-19 23:57] TomaszWaszczyk commented on #2081
Thanks, no idea why but there was an error in fetched dependency, no idea why, solved!

[2021-07-20 00:39] lhp22 opened #2830 "The CC variable is never asked explicitly."
Hello there,

I've just tried to compile rustup from sources, because of some weird avaibility problems on Guix distribution. All the prerequisites were installed. I've had to set up the OPENSSL_DIR to '/gnu/store/xxx-openssl-1.1.1k'. And this was the right.

And I get this message (in ideas, didn't copy the message at this moment) : "Problem to find tool. Is 'cc' installed ?", and after this line

[2021-07-20 05:01] ZuseZ4 commented on #2696
@kinnison First of all thanks for the explanation. Sorry for the late answer. I had to get some other PRs done before and didn't noticed how the time passed.

**My job:** Integrating Enzyme into Rust. Enzyme is an auto-diff tool and requires llvm-bc and debug-infos from the source code.
It creates a library based on the new llvm-bc which should be linked against the compiled source code at certain

[2021-07-22 22:38] jyn514 commented on #2830
@lhp22 you should report this to the openssl crate (https://github.com/sfackler/rust-openssl). Rustup doesn't control what messages its dependencies print in their build.rs.

[2021-07-22 22:41] jyn514 commented on #2824
@pierwill rustup uses tags, not 'releases'. I think releases are a github thing and aren't tied into git. @pietroalbini set this up for rust-lang/rust in https://github.com/rust-lang/rust/pull/76516, so it looks like you can configure triagebot to sync it automatically.

[2021-07-22 22:44] jyn514 commented on #2820
This is NixOS - it has virtual environments with different versions of libc installed.

@jonas-schievink it's surprising to me that affects the toolchain itself - are you sure `cargo clean` and then running `cargo build` in nix-shell doesn't work?

[2021-07-22 22:52] jyn514 commented on #2788
You can do this by making a PR to rust-lang/rust, the relevant code is https://github.com/rust-lang/rust/blob/master/src/doc/rustc/src/platform-support.md#tier-2.

[2021-07-22 22:54] jyn514 commented on #2788
Another alternative is, if `rustup doc` fails, to see if the `rust-docs` component exists, and if not mention that it's not built for all targets.

[2021-07-23 23:23] mgrandi commented on #1772
so i can confirm that i think the necessary category that worked for me is "Desktop Development with C++", however that might be too big of a category, not sure

<img width="968" alt="2021-07-23 16_12_09-Screenshot" src="https://user-images.githubusercontent.com/802786/126849852-1743d389-d2f6-49d3-b4eb-289bbe3a4767.png">

[2021-07-24 08:19] emilyalbini commented on #2824
Yes, but triagebot doesn't support this style of changelog yet (which seems https://keepachangelog.com/en/1.0.0/). It'd need to be added to https://github.com/rust-lang/triagebot/tree/master/src/changelogs first.

[2021-07-24 20:00] #2830 closed, assigned to nobody

[2021-07-25 09:02] 0xNullByte commented on #1959
**thank you a lot , it's work with me by following this steps :**

1.   - `` rustup target add i686-pc-windows-msvc ``
2. - `` cargo run --target=i686-pc-windows-msvc ``
3.  - and i got folder name : ``hello_world\target\i686-pc-windows-msvc\debug\hello_world.exe`` * 32bit *

[2021-07-26 15:51] yaymukund commented on #2820
Thanks for opening this issue, I was just about to report it myself.

@jyn514 I'm on NixOS as well and experienced this exact error. A `cargo clean` did not suffice. I had to `rustup uninstall` and `rustup install`, then it worked.

[2021-07-28 23:24] cataggar commented on #1462
It [turns out](https://github.com/ctaggart/rustup.rs/issues/1#issuecomment-408621180) that the `Microsoft.VisualStudio.Component.Windows10SDK` component is actually the "Windows Universal C Runtime`. You can see that at:
https://docs.microsoft.com/visualstudio/install/workload-component-id-vs-community

I exported my current config and I do not have the component installed. I think the required co

[2021-07-29 05:47] amalik18 commented on #2819
@rustbot claim

[2021-07-30 09:51] ghost commented on #2692
Is there any solution without installing another x86 rust?

[2021-07-31 06:51] kinnison commented on #2692
Until and unless the docs are released for other platforms, no. I imagine they are only guaranteed for tier one targets sadly

[2021-07-31 20:42] allanlaal commented on #2656
tried with current master tip with custom `RUSTUP_HOME` and `CARGO_HOME`:

	export RUSTUP_HOME="/opt/rustup"
	export CARGO_HOME="/opt/cargo/"

used those before installing. install went great. it appended this to my shell rc files:
`. "/opt/cargo/env"`

both `rustup` and `cargo` run, but:

	$ rustup toolchain list
	no installed toolchains
	$ rustup show home
	/home/allan/.rustup

looking at the `c

[2021-07-31 20:43] amalik18 commented on #2788
@rustbot claim

[2021-08-01 00:27] OJFord commented on #2656
@kinnison Sorry I missed your question before, primarily I use Linux (Arch, so 5.13 or whatever's current) but looking at my OP seems I was using macOS when O noticed/reported it.

I can double-check on my usual system in the morning, but presumably it's the same since @allanlaal is reproducing on Linux.

[2021-08-01 03:08] amalik18 commented on #2788
PR: https://github.com/rust-lang/rust/pull/87677

[2021-08-02 07:41] changsongl commented on #2040
[code]

[2021-08-03 18:22] ChrisDenton commented on #2672
Just an FYI but I've been running into this quite a bit lately on Windows. E.g.:

[code]

I do tend to move around between nightly and stable as well as msvc and gnu. It's not the biggest deal in the world but having a big scary red `error` every time is slightly annoying.

[2021-08-04 09:21] kinnison commented on #2672
@ChrisDenton 1.24.3 included https://github.com/rust-lang/rustup/pull/2782 which *should* have fixed that circumstance.  Are you running 1.24.3 and if so could you please tell me the exact variant of rustup you are running, along with what your default host is etc.

[2021-08-04 10:45] ChrisDenton commented on #2672
@kinnison  I'm on 1.24.3. Default host is `x86_64-pc-windows-msvc`.

[code]

[2021-08-04 12:12] kinnison commented on #2672
On I've just had an interesting thought - I wonder if this is a question of partial vs. full target specifications...  Could you try the following:  `rustup update stable-x86_4-pc-windows-msvc` If that runs without the deprecation error then I think I have an idea of what needs doing.

[2021-08-04 12:16] ChrisDenton commented on #2672
That worked!

[code]

[2021-08-04 20:43] Alovchin91 commented on #2612
Hi everyone,

I have just opened a ~~(draft)~~ Pull Request with changes required to support Windows arm64: #2835

In fact, the only thing that's missing now is Ring but I didn't hear from @briansmith since January so I decided to go without it for now. Here's a corresponding issue: https://github.com/briansmith/ring/issues/1167 I'll see if I can fix it myself but I won't spend too much time tryin

[2021-08-04 22:59] Alovchin91 commented on #2612
Update: Run the tests, un-drafted the PR 🙂

[2021-08-07 10:24] ghost opened #2836 "Installing rustup on windows fails"
[code]

[code]

**Notes**

rustup 1.24.3 (ce5817a94 2021-05-31)
info: This is the version for the rustup toolchain manager, not the rustc compiler.

Default host: i686-pc-windows-gnu
rustup home:  C:\Users\User\.rustup

no active toolchain

[2021-08-07 12:12] Alovchin91 commented on #2612
Oops, turns out I didn't disable building ARM64 Rustup after all 😅 So now we have a working ARM64 build! 😆

If anybody's interested in trying it out, you can find it among the artifacts here: https://github.com/rust-lang/rustup/pull/2835/checks?check_run_id=3245708563

[2021-08-07 12:20] messense commented on #2612
Nice! Just tried it, it works!

<img width="1180" alt="CleanShot 2021-08-07 at 20 18 56@2x" src="https://user-images.githubusercontent.com/1556054/128599911-bae043aa-0fde-4b40-81c0-156cf40a099a.png">

[2021-08-07 17:51] tspiteri opened #2837 "Deprecation message when installing `stable-x86_64` on x86_64"
If on an x86_64 system I try `rustup install stable-x86_64`, I get
[code]

This looks like a false positive for the deprecation warning to me.

**Notes**

Output of `rustup --version`:
[code]

[2021-08-07 21:09] ehuss commented on #2837
I think this was supposed to be fixed by #2782, but it doesn't seem to be a complete fix.  The issue is that [this comparison](https://github.com/rust-lang/rustup/blob/c33cb5ed7fc2854eab7f3cfb1fa6d012b13a8f6c/src/dist/dist.rs#L325-L327) fails because there is no OS in `stable-x86_64`.  I'm not sure, but I would guess that it could assume if os is None to assume it is the host OS?

[2021-08-09 12:33] kinnison commented on #2837
Yes, we had a discussion about this elsewhere, I agree with @ehuss 's analysis.  I think i was assuming by the time this was called the toolchain would be fully resolved.  Instead we need to resolve things explicitly at the callsite, or else in this function.

[2021-08-11 15:14] PietroValerio opened #2838 "rust-gdb and rust-lldb not working using stable-x86_64-pc-windows-gnu toolchain"
**Problem**

expected debugget output but this message pops up
```the 'rust-gdb.exe' binary, normally provided by the 'rustc' component, is not applicable to the 'stable-x86_64-pc-windows-gnu' toolchain```

**Steps**

1.type rustup-gdb or rustup-lldb

**Possible Solution(s)**

**Notes**
Operating system:Windows 10 pro version 10.0.19042 Build 19042
Using mingw-64
Output of `rustup --version`: rust

[2021-08-14 18:49] AlejSala commented on #2656
**error message**
```/Users/yyyyyy/.zshenv:.:1: no such file or directory: /Users/yyyyyy/.cargo/env```

I’m not using Rust. FYI.
any tips? need help. my Z shell .zsh and .zshenv went missing in MacOS Terminal. any ideas on how to resolve? it was there and then poofff gone👻

[2021-08-15 03:55] dtolnay commented on #1429
- Duplicate of #977

[2021-08-17 21:49] MabezDev commented on #2696
@ehuss Could you, or anyone else point me to any docs/repos/examples on how `https://static.rust-lang.org/` is hosted; specifically the structure and manifest files so that we can try and achieve what you're suggesting above?

[2021-08-17 21:54] jessebraham commented on #2696
@mabezdev Some links that may be helpful:
* https://internals.rust-lang.org/t/future-updates-to-the-rustup-distribution-format/4196#how-rustup-distribution-will-work-tomorrow
* https://github.com/theupdateframework/specification/blob/master/tuf-spec.md

[2021-08-18 12:42] savchenko opened #2840 "Safely source Cargo `env` file"
**Describe the problem you are trying to solve**
`rustup` adds unconditional attempt to source `$HOME/.cargo/env`. Two problems:
1. This leads to errors if the location is unavailable
2. The line is added simultaneously to `~/.profile`,  `~/.bashrc` and `~/.bash_profile`.

**Describe the solution you'd like**

1. Test if the file can be accessed prior to sourcing it:
[code]

2. Don't add in >1 pla

[2021-08-21 12:04] e-zhydzetski commented on #2836
I had similar problem, but without any error messages.
[code]

Semms like problem with `reqwest` library

Workaround is to force use libcurl `set RUSTUP_USE_CURL=1`

[2021-08-21 21:36] sudoforge commented on #2642
Is there any chance that this could be added to a `1.24.4` release?

[2021-08-21 21:45] sudoforge commented on #2642
What I'm really asking/saying is:

I'm impatient and would like this to be considered a hotfix, considering it is a regression.

For additonal context, it doesn't appear to use either the `BROWSER` environment variable, _or_ the default browser set with XDG. I'm going to open an issue with `opener` directly.

[code]

[2021-08-22 00:11] sudoforge commented on #2642
To any future readers, this was due to the `xdg-mime` configuration for `text/html` being set to `chromium.desktop`. To resolve this:

[code]

[2021-08-23 08:49] bombless opened #3972 "`rustup default` doesn't show proper warning when architecture is not compatible"
Fresh install rustup on my Windows Subsystem for Linux, choose `stable-x86_64-apple-darwin` toolchain
after installation, run `rustc` it reports `~/.rustup/toolchains/stable-x86_64-apple-darwin/bin/rustc: 1: Syntax error: "(" unexpected`

Or if you choose `stable-x86_64-pc-windows-gnu`, run `rustc` after installation,
it reports `error: the 'rustc' binary, normally provided by the 'rustc' componen

[2021-08-23 16:50] ehuss commented on #3972
I think there may be some confusion here.  There are two concepts in rustup, the toolchain host, and the standard library targets.  It looks like you may have installed toolchains for other hosts, which won't run.  You only need to install the toolchain for the host you are running on (so on WSL, it would be `stable-x86_64-unknown-linux-gnu`).  To cross compile, you only need to install the standa

[2021-08-23 17:06] bombless commented on #3972
Thank you! I'll have a try a few hours later when I can reach my machine.

[2021-08-23 22:49] Pascalio opened #2842 "CARGO_HOME and RUSTUP_HOME should be included in .cargo/env"
**Problem**
Installing to a custom location works fine with
`export CARGO_HOME=custom/.cargo
export RUSTUP_HOME=custom/.rustup`
.bashrc is then updated to source custom/.cargo/env. But then, if the latter file doesn't re-export the custom env vars, cargo and the other tools won't recognise the installation path. This was already mentioned here https://github.com/rust-lang/rustup/issues/2656#issuec

[2021-08-24 06:36] amalik18 commented on #2788
PR has been merged. Please close.

[2021-08-24 13:29] ghost commented on #2836
okay that actually worked thanks :)

[2021-08-25 15:03] ChrisDenton commented on #2441
Surely renaming will work so long as it stays within the same filesystem?

[2021-08-26 06:59] rbtcollins commented on #2441
The Windows NT Dynamic Link Loader opens files with FILE_SHARE_READ(https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-createfilew#parameters for the sematics of that). Renaming a file requires FILE_SHARE_DELETE access, which is not possible if an earlier opener has opened the file without FILE_SHARE_DELETE.
Renames are done by opening a file read-write and using https://docs.mi

[2021-08-26 08:12] bombless commented on #3972
`rustup run nightly-x86_64-unknown-linux-gnu cargo run --target=x86_64-pc-windows-gnu` seems to do the job.

But I still wonder if it is considerable that we change `rustup default` a little bit so it can warn incompatible architecture

[2021-08-26 09:07] ChrisDenton commented on #2441
Ok but this [stackoverflow answer](https://stackoverflow.com/questions/8958094/reliable-file-saving-file-replace-in-a-busy-environment#8964246) says (my bold):

And indeed if I try it, it works (Windows 10 21H1):

[code]

[2021-08-26 09:13] kinnison commented on #2441
@ChrisDenton Does this work if the rename call comes from *not* that process?  i.e. renaming myself might be okay if I'm the only execution context with it; but if there's more than one process from the same exe does it still work?

[2021-08-26 09:26] ChrisDenton commented on #2441
@kinnison Yes, it appears to work.

[code]

[code]

Though I've not tried it on a clean system so I can't rule out the possibility I've changed some setting somewhere that enables this behaviour.

----

**UPDATE:** I tried on a Windows 10 laptop (Home edition) that is not used by a developer. Same result.

[2021-08-29 00:14] est31 commented on #2820
The issue is that rustup on nix os runs patchelf on the downloaded executables, there is a custom [patch](https://github.com/NixOS/nixpkgs/blob/ce77cbef67f6c9d218f99c37bf116389b35ebddd/pkgs/development/tools/rust/rustup/0001-dynamically-patchelf-binaries.patch). However, when you update your OS and run nix garbage collection, it removes the libraries that the patched executables point to. One coul

[2021-08-29 19:08] rbtcollins commented on #2820
Can you just rerun patchelf?

On Sun, 29 Aug 2021 at 02:14, est31 ***@***.***> wrote:

[2021-08-29 23:46] est31 commented on #2820
@rbtcollins that would be an interesting question to find out. A force-reinstall feature is I think always helpful if e.g. the install became corrupted for some reason. I know that some projects using the android NDK like to mess up the NDK for example. Many package managers like apt have reinstall features.

[2021-08-31 03:33] #2836 closed, assigned to nobody

[2021-08-31 11:58] hydra opened #2843 "rust-gdb not working, fails with `error: the 'rust-gdb.exe' binary, normally provided by the 'rustc' component, is not applicable to the 'stable-x86_64-pc-windows-gnu' toolchain`"
**Problem**
No working GDB, cannot debug rust programs.

Fresh install of rust on Windows 10 x64, running `rust-gdb.exe` from the command line results in:

[code]

**Steps**

Either a: run `rust-gdb.exe` from a command shell.
or b: launch or configure a debug session from Eclipse and observe the error message: `Could not determine GDB version using command: rust-gdb --version [cause: error: the 'r

[2021-08-31 16:10] ehuss commented on #2843
I think this is a duplicate of #2838.

[2021-08-31 16:11] ehuss commented on #2838
I think (maybe) the issue is that rustup is assuming all executables end with `.exe` [here](https://github.com/rust-lang/rustup/blob/a441c41679386cf62ebd9e49af6d8b37cd792af6/src/toolchain.rs#L326-L335), but scripts like rust-gdb are shell scripts which do not have the extension.

[2021-08-31 16:13] ehuss commented on #2843
Also, FWIW, the rust-gdb wrapper mostly just adds some pretty-printers for some common std types. I think you should be able to run `gdb` directly.

A workaround is to run the gdb-wrapper directly, such as `~/.rustup/toolchains/nightly-x86_64-pc-windows-gnu/bin/rust-gdb`

[2021-08-31 19:11] hydra commented on #2843
Hi @ehuss I did a search on the issue tracker for rust-gdb but no other issues showed up, maybe a made a typo when I searched or something daft.

Yes #2838 is the probably the same issue.

With regards to running 'gdb' directly, excuse me for being dumb and/or blind, but exactly which `gdb` could I run?  I didn't see any mention of installing gdb separately.  I'm used to gdb being bundled with the

[2021-08-31 19:58] ehuss commented on #2843
On Windows, if you want to use gdb, you'll need to download and install it yourself.  This can usually be done with something like `pacman` (usually via something like msys2).  Rust doesn't distribute debuggers itself.  There are open issues such as https://github.com/rust-lang/rust/issues/34457 or https://github.com/rust-lang/rust/issues/48168 to do that, but it is a non-trivial problem.

As for

[2021-09-01 11:55] ltfschoen commented on #1723
i just encountered this same error and i had over 200 Gb of disk space when i ran
[code]

[code]

i resolved the error by running
[code]

then i was able to install
[code]
with
[code]

[2021-09-01 12:05] rbtcollins commented on #1723
Locking this to avoid further noise. #2417 is the bug tracking the main aspect of this.

[2021-09-01 12:53] hydra commented on #2843
The Rust Corrosion Eclipse plugin has a section on debugging on windows, here:

https://github.com/eclipse/corrosion/blob/master/documentation/Troubleshooting.md#debugging-on-windows

Their current workaround is to create a `rust-gdb.cmd` script, I'm trying this out now along with the MSYS2 `gdb`.

I'll look at the links you have provided, many thanks for taking the time to respond, much appreciat

[2021-09-04 01:22] ForsakenHarmony commented on #1137
Is there a workaround for tools like `cargo-espflash` which internally call cargo and then die because they're blocking themselves?

[2021-09-04 09:44] kinnison commented on #2794
I remain entirely confused as to what's going on for you.  have you managed to solve this yet yourself?  If so, could you please let me know what it was?

[2021-09-04 09:46] kinnison commented on #2804
`rustup install` is a *hidden* alias for `rustup update` because many people got very upset when I wanted to remove it entirely in favour of `rustup toolchain install`

[2021-09-04 09:47] kinnison commented on #2827
I think this is resolved.  If not, please reopen and explain what's left to resolve.

[2021-09-04 09:47] #2827 closed, assigned to nobody

[2021-09-04 10:53] kinnison commented on #2837
This is also related to #2672

[2021-09-04 10:57] kinnison commented on #2441
Interesting, thanks Chris.  @rbtcollins do you think we can use the above to make changes to how we install updates, or should we also try and get tests on older Windows versions?

[2021-09-04 16:23] rbtcollins commented on #1137
@ForsakenHarmony I suggest discussing on the cargo tracker; rustup doesn't block anything

[2021-09-04 20:32] dark0ghost commented on #2794
I manually corrected it by adding in .bashrc ``` export PATH=$HOME/.cargo/bin:$PATH``` and source ~/.bashrc and all works

[2021-09-05 03:51] kushaldas commented on #2807
@carols10cents Please let me know if the following would be an ideal behavior in your mind:

[code]

I would love to work on this issue as my first code contribution here :)

[2021-09-06 07:27] kinnison commented on #2807
I am unsure if we should use exactly the same message here since there's a difference between an explicit attempt to `self update` and this automatic operation.  Perhaps:

[code]

Wording can be argued out later though once some code is in place.

[2021-09-06 11:20] kushaldas commented on #2807
Thank you, I will work on this tonight.

[2021-09-06 21:11] jasoncarr0 opened #2844 "Error message for missing component can be unhelpful"
**Describe the problem you are trying to solve**

As a user of rustup I would like to use both the nightly branch (e.g. for features), as well as a component.
What this often means is I will:
* First install/default to the nightly toolchain, via `rustup toolchain install nightly`
* Later, determine I need a component (e.g. rls) and try to use something like `rustup component add rls`

What results

[2021-09-07 20:32] Victor-Lazzarini opened #2846 "error: toolchain 'nightly-x86_64-pc-windows-msvc' is not installed"
Hello I´m quite new in rust but i want to run this **rustup component add rust-src --toolchain nightly
rustup target add wasm32-unknown-unknown --toolchain nightly** but it shows me this message
: **error: toolchain 'nightly-x86_64-pc-windows-msvc' is not installed**
i would appreciate if u guys can help me
rust version : 1.24.3
****

[2021-09-08 01:41] ehuss commented on #2846
Before installing a component or target, you need to install the toolchain.  `rustup toolchain install nightly-x86_64-pc-windows-msvc` can be used to install the toolchain.  There is more information about how to use rustup in the [rustup book](https://rust-lang.github.io/rustup/index.html).

Questions like these are best asked on one of the forums, such as [urlo](https://users.rust-lang.org/).

[2021-09-08 02:09] Victor-Lazzarini commented on #2846
oh thanks it was that, sorry i know is too basic

[2021-09-08 14:51] #2846 closed, assigned to nobody

[2021-09-08 22:42] workingjubilee commented on #3972
That would be a rustup bug. Could this issue be transferred?

[2021-09-09 15:26] chansuke commented on #2819
@longtomjr The result below can be helpful? Or should the file path be completely removed?
[code]

[2021-09-13 08:56] kinnison commented on #2794
OK thanks, I can't think what might have gone wrong, so I'm going to close this for now.  If someone has a similar problem we can either file a fresh issue or reopen this one as appropriate.

[2021-09-13 08:56] #2794 closed, assigned to nobody

[2021-09-13 08:57] kinnison commented on #2819
I don't think we'd want the "*./" no.

[2021-09-14 09:17] dbr opened #2848 "Deduplicate PATH entries added during build (e.g. `~/.cargo/bin`)"
**Problem**
When running `cargo build` (or `cargo check`, `cargo clippy`), the `$PATH` env var contains `~/.cargo/bin` twice. My `$PATH` contains it once (by sourcing `~/.cargo/env` as per standard rustup install)

This addition to `$PATH` is mostly harmless, except when:

1. A dependent package has a build.rs containing `cargo:rerun-if-env-changed=PATH`
2. User switches between running `cargo bui

[2021-09-14 11:13] CatarinaPedreira commented on #1239
Hey all! Any news on this? @cyplo @wraithan @workingjubilee
I'm building a docker image and get "Invalid cross-device link" in the RUN rustup update nightly instruction of my Dockerfile.

@ishitatsuyuki thanks for the documentation. I see that this problem has to do with "redirect_dir" being disabled. So any idea how to enable it through the Dockerfile?

[2021-09-14 11:16] ishitatsuyuki commented on #1239
@CatarinaPedreira If you need to work around the issue, just remove the toolchain and install it again. I think it would avoid involving renaming across overlayfs boundary.

[2021-09-14 11:22] CatarinaPedreira commented on #1239
@ishitatsuyuki Thanks for the quick reply. I'll do that then, thank you :)

[2021-09-15 07:22] kinnison commented on #1239
Copy+Delete would be exceedingly slow because the rename stuff is used in our transactional filesystem accessing code.  If we had to open+open+{read,write,loop}+close+close rather than rename then our toolchain update process would become immensely slow.  Perhaps we can detect that particular OS error by attempting a rename on something innocuous first, and if that fails, refuse to update a toolch

[2021-09-15 07:28] kinnison commented on #2848
I believe the approach which would work here would be in:

https://github.com/rust-lang/rustup/blob/master/src/env_var.rs#L24-L37

We should, for each value in the new values we want to prepend, if they exist in the old values, remove them first from there.  This would be fairly easy to do by means of a `.filter()` on the `split_paths().collect()` chain.

If someone wants to give this a go, I'm ha

[2021-09-15 10:19] CatarinaPedreira commented on #1239
Thank you @kinnison !

[2021-09-16 16:54] ForsakenHarmony commented on #1137
@rbtcollins it does, in the case of `cargo-espflash`.

- I call `cargo espflash` which makes rustup copy `cargo` and lock it
- then `cargo-espflash` internally calls `cargo build` which fails because rustup tries to copy `cargo` again

[2021-09-16 17:44] rbtcollins commented on #1137
@ForsakenHarmony *rustup* does not lock anything. Cargo has locks. Thats why I suggested discussing on the cargo bugtracker.

If you are encountering some other sort of lock, you could start by filing a specific bug about it, rather than sidetracking an existing bug that seems to be separate : I'm going to wait long enough for notification emails to be sent then mark all these comments offtopic.

[2021-09-17 01:17] amoghaVB commented on #924
Tried but not worked: 1)nameserver change to 8.8.8.8, 2)IPv6 disabling, 3)trying to install from rustc-*.tar.gz file using ./configure, make, sudo make install
what worked: uninstall curl (installed using snap) using 'sudo snap remove curl,' then reinstall using 'sudo apt-get install curl.' Finally, using  'curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh' worked for me

Solution sou

[2021-09-18 05:21] chansuke commented on #2848
I would like to send PR

[2021-09-19 20:19] rbtcollins commented on #2441
Theres certainly something interesting going on here. We could get some research on slower-ring releases, because I don't recall this being how it *used* to be. Deleting the file is still not possible, at least without using FILE_DISPOSITION_POSIX_SEMANTICS. We could move files to the recycle bin perhaps.

![image](https://user-images.githubusercontent.com/499678/133941029-25e93cdf-acfa-49b9-880e-

[2021-09-19 21:22] ChrisDenton commented on #2441
I looked into this more since my last post. It seems the executable loader is using [`CreateFileMapping`](https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-createfilemappingw) (well, the NT equivalent) to map the executable. which makes sense. From testing this, it appears this means there's a special "no delete" lock on the file which (unlike missing `FILE_SHARE_DELETE`) s

[2021-09-19 21:57] rbtcollins commented on #2441
Yeah. so in Cygwin we used the underlying NT APIs to simulate POSIX behaviour, but there's a raft of corner cases :/

[2021-09-20 20:38] hargoniX commented on #2168
I'd like to look into this as well, @shaneutt did you end up pushing some results into some repository? Or could you share your insights into the problem in general maybe?

[2021-09-20 21:20] shaneutt commented on #2168
I only made it as far as coming to understand how the FreeBSD support was added as a frame of reference. I can recommend you doing the same, but beyond that I have nothing meaningful to contribute.

[2021-09-22 20:13] sffc commented on #1329
Are there any tips to figure out the date for a certain beta version, like `1.56.0-beta.3` ?

[2021-09-23 13:01] matklad opened #2850 "Actual error seems to be stripped from the error message"
I am seeing the following error:

[code]

I think it is coming from https://github.com/rust-lang/rustup/blob/c33cb5ed7fc2854eab7f3cfb1fa6d012b13a8f6c/src/utils/utils.rs#L636-L643

There's some underlying `io::Error` which should hopefully tell me *why* the rename fails but it isn't visible in the error mesage .

[2021-09-23 13:55] matklad commented on #2850
(adding debug prints showed that this is file-not-found error, and the root culprit is #988 -- I was somehow running `rustup target add` concurrently, and the *second* invocation was failing after the first one renamed the file from under it.

[2021-09-24 00:55] workingjubilee commented on #2840
About 1: What is the problem with it throwing errors?
If it does not, you have no information that things have been misconfigured.
I would be happy to add the test if I understood the situation better.

2 should not be a problem if it works correctly, because it is designed to only affect the system state once.
I tried to encourage minimizing the number of additions but there are just too many edg

[2021-09-24 02:10] workingjubilee commented on #2788
This has 2 parts to it, I believe there is no Rustup-side warning yet.

[2021-09-27 14:17] yilmazdurmaz opened #2853 "Modify `rustup-init.sh` to support retrying the download of `rustup-init`"
**Describe the problem you are trying to solve**

I am a newbie trying to install rustup. it is having difficulties on downloading required packages from static.rust-lang.org because the connection constantly drops randomly, it tries to reconnect 3 times all starting from zero (does the host not have resume capability!?, I dont know) then just fails the install progress. each reconnection fails at

[2021-09-28 17:52] xcaptain commented on #2629
rustup 1.24.3 still has this error, please release a new version soon, thanks!

[2021-09-29 07:49] Jake-Shadle opened #2855 "1.55.0 clippy checksum failure"
**Problem**
Trying to install clippy 1.55.0 results in this..

[code]

**Steps**
1. Have a `rustup-toolchain.toml` file with
[code]
2. Run any cargo command on a linux host

**Possible Solution(s)**
This only started happening within the past few hours for something that has worked fine for the past 20 days, so feels like the tarball at the location has actually been changed for some reason but th

[2021-09-29 08:14] Jake-Shadle commented on #2855
Oh and was reading https://github.com/rust-lang/rustup/issues/524 but these failures are in containers that have a completely empty `/tmp` directory so unfortunately can't nuke a cache.

[2021-09-29 08:57] rswarbrick commented on #2855
Looks like this might be a CDN configuration issue. If you download the file with a browser and then with curl/wget, you get different SHA sums:
[code]
The files are the same size. Hexdumping and diffing shows:
[code]
(looks like some ASCII in the xz file metadata?)

My guess is that this can be solved with a CDN refresh.

[2021-09-29 09:01] Jake-Shadle commented on #2855
Ahh interesting, I didn't try downloading via the browser, just curl to confirm that I got the same "incorrect" hash locally.

[2021-09-29 09:02] rswarbrick commented on #2855
Oh, and the headers look like they're getting different things.

Browser:
![image](https://user-images.githubusercontent.com/104845/135237629-68169182-ca7c-4dd5-8dc0-9202a6caa5d4.png)

Wget:
[code]

[2021-09-29 09:04] imphil commented on #2855
It's requesting a compressed response (`--compressed`) that makes the difference.

Right checksum (what the browser does in curl terms):
[code]

Wrong checksum (what normal curl does):
[code]

[2021-09-29 09:06] kinnison commented on #2855
@pietroalbini @Mark-Simulacrum I think this is an infra issue?

[2021-09-29 09:10] kinnison commented on #2853
I think the situation you described could be improved by making `rustup-init.sh` pass retry flags when downloading `rustup-init`.  That can, in turn, *attempt* to retry downloads.  In general static.rust-lang.org's CDN is very reliable, but this is something we could do to improve matters.

I'm very sorry that you have lost your appetite to try Rust for now, I hope that you will consider trying ag

[2021-09-29 13:44] Mec-iS commented on #2855
Just a small addition:

For me while trying to install rustup from scratch with *stable* toolchain is
[code]
It works on *nightly*

[2021-09-29 13:59] emilyalbini commented on #2855
Hey all, I'm running a full CDN invalidation so things should get back to normal soon.

If this happens again please ping me and @Mark-Simulacrum, and provide the contents of the `X-Amz-Cf-Id` header. This seems to be an issue specific to individual CDN POPs, and that ID will give AWS support the information they need to troubleshoot the issue.

[2021-09-29 14:04] aicantar commented on #2855
Things are working now apparently. Just ran `rustup-init` and everything went fine, no errors.

[2021-09-29 14:18] imphil commented on #2855
@pietroalbini In case it helps after the fact: These were the headers we got this (UK) morning.

Bad: `x-amz-cf-id: C-PLqYyZSyCBg3OJug_9JCAvzbJz1k_8wcapJSjhUH7sWBDHjsxEOg==`
Good: `x-amz-cf-id: vIK8fU5nuvRz2sh0jfypbn_UeCvDnclKqX44SscE835l4Z2BD20CvQ==`

POP in all cases `x-amz-cf-pop: MAN50-C3`

[2021-09-29 14:30] Jake-Shadle commented on #2855
Yes, the CDN invalidation seems to have worked and can now install clippy again, thanks for the quick turnaround!

[2021-09-29 14:30] #2855 closed, assigned to nobody

[2021-09-29 17:54] abhyuditjain commented on #2853
If it's up for grabs, I'd like to take it up.

[2021-09-29 19:33] abhyuditjain commented on #2853
@rustbot claim

[2021-09-29 19:34] abhyuditjain commented on #2853
Can some one give me a general idea on what needs to be done here?

[2021-09-30 09:12] kinnison commented on #2853
The work is to alter `rustup-init.sh` to pass the correct retry flags to `curl` when using that to download the Rustup binary.  I believe `wget` automatically retries, so it's just `curl` which will need relevant arguments.

It'll be worth checking *when* the retry arguments were introduced to `curl` so that we can do version detection if necessary.

[2021-09-30 10:10] yilmazdurmaz commented on #2853
hi @kinnison  and @abhyuditjain

besides the retrying part, it may also be best to check if the files I was failing (and I was failing on different files at different percentages) are really resumable sources from static.rust-lang.org. (I hope this is not the case in the year 2021 and beyond)

if it is resumable, then you should also add this info to the downloader to have a cached file to resume.

[2021-10-01 10:16] kinnison commented on #2853
I believe that (a) static.rust-lang.org supports continuation (we use that in `rustup` itself) and (b) curl's retrying will use continuations.

[2021-10-02 05:35] gregbuchholz opened #2857 "Issues installing rustup with OpenIndiana / Illumos"
When trying to install rustup on new install of OpenIndiana Hipster 21.04 in a virtualbox VM, I browsed over to https://rustup.rs and got the following message:

...but there was then a note with instructions to run:

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

...that didn't make it very far.  Apparently the default bourne shell doesn't like that.  Bash seemed to fare better,

[2021-10-02 23:19] sidney opened #2858 "hard links to symlink in ~/.cargo/bin installed by rustup-init in macOS Big Sur break SuperDuper! backup"
`rustup-init` installed by Homebrew on macOS Big Sur 11.6, when run creates a number of files in `~/.cargo/bin` which are hard links to a symlink. This breaks backing up using SuperDuper! with its Smart Update option, which does not support files that are hard links to symlinks. Also, [Posix specification of link](https://pubs.opengroup.org/onlinepubs/9699919799/functions/link.html) says "if path1

[2021-10-03 14:53] sfackler opened #2859 "Checksum download order interacts poorly with Artifactory caches"
I'm trying to set up an internal caching mirror of static.rust-lang.org with Artifactory, but am running into a bad interaction between assumptions Artifactory makes around checksum files and the way rustup downloads files.

Specifically, when downloading e.g. `foo.tar.gz`, rustup will always download the `foo.tar.gz.sha256` file first. It uses this to both validate that it properly downloaded the

[2021-10-05 02:17] gregbuchholz commented on #2857
I then installed rust v 1.44 from the pkg tool, and downloaded the rustup repository.  Trying "cargo test" in the rustup project results in the following:

[2021-10-06 14:23] jiegec opened #2860 "Feature request: add User-Agent header to http requests"
**Describe the problem you are trying to solve**

Hi rustup developers, currently the requests sent by rustup do not include `User-Agent` header. It should include something like `rustup/v1.24.3` or something.

The background is, we are mirroring rustup at https://mirrors.tuna.tsinghua.edu.cn/rustup and we are blocking requests without user-agent headers.

**Describe the solution you'd like**

Set

[2021-10-09 09:46] kinnison commented on #2656
I believe this issue is "not reproducible" - there was a new issue created to discuss including the variables in the `env` file, so I'm closing this one for now.

[2021-10-09 09:46] #2656 closed, assigned to nobody

[2021-10-09 09:51] kinnison commented on #2842
This is certainly an interesting idea -- the separation of `RUSTUP_HOME` and `CARGO_HOME` is used by a lot of people to permit complex testing and other setups including sharing a `RUSTUP_HOME` among multiple users on a system.  Though much of that is not **supported** by us, it would behoove us to not immediately break everyone by forcing the variables in the `env` script.

Perhaps the answer mig

[2021-10-09 09:54] kinnison commented on #2820
I think supporting a `rustup update --reinstall` type approach wouldn't be entirely mad.  We could analyse the toolchain to try and acquire information about installed components, and then internally do an uninstall/install with appropriate arguments.  It wouldn't be *easy* but it should be too complex to plumb in.

[2021-10-09 09:57] kinnison commented on #2838
Certainly on Windows we blindly append the extension `.exe` -- perhaps

1. we should use `PATHEXT` rather than always assuming `.exe`
2. we should consider *how* to have `rust-gdb` and `rust-lldb` scripts which will work on native Windows and then give the new scripts appropriate extensions.

Failing that, I suppose we could detect the missing executable, but the fact that the component is already

[2021-10-09 09:58] kinnison commented on #2843
I think the suggestion I just threw into #2838 might be relevant.  We should probably consolidate the two issues.

[2021-10-09 10:00] kinnison commented on #2844
This is a good idea -- we'd need someone to determine where the error message which currently appears comes from; and how to differentiate between where this *is* important and correct (e.g. `rustup update nightly` when you have the `rls` component installed but the newer nightly lacks it) and where it is wrong such as your use-case above.

[2021-10-09 10:49] kinnison commented on #1329
Sadly, short of having the Rust release process create *version numbered* beta release manifests, there's not a lot we can do from the Rustup side :/

[2021-10-09 10:55] kinnison commented on #2858
This is fascinating, We build the hard links by linking to `rustup` in that directory, so the question comes, how did that come to be a symlink instead of a copy of `rustup` ?

[2021-10-09 10:59] kinnison commented on #2859
Importantly this is not a bug in `rustup` but in `Artifactory` itself.  I'm happy for us to look at ways to improve `rustup` so that it doesn't trigger this problem, but I refuse to consider it a bug in `rustup` itself.

We use checksum files for more than avoiding re-downloading files, though that is the primary use for them in the manifest case.  I would have no problem storing the ETag into per

[2021-10-09 13:33] sidney commented on #2858
That' s a hint. Homebrew installs into a versioned directory, such as `/usr/local/Cellar/rustup-init/1.24.3/bin/rustup-init` and creates a symlink `/usr/local/bin/rustup-init` pointing to it. That's how all programs are installed in Homebrew so that `/usr/local/bin` can be in PATH and version upgrades can be handled seamlessly.

If I run `rustup-init` so it runs from `/usr/local/bin/` it looks lik

[2021-10-09 22:34] Darunada commented on #2789
I went with your suggested approach, let me know what you think, thanks!

[2021-10-10 07:51] bytesnail commented on #2680
I encountered the same error on the REFS file system of the Windows 10 operating system.

[2021-10-10 14:25] savchenko commented on #2840
The problem is not with it throwing errors, but with modifying files without explicit user's consent and doing so in multiple places which isn't how Bash was designed to operate. E.g. I don't think there is a good reason to put it in `~/.bash_profile`.

[2021-10-11 14:40] Martinsos opened #2866 "[Asking for advice] How did you set up so that sh.rustup.rs points to the installer script (rustup-init.sh)?"
Hi,
I am author of https://github.com/wasp-lang/wasp and I am trying to set it up so that https://get.wasp-lang.dev points to our installer script (https://raw.githubusercontent.com/wasp-lang/wasp/master/waspc/tools/install.sh), however I am having trouble figuring how to get that working -> I managed to set it up for http://get.wasp-lang.dev (http, not https) via NameCheap URL Redirect but that i

[2021-10-11 19:27] workingjubilee commented on #2840
Unfortunately it doesn't actually matter how Bash was designed to operate from Rustup's perspective because there is no reason to assume that the user is using a terminal application that uses `.bashrc` and not `.bash_profile`. Several DEs open a new login shell for every single terminal.

[2021-10-11 19:58] workingjubilee commented on #2840
The Rustup installer offers an option to not modify PATH. When you ask it to, affirmatively, modify PATH, you also implicitly ask Rustup to do so in the way it thinks is best. Rustup has an issue with not being perfectly aware of what your current setup is like re: DE and such, and also not being aware of what it will be in the future, and thus we have chosen a resilient if imperfect solution by d

[2021-10-11 20:52] Pascalio commented on #2842
This would work brilliantly, thank you!

[2021-10-13 15:08] jonathanpallant opened #2867 "Rust for Windows recommends installing a tool (Visual Studio Build Tools) that needs a licence"
### What needs to be fixed?

On https://rust-lang.github.io/rustup/installation/windows.html it says

It appears that a Visual Studio (Community, Professional or Enterprise) licence is now required to use the Visual Studio Build Tools, and we should either advise people of the fact or recommend an alternative. See this text on https://visualstudio.microsoft.com/downloads/#remote-tools-for-visual-s

[2021-10-14 18:39] ian-h-chamberlain opened #2868 "Command to create rust-toolchain.toml in the current directory"
Apologies if this has already been requested, but I couldn't seem to find any issues describing something like it, nor any feature already built-in to `rustup` to do this. If there is, please feel free to close this issue.

**Describe the problem you are trying to solve**

Frequently, when I create a new binary project, I want to pin a specific toolchain immediately after initializing the project,

[2021-10-14 21:46] moridinga commented on #2840
This issue should be raised in priority. The unprotected nature of this source statement that rustup adds is contrary to best practices (look, for example, at ALL the other source statements in these files - I checked, every single source statement is protected as the original author indicated) and is actively leading to negative consequences for our container use cases, where the user invoking th

[2021-10-14 22:58] workingjubilee commented on #2840
It's not about "defending" or "minimizing", I am simply trying to understand: why exactly do you want to leak invalid state into a Docker pipeline without receiving feedback from it?

The container should not be invoking an rcfile from outside the container's state, as this is breaking container state isolation. My understanding is that such a use case violates best practices for containerization,

[2021-10-15 00:10] moridinga commented on #2840
The error is that the the added code is trying to unconditionally access a file that may or may not exist (just because you made it exist at one point in time). The error is NOT that the file does not exist. All we are asking is that you practice simple defensive programming to prevent an error. Everyone else does this, at least when it comes to these bash script files. If someone was depending on

[2021-10-15 05:50] garasubo commented on #1125
According to [this comment](https://github.com/Seeker14491/opener/issues/4#issuecomment-867285744), this issue has been resolved since opener version is now 0.5?

[2021-10-15 06:25] workingjubilee commented on #2840
I will be more than happy to patch the behavior myself if I am confident that doing so increases the overall correctness of the systems Rustup runs on. But the reason to leave it is as-is is simple:

Rustup, when installed or removed, is supposed to be installed or removed entirely. If Rustup is only partially installed or is only [partially removed, this **is** an erroneous state from the view of

[2021-10-15 07:28] garasubo commented on #2853
@abhyuditjain Is there any progress on it?
If not, I can work on this in this weekend.

[2021-10-15 16:42] rbtcollins commented on #2840
I think its fairly clear that if rustup has been asked to modify init scripts that it is doing the right thing by modifying them.

The question then is whether we want a fail-open or fail-closed system. By which I mean, should installing rustup and then removing part of the installation show up as an error which the user directly observes.

Or should it show up as rust not working, which the users

[2021-10-17 14:33] prdas31 commented on #2838
Same issue ...

[code]

[code]

[2021-10-19 05:22] facklambda commented on #2853
Not sure if there's any movement on this, but I knocked out a PR for it above. May I claim it via rustbot?

@rustbot claim

[2021-10-19 07:05] TheOnlyArtz opened #2870 "[WINDOWS] rustup installation fails because "not enough diskspace" while having hundreds of GBs free to use!"
Hey, I'm trying to install any channel using rustup and getting weird behavior
[code]

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]
This is the capacity I work with:
![image](https://user-images.githubusercontent.com/30025874/137860152-1b4f0b89-c63b-4907-81db-407934674277.png)

[2021-10-19 08:58] kinnison commented on #2870
This feels like a virus scanner is getting in the way - the error is actually `Access Denied`

If you can pause the virus scanner during the toolchain install and then reenable it (and scan the newly installed toolchain) then it likely will work better.  Windows virus scanners are notoriously awful and break a *LOT* of IO.

[2021-10-19 09:23] kinnison commented on #2870
We think this is likely due to `rustup` simply being too good at IO and the virus scanner / whatever not being able to keep up.  I suggested on Discord that the OP tried `--profile minimal` to just get the toolchain installed and that worked, so for now this is resolved.

If anyone encounters similar in the future, please try the minimal profile first.

[2021-10-19 09:23] #2870 closed, assigned to nobody

[2021-10-19 11:55] nazmul91977 opened #2871 "Just did a rustup self update + rustup update in a WSL 1 instance, no issues."
Just did a rustup self update + rustup update in a WSL 1 instance, no issues.

[code]

So I don't think this is WSL1 per se causing the problem. Is it reproducible?

_Originally posted by @rbtcollins in https://github.com/rust-lang/rustup/issues/2245#issuecomment-592806436_

[2021-10-19 12:02] nazmul91977 commented on #2871
https://github.com/rust-lang/rustup/issues/2871#issue-1030212940

[2021-10-19 12:08] nazmul91977 commented on #1305
https://github.com/rust-lang/rustup/issues/1305#issue-280617050

[2021-10-19 13:59] rbtcollins commented on #2871
Spam

[2021-10-19 13:59] #2871 closed, assigned to nobody

[2021-10-19 14:09] nazmul91977 commented on #2871
info: cleaning up downloads & tmp directories

[2021-10-19 14:10] nazmul91977 commented on #2871
robertc@lifelesstr2:~$ rustup self update

[2021-10-19 21:24] peepo5 opened #2872 "Can not install on Android via Termux: `target 'aarch64-linux-android' not found in channel`"
**Problem**

When trying to install rustup using the linux command on the rustup site, when proceeding with install it gives me the following error:
[code]

**Steps**

1. Use termux
2. Install rustup using site command
3. You get this error

**Extra Info**
I tried to install the package rust from the termux package repositories, but it was a too old version for the application I wanted to run. Aft

[2021-10-21 04:45] tgnottingham opened #2873 "Issues with `rustup toolchain uninstall <toolchain>/` with trailing slash"
Given the existence of a custom toolchain, `toolchain-a`, `rustup toolchain uninstall toolchain-a/` (note trailing `/`) will not delete the symbolic link at `~/.rustup/toolchains/toolchain-a`, which is expected, but will produce an error and delete the contents of the directory linked to `toolchain-a`, which is unexpected.

[code]

I might expect it to say something like this instead:

[code]

For

[2021-10-21 15:44] Week2019 commented on #2273
感谢，在更新1.5.6的时候，我也碰到同样的问题，在将rustup-init.exe移动到C盘后，问题得到了解决

[2021-10-21 17:12] wcarss opened #2875 "PR Builds for macOS aarch64 failing due to xcode-select directory"
**Problem**
Builds for macOS aarch64 are failing during the `aarch64-specific items` step, reporting the error `xcode-select: error: invalid developer directory '/Applications/Xcode_12.2.app/Contents/Developer/'`.

**Steps**

1. Open a PR with cosmetic changes (e.g. https://github.com/rust-lang/rustup/pull/2874)
2. It fails in the way described.

**Possible Solution(s)**
My guess is that the lates

[2021-10-21 17:13] wcarss commented on #2875
~~I'll try putting up a PR with the directory I suggested.~~

Actually, going to try just removing the whole xcode-select line, since we might not need to specify using a beta compiler at all anymore. @shepmaster as the original author would likely have way better context!

[2021-10-21 17:40] sfackler opened #2876 "Unknown keys in rust-toolchain.toml are silently ignored"
I was adding a rust-toolchain.toml file to a project, and ended up in a very confusing state where it was clearly being picked up (e.g. `rustup show` had the `overridden by .../rust-toolchain.toml` text) but my selected channel wasn't being respected. I eventually realized that I had used `channnel = "1.56.0"` rather than `channel = "1.56.0"`!

It seems like rustup should complain more loudly abou

[2021-10-21 19:42] shepmaster commented on #2875
seems plausible to me!

[2021-10-22 00:23] frgomes opened #2878 "rustup refuses server certificate on openSUSE Tumbleweed"
**Problem**

 rustup refuses the server certificate on openSUSE Tumbleweed.
 * firewall is disabled on openSUSE.
 * no proxy configuration or any other MITM software.
 * `curl` and `openssl` accept the server certificate as it should be.
  * rustup works fine on a Debian 11 box connected to the same router.
  * rustup works fine on a openSUSE instance running on WSL2.

**Steps**

[code]

`curl` an

[2021-10-22 13:17] matklad opened #2879 "Security page in the docs should mention that rustup assumes trusted file system"
Today, it's possible to make rustup execute arbitrary code by crafting a `rust-toolchain.toml` file:

https://github.com/jonas-schievink/mallory/blob/master/rust-toolchain

This probably should be mentioned on the security page: https://rust-lang.github.io/rustup/security.html

[2021-10-22 21:19] jorendorff opened #2880 "rust-toolchain.toml documentation improvements"
Hi everyone! Thanks for all the effort you've put into `rustup`.

**Describe the problem you are trying to solve**

Today I'm trying to figure out exactly what `rust-toolchain.toml` *does*.

I see that it's documented [here](https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file). But for example, I can't find where it says that it might cause `cargo build` to install a toolchain fir

[2021-10-24 01:15] facklambda commented on #2726
Hello all,

Here's what I'm seeing when I reproduce:

[code]

Is there desire to dampen the severity of this line specifically?

I think changing it to something more persuading like:

I've broken these lines up for legibility purposes.

I can create a draft PR with these changes if folks like the verbiage.

[2021-10-24 02:47] facklambda commented on #2878
Is that local time accurate in the `uname -a` output accurate?

I'm curious if there's something in the reqwest invocation or whichever TLS backend being used that's not utilizing the local issuer certificates.

What happens if you repeat this process with the environment variable `SSL_CERT_FILE="///var/lib/ca-certificates/ca-bundle.pem"` set explicitly?

[2021-10-24 17:41] frgomes commented on #2878
I was able to install Rust on openSUSE running under WSL. But the problem persists on  my regular openSUSE box.

I've compared installed system packages between this openSUSE instance running under WSL2 with my regular openSUSE box.

    zypper se -i ssl
    zypper se -i tls
    zypper se -i ssh
    zypper se -i cert

I've then uninstalled several packages which accumulated along the years from my

[2021-10-24 17:50] frgomes commented on #2878
I've discovered that my system had accumulated a relative large number of package repositories and it has a lot of stuff which probably is colliding to each other in multiple ways. I've decided for reinstalling openSUSE.

Hours later...

After reinstalling openSUSE from scratch I was able to install Rust as usual.

I'll leave this issue open so that you guys decide whether `rustup` should behave l

[2021-10-24 19:23] frgomes commented on #2878
@facklambda :: I've seen other issues mentioning that date/time must be accurate, NDP client must be active, etc. I can guarantee that my computers are all configured to obtain date/time from NDP servers.

I believe that the problem was related to certificates being obtained from wrong locations. Unfortunately, I could not wait for this issue to be solved, I mean: I had to reinstall openSUSE from

[2021-10-25 00:22] facklambda commented on #2878
@frgomes interesting, I wonder if the freshly installed rustup is still using the reqwest backend.

[2021-10-25 06:11] takkuumi commented on #2860
same. rust-static is very slowly in china, i use tuna or ustc mirror, it's broken in last week.

[2021-10-25 09:17] frgomes commented on #2878
@facklambda : It is, apparently.

[code]

[2021-10-25 12:47] #2875 closed, assigned to nobody

[2021-10-25 14:03] ChaiTRex opened #2881 "Suggested source command fails when $HOME includes whitespace"
**Problem**

When following the instructions on https://rustup.rs/, the terminal output says that `source $HOME/.cargo/env` should be run to correct `$PATH` and so on in the current instance of the shell.

If `$HOME` has whitespace in it, this will fail. This is a minor problem when someone is at the terminal, but when rustup is used in an automated install of Rust and the automation script includ

[2021-10-27 15:20] kuvaldini opened #2882 "How to install exact version with rust-init?"
**Describe the problem you are trying to solve**
Hello.
I need to install Rust with exact version, not latest. How is it possible?

**Describe the solution you'd like**
I'd expect/suggest to add version to URL, like:
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs/?version=1.24 | sh`

[2021-10-27 15:36] kinnison commented on #2882
We only permit the installation of the latest version of `rustup` using the init script.  If you wish to install a particular version of rustup for some reason, you'd need to construct an appropriate url directly and download it.

If you mean to install a particular version of the Rust toolchain though, then you can specify the default toolchain with a command like:

[code]

But if you're using th

[2021-10-28 17:35] jonhoo opened #2883 "Set environment variables in rust-toolchain.toml"
**Describe the problem you are trying to solve**

I'm managing a sort of meta-build system that manages packages built in many different languages. It aims to delegate to the idiomatic build tools for each language as much as possible rather than re-implement them, which means it relies heavily on being able to express all necessary configuration through idiomatic configuration files. Unfortunatel

[2021-10-30 09:15] bbros-dev opened #2886 "error: rustup is not installed at '/home/user/.cargo' when $RUSTUP_HOME is set to something other than the former"
**Problem**
1. Rustup cannot update when `CARGO_HOME` is not the Linux default `~/.cargo`
1. Then `rustup self uninstall` fails to work
1. At https://www.rust-lang.org/tools/install, there are no further instructions, or a link to those instructions, on how to uninstall `rustup`.

**Steps**

[code]

**Possible Solution(s)**
No idea. We seem to be in a Mexican-standoff.

**Notes**

Output of `rustu

[2021-10-31 06:39] kimlimjustin opened #2887 "Install rust on WSL 2 of Win 11 brings Green screen of Death"
**Problem**
Installation of Rust went smooth on Windows 11 and Ubuntu itself, but when trying to install it on the Ubuntu subsystem of Windows 11, my computer went into Green screen of Death with the error code `MEMORY_MANAGEMENT`

**Steps**
1. Use windows 11 insider build
2. Install Ubuntu WSL
3. Open the WSL
4. Run `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh` to install
5. Ju

[2021-10-31 23:15] NervosaX commented on #2887
I get the exact same issue, exact same steps. The install will suddenly crash windows and restart. If I proceed to uninstall:

[code]

and then repeat the curl above, the error repeats.

[2021-11-01 09:43] Hecatron opened #2889 "Running multiple cargos simultaneously with linked toolchain under windows"
Hi,
I've recently been developing an embedded project under windows for the ESP32
As part of this I need to use a custom toolchain and link it in
https://github.com/esp-rs/rust

This all seems to work fine but some tools try to run cargo multiple times at the same time
and under windows if this happens and the toolchain is linked it seems to result in
[code]

This might be related / the same thing

[2021-11-01 12:36] kinnison commented on #2887
While this is definitely irritating for you; it's not a bug in Rustup.  It should not be possible for a userland program inside a VM inside a modern OS to cause a kernel failure.  It would be good if you can report this bug in Windows 11.  I'll leave this issue open short-term so that people who encounter this know we're aware; but there's nothing for us to do right now.

[2021-11-01 14:11] strugglebak commented on #2206
kind of tricky, but it works well, thanks a lot !!!

[2021-11-01 17:29] Hecatron commented on #2889
So I found a workaround to this for custom toolchains

We can't use rustup component since this is a custom toolchain, but we can use x.py
so lets build some tools inside the custom toolchain folder
[code]

Typically the toolchain ends up in build\x86_64-pc-windows-msvc\stage2
The tools / components end up in build\x86_64-pc-windows-msvc\stage2-tools\x86_64-pc-windows-msvc\release
So lets copy the

[2021-11-02 21:22] stouset commented on #2858
This has bitten me as well.

The "obvious" fix is to change the logic to link to `rustup` with symlinks rather than hardlinks, since symlinks-to-symlinks have well-defined semantics (unlike hardlinks-to-symlinks). Do we know the reason that `rustup`'s authors chose to use hardlinks here?

[2021-11-03 03:30] stouset commented on #2858
Reading back through the history, it looks like different operating systems have different requirements for linking. For Windows, you need Administrator privileges to symlink. Other operating systems like Android don't support hard linking. So it looks like `rustup` defaults to trying to hardlink, and falls back to symlinking if that fails.

It might be possible to simply switch the order of attem

[2021-11-04 09:03] kuvaldini commented on #2882
Thank you

[2021-11-04 09:03] #2882 closed, assigned to nobody

[2021-11-04 16:31] OliverBrotchie opened #2890 "Custom build server"
Many components for tier two built targets are not available [[link](https://github.com/rust-lang/rustup/issues/2692)]. As a result, I would like to host a build server for people facing the same issue as me so this process can be easier for them.

**Describe the solution you'd like**
Whilst network proxies are supported, a simple way to specify a custom build server and documentation on what endp

[2021-11-06 16:38] retep998 commented on #2672
I've been seeing this warning as well on the CI for `winapi`. I'm pretty sure the downside of getting this warning in situations where the toolchain should clearly work outweighs the benefit of stopping users from installing a toolchain which will not work anyway.

[2021-11-07 14:00] carlosala opened #2892 "Rustup --version is so slow"
**Problem**

The command `rustup --version` is so slow (70ms, compared to 2ms of `rustup --help | head -n 1` that has the same output.
**Steps**

1. Run `rustup --version

**Notes**

Output of `rustup --version`: `rustup 1.24.3 (ce5817a94 2021-05-31)`
Output of `rustup show`:
[code]

[2021-11-08 09:21] cgrzemba commented on #2857
I know that this works on OI; no rust package installed from OI pkg repository

snipped from a Makefile:

        export RUSTUP_HOME=$(RUSTUP_HOME); \
        export CARGO_HOME=$(CARGO_HOME); \
        export RUSTUP_INIT_SKIP_PATH_CHECK=yes; \
        curl https://sh.rustup.rs -sSf | bash -s -- -y; \
        source $(CARGO_HOME)/env; \

[2021-11-08 11:16] kinnison commented on #2866
Sorry this took so long to get to - you should talk to the infrastructure team if you want to know how that stuff is done - they can be found on the rust-lang zulip instance  <https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra>

[2021-11-08 11:16] #2866 closed, assigned to nobody

[2021-11-08 11:21] kinnison commented on #2867
This is certainly a worrying situation for our users to be in.  Do you have a recommended alternative toolchain which works with the msvc compliant rust toolchain?

[2021-11-08 11:23] jonathanpallant commented on #2867
No, I do not.

[2021-11-08 11:43] Martinsos commented on #2866
Awesome, thank you!

[2021-11-08 11:48] kinnison commented on #2872
Unless I am very much mistaken, `aarch64-linux-android` is a std-only tier two platform - this means that it's available only for cross-compilation, not as a host platform.  Are you trying to install *on* 64bit android?

[2021-11-08 11:52] kinnison commented on #2873
It seems to me that simply removing trailing slashes is one reasonable approach to this.  i.e. normalising toolchain names in that way.  It's an unusual situation for people but an easy enough fix.  If someone wants to propose a PR for this, I'd be grateful.

[2021-11-08 11:53] kinnison commented on #2876
One issue with not ignoring unknown entries is that if we add a new feature, we'll be locking out users of older  rustup versions.  If we think that's a minimal issue (since people can "just" update rustup - unless they're in a no-self-update situation e.g. an OS provided rustup package) then I'm all for adding this since it's good for usability.

[2021-11-08 11:57] kinnison commented on #2878
With no ability to investigate (due to perfectly reasonable reinstallation by OP) and no ability to reproduce when I tried, I'm going to have to close this.  If someone else has this problem in the future, we should open a fresh issue and work through as much careful detail as possible.

[2021-11-08 11:57] #2878 closed, assigned to nobody

[2021-11-08 12:00] Kxuan opened #2893 "Unable to add target "riscv32imc-esp-espidf""
**Problem**
I am trying to add target `riscv32imc-esp-espidf`.

[Platform Support](https://doc.rust-lang.org/nightly/rustc/platform-support.html) shows that "the full standard library is available" for `riscv32imc-esp-espidf`.

But `rustup target add riscv32imc-esp-espidf` fails with these error message:
[code]

I have already update my toolchain to the latest, but it seems does not work.
[code]

[2021-11-08 12:01] kinnison commented on #2881
So many pieces of software fail if `$HOME` (and/or usernames) contain spaces that I'm not too worried that we also have this problem.  We do set the source instruction properly in the RC file updates we write out (quote it, though it'll fail if someone tries to put double-quotes in the RUSTUP home etc.)

I think if someone has a space in their home directory path they'll know what to do in this in

[2021-11-08 12:20] kinnison commented on #2858
Homebrew installing `rustup-init` seems very confusing to me - is it providing a no-self-update binary?  if so realistically it should be providing `rustup` and the proxy set `rustc`, `cargo` etc. **NOT** `rustup-init`.

[2021-11-08 12:22] kinnison commented on #2892
In addition to telling you `rustup`'s version `rustup --version` also determines your current toolchain, loads and validates the manifest for that toolchain, and then runs the compiler to find the `rustc` version for that.  As such it's expected it will take longer.

Can you please explain *why* this "is so slow" and as such is a problem for you?

[2021-11-08 12:34] kinnison commented on #2672
@retep998 Yes, we're trying to resolve the issue, we're aware of what it ought to be and we can fix it fairly easily.  A fix is being worked on here - https://github.com/rust-lang/rustup/pull/2854

[2021-11-08 12:37] kinnison commented on #2893
That target is tier 3 and as such is not distributed:

[code]

[2021-11-08 12:37] #2893 closed, assigned to nobody

[2021-11-08 14:38] kinnison commented on #2886
Our test suite sets those variables in order to operate, so I'm not sure how this could be happening to you.  Can you confirm that `CARGO_HOME` is definitely *exported* to subshells? Also how did you install rustup?  Did you install in those specific dirs, or did you move the installation later?

[2021-11-08 16:11] peepo5 commented on #2872
yes

[2021-11-08 17:23] yilmazdurmaz commented on #2853
@kinnison

I am confused about the resolve. I don't know much how curl works but shouldn't be there also some resume flag in it.

is this change, as it is now, have the ability to keep partially downloaded file and then resume in each retry?

if not, this change will not really solve the problem I originally had: there were already 3 retries and each retry was starting from zero and failing at dif

[2021-11-08 18:16] kinnison commented on #2853
@yilmazdurmaz I have no idea where I got the idea that retries automatically used resume/continue, but I clearly though that when I commented above, I agree that the TODO for that still seems to be open in cURL so this is not yet fixed.

[2021-11-08 18:19] carlosala commented on #2892
There is a [zsh plugin](https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/rustup) that uses the `rustup --version` command to automate the completions generation. Now we are going to use `rustup --help | head -n 1` to improve the time that takes zsh to open when using this plugin.
I just posted this issue to inform you, just because maybe this was a bug.
Thanks for the answer!

[2021-11-08 18:19] #2892 closed, assigned to nobody

[2021-11-08 18:19] kinnison commented on #2872
Then I'm afraid you're going to struggle.  Perhaps this target was demoted, because clearly we built a `rustup` for it; but the platform support list suggests that it's not supported as a host platform.  Is this your only development system?  Android isn't a typical host platform for doing development.

[2021-11-08 18:20] kinnison commented on #2892
@carlosala is there a reason you don't just use `rustup completions zsh` and source that into your shell?

[2021-11-08 18:21] carlosala commented on #2892
Yes! To automate the update of completions with newer versions of the command :)

[2021-11-08 18:42] facklambda commented on #2853
Oh crud I had assumed the same. I can rework my PR after work tonight or tomorrow, so that both retry and resume/continue stuff is passed.

My apologies, I should have double-checked the continue/resume support in cURL.

I dunno how hacktoberfest counts this, but hopefully it still counts toward my PRs. 😅

[2021-11-08 19:29] peepo5 commented on #2872
No I do not want to do development, I just want to install a crate. Termux has rust in its repos but it is an old version and all I want to do is install a newer version of rust for android to run a crate.

[2021-11-08 19:38] Alexendoo opened #2894 "Panic while cleaning up cached downloads"
### Problem

[code]

### Steps

I got this panic when rustup automatically installed the toolchain from [this toolchain file](https://github.com/rust-lang/rust-clippy/blob/94517d397c3812d6b8064078a5b494b9f7a79df7/rust-toolchain)

[code]

Unfortunately I can't reproduce it, I removed and tried installing it again but this time it succeeded

### Possible Solution(s)

_No response_

### Notes

_No re

[2021-11-08 20:32] rbtcollins commented on #2892
On Mon, 8 Nov 2021 at 19:21, Carlo Sala ***@***.***> wrote:

I don't understand what this means.

Does it mean detecting when rustup has been updated to refresh the
completions? Or something else?

If detecting when rustup has been updated, perhaps zsh should cache the
output of the completions command and just re-run it periodically, detect
changes on that and then update if appropriate. The comp

[2021-11-08 22:11] workingjubilee commented on #2887
Is this WSL1 or WSL2? I have seen other reports of lots of GSoDs on WSL1.

[2021-11-09 00:49] kimlimjustin commented on #2887
WSL2

[2021-11-09 01:50] stouset commented on #2858
That's correct, it's a no-self-update binary.

[code]

[2021-11-09 08:32] thejpster commented on #2867
No change in 2022 either, sadly.

https://twitter.com/therealjpster/status/1457979783925669888

[2021-11-09 09:57] andrewsonin opened #2895 "`rustup update` panic while cleaning cache"
### Problem

[code]

### Steps

1. `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`
2. `rustup target add x86_64-unknown-linux-musl x86_64-pc-windows-gnu`
4. `rustup update`

### Possible Solution(s)

_No response_

### Notes

_No response_

### Rustup version

[code]

### Installed toolchains

[code]
### Operating system

macOS Monterey 12.0.1

[2021-11-09 10:06] kinnison commented on #2858
Right, so realistically if homebrew is expecting to be in control of updating `rustup` then instead of providing `rustup-init` to users, it *should* be providing `rustup` and all the proxies in the path instead.

[2021-11-09 10:11] andrewsonin commented on #2895
Just found that I can't reproduce the bug following the steps outlined here. Hm...

[2021-11-09 10:35] carlosala commented on #2892
This means that the version is cached in a file, and if the version changes, reload the completions file. Doing this, we can have completion file personalized to the user's version of the tool.

I tried with hyperfine `rustup completions zsh` and `rustup completions zsh cargo` and it's really fast, just a couple of ms. It looks like, in this case, should be a better option to just rerun the comple

[2021-11-10 16:27] peepo5 commented on #2872
@kinnison

[2021-11-11 09:41] kinnison commented on #2872
I'd look to your upstream for that software and ask them to make a new release; or else use a non-android system such as Linux or Windows to cross-compile the software for android if I were you.  Android really isn't a good platform to be running compilers etc. in my opinion.

[2021-11-11 09:46] #2837 closed, assigned to nobody

[2021-11-11 09:51] kinnison commented on #2672
In #2854 the fix is in for partial toolchain names, and has a test, so the next release of rustup should fix the major pain of Windows at least.  If anyone affected here is comfortable building a local rustup and trying it then that'd be useful, but I think it should be good.  **however** it doesn't prevent the toolchain warning message when installing the musl toolchain on gnu linux for example,

[2021-11-11 10:11] kinnison commented on #2894
My **guess** which it will be hard to confirm or refute after the fact is that you had two rustups running at once.  Perhaps you had an IDE open on the codebase?  Without a traceback we can't be certain, but that line is not great either way.  We could change the remove_file call there to combine in its error if it happens, though that'd still have failed the install, it would have been slightly l

[2021-11-11 10:12] kinnison commented on #2895
We typically see permission errors in IO only on Windows - I have two guesses as to what this could be, neither are easy to reproduce reliably:

1. You may be running some kind of virus scanner which decided to lock and scan the temp directory right before we tried to remove it
2. You may be running multiple `rustup` operations simultaneously (e.g. via an IDE as well as the CLI) and these can conf

[2021-11-11 10:43] peepo5 commented on #2872
Alright. I know android is not ideal but it what most people use for a mobile system. I will ask the package maintainers for a new version soon.

[2021-11-11 10:43] #2872 closed, assigned to nobody

[2021-11-11 11:55] Alexendoo commented on #2894
I think you're right, I did have rust_analyzer running and it would have been shortly after a git pull that updated the toolchain file to a new nightly. I'll submit a PR to avoid the panic

[2021-11-11 18:43] stouset commented on #2858
Well, or it should just provide the `rustup-init` parts and install `rustup` normally, allowing self-updating.

[2021-11-11 18:52] stouset commented on #2858
Looks like the bug is still in `rustup` here. Homebrew just drops the upstream `rustup-init` binary into the user's `PATH` and expects the user to invoke it.

Ideally `rustup` would create a copy of itself in `~/.cargo` the way that it works when curl-piping and symlink everything into there.

[2021-11-12 12:42] #2894 closed, assigned to nobody

[2021-11-13 11:32] Yuri6037 opened #2900 "Fix aarch64-linux-android target installs"
### Problem you are trying to solve

Getting android targets to build out of the box.

### Solution you'd like

Auto setup some variable so that cargo can link properly for android and cc crate works properly.

For linux the only variable needed is (assuming android NDK installer properly setup its environment):
[code]
If the NDK installer was defective another variable is needed:
[code]

### Note

[2021-11-14 08:09] sathwikmatsa commented on #2819
I was able to put together a command to only have the basename in .sha256 file. However, I'm not sure how to verify it in CI or locally. Can we somehow access the build artifacts from PR builds?

[2021-11-15 08:08] andrewsonin commented on #2895
@kinnison No, none of those ring bells.

[2021-11-15 08:21] rbtcollins commented on #2895
What's the ownership on the two last directories in the path that fails to
delete?

On Mon, 15 Nov 2021, 09:08 Andrew Sonin, ***@***.***> wrote:

[2021-11-15 11:28] andrewsonin commented on #2895
@rbtcollins

Since then I have completely reinstalled `rustup`, so there is no way for me to recover this information.

However, the command `ls -shal /Users/andrewsonin/.rustup/tmp` now outputs the following:
[code]
I think the permissions could not be different from the current ones, since I worked with `rustup` exclusively from the terminal without using sudo.

[2021-11-15 17:53] rbtcollins commented on #2895
Thanks, though we would have needed the original numbers not the
re-installed ones to be able to exclude permissions as a cause.

On a non-windows OS, without permissions preventing deletion the only
remaining cause is a disconnected network drive, or a kernel security
module of some sort intercepting the operation.

-Rob

On Mon, 15 Nov 2021 at 12:28, Andrew Sonin ***@***.***> wrote:

[2021-11-15 20:51] rylev opened #2903 "`rustup which` can panic if asking about an uninstalled toolchain"
### Problem

`rustup which cargo --toolchain=$TOOLCHAIN` panics with cryptic message when the toolchain in question is not installed.

### Steps

1. Ensure the nightly toolchain is *not* installled
2. Run `rustup which cargo --toolchain=nightly`
3. A panic will occur `thread 'main' panicked at 'binary not found', src/cli/rustup_mode.rs:1053:6`

### Possible Solution(s)

Instead of panicking, a nic

[2021-11-18 15:26] couchand opened #2904 "rustup --version tries to install a toolchain"
### Problem

When in a directory with a `rust-toolchain` file, the command `rustup --version` tries to start installing the specified toolchain.  This seems quite surprising.

### Steps

1. Navigate to a folder with a `rust-toolchain` file.
2. `rustup uninstall` the specified toolchain
3. `rustup --version`

### Possible Solution(s)

_No response_

### Notes

_No response_

### Rustup version

[co

[2021-11-20 05:14] 0xPoe commented on #2904
Duplicate of https://github.com/rust-lang/rustup/issues/1397

[2021-11-20 05:14] 0xPoe commented on #2903
@rustbot claim

[2021-11-20 05:15] 0xPoe commented on #2903
Let me try to fix it.

[2021-11-23 21:34] leonardo-m opened #2907 "[ER] Better help for downloading with complete profile"
### Problem you are trying to solve

When I've done "rustup update" on a new computer I've received the warning:

[code]

### Solution you'd like

Rustc has spoiled me, I'm used to often receive error messages/warnings that tell me the problems and "help" to fix it. So I'd like that warning to use few more words to explain me how to download a smaller amount of stuff, assuming probably I'm not a r

[2021-11-23 22:22] rbtcollins commented on #2907
Please feel free to put forward a patch to the docs as a partial fix for bug #2661.

I'm closing this as a duplicate.

[2021-11-23 22:22] #2907 closed, assigned to nobody

[2021-11-23 22:23] #2904 closed, assigned to nobody

[2021-11-23 23:14] rbtcollins commented on #2887
@NervosaX @kimlimjustin how much memory do your Windows machines have in them ? What does `free -h` report within WSL ?

Rustup is aggressive about using memory reported as available. It is likely a problem with ballooning pages in the hypervisor interface.

For instance, on my WSL 2 here:
[code]

[2021-11-23 23:20] rbtcollins commented on #2887
After installing rustup (no crash) I have:
[code]

Note the jump in cache. Memory pressure peaked at 1G during `rustup toolchain add stable` - so about 240MB being used by rustup.

[2021-11-23 23:21] rbtcollins commented on #2887
Last question, does this happen on non-insiders builds? Anything on an insiders build is default-assumed to be the builds problem ;)

[2021-11-24 00:29] kimlimjustin commented on #2887
Oh yeah, forgot to update, some days ago, I decided to reinstall the wsl and the ubuntu subsystem, and after reinstalling, finally, it works!

[code]

Idk, I can't try on non-insider builds tho cuz I got no other machine and the spaces in my computer is not enough for building another virtual machine again.

[2021-11-24 10:13] the-Arioch opened #2908 "Win7 - rustup-init update - confusing: it seems (maybe not?) rustup-init failing saying cargo should be on PATH but it already is."
### Problem

Try to run RUSTUP to update existing system. It runs up to cargo update, then it fails because, allegedly, cargo directory is not on path.

[code]

Then it fails

[code]

or like that

[code]

### Steps

Just run rustup-init on my system...

### Possible Solution(s)

_No response_

### Notes

_No response_

### Rustup version

[code]

### Installed toolchains

[code]

[2021-11-24 10:15] the-Arioch commented on #2908
[code]

Should it also check and update CARGO or only the language (compiler, RTL, core docs) ?

[2021-11-24 10:18] the-Arioch commented on #2908
Maybe i am misreading things, but the initial output had that line

[code]

It sounds like the program DID found something to update, but then it failed to do so, because of PATH issues.

Maybe i am misreading things.

But it would be IMHO much better if the rustup-init clearly indicated the status on the exit. Was everything up to date or not? Was there errors/warning or not? Is there work to be

[2021-11-24 16:11] couchand commented on #1397
Is anyone actually working on this?  This is very surprising behavior and I would have expected three and a half years to be plenty of time to address it.  I realize that everyone is busy, is there anything I can do to assist?

Is there agreement on @ickk's list of commands that should not modify the environment?  Does anyone have comments on @kellda's PR #2658?

[2021-11-25 09:38] NervosaX commented on #2887
I was on WSL1, I didn't realize it stayed on 1 after upgrading to Windows 11. Moving to WSL2 fixed the issue for me.

Others can check in cmd/powershell with:

`wsl -l -v` for the version of wsl they have.

You can use `wsl --set-version ubuntu 2` to upgrade (if you're using ubuntu).

[2021-11-25 12:12] kimlimjustin commented on #2887
I'm pretty sure that's on wsl2

[2021-11-25 15:35] ehuss commented on #2908
I don't see an error message in your output.  Is the part of confusion the message "To get started you may need to restart your current shell."?   I'm a little unclear where you're running into trouble.

FWIW, if you have rustup already installed, you should not be using rustup-init.  That is only needed for initial installation.  Afterwards, `rustup update` can be used to update rust.

[2021-11-25 16:24] the-Arioch commented on #2908
It is simple, thus convenient: you have it where you downloaded it, you just run it again.

Basically, if that is prohibited, then it should not work. Should instead show error message like "Rust is already installed. You can not run rustup-INIT on an already initialized machine. Open command prompt and run `rustup update` instead. Press any key to exit".

Yet, if that is not prohibited, then it s

[2021-11-25 17:00] ehuss commented on #2908
I don't think it is forbidden, it's just not the normal procedure.

Yea, unfortunately it is not possible for an installation program to update the `PATH` of a running process (like the console window).  This isn't an error, it is just telling you to restart your console window to pick up the PATH changes the installer made.

I think it could check if PATH is already correct when it starts, and sk

[2021-11-25 18:13] the-Arioch commented on #2908
Can actions of rustup-init and rustup be formulated in desired state / real state or deviaton / planned action triads?

[code]

Sounds legalese, but at any specific stage that would keep human in the know, and at the end of job would always give a summary, whether it is all good or not.

[2021-11-25 18:16] the-Arioch commented on #2908
but it IS an error: it implies that the PATH variable does NOT contain cargo path yet, and that HAS TO be corrected. However in that case PATH already contained Cargo path and no correction was actually needed!

How can a newb know it without running rustup-init in IDE debugger ?

Ambiguous.

But did not say so.

And then that is what had to be told: press any key to exit and close the window.

[2021-11-26 00:58] workingjubilee commented on #2887
Do we have a FAQ for troubleshooting advice? I believe that "move to WSL2" and "have you tried uninstalling and reinstalling?" should go on such a thing for WSL.

[2021-11-27 19:55] Aelerinya commented on #2876
@rustbot claim

[2021-11-29 20:33] rbtcollins commented on #2876
@kinnison and I have discussed this and decided what we want to do is:

1. be strict: new features in toolchain.toml should error, because a rustup that doesn't understand the feature cannot do the right thing for users, and older code cannot predict the semantics of newer code.
2. error when this situation is encountered with a message that gives people everything they need to fix it - something

[2021-11-30 20:49] maxwell8888 opened #2911 "Support running rust-gdb as root"
### Problem you are trying to solve

When developing in C, I debug a running program by attaching to it with `sudo gdb -p <pid>`. My understanding is you have to run gdb as root in order to attach to a process. However, I'm unable to do the same with rust-gdb. `sudo ~/.cargo/bin/rust-gdb -p <pid>` produces the error: `error: no override and no default toolchain set`.

### Solution you'd like

To b

[2021-11-30 21:51] rbtcollins commented on #2911
The no override and no default toolchain set error is occuring because you're running rustup installed for your user, from the root user: rustup isn't installed for root.

Possibly we can detect this, but in the meantime, just installing rustup as root should get you sorted.

[2021-12-01 14:25] kinnison commented on #2911
Another option which, while not something sensibly documented in `rustup` since it's a property of the `rust-gdb` file which comes from the https://github.com/rust-lang/rust repo, would be to set `RUST_GDB='sudo gdb'` in your environment, e.g.:

[code]

[2021-12-01 17:16] maxwell8888 commented on #2911
@kinnison thanks for the suggestion, it does successfully open rust-gdb, but I don't think it's working correctly since there doesn't seem to be any pretty printing and when it starts there is the error:
[code]
A user on reddit suggested running `sudo rustup install stable` as an alternative to reinstalling rustup as root. Is this a good work around?

[2021-12-01 19:16] rbtcollins commented on #2911
That is installing rustup as root.

rustup installs per-user.

[2021-12-02 03:18] arnabanimesh opened #2912 "rustup should suggest Windows 11 SDK while installing on Windows 11"
### Problem you are trying to solve

On Windows 11, it suggests installing Windows 10 SDK instead of Windows 11 SDK. Latest SDK improvements and security improvements need to be supported.

### Solution you'd like

Suggest latest supported Windows SDK instead of a specific version

### Notes

_No response_

[2021-12-02 06:46] rbtcollins commented on #2912
Is that what rustc needs?

[2021-12-02 11:42] kinnison commented on #2912
I'd be willing to have the recommendation URL change based on the OS you're installing on.  If installing on win 10 recommend the win 10 SDK, if on win 11, recommend the win11 one but also mention the win10 one if you are developing for older systems.  There's no point in us making it harder for people coming to Rust to develop apps which will work in a wider area.

[2021-12-02 11:45] #2881 closed, assigned to nobody

[2021-12-02 11:47] kinnison commented on #2887
For now I'm going to pin this issue so that people notice it (hopefully), but otherwise there's nothing to be done I think

[2021-12-02 11:49] #2903 closed, assigned to 0xPoe

[2021-12-02 11:54] #2873 closed, assigned to nobody

[2021-12-02 11:58] rbtcollins commented on #2912
https://www.reddit.com/r/rust/comments/r6vkge/when_will_rust_support_windows_11_sdk/ seems to be the genesis of this discussion. Its not clear to me that *rustc* actually uses the windows 10 *or* 11 SDK at all: the windows crates involved are https://github.com/microsoft/windows-rs or https://github.com/retep998/winapi-rs. The latter is hand-crafted, no dependency on the SDK. The former is also in

[2021-12-02 13:39] kinnison commented on #2912
I think I possibly misunderstood - this is likely referring to https://github.com/rust-lang/rustup/blob/master/doc/src/installation/windows.md?plain=1#L15 which mentions ensuring you install the Windows 10 SDK, which is likely to ensure there's a C runtime etc.  Not sure how to improve this without introducing confusion.

[2021-12-02 13:41] kinnison commented on #2819
Sorry to have left this so long - yes, build artifacts should be available from PR builds, so long as the action does the right thing to say they should be.  Or you could just add an action step to generate the files, but emit them to stdout, and then look in the action logs, that might be easier.

[2021-12-02 20:27] K900 opened #2915 "Confusing error message when no default toolchain is set, and `rustup` is invoked as `rustc` or `cargo`"
### Problem you are trying to solve

I'm a new user (not really, but bear with me) who just installed rustup from my distribution's repository, and don't have a toolchain selected yet. I try to run `cargo new` to create my first Rust project, and see `error: no override and no default toolchain set`. Confusion ensues.

### Solution you'd like

An error message that clearly says:
- this is an error

[2021-12-02 20:34] K900 commented on #2915
For a little more context, this is actually something a first time Rust user ran into over at #rust:matrix.org, in the context of building a Rust package for Arch Linux. The error log looked like this:

![image](https://user-images.githubusercontent.com/386765/144498538-1b518fb2-af05-48d2-a6ec-5d0be1e8b684.png)

The messages prefixed `==>` originate in `makepkg`, the package build tool, and the me

[2021-12-02 21:24] mrcnski commented on #953
On OSX, I had to manually go into `/usr/local/bin` and uninstall all the `rust*` binaries and the `cargo` binary. For some reason `rustup self uninstall` was not removing these.

[2021-12-02 22:31] arnabanimesh commented on #2912
Just mention Windows 10 SDK or newer. It should suffice.

[2021-12-03 08:20] kinnison commented on #953
@m-cat `rustup-init` would never have installed binaries into `/usr/local/bin` unless you did something very odd, so that's expected.

[2021-12-03 17:40] ChrisDenton commented on #2912
The Windows SDK is required for every msvc application that uses the standard library. It includes import libraries for core system functions (e.g. from kernel32 et al). In the future this may be made optional (see [raw_dylib](https://doc.rust-lang.org/beta/unstable-book/language-features/raw-dylib.html)) but that isn't the case at the moment.

For most stuff it doesn't particularly matter which v

[2021-12-03 20:42] rbtcollins commented on #2912
Ok so concretely if I read this right:
* rust targeting MSVC needs the build tools + import libraries for the windows APIs in use, and currently nothing in `std::sys` requires a Windows 11 import library.
* third party crates may require Windows 11 import libraries
* rust in future might require Windows 11 import libraries [though presumably compat discussions make that harder]
* the SDK also incl

[2021-12-03 20:46] rbtcollins commented on #2915
I wonder if we can do better than a better message.

Like: we know when rustup is a distro built rustup.

This gives us a few options:
- we could install rust just-in-time when (no rust version && no default && is-distro-rustup)
- we could go into rustup-init mode when (no rust version && no default && is-distro-rustup)

What do you think?

[2021-12-03 20:49] K900 commented on #2915
Going into the interactive rustup-init mode is definitely not the best idea, because it's very possible that we're in some form of a headless environment, or something resembling a headless environment (e.g. a build script as mentioned above). Installing just in time might be a good option, but I feel like this is something that should be discussed with distro maintainers. Either way, I'd say we c

[2021-12-03 20:55] rbtcollins commented on #2915
We can certainly do things in parallel; I've done a review of the patch - broadly ok but I have some suggested tweaks.

I agree that interactive prompt is likely to be a messy situation.

A third option:
* consult isatty, then if a tty go interactive otherwise just DWIM install stable [if not installed] and use it

[2021-12-03 21:08] ChrisDenton commented on #2912
Hm, the problem is that wording isn't particularly actionable. Whereas "Windows 10 SDK" directly describes something that can be selected in the installer. I'd prefer to have a clear and concise answer to "what should I do next?".

For reference, here's a screenshot of the current Visual Studio installer (this is the build tools installer, but other installers aren't too different):

<details><sum

[2021-12-03 21:14] ChrisDenton commented on #2912
Just thinking outside the box a bit, but an alternative might be for rustup to offer to download the installer and pre-select the correct components. So all the user has to do is accept the license and click through to install.

[2021-12-04 01:09] vadixidav commented on #2700
I am getting this on macOS Monterey:
[code]

I am inside of a container built on: `FROM --platform=linux/amd64 mcr.microsoft.com/vscode/devcontainers/cpp:0-debian-11`. I am running linux/amd64 under Docker's built-in QEMU emulation. The container build process is fairly involved, so it definitely functions in general. I also can run other x86_64 applications in general in the container.

Cargo doe

[2021-12-04 02:34] workingjubilee commented on #2700
Maybe I am misreading, but I can't quite tell: What CPU architecture is the host? AArch64? AMD64? PowerPC?

[2021-12-04 06:37] vadixidav commented on #2700
aarch64-apple-darwin

[2021-12-05 11:53] N3xed commented on #2889
One workaround I've found is to copy `cargo.exe` from the nightly toolchain (`~/.rustup/toolchains/nightly-<platform>/bin/cargo.exe`) into the custom toolchain.

This is pretty much the same as @grbd, but avoids having to compile rust yourself.

[2021-12-05 15:50] rbtcollins commented on #1137
Also marking that off topic @JasonKleban.

[2021-12-07 11:06] crepererum opened #2918 "Versions are not normalized / downloaded twice"
### Problem

Rustup doesn't seem to notice that version `1.57` and `1.57.0` are (at least currently) the same version and downloads them twice. This is a bit wasteful when a project specifies the following `rust-toolchain.toml`:

[code]

and uses the `docker.io/library/rust:1.57` image during CI. The rust compiler will then be downloaded twice.

### Steps

[code]

Note that:

1. rustup knows that

[2021-12-07 19:20] fishrockz opened #2919 "RUSTUP_UNPACK_RAM seems not too work but is still documented"
### Problem

rustup advertises RUSTUP_UNPACK_RAM in https://rust-lang.github.io/rustup/environment-variables.html?highlight=ram#environment-variables

but it seems to do nothing

### Steps

1. rm -rf ~/.rustup
2. export RUSTUP_UNPACK_RAM=33554432;
3. curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
4. watch htop use about 150MBs ,quite hard to note like this. but on laptop 1.4Gb up t

[2021-12-08 05:01] ketsuban opened #2920 "Help text for `rustup update` contains a broken URL when line-broken"
### Problem

Some terminals (including Windows Terminal) provide a mechanism for opening URLs in the default browser when you Ctrl-click on them. The help text for `rustup update` contains the URL `https://github.com/rust-lang/rustup/wiki/Non-host-toolchains`; however, if this gets broken across two lines the resulting URL is `https://github.com/rust` or `https://github.com/rust-`, which don't go

[2021-12-08 15:01] kinnison commented on #2919
So there's a number of potential things here.

1. htop may be reporting VM size which is not the same as RAM usage.  If so, it's very likely overreporting.
2. The rustup process is likely using more RAM for things other than unpacking, so it will never be as low as the 32M you set.
3. As for crashing, I'm not sure why we're using a signficant quantity over the expected usage, we *should* stay fair

[2021-12-09 08:46] sha0coder opened #2922 "rustup configure an insecure PATH by default."
### Problem

Configuring the cargo path in the first section of the $PATH creates an extra insecurity on the system, as the comment says it's overriding the system binaries.
It would be more secure to put the "$HOME/.cargo/bin" at last section of the $PATH.

[code]

This gives to a local attacker the possibility of overriding sudo or other binaries  to get user password or root access.
For sure ha

[2021-12-09 21:18] tks09 opened #2924 "rustup (and cargo) unable to get local issuer certificate"
### Problem

Hey. I'm facing a similar problem as #2878:
When trying to install rust using the [recommended shell command from here](https://www.rust-lang.org/learn/get-started) `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh` I face the same error saying "unable to get local issuer certificate".

I tried to install rustup via my distributions package then, and this worked pretty w

[2021-12-09 21:40] tks09 commented on #2924
Downloaded the install script and run with -v:

[code]

[2021-12-09 21:54] tks09 commented on #2924
running cargo with strace I found out that cargo tries to search certs in  /usr/local/ssl/certs

`stat("/usr/local/ssl/certs/244b5494.0", 0x7ffcd8565748) = -1 ENOENT`

a listing of that directory returns it's empty:

[code]

In general, if I search for a file called `ca-certificates.crt` on my system, I don't find anything except of /var/lib/flatpak and /var/lib/docker

[2021-12-10 07:05] rbtcollins commented on #2922
It is true that the current setup permits shadowing distro included
binaries, particularly as a side effect of 'cargo install ...'.

However for rustup this is a feature, because rustup should still work even
if the distro has included cargo, rustc etc in their system packages.

Thus I don't think there is room to do what you suggest while still meeting
our primary use case.

An alternative way to

[2021-12-10 22:35] imp opened #2925 "Allow cargo +rust-version build|test|..."
### Problem you are trying to solve

Now that [rust-version](https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field) is stable it makes sense to have a CI task/job that asserts this commitment. In that case, one would need to set up a CI config that runs tests on the selected Rust version. Usually, it means that the specific version will be specified twice
1. `rust-version`

[2021-12-11 17:32] rbtcollins commented on #2918
Duplicate with #2611 I think

[2021-12-11 17:32] #2918 closed, assigned to nobody

[2021-12-11 17:33] rbtcollins commented on #2886
A month with no response - @bbros-dev please reply or we'll need to close this with insufficient information

[2021-12-14 09:32] alecmocatta opened #2926 "panicked on RecvError in src/diskio/mod.rs"
### Problem

With this rust-toolchain.toml:
[code]

I got this panic:
[code]

Unfortunately it doesn't reproduce; the next run was successful:
[code]

### Steps

I haven't been able to repro, and I don't know if it's specific to `rust-toolchain.toml` with `cargo run`, but this is the scenario I observed it in:

1. Have a `rust-toolchain.toml` with a different toolchain version in
2. `cargo run`, t

[2021-12-15 08:28] tks09 commented on #2924
`openssl s_client -connect static.rust-lang.org:443 -servername static.rust-lang.org -showcerts < /dev/null`

[code]

It seems that the SSL connection to remote does not work because of missing peer and client certificates

[2021-12-16 11:05] tks09 commented on #2924
Update from my side (I will also close the ticket).

[I involved the openSuSE support](https://bugzilla.opensuse.org/show_bug.cgi?id=1193750) and found out there was a second openssl installation in `/usr/local/bin` instead of `/usr/bin` which was used.
I still don't know where that openssl version is coming from, I checked my package manager and it doesn't seem to be connected to any rpm/zypper p

[2021-12-16 11:05] #2924 closed, assigned to nobody

[2021-12-16 11:09] kinnison commented on #2924
Thank you @tsmt09 for letting us know what the solution was - hopefully this will help others who encounter similar looking issues.

[2021-12-16 13:17] hkratz commented on #2895
I can repeatedly reproduce this right now on Mac OS 12.1 ARM64, will investigate.

`rustup update` output:
[code]

The directory looks like this:
[code]
No obvious permissions problems. I did not try to remove the directories manually yet.

[2021-12-18 12:39] pYtoner commented on #2040
The error is not helpful at all, especially for beginners. Should it be changed to something better? For example, providing some solutions.

[2021-12-19 13:11] #2911 closed, assigned to nobody

[2021-12-21 13:13] Fi3 opened #2928 "rustup is not using the toolchain file"
### Problem

Rustup is not using the toolchain file to selecet the channel but is using the default one

### Steps

1. create a new directory
2. add a file called toolchain containing the below:
[code]
3. the "right" channel is not used when cargo or rustc are called

### Possible Solution(s)

_No response_

### Notes

Also tried to rename the file toolchain.toml instead of toolchain. Same result.

[2021-12-21 16:19] kinnison commented on #2928
When I try this, it works.

I have a feeling you created a file called `toolchain` not called `rust-toolchain.toml` which is what it needs to be called.  If I'm wrong, then expand the below and see what to do, if I'm right, then use the correct filename and things should work.

<details>
<summary>Here's it working</summary>

[code]

Could you please, from within the directory with the `rust-toolch

[2021-12-21 16:49] Fi3 commented on #2928
you are right! Ty

[2021-12-21 16:49] #2928 closed, assigned to nobody

[2021-12-22 05:22] thardie commented on #1328
What a spectacularly bad experience for new rust users. I have this same error. I have no http or https proxies set. Curl can download just fine WITHOUT a proxy. Very bad first impression of this. Standard Ubuntu 20.04 LTS

[code]

[2021-12-22 08:49] kinnison commented on #1328
@thardie That is very unfortunate looking.  Could you please open a *fresh* issue so that we can discuss things there?  Though when you do, please include some indication of your IP setup (both v4 and v6) since I'm starting to suspect this is something to do with falling back from v6 to v4 incorrectly.

[2021-12-23 00:40] thardie opened #2929 "Rust installer fails with "operation timed out""
### Problem

`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash`
fails with:
[code]

Manual attempt:
[code]
This is under Ubuntu 20.04 LTS

### Steps

1. Launch installer with `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash`

### Possible Solution(s)

Surprisingly, launching the script with "sh" instead works! On my system, sh is a link to `dash`, so I'm guessing t

[2021-12-23 00:41] thardie commented on #1328
Opened #2929

[2021-12-23 11:56] Lawliet-Chan opened #2930 "stable rust-doc install failed:detected conflict"
### Problem

[code]

### Steps

It is still be When I  rustup uninstall stable && rustup update stable.

### Possible Solution(s)

_No response_

### Notes

_No response_

### Rustup version

[code]

### Installed toolchains

[code]

[2021-12-24 08:04] rbtcollins commented on #2929
I'm not sure how bash vs dash can affect this, since the download is happening from within rustup-init itself.

[2021-12-24 08:21] #2807 closed, assigned to nobody

[2021-12-24 20:44] rbtcollins commented on #2929
Does rustup install successfully on the host OS?

If you run rustup-init by hand within WSL does it still fail?

If you run whatever scenario fails with the env variable `RUSTUP_DEBUG` set to `1` and add `-v` to the command line options, what output do you get?

[2021-12-25 04:34] robsmith11 commented on #2842
I just ran into this as well.  The proposed solution makes sense to me.

[2021-12-27 09:40] kinnison commented on #2726
@facklambda I'd be very happy with your proposed rewording, sorry for taking so long to get back to you.  If you're still interested in producing a PR, please do.

[2021-12-27 09:48] kinnison commented on #2858
OK, so let's see if I'm understanding the context fully.

1. Homebrew is providing `rustup-init` which it expects the user to run
2. It does this via some set of symbolic links, rather than a direct executable on the PATH
3. This results in `rustup-init` making `$CARGO_HOME/bin/rustup` link to that link
4. Rustup then proceeds to make hard-links to that symlink.

This appears to stem from a fix ma

[2021-12-27 09:55] kinnison commented on #2900
There's no guarantee that the linker you specified is (a) correct or (b) available on the user's system.  Sadly cross-compilation like this is not easy to make reliable, and I worry that all we'd do if we claimed to make things better is annoy others whose systems are different from the above.

I'm more inclined to suggest that we need to find a way for the llvm tools to work for all situations at

[2021-12-27 10:01] kinnison commented on #1397
@couchand This is quite a controversial and intricate thing which needs careful thought to address because unlike other places where breaking changes are version controlled and can be handled more easily, if we break rustup's behaviour, anyone using rustup has to change their systems to cope.  Rustup's *purpose* is to ensure that toolchains are available so while I personally agree that it's sligh

[2021-12-27 10:11] kinnison commented on #2700
Perhaps we could switch from reading `/proc/self/exe` to reading `$SHELL` - would there be any situations we can think of where that wouldn't work?

[2021-12-27 10:26] kinnison commented on #2889
Realistically this stems from https://github.com/rust-lang/rustup/blob/master/src/toolchain.rs#L620-L633 which currently only supports a single fallback path for cargo.  If, instead, we created a unique fallback path for this toolchain, and then cleaned up when the proxy exited, we'd stand a better chance of things.

To do this, we'd need to:

1. Create a uniquely named fallback path for this run

[2021-12-27 10:33] kinnison commented on #2925
This is an interesting idea. Doing this would "reserve" the toolchain name "rust-version" but perhaps we can come up with some other term if that annoys anyone.

To make this work, Rustup would have to parse `Cargo.toml` which means it has to **find** it, and replicate Cargo's algorithms for that.

We'd have to *very forgivingly* parse `Cargo.toml` once found, and only then if we find a rust versi

[2021-12-27 10:35] kinnison commented on #2895
Hopefully the maintainers of `remove_dir_all` will be able to resolve this.

[2021-12-27 10:40] kinnison commented on #2920
If this is a bug in Rustup, it would likely be in the markdown linewrapper we have, which is pretty simplistic, however looking through that code I cannot see how it would ever split a link across multiple lines.  As such this is almost certainly a bug in the terminal you are using.  If I deliberately cause a link to be split across multiple lines in my terminal, it is still correctly identified a

[2021-12-27 10:42] kinnison commented on #1137
I recently commented on #2889 with a possible solution to this issue.

[2021-12-27 10:47] kinnison commented on #2926
Without a semi-reliable way to trigger this, there's not a lot we can do to diagnose.

The `unwrap()` in question occurs normally in another thread and so should not cause the main process to fail.  The only way that unwrap could have failed would be if the main thread had encountered an issue which should have been reported also.

I suppose we could transform the `Option<FileBuffer>` into a `io::

[2021-12-27 10:49] kinnison commented on #2930
This kind of failure mode happens when something corrupts the rustup metadata files.  We've been unable to diagnose what causes this corruption because by the time the failure is reported, the information is lost.

The easy "fix" for now is to `rustup toolchain uninstall ...` the damaged toolchain and the reinstall it.

I am sorry for this inconvenience.

[2021-12-27 10:54] Lawliet-Chan commented on #2930
Strangely, `rust 1.52.0` can be installed normally, only `1.51.0` occurs this bug

[2021-12-27 10:54] ketsuban commented on #2920
I did some additional testing and the line in question is wrapped so as to break the URL regardless of the width of the terminal window, so it's not Windows Terminal at fault.

[2021-12-27 11:34] kinnison commented on #2920
@ketsuban Fascinating.  Let me look again.

Oh, this isn't help text when running the command, you mean `--help` on the CLI.  Hmm

It looks like this is part of the `wrap_help` feature of `clap` (the CLI parser we use).  We'd need to be certain that turning that off won't result in unpleasant UX for others before we'd consider it.  Perhaps the clap authors could chime in on whether or not they cou

[2021-12-27 14:49] rbtcollins commented on #2926
I'm not sure that will fix the panic. Isn't this the code in question?
https://github.com/rust-lang/rustup/blob/master/src/diskio/mod.rs#L413-L415

[2021-12-27 16:28] couchand commented on #1397
I'm entirely sysmpathetic @kinnison about the need to think through the implications for many of the commands.  The above discussion makes clear that there are a great many different edge cases.

I'd propose moving the ball forward by focusing on a non-controversial subset.  Personally, @ickk's first group seems to fit the bill, though I can see how changing `show`, `check`, or `which` are possibl

[2021-12-27 19:03] rbtcollins commented on #2930
Its not strange: the metadata for a toolchain is per-toolchain. Your 1.51.0 toolchain has been corrupted (probably by an IDE installing a component on-demand), and 1.52.0 hasn't

[2021-12-28 19:04] kennystrawnmusic commented on #2886
This happens on my end too — but only if run from a script. Works perfectly fine if run from the shell of any user — and this is if I put `export RUSTUP_HOME=/opt/rust` and `export CARGO_HOME=/opt/rust` in the system-wide `/etc/bash.bashrc` file.

Again, perfectly fine if run from a shell, but if I write something like `/usr/bin/rustup-upgrade.sh` and add the `rustup self update` and/or `rustup up

[2021-12-29 11:12] pdunne commented on #953
Same thing happened to me (OSX Big Sur, Intel Mac) after updating to either 1.56 or 1.57. Somehow I had the binaries also in `/usr/local/bin` and this messed up cross-compilation, i.e. not recognising installed targets like `wasm32-unknown-unknown`.

after running `rustup self uninstall` I removed the rust* and cargo bin from `/usr/local/bin`, and was then able to reinstall Rust. This also solved

[2021-12-30 16:28] #2930 closed, assigned to nobody

[2022-01-01 10:50] kinnison commented on #2926
@rbtcollins Yes, that's exactly the location, I just wonder if a non-primary thread panicing has caused the real error to get lost, perhaps being more graceful here might result in a better error to the user from the main thread?