[2019-05-24 07:23] kinnison commented on #1483
Unfortunately the specific requirements change from platform to platform and over time.

If you were to spearhead a page (e.g. on the rust forge or nursery sites) where you explain how to handle toolchains for various targets, then we could possibly add a "you may want to read <URL>" message to some of these targets.

[2019-05-24 07:28] kinnison commented on #1858
Thank you for these numbers.  This implies that we can expect to see a roughly 7 to 8 percent increase in the size of a release moving from xz to zstd.  Based on numbers I was given last night, a release (nightly, beta, stable) is about 25 gigabytes, and purely *adding* zstd would thusly likely add around 10G to that.

I shall now take this back to the infra team for further consideration.  Thank

[2019-05-24 09:16] Geobert opened #1870 "Can't update to stable 1.35 (Windows + McAffee/Symantec)"
**Problem**
`rustup update stable` fails on Windows 7 laptop with this kind of errors:
[code]
**Steps**
1. run `rustup update stable`

**Notes**
This laptop is crap (corporate machine) and has McAffee anti virus + disk encryption installed.

With previous rustup, it was slow but it worked.

Output of `rustup --version`:
rustup 1.18.3 (435397f48 2019-05-22)
Output of `rustup show`:
Default host: x8

[2019-05-24 09:48] neelakantankk commented on #1870
I have the same issue. The renaming seems to fail because the file separator is incorrect ('/' instead of '\').

[2019-05-24 09:49] rbtcollins commented on #1870
Hi, so all the errors about renaming from 'bk' are rollback errors - they are victims, not causes.
This `could not rename component file from ''C:\Users\Geobomatic\.rustup\tmp\zb5dkerufltfrz7z_dir\rust-docs\share/doc/rust/html' to 'C:\Users\Geobomatic\.rustup\toolchains\stable-x86_64-pc-windows-msvc\share/doc/rust/html'` is the actual error.
The source file name and destination etc all look normal

[2019-05-24 09:51] rbtcollins commented on #1870
rustup 1.18.0 did the move rather than copy thing, but was *much* slower at extraction - about 4x slower. So this reinforces the race condition hypothesis. @neelakantankk do you also have McAfee ?

[2019-05-24 09:57] neelakantankk commented on #1870
No, there's only Symantec Endpoint Protection running on this.

[2019-05-24 10:01] rbtcollins commented on #1870
Workaround:

Download https://static.rust-lang.org/rustup/archive/1.18.0/x86_64-pc-windows-msvc/rustup-init.exe
Run it with --no-self-update

This will run the previous release that does not have the major performance improvements.

[2019-05-24 10:22] rbtcollins commented on #1870
@neelakantankk what OS ?

[2019-05-24 10:24] neelakantankk commented on #1870
Windows 10. Toolschain's stable-x86_64-pc-windows-gnu

[2019-05-24 10:34] Geobert commented on #1870
Thank you for your answer!

It's reproductible, I have generated the traces, what am I looking for?

[2019-05-24 10:41] rbtcollins commented on #1870
@Geobert Some process must have a handle open on C:\Users\Geobomatic\.rustup\toolchains\stable-x86_64-pc-windows-msvc\share/doc/rust/html at the time the Access Denied error is returned to rustup.

*or*, some file within that path similarly, and then the error won't occur on the CreateFile call to open for the rename, but on the ContentDisposition setting, if I remember correctly. - its late here,

[2019-05-24 12:06] Geobert commented on #1870
![image](https://user-images.githubusercontent.com/72570/58326349-7cd88d80-7e24-11e9-9861-f93aab1f9287.png)

McAffee is definitively guilty.

Worth noticing that when recapturing traces (Process Monitor crashed) the update went through. I had to update my i686 toolchain to reproduce again (I thought it was systematic at first as I got it 3/3 and then the 4th passes)

EDIT: Note that I've hidden Se

[2019-05-24 13:00] #1653 closed, assigned to nobody

[2019-05-24 14:00] cdown opened #1871 "Cannot remove component, but it appears to be there"
**Problem**

Since rustfmt is now on stable, I wanted to remove it from my nightly toolchain, but despite it appearing in `rustup component list`, it appears not removable (however `clippy` was removed fine in a similar manner):

[code]

Using the full name `rustfmt-x86_64-unknown-linux-gnu` also doesn't work with the same message.

**Steps**

Unsure. I've not wanted to mess with the installation

[2019-05-24 14:27] kinnison commented on #1871
If the component were installed it'd have `(installed)` after it in the component list.

[2019-05-24 15:22] cdown commented on #1871
Oh! So this is my misunderstanding then, I thought `rustup component list` only listed installed components. I'll make sure to pass `--installed`. Sorry for the noise! :-)

[2019-05-24 15:22] #1871 closed, assigned to nobody

[2019-05-24 17:22] doxxx commented on #1869
@eddyp I consider your case to be a little different: yours is failing to remove the old `rustup.exe` before copying in the new one, whereas mine appears to "successfully" remove the old `rustup.exe` but then fails to copy in the new one.

@kinnison I can try testing your fix to see if it works with Cisco AMP. My concern is that it will suffer from the same problem, regardless of whether you're co

[2019-05-25 03:38] rbtcollins commented on #1870
I've put a release build of rustup with a possible fix for this at https://s3-ap-southeast-2.amazonaws.com/rbtcollins-experiments/rustup/rustup.exe It should have md5 hash 6fb8c3b34904b26f8e2771bc18185435

If anyone is still experiencing this, please try downloading that build and running it (e.g. .\rustup.exe toolchain update stable). It has a retry and backoff mechanism added around the failing

[2019-05-25 05:54] rbtcollins commented on #1870
Thanks @Geobert that definitely confirms the hypothesis and I hope my patch will work around it acceptably; if you have time to do some uninstall +_ reinstalls of nightly using it that would be great - that should be enough to trigger (or not) the race.

[2019-05-25 10:36] Geobert commented on #1870
I'll test your patch monday first thing as it's on my corporate machine :) Thanks for your work!

[2019-05-25 19:15] kinnison commented on #1869
We're hoping that #1873 might resolve this at least a bit.

[2019-05-25 21:58] rbtcollins commented on #1870
The candidate fix is merged to master but we still need testing - please do confirm that my test binary fixes the problem. Thank you!

[2019-05-25 22:02] rbtcollins commented on #1869
Hmm, I doubt 1873 will resolve this, but yeah will it interact - it will certainly permit folk time to close IDE's or have compiles exit before it errors.

@doxx can you please use process monitor or WPA or similar to get a trace of handle activity on the files in `C:\Users\gordon.tyler\.cargo\bin` so we can verify if it a slow/rogue proxy (and thus #1873) or Cisco AMP - and if it is AMP, please g

[2019-05-25 22:09] rbtcollins commented on #1867
Yep, you are entirely blocked on high latency IO. Can I get another strace please, with -T this time? Attach it somewhere I can download it, it will be long.

Pending verification from that trace bug...
There are several things we can do, some of which are low hanging.

We can introduce threading into your environment; if the open+write calls are low latency and close is slow, which client-checked

[2019-05-25 22:14] rbtcollins opened #1875 "structured notification system is getting unwieldy"
**Describe the problem you are trying to solve**
We're having to generate user feedback from many narrow places in the code - such as spin-loops around rename() syscalls to deal with virus scanners - and the notification system as it currently all hooks together is quite unwieldy.

**Describe the solution you'd like**
I haven't thought this far ahead yet. I will. Perhaps a 'context' object of some

[2019-05-26 03:33] saethlin commented on #1867
Indeed it is long
https://drive.google.com/file/d/1ZsuwEZZ06oGt47cfBUAKUi8gz2yJxuon/view?usp=sharing

[2019-05-26 04:29] rbtcollins commented on #1866
First experiment, enabling threads under WSL was entertaining. Made no impact. Something in LXCORE.SYS appears to be serialising all IO. Hah. Hah. Hah. Probably this is one of the drivers for WSL2...

[2019-05-26 05:05] rbtcollins commented on #1866
First experiment, enabling threads under WSL was entertaining. Made no impact. Something in LXCORE.SYS appears to be serialising all IO. Hah. Hah. Hah. Probably this is one of the drivers for WSL2...

Running https://openbenchmarking.org/innhold/802aab108da0cc656d7560a98447d3556af818da under WSL 1 shows all 64 cores used, so its not some sort of green threading madness. https://github.com/Microsof

[2019-05-26 06:20] rbtcollins commented on #1866
I've modified that to print out '{} is prime', number) for numbers within the last 1000 and run it with large amounts under strace to make sure that strace doesn't impose single thread execution or anything, it doesn't... moving back onto rustup.

[2019-05-26 07:00] rbtcollins commented on #1866
And here is a strace.
I wasn't expecting the futex's but they appear to be only between iops within a thread, so I'm going to put them down to the threadpool implementation.

tl;dr: openat is extraordinarily slow in WSL1, with typical times in the 17ms during docs unpack. Similar to close. I can't say if we're facing actual serialisation in the linux emulator or not at this stage.
[code]

<details

[2019-05-26 09:11] rbtcollins commented on #1866
I ran a procmon log at the same time as strace.

so this 10ms open:
[code]

can be tracked to this region
<details> <summary> procmon trace </summary>

[code]

</details>

The key bits we need are this:
In linux, open takes `0.010782` starting at `20:11:46.501767`
In Windows, CreateFile takes 0.0002992 at 8:11:46.5019440  - a delay of 0.0001770 , SetEAFile on the containing directory shouldn't be

[2019-05-26 09:28] rbtcollins commented on #1866
So the model I now have is:
 - operations that change the fd<->Handle mapping will contend with each other hugely
 - those operations appear to do their external work:
   - in the lock (close)
   - before the lock (open)
 - defender will make closing files slow - don't know yet if flushing a file will cause it to scan it or only close

Things we haven't modelled:
 - what sort of lock is it? do mul

[2019-05-26 10:14] rbtcollins commented on #1867
@saethlin I haven't reviewed the strace yet, and its late, but that patch of mine is the lowest hanging fruit that may help, I'd be interested to know whether it has any impact for you at all.

[2019-05-26 15:03] kinnison commented on #1870
I didn't mean to close this so I'll reopen it until we get an Okay from the OP.

[2019-05-26 15:04] kinnison commented on #1875
We thought about migrating most of the notifications to a standard logging framework, but then there is the idea to move to something external to replace our progress bars, so perhaps a context which can be passed around which is a conduit to a UX thread dealing with all of that might make sense.

[2019-05-27 06:41] rbtcollins commented on #1867
Ok, so interesting that we get open() rather than openat, but -
[code]
about 3ms to create the inode, about 2ms to fchmod it, and writes and closes are nearly free, and chmod is also ~1ms.

20k items, so 1ms == 20 seconds. so 60 seconds in open(), 40 seconds in fchmod(), and 20 seconds() in the final chmods.

So, the things we need to do to make it fast for HPC filesystems are:
 -  don't block on

[2019-05-27 06:51] rbtcollins commented on #1867
@saethlin how many cores do you have available? Clearly we can oversubscribe as your actual CPU time is near zero, but I'm wondering if a heuristic of machine-cpu's which we use for dealing with defender will be reasonable here too (and save on code path proliferation)

[2019-05-27 07:09] saethlin commented on #1867
Usually I have 32 cores available.

Just to be clear, any changes you make in the name of installing docs faster specifically on HPC systems (as opposed to everywhere) will be moot as soon as we can disable docs. I'm also not really keen on having an installation process that uses threads to drive enormous load onto the shared filesystem. I've witnessed write latencies of a few seconds because of

[2019-05-27 07:46] rbtcollins commented on #1867
https://github.com/alexcrichton/tar-rs/pull/207 will permit tackling the chmod duplication. Its worth noting (for @alexcrichton if no-one else that there are several reasons we don't trust the distribution archives: they have been wrong in the past; we are still used to install those old archives, and when we start streaming-installs of archives we'll only verify signatures at the end so we want t

[2019-05-27 08:07] saethlin commented on #1867
We're on Lustre, not entirely sure what version though.

Your proposal sounds good. I'm learning about `iostat`, hopefully I can watch rustup run and learn something or just keep an eye on the system.

[2019-05-27 08:09] rbtcollins commented on #1867
As a for instance rust-docs/share/doc/rust/html/rust-by-example/fn/closures/closure_examples:

<details> <summary> strace for closure_examples </summary>

[code]

</details>

This has a total syscall time of
[code]

Which is representative of the extra work here - we really only need to set umask appropriately, do the mkdir once, then never touch the dir again. That would halve the amount of *work

[2019-05-27 09:45] Geobert commented on #1870
Hi all, I tried twice and it passes twice! Looks good to me! Well done!

[2019-05-27 09:45] #1870 closed, assigned to nobody

[2019-05-27 13:11] doxxx commented on #1869
@rbtcollins Here's a Process Monitor dump of all the file access to the `.cargo\bin` folder during a `rustup self update` from v1.17.0 to the latest.

ZIP includes PML and CSV formats of the same data:
[rustup-self-update.zip](https://github.com/rust-lang/rustup.rs/files/3223864/rustup-self-update.zip)

[2019-05-27 13:11] doxxx commented on #1869
The `sfc.exe` process is Cisco AMP.

[2019-05-27 22:13] drozdowsky opened #1879 "rustup/rust should not occupy home directory"
**Describe the problem you are trying to solve**
Hello,
I see three new folders in my clean and nice $HOME directory.
.cargo, .multirust, .rustup - none should be there in my opinion.

**Describe the solution you'd like**
Let user customize path at the installation.

Also the env script `source $HOME/.cargo/env` should be `. $HOME/.cargo/env` to be POSIX (?) compliant

Thank you and have a nice da

[2019-05-27 23:51] rbtcollins commented on #1867
http://www.nics.tennessee.edu/computing-resources/file-systems/io-lustre-tips seems like it has good recommendations here.

In particular, @saethlin  can you
[code]

And test current released rustup ? I'm not expecting any radical change, just curious about any impact this might have. The stdlib and rustc etc are obviously stripable, and we could look at special casing docs etc to make just them s

[2019-05-28 00:09] rbtcollins commented on #1867
(Also TBH I think just some sensible docs in README.md might be useful here).

[2019-05-28 02:25] saethlin commented on #1867
Oh dangit, I was mistaken. Our `/home` partitions aren't Lustre, only the big data partitions are.
[code]
I'll sure find a use for those lustre tips anyway.

[2019-05-28 02:28] rbtcollins commented on #1867
Ahha! ok, so if ~ is on plain old NFS, we're probably facing a classic single-machine multi user situation - but its also likely that that machine actually has decent IO backing it, if we're not nuts - we're just 1ms away on the network, so anything that has to cache-bust or be synchronous blocks. I'll have some non-aggressive test branch for you soon.

[2019-05-28 08:07] kinnison commented on #1879
Hi,

`rustup` as a tool is installed into your home directory.  As such the `.cargo` and the `.rustup` directories are very much expected.  The presence of a `.multirust` directory is a little worrying though unless you've installed a version of rustup older than one month ago, since we removed the last of that compatibility code back then.

While you're quite correct regarding `source` vs `.` for

[2019-05-28 11:46] kinnison commented on #1571
Hi, we recently switched to using the `rust-lang/rust` dockers as generated by the compiler build system.  Could you check with the latest `rustup` and close the issue if it's resolved?

Thanks,

D.

[2019-05-28 11:48] kinnison commented on #1507
@rust-lang/release Does this remain the case, or is the `rustup-init.sh` copied over during the release to be present at the top level too?

[2019-05-28 11:59] kinnison commented on #1489
Assuming you'd be okay with `rustup +rust-1-stage1 which rustc` which is effectively what #1498 is proposing, then I suggest we add `--toolchain` support to `rustup which` and then have #1498 provide the `+foo` variant.  Does that sound acceptable?

[2019-05-28 18:39] kinnison commented on #1479
I think that should be possible.  I'm prepared to mentor someone who wants to add this functionality.

[2019-05-28 19:55] brson commented on #975
Just looking through the code now, both `.profile` and `.bash_profile` are modified if they exist.

[2019-05-28 19:59] kinnison commented on #975
Yes I just noticed that.  In theory we should also support `.bash_login` but I'm less worried about that one since it seems pretty rare.  The OP posted on the 6th March 2017 and `.bash_profile` specific code has been present since June 24th 2017 That was `1.4.0+32` so I'm guessing that it was in `1.5.0` of rustup.

Do we think this could be closed?

[2019-05-28 20:02] brson commented on #975
The problem I probably have, and I suspect many, is understanding the distinction between a shell and a login shell.

Most people probably just want cargo to work immediately, or to launch a new terminal and have it work, but for most configurations they have to literally log out of their GUI to get .profile to run.

I myself mostly work on WSL and I have no idea when .profile runs, but I've just

[2019-05-28 20:03] brson commented on #975
In fact, `$CARGO_HOME/env` could just be smart in general and conditionally set up cargo if it isn't already. Then source that script from _every possible_ init script.

[2019-05-28 20:21] brson opened #1881 "A more robust post-install environment setup"
This is based on my recent frustration reinstalling WSL and rustup, and subsequent discussion here: https://github.com/rust-lang/rustup.rs/issues/975#issuecomment-496667276

The rustup install experience is still frustrating. Ever since modifying rustup to modify only `.profile` instead of the rc files, I don't particularly know how to get cargo to work on my WSL install, and always end up modifyi

[2019-05-28 20:21] brson commented on #975
@kinnison I filed another bug about making the post-install setup more robust https://github.com/rust-lang/rustup.rs/issues/1881

[2019-05-28 20:27] kinnison commented on #975
Okay, we'll continue the work from there and I'll close this, thank you @brson.

[2019-05-28 20:27] #975 closed, assigned to nobody

[2019-05-28 20:41] kinnison commented on #1881
I think this is very reasonable.  Currently we add `export PATH="/expanded/cargo/home/bin:$PATH` to each such file.  I agree with the inclusion of `.bashrc` though I'd argue that `.zshrc` and `.zsh_profile` could all be dropped in favour of `.zshenv` which is always sourced even in non-interactive cases.

Regarding the expansion or otherwise of `CARGO_HOME` I suppose we could add a snippet of:

[c

[2019-05-28 20:41] drozdowsky commented on #1879
Hi,
I have used rustup from void linux repository so it is possible that I have old version of rustup.
I feel like this is issue-worthy I should have a choice where rustup/cargo is installed.
E.G. my home folder can be mounted on other partition with not that much size available or I just don't like having everything in $HOME where it should be in $HOME/.local or /usr/bin/local.
Of course I do not

[2019-05-28 20:45] brson commented on #1881
Ah, I removed my comments about `$CARGO_HOME` that @kinnison responded to, but basically, I said, that rustup-init obeys `$CARGO_HOME` and writes its expanded definition into the dotfiles, meaning that post-install, that is permanently the home of cargo, and `$CARGO_HOME` can't usefully be set in the init files.

On the other hand though, I'm not sure if that's the best use of `$CARGO_HOME`. It's

[2019-05-28 20:54] kinnison commented on #1879
It's quite probable you got something older.  The void-linux package was updated from 1.17.0 to 1.18.3 only a day ago.

Regarding `.cargo` you can set the `CARGO_HOME` environment variable before installing rustup to move that.  Regarding `.rustup` you can set `RUSTUP_HOME` to somewhere else too.

I hope you manage to arrange things to your liking, but I'm going to close this issue now.

Thanks, a

[2019-05-28 20:54] #1879 closed, assigned to nobody

[2019-05-31 03:37] mikeyhew commented on #1713
I just want to re-explain the problem from my perspective, in case the maintainers are having trouble understanding the issue.

I develop with nightly by default. To upgrade nightly, I run `rustup update nightly`, which works great, when it works. But these days the `rls` component is often broken, and `rustup update nightly` doesn't work.

The common workaround is to go to https://rust-lang.githu

[2019-05-31 04:04] rbtcollins commented on #1713
Your description of your intent doesn't entirely match the feature you're asking for. Your feature description enables the ability to install any arbitrary date from ever 'as' nightly. Your described intent is the ability to get the latest nightly that had all the components you have installed build successfully to install with minimal fuss.

We may be able to do the latter in a more focused fashi

[2019-05-31 04:23] azriel91 commented on #1713
^ That's what most people would be happy with I believe, and surprises mitigated with an opt-in parameter

[2019-05-31 13:20] AniketGupta07 opened #1884 "Error regarding home directory differences needs improvement."
I tried to install rust in an android app termux but since it does not need root permission so running **curl https://sh.rustup.rs -sSf | sh**. Gives error:** rust $HOME differs from euid-obtained home directory**

[2019-06-02 10:01] liuchong commented on #1713
I think don't want any automatically things, which do more than what I exactly expect for. A feature rustup install nightly@yyyy-MM-dd `as nightly` is what I want.
I've tried to make an implement, not good enough to merge. maybe I could make a better one later, when I have time :joy_cat:

[2019-06-02 18:17] kornelski commented on #1480
I've ran into this, too:

I think it'd be sensible to treat absence of the directory to delete as a success.

[2019-06-02 23:41] kornelski commented on #1480
Looking at the code:

1. There's a race condition: https://github.com/rust-lang/rustup.rs/blob/a54051502ad49c7e10c029d869ddd98064a29e31/src/dist/component/transaction.rs#L267

2. It'd be better to try to rename first, and handle not-found error. But the `io::Error` is not returned directly. https://github.com/rust-lang/rustup.rs/blob/a54051502ad49c7e10c029d869ddd98064a29e31/src/utils/utils.rs#L656

[2019-06-03 07:59] #1053 closed, assigned to nobody

[2019-06-03 08:07] kinnison commented on #1480
@rbtcollins On the off chance you might have some of this in your head already -- What do you think?  Could this resolve some more of our squiffy installs?

[2019-06-03 08:09] kinnison commented on #1713
I'm more inclined to add a `--date` argument to install/update to effectively set the date for an attempted install/update.  Adding `@date` seems arcane, adding an `as foo` ditto.

So the idea would be you could do `rustup toolchain install --date YYYY-MM-DD nightly` and if a `rustup update nightly` failed, you could try `rustup update --date YYYY-MM-DD nightly` but it'd be up to you to work out w

[2019-06-03 08:12] kinnison commented on #1884
Because of the way that `rustup` operates, if the environment `$HOME` variable differs from the homedir provided by `getpwuid(geteuid())` then there could be surprising results during use.  As such we refuse to run in that situation.

Running *on* android is certainly not something we want to exclude from possibility, but it's also not something we can dedicate time to.  We recommend that you inst

[2019-06-04 00:43] joshlf commented on #1628
+1 this would be amazing. It would make a huge difference to my daily workflow.

[2019-06-04 02:34] liuchong commented on #1713
Seems reasonable. ( and ... the `@date` is just for explanation, not for real impl )
`--date` seems like an install/update against a snapshot on a date, is also acceptable I think.

[2019-06-04 08:17] rbtcollins commented on #1480
So, user solution here: I think the thing to do is to remove the toolchain and re-install: gets rid off all the detritus and gets a clean slate. Getting the selected component list and making that easy to re-select might be a convenience if there isn't a nice way already.

In terms of code, handling this specific point case. The code driving this doesn't know what to today with deleting a file tha

[2019-06-04 08:18] rbtcollins commented on #1480
Oh, I didn't answer (3) after all that - since all the uses of remove_file seem to be uninstall, and I can't see any reason that uninstall would abort when the file they are removing isn't there, I don't think there is any reason to change the signature, but yes by all means return a NothingChanged or some such.

[2019-06-04 09:29] RalfJung commented on #1501
The title of this issue is misleading... it talks about updating when the issue is about installation.

Could someone rename it appropriately? I think this is the better alternative to https://github.com/rust-lang/rustup.rs/issues/1602 and https://github.com/rust-lang/rustup.rs/issues/1676.

[2019-06-04 09:29] RalfJung commented on #1602
This is subsumed by https://github.com/rust-lang/rustup.rs/issues/1501.

[2019-06-04 09:30] RalfJung commented on #1676
This is subsumed by https://github.com/rust-lang/rustup.rs/issues/1501.

[2019-06-04 09:31] RalfJung commented on #1628
(Please stick to one feature request per issue.)

The first request sounds related to https://github.com/rust-lang/rustup.rs/issues/1501.

[2019-06-04 21:19] kornelski commented on #1480
Thanks for the answers.

With 1 I wasn't clear. I didn't mean the cause of this bug is a race condition. I mean that every use of `path.exists()` followed by another disk operation that depends on the (non)existence of the path is a race condition in general, because the path could be created or deleted after `exists()` but before the operation that follows it. For some software that may even be a

[2019-06-04 21:20] kinnison commented on #1884
I would be helpful if `self_update.rs` explains what the two different values were when it raises this error.  Perhaps someone would like to do that?  I can mentor the change.

[2019-06-05 04:15] rbtcollins commented on #1480
Oh sure; uhm yes - TOCTTOU bugs are rife :). I've been focusing on install performance, not uninstall (and thus not update) so far - the syscall traces from that were quite tragic :).

[2019-06-05 09:39] rbtcollins commented on #1243
I think there are several related user frictions sitting here.
1) rust-lang infra need to handle range requests that end up sending 0 bytes - its legitimate HTTP traffic.

in `download/src/lib.rs` line 76.  if the partial file doesn't open properly (e.g. readonly, in use, whatever) - it will error; if thats due to running rustup concurrently, thats on us but otherwise the user will have to manuall

[2019-06-05 12:22] dalance commented on #1328
I have the same issue on https://build.snapcraft.io.
There are 5 architecture environments (armhf/arm64/ppc64el/i386/amd64).
This issue occurred on armhf only.

[code]

Full build log is below:
https://build.snapcraft.io/user/dalance/procs/577559

[2019-06-05 12:23] matthiaskrgr commented on #1501
@RalfJung updated!

[2019-06-05 12:27] kinnison commented on #1328
@dalance Is there a non-standard network setup in the snapcraft build environment?  Rustup defaults to making direct connections unless there's an appropriate proxy configured in the environment.  If snapcraft relies on an altered `curl` library or somesuch then rustup won't be able to work there.

[2019-06-06 03:30] dalance commented on #1328
@kinnison Thank you for your suggestion. Snapcraft environment seems to use proxy.
I ran some test script on the environment. rustup with curl-backend is OK, and rustup with reqwest-backend is NG.

[code]

[2019-06-06 08:36] ddevienne commented on #1568
I'm running Symantec (on Win7), and it too prevents me from running the downloaded exe, because it's unsigned. The file is even deleted from the Downloads folder... I assume Firefox is signed, so I don't see why RustUp can't be...

Notwithstanding the above, how's one supposed to get Rust up-and-running on Windows given this???
Got the O'Reilly Rust book, and if instructions from page 7 don't work

[2019-06-06 08:45] kinnison commented on #1328
Okay, that's interesting.  Does cURL still manage to download if you unset the proxy environment variables?  rustup *should* honour those environment variables using the reqwest backend, so perhaps something else is in play?

[2019-06-06 09:56] dalance commented on #1328
If unset, cURL can't download.

[code]

[2019-06-06 13:40] kinnison commented on #1328
@dalance Fascinating, our reqwest backend really ought to be working with all that.  I wonder what's going on.  I will be at Snapcraft Summit next week in Montréal, so if you could possibly provide details of how to reproduce that environment I will see if I can debug it while with Snappy people.

[2019-06-06 13:41] kinnison commented on #1568
We do care we care greatly.  Sadly while we have someone volunteering to help us with sorting out code-signing, it is a complex logistical problem because there's not (yet) a mechanism in place for the project to hold a legal entity to be identified by the certificates.  Many people manage to use Rust on Windows, even people with Symantec, Avast, McAffee, and other AVs, so it must be possible.  Sa

[2019-06-06 22:51] rbtcollins commented on #1805
@kinnison I think this is closable now. I'm so sure that I'm going to and you can reopen if I'm wrong.

[2019-06-06 22:51] #1805 closed, assigned to kinnison

[2019-06-06 23:09] rbtcollins commented on #1508
@mcandre are you able to get a procmon.exe trace of the file activity during an update that fails like this? we should be able to see a stale file handle from something (e.g. mcafee/defender/symantec) holding the file open and racing with the delete. If we can confirm that it is a third party we can add a retry wrapper similar to #1873 for the delete code path too.

[2019-06-07 03:20] calebcartwright commented on #1884
:wave: @kinnison - I'd be interested in giving this a go, although it might be a bit of a stretch for me 😄

Would a reasonable/simple approach be to have `home_mismatch()` return a tuple that contained the two different values (or at least the euid-obtained value) for home in addition to the bool that indicated whether there was a mismatch? Seems that would allow those different values to be added

[2019-06-07 08:06] dalance commented on #1328
@kinnison My `snapcraft.yaml` to reproduce is below.

[code]

I tried to reproduce qemu and docker environment on x86_64 by multiarch/ubuntu-core:armhf-bionic docker image.
But in this image, rustup through proxy works fine.

[2019-06-07 18:44] refugeesus opened #1893 "Add target specification to rust-toolchain file"
**Describe the problem you are trying to solve**
I would like to add a target specification as a sub-category of the toolchain specified in the rust-toolchain file to automatically fetch the target for a toolchain if not already added.

**Describe the solution you'd like**
I think it would be helpful to automatically fetch a specified target if it is not currently installed when building projects

[2019-06-08 15:33] cyplo commented on #1239
Hi, I haven't had much time to finish working on this and the issue is still present for newest rustup.
Let me know if anyone would like to pick this one up.

[2019-06-08 22:52] fundon opened #1894 "Donwload output no line breaks on FreeBSD"
**Problem**
[code]

[2019-06-09 03:56] pusateri commented on #1571
I just tested Gentoo Linux and the latest version of rustup installed ok and works great.
This is rustup 1.18.3 using glibc 2.27 on Gentoo 2.6 with architecture powerpc64-unknown-linux-gnu.
I will see if I can check Ubuntu 16.04 LTS.

[2019-06-10 08:59] kinnison commented on #1884
That would certainly be a fair approach yes.

[2019-06-10 09:00] kinnison commented on #1328
Thanks.  Hopefully I'll be able to get someone at the conference to help me reproduce this.

[2019-06-10 09:03] kinnison commented on #1893
I'm not entirely sure that `rust-toolchain` is really the right place for this, though I also can't think quite of a better option right now.

How would you envisage the file being altered, and what would the effect be if the target in question wasn't available for the given toolchain?  What if they run `cargo build --target=anothertarget` instead of just `cargo build` etc?

[2019-06-10 09:05] kinnison commented on #1894
This is likely a terminfo related problem.  Can you please confirm what your `TERM` environment variable is set to?

[2019-06-10 09:05] kinnison commented on #1571
Thanks, if Ubuntu works then I'll close the issue.

[2019-06-10 20:15] fundon commented on #1894
`TERM=xterm-256color`

[code]

[2019-06-10 22:46] pusateri commented on #1571
You can close it now. I'm away for a few weeks and when I return, if I'm still having trouble, I can re-open it.

[2019-06-11 06:48] ErikSchierboom commented on #1793
This also fixed it for me!

[2019-06-11 13:54] kinnison commented on #1894
Fascinating.  Does the VM have the terminfo data installed?

[2019-06-11 13:54] kinnison commented on #1571
Okay, thank you @pusateri

[2019-06-11 13:54] #1571 closed, assigned to nobody

[2019-06-12 02:34] kinnison commented on #34
This issue has seen no action in over two years.  If it remains a problem with modern `rustup` then please open a fresh issue with fresh information.

Thanks,

D.

[2019-06-12 02:36] kinnison commented on #86
I believe that rustc and friends now cope with swapping toolchains and rebuilding without needing to remove/recompile all objects, so I'm closing this.

[2019-06-14 11:20] CGMossa commented on #912
I also tried it, and it works fine.

Although I did not use either `visualstudio2017-workload-vctools` nor `vcbuildtools`, but installed those without chocolatey.

But rustup was installed just fine, and contained the newest version of itself, etc..

[2019-06-14 17:22] vors commented on #912
Oh sorry, totally dropped the ball on it. Looks like we should publish

[2019-06-18 04:57] s-n-ushakov commented on #1723
The same is observed for a fresh install of 1.35.0 release on Windows:
[code]
`os error 5` is 'Access denied'.

Keeping in mind the initial bug report for an update installation on linux, my current guess is that 'access denied' is likely to be due to an attempt of renaming the files that are not closed yet.

[2019-06-18 05:09] s-n-ushakov commented on #1723
The problem was finally solved on Windows 8 by running the installer with admin privileges, as per https://stackoverflow.com/questions/52542965/rust-installation-fails-on-windows-subsystem-for-linux-could-not-rename-compone/55373522#55373522

[2019-06-18 06:56] kinnison commented on #1723
Interesting.  I don't think any of us in the wg have windows 8 so we'd need assistance to diagnose, but I wouldn't be surprised if it were related to AV or similar protections.

[2019-06-18 07:02] s-n-ushakov commented on #1723
@kinnison Well, please feel free to use me as a remote agent :)

[2019-06-18 07:07] kinnison commented on #1723
@s-n-ushakov thank you.  If anyone in the wg knows the right questions to ask, it'd be @rbtcollins but I think that his time for this has been curtailed due to new job.  Hopefully he'll have time to kick things off at some point soon, but please don't be surprised if it takes a while. At least you have a functional toolchain, albeit clunky, for the meantime.

[2019-06-19 10:21] rbtcollins opened #1900 "sporadic CI failures deleting files on windows"
The Windows CI jobs fail from time to time deleting files during self upgrade; its likely a genuine bug, and the normal first step would be a procmon or WPA trace to identify what process is holding a handle open on the file - so we can see whether we are stepping on our own feet, or whether it is a virus scanner race we need more retries for.

High level we need to:
 - install procmon as part of

[2019-06-20 18:23] DieracDelta opened #1905 "riscv32ima support"
I'm trying to compile some rust to an elf with riscv32ima. This target isn't available in rustup, currently. Is there any easy way to add this as a target with rustup? Or generate c or asm  that I could compile using gcc?

[2019-06-20 22:01] rbtcollins commented on #1723
So first things, what @bjorn3  reported was not and error with 'could not rename component file' - that is a victim, not a cause - the cause is the last - the `error: failed to install component: 'rust-std-x86_64-unknown-linux-gnu', detected conflict: '"lib/rustlib/x86_64-unknown-linux-gnu/lib/libjemalloc_sys-99c4b45b0d0ee377.rlib"'
` output. We can tell this because of the .bk suffix on the temp

[2019-06-21 04:48] bjorn3 commented on #1723
I freed some space and deleted nightly, so that I could install it again.

[2019-06-21 05:57] tesuji commented on #1905
According to https://forge.rust-lang.org/platform-support.html, the `riscv32imac-unknown-none-elf`
target is in tier 2. It is bare-metal microcontrollers target that only has access to the core library, not std.
Rustup depends on `std` so I don't think we could run rustup on that target.

[2019-06-21 07:20] kinnison commented on #1905
While we cannot provide `rustup` for that target right now, I think @DieracDelta is asking about installing the target so that they can compile Rust code for it.  Unfortunately if the target is not being published into the channels there's nothing `rustup` can do to assist you in installing it.  You would do best to try and talk to the compilers team and ask them what needs to be done to improve t

[2019-06-21 10:06] gnzlbg opened #1907 "Rustup does not tell users where the toolchains will be installed"
**Problem**

When using the installer to install rustup, it is installed to `RUSTUP_HOME`.

Last time I tried the installer it did not mention anything about this. That is, a user executes the script, the toolchain gets installed, then the user needs to figure out where things got installed, decide whether those directories are ok, and if not, then google whether that can be changed, and then, uni

[2019-06-21 13:06] DieracDelta commented on #1905
Yes, I've been using the riscv32imac-unknown-none-elf target for a while now, and it's been fantastic. I just want to disable the compressed extension (c in imac), and was hoping either there was an easy way to do this with rustup, or that it was a feature that already existed but just needed to be integrated in.

@kinnison By compilers team, do you mean I should bring this up with [rustc](https:/

[2019-06-21 14:26] mdadduzio opened #1908 "Errors while compiling objc_exception v0.1.1"
Hi,

I'm a total noob in the rust/cargo world and no matter how I try to build pathfinder 3, I always get stuck at objc_exception v0.1.1 (please see text dump below). Am I missing something or there's a bug?

Thanks

    Updating crates.io index
    Updating git repository `https://github.com/linebender/skribo.git`
  Downloaded sdl2 v0.32.2
  Downloaded font-kit v0.2.0
  Downloaded log v0.4.6
  Do

[2019-06-21 18:11] kinnison commented on #1905
I'd suggest `rust-lang/rust` since the targets built into Rust come from them.  I hadn't realised the difference between `ima` and `imac` :D

[2019-06-21 18:22] kinnison commented on #1908
Hi @mdadduzio

While this isn't quite the right place to look for help with this sort of thing (Reddit's `/r/rust` or the users forum might be better) I'll see what I can do.

Given the lack of `cc1obj` my guess is that you're missing the objective-C compiler in your installation.  Depending on your Linux distro the package name will differ, but on my computer it's called `gobjc`

I've no idea whe

[2019-06-21 20:12] mdadduzio commented on #1908
Hi @kinnison ,

thanks very much for your help, I guess you are right and I'll try to install the objective-C compiler (I had no clue from the error messages, now, thanks to your hint, they look more meaningful).
I'm sorry I posted this here, I didn't know it could be the wrong place.
I'll follow your advice and, if can't still sort it out, post a bit more detailed question in the user forum (I do

[2019-06-21 20:12] #1908 closed, assigned to nobody

[2019-06-23 18:45] DieracDelta commented on #1905
It turns out this is relatively straightforward to do (a testament to how nice rust tooling is). For future reference: it was as simple as copying over the json generated from running ```rustc +nightly -Z unstable-options --print target-spec-json --target riscv32ima-unknown-none-elf```, removing "+c" from the features list, storing this in the root directory as riscv32ima-unknown-none-elf, with th

[2019-06-23 18:45] #1905 closed, assigned to nobody

[2019-06-24 03:24] shuyer520 commented on #1328
I have the similar problems, but I don't know how to resolve it. I need your help ,thankyou very much:
# curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly
info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust programming
language, and its package manager, Cargo.

It will add the cargo, rustc, rustup and other commands t

[2019-06-24 03:26] shuyer520 commented on #1328
I run# curl https://static.rust-lang.org/dist/channel-rust-stable.toml.sha256
e6118276ddab3e00a967e11583685e3205564e31e4007968056ffd0878db19c0  channel-rust-stable.toml
It's good

[2019-06-24 03:53] pgburt opened #1911 "Install on Chromebook Pixel (crosvm) places files in wrong place"
I own a Chromebook Pixel, and use the crosvm (debian) option to do some coding. I tried installing Rust, and the installer placed files in the incorrect location.

## Steps
1) I looked up the command linked here https://www.rust-lang.org/tools/install
2) I'm used to this kind of thing failing without privs, so I added a sudo before the sh and ran it, eg `curl https://sh.rustup.rs -sSf | sudo sh`
3

[2019-06-24 05:20] tesuji commented on #1900
Here is the log file created by procmon while running cli-v1 test:
[code]
![image](https://user-images.githubusercontent.com/15225902/59993405-5e132400-967a-11e9-86ab-02a962dac0d7.png)

[Logfile.PML.zip](https://github.com/rust-lang/rustup.rs/files/3319319/Logfile.PML.zip)

[2019-06-24 05:31] s-n-ushakov commented on #1723
@rbtcollins I have made a new attempt of a fresh install with non-elevated user rights, and I am ready to create a separate ticket. Currently I have Process Monitor logs saved in three formats:
- CSV : 64 M
- PML (Process Monitor native binary format) : 126 M
- XML : 117 M
Which format is best to be attached to the ticket?
I have only retained the events for the ".cargo" and ".rustup" folders in t

[2019-06-24 05:47] tesuji commented on #1911
Please ask this on rustup repo: https://github.com/rust-lang/rustup.rs
Or you could ask asynchronously on discord: https://discord.gg/wU9eCGn

[2019-06-24 10:28] RainKolwa commented on #1328
It worked after I disabled network proxy...

[2019-06-24 10:32] kinnison commented on #1328
@RainKolwa It would be super-helpful if you could provide an example of your proxy setup.  Our shift from cURL to reqwest as an HTTP backend should have been feature-compatible, but clearly it's not quite.

[2019-06-24 10:33] kinnison commented on #1905
Okay thank you for the information in case someone else comes across this.  Good luck.

[2019-06-24 10:45] kinnison commented on #1900
Oooh well done @lzutao -- now we need to see if the log gives us what we need to diagnose.  Is there a procmon reader for Linux?

[2019-06-24 10:48] tesuji commented on #1900
procmon could generated XML and CSV format if you prefer.

[2019-06-24 11:16] RainKolwa commented on #1328
[code]

I mean I disabled the Proxy, actually I was using shadowsocks, and then I turned it off.

[2019-06-24 12:30] kinnison commented on #1328
Aah so you had a proxy but hadn't got the environment variables for it.  I understand, okay thanks.

[2019-06-24 13:01] Mark-Simulacrum commented on #1911
Moved this issue to the rustup repository.

[2019-06-24 13:08] kinnison commented on #1911
Well, this is fascinating.  We *should* have detected and complained vociferously about your running rustup-init under sudo because that's a very bad idea for this kind of thing.

Could you please delete everything installed in this manner and try running *without* the spurious `sudo` ?

[2019-06-25 06:36] s-n-ushakov opened #1912 "fresh install fails on Windows: "error: could not rename component file from '... \rust-docs\share/doc/rust/html' ...""
**Problem**
A fresh install of stable build fails on Windows 8.1 with message "error: could not rename component file from '... \rust-docs\share/doc/rust/html' ...".
Expected behavior would be the install to be successful :)

**Steps**
1. Check Windows version is 8.1 (not checked for other versions)
2. Ensure `%USERPROFILE%\.rustup` and `%USERPROFILE%\.cargo` folders do not exist
3. Download the l

[2019-06-25 06:41] s-n-ushakov commented on #1723
@rbtcollins I have filed a new bug as https://github.com/rust-lang/rustup.rs/issues/1912 , please have a look. Currently refraining from attaching any of ~100M Process Monitor logs, looking forward to your further suggestions/guidelines...

[2019-06-25 07:41] rbtcollins commented on #1723
@s-n-ushakov thanks; lets discuss there :)

[2019-06-25 07:43] rbtcollins commented on #1912
Thank you for generating this report. It does look to me like a probable anti-virus problem.

You mentioned in 1723 that you have procmon traces - have a look in that at the time of the error, are there any other processes with handles open anywhere in that subdirectory? I'm happy to look through if you can upload the PML (as a zip/tar) to s3 or seed it as a torrent or some such...

[2019-06-25 07:46] rbtcollins commented on #1911
If you can figure out why the sudo detection failed that would be good.

Actually I'd like us to fix that at source by picking one source of truth so that we work consistently, but which source to pick...

[2019-06-25 07:49] rbtcollins commented on #1907
This should be quite straight forward, and I'm happy to mentor an interested person.

[2019-06-25 07:50] #1884 closed, assigned to nobody

[2019-06-25 07:50] rbtcollins commented on #1723
@bjorn3 ok. sounds like that cleared the fault for you?

[2019-06-25 07:55] rbtcollins commented on #1328
@kinnison shadowsocks is a MITM socket level proxy - https://shadowsocks.org/en/index.html - not an HTTP proxy.

I think this is a case of an attractive-nuisance bug title: its likely that none of the reports are connected, but they all show the same error, so we have a dogpile. I suggest closing this and being super quick about retitling all new reports.

[2019-06-25 07:58] rbtcollins commented on #912
@vors please do

[2019-06-25 08:00] bjorn3 commented on #1723
@rbtcollins yes, at least for now. I think I will get it again when I run low in disk space again. I will try to reproduce it by filling my disk soon.

[2019-06-25 08:07] rbtcollins commented on #1568
I think this ticket needs to get escalated out of just our team and into a broader cross-team space - basically the *artifacts in the channels* are the problem, of which rustup.exe is a special case.

[2019-06-25 08:16] ddevienne commented on #1568
Ideally cargo itself would allow easy code signing, which implies support for signing in the tools it forks.
Should be as simple as updating the Cargo.toml, no?

[2019-06-25 14:00] jethrogb commented on #1568
@ddevienne the technical part of doing the signing is not the issue. As @kinnison mentioned, the big hurdle now is obtaining a trusted (by MS) code signing certificate.

[2019-06-26 06:55] s-n-ushakov commented on #1912
@rbtcollins I have placed the zipped PML log (11M) here: http://www.usn.pp.ru/tmp/rustup-init--procmon.2019-06-24.zip . Unfortunately could not find anything suspicious so far... Please let me know whether the log is good when your time allows...

[2019-06-26 08:41] rbtcollins commented on #1912
The log doesn't have enough info in it (or its not what I think it is, or Defender's implementation has changed radically from Windows 8 to 10).

So this is the event that fails:
[code]

But there are no events in the trace from other processes than rustup-init.exe - I suspect you've got a filter on the process name.

Check that you aren't filtering for just rustup-init.exe in the filter dialog wh

[2019-06-26 18:05] skilly-lily commented on #1907
I'd like to work on this one.  I could use some help figuring out the codebase, though.

[2019-06-26 21:25] skilly-lily commented on #1907
Nvm, figured it out.  The current behavior of CARGO_HOME is to display the path, but not allow the user to change it as part of the install process.  Instead, the user must cancel the installation, set the environment variable, and then restart the installer.  So I copied that functionality for RUSTUP_HOME instead, and pointed the installer text to the CARGO_HOME and RUSTUP_HOME variables.

If the

[2019-06-27 05:15] s-n-ushakov commented on #1912
@rbtcollins I have finally managed to guess the time values to filter out all the events withing 2 sec timeframe around the failure event :) :

![image](https://user-images.githubusercontent.com/6242163/60234872-86836400-98ae-11e9-9ee7-57f2f717f76a.png)

All the excludes are the standard ones suggested by procmon, except the one of mine that restricts the time.

Please find the resulting zipped PM

[2019-06-27 09:22] rbtcollins commented on #1799
Fixed in https://github.com/rust-lang/cargo/pull/6905

[2019-06-27 09:22] #1799 closed, assigned to nobody

[2019-06-27 09:59] rbtcollins commented on #1912
Ok so thats super interesting, - definitely other processses in the trace, but none operating on .rustup files.

I suspect we need to get into kernel tracing at this point - ETW / WPR https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-8.1-and-8/hh448205(v=win.10) - - basically looking for the cause of the access denied.

Before doing that, please try building and running mas

[2019-06-27 10:39] matthiaskrgr opened #1915 "use the "home" crate to get CARGO_HOME location"
Apparently rustup has its [own implementation](https://github.com/rust-lang/rustup.rs/blob/master/src/utils/utils.rs#L548) of getting the `${CARGO_HOME}` location however it could just use the official `home` crate that `cargo` is using to do the same thing:

https://crates.io/crates/home
https://docs.rs/home/0.3.4/home/fn.cargo_home.html

[2019-06-28 04:22] s-n-ushakov commented on #1912
@rbtcollins Ok, I'll see if I succeed with building the master on the weekend. Meanwhile could you describe your ideas on further troubleshooting in some more detail? What the next steps may look like, and how to proceed?

[2019-06-28 08:19] rbtcollins commented on #1900
![image](https://user-images.githubusercontent.com/499678/60328256-05c58480-99e2-11e9-9e7a-134841f35d9e.png)

[2019-06-28 08:20] rbtcollins commented on #1900
Thats STATUS_TOO_MANY_LINKS https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-fscc/69643dd3-b518-465d-bb0e-e2e9c5b7875e indeed.

[2019-06-28 08:26] rbtcollins commented on #1900
I think I might know whats going on: we're linking the rustup.exe from target into the test case. Presumably we're linking all the aliases too - cargo, rustc etc.

NTFS has a link limit per file of 1K.

So a mere 100 tests making 10 links each would be able to exceed this limit. And and any laziness in accounting (or in test working dir cleanup equally) would lead to issues.

My recommendation: ch

[2019-06-28 08:26] rbtcollins commented on #1900
https://en.wikipedia.org/wiki/NTFS#Hard_links

[2019-06-28 08:29] rbtcollins commented on #1912
@s-n-ushakov basically we're at the edge of my ready-to-use knowledge, so I'm going to be vague. But something like: enable kernel event tracing on all file operations, run the failing scenario, disable event tracing, look through the trace which hopefully will have much more detail than procmon, because it wires into the kernel itself rather than purely userspace.

[2019-06-28 15:25] kinnison commented on #1328
I agree with that, and will close this now.  For future download problems, please file new issues with specific titles.

[2019-06-28 15:25] #1328 closed, assigned to nobody

[2019-06-29 14:25] ronjouch commented on #877
I'm affected too since I moved to a new house & internet connection. Anything I can to to help?

Rustup failing with ipv6, with or without the env. variable mentioned by @jdm :

[code]

cURL failing with ipv6:
[code]
cURL working if forcing ipv4:
[code]

[2019-06-29 15:03] carlospereira1607 opened #1922 "rustc disappears when executing cargo run on windows"
I am curently developing a Rust program on Windows 10. A few months ago I created a library package using cargo. Since then, I've been developing this program. Whenever I want to execute what I have, I goto to cmd and execute the following command inside my cargo folder:
[code]
But, a few weeks ago something strange started to happen. Whenever I execute this same command, I notice that the program

[2019-06-29 15:26] carlospereira1607 commented on #1922
The problem was my anti virus.

After replacing it the program is working perfectly and finishing without the problem I had with rustc.

[2019-06-29 15:27] #1922 closed, assigned to nobody

[2019-06-30 04:30] Lokathor opened #1924 "toolchain url is printed out with a trailing `.`, so you go to the wrong place"
So I ask cargo to give me miri, it says rustup does miri.

I ask rustup to give me miri and it's not available on this particular day so I get the standard message

[code]

However, I'm in visual studio code so I just ctrl+click that URL to open a browser tab and it'll take me right to the page.

Except, that the `.` on the end of the sentence is detected as being a valid URL character so it gets

[2019-06-30 08:13] kinnison commented on #877
rustup 1.18.3 uses reqwest by default.  Could you please try stracing `rustup self update` to see where it tries to connect and how?

[2019-06-30 08:23] kinnison commented on #1924
This was fixed in #1872 which was merged a little after 1.18.3

We are looking to make a release as soon as our CI problems on Windows are resolved to roll up all our fixes since 1.18.3.  This will be resolved at that point.

Thanks,

D.

[2019-06-30 08:23] #1924 closed, assigned to nobody

[2019-06-30 12:26] ronjouch commented on #877
@kinnison here you go:
<details>
<summary>
strace output
</summary>

[code]

</details>

And here's my `~/.rustup/settings.toml` :

[code]

[2019-06-30 18:00] #1283 closed, assigned to nobody

[2019-07-01 16:00] ronjouch commented on #877
Aaaand contrarily to yesterday (see previous comments), today `rustup update` works. I have no idea what system/config/network change caused this.

**EDIT** and it's back a few hours later to not working, on the same machine / network. I'm available to get whatever debug info that might help.

[2019-07-01 19:14] gnzlbg opened #1926 "Document how to install toolchains / targets via rustup without installing docs"
With the `install.sh` one can pass `--without=rust-docs` to avoid installing the docs.

What's the rustup equivalent ?

[2019-07-01 19:16] gnzlbg opened #1927 "Document how to install a default rust toolchain when installing rustup"
I'm doing `curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly` but this does not install a nightly toolchain and makes it the default.

It would be nice if you could document the preferred way of installing rust toolchains for the first time via the CLI non-interactively.

[2019-07-01 20:10] kinnison commented on #877
Urgh, I wonder if this is something to do with S3 or your ISP.

Could you run `strace -f -o update.trace rustup self update` and the upload that trace file?

[2019-07-01 20:13] kinnison commented on #1926
When #1673 lands, it'll be `--profile=minimal` which you'll want.

[2019-07-01 20:14] kinnison commented on #1927
That's odd, I'd have expected that to work -- can you confirm what it does for you?

[2019-07-01 20:15] #1907 closed, assigned to nobody

[2019-07-01 20:19] gnzlbg commented on #1927
It works. For some reason the PATH wasn't being properly exported, so doing a `rustc --version` afterwards was reporting the `/usr/local` one. Shall I close this ? I would have found it reassuring if this command or similar would be present in the readme.

[2019-07-01 20:23] ronjouch commented on #877
@kinnison I cannot `self update` because rustup is installed through my package manager, and trying to run it errors with ` self-update is disabled for this build of rustup. you should probably use your system package manager to update rustup`

Not sure how much you need the strace for `self` update, so here you go with `strace -f rustup update` (without the `self`). If you really do need a `self

[2019-07-01 21:10] rbtcollins commented on #877
@kinnison can I suggest always doing strace -f -T -ttt please :).
@ronjouch please use HTML details when embedding large logs, it keeps the ticket much more readable - I've edited your posts to be such. Thanks!

[2019-07-01 21:14] ronjouch commented on #877
@rbtcollins @kinnison here you go, and 👍 for editing my posts.

<details>
<summary>
strace -f -T -ttt rustup update
</summary>

[code]

</details>

[2019-07-01 22:54] rbtcollins commented on #877
<details>

<summary>The DNS thread output </summary>

[code]

</details>

[2019-07-02 06:53] kinnison commented on #1927
If you'd like to create a patch for README to resolve this issue then I'd be pleased to review it.  Otherwise this is somewhat of a niche feature with respect to most of our users and so I feel it's well enough understood if you download the script and look at its help.

[2019-07-02 07:16] kinnison commented on #877
So, interestingly, there's no attempt made to connect at all to the s3 buckets, at least in the strace provided 10h ago.  I'm not sure how this can happen and yet we don't get any detail of why, suggesting that the error chain is being hidden from us.  Are you back to cURL behaving as you reported where it would say it could not resolve the host?

If so, could you try: `host -vvv static.rust-lang.

[2019-07-02 13:15] benaryorg commented on #1243
As a user of *rustup* I'd like *rustup* to delete the partial file and retry in case the backend returns a *416 Requested Range Not Satisfiable*.
After all, a 416 doesn't sound like a spurious failure, and hence restoring functionality to the user should take priority.

<details>
<summary>416 Requested Range Not Satisfiable on http.cat</summary>

[![416 Requested Range Not Satisfiable on http.cat]

[2019-07-02 13:24] benaryorg opened #1928 "CLI switch to disable download progress output"
### Describe the problem you are trying to solve

I want to add a new toolchain in a Docker container and suppress the download progress, since that messes with my terminal rather hard.
This applies to every other non-interactive download.

### Describe the solution you'd like

A CLI switch (`-s`/`--silent`: *curl* style, `-q`/`--quiet`: *wget* style) which disables output meant for a terminal.

#

[2019-07-02 15:42] icefree commented on #1021
MacOS  10.12.6
`curl --proto '=https' -sSf https://sh.rustup.rs | SSL_CERT_DIR=/etc/ssl/certs sh`

[2019-07-02 21:58] kinnison commented on #1928
This ought to be a reasonable intermediate project for someone to undertake.  I am prepared to mentor someone to do the work.

[2019-07-02 22:01] kinnison commented on #1021
Given that this issue is mostly about incorrectly configured host operating systems, I'm going to close it.  If anyone still has issues with SSL certificates, please look for either more specific issues to join, or else open a fresh one with a full explanation of your problem and how to reproduce it.

[2019-07-02 22:01] #1021 closed, assigned to nobody

[2019-07-03 09:37] fisherdarling commented on #1627
@kinnison I'd like to try and tackle this!

I'm thinking I'll need to add an `.arg` in the [cli()](https://github.com/rust-lang/rustup.rs/blob/master/src/cli/rustup_mode.rs#L106) function. Then if that arg is present, print what we think the path is and return early from `rustup_mode::main()`?

[2019-07-03 09:50] kinnison commented on #1627
I think I'd probably prefer a patch which added the RUSTUP_HOME to the output of `rustup show` and added `rustup show home` akin to `rustup show active-toolchain`.

Do you think you could do that instead?

[2019-07-03 10:05] fisherdarling commented on #1627
So something like:
[code]
And
[code]
?

I can try that!

[2019-07-03 10:40] kinnison commented on #1627
@fisherdarling Yep that kind of thing indeed.

[2019-07-03 12:56] vojtechkral commented on #1243
Our whole team is running into this problem quite often. It seems using a toolchain file provokes this problem, but I can neither confirm that to be objectively true nor reproduce the problem reliably.

[2019-07-03 14:33] kinnison commented on #1243
It's highly unlikely to be related to `rust-toolchain`

[2019-07-03 22:49] ronjouch commented on #877
@kinnison yes, I'm back to failure state, and all the logs I shared in the last posts are during failures. The only occurrence of a success was https://github.com/rust-lang/rustup.rs/issues/877#issuecomment-507325850 , and no new successes happened again since then.

Here you go:

<details>
<summary>host -vvv static.rust-lang.org</summary>

[code]

</details>

And a last datapoint: I noticed rustu

[2019-07-04 16:48] nhynes opened #1937 "Custom component registry"
**Desired feature:** The ability to keep third-party toolchain-specific binaries up to date.

**Proposed interface:**
[code]

**Possible implementation:**

`channel add <url>` downloads `<channel>-channel-manifest.toml` from the url for the current toolchain.
`component add` first checks the toolchain's multirust-channel-manifest and then consults the custom channel manifests.

**Concrete use-case

[2019-07-04 18:40] kinnison commented on #877
This is fascinating and suggests there's something very odd with the IPv6 setup at your current location.  We're certainly not changing things that rapidly on our end.  I don't really want to limit rustup to ipv4, but perhaps we might come up with an env var foryou to do so on demand.

[2019-07-04 18:42] kinnison commented on #1937
This is certainly an interesting idea.  The issue as I see it is that it'd be necessary for the custom channels to be tied very tightly to the channel data for the toolchain, which might mean using toolchain hashes or similar.  Also what would the rule be if, for example you had this attached to your `nightly` install and a new version of nighly comes up and you update before the custom repo has a

[2019-07-04 19:05] nhynes commented on #1937
Ideally, the update would fail in the same way as it currently does when, e.g, clippy isn't present.

Yes, certainly. Otherwise there'd be no way to disambiguate successive nightlies (the primary context in which this feature would be necessary). I'm not sure if the custom channel needs to be so tightly bound to the toolchain version, though. `rustup update`, when installing the new toolchain, wou

[2019-07-04 21:41] istankovic commented on #1125
@xftroxgpx I had the exact same problem and it was quite interesting to see what went wrong. The question is, _why_ does `xdg-open` try to invoke elinks, even though `xdg-settings get default-web-browser` returns `firefox.desktop`?

`xdg-open` invokes `exo-open`, as it should, which then proceeds to execute `gio-launch-desktop`. Now, `gio-launch-desktop` will read `/usr/share/applications/mimeinfo

[2019-07-05 05:43] kinnison commented on #1125
The mime handlers ought to include information on how to deal with terminal vs. not terminal.  I wonder why they don't.

[2019-07-05 16:48] EugeneChung commented on #1912
I tried to install rust by chocolatey and got the similar error.

After I turned off my vaccine program, it was successful.

[2019-07-06 17:36] vors commented on #912
Published, awaiting choco automated test / review

[2019-07-07 09:59] asaadmohammed74 opened #1939 "SIGSEGV while downloading"
**Problem**
rustup install SIGSEGV when calling ssl_ctx_system_config

backtrace for reqwest:
`
#0  0x0000555555a1fc50 in ssl_ctx_system_config ()
#1  0x0000555555a1db6c in SSL_CTX_new ()
#2  0x00005555558593e1 in reqwest::client::ClientHandle::new::_$u7b$$u7b$closure$u7d$$u7d$::hbd7a51ad18fc944c ()
#3  0x0000555555858524 in std::sys_common::backtrace::__rust_begin_short_backtrace::h72a62536400a9f

[2019-07-07 13:37] mpoullet commented on #1912
I have the same issue here with the Avira anti-virus. Turning off the "Real-Time Protection" before running rustup-init.exe makes it work.

[2019-07-07 17:30] nhynes commented on #1937
I figured I'd get started working on this. It looks like it makes more sense for the channels to be added per-toolchain since that's the component on which the tool primarily focuses.

Also, the user will need to `export PATH=$(rustc --print sysroot)/bin:$PATH` since non-blessed components don't have stubs in `~/.cargo/bin`. It's unfortunate, but not awful because the user already has to do simila

[2019-07-08 10:05] thedrow opened #1940 "Release a new version"
We'd like to use rustup in Alpine Linux for which support was added in #1882.
The rustup-init binary is unfortunately [not available](https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-musl/rustup-init) for that platform although it appears on the README file.

Is there a plan for a new release soon which will include #1882?

[2019-07-08 16:59] saghm opened #1941 "Unable to remove non-native std component"
**Problem**

When I try to remove a `std` component of a non-native architecture (originally installed for cross-compilation purposes), I get an error saying that the component isn't installed.

Output of `rustup component list --installed`:
[code]

Output of `rustup component remove rust-std-aarch64-unknown-linux-gnu`:
[code]

Output of `rustup component remove rust-std-aarch64-unknown-linux-gnu

[2019-07-08 17:07] mathstuf opened #1942 "Logical toolchains per minor release"
**Describe the problem you are trying to solve**

Keeping multiple versions of the toolchain around while updating minor releases easily.

**Describe the solution you'd like**

I'd like to be able to do `rustup toolchain install 1.34` at the release of 1.34.0 and for `rustup update` to get 1.34.2 after it has released. Right now, I have to keep an eye out for minor updates and manually replace the

[2019-07-09 06:13] jethrogb commented on #1568
I have an update. The following has been the status since early April, but unfortunately none of this was communicated to us until today :confused:

Mozilla has basically agreed to let us use their code-signing certificate & infrastructure. :tada:  There's a KMS that Mozilla runs called [autograph](https://github.com/mozilla-services/autograph/) that's used for signing. They don't want to give Rus

[2019-07-09 06:29] jethrogb commented on #1568
@rustbot modify labels: E-mentor enhancement help wanted

[2019-07-09 10:48] kinnison commented on #1939
Oh my! this is definitely not great. Rustup bundles openssl so the particular version of the OS really shouldn't affect it, but perhaps we're doing something very odd.  Is this reproducible on your lubuntu setup even today?

[2019-07-09 10:50] kinnison commented on #1937
Hmm, if additional proxies are required then that's not great, no.  I guess if your users are already performing nastiness like that then it might not be a problem for you; but I was not expecting anything that grungy.  You can use `rustup run` to avoid the PATH malarkey so long as your users are expecting it; but LD_LIBRARY_PATH is harder to control.

[2019-07-09 10:51] kinnison commented on #1940
Opening an issue to discuss the release cadence isn't exactly normal practice, but I'll humour you and answer here anyway.  In the future if you want to discuss release cadence, please come onto our discord channel.

We can't release currently because we have test failures in Windows and a possible OpenSSL related issue on Linux.  If you're interested in helping with those, please come along to ou

[2019-07-09 10:51] #1940 closed, assigned to nobody

[2019-07-09 10:53] kinnison commented on #1941
The `rust-std` for other architectures are treated semi-specially.  They are generally managed via `rustup target` rather than `rustup component`  i.e. `rustup component add rust-std-aarch64-unknown-linux-gnu` should have been `rustup target add aarch64-unknown-linux-gnu`.

I'm not sure if we should make sure we can manage these with `rustup component` entirely; or if we should prevent the use of

[2019-07-09 10:54] kinnison commented on #1942
This is an interesting idea, though it would nominally require some extra channel data to be held on `static.rust-lang.org`.  We'll certainly consider it.

[2019-07-09 21:20] asaadmohammed74 commented on #1939
yes, it is still an issue today

[2019-07-09 23:31] asomers commented on #1894
What is "the terminfo data"?  Is that supposed to be the name of a debian package or something?  There is no similarly named package on FreeBSD.

[2019-07-09 23:38] asomers opened #1943 "clippy and rustfmt unavailable on recent Tier 2 builds"
**Problem**
Recent nightly builds are missing the clippy and rustfmt components for all Tier 2 architectures.  They've been missing since at least july-3-2019, and probably earlier.
https://rust-lang.github.io/rustup-components-history/x86_64-unknown-freebsd.html

**Steps**
1. `rustup update nightly` on a system that already has clippy and rustfmt installed for the nightly toolchain

Output of `ru

[2019-07-09 23:56] rbtcollins commented on #1943
Hi, this really isn't a rustup issue - rustup deals with installing what has been built, not with getting it built - you'll need to talk with the clippy and rustfmt teams about their builds - I don't think we can directly help you here

[2019-07-09 23:59] rbtcollins commented on #1894
/usr/share/terminfo

[2019-07-10 00:12] fundon commented on #1894
[code]

[2019-07-10 00:22] asomers commented on #1894
FreeBSD uses termcap instead.  You need to look in /usr/share/misc/termcap.

[2019-07-10 00:24] fundon commented on #1894
From ` /usr/share/misc/termcap`

[code]

[2019-07-10 00:32] rbtcollins commented on #1894
Please truss rustup - verify what termcap / terminfo file rustup is /actually/ using. Thank you!

[2019-07-10 00:38] asomers commented on #1894
[code]

[2019-07-10 00:46] rbtcollins commented on #1894
Thought so - the thing to remember is that we're not using libterminfo etc, we've got this other rust lib we're using which is a native reimplementation of the terminfo spec, and so the features it has are the features we have. To use termcap (is that the same format) would require patches to it, or to rustup; An experiment you could do would be to try putting a terminfo file that should be right

[2019-07-10 01:45] asomers commented on #1894
Hm, how would I find or generate such a terminfo file?  I know nothing about terminals.

[2019-07-10 09:31] thedrow commented on #1940
Sorry. I saw people doing the same before so I figured that's a normal practice here.

Thanks for the information.
I'll join and see what I can do.

[2019-07-10 09:39] kinnison commented on #1940
That's okay, I'm trying to discourage it though :D

Awesome!

[2019-07-10 09:59] kinnison commented on #1939
Okay, that's helpful.  Could you please run `strace -ttt -T -f -o tracefile rustup ...` where `...` is whatever command you were running above when you got the backtraces?  The output of the strace (the `tracefile` file) will be quite large, so it may be best to attach it to your reply.

[2019-07-10 10:02] kinnison commented on #1943
This is not a direct thing we can deal with -- we have ongoing work which will ameliorate, though not solve, this situation.

As Robert says, `rustup` is only able to offer access to that which has been built.  Sadly Tier 2 platforms lack sufficient support within the teams to promote to Tier 1, but even Tier 1 sometimes doesn't have clippy/rustfmt/whatever in nightly.

[2019-07-10 10:02] #1943 closed, assigned to nobody

[2019-07-10 13:14] asomers commented on #1943
Sorry for the spam.  Issue reopened at https://github.com/rust-lang/rust/issues/62558 .

[2019-07-10 13:49] asaadmohammed74 commented on #1939
ok
[tracefile.txt](https://github.com/rust-lang/rustup.rs/files/3377787/tracefile.txt)

[2019-07-10 14:08] kinnison commented on #1939
Fascinating -- okay, so from that trace we can see that it has spotted your CA certificate bundle properly, and it tried to load a config which can't ever exist so shouldn't be an issue, before just plain segfaulting.

There's no external openssl library so it can't be confused by that, which is good.  It's managing to read its random seed from `urandom` -- Hmm.

What version of lubuntu are you ru

[2019-07-10 14:23] asaadmohammed74 commented on #1939
lubuntu-16.04.6-desktop-amd64.iso
I had a harddisk failure and this was the only version I had an iso for

[2019-07-10 20:46] johalun commented on #1894
I'm having the same problem...

[2019-07-10 20:50] asomers commented on #1894
I'm working on a solution now.

[2019-07-11 19:05] saghm commented on #1941
Thanks for the clarification! `rustup target remove aarch64-unknown-linux-gnu` works for me, so my issue is now resolved (although feel free to repurpose this as a tracking issue for any work done on `rustup component` with regards to targets). I'll make sure to use `rustup target` for adding and removing targets in the future!

[2019-07-11 19:05] #1941 closed, assigned to nobody

[2019-07-12 00:32] vors commented on #912
@ferventcoder I fixed the package so it passes the tests, can you stamp it?

[2019-07-12 12:23] ctaggart commented on #1912
This failed about 5 times for me and then I found this thread. It worked after I deselected the box in the McAfee Access Protection Properties to "Prevent McAfee services from being stopped" and then stopped the `McAfee McShield" service. It is also known as the "McAfee On-Access Scanner service".

This was the error:
[code]

![image](https://user-images.githubusercontent.com/80104/61127799-4bf30b

[2019-07-13 18:40] PicoJr commented on #1928
Here is what I've written so far: <https://github.com/PicoJr/rustup.rs/tree/feat-1928>

Should I submit a PR?

Note: It's my first time contributing to rustup and I'm a rust beginner.

Help appreciated =)

## TODO?

- [ ] write unit test for the `--silent` option
- [ ] add `--quiet` alias

## Unit Tests

I ran `cargo test`, some tests failed with message "error: self-update is disabled for this bu

[2019-07-14 15:01] kinnison commented on #1939
I apologise for the delay, I've been suffering from my home network connection not working for a few days, but I've managed to download the ISO image now, so I should be able to try and reproduce this soon.

[2019-07-14 15:10] kinnison commented on #1928
My preference is for `--quiet` rather than `--silent` but it looks like you're on your way to a solution.

The error message you mention suggests that you've managed to end up with the no-self-update feature enabled, or else you've got some unusual environment variables set such as `SNAP`.

[2019-07-14 15:42] PicoJr commented on #1928
Ok, I'll rename the option to `--quiet`.

[2019-07-14 17:15] PicoJr commented on #1928
I've submitted a PR: #1945

[2019-07-14 17:17] asaadmohammed74 commented on #1939
no problem hope you can reproduce

[2019-07-15 08:26] kinnison opened #1946 "Incorrect detection on Debian/Buster"
I set about installing `rustup` onto a Debian/buster system and saw the following:

[code]

Seems we're incorrectly identifying Debian as OS-X somehow?

[2019-07-15 12:40] kinnison commented on #1939
So today I installed lubuntu 16.04.6-desktop-amd64 with the defaults, logged into the new VM, downloading, and ran rustup-init, and it installed everything with no issues.

Could you try once more from scratch (i.e. from `curl https://sh.rustup.rs/ | sh`) and see if it continues to fail for you?

[2019-07-15 12:58] pingzing opened #1947 "PowerShell completions generate bogus completion flags for all commands"
**Problem**
The generated completions for PowerShell incorrectly contain the following completions for the following flags for every option:
 * -h
 * h
 * --help
 * help
 * -V
 * V
 * version
 * --version

...even for commands that do not accept those flags. The result is that if I type

[code]

...and then press Tab, I get `-h` as a suggested autocompletion, which is invalid.

**Steps**

1. `rust

[2019-07-15 12:59] pingzing commented on #1947
The generated completions:

(Also, I have to give kudos to whoever wrote the generator for this. The output is very readable!)

[code]

[2019-07-15 13:43] kinnison commented on #1947
The completions are generated by clap, so I'm not sure why it would be wrong unless it's a bug in clap.

Could you please try writing a simple clap app and see if the completions come out properly; and if not, file a bug on clap and link it to this so that we can track it?

[2019-07-18 07:44] MJarirUddin opened #1948 "Rustc, worker thread panicked, error: could not write output to main… : Permission denied"
I am a beginner in Rust, using Ubuntu 18.04 LTS on WSL Windows 10. Please guide me about this error in the attachment.
![error 101](https://user-images.githubusercontent.com/47315358/61438833-cbecfb80-a959-11e9-885b-9c7fe8cdbe02.png)

\

Output of `rustup --version`:
rustup 1.18.3 (435397f48 2019-05-22)
Output of `rustup show`:
Default host: x86_64-unknown-linux-gnu

stable-x86_64-unknown-linux-gn

[2019-07-18 09:19] kinnison commented on #1948
Hi @MJarirUddin

Welcome to the Rust community.  It looks like the panic is in the compiler rather than in Rustup itself.  As such, in theory the best place for you to file this would be https://github.com/rust-lang/rust *but* I can probably help you point at what might be going wrong.  If you have anti-virus programs running then there's a risk that they play about with files being opened an clos

[2019-07-18 09:19] #1948 closed, assigned to nobody

[2019-07-18 10:04] MJarirUddin commented on #1948
Thanks man! I got it resolved now, many thanks to you!!

[2019-07-20 16:50] dancrossnyc opened #1949 "Nightly unavailable on FreeBSD: clippy, rustfmt and rls"
Apologies if this isn't the correct place to post this issue....

I haven't been able to update nightly on FreeBSD for a while due to the unavailability of rustfmt, clippy and rls: it'd be awesome if miri built, as well. :-) It's been about two months since the last successful update. I'm not sure if some automated process somewhere needs a nudge? Thanks!

[2019-07-21 20:26] yuyoyuppe commented on #1299
Just stumbled upon this, and here's an easy fix - you can specify rust-client.rlsPath option in VSCode `settings.json`, e.g.:

[2019-07-21 20:34] ketsuban commented on #1299
I could also just have set my override to `nightly-2017-12-02` rather than `nightly`; the problem was I wanted a specific nightly build but didn't want it to be permanently tagged with the date, so that later on I can update to a newer nightly if I want.

[2019-07-25 20:30] mathstuf commented on #1006
Ping? Any progress on this? I'd like to reduce the size of our multi-toolchain build images by nuking docs…

[2019-07-27 14:21] cjburkey01 commented on #1949
Same for Windows

[2019-07-27 20:24] bcdady opened #1952 "rustup completions inline help is less clear than current markdown"
**Describe the problem you are trying to solve**

Improve inline description for rustup completions, especially for Windows-centric users, that are likely less familiar with "completions", without the specific context of console/terminal tab-completion

**Describe the solution you'd like**

I suggest we update the inline help (src/cli/rustup_mode.rs:L514) to more closely (if not exactly) match the

[2019-07-28 08:01] kinnison commented on #1299
There are a number of different solutions to the same sort of problem you describe in the original posting on this issue.  We're not yet sure which we're going to take, so thank you for your suggestion, but I'm not able to say if it's something we're likely to merge yet.

[2019-07-28 08:03] kinnison commented on #1006
This work has been folded into the concept of installation profiles, which we're actively working on, though the over-all progress is slowed due to recent CI problems with Windows.  You can follow the work in #1673

[2019-07-28 08:04] kinnison commented on #1949
Nightly makes no guarantees about all the components or indeed architectures being available in any given nightly release.  If you're having problems with particular platforms or components, then looking to see if those component/platform teams could use help is the best thing you can do.  There's nothing `rustup` itself can do to make it more likely that these components are available nightly-to-

[2019-07-28 08:04] #1949 closed, assigned to nobody

[2019-07-28 08:09] kinnison opened #1954 "Zero-sized binaries in ~/.cargo/bin (ChromeOS?)"
The latest version of rust (1.36.0 as of this comment) is not working.  After installation on an i686 ChromeOS system, I get all zero byte binaries in `~/.cargo/bin`.  By the way, I fully agree with @josephRice.  I see so many projects like this that require the user's path to be modified.  I don't understand why this is so popular but it's the _WRONG WAY_ to install an application.  See below:
[c

[2019-07-28 08:11] kinnison commented on #1954
@uberhacker The answer to your second point is simple -- it doesn't download everything twice.  You're probably mistaking the installation phase for a download phase.  The description "installing component..." rather than "downloading component..." should make this clear, but perhaps there's something we can do to improve matters subsequently.

The first point -- that your binaries are zero-length

[2019-07-28 12:47] #1627 closed, assigned to nobody

[2019-07-28 18:55] uberhacker commented on #1954
@kinnison: Thank you for the quick feedback.  Yes, sorry.  I didn't notice the installing line to distinguish from downloading.  Guess next time I should look more closely.  I did try to install multiple times and the issue appears to be repeatable.  I tried installing on another x86_64 Chromebook and the binaries in `~/.cargo/bin` were no longer zero sized so this bug appears to be isolated to i6

[2019-07-28 19:08] kinnison commented on #1954
You can set `CARGO_HOME` too, and both `RUSTUP_HOME` and `CARGO_HOME` should be part of your generalised environment (with `$CARGO_HOME/bin` in your `PATH`) if you want to control it fully.

[2019-07-29 04:17] uberhacker commented on #1954
Great.  Now I have the info I need to package rust for Chromebrew.  If it helps any, I did notice there were some non-zero sized binaries in `~/.rustup/toolchains/stable-i686-unknown-linux-gnu/bin` but the rustup executable was missing.  See below:
[code]

[2019-07-29 08:28] bjorn3 opened #1956 "Don't show backtrace for errors when RUST_BACKTRACE is set"
**Describe the problem you are trying to solve**

I have `RUST_BACKTRACE` set globally, because I always want to get backtraces when for example rustc or my own program panics. However I don't need any backtraces for simple errors, like for running `rustup component add rls --toolchain nightly` when rls is not available for the latest nightly.

**Describe the solution you'd like**

Don't show bakt

[2019-07-29 09:51] aleksmelnikov opened #1957 "rusfmt is missing for all Tier1 platforms since 2019-07-26"
**Problem**

[`Rusfmt` component is missing for all Tier1 platforms since 2019-07-26,](https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu.html)
so I can't update ` nightly-x86_64-unknown-linux-gnu`.

My update log:
[code]

[2019-07-29 10:51] Hi-Angel opened #1958 "`rustup update` results in "rustfmt is unavailable for download""
**Problem**

`rustup update` results in an error:

[code]

I can't seem to remove `rustfmt` either:

[code]

I was advised on IRC to report a bug.

**Steps**

For me it's just running `rustup update`, unfortunately I don't know how to reproduce it in general.

**Possible Solution(s)**

Supposedly, running `rustup toolchain remove nightly && rustup toolchain install nightly` should fix it, but I di

[2019-07-29 11:22] Adarma opened #1959 "Use rust-toolchain file to specify 32 or 64 bit"
**Describe the problem you are trying to solve**

I am using Windows 7 x64, but need to compile a dll for hooking 32bit applications.
I installed the `stable-i686-pc-windows-msvc` toolchain for this.
To use it, I run `cargo +stable-i686-pc-windows-msvc run`.
It works.

The problem is that after some time, I returned to this code and spent a good while trying to figure out why the dll was no longer

[2019-07-29 12:48] kinnison commented on #1957
Yep, that's very true.  Sadly it's not something Rustup can do anything about; sorry.  Better to go and discuss this with the rustfmt group and see what they need help with to get them back into nightly.

[2019-07-29 12:48] #1957 closed, assigned to nobody

[2019-07-29 12:51] kinnison commented on #1959
The toolchain specification is more meant for the host.  Better to use the native host toolchain but target the other architecture if you can.  For example, by setting in `.cargo/config`

[code]

Is there a good reason this is not what you want to do?

[2019-07-29 16:09] Adarma commented on #1959
I was not aware of `.cargo/config`.
Wouldn't that setting be for the whole system, and not just for one project?

[2019-07-30 06:03] aleksmelnikov commented on #1958
https://github.com/rust-lang/rustup.rs/issues/1957

[2019-07-30 07:45] kinnison commented on #1954
Yeah, so those are the real binaries.  In `~/.cargo/bin` will be the `rustup` binary and hardlinks to it for each of the binaries it proxies into your toolchain (such as `cargo` `rustc` etc).  That those are zero-sized is worrisome since it indicates something very unexpected is happening.

[2019-07-30 07:47] kinnison commented on #1956
AIUI, `RUST_BACKTRACE=1` is something handled by the standard library and not something we can directly control.  If I'm wrong, I'd love to see a patch to do this.

[2019-07-30 07:49] kinnison commented on #1959
Aha, I meant to set it in the project directory.  Just like you would have `rust-toolchain`.  So `...path/to/project/.cargo/config` instead of `...path/to/project/rust-toolchain`

[2019-07-30 07:51] kinnison commented on #1958
@aleksmelnikov That's not *quite* what I take from this issue.

To me, it reads as:

* **GIVEN** a working nightly which includes `rustfmt`
* **WHEN** I run `rustup update` to a nightly which does not include `rustfmt`
* **THEN** the update fails
* **AND** I can no longer remove `rustfmt`

That implies that the update has replaced the channel manifest file, but not completed the update.  This woul

[2019-07-30 08:29] bjorn3 commented on #1956
These errors are printed in

https://github.com/rust-lang/rustup.rs/blob/c104e3b6b9de4a092dd132efcc08263d5a62b8d6/src/cli/common.rs#L522-L551

I just noticed that those backtraces are shown too when `-v` is passed. Should I make that the only trigger for backtraces? Or should I add one of the env vars I mentioned in the issue description as trigger too?

[2019-07-30 08:35] kinnison commented on #1956
Oh right you mean non-panic traces. Sorry, I was confused.  Yeah, you could make `show_backtrace()` conditional on something like `RUSTUP_BACKTRACE=1` if you want.  Be sure to update the README and/or CONTRIBUTING guide appropriately too though.

[2019-07-30 08:45] Adarma commented on #1959
I added the config file as you described, but I get the following error:

[code]

It says the target *may* not be installed.
I think it is:

[code]

Since `cargo +stable-i686-pc-windows-msvc run` works, I tried adding the `stable-` prefix, changing the config to:

[code]

I then get this error:

[code]

I don't fully understand the target triple stuff and which bits can or should be implied.
Can y

[2019-07-30 08:48] kinnison commented on #1959
You need to add the i686 target to your x86_64 toolchain with: `rustup target add i686-pc-windows-msvc`  The cross-build targets have to be added individually to the toolchain being used.

[2019-07-30 09:20] Adarma commented on #1959
Ah, thanks. It is working now.
I was mixing up toolchains and targets.
 I guess I don't need the 'stable-i686-pc-windows-msvc' toolchain installed by doing it this way.

[2019-07-30 09:47] rbtcollins commented on #1956
I'd really rather not muck with this in this context.... developing on rustup right now is precisely like developing on every other bit of rust, but if lots of things get written in rust should we expect bugs filed on ls, and find and so on, saying that they shouldn't use RUST_BACKTRACE as their give-a-backtrace variable?

Basically I see this as an ecosystem problem. Either its appropriate to use

[2019-07-30 09:50] bjorn3 opened #1960 "Running `cargo test` for Rustup requires a lot of space"
**Problem**
Running `cargo test` requires at least 10GB of disk space. (Don't know how much exactly, as I ran out of space)

**Steps**

1. Run `cargo test`
2. Notice that the `target` dir is more than `10GB` big.

**Notes**
[code]

[2019-07-30 09:51] rbtcollins commented on #1956
(Thats my purely selfish perspective). Now - for meeting your needs - how about a variable to suppress rustup backtraces entirely, like RUSTUP_NO_BACKTRACE=1, which you could set and forget, and we could even much with the stdlib if needed to force it to not do traces etc.

[2019-07-30 09:51] bjorn3 commented on #1956
+1

[2019-07-30 10:15] rbtcollins commented on #1960
I think we're leaking test dirs.
[code]

far in excess of our test parallelism.

$ du -lsh target
162G    target
$ du -sh target
29G     target

[2019-07-30 10:16] kinnison commented on #1960
Yes, we leak dirs in `target/tests` but removing that is quite permissible between runs.  I think what we're leaking is the dist trees of the fake servers.

For reference though, my `target` dir is only 6G and my `target/tests` is only 48M, so something odd is happening for you two perhaps?

[2019-07-30 10:17] kinnison commented on #1959
Indeed, glad things are working for you.  I'm going to close this issue now because what you originally asked for doesn't make sense for `rust-toolchain` since we don't want to control the toolchain itself but rather the build target.

[2019-07-30 10:17] #1959 closed, assigned to nobody

[2019-08-01 06:55] s-n-ushakov commented on #1912
@rbtcollins I have to confess that I failed to do the ETW / WPR exercise so far, as my HDD with Windows died. Sorry... Now I am busy with gradual migration to Ubuntu, so it is not very much likely that I will be able to add more to this investigation, at least in the near future. But it is good to know that numerous colleagues here are reporting their observations of problem correlation with antiv

[2019-08-02 23:29] ferventcoder commented on #912
@vors The community moderators will take a look and move that if they haven't already.

[2019-08-03 18:14] BanzaiMan opened #1964 "rustup-init no longer updates nightly installations."
**Problem**

rustup-init no longer updates nightly installations.

**Steps**

1. Run `curl -sSf https://build.travis-ci.org/files/rustup-init.sh | sh -x -s -- --default-toolchain=nightly -y`
2. Set up `$PATH`: `source $HOME/.cargo/env`
3. Confirm that the version is reasonable: `rustc --version`
4. Wait a day (so that a new nightly build is available).
5. Run `curl -sSf https://build.travis-ci.org

[2019-08-03 19:27] kinnison commented on #1964
That is exactly what I'd expect to see.  Rustup-init will detect the existing toolchain and will not update it.  You'll note it *did* update rustup itself, but not the channels.

I'd expect that you probably want to add a `rustup update` to the end of your installation command.

[2019-08-04 13:38] BanzaiMan commented on #1964
@kinnison So, the previous behavior was wrong?

[2019-08-06 11:24] majkinetor commented on #912
They haven't already as reviewed - package is not good enough to be published and requires maintainer to fix it.

[2019-08-07 04:53] 95th opened #1965 "Rustup downloads just removed installation unnecessarily"
**Problem**
I had old nightly-2019-07-17 installed as default. I uninstalled it without changing the default first.

After uninstall, I tried changing the default to stable - which started downloading the just removed nightly.

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]

[2019-08-08 04:32] cromatikap opened #1966 "syncing channel updates for 'nightly-x86_64-unknown-linux-gnu'"
**Problem**

rustup update nightly has "unknown" in the name, then timed out:

[code]

**Steps**

1. `rustup update nightly`

**Notes**

Output of `rustup --version`: `rustup 1.18.3 (2019-05-23)`
Output of `rustup show`:
[code]

[2019-08-08 11:49] cromatikap commented on #1966
I disconnected from my VPN and this fixed my problem

[2019-08-08 11:49] #1966 closed, assigned to nobody

[2019-08-08 13:45] 95th commented on #1964
@kinnison Is there any update on this issue please?

[2019-08-08 13:48] tesuji commented on #1964
I think Daniel answered the question. What else do you expect by the way?

[2019-08-08 14:10] kinnison commented on #1964
The previous behaviour?  If you mean Travis' previous behaviour then it was working as intended all along.  I believe Travis now caches the `RUSTUP_HOME` which means that you will need to explicitly do a `rustup update` at the end of the install.

[2019-08-08 16:02] mordmckee commented on #1328
Turned off VPN here...

[2019-08-08 20:59] #1964 closed, assigned to nobody

[2019-08-09 04:44] 95th commented on #1965
Oh it turns out the repo had `rust-toolchain` file pointing to specific nightly which was forcing this download. Closing now.

[2019-08-09 04:44] #1965 closed, assigned to nobody

[2019-08-12 18:35] prophet1906 commented on #1668
Also happens when I interrupt `rustup component add rustfmt` before completion & try to run `rustup component remove rustfmt`. Some issue in rustup component removal.

[code]

[2019-08-12 20:55] ChenotConsulting commented on #1912
Hi.
I confirm the same as the above. After turning off Avira antivirus it worked.

[2019-08-14 17:39] vors commented on #912
I don't have a windows machine and energy to take another iteration on it at the moment. Please, continue to use `choco install rustup -pre` for the time being.

[2019-08-15 14:48] MostafaNorzade commented on #1328
I have strat Tor ( service tor start ) of course after installing the Tor.
Then install Rust.

[2019-08-15 15:13] marvin-bitterlich commented on #1243
Got the same problem on windows, every invocation of the command resumes the download and gets it a bit farther but after a few seconds it errors out. I will just retry until all is downloaded, but this seems to be a retryable problem.

[2019-08-15 15:24] mathstuf opened #1967 "progress bar desync"
**Problem**

This is more an observation than a detailed issue report. I'd treat it as a BOLO for some underlying problem.

During an update, it seems that a component (clippy) update came in during a progress update. The next line had a really weird progress status at that point:

[code]

The progress report is just internally inconsistent. This, to me, indicates some kind of race, underflow and/

[2019-08-15 16:01] GrumpyMetalGuy commented on #1542
Given that #1624 just got closed down, is this the right place to discuss?

I've been trying for a year now to get traction on Rust at work, and this stops it every single time. This is an active blocker that corporate security will not work around, so we need something if we want to get Rust used in larger multinationals. (that and Artifactory support, although that's another story/ticket)...

[2019-08-15 18:02] ncihnegn opened #1968 "Can't install lldb-preview on macOS"
**Problem**

lldb-preview component has been missing for a while.
**Steps**

1. rustup component add lldb-preview
2.
3.

**Possible Solution(s)**

**Notes**

Output of `rustup --version`:
Output of `rustup show`:

[2019-08-15 18:49] kwaegel commented on #1912
Same. Turning off the McAfee On-Access Scanner fixed the `Access is denied. (os error 5)` message.

[2019-08-15 19:19] DoumanAsh opened #1969 "[feature] Allow to ignore rust-toolchain file"
**Describe the problem you are trying to solve**
I want to avoid needless downloads of toolchains

**Describe the solution you'd like**
Having any way to specify option to ignore `rust-toolchain` file

[2019-08-16 14:05] Geobert commented on #1870
Is this supposed to be live? I encounter the issue yesterday while upgrading to 1.37, and then I tried the experimental build above (I kept it) to succeed the update.
EDIT: `rustup --version` gives `rustup 1.18.3 (435397f48 2019-05-22)`

[2019-08-20 12:50] srinivasreddy commented on #1967
I think something else involved here than `rustup install 1.37.0 && rustup update`,
Console output on my system.
[code]

[2019-08-20 13:01] mathstuf commented on #1967
Oh certainly. I think it was more incidental that I had installed 1.37.0 before updating all the other toolchains.

[2019-08-20 13:03] srinivasreddy commented on #1968
I have done it successfully, not sure what is happening on your system.
[code]

[code]

[2019-08-20 13:29] ctaggart commented on #1462
To include the preview Visual Studio version, you must add `-prerelease` to the first command. This just worked for me on a computer with only Visual Studio Community 2019 Preview.
[code]

[2019-08-20 13:37] ctaggart commented on #1462
An alternative to this is to add a `.vsconfig` file (based on the Terminal [.vsconfig](https://github.com/microsoft/terminal/blob/master/.vsconfig)) to your project and open Visual Studio there.

[code]

[2019-08-20 15:50] mati865 commented on #1968
`lldb-preview` is no longer available in nightly builds.

[2019-08-20 19:51] #1915 closed, assigned to nobody

[2019-08-20 19:55] kinnison commented on #1542
Once I have a way to let rustup verify the GPG signatures on channels, it becomes more viable to allow it to ignore certificate issues.  Currently the certificates are the only guarantee we have that data has not been tampered with in-flight.  I promise that we're trying to get this resolved, but we refuse to do it in a way which opens the door to the risk of someone using rustup as a way to deliv

[2019-08-20 19:55] kinnison commented on #1912
Badly behaved scan-on-write virus scanners are becoming a great pain to me.  I wonder if there's any way we can detect and mitigate this.

[2019-08-20 19:57] kinnison commented on #1969
You can override the `rust-toolchain` file with a directory override `rustup override set --path $somepath $toolchain` or by means of the `RUSTUP_TOOLCHAIN` environment variable.  What more do you want?

[2019-08-20 19:57] kinnison commented on #1968
This is not an issue in `rustup`

[2019-08-20 19:57] #1968 closed, assigned to nobody

[2019-08-20 19:58] kinnison commented on #1462
Is there a safe and consistent way we can launch this from `rustup-init.exe` ?

[2019-08-20 19:58] DoumanAsh commented on #1969
Can I set `RUSTUP_TOOLCHAIN` so that it would always use default one in my installation?

[2019-08-20 19:59] kinnison commented on #1967
@rbtcollins Do you have any idea how this could have happened?

[2019-08-20 20:00] kinnison commented on #1969
You can set it to whatever toolchain you want, so long as it's in your environment then it will override all but an explicit toolchain invocation e.g. of the form `cargo +sometoolchain build`

You can see all about the override ordering in https://github.com/rust-lang/rustup.rs#override-precedence

[2019-08-20 20:01] kinnison commented on #1668
If you cancel the installation of a component while it's unpacking then it is quite possible it will end up in an inconsistent state.

[2019-08-20 20:09] GrumpyMetalGuy commented on #1542
Understood, and thanks for the update. I definitely don't want hackery used, as if malware gets into our network, it would look terrible for all involved!

I know you can't give estimates, etc, but as one of many behind the Great Corporate Firewall™, I really hope this gets some prioritisation/traction! I want Rust to take off across all environments, mine in particular ;) Especially with all the

[2019-08-20 20:12] mathstuf commented on #1967
Some observations:

  - 11.7 (previous total) + 1.8 (new total) = 13.5 (new progress)
  - the time (49710d  6h 28m 14s) is 4294967294 (0xfffffffe) seconds

[2019-08-20 20:26] DoumanAsh commented on #1969
Yeah which would mean that I would need to change it each time I need to change default toolchain in rustup, which may not be always easy to remember

[2019-08-20 21:50] rbtcollins commented on #1967
So we have a hygiene problem here which I went 'lalalalala' at when I started improving IO, but perhaps its time to tackle.

The lack of a newline after the 0s before the 'info' statement.  That suggests we haven't closed off the progress bar, which happens as a kind of hack/thunk around the decompressing/extraction of the tars to disk. Checking exactly where the newlines are meant to be emitted a

[2019-08-21 02:15] najamelan commented on #1501
@RalfJung

It would be nice if `rustup update` did the same thing though. Eg. get you the latest nightly that has your components.

[2019-08-21 07:43] RalfJung commented on #1501
@najamelan your comment consists only of quotes, looks like a formatting issue?

AFAIK if you have a component installed, rustup will only upgrade to nighties that have that component.

[2019-08-21 08:17] nikita-fuchs opened #1970 "LZMA data error on s390x"
**Problem**
I cannot find a working way to use rust's `beta` or `nightly` releases on an IBM mainframe running Ubuntu:

[code]

**Steps**
1. Connect to the IBM mainframe of your choice running Ubuntu (reach out to me if you need something here ;) )
2. Run `rustup default nightly`(if the link is not being created for you like in my case, directly run the binary: `~/.cargo/bin# ./rustup default nigh

[2019-08-21 08:22] kinnison commented on #1970
Hi,

Based on the `info: caused by: lzma data error` I'd guess that the s390x nightly archives are somehow damaged/corrupted and that it happened before the channel manifests were created.  Are you able to install from a different nightly (e.g. one from a few days ago)?

Thanks,

D.

[2019-08-21 08:40] emilyalbini commented on #1970
@nikita-fuchs could you try running this command on your s390x machine?

[code]

[2019-08-21 08:47] nikita-fuchs commented on #1970
Thanks for the fast responses !

@pietroalbini that produces the same error, unfortunately.
@kinnison Sorry I can't seem to find a list of release dates for that (I'm no rust developer unfortunately, so maybe there is even a simple way that I've just not stumbled upon) , could you hint me a command?

[2019-08-21 08:54] emilyalbini commented on #1970
@nikita-fuchs then it's not an infrastructure problem, the packages in the archive are fine.

You *could* download Rust manually, but if there is a miscompilation in rustup I doubt it's going to be reliable anyway. It would be useful to see which nightly introduced the regression though: a nightly is released every day and has a toolchain name of `nightly-YYYY-MM-DD` (for example `nightly-2019-08-

[2019-08-21 09:14] nikita-fuchs commented on #1970
@pietroalbini `./rustup default nightly-2019-07-05` works:
[code]
(note it installs the commit from the day before)

`./rustup default nightly-2019-07-06 ` doesn't, throwing that out of space error. In the issue I've referenced this one in (see above) somebody mentioned, that this behavior would also appear in the next `stable` if it's not fixed?

Thank you very much for your help.

[2019-08-21 09:17] kinnison commented on #1970
The "maybe you're out of space?" is purely a hint because that failure mode is most common.  The lzma data error thing is more likely that the lzma library is flakey on s390x and somehow the issue isn't tickled by the 2019-07-05 toolchain, or perhaps previous stables.

Are you able to try a local rustup build?

[code]

[2019-08-21 09:20] emilyalbini commented on #1970
PRs merged between `nightly-2019-07-05` and `nightly-2019-07-06`:

* rust-lang/rust#62419 - Rollup of 13 pull requests
* rust-lang/rust#62407 - Rollup of 10 pull requests
* rust-lang/rust#62099 - Remove io::Result from syntax::print
* rust-lang/rust#62376 - Switch master to 1.38
* rust-lang/rust#62153 - Update the `rust-installer` submodule

rust-lang/rust#62153 seems *really* suspicious, but I do

[2019-08-21 09:23] emilyalbini commented on #1970
Oh, another thing that might be useful to debug: could you download [this file](https://static.rust-lang.org/dist/rustc-nightly-s390x-unknown-linux-gnu.tar.xz) and extract it manually?

[2019-08-21 09:51] najamelan commented on #1501
@RalfJung Sorry, it needed a white line to work there.

So the point is, if I have a nightly that is one month old, with components, and I run `rustup update`, if todays nightly doesn't have the components, it won't update anything at all, even if yesterdays nightly had the required components.

So I think lots of people would like for rustup to update to the latest nightly that has that component

[2019-08-21 10:07] nikita-fuchs commented on #1970
@pietroalbini it extracts without an issue, seems it's all there:
[code]
any chance to roll with that somehow?

[2019-08-21 11:12] emilyalbini commented on #1970
@kinnison suggested we could switch rustup to use gzip instead of xz on s390x, and that could work, but I agree with them it would be best to find out the root cause of this if possible.

cc @alexcrichton: apparently after `rust-installer` [started using multithreaded compression](https://github.com/rust-lang/rust-installer/commit/d12ad870e1ba71c17e262da5da2670ed015f3184) it's not possible to extr

[2019-08-21 13:15] alexcrichton commented on #1970
Hm interesting! This does indeed sort of sound like a bug in xz2-rs on s390x, although I wouldn't really know how best to track that down.

@nikita-fuchs would you be able to check out https://github.com/alexcrichton/xz2-rs on your s390x machine and run the test suite in debug/release mode? Or perhaps write a small example using `XzDecoder` to decode one of the bad tarballs?

[2019-08-21 16:04] nikita-fuchs commented on #1970
@alexcrichton I would love to do so, but my rust knowledge is near zero unfortunately, just trying to build an existing application on mainframe, but if you could give me the commands to try out what you suggested, I would do so. I'm talking to IBM about providing the community some means of access to mainframes, it's in their best interest.

[2019-08-21 16:16] tesuji commented on #1970
I believe all you want to do in this case are:
* Clone the https://github.com/alexcrichton/xz2-rs repo
* cd to that repo
* Run:
[code]
but Alex could confirm.

[2019-08-21 18:37] kinnison commented on #1969
If you wanted a mechanism to correct this behaviour for yourself, what would the ideal solution look like to you? (i.e. how would you *use* such an override?)

[2019-08-21 18:39] kinnison commented on #1967
We've not done a new release yet, so the threading is only for the close logic currently.

[2019-08-21 18:57] DoumanAsh commented on #1969
I guess ideally I'd like to be able to set `default` which would default toolchain set in rustup.

The one returned by `rustup default` and marked with suffix `(default)`

From what I can see in source code, currently it expects only channel or concrete version.
I'm not sure how well it would fit to add `default` option

[2019-08-21 20:07] pitaj commented on #1912
If I could disable my anti-virus temporarily I'm sure it would fix this issue. However, at work I am unable to disable the anti-virus program. This makes it impossible for me to use `rustup update`.

Is it possible to make it so rustup won't give up after the very first attempt at moving? Or give us an option to, instead of moving the files, try copying to destination and deleting from source inst

[2019-08-21 21:43] pitaj commented on #1912
Update: this was fixed for me by building from latest master (d62e50446bd52f7d2b5aa03577372e362741902d)

I think this issue is actually fixed by the same fix for #1870

[2019-08-22 07:57] nikita-fuchs commented on #1970
thank you @lzutao, failing at `cargo test`:
[code]
same with the other two commands.

[2019-08-22 08:19] nikita-fuchs commented on #1970
@kinnison the local rustup build unfortunately fails with the same old issue:
[code]

thank you all for your great support.

[2019-08-22 08:49] mati865 commented on #1970
@nikita-fuchs looks like you are missing git submodule.
Please run `git submodule update --init --recursive` inside `xz2-rs` and test `xz2` again.

[2019-08-22 09:16] nikita-fuchs commented on #1970
Edit: `LZMA_API_STATIC=1 cargo run --manifest-path systest/Cargo.toml` passes !
[code]
@mati865 thanks, unfortunately after this, `~/rustDebugging/xz2-rs$ cargo test` returns

[code]

same for ` --tokio`

[2019-08-22 14:48] fragsalat commented on #1525
Same here. From ubuntu subsystem for windows I want to cross compile for raspberrypi.
Cross compiling seem to not work so well yet

[code]

[code]

[2019-08-22 19:02] kinnison commented on #1525
In both of these cases you've installed a toolchain which your platform is unable to execute.

In OP's case, x86_64 WSL likely doesn't come with the i686 libc by default and thus won't be able to run it.

In the second case, if you want to cross-compile, install the toolchain for your *HOST* system, and then add the relevant target using `rustup target add`.

[2019-08-22 19:02] #1525 closed, assigned to nobody

[2019-08-22 19:02] kinnison commented on #1970
This definitely sounds like @alexcrichton and @nikita-fuchs could do with putting their heads together over xz2-rs :D

[2019-08-22 19:03] kinnison commented on #1912
Handy to know, thanks @pitaj -- I hope to get a release done soonish that will therefore solve this a bit.

[2019-08-22 19:04] kinnison commented on #1969
So you'd like rustup to recognise some special toolchain token (e.g. `default`) to mean the default toolchain which rustup would have otherwise picked, were no override present?

[2019-08-22 19:05] TheDan64 commented on #1525
Shouldn't it still provide a much more informative error message? I mean it does actually say it was installed - then you have to keep reading further to realize that isn't the case

[2019-08-23 03:25] refaelsh commented on #1912
I have the same problem. Corporate laptop with McAfee that can not be turn off. I need this release in order to start learning rust. Please hurry :-)

[2019-08-23 03:33] refaelsh commented on #1870
I have the same problem. Corporate laptop with McAfee that can not be turn off. I need this release in order to start learning rust. Please hurry :-)

[2019-08-23 05:49] alexcrichton commented on #1970
Ok thanks for the confirmation @nikita-fuchs! I've done some testing myself and was able to reproducing using qemu emulators.

I believe we [were building liblzma](https://github.com/alexcrichton/xz2-rs/commit/f01c8060310ab3456f93567cb819384c4ae4e117) incorrectly (apparently we needed to tell them it was a big-endian target) and tests are now green! I've published a new version of lzma-sys with th

[2019-08-23 07:42] kinnison commented on #1970
Wonderful news @alexcrichton thank you!

@nikita-fuchs If you can run the test-suite for xz2-rs and if that works, you can build a local rustup updated with it and check that (`cargo update -p lzma-sys` in your rustup checkout, and then rebuild and install as per the above comment).  Assuming that goes well, I can push an update to rustup's lockfile before we make our new release due soon.

[2019-08-23 07:44] kinnison commented on #1525
Rustup has no way of knowing for sure if the toolchain can run or not (e.g. on Linux, binfmt-misc means you could use qemu-user to emulate the architecture and thereby "natively" execute foreign binaries) as such it is just doing as you told it.

[2019-08-23 13:35] refaelsh commented on #1912
@pitaj Can you please share the binary you've build from the latest master? I cant install `rust` because of this issue and I cant build the latest `master` because I don't have `rust`.

[2019-08-23 14:17] refaelsh commented on #1912
Found a way: downloaded the latest `master` directly from the CI/CD server: [here](https://ci.appveyor.com/project/rust-lang-libs/rustup-rs/builds/26837583/job/rfhfce8svi7806pu/artifacts). I can now start learning `rust` :-)

[2019-08-23 21:21] DoumanAsh commented on #1969
I guess, though it does sound kinda hacky to be honest.
I just wish there would be a way to disable overrides globally, but the way it looks with current override way it is just not possible without doing some magical `default` channel

[2019-08-24 03:18] xiaoaiwhc commented on #1870
Same problem. McAfee can't be disabled on my work laptop. It's a big pain when running rustup-update every time.

[2019-08-25 04:26] iquiw commented on #1949
The problem seems to exist in Rust v1.37 on FreeBSD and NetBSD. Should I open new issue?

[2019-08-25 04:32] iquiw commented on #1949
[code]
[code]

[2019-08-25 07:37] kinnison commented on #1949
@iquiw If you want to open an issue on *rust* not here on *rustup* then sure.  This kind of component issue is not rustup's domain of concern since those platforms are not tier one and thus there's no guarantee they'll be available anyway.

[2019-08-25 07:46] #1956 closed, assigned to nobody

[2019-08-25 12:00] iquiw commented on #1949
@kinnison OK, thanks.

I have another problem about `rustup` itself. Its latest version is still 1.11.0 on NetBSD. I will open a new issue.

[2019-08-25 12:50] iquiw commented on #1594
I was going to open new issue about old `rustup` version on NetBSD, and found this issue.

I did not see the error (on NetBSD 9.99.10), but `rustup` version is still 1.11.0 on NetBSD.

[code]

Is there any point I can check?

[2019-08-25 13:02] iquiw commented on #1949
For the record, the original issue seems already reported.

https://github.com/rust-lang/rust/issues/62558

[2019-08-25 16:14] kinnison commented on #1594
NetBSD is not currently supported as a rustup release platform at all.  If you can come up with a PR which adds support to our build matrix then we can carry it for unsupported use by intrepid players such as yourself.

[2019-08-25 16:19] #1970 closed, assigned to nobody

[2019-08-26 21:36] spease opened #1974 "pinning version with rust-toolchain to stable causes redundant download"
At present, if you use rust-toolchain in a repository to denote which version of stable it's supposed to work with, it will trigger a download even if the stable channel is on the same version.

It'd be nice if cargo would automatically reuse the stable toolchain in this case, rather than downloading a second toolchain for that version.

EDIT: If this is more appropriately put in Cargo, just LMK a

[2019-08-27 09:00] mdinsmore commented on #1665
Yes a better error message would be a good interim solution perhaps pointing towards the online version of the documentation https://doc.rust-lang.org/book/#the-rust-programming-language which might help Tier 2 users feel less like second class citizens!

[2019-08-27 12:38] iquiw commented on #1594
@kinnison @alexcrichton I'm sorry for bothering you.
Just want to clarify (not complaining) about supported platform.

I thought NetBSD was supported.
NetBSD target was in `.travis.yml` before and `x86_64-unknown-netbsd` is currently listed in "Other installation methods" in README.

So NetBSD became unsupported at some point? Or it has never been supported officially?

Thank you.

[2019-08-28 12:43] brenzi opened #1975 "toolchain 'nighty' is not installed for target aarch64-linux-android"
**Problem**
I'm trying to do
[code]
I'd expect it to build.

I did
[code]

Output of `rustup --version`:
`rustup 1.18.3 (435397f48 2019-05-22)`

Output of `rustup show`:
[code]

[2019-08-28 12:48] kinnison commented on #1975
Is it simply that you've typo'd `nightly` as `nighty` ?

[2019-08-28 15:24] brenzi commented on #1975
holy moly, I should've put my glasses ;-)

[2019-08-28 15:24] #1975 closed, assigned to nobody

[2019-08-29 07:29] kinnison commented on #1974
This is an interesting idea.  Entirely riffing with no reference to the code right now, I'd say that we'd need a way to know what an aliased toolchain's "definitive" name is.  i.e. if I have 'stable' right now, and I'm asked for 'stable-YYYY-MM-DD' or 'stable-V.VV.VV' or similar, then can I determine quickly if the former *is* the latter?  Also, if later that channel is updated, I need to know it'

[2019-08-29 07:29] kinnison commented on #1665
@mdinsmore An interesting idea.  Could you open a fresh issue describing the situation you're in, and a proposal for how to alter `rustup doc` to support it?

[2019-08-29 07:31] kinnison commented on #1594
I think it was never properly supported, but at one point we managed to do a build.  I guess we need to either clean up README to not mislead people into thinking it's releasable; or, more usefully, we need to sort out a fresh builder for it.  If you fancy having a go at updating our `.travis.yml` to support netbsd once more, then I'd be pleased to look at the resulting PR.

[2019-08-29 12:29] iquiw commented on #1594
Thank you for the reply!!
I see the situation.

I am trying to setup Travis CI build for NetBSD target (based on `stable` branch). But it failed at linking phase.
https://travis-ci.org/iquiw/rustup.rs/jobs/577379337

I am afraid it is beyond my knowledge. I will continue to investigate it though.

[2019-09-02 17:28] esbgo97 commented on #1912
Hello, I fix it by deactivating the antivirus while it is installed.

[2019-09-02 17:49] refaelsh commented on #1912
@esbgo97, most corporate laptops do not allow turning off the Antivirus.

[2019-09-03 00:41] tesuji commented on #1900
Also see #995

[2019-09-03 17:32] kirillt commented on #1243
Got similar error on CentOS 7:

info: caused by: could not download file from 'https://static.rust-lang.org/dist/2019-08-15/rust-> std-1.37.0-x86_64-unknown-linux-gnu.tar.xz' to '/home/kirill/.rustup/downloads/f8090dbd8a2dda674f8832f7999758b248028453465bf83f797569e28065fdbc.partial'

Downloading https://static.rust-lang.org/dist/2019-08-15/rust-std-1.37.0-x86_64-unknown-linux-gnu.tar.xz with `wget

[2019-09-03 18:51] kinnison commented on #1243
We have worked on retrying/fixing partial downloads in the past. Perhaps there's more we can do.  I don't suppose you have any more information about the partial file you removed, such as whether or not it was actually complete?

[2019-09-03 18:59] kirillt commented on #1243
Sorry, I should have preserve it, but no..

[2019-09-04 10:06] TimDiekmann opened #1981 "x86_64-unknown-linux-musl rustup-init links to dead page"
**Problem**
Downloading `rustup-init` for `x86_64-unknown-linux-musl` results in a [dead link](https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-musl/rustup-init).

**Steps**
1. Go to [rustup.rs](https://rustup.rs/)
2. click on [other installation options](https://github.com/rust-lang/rustup.rs/#other-installation-methods)
3. Try to download [x86_64-unknown-linux-musl](https://static.r

[2019-09-04 12:33] nikita-fuchs commented on #1970
Hey, sorry for coming back late, needed to be abroad.

@kinnison I hope I did everything correct, but after reinstalling rustup and running
`rustup toolchain install nightly` I'm getting the same old lzma data error.

[2019-09-04 12:37] tesuji commented on #1981
`x86_64-unknown-linux-musl` build file was merged recently but it is not released yet.
But @kinnison will cut a release soon, I believe.

[2019-09-04 12:42] kinnison commented on #1970
Did you build that rustup from master?  The change was merged but not yet released.

[2019-09-04 12:44] kinnison commented on #1981
@TimDiekmann the MUSL release is not yet official I think.  That link is, irritatingly, a little over-eager :-D

As @lzutao says, I hope to cut a release soon, so it ought to be fixed then.

[2019-09-04 12:44] kinnison commented on #1981
Assigned to myself so I remember to update after the release

[2019-09-04 12:45] kinnison commented on #1243
If it happens again, please preserve it so that we can try and work out what's going on.

[2019-09-04 12:50] nikita-fuchs commented on #1970
Almost thought I needed to ;)
So building from master (simply `cargo build` is the way to go, right?) returned:
[code]

[2019-09-04 12:52] tesuji commented on #1970
You need `cargo build --release --features vendored-openssl` or you will want to install libssl-dev.

[2019-09-04 13:18] nikita-fuchs commented on #1970
the building succeeded, how do I install from it ?

[2019-09-04 13:51] tesuji commented on #1970
Just copy it to `~/.cargo/bin/rustup`.

[2019-09-04 14:07] nikita-fuchs commented on #1970
Sorry for failing with basic things, but where does the build churn out the `rustup` to copy over to `~/.cargo/bin/rustup` ?

[2019-09-04 14:09] tesuji commented on #1970
Sorry, I should make it clearer. There is `rustup-init` file in `target/release` directory.

[2019-09-04 14:14] mati865 commented on #1970
Another option is to run `cargo install --path . -f` inside `rustup` clone.

[2019-09-04 14:25] kinnison commented on #1970
@nikita-fuchs The easiest way is, assuming you built in debug mode, to run `target/debug/rustup-init --no-modify-path -y` which will install rustup over the top of your current installation.  Swap `debug` for `release` if you built in release mode.

You should then remember to always pass `--no-self-update` to any `rustup install` or `rustup update` you run, otherwise it will "update" itself back

[2019-09-04 15:04] nikita-fuchs commented on #1970
Thanks everybody - @kinnison with the built release I get this when installing the nightly:
[code]

And it's not the disc:
[code]

[2019-09-04 15:10] kinnison commented on #1970
Oh fascinating -- we have a check in Rustup that ensures that the unpacked files don't appear bogus -- assuming any given file won't be larger than 100 megs.

I'mma file a bug now.

[2019-09-04 15:11] mati865 commented on #1970
@kinnison this check is 95.37 MiB BTW :grin:

[2019-09-04 15:13] kinnison opened #1982 "New nightlies are at risk of tripping `File too big`"
As seen in https://github.com/rust-lang/rustup.rs/issues/1970#issuecomment-527942840 we are now generating nightlies which have 170M rlibs in.

Our multithreaded unpacker assumes each thread won't deal with files > 100M and thus limits its RAM usage by number of threads.  We now seem to have files much larger than that and so we might need to up the limit at https://github.com/rust-lang/rustup.rs/

[2019-09-04 15:35] kinnison commented on #1970
@nikita-fuchs If you change the line pointed to in #1982 to something like `200_000_000` then you can test your install.

[2019-09-04 20:26] nikita-fuchs commented on #1970
@kinnison I tried, but for some strange reason I cannot build at all anymore:

[code]
gives me:
[code]

cargo is on v 1.36 if that matters somehow.

[2019-09-05 07:31] kinnison commented on #1970
Oh dear, I have a feeling you might need v1.37 since we're moving forward with clippy lint updates as we go.  Give me a bit and I'll see if I can sort out a cross-build for you.

[2019-09-05 07:57] kinnison commented on #1970
@nikita-fuchs I obviously can't vouch for it since I just cross-built it, but...

[rustup-init-s390x.zip](https://github.com/rust-lang/rustup.rs/files/3578101/rustup-init-s390x.zip)

Give that a go?

[2019-09-05 08:34] nikita-fuchs commented on #1970
I can't believe it:

- The 1.37 build worked
- Building rustup from master worked
- Installing the nightly worked

🥳

What can be done to support you supporting s390x better? I'll talk with some guys at IBM again to provide some access to mainframes, all their wishing for longterm support of their architecture will remain unheard as long maintainers don't have access to their machines..

[2019-09-05 08:40] kinnison commented on #1970
From our perspective, all we can do is run builds and tests on things which integrate with github PRs etc.  We use Travis and Appveyor for now, and may switch to Azure pipelines in the future.  If you know of an s390x capable service which binds to github and which we could use to actually build and run tests on s390x then I'd be interested.  if you do, please open an issue to add support for that

[2019-09-05 14:35] #1982 closed, assigned to kinnison

[2019-09-07 19:06] ghost commented on #1568
I'm new to rust and I'm downloading rustup-init.exe for the first time. While we wait for this issue to get fixed, I would recommend please at least publish a SHA256 or SHA512 hash of the file on the website that we can verify. `certutil.exe -hashfile rustup-init.exe sha256`  You might also consider using gpg to provide some kind of signature, Windows users should have a gpg binary as part of the

[2019-09-08 07:37] kinnison commented on #1568
@rtrusso Next to each binary of `rustup-init` there is an associated SHA256 checksum available.  This is the same URL, with `.sha256` added and is used by `rustup` to validate downloads when it makes them too.  Eventually we will be adding support for PGP signature verification but we'll be doing it in-process with Sequoia-PGP.

[2019-09-09 09:55] kinnison opened #1984 "Panic because `supplied instant is later than self` during download."
While testing the release of 1.19.0 we had an unreproducible instance of the download of a component panicing because `supplied instant is later than self`

Since we don't use `Instant` anywhere in our code, this must be in a dependency, but until we get a traceback we can't do much about it.  This is therefore here to track.

If you can reproduce it, please comment below with a traceback.

[2019-09-09 10:21] xjxty20140321 opened #1985 "how to install 1.35 version cargo"
how to install  1.35 version cargo

[2019-09-09 10:26] xjxty20140321 commented on #1985
After installation by method "curl https://sh.rustup.rs -sSf | sh", the cargo version is 1.37.How can I install 1.35 cargo

[2019-09-09 10:42] RReverser commented on #1912
I keep having the same lately on corporate Windows 10. There is no 3rd-party antivirus though, just built-in Windows Defender.

[2019-09-09 11:00] RReverser commented on #1912
Yay, I can confirm that nuking `.rustup` folder and re-installing using the latest build from CI worked.

[2019-09-09 11:23] vnermolaev commented on #1912
Unfortunately it does not work for me, I am still getting the following
[code]
I have a corporate with McAfee enabled, and this is preposterous that docs are blocked from being moved (hey, if it was a virus, it would already have infected my computer).

[2019-09-09 11:49] LatteAno commented on #1870
Same here. Is there some W/A to try, until there is a fix?

Here's my output:

[code]

[2019-09-09 13:38] kinnison commented on #1985
If you want rust 1.35 then you can `rustup install 1.35.0` and that will give you an installation of that toolchain.  You can then do `cargo +1.35.0 build` or similar.

[2019-09-09 13:38] #1985 closed, assigned to nobody

[2019-09-09 13:39] kinnison commented on #1912
It is a big pain, I agree.  McAfee is among the worst offenders :(

[2019-09-09 13:40] kinnison commented on #1870
The latest release should be a bit better, but if McAfee is really being a pain, there's not a lot we can do short-term.

[2019-09-09 14:10] Geobert commented on #1870
try the build from this comment above: https://github.com/rust-lang/rustup.rs/issues/1870#issuecomment-495840454

[2019-09-09 14:12] emilyalbini opened #1986 "Add a Content Security Policy to rustup.rs"
To get an A+ score on [the Mozilla Observatory](https://observatory.mozilla.org/analyze/rustup.rs?third-party=false) we need to add a Content Security Policy to the website.

[2019-09-09 14:34] LatteAno commented on #1870
@Geobert and @rbtcollins - [this build](https://github.com/rust-lang/rustup.rs/issues/1870#issuecomment-495840454) doesn't seem to work:

[code]

[2019-09-09 14:43] emilyalbini opened #1987 "Preload HSTS for rustup.rs"
HSTS is not enabled for first-time visitors: https://hstspreload.org/?domain=rustup.rs

_Originally posted by @Darkspirit in https://github.com/rust-lang/rustup.rs/issues/180#issuecomment-529508786_

[2019-09-09 15:08] #1981 closed, assigned to kinnison

[2019-09-09 15:09] TimDiekmann commented on #1981
Seems to work now with the new release, thanks!

[2019-09-09 16:43] pitaj commented on #1912
If it says "retry renaming" instead of failing then the fix is working.

[2019-09-09 23:55] BeniCheni commented on #1479
Friendly note that I’ve tried #1988 for this issue. Looking forward to review feedback. Thanks.

[2019-09-10 07:58] xjxty20140321 commented on #1985
problem was solved ,Thank you for answering my question.

[2019-09-10 13:39] nabijaczleweli opened #1989 "Downloaded rustup-init traps"
**Problem**
When running `rustup-init.sh`, the script downloads `rustup-init`, then traps on execution

![Screen shot](https://user-images.githubusercontent.com/6709544/64618203-192c9d00-d3e0-11e9-9e96-b0086d9c82fd.png)

**Steps**

1. Download the script from `http://sh.rustup.rs/` to `rustup-init.sh`
2. `chmod +x rustup-init.sh`
3. `./rustup-init.sh`

**Possible Solution(s)**

**Notes**

The scri

[2019-09-10 13:42] norru commented on #1912
To me it says "retry renaming" for a while **and then it fails** on ```rustup 1.19.0 (2af131cf9 2019-09-08)```, Windows 10.

[code]

Corporate McAfee enabled, cannot disable.

Issue is not restricted to fresh install. I did a ```rustup update``` before nuking `.rustup` and got the same error.

[2019-09-10 14:01] kinnison commented on #1912
I fear McAfee is being sufficiently awful that there's little we can do right now.  Can your company IT add a folder exception for rust toolchains?

[2019-09-10 14:02] norru commented on #1912
@kinnison, no they would not allow whole folder exceptions. I can specify single files though. I will ask anyway but the chances to get an exception are virtually zero (got this problem for other software too, exception was denied, and the workarounds we found were absolutely terrible).

[2019-09-10 14:04] kinnison commented on #1989
That is quite an old laptop (2002 era CPU) and I fear it's possible that Rust expects newer CPU features than that can provide.  I'm not sure where there'd be a list of what features Rust compilers expect these days when we target 'i686' but I do know that the binary works on newer CPUs in 32bit mode, so I don't think it's a corrupt binary.

Were you able to run rust binaries before on that system

[2019-09-10 14:10] kinnison commented on #1912
@norru If they would be prepared to add `rustup` to the low-risk program group then it might allow rustup to install toolchains more effectively.  The content would then be scanned on first use, rather than on-install.  This shouldn't increase the risk to your computer but would allow Rust to install.  If corporate IT is not prepared to do this, then I'm not sure there's a lot I can do to help sin

[2019-09-10 14:12] norru commented on #1912
This is kind of a big deal - imagine all users which use Rust within a large corporation with strict IT. I can image the sensible business case for the IT department would be to forbid users from using Rust and stick to C++/Visual Studio instead.

[2019-09-10 14:12] norru commented on #1912
@kinnison I'll quote your solution to the IT team, thanks!

[2019-09-10 14:18] shepmaster commented on #1989
@nabijaczleweli are you able to run the current version of Firefox on that machine? That might be a good test for whether it's possible to target that CPU at all.

[2019-09-10 15:31] pitaj commented on #1912
It might be possible to get around this restriction by doing copies instead of moves, and later deleting the source. This would temporarily use more disk space but I think it's better than not being able to use rust.

[2019-09-10 15:47] norru commented on #1912
@Pitaj @Kinnison That was also my thought - it'll be slower too. Perhaps there should be a ```--retain-temp``` flag.

[2019-09-10 17:16] nabijaczleweli commented on #1989
I compiled and built a crate on a VM with the same disk image as the laptop, yielding this:
![http trap](https://user-images.githubusercontent.com/6709544/64635005-e9d95880-d3fe-11e9-96ea-a2e72a6a4c8b.png)

Running `firefox/firefox` from the "firefox-69.0.tar.bz2" file I obtained after clicking the "Linux 32-bit" link on the download page:
![firefox abort](https://user-images.githubusercontent.com

[2019-09-10 17:26] nabijaczleweli commented on #1989
Also here's the `lscpu` output for reference:
![lscpu](https://user-images.githubusercontent.com/6709544/64635915-ed6ddf00-d400-11e9-8877-822bfc35984a.png)

[2019-09-11 07:37] kinnison commented on #1912
The `retry` logic is around a permissions error which might mean that we'd end up needing retries around the later delete instead which could equally well fail if your AV is being particularly recalcitrant.  I'd much rather see if someone with McAfee and Windows experience could lend us some knowledge on how to behave such that the AV works nicely with us, instead of fighting us.

[2019-09-11 07:39] kinnison commented on #1989
I imagine that at least some of our sub-crates might expect SSE2 to be available.  Regular expressions might use those instructions; ditto anything to do with SSL.  I'm not convinced we could usefully build `rustup` for such an old CPU; but if you can find a way, I'd be happy to help you with any rustup-specific issues.

[2019-09-11 07:50] norru commented on #1912
Who says you have to keep retrying?

I'd rather have a solution which doesn't require waiting for a week for the IT department to evaluate whether using Rust deserves maintenance in the exception list, with the risk of that also being denied because business.

I'd be rather happy if the temp  files created by `rustup` were optionally not deleted at all (can delete manually afterwards).

[2019-09-11 08:03] kinnison commented on #1912
That would be quite a big change to how rustup behaves, requiring entirely different transaction handling on Windows-with-crappy-AV, Windows-with-non-crappy-AV, and non-Windows platforms.  I'm not averse to such a change, but we'd need to see that it really was the only way to cope with the differences, otherwise it's three different sets of code to maintain for a team who mostly only uses the thi

[2019-09-11 08:45] norru commented on #1912
Unfortunately, on "non third form of systems", nasty corporate AVs are the norm while Rust isn't, so if asked to take sides, aforementioned corporations will choose the former. Not that I personally agree with that, being a non-Windows platform advocate myself.

On another note, it only started yesterday for me. I had both rustup and McAfee co-existing for ages before, with no problem. Has anythin

[2019-09-11 08:51] kinnison commented on #1912
We've been improving the performance of rustup's IO because it used to be execrable on Windows and on high-latency non-Windows platforms.  We might simply be too fast for McAfee these days, and previously we were slow enough that you never saw it misbehaving.  I guess we could look at offering a `--slow-io` option or somesuch if you think that might help.

[2019-09-11 09:27] omang777 commented on #1818
I like this.

[2019-09-11 10:09] RReverser commented on #1912
I think just releasing the version that is already on CI is good enough. Retry logic seems to work around this issue perfectly, while keeping the high speed for most files.

Later, when rust-docs component becomes optional, we can just omit it from installation (since the problem occurs only in its folder due to lots of small files).

[2019-09-11 10:24] kinnison commented on #1912
We released this on Monday.  The comments have come *since* then.

Mmm, We're close to merging that feature too :D

[2019-09-11 12:08] hasanAjsf opened #1992 "Error Reading Rustc Version at Mac"
In My MacBook Air 2017, MacOS Mojave, I got the mentioned error whie trying setting the default toolchain to `stable-armv7-unknown-linux-gnueabihf` knowing that I already have the `HOST` toolchain installed as below:

[code]

[code]

[2019-09-11 12:51] kinnison commented on #1992
Hi @hajsf

You almost certainly didn't mean to do what you just did.  Rust toolchains are implicitly cross-compilation capable, so rather than installing the armv7 toolchain (which is a toolchain to run *ON* armv7) you probably meant to install the armv7 target into your native toolchain.

Try the following:

[code]

It's distinctly likely you'll need additional cross-compilation tools such as an

[2019-09-11 14:30] norru commented on #1912
I've tried the version on CI and it doesn't solve the problem. It only delays the failure to after many retries.

[2019-09-11 14:40] petrochenkov commented on #1912
Is there any workaround?
I have a bunch of people with corporate laptops with McAfee who'll need to to install Rust tomorrow for a class, and installation simply doesn't work. Ta-da.

(Running as admin doesn't work.)

UPDATE: Worked around using https://github.com/rust-lang/rustup.rs/issues/1912#issuecomment-530425094.

[2019-09-11 15:09] kinnison commented on #1912
You could try a much older rustup, e.g. 1.17.0 from https://static.rust-lang.org/rustup/archive/1.17.0/x86_64-pc-windows-msvc/rustup-init.exe  though you will need to ensure you pass `--no-self-update` otherwise it'll end up upgrading itself

[2019-09-11 15:30] kinnison commented on #1912
In addition, you could try setting `RUSTUP_IO_THREADS=disabled` in the environment and see if it behaves with that.

[2019-09-11 17:20] norru commented on #1912
`RUSTUP_IO_THREADS=disabled` did the trick for me, many thanks! Guess it makes it slower but hey! :)

UPDATE: the trick works for `rustup install` but not `rustup update`. The workaround is to `rustup uninstall` followed by `rustup install` rather than `rustup update` for a given toolchain.

[2019-09-11 21:12] hasanAjsf commented on #1992
Thanks,
Considering reminding about the linker, I struggled with `gnueabihf` and worked with `musleabihf` instead, and things are fine now, as bellow:

[code]

In `.cargo/config`
[code]

With simple `src/main.rs`
[code]

Then things are fine:
[code]

[2019-09-11 21:12] #1992 closed, assigned to nobody

[2019-09-12 07:31] kinnison commented on #1912
Interesting, so disabling threaded install works for you; but I know it doesn't work for another person experiencing problems with McAfee -- Do you have an SSD in your system, and how much CPU do you have?  I wonder if this is an IO speed vs. CPU speed thing.

[2019-09-12 09:20] norru commented on #1912
It's an i7-3930K workstation with a few Crucial CT960 SSD and 32GB of RAM - not cutting edge but not a total wreck either ;). I have seen a similar behaviour from McAfee interacting with other applications on a much more powerful workstation. I think if an application creates a large number of files in a very short time, McAfee can't keep up so it locks them and chucks them in a queue. If the appl

[2019-09-12 15:08] norru commented on #1912
FYI, I got an exception approved, as suggested by @kinnison, and it solves the problem, thanks!

[2019-09-12 17:32] ehuss commented on #1821
I'm not sure, but it seems to be an issue with how rustup is creating a completion file using `source`.  If I copy the actual source into `~/.zfunc/` and run `compinit -D`, it seems to work fine.

[2019-09-12 22:18] rbtcollins commented on #1912
So, basically here mcafee is going to make us wait this time period always. The optimal thing to do will require some thought. disabling IO threads is working because its just slow; increasing the retry backoff by 2 steps would be a good thing to try. I don't recall if I made that environment controlled or not.

[2019-09-13 08:43] thedrow opened #1993 "Removing previous version of component message does not appear when updating"
**Problem**

#1283 introduced a new message that is printed to the screen whenever we replace a component with a new one.

However, when running `rustup update` the `info: removing component` message still appears instead of `info: removing old component`.

Strangely enough, the [relevant tests pass](https://github.com/rust-lang/rustup.rs/pull/1639/files#diff-5bc536e3b333bb85e5fb398d8c29ec63R52).

[2019-09-13 14:00] 1600 commented on #1568
@kinnison can you please show us URL for the .sha256 checksum file of rustup-init.exe?

[2019-09-13 14:33] kinnison commented on #1568
Sure, the URLs are of the form:

`https://static.rust-lang.org/rustup/archive/$VERSION/$TRIPLET/rustup-init$EXE$SUFFIX`

Where `$VERSION` is something like `1.19.0` and `$TRIPLET` is `x86_64-pc-windows-msvc` and `$EXE` is `.exe` and `$SUFFIX` is empty for the binary itself, and `.sha256` for the shasum.

For the current release, for `x86_64-pc-windows-msvc` that would therefore be:

https://static

[2019-09-14 18:22] cdhunt opened #1994 "Target rustup-init.exe to run on Microsoft Nano Server"
**Describe the problem you are trying to solve**

I'm trying to build a Windows-based build container for Rust-lang. Initially, I tried to run `rustup-init.exe` in a Nano Server 1903 container and the process immediately dies. The verbose flag doesn't provide any extra information. The exit code is `-1073741515`.

This works fine in a Windows Server Core 1903 container, but the Nano image is 400MB

[2019-09-15 06:04] iquiw commented on #1594
`rustup` on NetBSD  is the latest now!!
[code]

@lambda Please try it if possible.

[2019-09-15 13:26] burjui commented on #1821
@ehuss I didn't even know about the completion dump file and that `_cargo` that `rustup` produces does contain the actual completions, just `source`ing them instead. Indeed, copying the sourced file instead works.

Why doesn't `source`work though? It is supposed to be the equivalent of copying the contents of the sourced file into the script. Then it hit me: the actual completion file contains the

[2019-09-16 14:36] kinnison commented on #1912
It's not (currently) environment controllable, though I (or you) could add that fairly easily.

[2019-09-16 14:38] kinnison commented on #1993
I agree that this is irritating, If anyone wants to work on this, I'd be happy to mentor either via this issue or on our Discord.  If you want to take on the work, please ensure you state such on this issue so that others don't also try and take it on.

[2019-09-16 14:41] kinnison commented on #1994
At a guess, nano might be lacking the VC++ redist stuff though I appreciate I'm not a Windows person so can't be certain.

[2019-09-16 14:41] kinnison commented on #1594
If this is no good for @lambda then this can be re-opened.  For now, I'm going to close it.

[2019-09-16 14:41] #1594 closed, assigned to nobody

[2019-09-16 14:43] kinnison commented on #1821
If anyone here can confirm the work on #1995 then I'd appreciate it.

[2019-09-16 14:52] #1986 closed, assigned to emilyalbini

[2019-09-16 17:43] jonhoo commented on #1628
I just submitted https://github.com/rust-lang/rustup.rs/pull/1997, which adds this feature.

[2019-09-16 18:23] cdhunt commented on #1994
I copied in `vcruntime140.dll` and `msvcp140.dll` into the image and still no go. I'm also just throwing stuff against the wall to see if it sticks.

[2019-09-16 20:42] RalfJung commented on #1542
So "corporate" is a synonym for "MITM that breaks security"? Wow, and I thought *I* was cynical. ;)

On a more serious note, the title could need some clarification that this is about proxies that do actively work against security best practices.

[2019-09-16 22:15] jonhoo commented on #1501
@najamelan that will be the behavior with https://github.com/rust-lang/rustup.rs/pull/1997 :)

[2019-09-16 22:15] jonhoo commented on #1676
The underlying issue you're experiencing should be fixed by https://github.com/rust-lang/rustup.rs/pull/1997 :)

[2019-09-17 13:30] #1479 closed, assigned to nobody

[2019-09-17 16:05] #1628 closed, assigned to nobody

[2019-09-17 16:46] drager opened #1999 "Could not update stable from 1.26 to 1.37"
**Problem**
Running `rustup update` fails with the following error:

[code]

**Steps**
1. Run `rustup update`

**Notes**
OS: Ubuntu 18.04
Output of `rustup --version`: `rustup 1.19.0 (2af131cf9 2019-09-08)`
Output of `rustup show`:

Default host: x86_64-unknown-linux-gnu
rustup home:  /home/drager/.rustup

installed toolchains
--------------------

stable-x86_64-unknown-linux-gnu (default)
beta-x8

[2019-09-17 16:57] mati865 commented on #1994
https://win.rustup.rs/ points to 32 bit executable but Nano can only run 64 bit binaries.
You can try using this: https://win.rustup.rs/x86_64

[2019-09-17 17:26] cdhunt commented on #1994
That executable does produce different results.

[code]

[2019-09-17 18:05] mati865 commented on #1994
I don't know how `rustup` Windows code works so I cannot help further but at least it got to the part where `rustup` is executed.

[2019-09-17 18:17] cdhunt commented on #1994
I recall someone working on a PowerShell version of `rustup-init`, but can't find it now.

[2019-09-17 18:40] kinnison commented on #1999
I have attempted to replicate this and failed.  This leads me to believe this is an instance of rustup losing some or all of the component file manifests for the old version.  Removing the toolchain and reinstalling the channel will solve this, though it's not ideal.

[2019-09-17 18:40] #1999 closed, assigned to nobody

[2019-09-17 18:42] kinnison commented on #1994
The incomplete `rustup-init.ps1` work is in #1878

[2019-09-17 18:45] cdhunt commented on #1994
Thanks, @kinnison. I even commented on that. Not sure why I couldn't find it. I'll take a look at that again.

[2019-09-17 21:02] jsen- opened #2000 "rustup reports unknown version"
based on [call for testing](https://www.reddit.com/r/rust/comments/d5kxr6/rustup_needs_your_help_testing_a_new_feature_part/)
[code]

[2019-09-17 21:36] jsen- commented on #2000
Sorry, my fault, this was caused by `--depth=1` during git clone.
Feel free to close.

[2019-09-18 04:30] drager commented on #1999
Yeah, removed the channel and added it again worked. Thanks!

[2019-09-18 05:52] DanSnow opened #2001 "rustup should also skip the day which is no release when updating nightly"
**Problem**
I'm using version `rustup 1.19.0+16 (279e802a0 2019-09-17)`.
With `clippy` installed,  `rustup update nightly` should do backtrace and found a viable version at `2019-09-13`.  But as showing in [`componets history`](https://rust-lang.github.io/rustup-components-history/), there is no release at `2019-09-17`. Then `rustup` fail with  `componet unavailable`.

![image](https://user-images

[2019-09-18 06:24] kinnison commented on #2000
Correct, `rustup` consumes the git history during build in order to report version information.  Shallow clones of this little context will not work to report a useful version number, sorry.

[2019-09-18 06:24] #2000 closed, assigned to nobody

[2019-09-18 06:25] kinnison commented on #2001
Hmm, we *thought* this would be coped with but clearly it's not.  @jonhoo Do you think, given we have a recent nightly which is missing, that you can solve this?

[2019-09-18 09:33] twhiteheadzm commented on #1367
Is it possible to include in the error message something helpful or even better, an automatic fix, as this is an issue anyone trying to run rustup update in vs code is likely to experience.

[2019-09-18 09:44] danielsilverstone-ct commented on #1367
There isn't a lot we can do to fix it without introducing other issues instead due to the limitations in Windows.  It's possible we could construct a more informative error context though.

[2019-09-18 12:30] jonhoo commented on #2001
Good catch! Fixed in https://github.com/rust-lang/rustup.rs/pull/2002

[2019-09-18 15:18] gidjituser opened #2003 "Add support for aarch64-unknown-linux-musl (alpine armv8)"
Cannot install rust on an arm based alpine linux distribution. In my case armv8 (64-bit). musl is only supported on x86.

It would be great to support the platform aarch64-unknown-linux-musl

[2019-09-18 17:55] #2001 closed, assigned to nobody

[2019-09-19 11:56] kinnison commented on #2003
This looks like it ought to be possible, based on the platform support list.  I guess someone needs to work out the right docker bits.  Should be an easy contribution if you want to give it a go.  I'm willing to help if someone shows up on our Discord too.

[2019-09-19 12:12] kinnison opened #2004 "Support selecting a profile at toolchain installation time"
From time to time, people may want to override their default toolchain profile when installing a new one.

For example, I may set my toolchain profile default as `minimal` so that auto-installed toolchains from `rust-toolchain` files are as small as possible; but then I might want to explicitly install a toolchain as `complete`.  Currently this would involve setting the profile, installing the too

[2019-09-19 12:15] kinnison opened #2005 "Support selecting additional components (and targets) at install time"
When installing a toolchain, it might be nice to select additional components to install such that they will be immediately available.

For example, editors might auto-install toolchains if needed, and request `rls` `rust-analyzer` `rust-src` etc. without having to override the chosen profile from the user.

In addition, if you know you're going to need a particular target, it'd be nice to preinst

[2019-09-19 18:34] SoniEx2 opened #2006 "BitTorrent support"
**Describe the problem you are trying to solve**

Bandwidth is expensive and rustup can't saturate my links. I'd like to see BitTorrent support to be able to take full advantage of my links.

**Describe the solution you'd like**

BitTorrent makes everything cheaper and better.

**Notes**

[2019-09-20 07:23] kinnison commented on #2006
Thank you for your suggestion.  This was raised as part of #1798 so please take further discussion of bittorrent as a distribution mechanism to there.

[2019-09-20 07:23] #2006 closed, assigned to nobody

[2019-09-20 16:21] gidjituser commented on #2003
Thanks. I am pretty new to rust, however I will try and give it a stab.

I am currently using latest docker edge for the platform capability.

[code]

[code]

rustup-init.sh fails in get_bitness() as `head -c 5 /proc/self/exe` errors with Bad descriptor. Might need an alternative to getting bitness (32 or 64 bit) without dependencies.

[2019-09-21 08:52] dallenng opened #2007 "Missing components for channel stable"
**Problem**

I switched to rustup git to test the profile feature and already had stable and nightly toolchains. I removed both toolchains, then set profile to complete and when I try to install stable toolchain I get this error:
[code]

**Steps**

1. Install rustup from git
2. Uninstall stable toolchain
3. Set profile to complete
4. Install stable toolchain

**Possible Solution(s)**

I think the

[2019-09-21 12:00] coolshaurya opened #2008 "Default browser not used in rustup doc on linux"
**Problem**

The `rustup doc` command opens the documentation in the chromium browser by default but I want it to open up in the system default browser which is firefox. Also, with chromium uninstalled, it uses firefox developer edition.

**Possible Solution(s)**

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]
I am on Manjaro Linux with Firefox, Firefox Developer E

[2019-09-23 08:44] mati865 commented on #2003
There is no possibility to do it right now because `aarch64-unknown-linux-musl` is target only (does not provide `cargo` and `rustc`) because Rust does *not* have enough CI budget.

[2019-09-23 09:09] kinnison commented on #2007
The profile content is supplied by the channel manifest.  This is set in https://github.com/rust-lang/rust/blob/528379121ceb5fca5382b4337be7ac064890ec8c/src/tools/build-manifest/src/main.rs#L414 which looks like it probably has always been a static selection.  Sadly I fear not everything in that collection may be appropriate for all channels at all times.

[2019-09-23 09:12] kinnison commented on #2007
That code appears to have originated in this commit: https://github.com/rust-lang/rust/commit/4103e5b34bcd5fff13afe79494d6955d7996c804 which means @nrc was at least originally responsible for the component choice there.  We may need to consider if regenerating old manifests to clean up profiles will become worthwhile.

[2019-09-23 09:15] kinnison commented on #2008
Hi, thanks for your report.

In `rustup` we use the [opener](https://crates.io/crates/opener) crate to launch the HTML files, ultimately using `opener::open()`.  Perhaps @Seeker14491 might be able to shed light on what's happening here?

[2019-09-23 09:16] kinnison commented on #2003
So it is :(  I shall remove the easy/mentor tags for now, thanks @mati865

[2019-09-23 15:04] PeterBadzhakov opened #2010 "error: 'cargo' is not installed for the toolchain 'stable-x86_64-unknown-linux-gnu'"
Problem:
    Cargo is unusable. Cannot build Mozilla Firefox or GNU IceCat - 'cargo --version --verbose' is part of the build process and fails.
    $ rustup component add cargo
component 'cargo' for target 'x86_64-unknown-linux-gnu' was automatically added because it is required for toolchain 'stable-x86_64-unknown-linux-gnu'
    Cargo still fails.

Reproduce:
1. $ curl https://sh.rustup.rs -sSf

[2019-09-23 15:50] PeterBadzhakov commented on #2010
Solution found:
$ rustup uninstall stable
$ rustup install stable
Then reboot your PC or shell.

[2019-09-23 15:50] #2010 closed, assigned to nobody

[2019-09-23 19:04] gidjituser commented on #2003
Thanks for the updates. Currently rust arm64 docker images are quite large. Cannot use alpine or build static as that requires musl. Hopefully this will get in the pipeline at some point.

[2019-09-23 21:47] BeniCheni commented on #1993
Friendly note that I'm interested in looking into this issue. Just joined Discord.

Gone through the details in this issue & its related previous issue & PR to get started. Will ask in #wg-rustup channel, if any further question.

[2019-09-23 22:16] MeFisto94 commented on #1912
I am not having McAfee but I am experiencing this problem. I'm on Windows 10 though, so it could be caused by the Windows Defender

[2019-09-23 23:33] Seeker14491 commented on #2008
On Linux `opener::open()` simply executes the `xdg-open` script, passing the link as an argument. It doesn't use the system `xdg-open` though; it uses its own embedded version (v1.1.3).

@coolshaurya what desktop environment are you using? Also, please check if the system `xdg-open` works as you expect by opening an html document like `xdg-open some_doc.html`.

[2019-09-24 02:10] rbtcollins commented on #1912
Please paste exactly the output you receive. Do you have any
anti-virus or antimalware software installed? If so what is it called?
Ideally you would also get a trace of filesystem activity in ~/.rustup
during the rustup installation as that will inform us of the conflict.

[2019-09-24 15:21] jethrogb commented on #1568
Autograph now has direct support for PKCS v1.5 signing, I updated my status comment above accordingly.

[2019-09-25 08:47] tesuji commented on #1782
Closed by #2009.

[2019-09-25 08:47] #1782 closed, assigned to nobody

[2019-09-26 03:22] nrc commented on #2007
The complete profile just uses everything available. A stop-gap solution might be to limit complete profile to nightly.

[2019-09-26 05:47] kinnison commented on #2007
Is the `complete` profile likely to ever work on nightly more than in the few days leading up to a beta ?  If not, it might make more sense to choose a subset, or else when generating a *stable* manifest, make sure we filter the profiles based on at least one platform actually having the stuff available?

[2019-09-26 20:45] iranvir opened #2017 "Should `$HOME/.cargo/bin` be appended or prepended to `PATH`?"
**NOTE** This issue was reframed by @Kinnison after discussion.

We have reached the point that this needs further input from others.  The contention of the original issue was that by prepending to the `PATH` we end up surprising inexperienced users who go ahead and `cargo install` something which conflicts with something on their system such as `date` or `ls`.  The contention of @Kinnison is that

[2019-09-27 06:26] kinnison commented on #2017
Right now, this is deliberate because it puts `rustup` and its associated proxies before any system installed cargo etc, making the user's experience more consistent with the majority of documentation out there (e.g. `cargo +nightly run` etc).  In addition since you can link a system supplied toolchain to a user-installed rustup, but not the other way around, it makes most sense for rustup to put

[2019-09-27 12:35] jonhoo commented on #2005
Note to self to re-enable `clippy` in https://github.com/crate-ci/azure-pipelines/pull/59 once this lands.

[2019-09-27 16:45] #1993 closed, assigned to nobody

[2019-09-27 23:19] iranvir commented on #2017
I guess it makes sense from the strictest UNIX philosophy sense. Where the user knows what he/she is doing and can override the PATH variable to whatever is more convinent.

While I can't find another installer as a counterexample, I would still insist that for users who don't know (or care) about PATH variable can end up wasting tonnes of time even if they name their binary something innocent lik

[2019-09-28 05:33] kinnison commented on #2017
I think that while your efforts to protect people who might be confused/surprised should they `cargo install` something which conflicts in name with a system utility, I'd say that it's likely that the number of people who'd be surprised by that *not* replacing the behaviour could be even higher.

However, *I* am quite biassed in this, so what I think I'll do is retitle and edit the original postin

[2019-09-28 06:38] iranvir commented on #2017
Thank you! That'd would be most helpful. :)

[2019-09-28 07:55] kinnison opened #2027 "Tracking: Security, Trust models, Improving the status quo"
In order to properly improve `rustup`'s security and trust model, we need to tackle a number of issues.  When these are all dealt with, then we'll be in a better position to protect our users and thus we can consider enabling some kind of mirror or alternative-dist-server-by-default mechanisms.

* [ ] Simple signature verification with embedded static key available on all `rustup` targets (#2028)

[2019-09-28 08:03] kinnison opened #2028 "Tracking: Simple PGP signature verification"
In order to implement simple signature verification for `rustup` to an extent that we're confident that it's good to proceed to thinking more about trust models, we need:

* [x] Select an OpenPGP implementation to use (rpgp)
    * [x] Develop a prototype using that implementation (done on #2077)
    * [x] Ensure the OpenPGP implementation supports all platforms we need it to
* [x] Basic verificati

[2019-09-28 08:07] kinnison opened #2029 "Tracking: Trust model for signed Rust / Rustup releases"
Once we have simplistic signature checking in place (#2028) we need to decide upon and deploy a more comprehensive trust model so that we're not doing the bare minimum to protect our users.

* [ ] Meeting between relevant parties (e.g. Sequoia-PGP team, Infra team, Rustup team, and DKG) to kick off a working group
* [ ] That working group to discuss and come up with a functional trust model which

[2019-09-29 13:38] coolshaurya commented on #2008
i am using cinnamon.

the system xdg-open works as expected.

[2019-09-29 16:21] swigger commented on #1542
NO, it means speed. For my MITM proxy, It's 50 times faster .

[2019-09-30 00:12] Seeker14491 commented on #2008
@coolshaurya could you share your system xdg-open script? If the system xdg-open does something different, that suggests it's different from [the xdg-open script bundled in the opener library](https://github.com/Seeker14491/opener/blob/master/opener/src/xdg-open).

[2019-09-30 02:53] BeniCheni commented on #1489
Hi, @kinnison, friendly note that I've given it a shot to add `--toolchain` option to `rustup which` in #2030.

I'm interested in trying out. Can you give more hint what adding +foo variant implies? Does it mean `rustup +custom-1 which rustc` would work the same as `rustup --toolchain=custom-1 which rustc`?

[2019-09-30 06:08] xtowerlink commented on #953
tks!

[2019-09-30 06:10] xtowerlink commented on #953
thank you very much ! [](url)

[2019-09-30 06:13] kinnison commented on #1489
@BeniCheni Yes, the idea is that `rustup +nightly which rustc` would be the same as `rustup which rustc --nightly` and so on.  So that it's the same as `cargo +nightly run` or `rustfmt +nightly` etc.

[2019-09-30 06:34] rschmitt commented on #1821
LGTM, but the autocompletion for Cargo only appears to load if I run `compinit -D`, whereas all my other autocompletions (including for rustup) load with `compinit`.

[2019-09-30 06:36] #1489 closed, assigned to nobody

[2019-09-30 09:27] coolshaurya commented on #2008
doing `diff rustup-xdg-open xdg-open` gives:

[code]
my system's xdg-open script :

[code]

[2019-09-30 14:00] fenhl commented on #988
Hi, is this still an issue? It might explain some problems I've been having with rustup.

[2019-09-30 14:36] bw-matthew commented on #817
I've just come across this and wanted something similar so I came up with this command line hackery to let me install the last version that worked:

[code]

The innermost command is:

[code]

This is then turned into the commit on github by looking it up in the project. This url is:

[code]

Which gets the raw commit info. The third line of that is the date (see [this for an example](https://githu

[2019-09-30 17:16] est31 commented on #817
There are a bunch of sites now:

* https://rust-lang.github.io/rustup-components-history/
* https://rust-lang-nursery.github.io/rust-toolstate/

And you can use curl to find out the commit of the latest nightly:

[code]

[2019-09-30 23:04] Seeker14491 commented on #2008
That's a newer version of the script. I've published v0.4.1 of opener with an updated xdg-open script. @kinnison can you update rustup's version? This new version should resolve this difference in behavior, as the updated script exactly matches the one posted by @coolshaurya.

[2019-10-01 04:17] shaun-floss commented on #1305
I also ran into this same issue using `rustup 1.19.0 (2af131cf9 2019-09-08)`. After doing `rustup update`:

[code]

[code]

I also tried removing `rustfmt` again, and did `rustup self update` and that also fixed it, although the only output that command gave was:
[code]

[2019-10-01 04:20] tensor-programming opened #2032 "Rustup update stable doesn't work"
**Problem**

Using `rustup install stable` didn't work for me on MSVC.  Latest version that I had was 1.37 and couldn't update to 1.38.  Executing the command produced:
[code]
On the other hand both nightly and beta worked fine.

Also should mention that stable gnu update worked perfectly fine on WSL.

Ultimately, had to resolve the problem by uninstalling stable and reinstalling it via `rustup un

[2019-10-01 04:57] iranvir commented on #2017
Hey, @kinnison
Crickets are chirping in this issue, should we close the issue rather than cluttering the project's issues tab? Nobody seems to be interested enough to chime in.

P.S: I don't know how long these things usually take, this is the first time I interacted with a community as large as this.

[2019-10-01 08:23] Vlad-Shcherbina opened #2033 "Completions don't do target auto-discovery"
### To reproduce
1. Install Rust using rustup.
2. Configure bash completions:
[code]
3. Relogin.
4. ```bash
    cargo new --lib autotargets_completions
    cd autotargets_completions/
    mkdir src/bin
    touch src/bin/hello.rs
[code]
$ rustup --version
rustup 1.18.3 (435397f48 2019-05-22)

$ rustup show
Default host: x86_64-unknown-linux-gnu
nightly-x86_64-unknown-linux-gnu (default)
rustc 1.39.

[2019-10-01 21:08] ecumene commented on #991
I'd like to contribute!

I'm confused by what OP means by "and the info lines contain double-colons!", how should these messages be rendered? Something like this?

[code]

[2019-10-02 12:43] pickfire commented on #2017
Something else, I believe a better way is to have rustup uses the user's local binaries directory.

Say, if `~/.local/bin` exists and it is in the path, rustup should utilize that instead of using `.cargo/bin` and track the binaries that is installed with rustup.

The pros is that it can be able to group the local binaries along side with other users installed binary which makes searching local bi

[2019-10-02 12:48] pickfire commented on #1928
This issue should be solved.

[2019-10-02 12:58] pickfire commented on #1818
I believe this is solved?

[2019-10-02 12:59] pickfire commented on #1798
I would like to take this. @rbtcollins What do I need to do?

[2019-10-02 13:02] pickfire commented on #1611
~~Can there be `+nightly` in rustup to keep it similar to cargo rather than using `--toolchain=nightly`?~~

EDIT: https://github.com/rust-lang/rustup.rs/issues/1570

[2019-10-02 13:03] pickfire commented on #1617
I believe this is solved? At least the message now shows possibly insufficient space.

[2019-10-02 15:22] pickfire commented on #1498
I would like to do this. I noticed that `cargo` does not explicitly parse this but instead passes this to `rustc` to handle it. Should we check it on `rustup` side with internal function to list toolchains?

[2019-10-02 15:43] BeniCheni commented on #1498
Hi @pickfire, friendly note that from [this comment](https://github.com/rust-lang/rustup.rs/issues/1489#issuecomment-536380104) from #1489, I started working on the 2nd PR for +foo variant in the same scope of #2031. Should be able to push an update later today for +foo variant.

[2019-10-02 19:25] kinnison commented on #988
Yes, currently we have no locking on the toolchain directories IIRC.

[2019-10-02 19:44] kinnison commented on #2008
Okay, I'll submit a patch soon

[2019-10-02 19:46] kinnison commented on #2032
That is fascinating but I am unable to reproduce it.  Did you keep a copy of the toolchain which wouldn't update?

[2019-10-02 19:46] kinnison commented on #2033
The cargo completions are provided by Cargo, not by us.  You probably need to file an issue there.

[2019-10-02 19:46] #2033 closed, assigned to nobody

[2019-10-02 19:48] kinnison commented on #991
The `prefix: caused by: continuation` form isn't beautiful, but I'm not sure what'd be nicer.

[2019-10-02 19:54] kinnison commented on #2017
@pickfire I'm not sure that'd be better over-all, I'd rather just suggest that people don't put `~/.cargo/bin` in their path if they're worried about it.  @sranvir I'd give it a few more days at least.  Some people only turn up every few weeks :D

[2019-10-02 19:54] #1928 closed, assigned to nobody

[2019-10-02 19:55] kinnison commented on #1818
@pickfire At this time we're still using `term` because we had issues with other options

[2019-10-02 19:57] kinnison commented on #1617
Yeah, agreed, thanks @pickfire

[2019-10-02 19:57] #1617 closed, assigned to nobody

[2019-10-03 01:14] pickfire commented on #1498
@BeniCheni Yeah, but that's just for `which` right? I want to help out on this too.

[2019-10-03 05:26] BeniCheni commented on #1498
@pickfire, from [this comment](https://github.com/rust-lang/rustup.rs/issues/1489#issuecomment-536380104) from #1489:

From my comment there, I indicated my interest in working on #1498 here. But I'm happy to share, if you want to try out a PR for #1498 here.

Let me know if you are committed to this issue. If yes, I can check out other open issues. If no, I will continue to pick up this issue, si

[2019-10-03 06:48] Mazwak opened #2036 "Upgrade to reqwest 0.9.21"
**Describe the problem you are trying to solve**
Reqwest 0.9.20 does not send User-Agent to proxy, which MIGHT cause problems with some proxy.
https://github.com/seanmonstar/reqwest/issues/660

**Describe the solution you'd like**
I opened an issue in reqwest, and it was fixed in 0.9.21.
I would like rustup to upgrade.

**Notes**
I'm using RUSTUP_USE_CURL=1 for the time being
I'm also working with

[2019-10-03 17:00] siscia opened #2037 "Make rustup works also on read-only filesystem (at least for storage)"
**Describe the problem you are trying to solve**

It would be interesting to have a way to rustup works also with read-only directory.
In particular it would be interesting to have rustup use the big files (compiler/toolchain) from a read-only directory while the configuration file would need to stay in a different (writable) directory.

**Describe the solution you'd like**

If we could add a env

[2019-10-04 14:09] timw4mail opened #2038 "Feature Request: Clean up download dir (partials etc) after successful full update run."
**Edited by @kinnison to reflect decision later in thread**

It'd be good to have the downloads directory cleaned up if a full `update` (i.e. not a single-toolchain update) is completed.  That way any partial files etc lying around from failed updates will get cleaned up when we're in a position to believe that all is well and they wouldn't be reused.

I'm prepared to mentor someone in doing this,

[2019-10-04 20:31] kinnison commented on #2037
Hi!  (you discussed with me, not my work-based alter-ego)

`rustup` is meant to work by installing toolchains for itself.  If you want the toolchains to be present on read-only storage you can use `rustup toolchain link` to link to existing toolchains.  For example on Debian I might use `rustup toolchain link system /usr` to link the `apt` installed toolchain.

I don't *think* that there's anythin

[2019-10-04 20:33] kinnison commented on #2038
We do sometimes leave `.partial` and other download files, and that could definitely do with cleaning up.  The toolchains themselves only ever keep the one version around; though if you're finding yourself installing a lot of labelled toolchains (e.g. `nightly-2019-07-12` or `1.34.0`) then it'll be up to you to `rustup toolchain uninstall` them.

Rather than a cleanup command per-se, it'd probably

[2019-10-04 20:52] #2036 closed, assigned to nobody

[2019-10-05 05:01] xiaoaiwhc commented on #1912
This method works for me even though I use "rustup update" ~.~

[2019-10-05 10:39] jeroen opened #2040 "Error: "could not amend shell profile" when HOME is unwritable"
**Problem**

When `CARGO_HOME` and `RUSTUP_HOME` point to a location outside of `$HOME`, the rustup installer still tries to write to `$HOME/.profile` and then errors with:

[code]

I can't find how to prevent rustup from touching the user `.profile` or proceed with installation even though it fails to update `.profile`.

**Steps**

We run `rustup` on a somewhat restricted and perishable MacOS 10.

[2019-10-06 07:23] kinnison commented on #2040
You probably want to pass `--no-modify-path` to the installer.

[2019-10-06 08:02] jeroen commented on #2040
Thanks. Where do I pass this exactly? Like so ?

[code]

[2019-10-06 08:14] kinnison commented on #2040
Yep that's exactly right.  The `--no-modify-path` is equivalent to telling the interactive installer that you don't want it to try and alter your profile.  It will still write the `env` file to `CARGO_HOME` for you to use.

[2019-10-06 08:33] ntruessel commented on #1713
Is someone still working on this? Otherwise I'd like to give it a try and adjust the code from #1714 to use a `--date` flag.

[2019-10-06 09:12] kinnison commented on #1713
We currently have, in master, waiting for a release, an automatic backwalker for nightly which copes with finding the right version for the installed component set, combined with a facility to specify additional components at install time, leading to: `rustup toolchain install nightly -c clippy -c rustfmt` working for most people's use-cases.  If there is still a use-case for a specific date then

[2019-10-06 13:55] iranvir commented on #2017
:P That's okay, @kinnison  it's not that big of an issue anyways.
You replied to the issue pretty quickly, though

[2019-10-06 15:49] ntruessel commented on #1713
The backwalker definitely resolves my issue. In case you'd like to see this implemented anyway, I'm still willing to work on it.

[2019-10-06 17:57] kinnison commented on #2017
It's kinda my job as maintainer of the project :D

[2019-10-06 17:59] kinnison commented on #1713
I think there's probably less value in it than there used to be.  I'd quite like to allow a `nightly-$DATE` installation to be converted into a `nightly` (`rustup toolchain rename` or something like) but that's entirely orthogonal to the goal that this issue originally set out to resolve.  Perhaps this issue should be closed if @liuchong agrees?

[2019-10-06 18:59] nagisa opened #2041 "`N iops / N iops (100%) M iops/s` makes no sense"
Installing rustup I saw this very curious line pop up:

but it makes no sense whatsoever as “iops” is already an unit of operations per second. So paraphrased:

The units should be fixed up to represent actual whatever being counted here.

[2019-10-07 02:59] liuchong commented on #1713
Yes, I agree, let me close it.
Maybe we need another issue for the `rustup toolchain rename` 👀

[2019-10-07 02:59] #1713 closed, assigned to nobody

[2019-10-07 10:37] AndreKR commented on #1483
Isn't the purpose of rustup to provide a working toolchain?

I'm eager to replace all my Go projects with Rust, but I regularly need to compile on Windows for Linux and Linux ARM and on Linux for Windows. With Go everything works out of the box, but with Rust I haven't managed to get anything to compile that isn't the host platform.

If rustup can't (for licensing reasons or whatever) download a w

[2019-10-07 13:17] Rudi3 commented on #1946
Is it possible that you have an alias or similar to `sw_vers`?
What is the output of `command -v sw_vers`? (https://github.com/rust-lang/rustup.rs/blob/9864b0b95e98ccdbe5bde3c5bded2dd95b9d18ad/rustup-init.sh#L410)
To eliminate that, actually using the `_arch` variable from `get_architecture` to check for darwin may work. I can't test this on darwin, but I might do a PR to fix that soon.

[2019-10-07 15:21] jeroen commented on #2040
Thanks!

[2019-10-07 20:27] kinnison commented on #2041
In this instance, iops is "I/O Operations" not "I/Os per second" though I concede that there's the potential for confusion.

[2019-10-07 20:31] kinnison commented on #1483
Not per-se no.  The purpose is to allow the installation of Rust toolchains.  It's a combinatorial explosion for us to expect to understand how to tell everyone how to deal with cross-compilers.

This is exactly why I requested someone spearhead an effort to document what they can on the forge.

My exact goal is that rustup will direct you to the above document where someone who actually knows wha

[2019-10-07 20:32] kinnison commented on #1946
Looks like I had somehow gained a fake `sw_vers` on my path, possibly for testing something meant for Darwin.  This bug is not a bug.  Well spotted.

[2019-10-07 20:32] #1946 closed, assigned to nobody

[2019-10-07 23:24] Rudi3 commented on #2041
[Wikipedia](https://en.wikipedia.org/wiki/IOPS) is not the best source, but `IOPS` usually stand for "Input/output operations per second".

And if I didn't miss anything, you could get something like `Kiiops/s`. Which would be "Kibi-i/o operations per second (squared)". :rofl:

I'm not sure what the non-rate unit for `IOPS` would be though (couldn't find anything on that, really)... In my PR, I we

[2019-10-08 11:26] kinnison commented on #2041
Fair enough, that seems OK to me.  Disambiguation here is key :D

[2019-10-08 11:54] Rudi3 commented on #2041
But honestly, I've never enountered `iops` on rustup.
@nagisa could you tell me which command you ran?

[2019-10-08 12:07] nagisa commented on #2041
I ran the `rustup` installation command from the website. It showed up briefly when unpacking one of the packages on a slower machine (a mips64 based router manufactured who knows when).

[2019-10-08 12:27] Rudi3 commented on #2041
@nagisa I see. I tried `env RUSTUP_IO_THREADS=4` `-60` used in https://github.com/rust-lang/rustup.rs/pull/1876#issuecomment-499885408, without success...
Could you maybe test my pr branch and see if the output is now correct (if you want to)?

[2019-10-08 12:55] Rudi3 commented on #1818
I'm not sure what exactly you need, but what about https://github.com/crossterm-rs/crossterm?

[2019-10-08 13:49] kinnison commented on #2041
You're unlikely to see the iops message unless you have slow IO -- e.g. an NFS mounted homedir, or Windows.

[2019-10-08 13:53] kinnison commented on #1818
That looks potentially good, though I was thinking more about a crate which integrates progress bars and messages.

[2019-10-08 13:56] Rudi3 commented on #1818
I see, what about https://github.com/mitsuhiko/indicatif then?

[2019-10-08 14:02] kinnison commented on #1818
Yeah something like Indicatif would be good.  It'll be quite a bit of work to rearrange all the output to go properly via that, but it would potentially allow some cleanup.

[2019-10-08 14:19] timw4mail commented on #2038
Yeah, that make sense, and sounds like a better plan than a manual cleanup command.

[2019-10-08 14:42] ghost opened #2045 "upgrading from non-profiles rustup to profiles rustup should auto-add profile= in settings.toml just like first time install does"
**Describe the problem you are trying to solve**

if `rustup update` will pull a `rustup` which now has [profiles](https://github.com/rust-lang/rustup.rs/pull/1673) support, the `profile=` key/value in `~/.rustup/settings.toml` will not be added(presumably, I haven't [actually](https://github.com/rust-lang/rustup.rs/pull/1673#issuecomment-539541258) tested xD).

**Describe the solution you'd like*

[2019-10-09 05:09] BeniCheni commented on #2038
Friendly note: trying out a branch for this issue.

[2019-10-09 16:27] lesurp opened #2047 "Nightly not updating despite #1997"
**Problem**
[code]

As per [this](https://rust-lang.github.io/rustup-components-history/) page, I cannot upgrade to the latest nightly version. However it also shows that `2019-10-04` should work. If I understand #1997 correctly, rustup should upgrade from `2019-09-19` (my current version) to `2019-10-04` (latest version including everything I am using).

Am I doing something wrong here or is it a

[2019-10-09 22:52] murlakatamenka commented on #1821
So, how does one get cargo completion working at this point?

Via adding

[code]

to your `.zshrc`?

[2019-10-09 23:13] burjui commented on #1821
@murlakatamenka No, you just add the `#compdef cargo` line at the beginning of the completion file generated by rustup:
[code]
If you haven't already, you should put this line in your `~/.zshrc` before the `compinit` call:
[code]
Also remove the `compinit` dumped configuration files so that next call to `compinit` discovers the new Cargo completions (may take a few seconds):
[code]
It will dump th

[2019-10-09 23:21] burjui commented on #1821
Just to be clear, I am using [oh my zsh](https://github.com/robbyrussell/oh-my-zsh/), so in my case things are a little bit different:
[code]
My `~/.zshrc`:
[code]

[2019-10-10 01:51] bgianfo commented on #1252
Just hit this today, my temp folder was 100's of MB, and my downloads folder was in 1-2 GB range...

[2019-10-10 03:46] yjhmelody opened #2048 "component manifest for 'rls-preview-x86_64-unknown-linux-gnu' is corrupt"
**Problem**
I want to update stable version from 1.37 to 1.38 in `wsl`.
[code]

**Possible Solution(s)**

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]

[2019-10-12 01:49] softprops opened #2049 "failed to install rustup with minimal profile"
**Problem**

I would like to be able to use the new minimal profile rustup feature. I tried the latest rustup-init with `--profile minimal` arguments but this yields argument error

**Steps**

1. run the following command `curl https://raw.githubusercontent.com/rust-lang/rustup.rs/2ce2428f36dc5432a4eeb722a392a13b3631efd4/rustup-init.sh -sSf |  sh -s -- -y --default-toolchain 1.38.0 --profile minim

[2019-10-12 17:08] kinnison commented on #2047
This is expected, we have not yet *released* a rustup containing that change.  Hopefully that'll change next week.

[2019-10-12 17:08] #2047 closed, assigned to nobody

[2019-10-12 17:10] kinnison commented on #1252
The `tmp` folder should be cleanable up with a bit of a tweak.  the `downloads` folder we have a PR in the works for.  I'll actually ask if they can add the `tmp` dir to that too, since it is just as good a location to deal with the cleanups.

[2019-10-12 17:13] kinnison commented on #2049
This feature is not yet released.

[2019-10-12 17:13] #2049 closed, assigned to nobody

[2019-10-12 17:15] kinnison commented on #2048
This is interesting.  It implies that one of the manifest files in your installation has become damaged.  Could you please attach to this issue the file at: `/home/yjhmelody/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/manifest-rls-preview-x86_64-unknown-linux-gnu` ?

[2019-10-12 18:49] softprops commented on #2049
Is there an eta on when to expect the next release?

[2019-10-13 07:16] kinnison commented on #2049
I hope to make the release within the week.

[2019-10-13 07:19] #2045 closed, assigned to nobody

[2019-10-13 13:23] murlakatamenka commented on #1821
@burjui thanks, it worked! :+1:

[2019-10-13 18:59] softprops commented on #2049
Awesome! Thank you folks for the hard work on this. I can't wait

[2019-10-14 02:13] yjhmelody commented on #2048
Well.
[code]
It's empty.

[2019-10-14 02:15] yjhmelody commented on #2048
But I resolved the problem by reinstall them.

[2019-10-14 21:58] ValeTheVioletMote commented on #1912
`RUSTUP_IO_THREADS=disabled` worked for me as well.

I think it may be due to the fact that McAfee is single threaded.

[2019-10-15 07:14] kinnison commented on #2048
Okay, thanks, I'm going to close this for now as we have other issues around corrupted metadata.

[2019-10-15 07:14] #2048 closed, assigned to nobody

[2019-10-15 11:31] faern opened #2054 "rustup downloads toolchain components twice"
**Problem**
When I install a toolchain it seems to download everything twice. This is my output:

[code]

The same happens for the stable and beta channels. Or is the second line of:
[code]
The unpacking of it? The visual feedback looks very much like a download, and the speed is very similar to my download speeds.

Output of `rustup --version`:
[code]

Output of `rustup show`:
[code]

[2019-10-15 15:16] irevoire commented on #1558
I have the same issue with a fresh install of freeBSD.
<details><summary>rustup</summary>
<p>
%   curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh                                                                                     :(

info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust
programming language, and its package

[2019-10-15 17:27] shepmaster opened #2057 "Removing components using the output of `component list` is a papercut"
**Describe the problem you are trying to solve**

Doing a bit of cleanup, I check what components I have installed:

[code]

Oh, I don't need that component right now, let's remove it!

[code]

Ooooof. It's actually:

[code]

**Describe the solution you'd like**

One solution would be to support `rustup component remove $component-$target`. Another would be to split up the output so that it's more

[2019-10-15 17:53] shepmaster commented on #998
@kinnison is this issue addressed by the `minimal` profile now?

[2019-10-15 17:56] tensor-programming commented on #2032
I did some research and found that the problem had something to do with the insider update that proceeded it.  Not only was Rustup failing, my installation of Go failed, Elixir IEX wouldn't work, and a bunch of other CLI tools just didn't work.  I assume this situation would be unique to my machine.  Just for future reference, I was able to resolve the problem with a reinstall.

[2019-10-15 17:56] #2032 closed, assigned to nobody

[2019-10-15 17:57] shepmaster commented on #998
This appears to do what I want and not include the docs!

[code]

[code]

❤️

[2019-10-15 17:58] vks commented on #998
It is also possible again to remove the `rust-docs` component (independently of the chosen profile).

[2019-10-15 19:16] shepmaster commented on #998
@vks yup, I was very happy to do

[code]

Note that this doesn't work for *very old* releases (like 1.0.0), which predate the concept of components. However, I'll take the savings for the versions which do!

[2019-10-15 21:00] kinnison commented on #1558
I've a fix in-train which will solve this hopefully (forcing the toolchain during rustup installation)

[2019-10-15 21:02] kinnison commented on #2054
While the progress bars are similar, the lines prior to them do clearly indicate download vs. install and I assure you it's not downloading twice.

[2019-10-15 21:02] #2054 closed, assigned to nobody

[2019-10-15 21:02] kinnison commented on #998
I believe this is now covered so I'm going to close the issue.  Thanks all for your patience.

[2019-10-15 21:02] #998 closed, assigned to nobody

[2019-10-15 21:02] kinnison commented on #2057
This is something I'd quite like to see too.  I'm going to assign it to myself to keep it on my radar.

[2019-10-16 02:05] chris-morgan opened #2060 "`rustup toolchain install` isn’t doing anything"
I’m attempting to update my bitwarden_rs AUR package using rustup from Arch Linux’s repositories. It’s failing to install the toolchain it wants.

[code]

(Last time I know it worked, rustup 1.19 was the current version.)

Interacting more directly with the bitwarden_rs directory:

[code]

[2019-10-16 05:45] t-botz opened #2062 "Profile not taken into account"
**Problem**
Seems like the profile is not taken into account. I set it to minimal but all components got installed.

**Steps**
[code]

[2019-10-16 07:05] kinnison commented on #2060
This is a bug in 1.20.0 when installed via distro packages.  1.20.1 was released this morning, so as soon as AUR updates (can you make that happen?) things should be resolved.  Until then, if you explicitly do `rustup set profile default` it should work for you.

[2019-10-16 07:06] kinnison commented on #2062
Profile is __only__ taken into account on the installation of fresh toolchains, not when updating an existing toolchain on your system.  Sorry if that wasn't clear enough before.

[2019-10-16 07:10] chris-morgan commented on #2060
Thanks, sounds good.

rustup is actually in the community repository on Arch Linux, not AUR. @svenstaro is the packager.

[2019-10-16 07:12] t-botz commented on #2062
That make sense. Thanks for the clarification

[2019-10-16 07:12] #2062 closed, assigned to nobody

[2019-10-16 07:27] svenstaro commented on #2060
Ok, building now.

[2019-10-16 08:17] RalfJung opened #2063 "Travis CI: rustup-init.sh for a nightly no longer works without clippy"
**Problem**

My Travis CI config contains the following command
[code]
Travis is still on rustup 1.19 (at least when I download it locally; not sure which version CI uses), so I cannot use the new `--profile` flag on `rustup-init.sh`.

**Steps**

1. Run the above command.
2. It fails, because clippy is missing.

**Further information**

Until a few days ago, that command was guaranteed to always w

[2019-10-16 08:20] RalfJung opened #2064 "rustup installer --help does not say how to separate multiple components / targets"
**Describe the problem you are trying to solve**

I am trying to install multiple components with the initial toolchain using the new `-c` flag. However, the `--help` information does not tell me how to do that. I could imagine any of the following:
[code]

**Describe the solution you'd like**

The `--help` text should say how to pass multiple components.

[2019-10-16 08:21] kinnison commented on #2063
Rustup 1.20.1 released this morning *should* solve that problem.  So long as Travis' rustup-init.sh fetches rustup-init from the proper release site, not their proxy, then it ought to be resolved by now.

[2019-10-16 08:22] kinnison commented on #2064
I agree that it's not clear.  This is generated by clap though.  Perhaps a newer clap version will improve this?

[2019-10-16 08:24] RalfJung commented on #2064
Note that I am talking about the shell script here. Is that generated by clap as well?

Also, if you have the answer to the question, that'd really help me to fix the CI that rustup 1.20 broke. ;)

[2019-10-16 08:27] RalfJung commented on #2063
I forgot to link to an affected build log: https://travis-ci.org/RalfJung/miri-test-libstd/builds/598465733

[2019-10-16 08:39] RalfJung commented on #2064
`--component rust-src --component miri` seems to work.

[2019-10-16 08:39] Nemo157 opened #2065 "Force skipping a component when installing marks it as installed"
**Problem**
When force skipping a component during install a later attempt to add that component will act as if the component is installed.

**Steps**
[code]

**Notes**

Output of `rustup --version`: `rustup 1.20.1 (4eadfff3d 2019-10-15)`

[2019-10-16 08:57] kinnison commented on #2064
The shell script just downloads and invokes the binary.  The help in the shell script is generated from the binary and inserted by hand, but it is for `rustup-init` not for `rustup toolchain install` which is different.

[2019-10-16 08:58] kinnison commented on #2063
Yeah that was a bug in 1.20.0 which is semi-resolved in 1.20.1 though #2065 was filed which suggests 1.20.1 didn't fully fix it, there's #2066 in test which hopefully will put this to bed and if so I'll prep 1.20.2 because I'm apparently a sucker for release numbers.

[2019-10-16 08:59] RalfJung commented on #1542
Sure, fast -- but insecure. Such proxies are [time](https://www.zdnet.com/article/project-zero-calls-out-kaspersky-av-for-ssl-interception-practices/) and [time](https://www.bleepingcomputer.com/news/security/us-cert-security-products-that-perform-https-interception-weaken-security/) again found to [reduce security on the web](https://jhalderm.com/pub/papers/interception-ndss17.pdf) and [prevent d

[2019-10-16 09:02] RalfJung commented on #2063
Great to hear that a fix is coming though. :)

[2019-10-16 09:03] RalfJung commented on #2063
But OTOH, looking at https://build.travis-ci.org/files/rustup-init.sh that seems to still be rustup 1.19 so this can't be a bug in 1.20.0...?

[2019-10-16 09:10] kinnison commented on #2063
The shell script is versioned separately from the installer binary, believe me 1.19 doesn't do profiles at all :D

[2019-10-16 09:20] RalfJung commented on #2063
Oh I do believe you. :) I hypothesized that something changed in the manifest that made old rustup versions install clippy by default as well now. But everything is more complicated as I thought, as always.^^

For now I am just using the upstream scripts, bypassing Travis' cache.

[2019-10-16 09:50] #2065 closed, assigned to nobody

[2019-10-16 10:25] elichai opened #2067 "[Feature Request] Downgrading nightly toolchains"
As talked on Discord with @kinnison
I think an interesting usecase is to be able to *downgrade* your nightly feature to one that supports specific toolchains.
i.e.
`rustup toolchain install nightly --downgrade -c rustc -c rust-std -c cargo -c rustfmt -c clippy -c rls -c rust-analysis -c miri`

This can make adding new components to your local toolchain easier (then tools like miri could add this t

[2019-10-16 10:27] kinnison commented on #2067
I wonder if @jonhoo might have input on this?

[2019-10-16 12:20] jonhoo commented on #2067
`--downgrade` sounds to me like an option on `component add`, not on install. So you'd do:
[code]

[2019-10-16 12:58] Mazwak commented on #2007
I have this problem with latest release (1.20.1).

Uninstall stable, set profile to complete.
Try to install stable, and it fails.

[code]

[2019-10-16 13:06] mati865 commented on #2007
To expand comment above, `lldb-preview` is not available for any platform and `miri` is only available for nightly builds. This is very unlikely to change in foreseeable future.

[2019-10-16 13:26] chris-morgan commented on #2060
Confirmed working on 1.20.1; thanks rustup team, thanks svenstaro!

[2019-10-16 13:26] #2060 closed, assigned to nobody

[2019-10-16 13:48] kinnison commented on #2007
You may need to uninstall the toolchain, upgrade to 1.20.2 (just released) and reinstall the toolchain.  You can use --force to cause it to skip components it can't find, but `complete` is definitely not useful for stable.

[2019-10-16 13:49] kinnison commented on #2067
UX aside, it's all the same pathway internally, so it'd go via your backtracking code @jonhoo :D  I was more interested in what you thought about a bool to obviate the "stop at current version" check we currently have.

[2019-10-16 14:25] jonhoo commented on #2067
I guess it seems okay to downgrade if the user explicitly asks for it :man_shrugging:

[2019-10-16 18:54] estokes opened #2068 "builds fail due to missing components on non tier 1 platforms using the default profile"
**Problem**
On platforms that don't have rustfmt and/or clippy, packages that use a rust-toolchain file that contains a toolchain that isn't already present on the host machine will fail because cargo does not call rustup with the --force option. e.g.

[code]
This is problematic for 2 reasons. 1, it probably shouldn't happen at all unless the package actually depends on one of those tools, and 2,

[2019-10-16 21:26] kinnison commented on #2068
So I think the right fix here is that if `rustup` decides to install a toolchain because it's missing (e.g. from an override) then we should force the installation so that it's more likely to succeed.

This ought to be a fairly small job to write (there're three sites which call `install_from_dist()` in the `config.rs::Cfg` code, and the one in `update_all_channels()` should be left alone.  As suc

[2019-10-17 00:08] mqudsi opened #2069 "FYI: fish completions level up"
Hi team,

Just wanted to let you know that the next version of fish (also available in current nightly builds) will feature `rustup` completions on steroids out-of-the-box. Unlike most other shells, fish completions are dynamic and interactive, and react in real-time to changes at the command line, and complete not only the name of options but their values, too.

I had to hardcode a few things I'd

[2019-10-17 00:26] BeniCheni commented on #2068
Friendly note: gonna tinker to try a fix. Will either open a PR or ask questions on Discord if stuck.

[2019-10-17 06:57] kinnison commented on #2069
Rustup can generate completions to some extent itself (`rustup completions fish`) though that doesn't include targets because they're dynamic based on which toolchain you're thinking about and would need quite complex completions rules which I'm not sure if clap can do (yet)

If there's anything useful we can do for you on the `rustup` side to improve integration, please let me know, otherwise I'm

[2019-10-17 06:57] #2069 closed, assigned to nobody

[2019-10-17 07:08] foriequal0 opened #2070 "The toolchain file overrides `rustup install`"
**Describe the problem you are trying to solve**
Current `rustup install` requires a positional parameter `<toolchain>` even if I have a toolchain file.

I have a file `rust-toolchain` file (ex: `1.37.0`) at the root of a repository. I know that `cargo` installs it automatically:
[code]

But I want to separate the install step from the build step:
[code]
I have to change the versions in the script

[2019-10-17 11:39] dignifiedquire commented on #2028
I maintain https://github.com/rpgp/rpgp which should be easy to use for this as well and is pure rust, without c dependencies.

[2019-10-17 18:07] emilyalbini opened #2071 "Rustup doesn't handle HTTP 416 errors when downloading toolchains"
**Problem**

While setting up a Crater agent the container running Crater was killed for *reasons* in the middle of a rustup download. After starting the container again rustup kept failing with this error message:

[code]

**Steps**

Note that these steps didn't cause the original bug, but they reproduce the same symptoms.

1. Remove all partial downloads:
[code]
2. Install a toolchain, but kill

[2019-10-18 08:47] kinnison commented on #2071
Related to #1854 and #1889

[2019-10-18 08:48] kinnison commented on #2028
Thanks @dignifiedquire I should indeed have a go with that in case I can get going more quickly than waiting for Sequoia to add Windows support which is currently blocking that prototype.
When you say there's no C deps, is that definite?

[2019-10-18 10:38] zoechi commented on #1558
Similar

The suggested commands didn't help.

[2019-10-18 11:19] dignifiedquire commented on #2028
Yes, the goal is a fully portable version (it is currently deployed through an app using it on ios,android, windows, macos and various unix distros), with all crypto being either pure rust, with possible optimizations in assembly.

[2019-10-18 11:21] dignifiedquire commented on #2028
Also probably of interest, the first security audit was just finished, with some minor things still on my list to fix, but no major issues found.

If you have a sketch of what you want this feature to exactly do, I'd be happy to help fill in the rpgp specific details, as the docs are not that amazing quite yet

[2019-10-18 13:55] kinnison commented on #2028
I threw together a very dodgy hack to try with Sequoia here: https://github.com/kinnison/rustup.rs/tree/signed-channels

If you wanted to have a go at an equivalent using rpgp, or at least point me at appropriate stuff that'd be awesome.  Sequoia was easy for me to get going with because their `sqv` example did everything I needed, so I could crib from it.

[2019-10-18 13:57] kinnison commented on #1558
Rustup 1.20.2 fixed the initial install hiccoughs, and beyond that, stable is now guaranteed to have the tooling components whereas nightly is not.  I'm closing this issue as a result.

[2019-10-18 13:57] #1558 closed, assigned to nobody

[2019-10-18 13:57] kinnison commented on #1558
If you have further issues, please open *fresh* issues with full explanations of what you're doing and what you hoped would happen.

[2019-10-18 15:07] dignifiedquire commented on #2028
I added some basics here: https://github.com/dignifiedquire/rustup.rs/tree/signed-channels-rpgp

Haven't had time to implement proper verification of the signature being on its own. Question, how are the signatures generated at the moment, just so I know what format this is expected to be in. (if you have an example one that would be great)

[2019-10-18 19:10] kinnison commented on #2070
I'm not entirely sure how we'd make that work with clap, without introducing more complex logic to somehow provide an optional value where absence is validated only if there's a valid override available.

The `rustup toolchain install` command is more about explicitly choosing a toolchain to install, rather than being driven by a directory override of some kind.