[2019-10-18 20:10] kinnison commented on #2063
I believe this is fixed after 1.20.2

[2019-10-18 20:22] kinnison commented on #2007
I consider this issue closed as far as `rustup` is concerned.  There's potential reason to open an issue on `rust-lang/rust` about the `complete` profile contents, but that's not `rustup`'s decision.

[2019-10-18 20:22] #2007 closed, assigned to nobody

[2019-10-18 20:23] kinnison commented on #2005
This has landed and is in 1.20

[2019-10-18 20:23] #2005 closed, assigned to nobody

[2019-10-18 20:23] kinnison commented on #1958
Can you confirm if this still happens with Rustup 1.20.2 ?

[2019-10-18 20:24] kinnison commented on #1926
Rustup has released with profile support.

[2019-10-18 20:24] #1926 closed, assigned to nobody

[2019-10-18 20:24] kinnison commented on #1867
Rustup 1.20 has been released which supports a `minimal` profile to not install `rust-docs` by default.  Is this acceptable enough to close this issue?

[2019-10-18 20:25] kinnison commented on #1849
My working hypothesis here, since I've now seen it elsewhere, is that at least one of the manifest files in `lib/rustlib/` under the toolchain has been lost.

[2019-10-18 20:26] kinnison commented on #1735
Now, a `rustup update` will backtrack in time for `nightly` trying to help you update, but we still don't have a concept of a "desired but not currently installed component".  Is what is in 1.20 sufficient or do you still want something closer to how you described here?

[2019-10-18 20:27] kinnison commented on #1602
I believe this is covered by Rustup 1.20, if the functionality in `rustup toolchain install` is insufficient for this, please open a fresh issue.

[2019-10-18 20:27] #1602 closed, assigned to nobody

[2019-10-18 20:28] kinnison commented on #1501
I believe this is covered by Rustup 1.20

[2019-10-18 20:28] #1501 closed, assigned to nobody

[2019-10-18 20:28] kinnison commented on #1600
I believe that the finally decided-upon functionality has now been released in 1.20

[2019-10-18 20:28] #1600 closed, assigned to nobody

[2019-10-18 20:29] kinnison commented on #1584
Is this still an issue?  I think we tweaked our builders a bit more since last year.

[2019-10-18 20:29] kinnison commented on #1569
Profiles were released with 1.20, this is "done"

[2019-10-18 20:29] #1569 closed, assigned to nobody

[2019-10-18 20:30] kinnison commented on #1540
With 1.20 you can set the profile to minimal and obviate the need to install `rust-docs` so I consider this done.  If you still want the docs and their installation remains too slow, please open a fresh issue to discuss possible mitigations.

[2019-10-18 20:30] #1540 closed, assigned to nobody

[2019-10-18 20:30] #2038 closed, assigned to nobody

[2019-10-18 20:32] kinnison commented on #1490
Is it really necessary to do this automatically?  Also when should `rustup` decide to do it?  Only on `rustup-init` ?  Or perhaps on any `rustup update` ?  Should it reserve the term `system`?  This kinda feels like something better solved as documentation rather than behaviour.

[2019-10-18 20:33] kinnison commented on #1475
I don't really think this is the fault of `rustup` so I'm going to close this.  If you still think this needs better documentation then perhaps a better place might be to discuss with the release team about how they announce pre-releases?

[2019-10-18 20:33] #1475 closed, assigned to nobody

[2019-10-18 20:33] kinnison commented on #1474
I believe #2046 resolves this.  It will be in 1.21

[2019-10-18 20:33] #1474 closed, assigned to nobody

[2019-10-18 20:53] slonopotamus commented on #1540
@kinnison: while I do agree that `minimal` profile allows to avoid installing documentation and resolves #998, the fact that documentation installation is slow on Windows is still valid.

[2019-10-18 21:11] kinnison commented on #1540
I agree that the form of rust-docs remains an issue, but it's not specific to Windows (though we are a lot better now providing you're not using something like McAfee) and any mitigations we come up with will need to be cross-platform or potentially something which changes how the rustdoc itself is generated.

[2019-10-18 21:25] #856 closed, assigned to nobody

[2019-10-18 21:26] kinnison commented on #837
The primary "big"ness was docs which 1.20 allows you to bypass by means of the `minimal` profile.

[2019-10-18 21:26] #837 closed, assigned to nobody

[2019-10-18 21:28] kinnison commented on #835
So while we support (to some extent) being packaged, we have no intention to release `rustup` onto crates.io at this time because we do not want to encourage anyone to think we're providing a stable API in any sense.  Also we do still have some internal crates which we don't intend to provide as an API in any sense.

Platforms other than Debian manage to package `rustup` without it being on crates

[2019-10-18 21:28] #835 closed, assigned to nobody

[2019-10-18 21:33] kinnison commented on #983
I believe we do not setting a bad triple these days.

[2019-10-18 21:33] #983 closed, assigned to nobody

[2019-10-18 21:34] kinnison commented on #978
We've updated the openssl crates in the past, I believe this is fixed now.

[2019-10-18 21:34] #978 closed, assigned to nobody

[2019-10-18 21:36] kinnison commented on #1195
We actually have Hyper 0.12 now.

[2019-10-18 21:36] #1195 closed, assigned to nobody

[2019-10-18 21:37] kinnison commented on #1166
We've reworked the progress reporting code a few times since this issue was reported.  Do you think it still needs further tweaking?

[2019-10-18 21:37] kinnison commented on #1161
We do report the version we update to these days.

[2019-10-18 21:37] #1161 closed, assigned to nobody

[2019-10-18 21:39] kinnison commented on #1299
With Rustup 1.20 this situation should hopefully be less likely to occur.  Is that sufficient to solve your problem or do you still want this feature as well?

[2019-10-18 21:39] #1252 closed, assigned to nobody

[2019-10-18 21:40] kinnison commented on #1247
We've added musl as a build target for rustup in June.

[2019-10-18 21:40] #1247 closed, assigned to nobody

[2019-10-18 21:41] #1241 closed, assigned to nobody

[2019-10-18 21:41] kinnison commented on #1227
Is this any better now?

[2019-10-18 21:42] dignifiedquire commented on #2028
Update: the branch now includes a the code to validate signatures and a test validating some of the official signatures

[2019-10-18 21:42] #1381 closed, assigned to nobody

[2019-10-18 21:46] kinnison commented on #2028
Just to ensure things are linked:

* #1314 talks about external GPG
* #241 talks about needing to validate sigs
* #242 talks about signing (and validating) `rustup-init` itself.

[2019-10-18 21:46] #2008 closed, assigned to kinnison

[2019-10-18 22:56] Hi-Angel commented on #1958
Sorry, 2 weeks ago I needed to contribute [to a Rust project](https://github.com/mookid/diffr/pull/32), so I had to do `rustup toolchain remove nightly && rustup toolchain install nightly` to make it work. So I can't test the reported problem anymore. Feel free to close it if you don't think it's useful to keep opened.

[2019-10-19 03:47] japrogramer commented on #1125
my `rustup doc --std` does nothing

[errors.txt](https://github.com/rust-lang/rustup.rs/files/3746193/errors.txt)
[code]

[2019-10-19 09:55] kinnison commented on #1125
Do you have the `rust-docs` component installed?  (Silly question, but it's possible you might not)

Otherwise this might be another `opener` bug in which case @Seeker14491 might have some input/questions.

[2019-10-19 09:55] kinnison commented on #1958
Okay thanks, I think it's fixed in 1.20 so I'm going to close this.  Please open a fresh issue if you have a new example of this occurring.

[2019-10-19 09:55] #1958 closed, assigned to nobody

[2019-10-19 11:38] bluss commented on #837
This bug was reported by citing the duplicate files that exist inside the same specific toolchain install. What I can see, some of these still remain. I don't think this has been solved, for that reason.

[2019-10-19 12:28] kinnison commented on #837
I agree that there remain some duplicated files, though I also feel that is the domain of the release team rather than `rustup` itself.  It's possible that if we can work some kind of `ostree` like magic in the future then even duplicated content from the releases woud be mitigated, but right now I don't think it's our responsibility in `rustup`.

[2019-10-19 14:00] murlakatamenka commented on #1821
This is already fixed in rustup 1.20+, the issue can be closed, right?

@burjui btw oh-my-zsh has its own [cargo plugin](https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins/cargo) but it's not up-to-date.

I've stopped on this :point_down:

[code]

`.zshrc` (`oh-my-zsh` is installd via a package manager in my case):

[code]

[2019-10-19 14:24] kinnison commented on #1821
Thank you @murlakatamenka for your input.  I'll close this then.

[2019-10-19 14:24] #1821 closed, assigned to nobody

[2019-10-19 17:56] saethlin commented on #1867
Absolutely. Thanks so much for all your hard work on this.

[2019-10-19 17:56] #1867 closed, assigned to nobody

[2019-10-19 23:12] japrogramer commented on #1125
yes, i have it installed.

[2019-10-20 04:59] Seeker14491 commented on #1125
I believe I've figured out what can cause the browser not to open: `xdg-open` is [being ran with a null stdout](https://github.com/Seeker14491/opener/blob/2ee23e57caa9f4fbdcc14fc1d11d43ef39b2e9bf/opener/src/lib.rs#L204). Using the lynx browser, links don't open for me. Changing stdout to the default of `inherit` causes the browser to open properly.

@japrogramer could you share what distro, deskto

[2019-10-20 05:50] japrogramer commented on #1125
@Seeker14491 I am using arch Linux, sway wm and Firefox.

[2019-10-20 14:05] #2068 closed, assigned to nobody

[2019-10-20 14:28] infinity0 commented on #835
@kinnison which platforms other than Debian manage to package rustup?

- [fedora 0 results](https://apps.fedoraproject.org/packages/s/rustup)
- [gentoo 0 results](https://packages.gentoo.org/packages/search?q=rustup)

[2019-10-20 15:29] kinnison commented on #835
@infinity0 I'm aware of Arch, Void/Alpine, and Nix at least.  Someone tried to package it for Chocolatey (Windows) and at one point there was a threat of an msys one though I've not spotted that for a while.

[2019-10-20 15:47] #2004 closed, assigned to nobody

[2019-10-20 16:41] infinity0 commented on #835
Fair enough. Those platforms have less strict packaging policies than Debian/Fedora/Gentoo however.

[2019-10-20 16:43] infinity0 commented on #835
Not to imply that it's against Debian policy to package rustup without it being on crates.io, it's just that we've developed automated tooling (with the policy in mind) to work with crates.io and it's some extra work to make it work with a github git repository. Not sure what the situation is with Fedora/Gentoo.

[2019-10-20 17:56] cstyles opened #2076 "`rustup doc` can't distinguish between keywords and primitives with the same name"
**Problem**
First of all, I just want to say that I really like the recent addition of topics to the `rustup doc` feature! While playing around with it, I noticed that if I run `rustup doc fn`, it brings up the documentation for the keyword `fn`. However, there's also a primitive `fn` and I can't figure out any way to open that documentation page specifically. Am I missing something or is it just

[2019-10-20 20:55] kinnison commented on #835
As a `rustup` author *and* as a Debian Developer, I'd personally not want `rustup` packaged for Debian because Debian's cycles are way too long for `rustup` and people come to expect the new features which unless whatever has replaced "volatile" took it on, people would be annoyed by the packaged version.

[2019-10-20 20:58] kinnison commented on #2076
I'm not sure I want to add more flags, but I also don't know how we'd distinguish them oherwise.  This is an interesting idea, but as you say it's not terribly hard for someone to navigate to the other concept.  I've re-labelled this help-wanted and enhancement rather than bug.

[2019-10-20 22:55] infinity0 commented on #835
It's easy to keep any package in Debian Experimental or Debian Unstable with an RC bug that blocks it from entering Debian Stable, this is the standard option for unstable user-facing tools like rustup.

[2019-10-21 09:16] kinnison commented on #835
That's fair.  At this time, publishing to crates.io would create a burden on `rustup` which we do not want (either we'd have to restructure into one crate, or else publish library crates which we have no intention of supporting the API of) people would expect `cargo install rustup` to work, which we do not want to have to deal with, etc.  I guess for Debian, either you come up with a way to suppor

[2019-10-22 01:36] foriequal0 commented on #2070
Thank you for your reply. I understand that you prefer the explicitness for the command.
Then, would you let me know what you think about the `rustup show`'s behavior? It automatically installs toolchains driven by a directory override. Was it intended behavior?

[2019-10-22 02:50] Seeker14491 commented on #1125
I've opened https://github.com/Seeker14491/opener/issues/4 to track this bug.

[2019-10-22 18:37] kinnison commented on #2070
Basically whenever `rustup` tries to find a toolchain it has *implicitly* been told should exist, it will force an installation if it cannot find it.  Thus `cargo build` will automatically install a toolchain where needed, etc.  `rustup show` happens to need to find the active toolchain in order to print out its version information, hence it ends up installing it.  It is intended behaviour, yes.

[2019-10-23 08:10] DarkKirb opened #2078 "rustup update doesn't find latest nightly if today's is not available"
**Problem**
`rustup update` does not find the latest nightly if the current one is not available.

when i run `rustup update` this happens:

[code]

I expect rustup to find the 2019-10-21 nightly, which exists according to [the component history page](https://rust-lang.github.io/rustup-components-history/x86_64-apple-darwin.html).

**Steps**

1. have a rustup managed nightly toolchain older than 2

[2019-10-23 08:23] Erk- commented on #2078
I just tried to update as well and it seems to be selecting the 2019-10-20 nightly for me as well.
[code]

[2019-10-23 08:24] DarkKirb commented on #2078
i just tried to install the nightly manually and rustup is picking up the correct nightly. It's just that the nightly is not labelled correctly.

[code]

[2019-10-23 08:24] #2078 closed, assigned to nobody

[2019-10-23 18:21] kinnison commented on #2078
For your future reference: because of when nightly builds begin, and when they finish, the compiler's date and the channel date will almost always differ by 1 day.

[2019-10-23 18:33] #1498 closed, assigned to nobody

[2019-10-24 05:48] popzxc opened #2081 "Unable to add component `rust-src` with `rustup` 1.20.2"
**Problem**
I have `rustup` 1.20.2 installed with `complete` profile.

When I try to do:

[code]

I get the following error:
[code]

**Steps**
1. Install `rustup` 1.20.2 and use complete profile.
2. Type `rustup component add rust-src`

**Notes**
<details>
<summary>`rustup` metadata:</summary>

[code]
</details>

[2019-10-24 05:49] johanlindfors commented on #939
This happened for me as well on my Windows device just now, trying to update to latest stable. Even after restarting the computer (which pretty much works for fixing anything) the error occurred. I ended up deleting all of the folders in the toolchain directory, then running the update process again. Success!

[2019-10-24 07:50] kinnison commented on #2081
I have just installed 1.38.0 freshly for the same target and I can `rustup component add rust-src` into it.

Could you please find and attach `~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/multirust-channel-manifest.toml` so that I can take a look and see if that has been damaged?

[2019-10-24 07:57] popzxc commented on #2081
Hello, no problem, here it is.

[Uploaded](https://github.com/rust-lang/rustup.rs/files/3766299/multirust-channel-manifest.toml.txt) (renamed to `.txt` because github doesn't allow to attach `.toml` files`)

[2019-10-24 13:06] faern opened #2082 "'--default-toolchain none' later forces i686 download+install on Windows"
**Problem**
When installing rustup with `--default-toolchain none` and later install a toolchain I get `i686-pc-windows-msvc` even if I specify `--default-host x86_64-pc-windows-msvc` when installing rustup and `--target x86_64-pc-windows-msvc` when installing the toolchain.

The problem does not exist if I specify `--default-toolchain stable` directly to the rustup install. But I want the backtra

[2019-10-24 19:37] cstyles commented on #2076
The search function for the rust docs allows you to preface a search with something like `fn:` to restrict the search to just functions. This also works with `mod`, `struct`, `enum`, `trait`, `type`, `macro`, `const`. Perhaps we can do something like that here?

https://github.com/rust-lang/rust/blob/8e0007f829661e57d008d2e908c95f6e84b04b25/src/librustdoc/html/layout.rs#L134-L145

[2019-10-24 20:39] wdhwg001 commented on #2081
[multirust-channel-manifest.toml.txt](https://github.com/rust-lang/rustup.rs/files/3769373/multirust-channel-manifest.toml.txt)

I got similar error in Windows with rust 1.38.0 and rustup 1.20.2:
[code]

[2019-10-24 22:05] wdhwg001 commented on #2081
I solved it by following these steps:

1. Uninstall anything using `rustup uninstall stable` and `rustup self uninstall`.
2. Re-install rust using `rustup-init.exe` but using `default` profile instad of `complete` (and everything else default).

Then it surprisingly works. I guess there might be some issues in the `complete` profile.

[2019-10-25 00:40] mathstuf commented on #1006
Now that profiles have landed, I think this can be closed.

[2019-10-25 02:43] NathanFrasier commented on #1618
I'd like to try my hand at this, if no-one else has volunteered. I can take a closer look and try to dig into the documentation and code next week.

[2019-10-25 04:43] foriequal0 commented on #2070
Thank you for letting me know that. I'll close this issue.

[2019-10-25 04:43] #2070 closed, assigned to nobody

[2019-10-25 06:44] RalfJung commented on #1575
This issue affects not only Linux but also Windows: installing a toolchain without cargo, and then with that toolchain building and running a program that uses `rustc_private` crates, does not work.

[2019-10-25 08:36] kinnison commented on #2082
Wow, that is fascinating.  Definitely something broken there.

If you run `rustup show ` is the default host definitely set to x86_64 ?

It's definitely downloading the wrong toolchain if it is.  And that'd explain things a bit more.

The more info you can give me, the better chance I'll have of reproducing and thence fixing this, so.

1. Which `rustup-init.exe` did you end up with? i686 or x86_64

[2019-10-25 08:45] kinnison commented on #2081
All those channel manifests look right, so I have no idea how it could have happened for one of you, let alone both of you.

I'd *really* appreciate it if you could see if you can come up with a reproduction method from fresh install, because if you can, I'll be able to investigate more effectively.

[2019-10-25 08:46] kinnison commented on #1618
You're welcome to try and sort this, thank you :D  If you want to discuss things, please pop onto the Discord server and talk to us in `#wg-rustup`

[2019-10-25 08:46] kinnison commented on #1006
I concur, thank you for the triage.

[2019-10-25 08:46] #1006 closed, assigned to nobody

[2019-10-25 08:47] kinnison commented on #2076
Oh that is a very interesting approach yes.  This feature was originally written by @dorfsmay so perhaps they might have some input on how to do this?

[2019-10-25 08:50] kinnison commented on #1575
I am unsure of how we ought to try and deal with this?  What are you hoping we could do in `rustup` to resolve your problem?

[2019-10-25 10:19] wdhwg001 commented on #2081
@kinnison Try these steps:
0. Fully uninstall rust in Windows, specifically Windows 10 1903 x64.
1. Download rustup-init.exe form the official website or below.
[rustup-init.zip](https://github.com/rust-lang/rustup.rs/files/3771538/rustup-init.zip)
2. Run it in (your download folder), no need to run as admin.
3. Customize it to "x86_64-pc-windows-msvc", "stable", "complete" and "yes".
4. Install a

[2019-10-25 10:35] popzxc commented on #2081
My actions were completely the same, but for linux.

[2019-10-25 10:47] faern commented on #2082
Sorry for not including the output of `rustup show` the first time. I ran this on a different computer from where I had github access. Yes, `rustup-init.exe` sets the wrong default host indeed:
[code]

1. Hmm. The one I got from `curl -sSf -o rustup-init.exe https://win.rustup.rs/`. But yeah, seems to be a 32 bit binary now when I look into it. When downloading with a browser I get the 64 bit vers

[2019-10-25 13:32] dorfsmay commented on #2076
And I thought we really had been through all possible conflicts 😞!

So the idea would be `rustup doc primitive:fn` vs `rustup doc keyword:fn`? It shouldn't be too difficult to implement.

What should be the default though? What should `rustup doc fn` bring up? My own bias is keyword over primitive but I can value in the opposite. I'd really hate that there is no default and that we'd have to use t

[2019-10-25 18:37] RalfJung commented on #1575
It could set up whatever are the right environment variables to make the program it runs actually find shared libraries of the current toolchain.

When I wrote this issue I was not aware that this setup is typically done by cargo, not rustup. But given the problems it causes to *not* do this (and given how hard they are to debug!), maybe that would be worth doing in rustup as well?

An alternative

[2019-10-26 09:11] kinnison commented on #2081
Wonderful, thank you for that reproduction process.  I shall try it out and see if I can work out what's going on.

[2019-10-26 09:11] kinnison commented on #2082
Okay, I'll now be able to take a look and work out what's going on with `rustup-init.exe` thank you for diagnosing that.

[2019-10-26 09:12] kinnison commented on #2076
If we go based on the sort order of the results of searching the stdlib docs for `fn` then the keyword should win over the primitive.  Do you think you can do a PR @dorfsmay ?

[2019-10-26 09:14] kinnison commented on #1575
Would setting up those variables cause `cargo` any issues?  If not then I agree that'd be a good fix.  if it might upset `cargo` then perhaps warn if any `cargo-*` proxy is used when the `cargo` component is not installed?

[2019-10-26 09:40] RalfJung commented on #1575
I do not know. Maybe @ehuss can help?

[2019-10-26 09:50] kinnison commented on #2082
`rustup-init.exe` won't override an existing installation's default toolchain on installation.  To change that now would be quite a breaking change, but I will introduce a warning to that effect.  If you install from *scratch* with a toolchain set then rustup sets the host, but it is skipping it on `none` case.  I'll add support to set it on that pathway too.

[2019-10-26 09:54] kinnison commented on #2082
Actually thinking about it there're three cases here -- `none` and `fresh install with a toolchain` which both set the host (with my change), so perhaps I ought to make it so that `not fresh install` also updates the default host.  Yeah, it's *that* big a breaking change on second thoughts, and really people could be reasonably expected for it to behave that way.

[2019-10-26 10:36] kinnison commented on #2081
Okay this is something odd about how we install `rust-src` when it's specified by the profile rather than on the CLI.

My analysis thus-far is:

1. It is actually installing `rust-src`
2. `rustup component list | grep rust-src` does not show it as installed, though it *is* there
3. When installed, `rustup component add rust-src` will fail with that bad error message
4. `rustup component remove rus

[2019-10-26 12:28] #2082 closed, assigned to kinnison

[2019-10-26 12:29] #2081 closed, assigned to kinnison

[2019-10-26 15:28] dorfsmay commented on #2076
The three types of docs in stdlib that are not module (which requires ::) are `keyword`, `macro` and `primitive`. The only conflict between those three currently is `fn`. IMO keyword before primitive make sense, but macro before keyword doesn't, should we future proof this a bit? Should we decide on the order and hard code it, rather than use alphabetical order?

[2019-10-26 15:34] kinnison commented on #2076
Yes, let's do that, keyword > primitive > macro I think

[2019-10-26 16:55] dorfsmay commented on #2076
Sounds good. I'll start working on it - not sure if needed or how to assign the issue to myself though.

[2019-10-27 04:59] tesuji opened #2092 "rustup target add should be no op if added target is the same as default-host"

[2019-10-27 11:45] kinnison commented on #2092
As far as I can tell, it is.  Could you please follow up with an explanation of what you see and why it's wrong?

[2019-10-27 12:10] tesuji commented on #2092
Thanks for confirming. It's my mistake when reading error message.
So
https://github.com/rust-lang/rustup.rs/blob/bbb4160e7a90d713f2ef6ac1635774f85eb2ffc7/appveyor.yml#L81-L82
and
https://github.com/rust-lang/rustup.rs/blob/bbb4160e7a90d713f2ef6ac1635774f85eb2ffc7/.travis.yml#L119
is needless?

[2019-10-27 12:21] kinnison commented on #2092
Yeah, in theory it's completely safe for those to be unconditional.

[2019-10-27 13:08] tesuji commented on #2092
Thanks. I opened #2093 to remove those.

[2019-10-27 13:08] #2092 closed, assigned to nobody

[2019-10-29 12:49] #1543 closed, assigned to nobody

[2019-10-29 14:33] CoderYellow opened #2095 "Proxy for rustup-init"
`static.rust-lang.org` has been blocked in China,so I got these errors when I run the install script.But I do set the  `https_proxy` environment variable.

[code]

[2019-10-29 19:03] kinnison commented on #2095
Hi,

In theory our downloader should honour https_proxy settings if they're formatted correctly.  Could you tell me the shape, if not the exact value, of your setting?  e.g. is it of the for `some.ip:port` or of the form `http://some.ip:port` or similar?

[2019-10-29 21:46] kinnison commented on #1050
`rustup-init.sh` honours `$TMPDIR` via the `mktemp -d` command.

[2019-10-29 21:46] #1050 closed, assigned to nobody

[2019-10-29 21:47] kinnison commented on #1042
On the basis there has been no movement since July 2018, I'm going to close this.  If it reproduces on a modern `rustup` then please open a fresh issue.  Thanks.

[2019-10-29 21:47] #1042 closed, assigned to nobody

[2019-10-29 21:48] kinnison commented on #1009
I believe this is now the case, if it's not, please open a fresh issue detailing what failed and what you'd expect.

[2019-10-29 21:48] #1009 closed, assigned to nobody

[2019-10-29 21:49] kinnison commented on #1004
We install a toolchain by default, indeed `stable` by default, along with the documentation.  If the current behaviour of `rustup-init.exe` is insufficient, please open a fresh issue detailing what happens and what you'd prefer to see happen.

Thanks.

[2019-10-29 21:49] #1004 closed, assigned to nobody

[2019-10-29 21:51] kinnison commented on #993
We've been using `reqwest` by default for a while now, but there're still some issues on odd minority platforms which we haven't solved which means curl based downloads are currently still needed.  I'll keep an eye on this.

[2019-10-29 21:55] kinnison commented on #973
I think at this point there's too much history in the source being where it is.  I'd be open to adding a symlink elsewhere, but the "FHS-like" shape is entirely incidental.

[2019-10-29 21:55] #973 closed, assigned to nobody

[2019-10-29 22:00] kinnison commented on #1274
Is anyone still experiencing this?

[2019-10-29 22:02] kinnison commented on #1217
Because this hasn't seen any movement in over two years I'm closing this issue.  There're new tracking issues around the signature verification topic, so go there if you want to join in the current basic plans.

[2019-10-29 22:02] #1217 closed, assigned to nobody

[2019-10-29 22:03] kinnison commented on #1216
Given the new profiles support, nightly backtracking, and various other quality-of-life improvements I'm closing this.  If you still want something around this, please open a fresh issue detailing how you'd like it to behave relative to current functionality.

[2019-10-29 22:03] #1216 closed, assigned to nobody

[2019-10-29 22:04] kinnison commented on #1196
Rust's definition of i686 I think remains one which which expects SSE2, and this isn't something we are likely to change in Rustup.  Even if we targeted something less capable, the stdlib and compiler etc would be unchanged.  As such I'm closing this issue, thank you for your input though.

[2019-10-29 22:04] #1196 closed, assigned to nobody

[2019-10-29 22:05] kinnison commented on #1184
If you're encountering similar errors with a modern rustup, please open a fresh issue.  I'm closing this one as it hasn't seen movement in over two years.

[2019-10-29 22:05] #1184 closed, assigned to nobody

[2019-10-29 22:07] kinnison commented on #1396
I believe we do a better job of handling the recreation of proxies, and with profiles we install the formatters by default.  As such, I'm closing this, but if you have similar issues still then I'd appreciate a fresh issue describing what you do and what you'd like to see happen.

[2019-10-29 22:07] #1396 closed, assigned to nobody

[2019-10-29 22:09] kinnison commented on #1386
I think this is either resolved or else no longer a problem due to user reinstallation.  It looks like a bad host triple 'gnu' rather than a full a triple, which broke the toolchain install, however that should no longer happen.  As such I'm going to close this issue.  If you encounter something similar with a modern rustup then please open a fresh issue for discussion.

[2019-10-29 22:09] #1386 closed, assigned to nobody

[2019-10-29 22:10] kinnison commented on #1350
The example given in the post on 28 May 2018 should have been sufficient.  I'm closing this issue as it has had no movement in over a year.

[2019-10-29 22:10] #1350 closed, assigned to nobody

[2019-10-29 22:12] kinnison commented on #1305
I think this is resolved by the self-update behaviour described above.  As such, I'm closing this issue.  If problems remain then please file new issues describing them.

[2019-10-29 22:12] #1305 closed, assigned to nobody

[2019-10-29 22:13] #2057 closed, assigned to kinnison

[2019-10-30 04:00] NathanFrasier commented on #1618
Found more up to date documentation on the registry keys involved: https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key
Looks like some key names have changed since 2006, do we have a specific backwards compatibility target for windows? If so, that informs my testing for what registry keys we need.

[2019-10-30 04:44] retep998 commented on #1618
Rust has a minimum *host* requirement of Windows 7 (it can *target* farther back than that), so that is as far back as you'd have to test anything.

[2019-10-30 08:58] kinnison commented on #1618
Rustup is clearly uninterested in running on anything which rustc cannot run on; so Windows 7 is the oldest we care about from this perspective.

[2019-10-31 05:15] ehuss commented on #1575
So just to summarize:

When using a toolchain that is missing cargo, rustup has a [fallback mechanism](https://github.com/rust-lang/rustup.rs/blob/e44868f0f3560da2400d8e34c792f5402798b528/src/config.rs#L600-L606) to use other toolchains.  When this happens, the LD_LIBRARY_PATH points to the fallback toolchain, which is probably not what you want.

Can you try changing [this line](https://github.co

[2019-10-31 07:54] kinnison commented on #1575
Thanks for that @ehuss - @RalfJung are you in a position to try a `rustup` build with the patch suggested or do you need me to prepare one for you to try?

[2019-10-31 08:09] jo-so opened #2101 "Use symlink for zsh completion _cargo"
**Describe the problem you are trying to solve**

Stay up to date with zsh completion for *cargo*.

**Describe the solution you'd like**

[code]

**Notes**

[code]

[2019-10-31 08:41] RalfJung commented on #1575
Yeah I can try that, though probably not before the weekend.

[2019-10-31 14:17] MarinaGamal opened #2102 "Rust not working with docker files"
**I am trying to run the hyperledger indy demo but when trying to build, an error rises in the docker file where rust is downloaded**

`rror[E0119]: conflicting implementations of trait `std::convert::From<&>` for type `types::to_sql::ToSqlOutput<'>`:
  --> /home/indy/.cargo/registry/src/github.com-1ecc6299db9ec823/rusqlcipher-0.14.6/src/types/to_sql.rs:26:1
   |
18 | / impl<'a, T: ?Sized> From<&'

[2019-10-31 14:59] kinnison commented on #2102
Hi Marina,

I'm not sure that I can help you with the SQL content itself, but if you're trying to affect the version of Rust in your docker container, I'll need to know how the docker file is constructed in order to help you.  Could you attach the dockerfile itself, or point me to a repo where it's constructed?

[2019-10-31 15:01] kinnison commented on #2101
The risk with this approach is that while it does get you updates when the toolchain is updated, if you uninstall that toolchain the symlink is broken.  Better would be if the zfunc file could determine the input to source rather than it being a symlink, no?

[2019-10-31 15:02] #2063 closed, assigned to nobody

[2019-10-31 15:06] kinnison commented on #1570
What would you expect `rustup` to do in this situation?  simply give you no output?

[2019-10-31 15:06] nertpinx opened #2103 "Add a way to synchronize components to those in a profile"
**Describe the problem you are trying to solve**

When selecting or changing a profile it would be helpful to have a way to "synchronize" the list of installed components to those that are part of the profile.  That means than when selecting a (for example) default profile with the new switch two things would happen:
- components that are installed, but are not part of the selected profile would b

[2019-10-31 15:07] kinnison commented on #1500
I believe this was fixed with #2088

[2019-10-31 15:07] #1500 closed, assigned to nobody

[2019-10-31 15:11] kinnison commented on #2103
Profiles are currently only meant to be used at fresh toolchain installation time.  The first of your suggestions I'd council against, but the second is not entirely unpossible.  It'd require some careful threading through the code though because component removal is only done explicitly currently, rather than as part of an update process.

[2019-10-31 15:20] nertpinx commented on #2103
@kinnison For example with an extra parameter which would control this behaviour (i.e. would make it explicit)?

[2019-10-31 15:29] kinnison commented on #2103
It's more that the toolchain install/update process is given: 1. an optional profile, 2. a set of explicit components to add, 3. a set of explicit components to subtract.  Then if the profile was given in 1, 2 is augmented with the set of components in that profile.  Finally the current set of components (empty on fresh install) is synchronised by removing the explicit-delete and then adding the e

[2019-10-31 16:02] jo-so commented on #2101
Daniel Silverstone hat am Do 31. Okt, 08:01 (-0700) geschrieben:

How does this broken symlink harm? It means, the completion is no longer
available, when you've uninstalled the toolchain. I see the other way
around more as a problem, because the stale completion might override a
_cargo completion shipped with a system package.

What's the difference to a broken symlink? For both you get no comple

[2019-10-31 17:43] cramertj commented on #1570
Ideally it'd list what components of the toolchain were present just as non-custom toolchains do-- e.g. my prebuilt toolchain dir for Fuchsia includes all of the following:
[code]
I don't know how feasible this is, but essentially I want using a custom toolchain to "just work" with other existing tools just like using a rustup-provided toolchain would.

[2019-11-01 03:43] laurencechan opened #2104 "rustup toolchain install stable-x86_64-pc-windows-gnu failed"
**Problem**
when I try to debug my rust code in clion, I got this error:
![image](https://user-images.githubusercontent.com/17173306/68000777-5bfe4900-fc9c-11e9-9e94-7a1bd8ffe8ce.png)

so I use this command to install GNU toolchain in windows 10 , and I got this error msg:
[code]

**Notes**

Output of `rustup --version`:
`rustup 1.20.2 (13979c968 2019-10-16)`

Output of `rustup show`:
[code]

[2019-11-01 08:21] kinnison commented on #2101
Hmm, I see your point; though I also note that this provides completions for only one `cargo` version, rather than it being a solution which can grok which `cargo` would be invoked and provide the completions for that one specifically.  I wonder if the zsh completions could be extended to handle that, thereby making them more generic ?

[2019-11-01 08:27] kinnison commented on #1570
Okay, so this is partially plausible.  The issue I have is that `rustup {target,component} {add,remove}` are impotent on custom/linked toolchains, thus having `list` be magical might be confusing for some people.  One option could be to introduce `rustup show proxies [--toolchain X]` which would list all the proxies `rustup` has installed, and indicate for each if the toolchain in question has the

[2019-11-01 08:29] kinnison commented on #2104
"os error 10013" is a Windows code for socket permission denied.  It seems like perhaps your antivirus or firewall is preventing `rustup` from downloading things?

[2019-11-01 12:45] malaire opened #2106 "Installer modifies ~/.profile which is ignored for graphical terminals"
**Problem**
When running installer using `curl https://sh.rustup.rs -sSf | sh` in Debian 10 "Buster", installer adds a line to modify `PATH` in `~/.profile`. That file is not used at all in graphical terminals, so this is wrong. I would expect modified `PATH` to be active in both login shells and graphical terminals.

**Steps**
1. run `curl https://sh.rustup.rs -sSf | sh` accepting defaults
2. res

[2019-11-01 16:03] kinnison commented on #2106
I agree that this isn't ideal. We actually modify any/all of:

* `.profile`
* `.bash_profile` (if it exists)
* `.zprofile` (if zsh)

I suppose in theory we should actually edit `.bashrc` and `.zprofile` instead. Hmm.

[2019-11-01 16:05] kinnison commented on #2106
If someone wants to work on this, I'd suggest we ought to *UNDO* the change to `.profile` at the same time as adding to `.bashrc` so that might need some clever upgrade processing in `src/cli/self_update.rs`

Come along to the Discord and/or discuss here for further input.

[2019-11-01 17:22] Rantanen commented on #2067
Travis provides Rust environments for Nightly with:
[code]
This is great, unless you happen to require specific components for your builds. If you do, you'll need to uninstall the existing Rust version to be able to ensure rustup can install something that fulfills your requirements.

This is from Intercom's current `.travis.yml`:

[code]

`--allow-downgrade` would simplify this a lot!

[2019-11-01 19:46] c3st7n commented on #2106
Am I correct in understanding that you are suggesting the installer actively removes the export line that adds the cargo bin directory to `PATH` in `.profile` if present and the user also has a `.bashrc` file?

[2019-11-02 08:47] dhardy commented on #1638
Don't know if it's related, but I just had to do `touch /home/dhardy/.cargo/bin/rustup-init` to make `rustup self update` succeed (previously the file didn't exist). I was updating from a fairly old install, possibly from before this patch hit.

[2019-11-03 09:12] jo-so commented on #2101
Daniel Silverstone hat am Fr 01. Nov, 01:22 (-0700) geschrieben:

Do you know any other completion that does this? I'm not aware of any
other command where Zsh distinguishes between version of *invoked*
command.

I think, this would get very annoying when completing commands for ssh
like `ssh server cargo …`. Zsh would call out for the cargo multiple times
to get the version for the right completi

[2019-11-03 12:53] RalfJung commented on #1575
Yes, that seems to work exactly as I hoped. :) Thanks a lot! I will prepare a PR.

[2019-11-03 16:47] kinnison commented on #2106
I guess if we're going to add it to `.bashrc` then either it shouldn't exist in `.profile` or else we need to have a cleverer line to add which only adds `$CARGO_HOME/bin` if it's not already in the `PATH`.

[2019-11-03 16:48] kinnison commented on #1638
@dhardy I don't think this is related no.

[2019-11-03 16:49] kinnison commented on #2101
I wasn't sure what zsh could do or not.  If people believe this will be better then I guess I'll merge it.

[2019-11-03 16:53] #1575 closed, assigned to nobody

[2019-11-03 19:03] hsivonen opened #2109 "Clippy unavailable for aarch64 Linux nightly"
**Problem**

Switching to nightly Rust fails an aarch64 Linux, because clippy is unavailable.

**Steps**
1. Install rustup on aarch64 Linux by selecting the default channel (stable).
2. `rustup default nightly`

Actual results:
[code]

**Notes**

Output of `rustup --version`: `rustup 1.20.2 (13979c968 2019-10-16)`
Output of `rustup show`:
[code]

[2019-11-03 19:04] hsivonen commented on #2109
Additional info: During the installation of stable Rust, this showed up in the output:

[code]

[2019-11-03 22:23] kinnison commented on #2109
Hi @hsivonen

Your target is not tier one, and as such it's very unlikely that nightly will ever be able to satisfy the `default` profile.  You can either force the installation of nightly by passing `--force` during installation, or you can switch to the `minimal` profile with `rustup set profile minimal` which is much more likely to be met by your target (which is tier two).

The additional outp

[2019-11-03 22:23] #2109 closed, assigned to nobody

[2019-11-04 18:08] tesuji opened #2110 "Inform what version rustup was updated from"
Currently `rustup update` outputs:
[code]

It would be nice if rustup could print out which version it was updated from:
[code]

## Meta
rustup -V: rustup 1.20.1 :: 1.20.0+14 (4eadfff3d 2019-10-15)

[2019-11-04 18:31] HarpreetSandhu commented on #953
After compiling all above comments, I used following command and  it worked perfectly with previously installed rust.
curl https://sh.rustup.rs -sSf | RUSTUP_INIT_SKIP_PATH_CHECK=yes sh

[2019-11-04 18:56] NoraCodes opened #2111 "rustup-init.sh does not correctly detect host string for Pinebook Pro"
**Problem**
On Pinebook Pro Debian stretch (9.9), `rustup-init.sh` tries to download `rustup-init` for `aarch64`, but that doesn't work; the CPU is ARMv8. Even once I downloaded an `armv7` `rustup-init`, it guessed the wrong target triple.

**Possible Solution(s)**
Instead of just checking `uname`, check the actual `ld` library; on my machine this is only `ld-linux-armhf.so.3` and therefore it is

[2019-11-05 07:57] kinnison commented on #1984
With Rust 1.39.0 the `Instant::saturating_duration_since()` method will be stabilised which we might be able to use in whatever dependency it turns out was panicing.  If we can ever recreate it.

[2019-11-05 09:16] kinnison commented on #2111
Can you please confirm the output of `uname -s`, `uname -m` and `dpkg --print-architecture` ?

[2019-11-05 14:05] NoraCodes commented on #2111
`uname -s`: `Linux`
`uname -m`: `aarch64`
`dpkg --print-architecture`: `armhf`

[2019-11-05 15:21] chansuke commented on #2110
Hi, I would like to take this issue

[2019-11-06 14:53] kinnison commented on #2111
Okay, that's fascinating.  I suppose it might be similar to someone running an `amd64` kernel and a 32 bit userland, but without running it under a 32 bit personality.  Hmm.

Perhaps we could add a check via `getconf LONG_BIT` which should return `32` for you (if you can confirm?)

[2019-11-06 14:56] kinnison commented on #2110
Hi @chansuke,

I'm sorry it took so long to respond.  Thank you for being interested in this enhancement request.  You should pop along to our discord: https://discord.gg/cKdYFVz (`#wg-rustup`) and we can discuss how you go about this, if you're not confident to go ahead without guidance.

Thanks again, and welcome to Rustup.

D.

[2019-11-06 15:06] NoraCodes commented on #2111
LONG_BIT does indeed report 32, yeah.

[2019-11-06 15:10] tesuji commented on #2111
But is `getconf` portable enough?

[2019-11-06 19:23] kinnison commented on #2111
I'd only be suggesting the use of `getconf` when diagnosing a linux system which reports `amd64` or `aarch64` since those are the natively bi-arch options I think.  Others need personality switches IIRC
So it'd be a disambiguation step, not something run everywhere.  As for where it comes from -- on Debian it's in `libc-bin` so I'm guessing it's part of the set of things glibc tends to have.  No i

[2019-11-06 19:23] kinnison commented on #2111
@NoraCodes Short term fix for you would be to download `rustup-init.sh` and then run it with: `linux32 sh rustup-init.sh` -- that should get you the right rustup etc.

[2019-11-07 00:51] NoraCodes commented on #2111
Thank you, that worked well.

[2019-11-07 08:18] kinnison commented on #2111
Okay cool, so @NoraCodes can at least get on with Rust on her Pinebook, and I have an idea for how we might resolve this for future users.

[2019-11-07 08:18] kinnison commented on #2111
If anyone wishes to approach this, please let me know here, or via Discord in the `#wg-rustup` channel.

[2019-11-08 08:34] itfunly opened #2113 "unable to update for missing 'clippy', 'lldb-preview', 'miri'"
**Problem**

Try to install rls use rustup update report error: unavailable for download

**Steps**

1. execute` rustup update` report:
info: syncing channel updates for 'stable-x86_64-pc-windows-msvc'
373.0 KiB / 373.0 KiB (100 %)  41.6 KiB/s in 10s ETA:  0s
info: latest update on 2019-11-07, rust version 1.39.0 (4560ea788 2019-11-04)
error: component 'rust-src' for target 'x86_64-pc-windows-msvc

[2019-11-08 10:06] itfunly commented on #2113
vs code install rls as :

info: component 'rust-analysis' for target 'x86_64-pc-windows-msvc' is up to date
error: component 'rust-src' for target 'x86_64-pc-windows-msvc' is unavailable for download for channel stable
exit code: 1

error: component 'rust-src' for target 'x86_64-pc-windows-msvc' is unavailable for download for channel stable
exit code: 1

[2019-11-08 14:36] kinnison commented on #2113
This is a bug in how profiles work in 1.20 when installing the `complete` profile.  If you `rustup component uninstall rust-src` and then `rustup component install rust-src` it'll be fixed.

[2019-11-09 05:09] itfunly commented on #2113
@kinnison yes, you are right.

[2019-11-09 08:56] kinnison commented on #2113
Cool, I'm glad that worked for you.  I'll endeavour to ensure that the next rustup release can cope with the snafu :D

[2019-11-09 12:04] #2102 closed, assigned to nobody

[2019-11-09 12:07] kinnison commented on #1994
@cdhunt Did you get any further with this?

[2019-11-09 12:08] kinnison commented on #1989
On the basis that this is a limitation of Rust vs. the older CPU in question in this issue, I'm going to close this.  If Rust (and our dependencies) gains support for coping with these CPUs in the future, we'll gain support in Rustup automatically.

[2019-11-09 12:08] #1989 closed, assigned to nobody

[2019-11-09 12:09] kinnison commented on #1987
What more do we need to solve this?  Is it worth it if we're considering migrating the website to `rust-lang.org` ?

[2019-11-09 12:10] kinnison commented on #1967
I wonder if the OP has encountered this in any more recent `rustup`?

[2019-11-09 12:19] kinnison commented on #1960
I can't speak to the space usage in `~/.cargo` but `target/` now maxes out around 3.75G which is hopefully good enough.

[2019-11-09 13:28] bjorn3 commented on #1960
3.75GB is still a lot, but it is much better.

[2019-11-09 14:48] mazjindeel commented on #1793
Uninstall and reinstall fixed the following issue for me on Mac as well
[code]

[2019-11-09 14:53] kinnison commented on #1960
It's a lot, but not beyond the pale.  I'm going to close this now, since it's no longer > 100G :D

[2019-11-09 14:53] #1960 closed, assigned to nobody

[2019-11-09 16:25] chansuke commented on #2110
@kinnison Thank you. I will check discord channel.

[2019-11-10 00:47] mathstuf commented on #1967
I haven't seen it again, but is there any cause for thinking it has been fixed? I suspect this is more a rare occurrence than something I could reliably check for.

[2019-11-10 07:18] kinnison commented on #1967
@mathstuf I was wondering based on @rbtcollins 's question about whether we'd released the threaded IO code or not.  Since we have done so since August, I was hoping that might have fixed it.  If you've only ever seen this once rather than reproducibly, then I guess this stays open until and unless we know we've done something we think fixes such an issue.  Thanks.

[2019-11-10 07:38] kinnison commented on #2076
@dorfsmay I appreciate that life gets in the way sometimes, but I was wondering if you'd made a start on this?  I'm currently working my way through what I might want finished before the next release and this is on the list :D

[2019-11-10 07:41] kinnison commented on #2113
I believe that #2115 ought to fix this.

[2019-11-10 07:47] #1854 closed, assigned to nobody

[2019-11-10 07:48] kinnison commented on #2071
Hi @pietroalbini

We've merged some code to remove spurious or broken `.partial` files and to instruct the user to try again.  Could you possibly have a go with a current master of `rustup` (I can show you how if you don't know) and see if this behaves more usefully for you now?

[2019-11-10 07:51] kinnison commented on #1849
Hi @parampaa2

Could you tell me if you're still having this problem, or if you resolved it?  If you're still having it, could you tell me if any of the files called `manifest-...` in the toolchain directory under `lib/rustlib` exist but are empty (zero size) ?

If you run `rustup show` it'll tell you where Rustup's home is.  Look in the toolchains directory in there.

[2019-11-10 07:59] kinnison commented on #1723
@bjorn3 Did you ever manage to reproduce this -- I think it's related to one or more of the manifest files becoming corrupted (or zero-size) in the toolchain's `lib/rustlib` directory.

[2019-11-10 08:00] kinnison commented on #1717
I've re-checked and cloudfront currently still don't support TLS1.3

[2019-11-10 08:00] #1676 closed, assigned to nobody

[2019-11-10 08:09] kinnison commented on #1574
I'm not sure that there's really much to do here, what would you suggest the error message might look like @mijoharas ?

[2019-11-10 08:11] kinnison commented on #1573
Importantly this is (a) not a panic and (b) quite a clear error message.

What are you hoping that rustup would do @DuckerMan ?

[2019-11-10 08:12] kinnison commented on #1567
I believe this was a component rename related issue so I'm going to close it now.

[2019-11-10 08:12] #1567 closed, assigned to nobody

[2019-11-10 08:13] kinnison commented on #1567
(specifically that nightly had done the rename wrongly)

[2019-11-10 08:18] kinnison commented on #1544
The component list now (since February) indicates if a component is installed or not.  I believe that with that UX improvement, this is now resolved.

[2019-11-10 08:18] #1544 closed, assigned to nobody

[2019-11-10 08:21] kinnison commented on #1539
I believe that this won't happen on beta any more thanks to process changes; but I wonder if there's a way we can reproduce this now.  Does anyone know if we have the beta manifests from the past?

[2019-11-10 08:22] #1537 closed, assigned to nobody

[2019-11-10 08:24] kinnison commented on #1533
These days the messages are:

[code]

As such, I consider this resolved.

[2019-11-10 08:24] #1533 closed, assigned to nobody

[2019-11-10 08:25] kinnison commented on #1531
This was a case of nightly missing on the target architecture.  This isnt something rustup can directly resolve, though we do now support backtracking on nightly which should reduce the impact of this kind of situation.

[2019-11-10 08:25] #1531 closed, assigned to nobody

[2019-11-10 09:37] kinnison commented on #1514
This is a bug/misfeature in Cargo not really `rustup` though we might be able to do something to allow the two tools to collude in deciding which proxies are satisfied.

[2019-11-10 09:38] kinnison commented on #1487
I think that current behaviour, especially with profiles and nightly backtracking, solves the intent of this issue.

[2019-11-10 09:38] #1487 closed, assigned to nobody

[2019-11-10 09:43] kinnison commented on #1458
I'm not sure that this has been reproduced in the past 6 months.  Does anyone have any way to reproduce this which they've not shared yet?

[2019-11-10 09:43] kinnison commented on #1458
Oops, mis-clicked

[2019-11-10 09:45] kinnison commented on #1423
Do you still want a `--explain` or similar, or is the `rustup show` behaviour sufficient?

[2019-11-10 09:53] kinnison commented on #1407
Currently the error you get is:

I'm not sure I'd want us to "guess" the user meant `1.24.0` or even to start fetching channel manifests from 0.. until we find the latest patch for a given release because that's a lot of assumed work.

If I said `rustup toolchain install 1.xx` and it installed 1.xx.0, should it have created the toolchain `1.xx.0` or should it be called `1.xx` still -- if it's the

[2019-11-10 09:55] kinnison commented on #1397
The behaviour here comes from the fact that the default toolchain was uninstalled.  Rustup forces the default toolchain to exist in many places semi-automatically.  This is done to reduce surprise in a number of places, but has the side-effect of being surprising here.  Perhaps we need an `info: Default toolchain not installed, attempting to install...` which would make it clear why it's happening

[2019-11-10 10:02] kinnison commented on #1307
Thanks for your report, but without the ability to reproduce this, and without the exact information on the state of that toolchain, I don't think we can get any further with this.  As such I'm closing this issue.  if you encounter something similar in the future, please open a fresh issue and ensure you do not destroy your damaged toolchain install so that we can investigate together.

[2019-11-10 10:02] #1307 closed, assigned to nobody

[2019-11-10 10:04] kinnison commented on #1288
Is this still desired?

[2019-11-10 10:05] kinnison commented on #1282
I believe this has come up again, and we ought to see if we can fix it.  cf. #2111

[2019-11-10 10:07] kinnison commented on #1243
This appears to be related to #2071 and #1889 so I think current master should have fixed it.

[2019-11-10 10:26] kinnison commented on #1138
Hi @daboross

Are you still interested in having this kind of setup supported better by `rustup`?

If so, I could do with a set of specific use-cases and how you would expect them to behave, so that I can set up some tests and work out what needs to be handled.  If not, you can just close this issue since noone else has chimed in as being interested yet.

D.

[2019-11-10 10:29] kinnison commented on #1106
We have `rustup check` which will check for updates to installed toolchains and report what toolchains would try and update if you were to run `rustup update`.  If this is sufficient to resolve the OP's issue given our reluctance to attempt an update on every use, then please close.

[2019-11-10 10:31] kinnison commented on #1077
I believe this was resolved by #2088

[2019-11-10 10:31] #1077 closed, assigned to nobody

[2019-11-10 10:38] kinnison commented on #933
For this to be properly managed, we'd need a list of additonal proxy names stored in the settings, and then manage those properly on self update etc.  Is this something that remains of interest/value?

[2019-11-10 10:43] kinnison commented on #906
Does this remain desirable?  Modern channels are fine, and while there are some important users who install older toolchains, I don't think it's very common these days.

[2019-11-10 10:44] upsuper commented on #1407
I think a good start would be just say "maybe you mean 1.24.0", it would at least reassure user that it does indeed support installing a specific version, rather than leaving them doubt their impression.

The error message still seems to be just

which I don't think it can be said "good enough". It's like rustc telling user that there is an error in their code without telling them where it is.

[2019-11-10 10:46] upsuper commented on #1407
I think I have made several suggestions in this post, and don't think it makes sense to open a new one for mostly the same issue. If you insist that this is not a problem, I'm not going to argue.

[2019-11-10 11:37] kinnison commented on #1407
Your point that it doesn't help the user is well received.  I will see if I can improve matters a bit...

[2019-11-10 11:39] kinnison commented on #1407
@upsuper It'd be super-handy if you could look at the examples on #2117 and tell me if that'd be good enough

[2019-11-10 11:42] kinnison commented on #901
I'd appreciate input on whether or not #2116 is sufficient

[2019-11-10 11:46] upsuper commented on #1407
Thanks for the PR.

I didn't think about even checking the named channels, but it indeed makes sense. The suggestion for `x.y.0` should be good enough to inform user what to try, although I guess the wording could probably be bikeshedded a bit.

[2019-11-10 11:58] ralfbiedert opened #2118 "Bundle cheat sheet with "rustup docs""
**Describe the problem you are trying to solve**
In the repo of the Rust Language Cheat Sheet, [an issue has been opened ](https://github.com/ralfbiedert/cheats.rs/issues/75) that the content of the site [cheats.rs](https://cheats.rs) should be bundled and be accessible via `rustup docs`.

The underlying problem to solve would be:

- The cheat sheet would always be available offline (e.g., on flig

[2019-11-10 11:59] kinnison commented on #1407
I want to avoid bikesheds until someone actively complains :D  I'll take that as an approval assuming the CI passes, thank you.

[2019-11-10 12:13] TheRadioGuy commented on #1573
I think rustup should open docs because it doesn't open it now.
Rustup docs doesn't depend on working directory.

[2019-11-10 14:37] toastedcornflakes commented on #901
#2116 is what I had in mind when I raised this, thanks!

[2019-11-10 16:11] dorfsmay commented on #2076
I was trying to replace the current test for topical doc by parametrized tests, one stand-alone test per data point, but it turned out to be a lot more complicated than I expected. I should be able to wrap this up within the next few days, I can re-visit parametrized tests later as a separate issue.

[2019-11-10 16:17] kinnison commented on #2118
The documentation that `rustup doc` launches is found in the `rust-docs` component, rather than being bundled by `rustup` itself.  It would require the core team probably to agree to add stuff to that.  if you do, then we can teach `rustup doc` a new flag to open the cheat sheet specifically.

[2019-11-10 16:18] kinnison commented on #1573
Because the CWD is unavailable, `rustup` is unable to determine if a toolchain override exists.  Since the documentation is toolchain specific, this *is* a situation in which `rustup` cannot really do anything objectively correct other than to error out.  What would you expect it to do?

[2019-11-10 16:19] kinnison commented on #901
Thank you.

[2019-11-10 16:19] #901 closed, assigned to nobody

[2019-11-10 16:20] kinnison commented on #2076
That sounds amazing, thank you for your work on this. :beers:

[2019-11-10 21:43] boustrophedon commented on #1106
I don't really see this as a problem anymore tbh. Having `rustup check` is probably good enough. Closing the issue.

[2019-11-10 21:43] #1106 closed, assigned to nobody

[2019-11-11 00:18] daboross commented on #1138
Sounds good!

The most pressing issue is particularly if an override is created for a directory, and then the directory is turned into a symlink, there is no way to remove the override.

The following commands should create and remove an override:

[code]

Currently, the above script outputs:

[code]

Ideally, `rustup remove --path $PWD/dir2` should find and remove the override set for `dir2`, and

[2019-11-11 07:33] kinnison commented on #1138
Thank you for that excellent description.  From there I'm sure either I or someone else can come up with a test case and thence some useful fixes.

[2019-11-11 07:58] #2113 closed, assigned to nobody

[2019-11-11 07:58] #1407 closed, assigned to nobody

[2019-11-11 08:07] #2041 closed, assigned to nobody

[2019-11-11 08:16] kinnison commented on #2076
I believe this is resolved by #2119

[2019-11-11 08:16] #2076 closed, assigned to dorfsmay

[2019-11-11 09:27] kinnison commented on #1282
I have investigated and I believe that this should be working with current rustup.  Could you please double-check @shaleh and let me know.  If it's not working, can you please add `-x` to the sh cmdline (i.e. `sh -x rustup.sh ...`) and paste from where it looks at `/proc/self/exe` to where it starts downloading the installer please?

[2019-11-11 09:29] kinnison commented on #2111
@NoraCodes Could you please try https://raw.githubusercontent.com/kinnison/rustup.rs/kinnison/32bit-linux-on-64bit-kernel/rustup-init.sh which contains the little fix I think we need for this?  All you need do is download it, and run it and see if it fetches the right installer.  If it doesn't, please run it `sh -x rustup-init.sh` look for where it starts to inspect `/proc/self/exe` and copy/paste

[2019-11-11 11:11] payload commented on #2067
I'll look into it during RustFest, coordination through rust-lang discord #wg-rustup

[2019-11-11 11:13] emilyalbini commented on #2071
Tested this. The partial file is actually removed after the build finishes, but you have to re-run rustup again manually to actually download the release. It'd be awesome if rustup could just retry the request on its own.

[2019-11-11 12:01] naufraghi commented on #1288
I forgot way I was needing this, I can close and reopen it if I'll have an use-case

[2019-11-11 12:01] #1288 closed, assigned to nobody

[2019-11-11 13:24] kinnison commented on #1589
sparc64 is a tier two *target* but there are no `rustc` or `cargo` builds for that platform released by the rust compiler team so `rustup` makes no sense for that platform.

[2019-11-11 13:25] kinnison commented on #1586
I think this is not a bug in rustup so I'm going to close it.  If I've misunderstood the situation please let me know.

[2019-11-11 13:25] #1586 closed, assigned to nobody

[2019-11-11 13:27] kinnison commented on #1572
On the basis that Rustup uses openssl for accessing https servers, yes this is intentional.

[2019-11-11 13:27] #1572 closed, assigned to nobody

[2019-11-11 13:29] kinnison commented on #1559
The "correct" way would be for your package to set up all the hardlinks for `rustup` in `/usr/bin`.

In addition you should ensure that you build with the `no-self-update` feature enabled so that `rustup` won't try and replace itself which would otherwise go pretty wrong.

However I'd note that `rustup` is not really meant to be packaged by distributions, at least not right now, so your experience

[2019-11-11 13:30] kinnison commented on #1546
I'm assuming this is all done.

[2019-11-11 13:30] #1546 closed, assigned to nobody

[2019-11-11 13:45] kinnison commented on #1502
Hi @iminsightman

I'm really sorry that nobody got back to you before now.  I'm guessing you either solved this for yourself or else gave up on Rust.  I do hope it was the former and not the latter.

Unfortunately Rust toolchains are quite big and while you had a good chunk of space, toolchains can be up to a few gigabytes in size if you have lots selected.  In the *next* release of Rust (so 1.40.

[2019-11-11 13:45] #1502 closed, assigned to nobody

[2019-11-11 13:47] kinnison commented on #1484
Hi @anp and @rofrol

I'm sorry nobody got back to you before now.  Is this something you still would like?

if not, please could you close the issue.  If it's still potentially useful then I'd like to understand your use cases so I can judge the best approach.

Thanks,

Daniel.

[2019-11-11 13:48] Cogitri commented on #1559
Distros have to package rustup in case they support arches rustup doesn't (yet) support though. In Void Linux and Alpine Linux I've done it by patching rustup to make symlinks in `$HOME/.cargo/bin` instead of hardlinks to allow the package manager to update rustup which works for now.

[2019-11-11 13:49] kinnison commented on #1443
This was a bug in Rust's generation of the channel manifest.

[2019-11-11 13:49] #1443 closed, assigned to nobody

[2019-11-11 13:52] kinnison commented on #1424
We've been using reqwest by default for quite a while now without major issue (thanks Sean!) so I think this is closeable.  if you disagree, then shout and I'll reopen.

[2019-11-11 13:52] #1424 closed, assigned to nobody

[2019-11-11 13:53] kinnison commented on #1402
@Manishearth Is this still an issue, or is `rustup run nightly ...` sufficient?

[2019-11-11 13:55] kinnison commented on #1559
@Cogitri If there are platforms for which `rustc` and `cargo` are built and for which we don't provide a `rustup` then it's worth letting us know (in independent issues) so that we can look at providing such builds.

[2019-11-11 13:58] kinnison commented on #1378
I'm not entirely sure that we know for any given platform what to recommend.  If you have some concrete recommendations on what to do here I'd appreciate it, otherwise I think we'll just close this effectively "don't know how to fix" :D

[2019-11-11 13:59] Cogitri commented on #1559
Yup, but e.g. when rust started supporting x86_64-unkown-linux-musl rustup didn't immediately catch up to that IIRC (not sure if it supports it now). Additionally some people prefer their package manager keeping track of as much as possible (without sacrificing the flexibility rustup has).

[2019-11-11 13:59] #1369 closed, assigned to nobody

[2019-11-11 14:11] eminence commented on #1573
Unfortunately the behavior here as regressed slightly.

Previously, rustup gave an error that said `could not locate working directory`, which is pretty clear.  But now that part of the message is gone:

[code]

[2019-11-11 14:11] NoraCodes commented on #2111
I am away from my PBP at the moment but I will do this tomorrow. Thanks for the prompt attention!

[2019-11-11 14:26] kinnison commented on #1559
Fair enough.  We do support musl now I think, but I appreciate there's a delay.

[2019-11-11 14:45] mijoharas commented on #1574
Hi @kinnison. Just re-acquainting myself with this issue, and maybe a better error message isn't the thing needed. I think what was needed might have been some documentation or something.

Knowing this is what solved the issue for me. It allowed me to transition from thinking "is my rustup broken", "did I use the incorrect way of adding a component" to "I am looking at a different channel that the

[2019-11-11 14:49] kinnison commented on #1573
You're right, interesting.  I shall see what happened there.  Thanks.

[2019-11-11 14:53] emilyalbini commented on #1507
I don't think it's still copied. We can start doing that again without any issue though.

[2019-11-11 14:58] anp commented on #1484
Will rustup respect the [minimum Rust version RFC](https://github.com/rust-lang/rfcs/blob/master/text/2495-min-rust-version.md) that was recently approved? If so, I think that would address my main use case.

[2019-11-11 15:00] kinnison commented on #1574
Wow, thanks for the detailed response so quickly.

Determining the available channels might be difficult if they're not currently installed, but perhaps a `nightly` specific extension to the error message to say "Sometimes not all components are available on nightly" would be plausible.  Would that be sufficient?

[2019-11-11 15:02] kinnison commented on #1484
I had not seen that RFC, no right now "no" but it looks very interesting.  If you're sure that would make the most sense, then I think I'll retitle this issue "Consider supporting MSRV in rustup" so we can work out what, if anything, rustup can usefully do to make this possible.

[2019-11-11 15:21] emilyalbini commented on #1507
The file has been updated. @kinnison will work on adding the update command to our release process.

[2019-11-11 15:23] kinnison commented on #1573
We regressed when we added cleanup support.  I've inserted an explicit check and improved the error message slightly:

[code]

[2019-11-11 15:49] eminence commented on #1573
LGTM

[2019-11-11 15:50] #1507 closed, assigned to nobody

[2019-11-11 15:52] #1573 closed, assigned to nobody

[2019-11-11 15:57] mijoharas commented on #1574
That would have solved it for me @kinnison. :+1:

[2019-11-11 16:13] Manishearth commented on #1402
It is!

[2019-11-11 16:13] #1402 closed, assigned to nobody

[2019-11-11 16:14] #1243 closed, assigned to nobody

[2019-11-11 16:14] #1667 closed, assigned to nobody

[2019-11-11 16:14] #2071 closed, assigned to nobody

[2019-11-11 21:18] cdhunt commented on #1994
Not really. I tried a number of methods for installing VS Build Tools. I couldn't find a package that would install `link.exe` and couldn't find a reliable hosted copy of the binary to manually add it.

[2019-11-12 07:51] kinnison commented on #1994
Oh dear.  I wonder who might be able to assist.  I have basically zero Windows knowledge :(

[2019-11-12 08:48] faulesocke commented on #1559
The symlink-patch from @Cogitri works quite nice to give an optimal experience.

[2019-11-12 11:46] #1574 closed, assigned to nobody

[2019-11-12 12:16] Mignet commented on #1455
can someone help me?
![image](https://user-images.githubusercontent.com/1306154/68670981-3cfb9300-0589-11ea-8b1c-512459bd7cc2.png)

[2019-11-12 13:22] konstin commented on #1507
So the resolution is that those two scripts should be identical, currently aren't, but will be in the future? Is there any documentation about this?

[2019-11-12 13:35] cdhunt commented on #1994
@jonathandturner working on https://github.com/nushell/nushell is probably a good contact. I don't know much about C build tools on Windows either.

[2019-11-12 13:38] kinnison commented on #1507
@konstin The `/rustup.sh` script *was* the old shell implementation of Rustup, it's *now* the same as `rustup-init.sh` -- with #2124 we've ensured the next release will also keep them in-sync.  We're likely to start using `https://static.rust-lang.org/rustup.sh` as the canonical installation URL at some point in the near future too.  At that point, that URL will be properly documented once more :D

[2019-11-12 14:45] thedavidmeister commented on #906
@kinnison is what desirable? installing the docs is suuuper slow on mac and windows CI builds (about 10 minutes and can even cause timeouts), even when it doesn't time out it is very expensive for no benefit

[2019-11-12 19:55] kinnison commented on #906
@thedavidmeister Yes, so for modern CI you should be using `--profile minimal` to ensure you're not installing docs.  My point was "is that sufficient, or is it a problem that on older pre-profile channels it would still be slow" ?

[2019-11-12 22:00] thedavidmeister commented on #906
oh right, i see what you're saying

i still need to test it out, i'm using nixos so i'll have to see how this interfaces with the mozilla overlays, but it sounds great

[2019-11-13 10:03] buffstop opened #2127 "Add target x86_64-apple-ios13.0-macabi (Mac Catalyst)"
Apple introduced a new feature called "Mac Catalyst" that aims to enable you to run iOS (actually iPadOS)  applications under macOS.

Apple has introduced a new target "x86_64-apple-ios13.0-macabi" which dependencies have to be build for.

There is not much documentation, thus I am unable to provide more infoermation. Find some [here](https://forums.developer.apple.com/thread/117229) and [here](ht

[2019-11-14 02:24] NoraCodes commented on #2111
Sorry that "tomorrow" became Wednesday :/

In any case, I get an error that `https://static.rust-lang.org/rustup/dist/armv7-unknown-linux-gnu/rustup-init` is 404ing, but that looks like the right decision to download!

[2019-11-15 08:42] buffstop commented on #2127
I recognized this is the wrong place to ask for this feature. Plus the requested target is already in in rust repo, master branch.

Sorry for bothering.

[2019-11-15 08:42] #2127 closed, assigned to nobody

[2019-11-15 08:52] flippedoffbit opened #2128 "Rustup installation failure at installing rustc component"
`pi@raspberrypi:~ $ curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust
programming language, and its package manager, Cargo.

It will add the cargo, rustc, rustup and other commands to
Cargo's bin directory, located at:

  /home/pi/.cargo/bin

This can be modified with the C

[2019-11-15 09:37] hellow554 commented on #2128
That is around 140MB allocating memory. If you have a 1GB Raspberry Pi model it may be too much. I wonder why rustup allocated so much memory.

[2019-11-15 10:48] Centril commented on #2128
cc @kinnison & @Manishearth -- the issue should probably be transferred to the rustup repo.

[2019-11-15 22:10] carols10cents opened #2129 "Rustup is going to break in 2026"
**Problem**

A clone of Alex Crichton just time-travelled back from the year 2026 to tell me to file this issue (they can't file the issue themselves or they risk causing a paradox).

They said we just released 1.100.0, and everyone was all excited, but as soon as it was released, everyone was all sad because this happened:

[code]

Everyone expected rustup to download and install the 1.100.0 vers

[2019-11-15 22:11] ljani commented on #1994
Now even `mcr.microsoft.com/windows/servercore:1909` seems to have problems running `rustup-init.exe`. `docker build` just hangs in the `RUN` command:

[code]

[2019-11-15 23:23] Diggsey commented on #2129
Looks like it will also need changing here: https://github.com/rust-lang/rustup/blob/9309d66429a879e3c1e919f410593627df69d32d/src/dist/dist.rs#L379

(Or better yet, the two methods refactored to share that parsing code)

I believe this would technically be a breaking change because those toolchain names would currently be considered "custom" toolchains. and theoretically someone could have created

[2019-11-16 09:56] shubhamkumar13 opened #2131 "Installation fails using rustup-init.sh"
[code]
this happened after running the rustup-init.sh script

[2019-11-16 13:28] shubhamkumar13 commented on #2131
Network Issue closing.

[2019-11-16 13:28] #2131 closed, assigned to nobody

[2019-11-16 20:30] johnthagen commented on #1397
@kinnison Personally I think a command like `show` should never actually install something and change the user's environment. That just seems very odd to me and I can't think of another example of a tool that does something like that.

[2019-11-17 09:45] kinnison commented on #906
@thedavidmeister Whenever you can, that'd be awesome.  Thank you.

[2019-11-17 09:50] kinnison commented on #2111
@NoraCodes Hmm, 404 seems odd, but we're getting somewhere (It's wanting to change its decision a bit) I'll have a rummage and see what I've missed...

`<fx: time-passes>`

I've pushed a fix to that branch, I wasn't taking into account the fact that armv7 non-android has an ABI suffix.  Could you give that same link a fresh go?  If it works then we're sorted.

[2019-11-17 09:56] kinnison commented on #2128
Rustup assumes that the average Rust program needs around 400M of RAM to build/link and as such that it's fair for it to use around that for processing IO as quickly as it can.  If you are having difficulty with that, we do have some environment variables you can tweak to see if that helps:

https://github.com/rust-lang/rustup/#environment-variables

In particular `RUSTUP_UNPACK_RAM` which default

[2019-11-17 09:58] kinnison commented on #1994
The default profile includes rust-docs which is never fast on Windows -- you might find it's sat there dealing with the roughly twenty-thousand files for that.  Otherwise I'm not sure -- can you get procmon or some other tracing tool onto the docker to see what it's up to?

[2019-11-17 10:03] kinnison commented on #1397
@johnthagen That's fair, I have retitled the issue and I'm happy to mentor yourself or anyone else through the process of determining *why* this happens, and what we can do to improve the UX and ensure it doesn't happen in future.  This is nominally a breaking change in how `rustup show` works, but frankly I think it's right to do it.

If anyone wants help with working this one through to a PR, pl

[2019-11-17 10:47] kinnison commented on #2129
Never one to ignore portents of the future, especially ones where brave rustaceans risk the timeline to correct a fatal flaw in their ecosystem I shall do my best to ensure that Alex need never risk his personal timeline again on this matter.  I'm not sure I quite like the idea of \d+ since that opens a risk of people thinking `2020.12.14` might be a valid version number and then be confused about

[2019-11-17 11:35] ljani commented on #1994
@kinnison: It might be the reason. `rustup-init.exe` does exit as I've included `&& echo test` at the end of the `RUN` command and it is printed to `stdout`. However, if `rustup-init` spawns some other processes, I'm not sure how Docker handles them.

I wonder how one would run `procmon` during build and will it even run as there is no graphical desktop environment.

[2019-11-17 11:40] kinnison commented on #1994
There shouldn't be any process spawning from `rustup-init.exe` and if there were it'd be very short-lived to set up some hard links.  I'm afraid I'm not sure how to debug Windows stuff, so I can't really help there :(  If there's no non-graphical `procmon` type thing then I haven't a clue.

[2019-11-17 15:32] NoraCodes commented on #2111
Works perfectly, thank you!

[2019-11-17 18:56] jdl commented on #1125
Thank you. I was going crazy trying to figure out why on only one of my machines when I ran `rustup doc` it would open Postman.

Sure enough:
[code]

[2019-11-17 20:04] rbtcollins commented on #1994
This is the more modern version of procmon that I was going to move onto if we couldn't figure stuff out - https://docs.microsoft.com/en-us/windows/win32/etw/about-event-tracing - it may be needed here.

I'll note that figuring this out will require more insight that running CLI tools and guesswork: I suggest figuring out how to get a process tree, how to inspect active processes file handles, and

[2019-11-17 20:06] rbtcollins commented on #1994
But that said, procmon from the host may well be able to observe whats going on - I haven't looked into the docker container implementation yet for Windows; on Linux however containers are transparent to root and kernel level tools.

[2019-11-17 22:04] kinnison commented on #2111
Fabulous, thank you for the testing.  I shall file a PR soon.

[2019-11-18 13:24] AsadMGradex commented on #1436
If you have antivirus then you'll have to turn that off instead of windows defender. Although the way I solved it using visual studio code was:

- go to C:\Users\username\.rustup\toolchains
- Delete all of them (stable, nightly, beta etc)
- open up visual studio code with the folder containing code that needs the nightly version. visual code brings up **option to download nightly** there so click

[2019-11-19 12:17] vks commented on #2129
Wouldn't it be better to use the `semver` crate instead of a regex for parsing the version?

[2019-11-19 12:48] kinnison commented on #2129
This is not about parsing version numbers, but about matching *toolchain specifications* which happen to be able to contain version numbers.  In reality rustup does not care about versions :D

[2019-11-20 08:54] Neowizard opened #2134 "Installing rustup with complete profile prevents adding 'rust-src' component"
**Problem**
I installed rustup (rustup 1.20.2 (13979c968 2019-10-16)) following the instructions in rustup.rs. During installation, I chose the 'Complete Profile'. Afterwards I created a cargo project in Clion (and later again in IntelliJ) with the Rust plugin. The IDE failed to auto complete since it failed to install the 'rust-src' component.
I tried to add 'rust-src' manually with `rustup compo

[2019-11-20 09:05] kinnison commented on #2134
Hi @Neowizard

I'm sorry you're encountering this -- this is a bug in `rustup` 1.20.x to do with the installation of a target non-specific component (`rust-src`)  The issue is fixed in master and will be in `1.21.0` which is close to being released https://github.com/rust-lang/rustup/milestone/2

In the meantime, if you, in a terminal, run `rustup component remove rust-src` then it should clear ou

[2019-11-20 15:25] kinnison opened #2136 "The `complete` profile really should warn the user"
We have a lot of people who want to install `complete` despite it really being for Rust developers rather than those who develop *with* Rust.

As a stop-gap, since removing `complete` would be a bit of a pain, it'd be useful if `rustup` could warn whenever `complete` is used to install a toolchain.  That'd be fairly lightweight and could mitigate a lot of issues which might otherwise be raised.

T

[2019-11-20 15:28] kinnison commented on #2136
If you wish to take on this work, please state so on this issue, and then find me on Discord to discuss it.  That way we won't have multiple people trying to solve the same thing at the same time.  Thanks.

[2019-11-20 16:17] kinnison commented on #2136
In addition, https://github.com/rust-lang/rustup#profiles misrepresents the `complete` profile a little as being of use for general developers.  We probably need to fix that as part of any PR to resolve this issue.

[2019-11-20 21:24] #2111 closed, assigned to nobody

[2019-11-20 21:31] kinnison commented on #1282
It is my strong belief that this is no longer a problem on x86, and with the patch for #2111 it'll be fixed for aarch64/armv7 too.  If it is still an issue, please reopen with details as above.

[2019-11-20 21:31] #1282 closed, assigned to nobody

[2019-11-21 09:33] flippedoffbit commented on #2128
![image](https://user-images.githubusercontent.com/36767190/69325264-e7517580-0c6f-11ea-8598-e58690eed155.png)

i did set the RUSTUP_UNPACK_RAM=90 X 1024 X 1024

@kinnison

[2019-11-21 09:38] kinnison commented on #2128
The value in `RUSTUP_UNPACK_RAM` isn't a valid number with those commas in it.  Also it appears to be 1MiB not 90MiB.  You could try `export RUSTUP_UNPACK_RAM=94371840` for 90MiB.

[2019-11-22 09:27] Stupremee commented on #2136
I can take care of that. @kinnison I can ping you in discord

[2019-11-22 10:16] Neowizard commented on #2134
Using the 'default' profile works great for me, thanks.
Closing the issue.

P.S. Happy to hear the issue is already fixed in master. Perhaps the `rustup` install script should mention who the 'complete' profile is targeted towards. I just figured it'll include extra components and maybe save me more installation time in the future.

[2019-11-22 10:16] #2134 closed, assigned to nobody

[2019-11-23 08:41] flippedoffbit commented on #2128
![image](https://user-images.githubusercontent.com/36767190/69476064-f9135400-0dfa-11ea-9496-59d591c74a2c.png)
i doubt my poor pi would be able to allocate that much

[2019-11-23 09:04] flippedoffbit commented on #2128
![image](https://user-images.githubusercontent.com/36767190/69476064-f9135400-0dfa-11ea-9496-59d591c74a2c.png)
i doubt my poor pi would be able to allocate that much

UPDATE :
![image](https://user-images.githubusercontent.com/36767190/69476161-4f34c700-0dfc-11ea-8732-1fbcc3b616b2.png)

it did work but i believe this error was worth auto recovery by formulating and adjusting amount of memory neede

[2019-11-23 09:04] #2128 closed, assigned to nobody

[2019-11-25 19:19] payload commented on #2110
Hi @chansuke. Are you still working on this issue?

[2019-11-26 19:09] Stupremee commented on #2136
I guess this can be closed now

[2019-11-29 14:21] jethrogb commented on #1745
I'm getting the same errors when using `rustup toolchain link`. The linked toolchain works fine when using `<TOOL> +<TOOLCHAIN>` syntax, but not when using the `rust-toolchain` file.

[2019-11-29 18:30] kinnison commented on #2136
Closed in #2138

[2019-11-29 18:30] #2136 closed, assigned to nobody

[2019-11-29 18:32] #2067 closed, assigned to nobody

[2019-11-29 21:02] kinnison commented on #1745
Interesting, you're quite right it does behave badly like that.  Hmm...

[2019-12-02 17:58] davehylands commented on #1745
I'm running into this as well. The toolchain I built is hooked into rustup using `rustup toolchain link`

I can do `cargo +$(cat rust-toolchain) run` and it works fine. But if I try just plain `cargo run` it fails with the invalid channel name error.

Setting the toolchain to the default using rustup also allows `cargo run` to work (if I remove the rust-toolchain file).

[2019-12-02 18:08] davehylands commented on #1745
Using `RUST_TOOLCHAIN=my-2019-09-05-llvm8 cargo run` also seems to work. Is there a way I can name my toolchain that will allow it to work with the rust-toolchain file which doesn't match one of the standard names?

[2019-12-02 18:20] davehylands commented on #1745
And `rustup show` also displays the invalid channel name error when rust-toolchain contains `my-2019-09-05-llvm8`

[2019-12-03 19:04] kinnison commented on #1745
I agree that these later examples are not good, so I'm going to try and resolve this.  Whether I end up with something the OP is happy with or not, I'm not sure I can predict; but I'll see what I can do.

[2019-12-03 20:43] kinnison opened #2142 "Cleanup needed in toolchain parsing"
We fixed a future-shock problem in #2132 which left open a need to commit a neatness in the codebase.  @Diggsey explained it nicely in https://github.com/rust-lang/rustup/pull/2132#discussion_r347174250 and I feel it'd make a good newcomer issue to introduce someone to working in the `rustup` codebase.

Basic goal for this is to encode the semantics from the comment mentioned in the PR as properly

[2019-12-03 20:43] #2129 closed, assigned to nobody

[2019-12-03 23:49] joshtriplett commented on #2110
Minor nit on formatting: please make the "from" version less prominent (e.g. parenthetical), so that it's easier to quickly scan the line for the version and distinguish the old and new versions.

[2019-12-04 04:28] chostrander commented on #1745
A little more context on this issue, I am trying to deploy a Rust Application to Heroku, and am using Rocket for my REST API.  This needs nightly, so I am trying to specify to use the nightly version instead of stable and am getting this error. (because I need to specify it in the rust-toolchain file.

[2019-12-04 09:22] ralfbiedert commented on #2118
Closing since upstream request was closed.

[2019-12-04 09:22] #2118 closed, assigned to nobody

[2019-12-05 10:10] RalfJung commented on #2067
The PR mentions "rustup toolchain install --allow-downgrade", but what about "rustup component add --allow-downgrade" that was also mentioned above -- should a new issue be opened for that?

[2019-12-05 12:53] SimonSapin opened #2144 "Release version 1.21.0?"
Hi! I’d like to use https://github.com/rust-lang/rustup/pull/2075 which was merged after the current version 1.20.2 was released. Is something missing before a new version can be released? Can I help?

[2019-12-05 20:10] kinnison commented on #2027
So at this time, `cargo` is out of scope for the work we're doing on the trust model for `rustup`.  Again I ask that you hold off on pushing too hard until after we've opened discussion on the trust model work we're drafting.  It'll be a little while, but in the short term I've told you what we have available and if that's insufficient for you then we're unlikely to be able to do anything to satis

[2019-12-05 20:16] kinnison commented on #2144
We have a milestone to track 1.21.0 work which you can find at https://github.com/rust-lang/rustup/milestone/2

more generally, we're attempting to do milestones for releases from now on, so your first port of call for "what is left before X release" is to look for a milestone :-D

Helping would just be looking to see what's on the milestone but seems to lack progress and then talking to us on Dis

[2019-12-05 20:16] #2144 closed, assigned to nobody

[2019-12-05 20:17] kinnison commented on #2067
@RalfJung It might make sense to create an issue around that, yes.

The functionality is available via `rustup toolchain install $already_installed_channel -c added_component_name` but the `rustup component add` pathway is a bit different and harder to get this feature into right now, hence it's missing from the CLI for 1.21.0

[2019-12-05 20:26] SimonSapin commented on #2144
Good to know, thanks!

[2019-12-05 20:38] teknopaul opened #2145 "Requires >500Mb of memory to install rustc"
**Describe the problem you are trying to solve**
I was trying to install rustc on a nano micro VM with only 500Mb of RAM, the installer runs out of memory, if I install on a machine with more RAM and rsync the files using rustc works well .

**Describe the solution you'd like**
Either working in low mem environments or publish the minimum system requirements.  Currently it just crashes without rep

[2019-12-05 21:51] kinnison commented on #2145
This is related to a conversation we had here: https://github.com/rust-lang/rustup/issues/2128#issuecomment-554730037

We would need a way to detect the available RAM limits in a clean way to automate this; otherwise users of deliberately limited VMs need to set `RUSTUP_UNPACK_RAM` to something suitable in their profile.

[2019-12-05 22:23] rbtcollins commented on #2145
Also, its worth looking at things like this -
https://internals.rust-lang.org/t/rustc-build-memory-requirement/7457 -
there's little point having the installer be radically better than the
compiler.

I recall a longer conversation back on the PR that merged the parallel
unpacking install code around this as well.

One thing we could do in principle is handle out of RAM situations better,
but sadly

[2019-12-05 23:12] RalfJung opened #2146 "Downgrade nightly when adding component"
**Describe the problem you are trying to solve**

I have a nightly installed and want to add a component that is not available for this or any newer nightly.

**Describe the solution you'd like**

With https://github.com/rust-lang/rustup/pull/2126 we have `rustup toolchain install --allow-downgrade`; this issue would be solved by adding the parallel `rustup component add --allow-downgrade`.

**Not

[2019-12-05 23:12] RalfJung commented on #2067
New issue opened: https://github.com/rust-lang/rustup/issues/2146

[2019-12-06 11:30] #2110 closed, assigned to nobody

[2019-12-07 12:10] Mingun opened #2147 "`rustup` hanging during self-update on Windows"
**Problem**
This is the second time rustup hangs at the end of the installation. At first I thought it was a one-off problem because of a certain nightly, but it 's repeated a second time. The first time was about a month ago. There have already been several similar problems, but all of them are closed without any explanation.

Current cmd output:
[code]
![rustup hang](https://user-images.githubus

[2019-12-07 19:44] rbtcollins commented on #2147
So this is not to do with nightly, but with rustup self update, which
happens automatically. Could you run that under procmon or etw and see what
file activity is happening? It may be waiting for a lock. I don't have time
just yet to look into the code side of it.

thank you.

[2019-12-08 08:30] kinnison opened #2148 "Find and correct all places recommending `rustup install` and `rustup uninstall`"
We want to deprecate `rustup install` and `rustup uninstall` in 1.21.0 -- as such as indicated in https://github.com/rust-lang/rustup/pull/2096#issuecomment-549155969 we need to find and correct anywhere major which recommends the use of these deprecated interfaces.

**NOTE** Our ideal outcome is that the `rustup install` and `rustup uninstall` CLI API remains available into the future as a pure a

[2019-12-08 08:41] kinnison commented on #1967
As part of #2121 I fixed a situation where we could leave a download tracker unfinalised.  I believe that should resolve this as I couldn't spot any other pathways which could have this effect.  If, after 1.21.0 is out, you still have this issue, please reopen or file a fresh one.

Thanks,

D.

[2019-12-08 08:41] #1967 closed, assigned to nobody

[2019-12-08 12:17] trolleyman commented on #2148
Please don't do this -- this makes rustup less easy to use! Just check the comments of https://www.reddit.com/r/rust/comments/e7rer9/we_need_your_help_before_rustup_1210_can_be/

Can someone explain what the main reason is for this change?

[2019-12-08 12:58] AxelMontini commented on #2148
IMO it doesn't make any sense.

* `rustup override` overrides the default toolchain.
* `rustup check` checks for toolchain updates.
* and so on

Either:

1. We group every toolchain-related command under `rustup toolchain`
2. We remove `rustup toolchain` and keep everything as a rustup command.

I find that separating toolchain-related commands (some under `rustup toolchain`, others not) just make

[2019-12-08 14:00] brson commented on #2148
I would encourage careful deliberation about actually removing these commands. Maybe it is best to actively discourage their use, in the hopes of removing them someday, though I am not sure. I am doubtful about removing them completely in the near term.

These commands are commonly used, are possibly more intuitive than the alternative, and have effectively no maintenance burden. Since rustup is u

[2019-12-08 14:21] pantsman0 commented on #2148
A tool should never _never_ take away a feature that isn't a significant bug.

It is very simple. If you teach users that your tool breaks when you update, they will not update.

[2019-12-08 14:24] kennytm commented on #2148
Rather than implementing `rustup install` and `rustup uninstall` as hard-coded commands like #2096, perhaps rustup could adapt cargo's "[alias]" system and handle `install`/`uninstall` as a part of this.

[2019-12-08 15:24] kinnison commented on #2148
For those coming here to ask about stopping the *removal* of the commands -- it's very likely they will remain deprecated (and emitting a warning) for some time because yes, it would be madness to remove them too quickly.  I quite like @kennytm 's idea of aliases, that'd be a very neat way to support these without the complexity inherent in multiple pathways to the same internal behaviour which is

[2019-12-09 00:17] ChrisJefferson commented on #2148
While I see why this would have been a good idea from the start, it is I think too late now.

As you say, huge numbers of physical books have been sold with "rustup install". They can't be "fixed".

Google for "rustup install" and you can find thousands of links that need fixing, while "rustup toolchain install" is on only a tiny fraction of pages.

Is not maintaining "rustup install" worth fixing

[2019-12-09 02:32] CAD97 commented on #2148
Even if we want `cargo` to adopt some of `rustup`, `rustup`'s primary purpose remains toolchain management. It's for that reason that the `rustup install` -> `rustup toolchain install` alias makes sense. If `cargo` adopts toolchain management, it would go under `cargo toolchain install`, of course.

Of the currently documented by `--help` commands, `update`, `default`, and `override` all would pre

[2019-12-09 07:33] kinnison opened #2149 "Demote deprecation warning to verbose info"
After a lot of discussion with reddit and friends, it seems that deprecating `rustup install` and `rustup uninstall` would have consequences I'd not considered (printed books) and as such it'd be unpleasantly surprising for new users to be told the book they bought was wrong.

As such, we should demote the [deprecation warning code](https://github.com/rust-lang/rustup/blob/master/src/cli/rustup_mo

[2019-12-09 07:34] kinnison commented on #2148
@ChrisJefferson your point about printed books is good.  I was not proposing removing the command at all, but I can see that new users might be put off by a warning when they use it.  This point, along with the surprising (to me, but likely not to others) pushback on the deprecation means that I'm considering changing the warning to a verbose info that things might not behave like the `toolchain i

[2019-12-09 07:37] kinnison commented on #2149
If you'd like to tackle this, please indicate so on the issue and find me on the Rustup discord channel if you want to chat about it.

[2019-12-09 10:24] davidhewitt commented on #1826
I just discovered that this issue is not unique to Alacritty: if `TERM` is set in Windows Terminal then the output is broken in the same way as with Alacritty.

This might turn out to be an issue in all ConPTY-backed terminal emulators when `TERM` is set to `xterm-256color`?

[2019-12-09 14:22] thesobercoder commented on #1870
@rbtcollins You're dirty patch version worked on my corporate box. Thanks!

[2019-12-09 18:06] trolleyman commented on #2148
@kinnison Thank you for changing your mind

[2019-12-09 20:08] jaronsummers commented on #2149
The printed book use case is largely handled by just replacing the existing code with a message that says to use `rustup toolchain install` instead, isn't it? That code would be simple enough that it wouldn't be buggy, nor would it be a duplication of the `rustup toolchain install` code.

[2019-12-10 04:00] kinnison commented on #1826
It's quite probable that this is true yes.  ConPTY is not really an ANSI/VTxxx terminal which is part of the reason to want to shift to a more modern windows-aware library.

[2019-12-10 04:01] kinnison commented on #2149
@jaronsummers This issue was raised precisely because people were worried about such a deprecation message causing undue concern to newcomers.

[2019-12-10 05:57] davidhewitt commented on #1826
I get the impression from discussion on microsoft/terminal that they're working very hard to support VT (and considering the Windows console APIs mostly for legacy programs).

If we can identify a VT sequence we're emitting which Windows is handling incorrectly and report it as a bug upstream, I'm fairly sure they'll fix it.

[2019-12-10 09:35] black-puppydog opened #2151 "Present docs with local server"
When issuing `rustup docs` settings like the color scheme don't survive any link clicks (at least in my Firefox) and I think that is because they are being served as `file:///` urls.

When compiling e.g. rust-by-example from source, the instructions are to run `mdbook serve`, which seems to spin up a local minimal server and open *that* via `http://` instead. So I propose to either make this sort

[2019-12-10 10:26] TomaszAugustyn commented on #817
In case there is no nightly with desired components in the latest build list (e.g. now rls has been missing for many days) sometimes even running `rustup toolchain install nightly -c ...` may not help. In this case you can search through historical builds to find the date of the latest nightly that has your components. Here is the bash script:

[code]

It will return you e.g. date `2019-11-25` the

[2019-12-11 16:55] steveklabnik commented on #907
Triage: this now exists as --profile=minimal, so I think it can be closed.

[2019-12-11 19:26] Mingun commented on #2147
Heisenbug: I captured Process Monitor trace, but update was succesfull. Maybe because I tried at first run `rustup self update`, but it ran very quickly, maybe it nothing actually update?

Full output:
[code]

[2019-12-12 20:44] davehylands opened #2153 "Unable to install rustfmt for a custom toolchain"
**Problem**
I'm building a custom rust toolchain to support bitcode under iOS using the scripts from: https://github.com/cowpaths/rust-bitcode/tree/fs-nightly-2019-09-05-llvm8 (which is a slightly modified fork of https://github.com/getditto/rust-bitcode )

The toolchain was installed using the command:
[code]
and everything seems to be fine. I can compile for iOS and for macosx using cargo build

[2019-12-13 04:44] kinnison commented on #907
@steveklabnik thanks for the triage.

[2019-12-13 04:44] #907 closed, assigned to nobody

[2019-12-13 04:49] kinnison commented on #2153
`rustfmt` shares parts of the compiler and as such would not be able to be installed in this manner.  If you want `rustfmt` as part of your built toolchain, you should build it with `x.py` I believe.

You can, if you want, temporarily use another toolchain to format your code (e.g. by means of `cargo +nightly fmt`)

Given the above, if you still want `rustup component add rustfmt` to work, what wo

[2019-12-13 04:53] kinnison commented on #2151
There are a number of issues here which might prevent us doing a good job on this, but your desired functionality goal is absolutely worth trying to persue.

I would first like to ask @guillaumegomez if he knows why the colour scheme etc don't survive in Firefox and if there's anything we might do in `rustdoc` to improve that, though that won't solve the `mdbook` issues I imagine.

[2019-12-13 04:55] kinnison commented on #1826
So a lot of the issue is that terminal IO crates which expect to be able to deal in VT like commands tend to expect terminfo databases to be available at well known POSIX paths.  They tend to assume therefore that if they're on Windows, the only thing they should do is ConPTY.  What we need is to move to a terminal crate which does a better job of that, such as `indicatif` and we have an issue ope

[2019-12-13 09:04] black-puppydog commented on #2151
Personally, if the color scheme was preserved, I'd have not bothered to make an issue. :P
The rust-by-example playpen code doesn't seem to work offline anyhow (https://github.com/rust-lang/rust-by-example/issues/1105) so there shouldn't really be much of a difference if settings are preserved.

[2019-12-13 14:04] GuillaumeGomez commented on #2151
It's not just the colors but also the local storage: firefox consider each file as being its own website and therefore, it's unique to each file... Maybe it's worth looking if there's a way around by setting a root path or something along the line. I'll let someone open an issue. :)

[2019-12-13 14:08] davehylands commented on #2153
Well, I guess what I'm really asking is what do I need to do to make rustfmt work with my custom toolchain. If I can build it with x.py, then I'll go and figure that out.

I guess what I'd really like to be able to do is to register my toolchain with rustup in such a manner than it "just works", and so that my users can use rustup to install nightlies or my toolchain and not have to worry about wh

[2019-12-13 14:52] pastly commented on #2142
I would like to help with this issue. I made a discord account but can't figure out how to join #wg-rustup.

Never mind. Had to read the words on the page 🤦‍♂

[2019-12-13 18:06] kinnison commented on #2153
Unfortunately right now there isn't a way to have multiple dist servers or channels other than `stable` `nightly` and `beta`, but that is an interesting idea which we could potentially flesh out.  There isn't good documentation for generating channel manifests right now, and the only code for that is in the rust tree, though I suppose if you're generating a custom toolchain from scratch then you c

[2019-12-13 18:23] Noodlez1232 opened #2156 "No rust-src component for x86_64-unknown-linux-musl"
**Problem**
The current stable channel is missing a `rust-src` component for the target tuple `x86_64-unknown-linux-musl`.

**Steps**
1. Install rustup using the installer found on [rustup.rs](https://rustup.rs)
2. Set up the stable toolchain using `rustup toolchain add stable`
3. Attempt to install the rust-src component using `rustup component add rust-src`

**Output**
The output of the command

[2019-12-13 21:24] kinnison commented on #2156
`rust-src` is target-independent which suggests you may have stumbled across a bug in 1.20 which is fixed ready for release in 1.21.  You've almost certainly installed the `complete` profile which is not really meant for normal users.  If you `rustup component remove rust-src ; rustup component add rust-src` then that should fix it.

Please let me know if it doesn't.

[2019-12-13 21:36] Noodlez1232 commented on #2156
Okay, Thank you! That worked. I'll keep that in mind whenever I install rustup from now on.

[2019-12-13 21:36] #2156 closed, assigned to nobody

[2019-12-13 21:41] kinnison commented on #2156
Once 1.21 is out, it'll self-heal when it detects this mistake :D

[2019-12-15 18:22] UgnilJoZ commented on #1320
Meanwhile, rustc supports `x86_64-sun-solaris`, but rustup does not.
OpenIndiana has rustc 1.32, which is quite old, so any rustup support would be nice.

[2019-12-15 21:20] leshow opened #2161 "Can't install stable toolchain"
**Problem**
rustup fails to install the stable toolchain

**Steps**
1. install rustup
2. set complete profile (I think this is necessary)
3. install stable

[code]

The help information points to the nightly, but I'm not trying to install nightly. And you'd think that these components would be available for stable?

I'm not the only one to experience this apparently. I asked on the rust discord an

[2019-12-16 20:01] kinnison commented on #2161
The `complete` profile is not meant for normal users and will likely never work on `stable` unless the definition of the profile is changed by the team in charge of the compiler releases.  If you want to install as much as possible of the `complete` profile then use the `--force` option so that it skips missing components.  Otherwise I recommend the use of the `default` profile instead.

[2019-12-16 20:01] #2161 closed, assigned to nobody

[2019-12-16 20:05] kinnison commented on #1320
@UgnilJoZ At this time, there is no official rust support for rustc/cargo for that target and so `rustup` cannot support it.  If you look on the forge <https://forge.rust-lang.org/release/platform-support.html> then you can see it's tier2 and std only.

[2019-12-16 20:07] #1745 closed, assigned to kinnison

[2019-12-17 16:23] #2149 closed, assigned to kinnison

[2019-12-17 17:25] jyn514 commented on #2071
I had this same error in what seems to be an old version of rustup. Running `rustup self update` does nothing, though. When will the next version of rustup be published?

[code]

[2019-12-17 20:57] kinnison commented on #2071
@jyn514 Yes, this is slated to be fixed by 1.21.0 (see the milestone) but that's not released yet (see the milestone) :D

[2019-12-18 16:11] kinnison commented on #2148
Because of #2149 I've taken this out of the 1.21.0 milestone, unblocking the release.

[2019-12-19 14:45] faern opened #2166 "Panic: Failed to remove a dir: No such file or directory"
**Problem**
I reached a state on a Linux machine where a simple `rustup update` fails. I *only* have one toolchain, the *stable* toolchain and `rustup update stable` works fine, but not `rustup update`.

[code]

**Steps**
I have no idea how to reach this state. But now I reproduce it with just `rustup update`.

**Possible Solution(s)**
Instead of just panicking, maybe print what directory it is ex

[2019-12-19 14:48] tmpolaczyk commented on #2166
You beat me to it.

**Problem**
When running `rustup update`, the program panics when trying to clean a temporal directory that doesn't exist:
[code]

**Steps**
Unable to reproduce locally, but see https://travis-ci.com/witnet/witnet-rust/builds/141768995

**Possible Solution(s)**
Silent errors about removing non-existent files.

**Notes**

Output of `rustup --version`:
[code]

Output of `rustup u

[2019-12-19 15:01] kinnison commented on #2166
The panic certainly isn't good.  I believe this is fairly easy to fix.  The tmp directory isn't created until a download occurs I think.

[2019-12-19 15:02] kinnison commented on #2166
This should be fairly easy to fix (and in the meantime, once a download actually occurs, it ought to be resolved)

[2019-12-19 15:03] faern commented on #2166
Any simple way to work around this temporarily? I'd like to get the build server working if possible.

[2019-12-19 15:04] kinnison commented on #2166
`mkdir ~/.rustup/downloads` I believe

[2019-12-19 15:05] faern commented on #2166
Ok. Yeah that solves it for one single `rustup update` invocation. But good to know.

[2019-12-19 15:05] kinnison commented on #2166
Oh ugh, yes, only once, this needs fixed now

[2019-12-19 15:58] #2166 closed, assigned to kinnison

[2019-12-19 16:13] emilyalbini commented on #2166
Rolled back production to Rustup 1.20.2 while we wait for Rustup 1.21.1. Your next  `rustup update` should downgrade to the old version.

[2019-12-21 04:34] margaretjoanmiller opened #2168 "OpenBSD support"
I would absolutely love it if rustup had OpenBSD support. We're still pretty similar to NetBSD and rust is available on OpenBSD so it shouldn't be too difficult to port.

[2019-12-21 06:46] rbtcollins commented on #2168
So - start by building rustup yourself - if that works, and that channel
metadata for rust distributions has everything you need, then this ticket
becomes 'please make rustup binaries available for download'. If it doesn't
build / run properly, we can help you with that, and if the channel
metadata or the rust distributions are missing things we can steer you in
the right direction.

[2019-12-21 07:15] margaretjoanmiller commented on #2168
Hmm tried running `cargo run --release` and got
[code]

[2019-12-21 08:02] rbtcollins commented on #2168
Ok, so thats the starting point - you'll need to teach the host triple
detection about openbsd. I don't have the source handy just now, but as you
said NetBSD was similar I suggest grepping for NetBSD in the source.

[2019-12-21 09:21] SimonSapin opened #2169 ""error: component download failed""
**Describe the problem you are trying to solve**

In every build job on Servo’s CI, rustup starts by downloading the Nightly pinned in the repository’s `rust-toolchain` file. Sometimes this fails:

https://community-tc.services.mozilla.com/tasks/T10RQXfSRCCODoDHP5bkAA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FT10RQXfSRCCODoDHP5bkAA%2Fruns%2F0%2Fartifac

[2019-12-21 12:39] kinnison commented on #2169
If it was retrying it would indicate such.  As such I can only conclude that a 'connection reset by peer' error is somehow not being communicated to `rustup` as a retryable error.

The download loop is here: https://github.com/rust-lang/rustup/blob/master/src/dist/manifestation.rs#L177  it currently doesn't insert any delays on the basis that most failure modes warrant an immediate retry (or likel

[2019-12-21 13:02] SimonSapin commented on #2169
Unfortunately I don’t know how to reliably reproduce this error. However I see that the `component download failed` message comes from `ComponentDownloadFailed`, which we could add in that `match`.

[2019-12-21 13:11] SimonSapin commented on #2169
Oh never mind, `ComponentDownloadFailed` is only ever created (added to an error chain) as a result of that `match`. According to the output the next error in the chain is `could not download file` which comes from either `DownloadingFile` or `DownloadNotExists`. The latter is only created in `src/utils/utils.rs` for some HTTP error codes, but in this case it looks like we don’t get to HTTP at all

[2019-12-21 15:34] kinnison commented on #2169
The `RetryingDownload` message should be obvious (it's at `info:` level) and its absence suggests that it absolutely did not attempt to retry.

[2019-12-21 17:26] Malixxa opened #2170 "How to solve curl: (35) Unsupported SSL protocol version during rust installation"
**Problem**
I am trying to install rust via the following command:
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`
on my macbook pro (macOS 10.14.16) and always get the following error:
`curl: (35) Unsupported SSL protocol version`

I did reinstall OpenSSL via homebrew but it is still not working.

Any ideas?

[2019-12-21 17:57] kinnison commented on #2170
It's possible that cURL on your mac does not support tlsv1.2.  Mac OS older than 10.13 does not support support it.

[2019-12-22 11:04] montao opened #2171 "Cannot upgrade"
It is incomprehensible how to get back to "normal" after installing the nightly rust. No matter what I do, the rustc stays at nightly 1.34 which I do not want. I just want to go back to normal stable recent release. Why is this difficult?
[code]

Update comment and close issue: The solution was to uninstall Rust nightly from the Windows 10 control panel manager. I got this information from running

[2019-12-22 11:19] #2171 closed, assigned to nobody

[2019-12-22 11:57] Malixxa commented on #2170
Thank you @kinnison Any idea how and where I could check this? Since I am running 10.14 it should be installed…

[2019-12-22 12:05] Malixxa commented on #2170
Tried the following
`curl https://google.com/ --tlsv1.2 --verbose  `
and this is the output
[code]

Running
`> $ curl https://google.com/ --verbose`
Results in
`SL connection using TLSv1.0 / AES128-SHA`

And running
`> $ curl --proto '=https' -sSf https://sh.rustup.rs | sh`
Results in
`curl: (35) error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version`

I am Kinda lost, sin

[2019-12-22 17:22] Malixxa commented on #2170
So I have some news. Updated my LAMP stack and aliased curl to the newer version. Now this is outputted when trying to install rust:
[code]

[2019-12-22 17:39] Malixxa commented on #2170
Fixed! I had a wrong Path for my PHP in the .zshrc :/

[2019-12-22 17:40] #2170 closed, assigned to nobody

[2019-12-23 15:51] carols10cents commented on #1480
I think https://github.com/rust-lang/rustup/issues/1167 and https://github.com/rust-lang/rustup/issues/836 can be closed as duplicates of this issue (this one has the most detail)

I have admin rights so I could take care of this myself, but I'm not a regular maintainer here so I don't want to step on anyone's toes :) <3

[2019-12-24 08:16] Riateche opened #2172 "Confusing "toolchain does not support components" message when it's not installed"
When a toolchain specified in `rust-toolchain` file is not installed, the output is as follows:
[code]
Following the suggestion doesn't help:
[code]
The correct suggestion would be `rustup install 1.40.0`, which helps.

[code]

[2019-12-25 22:58] jblancaster commented on #953
@ssowellsvt - Spot on - Thanks!

[2019-12-26 11:14] kraiskil commented on #2017
Just got started with rust yesterday, so this is a complete rust-newbie's opinion :)
Voted 4, because don't mess with my PATH!
Just have the installer tell that it got installed to $HOME/.cargo/bin (and while we are at it, what about asking where I want it installed?), and let me adjust my PATH. I much prefer interactive queries in these kind of installers. Then for automation, repetition or power

[2019-12-26 12:02] iranvir commented on #2017
@kraiskil I can see where you are coming from. As a Rust Newbie I stuggle with this myself. But think about someone who is UNIX newbie. Do they have to learn about what PATH is? If we get too flexible, we get nowhere. Constraints kinda help us get over mundane stuff and go to work.

P.S: If you want rustup to not mess with your PATH just edit your .bashrc and ~/.cargo/env file.

[2019-12-27 03:50] skull-squadron commented on #2166
@pietroalbini
On macOS, rustup doesn't manage itself, homebrew does. Since that project, unfortunately, has a reputation, a workaround is to reinstall rustup as follows:

[code]

[2019-12-27 08:14] emilyalbini commented on #2166
@steakknife by the way, we already got a point release fixing this issue the proper way, 1.21.1.

[2019-12-28 09:56] tesuji opened #2177 "Use structopt to cleanup CLI parsing?"

[2019-12-28 22:19] 0ex-d commented on #1274
I am using a macOS Sierra is that really old?

[2019-12-29 03:05] rbtcollins commented on #1274
Yes, High Sierra replaced it in September 2017 https://en.wikipedia.org/wiki/MacOS_Sierra
Followed by Mojave and Catalina. SSL protocol issues to keep up with security breaches are a constant moving target unfortunately.

[2019-12-29 05:22] apokaliptis opened #2178 "Rustup fails to download on systems that prefer ipv6."
**Problem**
rustup-init.sh fails to download and install on systems that use ipv6 by default. I'm Pengwin in WSL on Windows 10.

**Steps**
1. Execute `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

**Possible Solution(s)**
Explicitly use ipv4 on every call to download from rust servers, or at least add a note that users may need to disable ipv6 to download from rust.rs servers.

[2019-12-29 09:28] kinnison commented on #2172
This is, indeed, a problem.  Ideally the suggestion would recommend installing the toolchain, but indicate that the user should then try again, rather than suggesting that it *will* resolve the issue.

I'd be pleased to help someone come up with a good solution to this.  Please see me on Discord, or respond on the issue if you wish to have a go at fixing it.

[2019-12-29 09:37] kinnison commented on #2177
I'd rather wait for clap 3.0 to find out what is being offered there.

[2019-12-29 09:37] #2177 closed, assigned to nobody

[2019-12-29 09:40] kinnison commented on #1167
Closed in favour of #1480, please comment there if you have further information.

[2019-12-29 09:40] #1167 closed, assigned to nobody

[2019-12-29 09:40] kinnison commented on #836
Closed in favour of #1480, please comment there if you have further information.

[2019-12-29 09:40] #836 closed, assigned to nobody

[2019-12-29 09:44] tesuji commented on #2177
That's fair. But an open tickets with block-upstream label doesn't hurt.

[2019-12-29 09:45] kinnison commented on #2177
It would potentially encourage a newcomer to invest effort in something I do not wish to suggest we'd immediately accept.  These kinds of discussions belong on the discord more than a github issue.

[2019-12-29 09:47] tesuji commented on #2177
Alright then.

[2019-12-29 09:49] kinnison commented on #2178
I'm sorry that you've had such issues.  `rustup.rs` and `sh.rustup.rs` are cloudfronted S3 buckets.  I am quite able to access them over IPv6 from my systems which suggests that perhaps your IPv6 setup is either missing some routes, or else from where you are, access to S3 buckets over IPv6 are not as reliable as you might hope.

Could you please look at whether you have routing or connectivity is

[2019-12-29 22:45] glhrmv commented on #1729
Any updates on this?

[2019-12-30 08:02] kinnison commented on #1729
@glhrmv As of now, no there has been no consensus on an acceptable approach.

[2019-12-30 21:52] apokaliptis commented on #2178
Sorry, I guess I don't have IPv6 in my area. This must be an issue with either WSL or more likely Pengwin trying to use IPv6 instead of IPv4. I'm going to test Ubuntu WSL to see if I have the same issue there. Thanks for looking into this, @kinnison!

[2019-12-30 22:00] david-x64 opened #2179 "rustup-init chooses wrong toolchain"
I downloaded rustup-init.exe for Windows from here:
https://www.rust-lang.org/tools/install

My host is Windows 10 64-bit.

When I ran rustup-init.exe it detected the default host triple correct as:
x86_64-pc-windows-msvc

But when I agreed to proceed with installation it changed its mind to this instead:
i686-pc-windows-msvc

I will attach the log file (just copied std::cout).

Anyway, not a very

[2019-12-30 22:24] apokaliptis commented on #2178
The same issue persists on Ubuntu on Windows. If I try to use `curl`, `wget`, `ping`, etc. to access `sh.rustup.rs`, they fail to resolve the address unless I explicitly use IPv4 (`-4` flag) in the command. I do not have this issue if I try to access `rustup.rs` (without the `sh.`). Windows itself has no issue resolving `sh.rustup.rs`. Running `invoke-webrequest sh.rustup.rs` in PowerShell has no

[2019-12-31 08:15] kinnison commented on #2179
This is fascinatingly wrong yes.  I apologise for the difficulty this will have given you.  Once you installed the correct toolchain, you'll have wanted to `rustup set default-host x86_64-pc-windows-msvc` as well, just to ensure that future toolchain setup picks the right one.  In the meantime I'll try and work out how this could have happened.

Thank you for your report and log.

[2019-12-31 08:16] kinnison commented on #2178
I wonder what your `/etc/gai.conf` looks like in your WSL.  Does it have any non-commented non-empty lines in it?

[2019-12-31 08:30] kinnison commented on #2179
I've chased this through and found the following:

1. The displayed default host triple comes from this expression: https://github.com/rust-lang/rustup/blob/master/src/cli/self_update.rs#L618
2. The message about what it's set to during install comes from here: https://github.com/rust-lang/rustup/blob/master/src/cli/self_update.rs#L770 and suggests that because it's not overridden then specificall

[2019-12-31 13:32] david-x64 commented on #2179
Thanks Daniel, I have corrected the default toolchain on my system via `rustup set default-host`. Looking forward to experimenting with rust!

And yes, that was my first idea too. But I only found this one download button. So if there is a 64-Bit version, than I was given the wrong installer version. Still it might be nice if the installer would be able to install the best matching toolchain for m

[2019-12-31 13:46] tesuji opened #2180 "build: Remove 32-bit Apple build"
Soon with https://github.com/rust-lang/rust/issues/67724 we may also want to remove
i686 Apple build.

[2019-12-31 17:50] tesuji opened #2181 "Replace time crate with `std::time` primitives"
`Rustup` currently uses both `time` v0.1 and `std::time` to represent a Duration.

[code]

But with the evolve of `std::time`, it might be enough to only use `std::time` for those tasks.

The hard part is rewriting the `Duration` struct in:
https://github.com/rust-lang/rustup/blob/d6366cba52b00f517fa7f10f375cb91d40e02dc9/src/cli/download_tracker.rs#L223-L225
with custom Display implementation for

[2020-01-02 08:23] emilyalbini commented on #2179
@kinnison well... no, this is the whole lambda:

[code]

[2020-01-02 09:00] kinnison commented on #2180
I would argue that removing the build is relevant but not until 1.42.0 is released which demotes that platform to tier 3.  There's then the issue of what happens to people with a 32bit build of rustup installed at the point they do `rustup self update` and we're not longer releasing that target -- we might want to ensure the error messages are pleasant in that context rather than just unfortunate

[2020-01-02 09:00] kinnison commented on #2181
What will this do, where in the codebase are you suggesting changes, etc?  This is a very poor issue and would be impossible for a new contributor to understand if they'd be able to do this.

[2020-01-02 09:02] kinnison commented on #2179
Okay, in that case I'd suggest that the better approach is to use the `from_host_or_build()` approach in both cases, which will alter the behaviour slightly for people who were *relying* on the fact that even on a 64bit system, they'd get a 32bit toolchain by default, but I think breaking those people is better than the current misbehaviour which is lying to people.  Does everyone agree?

[2020-01-02 12:41] aQaTL commented on #2179
Hit this bug today. Interestingly, if I select to modify the default values and type in the same thing (`x86_64-pc-windows-msvc`), then it installs the correct toolchain.

[2020-01-03 14:39] tesuji commented on #2181
Sorry, it was a poor issue. I hope I make the issue description better now.

[2020-01-03 22:29] novacrazy commented on #1361
Has there been any work on a revert or history feature? Would be great to see what the last installed nightly is when a new nightly is inevitably broken.

[2020-01-05 09:06] kinnison commented on #2179
Yeah that follows the logic in the code correctly.  I'll decide on the right fix and clear it up today.

[2020-01-05 09:09] kinnison commented on #1361
There has been no work on anything like this in the past year, no.  However current Rustup will tell you what the version was, when it completes an update, so you could make a note if you're worried about nightly breaking your stuff and then you could reinstall a specific nightly if you really need to.

[2020-01-06 00:17] apokaliptis commented on #2178
Sorry for the late response. All lines were commented out in `/etc/gai.conf`. In the file it says, "For sites which prefer IPv4 connections change the last line to `precedence ::ffff:0:0/96  100`", which I did but it still doesn't work. Also, I found out my WSL isn't able to resolve static.rust-lang.org either.

[2020-01-06 08:02] kinnison commented on #2178
If you're failing to do name resolution etc, then I wonder if your WSL setup is somehow otherwise broken.  You say you're able to do arbitrary other ipv6 from it though?

[2020-01-06 08:10] #2181 closed, assigned to nobody

[2020-01-06 19:17] tesuji opened #2187 "Why Rustup prefer windows-gnu toolchain over windows-msvc on Travis Windows build?"
**Problem: Can we make rustup prefer windows-msvc by default (not with any flags)?**

When using rustup on Travis Windows build environment, rustup prefer windows-gnu
toolchain over windows-msvc [1]. Although that environment contains `vctools` [2].

[1]: https://travis-ci.com/rust-lang/rust-clippy/jobs/272814784#L54
[2]: https://docs.travis-ci.com/user/reference/windows/#pre-installed-chocolatey-

[2020-01-06 19:23] tesuji commented on #2187
Forgot to tell. I use rustup-init.sh to to install Rustup. Maybe this is the reason.
[code]

[2020-01-06 19:59] kinnison commented on #2187
if you use the shell script you'll get the GNU variant by default.  If you use https://win.rustup.rs/ you'll get the msvc variant.

You should *always* set the host and toolchain you want for CI in case your host system changes type or defaults change in rustup

[2020-01-06 20:21] tesuji commented on #2187
Thanks. I think I should custom the script.
Closed as non fix.

[2020-01-06 20:21] #2187 closed, assigned to nobody

[2020-01-06 21:32] exorcist365 opened #2189 "rustup.sh fails on /bin/sh on openindiana with local: not found"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
sh[378]: local: not found [No such file or directory]
sh[170]: local: not found [No such file or directory]
rustup: unrecognized OS type: SunOS

[2020-01-06 23:16] flaviojs opened #2188 "Can't use rustup-init arguments to set up cross-compiling with mingw"
**Problem**

Can't use rustup-init arguments to set up cross-compiling with mingw in the github runner ubuntu-latest (ubuntu-18.04).

During build I got the unexpected error:
[code]

I found that rustup-init didn't set up things as expected and forced me to manually add the x86_64-pc-windows-gnu target with:
[code]

I was expecting the target/toolchain to be available after init.

**Notes**
First

[2020-01-07 06:38] rbtcollins commented on #1361
Modifying the output to show the old version and the new version should be pretty easy and would make the ergonomics better.

I think that would be captured in a log automatically. Building a richer thing as mentioned would be more work.

Actually, its likely that the version that was previously installed is in a previous log entry somewhere already already.

[2020-01-07 10:30] kinnison commented on #2188
This is indeed the case -- it's not a bug though.

You cannot specify additional targets to install when using rustup init.  The expected workflow is:

1. use rustup-init to install rustup
2. (optionally) install an additional toolchain if you need to
3. (optionally) install additional components if you need them (e.g. clippy or rustfmt)
4. (optionally) install additional targets if you need cross

[2020-01-07 10:30] #2188 closed, assigned to nobody

[2020-01-07 10:32] kinnison commented on #1361
There's no official long-held log of rustup actions at this time.  Only if you happen to log your console would you have the update logged.

The change I mentioned which is in current rustup is at https://github.com/rust-lang/rustup/commit/8a0b4aeaaa5c93f97f1127ace84ba44cb0985c42 if you want to look at the output format it produces.

[2020-01-07 11:41] skade commented on #2189
Hi, this is an issue with rustup and should be filed here: https://github.com/rust-lang/rustup/issues

[2020-01-07 11:41] emilyalbini commented on #2189
Transferred the issue.

[2020-01-07 11:50] kinnison commented on #2189
Hi @JoanM1lev thanks for contacting us.

At this time, Illumos is tier 2 and only `std` is built.  As such, `rustup` can't be used on that platform.  You can use Linux or another OS and cross-build for that target, but not build natively as far as I understand.

[2020-01-07 16:53] exarkun commented on #912
Apparently the checksum has changed again, breaking the choco package.

[code]

[2020-01-07 16:54] kinnison commented on #912
That's a pretty old rustup too.

[2020-01-07 16:57] majkinetor commented on #912
Chocolatey package should contain it, this is bad community package. Then checksum wont fail.

On Jan 7 2020, at 5:54 pm, Daniel Silverstone <notifications@github.com> wrote:

[2020-01-07 16:58] exarkun commented on #912
Sorry I just noticed this is the "rustup" issue tracker and my error comes from trying to install "rustup.install" which I guess is something different

[2020-01-07 17:00] majkinetor commented on #912
No, thats the same thing. `Install` means it uses windows installer, there are also `portable` packages.

[2020-01-08 09:29] kinnison commented on #2180
When I migrated us to github actions I just didn't include i686 apple, so this is actually done.

[2020-01-08 09:29] #2180 closed, assigned to nobody

[2020-01-08 09:30] kinnison opened #2191 "Component missing message should include target if not equal to toolchain host"
As per https://github.com/rust-lang/rust/issues/67724#issuecomment-571855495 it'd be good if the component-missing message included the target of the component *iff* the target is not equal to the host for the toolchain.

i.e. `rust-std` for the toolchain's host, but `rust-std-foo-unknown-bar` for a cross-std.

[2020-01-08 19:15] rbtcollins commented on #1361
Oh I missed that that was already in there. Thanks.

[2020-01-08 23:00] flaviojs opened #2194 "Warn when a rustup-init argument is ignored/changed"
**Describe the problem you are trying to solve**

This is a followup to #2188.
Since `rustup-init` shouldn't be used to set up cross-compiling with mingw, at the very least it should warn when an argument is ignored/changed.

Without a warning I would think that everything is setup as expected.
This leads to wasting a lot of time trying to figure out what is wrong when a problem arises.

**Describ

[2020-01-09 09:33] kinnison commented on #2194
In the former mode, `rustup-init` will, as instructed, download and install the mingw toolchain and set it as the default.

If you're doing that on Linux, then it'll result in a toolchain which will likely only run if you have wine set up properly, but if you do, then it'll work just fine most likely.

In the latter mode, `rustup-init` will add the target you specify as part of the install...

[co

[2020-01-09 11:34] tesuji opened #2195 "Replace Travis/AppVeyor badges with GitHub Actions one"
There is manual: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository

[2020-01-09 12:43] #2195 closed, assigned to nobody

[2020-01-09 18:11] kraai opened #2200 "Support `cargo install --path ...` using `rust-toolchain`"
**Problem**
If a crate contains a `rust-toolchain` file, the default toolchain is used if `cargo install --path ...` is run from outside of the crate's directory.  I expected it to use the toolchain specified in `rust-toolchain`.

**Steps**
1. `rustup default stable`
2. `cargo new foo`
3. `echo nightly >foo/rust-toolchain`
4. `sed -i '1i#![feature(exact_size_is_empty)]' foo/src/main.rs`
5. `cargo

[2020-01-09 18:50] kinnison commented on #2200
This is exactly as expected and designed.  `rust-toolchain` is searched for in the *current directory heirarchy* For the use-case you describe, `rustup` would have to understand `cargo`'s CLI in order to realise it needed to investigate a different directory heirarchy for `rust-toolchain` before then invoking the correct `cargo` therein.  I'm not entirely sure how this would be supportable in any

[2020-01-09 19:15] flaviojs commented on #2194
That sort of warning would certainly help.
It would be the first thing to try if I got a problem.

----

I tried the later mode once again and got the same error: https://github.com/flaviojs/tmp-ja2-stracciatella/runs/382024157

In your case it started downloading right away.
In my case it only downloaded when `rustup show` was executed.
No idea why it's different.

[2020-01-09 19:22] kinnison commented on #2194
The critical difference in what you linked is https://github.com/flaviojs/tmp-ja2-stracciatella/runs/382024157#step:4:268 -- you're overriding the toolchain with `rust-toolchain`

In addition you're using a system which already has Rust installed so if you look at when you run `rustup-init` you'll see that it didn't actually install that toolchain at that point.

As a result, the `rustup show` ins

[2020-01-09 19:45] flaviojs commented on #2194
So `rustup-init` ignored `--default-toolchain=1.36.0 --target=x86_64-pc-windows-gnu` because rustup was already installed?

Then I would like a warning for that, maybe:
[code]

[2020-01-09 20:00] kinnison commented on #2194
Hmm, I wonder if the right answer is that if those arguments are passed and we're already installed, we should actually try and honour them.  I think this is related to https://github.com/rust-lang/rustup/blob/master/src/cli/self_update.rs#L749 and already carries a FIXME so perhaps we need to work through that.

[2020-01-09 20:40] kinnison commented on #2194
I've whipped up a patch which I am currently testing and then will need to write some more test cases but I might get a PR up either tonight or tomorrow morning for your consideration.

[2020-01-10 09:27] kinnison commented on #2142
Hi @pastly

Happy new year!  Are you still interested and able to make progress on this issue?  I've not seen you around on the Discord in a while.  If you've lost interest or run out of time/energy then that's fine, but I'd like to free this up for someone else to approach if you have.  Either way if you could let me know then I'd appreciate it.

Thanks,

Daniel.

[2020-01-10 09:31] kinnison commented on #2189
Oh in addition, if `sh` on Illumos isn't POSIX then that'd explain why it failed on `local` and friends.

[2020-01-10 09:42] kinnison commented on #2169
Okay, so after some more research, I think this ends up as `DownloadNotExists` because otherwise it ought to be retrying.  The error trace suggests the originating issue is a `connection reset by peer` and the `failed to make network request` bit means the error chained out before being converted to an http code.  As such, the retry logic won't catch it.  I need to look harder at what happens to t

[2020-01-10 11:07] kinnison commented on #2169
I've been back over this and cannot see why it would not have been retrying **unless** the rustup version you had was too old.  Perhaps add a 'rustup --version` to your CI script to be sure it's *at least* 1.21 since that's where retry logic was released.

[2020-01-10 11:10] kinnison commented on #2168
OpenBSD is all tier 3 at this time, which means the required dockers for rustup to build will not be available since they are not produced for tier 3 platforms as I understand it.  If I'm wrong then in theory we could add support to our CI to test these platforms at least, even if we're not ready to release yet.

[2020-01-10 11:11] kinnison commented on #2153
I'm still not certain how this would operate.  First would be to flesh out a prospective use-case including example commands you'd expect your users to execute.  Then we can think from there.  if you have ideas then please let me know.

[2020-01-10 11:41] pastly commented on #2142
It was not okay for me to go complete radio silence. I'm sorry about that.

Long story short is that I did take a stab at it, it didn't work, I'm unsurprisingly busy, and I think it's in your best interest to open it up for someone else.

If time frees up and this is still open, I'll try asking for help next time.

Thanks for rustup. I use it all the time :)

[2020-01-10 11:43] kinnison commented on #2142
@pastly Thanks for the update, hopefully someone else will have time to look, otherwise I'll be happy to see you come back to it when you're less busy.

[2020-01-10 12:27] SimonSapin commented on #2169
Ah! Good to know.

The log in the issue description is for CI task https://community-tc.services.mozilla.com/tasks/T10RQXfSRCCODoDHP5bkAA/runs/0 which runs in a Docker image build by task https://community-tc.services.mozilla.com/tasks/H0g0jHrZRGmozGe41fT2zg which ran on 2019-12-10, installing the then-current rustup with `curl https://sh.rustup.rs | sh`. Based on https://github.com/rust-lang/rust

[2020-01-10 12:27] #2169 closed, assigned to kinnison

[2020-01-10 12:32] kinnison commented on #2169
Thanks Simon.

[2020-01-11 10:07] rbtcollins commented on #2179
Indeed this is a fascinating bug. Given that 32 bit is basically niche at this point, , I think our biggest risk of issues is going to be things like debian multiarch. What would happen there, for instance?

[2020-01-12 03:50] flaviojs commented on #2194
Hmm, the reason I didn't think much about stuff being installed with `rustup show` was because I've used programs that only download components when needed. I just assumed it was the same (that it was initialized correctly and downloaded on demand).

There should be a message saying that it's installing because the overridden toolchain isn't present/set up. Should I open a new issue for that?

[2020-01-12 10:41] kinnison commented on #2179
Multiarch is an interesting question.  Rustup uses `uname()` to determine the host arch and when running a multiarch binary it'll pick up the arch of that binary, so it ought to behave right.  Obviously it can be overridden in the same way as for Windows.

[2020-01-12 10:44] kinnison commented on #2194
I think that it might be reasonable to emit an info: at that point yes.  Please feel free to file an issue with suggested wording for that.

[2020-01-13 23:17] ankushagarwal commented on #2172
Ran into the same issue. @Riateche 's suggestion of `rustup install 1.40.0` worked for me

[2020-01-14 09:53] gnzlbg opened #2202 "Rustup should always clean after itself"
After a successful `rustup update` (or maybe even after each successful rustup command), the `RUSTUP_HOME` directory should be in a "clean" state.

Example of a non-"clean" state:

[code]

That's 2.5 Gb of useless files.

---

Ideally,

* we would have a definition of what "clean" means for the `RUSTUP_HOME` directory,
* APIs to e.g. iterate over all files that would need to be removed for the `RU

[2020-01-14 12:44] jyn514 commented on #2202
I would really appreciate this, my main partition only has about 50 GB and rust uses 5-10 of that after installing stable, nightly, and a few docker volumes for docs.rs. Knocking thar down by 2 GB would be an enormous win :)

[2020-01-14 16:50] davehylands commented on #2153
I guess my ideal scenario would be that we would host a set of files on a local server someplace. The user would set an environment variable (or perhaps use a file configuration similar to rust-toolchain) that causes that server location to be looked at in addition to the regular locations. Then they would use rustup as per " normal" specifying either an official or custom toolchain name.

What we

[2020-01-14 17:20] kinnison commented on #2153
So you'd like to be able to add a dist server *and* channels for that dist server (e.g. so you can do `rustup toolchain install davestable` ?

[2020-01-14 17:23] kinnison commented on #2202
I'd love to know what version of `rustup` you have there, since 3 months ago this commit was added: https://github.com/rust-lang/rustup/commit/0db473b1be2d5c4355c03da68b25952fa3038958 and it was in #2046 that it was merged and released as part of Rustup 1.21.

[2020-01-14 18:50] jyn514 commented on #2202
Look at that, you fixed it and I didn't even notice!

[code]

Thanks so much for your hard work!

[2020-01-14 21:14] #2179 closed, assigned to kinnison

[2020-01-14 21:22] davehylands commented on #2153
I think so - without actually knowing what's involved with setting up a dist server/channels. I'm assuming that it's just some files living on a web server.

[2020-01-15 10:55] gnzlbg commented on #2202
@kinnison I have rustup 1.21.1 (7832b2ebe 2019-12-20), hope that helps.

[2020-01-15 14:45] kinnison commented on #2202
@gnzlbg Oh dear, that really ought to be cleaning up.  If you run `rustup update` do you get `
info: cleaning up downloads & tmp directories` at the end, and if so, is it still full'o'crud?

[2020-01-16 02:14] jebrosen opened #2203 "Failure to install on Windows"
**Problem**

Rocket's Windows CI (Azure Pipelines) started failing between 27 and 4 days ago. We run this command:

[code]

And the output looks like this:
[code]

In a previous successful run, this was the output:
[code]

**Steps**

I have not attempted to reproduce this yet. I'll try locally first, but I would not be surprised if there's some kind of caching going on from a previous installation

[2020-01-16 14:16] gnzlbg commented on #2202
Sadly I manually deleted all the files when filling this issue, so I don't have those precise files anymore to reproduce. I did run `rustup update`, `rustup self update`, etc. and none of these commands removed the files, but I don't remember if I got the `info: ...` part. - it does not ring a bell, but I was not paying attention to that either.

I just `touch`ed some files in the directory, ran `

[2020-01-16 17:16] g2p commented on #1363
A caveat to these instructions:
I also needed to install [vswhere](https://github.com/Microsoft/vswhere) to be able to use the visual studio build tools (might be a 2019 change).
`scoop install vswhere` was the most convenient way for me to get it, YMMV.

[2020-01-17 01:38] jebrosen commented on #2203
Update: I tried this on my machine today and got something normal-looking:

[code]

[2020-01-18 13:36] kobenauf opened #2206 "rustup doc does not work on Windows/WSL"
**Problem**
On Windows, using WSL 2, `rustup doc --std` (or any other `rustup doc` command) opens firefox correctly (because I have `BROWSER=firefox.exe`), but the browser does not load a file; the browser is empty/blank.

I found the rustup docs here:
[code]

I could open this manually like this:
[code]
Or like this:
[code]

**Possible Solution(s)**
Consider making `rustup doc` aware of how to op

[2020-01-18 16:23] kinnison commented on #2202
There's no such registry, but perhaps rustup hadn't updated itself at the point that you noted the large download waste?  If you could keep an eye on it for a bit and if you can't reproduce it then decide when you feel this could be closed?

[2020-01-19 17:20] birkenfeld opened #2207 "Website: show whole shell command at once"
Since the TLS related options were added, the main https://rustup.rs/ page shows only a fraction of the shell command (see below).

Even copying the command is getting cumbersome with this, and it would be nice to see the whole thing I'm supposed to run...

![image](https://user-images.githubusercontent.com/144359/72685220-5587ac80-3ae8-11ea-9a20-5ded37fcdc11.png)

[2020-01-19 21:48] kinnison commented on #2203
IIRC Azure's setup is very odd and breaks rustup quite badly because of how they do layering for preinstalled stuff.  I've had fewer issues with github actions, so perhaps they fixed things in there?

[2020-01-19 21:50] kinnison commented on #2206
WSL is, as far as Rustup is concerned, Linux.  As such, it's using the xdg-open embedded in the `opener` crate.  @Seeker14491 do you have any ideas how this might be accomodated?

[2020-01-19 21:50] kinnison commented on #2207
I'd love it if someone would contribute an HTML/CSS update to fix this.

[2020-01-19 23:15] rbtcollins commented on #2206
We could sniff the kernel to detect WSLv1, but that won't help on WSLv2. I am not sure how to detect WSLv2 at this point. Perhaps there will be an lsb-release metadata tag of some sort.

I think the BROWSER command here is the problem: firefox.exe isn't a wsl-aware command. I suggest making a firefox wrapper script within WSL itself that:
 - checks $1 for filesystem parameters
 - converts them as

[2020-01-20 06:28] birkenfeld commented on #2207
I'm no good at modern CSS, unfortunately.

[2020-01-21 07:19] nikodemus commented on #2203
FYI: I had this on a personal project as well. Adding explicit host triple made it work again:

    --default-host x86_64-pc-windows-msvc

[2020-01-21 09:08] Seeker14491 commented on #2206
As kinnison said, the opener crate is currently oblivious to WSL and so just uses xdg-open like any other Linux. While the [open](https://github.com/sindresorhus/open) node package (which opener took inspiration from) has checks for WSL, I'm not sure that's the right approach. Perhaps it is xdg-open which should support WSL, like what's proposed in [this patch](https://gitlab.freedesktop.org/xdg/x

[2020-01-21 13:33] kobenauf commented on #2206
For what it's worth, the patch @Seeker14491 linked for xdg-open was originally reported Dec 2018, so chances it is going to get fixed there seem low.

[2020-01-21 22:33] jebrosen commented on #2203
That flag seems to have worked for us, as well.

Is there any chance the host detection changed in 1.21 either for better or worse that could be making this necessary?

Alternatively, I wonder if the builders were changed in some way (e.g. from 32-bit to 64-bit) without clearing any caches.

[2020-01-22 13:53] anderejd commented on #2203
@nikodemus Thank you! Your solution works for me as well.

[2020-01-22 14:47] thedrow opened #2213 "Rustup should warn if libgcc is not installed on Alpine"
**Describe the problem you are trying to solve**

In Linux distributions which depend on musl libc, cargo crashes if libgcc is not present.
This is the case in Alpine docker containers.

[code]
Unless you know what to install in order to resolve this issue, it is baffling.
This problem will mainly affect beginners who want to learn rust.

**Describe the solution you'd like**

Rustup should warn on

[2020-01-24 13:06] tesuji opened #2215 "rustup-init skip installing additional target if default toolchain exists"
**Problem**

`rustup-init` skips adding additional toolchain via `--target` option when default-toolchain exists.

*Currently*: rustup-init updates itself and stop
*Expected*: rustup should add the `target` if it doesn't exist.
*Context*: I run a script on CI that makes use of `rustup-init` despite of rustup exist or not.

**Steps**

1. Install stable toolchain
[code]
2. Try using `rustup-init`
[c

[2020-01-25 08:49] kinnison commented on #2206
@kobenauf It seems to me that it'd be up to the WSL distributions to realise they're on WSL/WSL2 and locally patch their `xdg-open` if upstream won't.  @Seeker14491 is there any way (for now?) that the `opener` crate might detect WSL/WSL2 and use an internal patched version of xfg-open short-term?

[2020-01-25 08:57] kinnison commented on #2213
Currently we have only Windows-specific information about toolchains and the like because it's semi-assumed that Linux and Mac OS people will know what they're doing to get their particular local distro's toolchains.  It might be interesting for us to smoke-test components after installation and warn, but I'm not sure we can properly detect and diagnose this kind of issue across all our Linuxy tar

[2020-01-25 09:10] kinnison commented on #2215
This is already being addressed in #2201 which you have commented on, but has not yet been merged.

[2020-01-25 09:11] tesuji commented on #2215
Thank you. I totally forgot about that PR.

[2020-01-25 09:17] #2207 closed, assigned to nobody

[2020-01-25 20:54] therealkenc commented on #2206
[This](https://github.com/microsoft/WSL/issues/4555#issuecomment-537161366), but RIIR.

Or WSL users can (and do) swap out their `xdg-open` for a wrapper that takes into account the path conversion.

This is unrelated to [MIcrosoft/WSL#4649](https://github.com/microsoft/WSL/issues/4649). There is some navel gazing in [#3907](https://github.com/microsoft/WSL/issues/3907), others. Another option is

[2020-01-26 00:31] Seeker14491 commented on #2206
Well currently users can't just swap out their `xdg-open`, because we're shipping our own `xdg-open`, though we could change the `opener` crate to try using the system `xdg-open` first before falling back to our own `xdg-open`.
Of course, it would be nice if this worked out-of-the-box, so @kinnison's suggestion seems like a viable option. Basically, we would use the `wslpath` command in our modifi

[2020-01-26 04:19] therealkenc commented on #2206
Okay [got it](https://docs.rs/opener/0.4.1/opener/). Users not only _can_ swap their `xdg-open(1)`, they _do_; but that won't work because `xdg-open(1)` it isn't actually spawned.

@kinnison's suggestion is workable.

Yes, there's a large(ish) community using native `chrome`/`firefox` on WSL with remote X11 (VcXsrv and such). For them native system `xdg-open(1)` (and `opener::open()`) works. One w

[2020-01-26 10:51] thedrow commented on #2213
`rustc` does not work as well.
In fact, all the executables installed by rustup do not work without `libgcc` on Alpine.

[2020-01-27 01:33] rbtcollins commented on #2213
What is the right way to install libgcc here? apk?

[2020-01-27 01:36] rbtcollins commented on #2206
How *does* invoking the non-WSL binary work? Does it show up in a recognisable path? We could do path normalisation things if (pseudo code):
[code]

[2020-01-27 04:02] therealkenc commented on #2206
It's a [`binfmt_misc`](https://www.kernel.org/doc/html/latest/admin-guide/binfmt-misc.html) under the hood. At the [`execve()`](http://man7.org/linux/man-pages/man2/execve.2.html) syscall level it looks just like anything else that has a custom interpreter. The `exeve()` syscall follows the `$PATH` resolution rules same as usual. You can mostly ignore the details.

That's a good question, and the

[2020-01-27 10:27] thedrow commented on #2213
Indeed.

[2020-01-27 14:48] hanusek commented on #2145
I have the same problem - a embedded device with 256 MB RAM. How to solve it?

[2020-01-27 15:35] rostidev commented on #2179
I also experienced this issue. I've downloaded the rustup-init.exe version 1.21.1 (7832b2ebe 2019-12-20) from https://www.rust-lang.org/tools/install that actually uses https://win.rustup.rs/ as the download link. It gave me a 32-bit version.

I've found the 64-bit version of rustup-init.exe here: https://rustup.rs/ with actual download link https://win.rustup.rs/x86_64

Also the 32-bit version of

[2020-01-27 16:44] tesuji commented on #2213
Is this intended that cargo on musl target depend on libgcc dynamically and cannot be
replaced? I ping @pietroalbini as he may know the answer or who else know that.

[2020-01-27 18:08] rbtcollins commented on #2145
Start by setting RUSTUP_UNPACK_RAM=128000000 or something like that.

-Rob

On Tue, 28 Jan 2020 at 03:48, Michał Hanusek <notifications@github.com>
wrote:

[2020-01-27 18:15] rbtcollins commented on #2179
The bug is fixed, just not in a release yet - I'm sorry you've also been hit by it.

https://github.com/rust-lang/rustup/pull/2186/commits/a985815f60dbc09e74cd92e2a272a6fffd043b01

is the fix. What this changes is makes sure that we honour the host we're running on appropriately, regardless of whether a 32 or 64 bit windows binary of rustup-init is running. Then self-update will eventually get the

[2020-01-28 10:04] emilyalbini commented on #2213
Hmm, I don't really know who to ask.

[2020-01-28 13:09] thedrow commented on #2213
That's a very good question. I haven't thought of that.

[2020-01-28 14:13] tesuji commented on #2213
Thank pietroalbini. I ping @ehuss as another change to get answer for https://github.com/rust-lang/rustup/issues/2213#issuecomment-578838898 .

[2020-01-28 15:16] ehuss commented on #2213
I think the short answer is yes, libgcc_s.so is needed for now.  I don't know if it is possible (or desirable) to avoid.

But you're also asking the wrong person, as I know next to nothing about musl.  I think @mati865 is the expert here (rust-lang/rust#59302).

[2020-01-28 15:38] mati865 commented on #2213
It's not specific to musl.
Similar error will appear when you try to run Cargo on glibc based distro without `libgcc_s.so.1` installed.

The reason you can see it here but not on Ubuntu is because Alpine containers are stripped to the bare minimum and nothing has pulled libgcc as a dependency.

Generally you need linker (GCC or Clang) to use Rust and I'd be surprised if installing one of them have

[2020-01-28 17:01] kinnison commented on #2213
So this is another example of "where does the documentation belong?" -- for Windows we include instructions on getting the MSVC tooling installed, but we don't include instructions really for other platforms.  Where do we draw the line?  Should the instructions be in the code or just the README, etc.  There is at least some assumption that developers installing Rust with `rustup` know what they're

[2020-01-28 17:05] kinnison commented on #2206
If the system `xdg-open` is correctly updated on WSL, then that seems like the safest option frankly.

[2020-01-28 17:22] thedrow commented on #2213
Assuming that the user knows the platform they are using is a bad idea. What if they are a junior developer with no prior experience with Docker or with Alpine?

[2020-01-28 17:29] kinnison commented on #2213
I feel it's a really tough call to make @thedrow  -- is it our place to know all the possible targets and the possible dependencies our users might have or not have?  Or is it our place to recommend that platforms document what's needed to get Rust working?  If we assume it's the responsibility of the rust-lang org in some sense, then what's the right thing to do?  Something specific to Alpine?  S

[2020-01-28 17:39] therealkenc commented on #2206
That's the standard operating procedure (if there is such a thing). WSL users wrap their `xdg-open`. It's (probably) a stretch for `xdg-open(1)` proper to change their ways; it isn't xdg-util's problem, at least arguably. If [`opener::open()`](https://docs.rs/opener/0.4.1/opener/) wants to act as the xplat intermediary, that's fine. WSL is "another platform". That is probably where the "`if (wsl)`

[2020-01-28 21:07] teknopaul commented on #2145
I managed to install on a machine with more ram and copy the files across.

[2020-01-28 21:59] #2194 closed, assigned to nobody

[2020-01-28 21:59] #2215 closed, assigned to nobody

[2020-01-30 13:17] tesuji commented on #2213
I think we need to document about using Rustc on Alpine in Rustup's README file.
The requirement is that Rustc needs gcc or clang pre-existing.

[2020-01-30 13:21] mati865 commented on #2213
It's not only for Alpine but for every Linux. While Ubuntu has libgcc installed by default I think it does have gcc.

[2020-01-30 13:39] tesuji commented on #2213
Yes, I agree. While people could run rustc and cargo when having libgcc, missing C compiler prevents users from compiling libc, which is a huge loss anyway.

[2020-02-01 17:20] kinnison opened #2219 "Decide what it means to specify a profile for an already installed toolchain"
There are a number of circumstances in which `rustup` might be caused to update an already installed toolchain.  In some of those circumstances, the user may be able to specify a profile on the CLI.

Currently we always ignore any profile specified if the toolchain is already installed.  This means that if the user specifies `default` but the installed toolchain has only `minimal` components, then

[2020-02-01 17:36] kinnison commented on #2213
So somewhere in `README.md` we should perhaps have a small section about how you most likely need gcc or clang in order to usefully build Rust applications, and how rustc and cargo itself is linked against libgcc on Linux platforms.  Then instructions for a few common Linux platforms?  That'd be a PR I'd very much consider merging.

[2020-02-01 22:03] kinnison commented on #2146
Unfortunately @BeniCheni grew too busy to continue work on this issue, thus it is open for new contributors once more.  Information on one possible approach (though Ben decided he didn't like it in the end) is in #2176 and support is available on Discord in the `#wg-rustup` channel.

[2020-02-02 11:35] matthiaskrgr opened #2221 "rustup check reports "Update available" when update is skipped due to missing component"
**Problem**
`rustup check` reports `Update available` èven when the update is skipped due to missing components.
Perhaps it should display a different message such as `Missing n component(s)` instead?

Output of `rustup --version`: `rustup 1.21.1 (7832b2ebe 2019-12-20)`
Output of `rustup show`:
[code]

[2020-02-02 15:28] kinnison commented on #2221
This sounds like an interesting feature to add.  I imagine it'd start by looking at the mechanism for determining if the installed set of components is available in the downloaded manifest.  Then we can look at the messaging and rendering around that.

To anyone, not just the OP, if you're interested in working on this, please say so on here, and contact me on Discord in `#wg-rustup` and we can di

[2020-02-02 19:14] ghost opened #2222 "fresh installs on linux currently installing 1.40.0"
**Problem**

Fresh installs on linux using the command
`curl https://sh.rustup.rs/ -sSf | sh -s -- -y --default-toolchain stable`
are currently installing rust 1.40.0 instead of 1.41.0

**Steps**

1. Have a linux machine with no rust
2. run `curl https://sh.rustup.rs/ -sSf | sh -s -- -y --default-toolchain stable`
3. installed rust will be 1.40.0

**Possible Solution(s)**

[2020-02-02 19:32] rbtcollins commented on #2222
Can we get the transcript from that please?

[2020-02-03 15:32] kinnison commented on #2222
My guess is that this is on a CI system where 1.40 is already installed.  If so, then #2201 will resolve that in the next release of rustup.

[2020-02-04 01:49] ghost commented on #2222
@kinnison yes, that is the issue. I tried modifying my scripts to run rustup update, but ran into a weird wall where MacOS wasn't picking up the PATH changes. I'll just wait for the next release. Thanks!

[2020-02-04 01:49] #2222 closed, assigned to nobody

[2020-02-04 17:32] kinnison commented on #2222
If it's helpful @ZoeyR you can look at Rustup's github workflows for ideas on how to manage this in the meantime.

[2020-02-04 17:49] cheako opened #2223 "Create file, then fail to create symlink on file exists."
**Problem**

Hmm, I've spoken English all my life but don't you think this is a high bar?  It excludes those like me who have autism.
```strace -f -e trace=file rustup target add wasm32-wasi```
[code]

Notice the O_CREAT flag, this creates a file.  This precludes the symlink from returning anything other than EEXIST(-1).

**Steps**

I doubt there are any steps, you'll likely have to find all the s

[2020-02-04 18:46] cheako opened #2224 "Question/clarification: "tool `*` is already installed... to have rustup manage this tool" OR "info: rolling back changes""
Problem A: https://gitlab.com/cheako/websuite-rs/-/jobs/425803007#L255
Possible symptom: https://gitlab.com/cheako/websuite-rs/-/jobs/425803007#L266
I don't know if this is my issue, but it seems likely that this mechanism is responsible for my other plight.  What's responsible for this "already installed" message?  I'd like to know what file of files are corrupted to get this effect.  That's why

[2020-02-04 22:52] rbtcollins commented on #2224
info: rolling back changes is output when rustup has encountered an error, its part of the 'transactional' handling (narrator, it is neither ACID nor BASE) of updates.

A bit of background will help understanding things here. rustup provides proxies for all the rust executables, which act as thunks to the toolchain specific versions. When rustup is updated, which happens from line 266, those proxi

[2020-02-04 23:07] rbtcollins commented on #2224
So yeah, I'm pretty sure this is effectively a variation on "running rustup twice at once breaks", where the second invocation happens to be spelt rsync.

[2020-02-04 23:16] rbtcollins commented on #2223
I think this is the same situation as the other bug of yours I just analysed, where you've run rustup concurrently with either itself or with a cache-restore operation.

[2020-02-05 03:39] tpmccallum commented on #953
Yes, use
[code]

[2020-02-05 04:06] rbtcollins commented on #2219
I think there are a few possibilities:
- we could say that this is an error, but thats not particularly friendly, as it will force folk to have a toolchain uninstall || false before they install a profile
- we could say that they get the union of what they have with what the profile includes, which is conservative
- we could do what we ourselves do, which is to have the profile completely reset wh

[2020-02-05 04:08] rbtcollins commented on #2203
is your curl an x86-64 curl?

[2020-02-05 04:12] rbtcollins commented on #2189
We'd be happy with patches to detect a POSIX sh on openindiana and invoke it appropriately, though that won't help with the lack of built components etc. I've tagged this help wanted to indicate that the rustup team themselves are not going to get to this (while Ilumos is tier 2 anyhow).

[2020-02-05 04:15] rbtcollins commented on #2178
ping @apokaliptis ? will close this in a bit if you have lost interest in digging into this.

In addition to @kinnison's question, what version of WSL do you have?

[2020-02-05 04:16] rbtcollins commented on #988
@matklad did that fancy flock code get extracted?

[2020-02-05 04:21] rbtcollins commented on #1875
Another design requirement: structured programmatic output for use from visual code and other tools.
I'm thinking of bolting a structured encoding - e.g.. protobuf- onto stdout; ok maybe protobuf is a bad choice and YAML or something less demanding of clean 8-bit channels would be better, though, waggles hand, I've been around that before with subunit and honestly biting the bullet and making it t

[2020-02-05 07:05] matklad commented on #988
No: https://github.com/rust-lang/cargo/blob/master/src/cargo/util/flock.rs

I’ve also absolutely dropped the ball on this one :)

[2020-02-05 07:56] rbtcollins commented on #988
No worries. Looking at it the semantics you have are different enough that it wouldn't be useful (e.g. creating directories on demand would run open up TOCTOU race conditions in untar secure handling for rustup), we don't want to lock each file because syscall latency would destroy performance on NFS and windows and so on.

I'll take the code as inspiration and do a similar thing though :) cheers!

[2020-02-05 09:20] rbtcollins commented on #988
Ok, so looks like cargo has problems on NFS which I was worried about:
- https://github.com/rust-lang/cargo/blob/master/src/cargo/util/flock.rs#L300
- https://github.com/rust-lang/cargo/issues/4629

cifsfs supports oplocks so SMBfs should lock properly:
- https://github.com/torvalds/linux/blob/master/fs/cifs/cifsfs.c
- meaning that I think its just the blocking failure mode of crashed /firewalled/

[2020-02-05 16:14] cheako commented on #2224
That's easy to explain away.  Still wanting to know what causes the error, where is rustup reading something or encountering an error(even if it is another instance of rustup there should be a point where they collide)?

Where is the other invocation of rustup?  This is a CI command https://gitlab.com/cheako/websuite-rs/-/blob/7549ced1565df4aa5c82b44d2fea2db4dac5c759/.gitlab-ci.yml#L15 nothing els

[2020-02-05 16:18] cheako commented on #2223
I'm not sure what a cache restore is.  It should be noted that one bug report is about gitlab CI and this report is about a server ssh session and shell, vastly different scenarios and it would be surprising if they had something in common(although not impossible).

There is not another instance of rustup!  There isn't any fancy caching going on as in the gitlab CI situation.
[code]

[2020-02-05 16:28] cheako commented on #2224
Are you indicating that the rustdocker/rust:stable have manually installed these?  I don't think that's likely.  I'm asking how rustup knows these have been manually installed.

[2020-02-05 16:45] cheako commented on #2224
Through testing I've determined that settings.toml and toolchains/*/lib/rustlib/multirust-channel-manifest.toml are likely culprits.  I'm looking closer at how these files are changed at various stages.  Testing of this issue is made difficult due to everything being gitlab CI.

[2020-02-05 18:01] cheako commented on #2224
https://gitlab.com/cheako/websuite-rs/-/jobs/427194762
Lines 23 to 49 show the initial state, pre and post rsync.  42 - 44 is installing target for service worker.  60 to 63 shows the files are unchanged??!

[2020-02-05 19:41] rbtcollins commented on #2224
Hmm, ok, so not concurrent invocation. But.

Here was what I saw:  one invocation of rustup in the gitlab ci yaml file; but in the console output at line 25:
[code]

and the second at the end reporting its completion at line 269:
[code]

But `rustup target add wasm32-wasi` should output this:
[code]

That summary of installed components is from rustup-init and rustup update, from memory.

So, I am

[2020-02-05 22:12] svend commented on #2136
I found https://github.com/rust-lang/rustup#profiles confusing. I picked the complete profile, since I wanted IDE support out of the box.

[2020-02-05 22:34] cheako commented on #2224
I'll write perl scripts that will recreate any hard links, thanks for this information!  and change the rsync options of course.

/* Ignore this: What files need to be hardlinked?  As I indicated we are transitioning through a zip file, so any information about HL would need to be recreated. */

I don't think I need this either, if hard links are my issue.
Also when you say rustup's manifest, can

[2020-02-06 00:00] rbtcollins commented on #2224
the proxies are all hardlinked to rustup itself. Thats why the message shows up after the self update check.

We stat the toolchain dir to see if the toolchain is installed, as I said. For components, the component is listed in $RUSTUP_HOME/toolchains/$TOOLCHAIN/lib/rustlib/components if it has been installed.

[2020-02-06 00:18] cheako commented on #2224
I see, so implementing hard links will just fix the warnings about fmt.

This log doesn't show any access to toolchains itself.
https://gitlab.com/cheako/websuite-rs/-/jobs/425803007

On line 91 rustup just magically knows about 1.41.0-x86_64-unknown-linux-gnu, but nothing it accesses prior would indicate that exists.

The only meaningful access I see is to /root/.rustup/settings.toml, but this fi

[2020-02-06 08:00] rbtcollins commented on #2224
Implementing the hardlinks will make sure that when we change code in the proxies rustup installs new proxies : right now its not touching the files it is warning about when invoked by the cargo command a few lines up in the log.

This is how we determine installed toolchains:
[code]

I suspect -etrace=file is not including readdir. You're installing a component, not a toolchain, which is why a si

[2020-02-06 23:17] cheako commented on #2224
Thanks for the loads of help, I appreciate it as I know I'd be stuck without it.  I think this has todo with the processing of diff output incorrectly identifying ```components``` as unmodified.

https://gitlab.com/cheako/websuite-rs/-/jobs/425803007#L100

[2020-02-06 23:17] #2224 closed, assigned to nobody

[2020-02-07 00:39] rbtcollins commented on #2224
Well it is opening components, finding the wasm bits aren't listed there,
then downloading and installing them, but when it goes to write them to
disk, they are present.

Perhaps they are already on disk before your cache restore? Does your cache
restore delete files that are already on the worker but not present in your
cache? If not then this would also explain the problem, because you're
replac

[2020-02-07 01:23] cheako commented on #2224
Because the trim script removes components from the cache, the begin script copies the components file from the image into the directory to the cache.  This is because the output of diff, it's supposed to remove duplicate files from the cache, isn't being processed correctly.

[2020-02-07 18:47] johnterickson commented on #2203
Are you running from a “script” block or “bash” block?

[2020-02-07 18:50] nikodemus commented on #2203
This is what I have now (which works, with the explicit `--default-host`.)
[code]

[2020-02-07 18:53] johnterickson commented on #2203
What’s weird about this is how it ever worked 😄

From all I have read it should have always been downloading and installing the 32-bit version... 🤔

As of this, the right thing should be happening:
https://github.com/rust-lang/rustup/issues/2179#issuecomment-578880995

[2020-02-07 23:27] mtreinish opened #2225 "rustup --default-toolchain nightly -y fails on s390x"
**Problem**

Trying to add an s390x travis job to my rust project (that needs nightly for pyo3) fails when running `rustup.sh --default-toolchain nightly -y fails on s390x`

For example see (I set `RUST_BACKTRACE=full` there):
https://travis-ci.com/mtreinish/retworkx/jobs/285025218

[code]

Looking at the backtrace it might be an issue in reqwest since that's where it seems to fail before triggeri

[2020-02-08 02:03] jebrosen commented on #2203
We do this in [a `script` block](https://github.com/SergioBenitez/Rocket/blob/9f0e02fe27460a8901ef3e96987087a21503ade8/.github/azure-pipelines-template.yml#L58).

`curl --version` just says "Windows", but `where` reports that curl is: `C:\Windows\System32\curl.exe` (🤨) or possibly `C:\Program Files\Git\mingw64\bin\curl.exe`.

`7z l C:\Windows\System32\curl.exe | findstr CPU` gives me:

[code]

So

[2020-02-08 05:15] ZacBlanco opened #2226 "rustup not on $PATH after installing"
**Problem**

I am running Ubuntu Server 18.04 + the `ubuntu-desktop` package. After using the script at `https://rustup.rs` the toolchains are installed properly, but not immediately accessible on my `$PATH`.

**Steps**

1. Run the rustup installation command at `https://rustup.rs`
2. Select option 1 (default install)
3. Close terminal and re-open a new terminal (`gnome-terminal` is what I use)
4.

[2020-02-08 05:33] rbtcollins commented on #2225
Looks like an issue with openssl.
[code]

looks like it is looping through restart -> instantiate -> generate -> restart etc.

[2020-02-08 05:42] rbtcollins commented on #2226
The issue is that you haven't actually started a new login shell. Run bash --login and you should be fine, or follow the instructions printed by rustup for using rustup before new logins take place.

We have to use `~/.bash_profile` to operate correctly when invoked in scripts and non-interactive contexts, but this does have the behaviour you have observed. We could perhaps add sections to both pl

[2020-02-08 06:15] ZacBlanco commented on #2226
I'm aware it's because I'm not using a login shell - but by default the `gnome-terminal` GUI starts all shells _without_ the `--login` option within the Ubuntu desktop.

I think the preferred behavior would have people not needing to re-configure their terminal application to get the binaries on the path. From a user's perspective it's just not as friendly.

I can see arguments for not including t

[2020-02-08 06:23] ZacBlanco commented on #2226
So after doing a full logout on the Ubuntu desktop, then logging back in everything works, even without the addition to `~/.bashrc` or changing the gnome-terminal settings

Is there anything we can do in the background to not perform a full logout in that case? I'm guessing not. I guess I just wish there was a way that "just works" without the user having to do anything after running the rustup in

[2020-02-08 07:11] #2226 closed, assigned to nobody

[2020-02-08 08:41] rbtcollins commented on #2226
I agree that its not as friendly; having code in both places would be needed I think; I don't think the gnome config is in any way wrong or erroneous.

[2020-02-08 21:09] mtreinish commented on #2225
Thanks, that gave me enough of a hint to figure out a workaround for the ci job. Upgrading the travis config to use ubuntu 18.04 seems to avoid the panic. There is still be something going on with the s390x ubuntu 16.04 ssl package that is included the default travis image but I don't think it's worth keeping this open anymore if upgrading to a newer version of openssl fixed it.

[2020-02-08 21:09] #2225 closed, assigned to nobody

[2020-02-08 22:55] rbtcollins commented on #2225
You're welcome; yes, I think the place to direct this is travis/Ubuntu, but for a 4 year old distro... shrug.

[2020-02-09 03:51] Zexbe commented on #2221
I'm interested in doing it.

[2020-02-11 12:33] vext01 opened #2227 "rustup force skips components by default"
**Problem**

When installing a nightly, my understanding is that rustup should walk back in time, installing the first snapshot with all of the requested components. However, today it seems not.

https://blog.rust-lang.org/2019/10/15/Rustup-1.20.0.html

**Steps**

1. At a time when there are components missing (i.e. now), under a fresh user user account with no pre-existing `~/.rustup` or `~/.carg

[2020-02-11 17:21] kinnison opened #2228 "README about profiles encourages use of `complete` which is a bad idea"
The `README.md` profiles section needs adjusting to not mislead people into thinking `complete` is a good idea for the general users because it'll almost never work.

This should be a relatively easy fix to make.

I'm happy to help someone through making this change.

[2020-02-11 17:26] kinnison commented on #2203
If you're using win.rustup.rs then it will always download a 32 bit installer which *should* pick an installer which matches your platform but *may* incorrectly select a 32bit one instead.  In CI it's recommended to install with explicit host triples or perhaps even to set it in a separate action and *then* install the toolchain.  That protects you against changes in the underlying infrastructure

[2020-02-11 17:27] kinnison commented on #2227
This was a decision which was made because people wanted to be able to install immediately.  The initial install is always forced, as it any install which occurs automatically because of `rust-toolchain` or similar.  If you always want the backtracking support you should install `rustup` with `--default-toolchain none` and then do an explicit `rustup toolchain install nightly` which will enable ba

[2020-02-11 21:39] LeSeulArtichaut commented on #2228
What about adding something like the following?
[code]

[2020-02-11 21:50] kinnison commented on #2228
I think removing the emphasis on the IDE support is also necessary because otherwise it leads people to want to use `complete` when really `default` should be their goal.  IDEs auto-install missing components on-demand generally.

[2020-02-11 23:13] rbtcollins commented on #2228
I think it needs to be actively say that complete is a bad idea.

Something like "`complete` is a bad idea because every it includes every component ever included in the metadata, including many that do not currently build and as a result it will fail to install.".

[2020-02-12 11:16] vext01 commented on #2227
That does indeed work, however I find that a very surprising behaviour.

Is this documented somewhere? If not, we should add docs.

[2020-02-12 14:31] dmilith commented on #1843
Was the process updated? It's FreeBSD which supports LLD linker in base system by default. Why Rust build lack that for FreeBSD? :o

[2020-02-12 18:39] MikaelUrankar commented on #1843
I'll try to get this fixed on FreeBSD side: https://reviews.freebsd.org/D23653

[2020-02-13 04:30] rillian opened #2229 "allocation failure installing rustc"
**Problem**

Running `rustup update` to upgrade an install to the 1.41.0 stable release today, I have a repeatable failure:
[code]
This is on a mips host with 512 MiB of physical ram. I'd expect this to work on a larger machine, but it also doesn't seem correct that the installer is asking for twice the size of the file it's unpacking.

**Steps**

1. Install rustup and rust 1.40.0.
2. Limit host t

[2020-02-13 10:46] valpackett commented on #1843
I just use `RUSTFLAGS="-C linker=ld.lld90"` (lld from our llvm packages) whenever `rust-lld` is required (i.e. both for wasm and embedded arm microcontrollers). We don't really need `rust-lld`. Would be nice if rustc auto detected system llds.

[2020-02-13 12:22] rbtcollins commented on #2229
Please try setting RUSTUP_UNPACK_RAM to a lower figure than 400M, or provide more VM to rustup.

[2020-02-13 12:22] igalic commented on #1843
if that auto-detection were possible, would that mean that we could promote FreeBSD to First-Tier platform?

[2020-02-13 13:11] valpackett commented on #1843
I don't think the linker is the reason it's not first tier.

[2020-02-13 16:40] LeSeulArtichaut commented on #2142
Hey, I'm someone else who has time to look :D
I just submitted a PR (#2231) to try to close this. I hope it was what you were expecting. If not please contact me back, by pinging me here or over Discord (you'll easely find me, I don't think many people are named "TheOnlyArtichoke", since I'm the only one).

[2020-02-13 16:49] rillian commented on #2229
Yes `RUSTUP_UNPACK_RAM=200000000` works around the issue. Thanks!

Any suggestions on how this could be handled by default? The budget could be clamped to some fraction of available ram, or the package unpack could be split across multiple tasks.

[2020-02-13 21:16] rbtcollins commented on #2229
Yes, detecting usable RAM and subtracting an appropriate overhead amount would be a decent way to autotune this.

[2020-02-14 13:34] LoZeno commented on #1328
I'm experiencing this error today. I am not on a VPN nor have a proxy. Curl doesn't seem to have an issue though.
[code]

[code]

[2020-02-14 16:21] Stargateur opened #2232 "Problem with docker in docker dind"
I have a project that use rust, we use gitlab, our workflow use dind, long story short, I wanted to test when `rustfmt --check` fail. So, I add rustfmt component, then I wanted to remove it because it was not strickly needed in the final image, I don't know if it a good practice or not but my problem is not here.

Dockerfile (should reproduce the problem):

[code]

I get the following error:
[code

[2020-02-14 19:50] ajess33 commented on #1455
Did you ever solve this? Having the same issue on Windows

[2020-02-15 02:29] retep998 commented on #1455
@ajess33 `where link` returning gnu link is completely fine since rust is capable of searching for msvc through the registry and stuff and does not rely on PATH. If rust is invoking gnu link however, then that means your vc++ installation is missing some important component, usually the windows sdk is the most common to be missing.

[2020-02-16 11:35] Stargateur commented on #1569
@kinnison Can you add where we can find it ? I don't find any information on the [README](https://registry.hub.docker.com/_/rust/?tab=description&page=1). Thanks

[2020-02-16 22:41] rbtcollins commented on #988
Further thoughts: we need to mutually exclude operations on toolchains: removal and upgrade affect the entire toolchain as well as operations on components (add/remove components). I think locking the dir of the toolchain is probably the right control point.

[2020-02-16 23:50] skade opened #2233 "Confusing error message when trying to call rust-lldb on windows"
**Problem**

This is a problem I caught on twitter: https://twitter.com/robdaemon/status/1229188704666820608

Calling `rust-lldb` on a windows toolchain msvc seems to result in the following interaction:

[code]
Running the command results in:

[code]

This interaction is not useful, especially as rust-lldb is not available for this target.

**Possible Solution(s)**

My suggested solution would be

[2020-02-16 23:59] robdaemon commented on #2233
![rust-lldb](https://user-images.githubusercontent.com/287213/74615406-45f28800-50d5-11ea-9869-f608b4636a43.png)

adding a screenshot here, as my Twitter feed gets purged regularly.

[2020-02-17 10:43] RobbieClarken commented on #2232
<details>
  <summary>backtrace</summary>

[code]
</details>

The same error occurs with debian base images so it's not an alpine thing. I could replicate the problem with:

[code]

strace revealed `std::fs::rename` makes a system call to `renameat2` which throws an `EXDEV` error: "oldpath and newpath are not on the same mounted filesystem". It looks like this syscall cannot move directories across

[2020-02-18 17:06] kinnison commented on #1569
@Stargateur the README for Rustup clearly states the content of the `default` profile includes `rustfmt` and `clippy` -- https://github.com/rust-lang/rustup/#profiles

[2020-02-18 17:36] kinnison commented on #1328
@LoZeno It would help if you could get a network trace of what `rustup` is doing when it times out.

[2020-02-18 19:08] Stargateur commented on #1569
@kinnison Maybe I miss understand, the issue is about docker, so my question was where this information is on docker readme, I'm using "rust:latest" as image and I would like to know if this include fmt, that seem to not be the case.

My question more simply is there a official docker image with rustfmt installed ?

[2020-02-18 19:35] kinnison commented on #2232
`rustup` assumes that the `.rustup` directory is within a single filesystem so that it can use `rename()` rather than having to copy/delete when doing its transactional component updates.  It'd be very bad for `rustup` to have to fall back.  Instead ensure that you always set up a toolchain in a single `RUN` line in your `Dockerfile`.  I'm not a docker expert so I don't know the absolute best way,

[2020-02-18 19:40] kinnison commented on #2233
The useful change for this would be to ensure that when raising the `BinaryNotFound` from `Toolchain::create_command()` we should check the toolchain's available components and add a boolean to the raise when the command would not be available in the toolchain.  This would have the added bonus that in nightlies where `rustfmt` or `clippy` is unavailable, we'd explain that up-front rather than risk

[2020-02-18 19:46] kinnison commented on #2227
I don't think it is formally documented no.  I'm sad that you found it surprising since our goal was to reduce surprise (people were confused when `rustup-init` could fail).  If you have some suggested wording for an update to the README to help reduce the chance that others will be caught out like you were, I'd appreciate a PR.  You'd probably be best placed to know where you'd have looked for th

[2020-02-18 19:50] #2142 closed, assigned to nobody

[2020-02-18 19:53] Stargateur commented on #2232
@kinnison I think I see, that lame we don't have a better error message from std.

[2020-02-18 19:53] #2232 closed, assigned to nobody

[2020-02-18 20:00] kinnison commented on #1569
Oh I'm sorry, I didn't realise -- `rustup` has nothing to do with the `rust:latest` docker per-se, sorry.  Whoever provides that would need to help you out.  I'm afraid I have no clue who that is.  I've asked on the infrastructure channel but they've not answered me yet.  You'd be best off investigating who owns that dockerhub release and talking with them, sorry.

[2020-02-18 20:06] kinnison commented on #2229
My only concern with such an approach would be if we were then unable to unpack due to a large file not fitting in RAM, yet it'd be `mmap()`d and so not need to fit when used.  I think we'd probably need to support chunking up the extraction if we wanted to go down this route.

[2020-02-18 21:26] rbtcollins commented on #2229
I think we some different sorts of issues all cropping up.
We have machines with oodles of RAM and artificial limits - ulimits or similar.
We have machines with very real RAM physical constraints and no swap where failures are hard.

In the former case rustc will fail to run, as RAM footprint is not being measured, assuming I recall my basics correctly.
In the latter case, rustc would run correctl

[2020-02-18 22:19] kinnison commented on #2229
I think that makes a lot of sense.  So the question is how we do the `magic_detect_ram()` work.  Hmm...  https://docs.rs/sys-info/0.5.9/sys_info/fn.mem_info.html looks plausible, plus we could use `libc::ulimit()` though I don't know what Windows equivalent would be.

[2020-02-18 22:20] #2228 closed, assigned to nobody

[2020-02-18 22:34] rbtcollins commented on #2229
mem_info returns avail for Windows, so thats fine; and Windows doesn't do ulimits last I heard.

[2020-02-20 23:03] mdtro opened #2234 "rustup update fails if renaming of rust-docs fails midway"
**Problem**
My corporate system has some strict antivirus policies. When running `rustup update` it will usually fail at the `info: installing component 'rust-docs'` part because of the mass renaming of files (I assume). The security policies profile this as ransomware and begin implementing defenses against it.

**Steps**
(this one might be hard to reproduce outside of my case)
1. Install one of

[2020-02-22 02:46] rbtcollins commented on #2234
Hi, we've found in the past that while we have consistent problems with anti virus it is often not the thing that people think it is and we need to drill into the specifics of the failure to identify the exact cause.

Additionally different AV products interrupt IO in different ways at different times depending on configuration, policy and so forth and this can interact with rustup as well.

Can y

[2020-02-22 02:56] rbtcollins commented on #2223
Is this still occurring? I'm wondering if it was a bad component tarball.

[2020-02-22 22:10] cheako commented on #2223
I managed to find a code path that behaved in an ill mannered way.  I don't think it's fine to say it's fixed if the solution is to ensure that the code is never run.

The code was run by the rustup binary.  Is there some virtual machine where rustup runs code provided by the component tarball?

[2020-02-22 23:28] jcrites opened #2237 "(disregard this) (was: prototype4: ls command outputs run together)"
Actual output:

[code]

Expected output: files with some delimiter or list display

[2020-02-22 23:30] jcrites opened #2238 "Feature: Select across multiple commands and output"
It looks like we currently can't click and drag to select text across commands and output areas in prototype4. Perhaps this is due to the use of the `canvas` element somehow.

I'm able to select text normally within the output, just not across the commands and output sections together. Is there a way to support this?

[2020-02-22 23:31] jcrites commented on #2238
I opened this issue in the wrong repo. Disregard.

[2020-02-22 23:31] #2238 closed, assigned to nobody

[2020-02-22 23:31] jcrites commented on #2237
I opened this issue in the wrong repo. Disregard.

[2020-02-22 23:31] #2237 closed, assigned to nobody

[2020-02-23 13:28] ljani commented on #1994
Regarding `servercore`: I ran `procmon.exe` on the host. I see lots of writes like this one:

[code]

The writes will stop after a good 15 minutes or so (Ryzen 3700X. Adata XPG SX8200 Pro NVMe disk).

It seems `rustup-init.exe` is either writing docs or the writes are only flushed at this point. There are no containers running at this point. However the build container is still there in `Exited` s

[2020-02-23 22:42] rbtcollins commented on #2223
We haven't determined what happened yet, so I'm not claiming it is or is not fixed.

There is no virtual machine, though you could consider untarring a form of VM if you squint just right.

In terms of ill manner, rustup preserved it's pre and post conditions as far as I can tell from the information given: although it failed to install the requested component, it did not corrupt already installed

[2020-02-24 01:25] cheako commented on #2223
Don't know, Feb 4th 9AM CST?  There is a lot of information in the trace, but I can't locate a version.  There are hex encoded numbers, might they mean something?

[2020-02-25 10:05] elichai commented on #2227
@kinnison I just found this after fighting with the installer trying to make it work with
`curl https://build.travis-ci.org/files/rustup-init.sh -sSf | sh -s -- -y --default-toolchain nightly --profile minimal -c miri` my usecase is running Miri in the CI so all I care about is getting a compiler+miri fast. I guess I need to split it to 2 phases? (1 install rustup 2 install nightly?)

[2020-02-25 18:11] mdtro commented on #2234
Agh sorry. I intended to include the log in my original post. I've removed some repeating lines for sake of brevity.

As for the AV products involved -- it's the McAfee enterprise suite.

I'll see what I can do about getting a dump from sysinternals or event tracing.

[code]

[2020-02-25 21:32] kinnison commented on #1994
It's interesting to see that it's all coming under dockerd, I wonder if that's defeating Defender's rustup detection heuristics

[2020-02-25 21:49] rbtcollins commented on #1994
Almost certainly. To confirm, disable defender temporarily and see if performance skyrockets :).

I wonder if docker is acting as a file server here - some sort of userspace NFS thing?

[2020-02-26 18:38] ljani commented on #1994
Indeed. It took less than a minute now that I disabled Defender.

[2020-02-26 19:08] rbtcollins commented on #1994
So I think that the underlying bug here *could* be assigned to many places:
- we could own it, but if we do that then we will be chasing every
pseudo-virtualisation layer that comes along masking IO signatures
- defender could own it, but I'm not sure how defender would sensibly tell
that docker is doing IO on behalf of rustup - admittedly I don't know the
plumbing involved here at this point, so

[2020-02-26 20:02] rbtcollins commented on #2234
Ok, so this is a duplicate of #1912 - McAfee specifically opens up handles in the directories we've written, and then those open handles prevent us moving the directory into place because of the semantics of file system locking on windows... Right now we retry a number of times, but on slower machines we time out before the scan completes.

We will see what we can do to make the situation better s

[2020-02-26 20:02] #2234 closed, assigned to nobody

[2020-02-26 20:14] ljani commented on #1994
Please note that my comments were specifically about Windows Server **Core**, not **Nano** Server, as I incorrectly claimed that Server Core did not work anymore either.

The reported bug still stands on Nano Server:

[code]

EDIT: Interesting enough, `nanoserver` does not have any of the basic DLLs `rustup-init.exe` tries to load:

`Procmon`:
[code]

Shell:
[code]

EDIT2: Ah:

https://cloudblogs.

[2020-02-26 21:56] rbtcollins commented on #1994
Ok. So I think the core point here is we need a really clear understanding about what is happening before we seek attention from other communities :). Ideally we have a summary post that wraps it all up with a bow, and a clear conclusion, listing what we can sensibly do in the rustup context, and what things belong outside it.

[2020-02-27 19:40] kinnison commented on #2227
In theory you should be able to install minimal with miri in that fashion.  In what way is that failing? Can you point me at a travis log?

[2020-02-27 19:45] elichai commented on #2227
https://travis-ci.org/elichai/rust-secp256k1/jobs/654451023#L199

I ended up doing:
[code]

[2020-02-27 19:56] #2229 closed, assigned to nobody

[2020-02-27 20:07] kinnison commented on #2227
Aha, yes, that's true, miri isn't guaranteed, so you will need to do it that way.  If you feel up to it, perhaps a README section to suggest this approach would be a nice PR to offer us? :grin:

[2020-02-28 09:30] ChrisGreenaway commented on #1912
I have a somewhat workaround for this. Don't do the default installation - i.e. option 1, but instead choose option 2: "Customize installation". Then accept the default values for everything other than the "Profile (which tools and data to install)? (minimal/default/complete)" choice. For that one, use "minimal".

This works because it leaves out the "rust-docs" component - which is the one causin

[2020-02-28 16:27] djmitche opened #2243 "Rustup output should end with a newline"
**Problem**
Rustup's output ends with a `[0m` after its last newline.

But command-line tools are typically expected to end their output with a newline.

In a CLI context, this doesn't matter as that character sequence "resets" the color without producing visible output.  But in a log-parsing context this does matter, as the next line has this weird escape-sequence prefix.  This caused a (minor)

[2020-02-28 16:27] djmitche commented on #2243
(also I'm just the messenger here -- hopefully folks on that bug can chime in if more details are required)

[2020-02-29 01:28] bsekura opened #2245 "rustup panics with WSLv1 + glibc 2.31"
Panics like:
[code]

Are caused by WSLv1 + glibc 2.31 which changed the implementation of nanosleep to depend on a different kernel codepath.

Verification:
1. WSLv1 can be confirmed using the wsl command:
[code]
If `--verbose` is not supported, then WSL v2 is not installed on the machine.
If verbose is supported, the version of WSL  being used for each WSL instance will be reported against the na

[2020-02-29 01:38] rbtcollins commented on #2245
Just did a rustup self update + rustup update in a WSL 1 instance, no issues.

[code]

So I don't think this is WSL1 per se causing the problem. Is it reproducible?

[2020-02-29 08:27] bsekura commented on #2245
Yes, this happens on two different PCs (running different versions of Windows 10).
I'll keep digging, thanks.

[2020-02-29 18:37] daveorzach commented on #2145
I successfully installed rustc after adjusting the unpick size
`export RUSTUP_UNPACK_RAM=200000000`

[2020-02-29 22:32] hideaki-t commented on #2245
I have the same issue on Arch Linux on WSL1.
[code]

[2020-03-01 00:04] rbtcollins commented on #1881
@98982872 if that is after creating a new login session then please open a new ticket about installation on your distro. This ticket is about the requirement for starting new login sessions before rustup is actually usable.

[2020-03-01 00:15] bsekura commented on #2245
This affects Arch Linux installation on WSL. The solution is to downgrade glibc:

[code]

[2020-03-01 00:47] rbtcollins commented on #2245
We also have some commentary from discord - its in sleep, with EINVAL from the syscall. "I'd guess that the EINVAL comes from secs going negative
if libc::nanosleep went bonkers perhaps"

[2020-03-01 03:30] tesuji opened #2246 "rustup should not delete the entire ~/.rustup/tmp dir"
**Rustup should only remove the `tmp/<toolchain>` dir that it downloaded**

When [rustup-toolchain-install-master][1] (RTIM) and `rustup update` run concurrently, rustup often finishs
installation first (probably because of nightly toolchain is cache by cloudfont, I don't know), so
the tmp is removed by rustup. This cause RTIM fails to install the master toolchain.

[1]: https://github.com/kennytm

[2020-03-01 11:29] rbtcollins commented on #2245
https://github.com/microsoft/WSL/issues/4898 seems to be the underlying cause; glibc has now implemented nanosleep in terms of clock_nanosleep, which depends on an unsupported WSLv1 codepath https://sourceware.org/ml/libc-alpha/2019-11/msg00155.html

[2020-03-01 18:21] rbtcollins commented on #2245
Having slept on this I'm going to close it - we're panicing rather deep in a support library, not even in rustup code itself; the library code isn't faulty in any way, rather the runtime that we're on isn't POSIX *and* has  fix in progress. Should they decide that they are unable to roll that fix out to older versions of windows, then it will be up to distros to make nanosleep work for the long te

[2020-03-01 18:21] #2245 closed, assigned to nobody

[2020-03-02 08:44] rbtcollins opened #2247 "running cargo in a custom toolchain is racy"
This is probably best tackled after #988 is fixed. Running cargo in a custom toolchain unlinks and copies in a copy of cargo into a common well known fallback dir. This can race if run concurrently, leading to spurious errors.

There are a couple possible errors: failure to unlink due to cargo still running; failure to execute due to cargo unlinked by another process.

[2020-03-02 18:38] DrYSG opened #2248 "Rust having issues with rename on windows? cannot install"
**Problem**
I am trying to do a default profile on stable channel, rustup update on windows 10. Rust is working but I get the following error:'

[code]

Here is a log with a few of the rename info messages. I am running this as ADMIN in a CMD window.

[code]

[2020-03-02 20:04] dzhang-b commented on #1688
Same problem still exists in 1.21.

[code]
[code]

[2020-03-02 21:30] metajack commented on #988
We've been running into this on the Libra team as developers using CLion or IDEA manage to invoke rustup concurrently accidentally quite often when we check in toolchain file updates. This results in a borked toolchain install that is missing rustc, but fixes itself after a manual run of `rustup toolchain install $TOOLCHAIN`.

@rbtcollins Are you working on a PR to fix this now? If so, that would

[2020-03-02 21:40] rbtcollins commented on #988
Not actively working on a PR, but it is on my radar.

[2020-03-04 16:17] JesterOrNot opened #2251 "rustc and cargo out of sync"
**Problem**
rustc version and cargo versions out of sync
They should be the same

**Steps**

1. Run
[code]
2. Run `rustc --version`
3. Run `cargo --version`
4. See mismatch

**Notes**

Output of `rustup --version`:
[code]
Output of `rustup show`:
[code]
~

[2020-03-04 16:25] jyn514 commented on #2251
@JesterOrNot I think this is intended behavior because there was no change to cargo in the `1.41.1` backport. See https://blog.rust-lang.org/2020/02/27/Rust-1.41.1.html.

[2020-03-04 16:45] JesterOrNot commented on #2251
Thanks!

[2020-03-04 16:45] #2251 closed, assigned to nobody

[2020-03-05 17:43] iCodeSometime opened #2253 "Unable to update - thread 'main' panicked at 'assertion failed: `(left == right)` - when installing cargo"
**Problem**
When I run `rustup update`, I receive an error directly after "info: installing component cargo"
The full error is:
[code]

**Steps**

1. run `rustup update`

**Notes**

Output of `rustup --version`:
```rustup 1.20.2 (13979c968 2019-10-16)```
Output of `rustup show`:
[code]

[2020-03-05 17:49] iCodeSometime commented on #2253
I get the same error when installing rustup after uninstalling.
Though, it had been working fine previously