[2019-01-29 23:27] nikomatsakis commented on #1626
Sadly, I did not make any backups. That series of steps sounds correct. One note: I think the rls component was installed by the RLS plugin.

[2019-01-30 05:25] h-michael commented on #1626
FYI: @kinnison
I found similar issue on rls issue board. https://github.com/rust-lang/rls/issues/1273
I had poster to leave some information.
I hope this will help.

[2019-01-30 05:27] kupiakos commented on #1626
I can also confirm I tried to install it with the RLS VSCode plugin and it did not work.

[2019-01-30 05:29] h-michael commented on #1626
@kupiakos
Thanks for your additional information.
I'll also see vscode-plugin later :)

[2019-01-30 07:56] dwijnand commented on #1053
From @alexcrichton's comment https://github.com/rust-lang/rustup.rs/pull/1517#issuecomment-431007160:

This is now tracked upstream as https://github.com/rust-lang/rust/issues/57439.  So this ticket is (effectively) blocked by that.

[2019-01-30 21:42] NickeZ commented on #1621
Even easier reproducer:

[code]

[2019-01-31 12:04] johnthagen opened #1631 "Uninstalling default toolchain leaves rustup in bad state"
To reproduce:

[code]

Should the uninstall stop you from uninstalling something already set as default? Should the uninstall switch the users default back? Currently it silently works but then the user is in a bad state.

[2019-02-01 04:00] foxundermoon commented on #1109
still no libstd.

[code]

direct use git clone  will be ok.
[code]

[2019-02-01 22:31] nrc opened #1632 "`rustup default` with no arguments should print the current default"

[2019-02-02 08:19] dwijnand commented on #1632
Is that in addition to updating nightly and stable, or in alternative?

[2019-02-02 08:21] dwijnand commented on #1632
(Cheeky note: had you merged #1625 and used the template I wouldn't've needed to ask, probably =D)

[2019-02-02 14:20] norcalli commented on #1626
I experienced the same problems and uninstalling and reinstalling the nightly chain worked for me.

[2019-02-02 20:08] retep998 commented on #1455
Rust does not blindly invoke `link.exe` unless it is unable to locate all the necessary components. If all the necessary components are installed then Rust will be able to locate them itself, no `PATH` modifications necessary.

When using the Visual Studio Installer please make sure you have at least one of the  `VC++ 2017 version 15.x tools` installed and one of the `Windows 10 SDK`s (if there ar

[2019-02-03 09:33] kinnison commented on #1626
@norcalli I don't suppose you kept copies of your nightly directory before/after the upgrade attempt and then after the reinstall so that I can look for differences?

[2019-02-03 13:56] das-sein commented on #1632
I figured the default behavior is desirable, so in my pull request I let it be.

[2019-02-03 14:25] staktrace commented on #817
Bump. I would also like this feature.

[2019-02-03 14:31] das-sein commented on #1631
After playing with this, it seems the cleaner solution would be to simply prevent the de-installation of the default toolchain if it's the last toolchain available. Otherwise, there will be significant work adding checks to any function that relies on knowing the default toolchain, as well as any function that outputs the default toolchain to the user. Very messy.

I'm working on this now, but am

[2019-02-03 16:44] petrochenkov commented on #1631
Having no toolchains is a valid situation (https://github.com/rust-lang/rustup.rs/pull/1257), I don't think it's a good idea to permit entering the "no toolchains" state in one way, but not in another.

[2019-02-03 17:31] norcalli commented on #1626
@kinnison Nope, sorry, but I would recommend typing up detailed instructions for the next person to stumble upon this issue through search since I'm not exactly sure what you want right now. Step by step would be good.

[2019-02-03 19:38] 0xd61 commented on #1247
same issue for me. Is there any update on this?

[2019-02-04 09:03] kinnison commented on #1626
Unfortunately @norcalli if someone didn't think to take a backup before doing the update, the initial state would be missing from any investigation, making it much harder to determine why the update failed.  I am slowly working my way through the code and if I can work out how this might occur, I may have hopes of being able to fix it :D

[2019-02-04 12:52] hellow554 opened #1637 "nightly version off-by-one"
I don't know if this is a rustup or a rust problem, let's start this here.

[code]

Note the difference between 2019-02-*03*, *02* **and** *01*  This is very confusing and I don't know which version I do now have.

[2019-02-04 12:59] hellow554 commented on #1637
Note that this not apply to this nightly version only, but also for others, e.g.

[code]

[code]

[2019-02-04 13:10] h-michael commented on #1637
Could you show `cat $HOME/.rustup/settings.toml` ?

[2019-02-04 13:20] hellow554 commented on #1637
[code]

[2019-02-04 13:22] h-michael commented on #1637
Thanks, and could you show `rustup show` ?

[2019-02-04 13:22] hellow554 commented on #1637
[code]

(I hunted down an ICE lately, therefore I have a lot of nightlys installed ^^)

[2019-02-04 13:37] h-michael commented on #1637
Rust nightly is **uploaded** everyday at UTC 00:00 +00:00.
Rust nightly build is success build version at that time.
So almost certainly, the date shown with commit hash is the previous day.

[2019-02-04 21:08] nlfiedler opened #1638 "rustup install fails when rustup-init is owned by another user"
Not sure if this is a rustup or Homebrew rustup-init issue, but I found that installing `rustup-init` using Homebrew, and then running `rustup-init` as a different user resulted in a permissions error (shown below). The result was that `rustup` would install toolchains, but never set up the binaries in `~/.cargo/bin`.

[code]

Changing the ownership of `/usr/local/bin/rustup-init` to the user runn

[2019-02-05 05:24] das-sein commented on #1366
This might take some time to resolve. As far as I can tell, it would require including the date in the toolchain names and storing them with those included dates. https://github.com/rust-lang/rustup.rs/blob/master/src/rustup-dist/src/dist.rs#L254 Not sure if this is desirable behavior as this would alter something like `rustup default nightly` to something like `rustup default nightly-2019-02-05`.

[2019-02-05 08:00] das-sein commented on #1406
@Diggsey I think this is resolved by `rustup show active-toolchain`, right?

[2019-02-05 21:31] kinnison commented on #1638
Is, by any chance, `/usr/local/bin/rustup-init` a symlink?  Or perhaps however your user is finding `rustup-init` on your path a symlink?  if so, we don't copy the file we link to it, which would make the chmod fail for sure.

Given that, perhaps the trick will be to make `utils::make_executable()` notice if the target is already executable and simply not attempt the `chmod()`.

If it's not a syml

[2019-02-05 21:33] kinnison commented on #1628
I like this idea and will give it further thought.  It's a little awkward to walk the dates right now, but the latter half of your request is plausible at least.

[2019-02-05 21:35] kinnison commented on #1627
Not an entirely implausible thing to want, I'll ponder what the nicest way to have that incorporated would be.  Thanks for the suggestion.

[2019-02-05 21:36] kinnison commented on #1637
This is indeed a side effect of the date stamps and when toolchains are built.  This is a long-standing thing and there's not a lot rustup can do about it, sorry.

If there's no suggestion for a way for rustup to help you, then I request you close the issue.

[2019-02-05 21:39] nlfiedler commented on #1638
Yes, with Homebrew everything under `/usr/local/bin` is a link.

[code]

Thanks

[2019-02-06 07:00] hellow554 commented on #1637
Thanks, for your answers :) I see, that there is nothing one could do right now.

[2019-02-06 07:00] #1637 closed, assigned to nobody

[2019-02-06 07:13] colindean commented on #1458
I hit this just now after installing rustup via [scoop](https://github.com/lukesampson/scoop). My settings.toml is the same as the previous comment's. When I run `rustup default stable-x86_64-pc-windows-msvc`, I get:

[code]

This is after a little bit of thrashing, doing `rustup install stable` and `rustup install 1.32.0` and having _both_ do something even though I would think that stable would

[2019-02-07 20:55] kinnison commented on #1638
Okay, so I believe the right approach will be to check the permissions and not try and alter them if they're okay already.  I'll look at what that will entail, and update the issue.  I think this might end up a nice new-contributor issue if you're okay waiting for a bit for a fix?

[2019-02-07 22:39] nlfiedler commented on #1638
No problem, it's easy to work around.

[2019-02-08 07:48] dwijnand opened #1644 "Merge some of the crates (probably only rustup and rustup-dist)"
Split out from https://github.com/rust-lang/rustup.rs/issues/1611

The current crates tree is:

[code]

WDYT about squashing that down to:

[code]

And the only reason to keep those separate is because I can't run rustup-win-installer with its build.rs.  WDYT?

[2019-02-08 07:50] dwijnand commented on #1611
@nrc @alexcrichton could you give more information regarding "support fewer ways to install Rust" and "simplify filesystem transaction handling code" please?  If it's likely to generate a back-and-forth, then perhaps in its own issue.

Meanwhile I've opened an issue dedicated to the crate merging: https://github.com/rust-lang/rustup.rs/issues/1644

[2019-02-08 07:51] dwijnand commented on #1611
Also, it's probably good to spin out the curl vs reqwest discussion into a thread and come to a conclusion.

[2019-02-08 12:46] gnzlbg commented on #872
@Diggsey would you mind explaining why this "feature" should be rejected ?

[2019-02-08 13:28] Diggsey commented on #872
It's in "needs further discussion", as per @Stebalien's comment. If you run out of space when downloading to the tmp folder, then the install would have failed anyway - all it does is download to the tmp folder and then rename to the correct location, so it would still have failed had it downloaded to a different location, and then copied the files across.

[2019-02-08 15:19] Nemo157 commented on #1628
The latter half is very similar to my suggestion for [updatable toolchain aliases](https://github.com/rust-lang/rustup.rs/issues/1556), just being able to override the `nightly` toolchain with an alias pointing at a dated nightly.

[2019-02-08 17:06] ecstatic-morse opened #1647 "Installation of `rustc` to a `RUSTUP_HOME` specified with an extended-length path fails on Windows."
While trying to set up `crater` to run on Windows, I encountered the following error:

[code]

It appears that `rustup` is trying to create a directory (ending in "/bin") with a forward slash, but perhaps something more subtle is going on.

**Version**
`rustup-init 1.16.0 (beab5ac2b 2018-12-06)`

[2019-02-08 21:40] thedavidmeister commented on #998
some additional context/experience

yesterday i helped ~20 ppl with windows laptops install rust

several people complained about this step and some thought the installation was broken

[2019-02-09 00:44] retep998 commented on #998
As an alternative to making docs optional, rustup could gain the ability to just not *extract* the docs until the user actually needs them. That way the user would have the docs if they go without internet, but they wouldn't have to suffer through the long installation time until they actually need the docs.

[2019-02-09 16:39] Eh2406 commented on #1647
Yes windows is good at switching `/` to `\` unless you start your path with `\\?\` in which case you are opting out of it fixing it for you. This is probably from the `path.canonicalize` method of std. We had an issue with this on Cargo w/ Cargo-web but Github search refuses to find if for me.
Edit: found it! https://github.com/rust-lang/cargo/issues/6198

[2019-02-10 05:29] nrc commented on #1644
:+1: I'm keen on this and have contemplated something similar myself in the past. I'd also be keen to turn Rustup into a workspace, rather than a bunch of separate crates. I think it might make sense to keep rustup-mock separate since it is only used for testing and is quite different from the rest. I think it might also make sense to keep download separate, if it can be a strongly encapsulated cr

[2019-02-10 05:39] nrc commented on #1611
iirc, there are a lot of ways to install Rust via Rustup but the only ones anyone ever uses are `dist` and the windows installer (which is somewhat separate any way). devs do sometimes install from local disk, but I think that might be able to be simplified by  separating it and handling it differently (we can certainly make breaking changes in this case).

[2019-02-10 06:56] dwijnand commented on #1644
Ok I'll make it a workspace and keep download separate.  But rustup-mock I was just going to have as a module of the rustup tests (much like the "support" module in cargo's testsuite).

[2019-02-10 08:06] nrc commented on #1632
I'm an idiot, I meant `rustup default`, not `rustup update`, sorry for the confusion.

[2019-02-10 11:05] dwijnand commented on #1611
`rustup toolchain install <toolchain>...` is the common case.

For rustc devs they also use `rustup toolchain link <toolchain> <path>` (as documented also in https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html#creating-a-rustup-toolchain), and I think we should keep.

Other than that `rustup help toolchain` does say:

But I don't exactly see how or where that happens in the code (I'm

[2019-02-10 21:20] carols10cents opened #1648 "In a directory with an override, display override after succesful default change"
## The problem I am trying to solve

I have some directories where I've set overrides and some directories where I haven't set overrides, and I don't remember which directories have overrides or not.

I'll be working on a project and want to change the Rust version I'm currently using, so I'll run:

[code]

Which outputs:

[code]

So I say, "cool, I'm using beta now!" and go about `cargo build`ing

[2019-02-11 07:46] dwijnand commented on #1648
Note we're about to make `rustup default` (without any arguments) more informative: https://github.com/rust-lang/rustup.rs/pull/1633, though I don't know how that behaves with overrides present (cc @lazorgator).

Advising the user that even after changing the default a directory override is present sounds like a good idea to me.  I think it should do it for all methods that have precedence on the

[2019-02-11 10:09] faern commented on #998
I still think there is value in making it optional. For CI runs where installing anything but the bare toolchain is a waste of time. Ignoring docs and other things on all platforms for CI could save quite a lot of time.

[2019-02-11 10:29] lnicola commented on #998
Sounds like extracting them on first use is more effort, and someone who chooses not to install the docs probably knows what they're doing. Both could be done, but I'd rather have them optional.

[2019-02-11 15:34] das-sein commented on #1283
@thedrow Issue resolved in the attached PR :)

[2019-02-11 15:41] das-sein commented on #1648
@dwijnand At present, the `rustup default` only returns the global default toolchain. Maybe it should detect if there is an override and output that along with the default? Something like:

[code]

[2019-02-11 18:19] dwijnand commented on #1632
Fixed by https://github.com/rust-lang/rustup.rs/pull/1633

[2019-02-11 18:20] dwijnand commented on #1406
Possibly resolved by #1633 (using `rustup default` instead)?

[2019-02-11 18:27] TimNN commented on #1406
This does not quite address my original issue: It shows the active toolchain, but not _**why**_ it is active (e.g. which directory the override is coming from, or that the default is active).

I don't have a build with that patch, but from the name of the command, I don't believe that this will resolve my issue: I'm interested in the _active_ toolchain, not the _default_ one.

[2019-02-11 18:35] dwijnand commented on #1406
Good point.

[2019-02-12 10:05] gnzlbg opened #1650 "Add how to add a target to a particular toolchain"
Supposing one has multiple toolchains installed, add an example to the readme of how to execute rustup operations for one toolchain (not necessarily default), like adding a target for it. I think this is `rustup $TOOLCHAIN target add $TARGET`.

[2019-02-12 10:10] gnzlbg opened #1651 "list available stable toolchains that can be installed"
It would be good for services using `rustup` to ship Rust if `rustup` could list the available stable versions that can be installed: `rustup toolchain list stable` (or similar) could list `1.0.0, 1.1.0, ...., 1.24.0, 1.24.1, ...` etc. Services like compiler explorer need to maintain these lists manually, which is a pain given that these services support dozens of programming languages.

This coul

[2019-02-12 10:15] gnzlbg opened #1652 "list available installable targets for a toolchain in machine readable form"
Currently, services like godbolt need to install all targets available for a given toolchain. However, `rustup target list` outputs this list in a human readable form that's not easy for machines to parse (e.g. POSIX sh scripts). It would be great if `rustup` could output this, e.g., as a space separated string of targets that one could easily loop over in a POSIX sh script.

[2019-02-12 10:17] gnzlbg opened #1653 "rustup target add all"
Add a simple way of installing all available targets for a particular toolchain, e.g., `rustup target add --all` or similar.

[2019-02-12 10:20] das-sein commented on #1406
@Diggsey I think I figured out what you mean. The `rustup show` command outputs the reason for the override for any override you have set, but `rustup show active-toolchain` didn't do that. I've started a PR with the more standard behavior. Let me know how I did.

[2019-02-12 10:21] ecstatic-morse commented on #1647
Sorry, I was away for the weekend. Loading this back into cache...

I can minimally reproduce this by running (in Powershell)
```$env:RUSTUP_HOME="\\?\C:\Users\myname\.rustup\"; rustup toolchain install stable```
on a fresh system. It attempts to create `\\?\C:\Users\myname\.rustup\tmp\tgarbage_dir\rustc/bin`, which fails for the reason you mention above. I think `rustup` should support extended-l

[2019-02-12 10:50] das-sein commented on #1648
@carols10cents Opened a PR. I liked your idea better, so the change will result in some lines of logging being output to notify you of an override being set, and why it is set.

[2019-02-12 12:59] das-sein commented on #1611
@h-michael @alexcrichton @seanmonstar Created a PR for the removal of the cURL backend. Figure discussion could happen there with respect to @dwijnand 's request for a place to hold one.

[2019-02-12 13:06] ecstatic-morse commented on #1647
The error occurrs during [archive extraction](https://github.com/rust-lang/rustup.rs/blob/194026d2cac3d06c8ef19dc6e23dabda5d3900c4/src/rustup-dist/src/component/package.rs#L210). Specifically, `tar::Entry::path()` returns a `Path` which uses "/" as the separator even on Windows. This is then appended to the `tempdir` which is an extended-length path since it is derived from `RUSTUP_HOME`.

One cou

[2019-02-12 13:09] ecstatic-morse commented on #1647
Sorry, I misclicked.

[2019-02-12 17:36] retep998 commented on #1647
What I'd really like is a smarter version of `Path::join` that doesn't just blindly concatenate, but actually processes each component, popping a directory for `..`, doing nothing for `.`, and normalizing path separators while it is at it. Then everyone could just use that and  we'd solve the problem of pushing relative paths that use `/` onto `\\?\` paths.

[2019-02-12 17:49] SimonSapin commented on #1611
Were v2 manifests generated for older releases? I think we shouldn’t break the ability for future rustup.rs to install, say, Rust 1.2.0. (I’ve used this to find old regressions.)

[2019-02-12 17:52] petrochenkov commented on #1611
cc @brson

[2019-02-12 19:52] carols10cents commented on #1648
Awesome, thank you @lazorgator !!!!

[2019-02-12 23:44] brson commented on #1611
@SimonSapin afaik, no

I'm in agreement with everything in the op, except for possibly removing v1 support.

The multi-backend support was a pet project just because I wanted to see if I could support all the HTTP/HTTPS implementations, particularly to support production usage of rustls. It's fine to strip down to just reqwest, assuming nobody is using the curl backend - I know at some point someb

[2019-02-12 23:46] brson commented on #1611
Telemetry is fine to remove, though I still think having telemetry _somewhere_ is a good idea.

[2019-02-12 23:54] brson commented on #1611
I left a comment on the curl-removal PR about the prudence of both making reqwest the default _and_ removing curl in the same release.

[2019-02-13 00:06] dwijnand commented on #1611
If you could give some more specifics or pointers that would be great.

Oh!

Thanks, @brson!

[2019-02-13 00:51] brson commented on #998
Is there consensus on whether the docs should be installed by default (as they are now)? I suspect that the majority of rustup installations _don't_ use docs, that it would make sense to make it configurable for the interactive install, w/ a corresponding cli flag, maybe printing a note saying how to get the docs.

This seems like such an easy issue to fix, and it's been dragging on so long.

[2019-02-13 01:10] naftulikay opened #1658 "Query Installed Components and Toolchains"
**Describe the problem you are trying to solve**

I have [an Ansible role for installing a Rust development environment](https://github.com/naftulikay/ansible-role-rust-dev) on arbitrary Linux machines. One of the features I want to support is to install a list of components. In order to do this, I need some way of querying what is installed and what isn't, so I can only run the `rustup component

[2019-02-13 01:11] johnthagen commented on #998
I remember this thread from a couple years ago (funny enough, it was started by you @brson 😄)

https://users.rust-lang.org/t/psa-rust-documentation-is-now-optional-and-opt-in-when-installing-via-rustup/8072

There was some feedback on it. I do remember at the time I was against removing `rust-doc` by default. **but** I didn't fully realize the ramifications on Windows for how painfully slow the in

[2019-02-13 01:34] brson commented on #998
Yeah @johnthagen it's all pretty lolworthy. Maybe there's no right answer. Installed by default but decompresed on first use might be a good compromise - presumably its not the download that hurts windows users but touching so many files. Plus options to not install docs at all perhaps.

Decompressing on first use does make the assumption that everybody access the toolchain docs via rustup (or may

[2019-02-13 08:04] LuoZijun commented on #1530
[code]

[2019-02-13 10:30] pravic commented on #998
Just FYI, the docs tarballs are about 30 MB in tgz format. It's not nothing.

[2019-02-13 10:38] ecstatic-morse commented on #1647
I agree that it's not feasible to support extended-length paths while using `.` and `..` as components. Maybe there's a need for a bespoke, cross-platform `PathBuilder` library, although it's unfortunate that there's so much overlap with `std::path::PathBuf`, which behaves in surprising ways (to me at least :) on Windows.

Does `rustup` actually use `.` and `..` to build paths anywhere? A quick se

[2019-02-13 11:14] pronebird commented on #998
I think it's way easier to *not* install `rust-docs` by default and tell folks to run `rustup component add rust-docs` if they want them. It must be a very small effort to opt-out the docs from being installed by default, not sure what causes this issue to linger here for years.

[2019-02-13 11:17] lnicola commented on #998
I'd say don't install `rust-docs` by default, but prompt about it in `rustup-init`.

[2019-02-13 11:38] pronebird commented on #1600
I agree with @NickeZ. Would it be possible to make rustup open the web page like https://mexus.github.io/rustup-components-history/x86_64-pc-windows-msvc.html and figure out which version satisfies the upgrade requirements and just upgrade to that version?

[2019-02-13 12:06] johnthagen commented on #998
With a short warning that on Windows installing `rust-docs` takes a long time, to help new Windows users.

[2019-02-13 12:22] tesuji commented on #998
rust-doc should be installed by default and have an opt-in (command line argument) to not install it. Because when you need the offline doc (no internet), there's no way to get it.

[2019-02-13 12:25] andriytyurnikov commented on #1558
Went with `rustup toolchain remove nightly && rustup toolchain add nightly` instead - seems ok

[2019-02-13 14:32] lnicola commented on #998
@lzutao

- how do you install Rust?
- how many toolchains do you usually have installed?

[2019-02-13 14:50] tesuji commented on #998
@lnicola Installing `rust-doc` by default is the decision of Rust team.
All I want is to have an opt-in way to not install it, especially when used in CI.

[2019-02-13 14:52] Nemo157 commented on #998
alternative strawman design following what I believe the OP was based on:

 * the `rust-docs` component is marked "optional but default" in the manifest (#1006)
 * `rustup install` will by default install "optional but default" components
 * `--[no-]default-optional-features` can be specified to `rustup install` to force enable/disable installing "optional but default" components for a specific in

[2019-02-13 15:15] SimonSapin commented on #998
If I remember correctly the consensus lately is that we’d prefer the docs to be included by default because the first time someone might need a local copy is when they’re offline, and at that point it might be too late to download them. But we want the ability to disable them for scenarios like CI. Unfortunately the rustup manifest format does not support yet having a component that is optional bu

[2019-02-13 18:54] naftulikay commented on #1658
I am emending this because `rustup toolchain list` only does show the installed toolchains. `rustup component list` shows all available components.

[2019-02-14 01:32] regexident commented on #817
This would also be more than useful for users of [cargo-bisect](https://github.com/rust-lang-nursery/cargo-bisect-rustc), which currently prints …

[code]

… making it tedious to figure out the actual PR/commit that introduced the regression.

[2019-02-14 01:56] ehuss commented on #817
@regexident cargo-bisect-rustc can bisect git commits to tell you the exact PR.

[2019-02-14 03:45] mcandre opened #1661 "wasm64-unknown-unknown target broken"
**Problem**

I am able to install the `wasm32-unknown-unknown` target with rustup. However, when I try to install the 64-bit edition, then rustup complains:

[code]

**Steps**

1. `rustup target add wasm64-unknown-unknown`

**Notes**

Output of `rustup --version`:

[code]

Output of `rustup show`:

[code]

**Workaround**

In order to circumvent this problem, I am building 32-bit WASM artifacts, or

[2019-02-14 04:27] regexident commented on #817
@ehuss not if you pass it dates. And what you get to pass to it might not be up to you, but the given project’s maintainer, depending on what they chose to use to document the latest working nightly.

[2019-02-14 16:11] DavidR91 opened #1662 "Checksum error for stable-x86_64-pc-windows-msvc (2019-01-16)"
**Problem**
rustup-init gives me

[code]

This is on Windows 10 1809

Same result after clearing out .rustup and .cargo folders from my user directory

Verbose:

[code]

**Notes**
If I download https://static.rust-lang.org/dist/2019-01-17/rustc-1.32.0-x86_64-pc-windows-msvc.tar.xz directly, the checksum generated is correct

[2019-02-14 21:39] mykmelez commented on #1558
What happens if you then `rustup component add --toolchain nightly rustfmt || rustup component add --toolchain nightly clippy`? On my system, I get:

[code]

Which makes sense, given that both rustfmt and clippy are missing from today's nightly according to https://mexus.github.io/rustup-components-history/x86_64-apple-darwin.html.

[2019-02-14 23:12] naftulikay opened #1663 "Provide Command to Show Host Tuple"
**Describe the problem you are trying to solve**

Similar to #1659, I'm writing automation around `rustup`. I need a way to get the `x86_64-unknown-linux-gnu` tuple from `rustup` to find out what the host platform is in a way that I can then use around `rustup`.

**Describe the solution you'd like**

I may PR this in, but a command like `rustup host` which displayed this architecture would be idea

[2019-02-15 01:13] ehuss commented on #1663
The host triple can be determined from `rustc -Vv`.

[2019-02-15 01:19] naftulikay commented on #1663
Will rustc always show the _host's_ triple as opposed to whatever toolchain that rustc is compiling for?

[2019-02-15 14:53] ehuss commented on #1663
The `host:` field is the architecture of the compiler itself.  The architecture it is compiling for is called the *target triple* and is specified with `--target` (defaulting to host if `--target` is not used).

The host triple may have different values on the same machine.  For example, it is possible to run an i686 rustc binary on an x86 machine, or various different abi's on linux or windows (m

[2019-02-15 23:02] naftulikay commented on #1663
@ehuss my use case is that when a user specifies that they'd like `rust-src` to be installed, when I subsequently list which components are installed (via #1659), I need to append the triple to match against it.

e.g. a user passes `rustup_components: [rust-src]`, I run `rustup component list --installed` and get fully-qualified component names with the triples appended, so in order to check wheth

[2019-02-15 23:46] ehuss commented on #1663
`rustup show` will tell you the current host triple, too:

```Default host: x86_64-unknown-linux-gnu```

`rust-src` doesn't have a triple.  If you don't want to do a starts_with match, I would probably just grab the host from `rustup show`.

[2019-02-15 23:54] naftulikay commented on #1663
Yeah, I considered this. My only concern is that `rustup show` could change at any point in time, breaking my automation.

`rust-src` wasn't a good example, maybe `rustfmt` or another platform-specific one.

[2019-02-16 00:09] ehuss commented on #1663
Yea, it seems like #450 would be helpful.  It's hard to say how stable the output is.

[2019-02-16 00:14] vaffeine commented on #1580
Hi, [marshallpierce](/marshallpierce)
I tried to reproduce this issue on my Linux system, but rustup performed self update and installed beta channel succesfully. I tried a few times but every of them was successful. Are you still able to reproduce the issue?

[2019-02-16 23:21] fbruetting commented on #1596
I also have the same issue, and adding the complete name of the toolchain doesn’t fix this. Any suggestions?

[code]

// OK, uninstalling and reinstalling nightly helped.

[2019-02-17 10:36] high1 commented on #1455
I have an issue with VS 2019 Preview 3.0 - on the laptop, rust is not able to find link.exe, while on the desktop it can. I can build fine from the x64 Prompt, but not from the command line.

[2019-02-17 19:49] #1109 closed, assigned to nobody

[2019-02-18 03:29] thedavidmeister commented on #998
all the options proposed so far are reasonable imo, they respect offline access (either always or after the first access) and achieve what is needed here

a 30MB dl is trivial on CI, where many GB typically gets pulled down in 10-20 seconds (e.g. restoring cache on travis), still should be fast enough to not appear broken on regular connections

what is possible to implement right now without majo

[2019-02-18 06:47] SamWhited commented on #998
Please try to remember that "regular connections" are not the same speed everywhere. 30MB is **very** large, and would take a significant amount of time or cost a significant amount of money in bandwidth in many places.

[2019-02-18 07:24] thedavidmeister commented on #998
i live in australia, we have plenty of terrible internet connections here ;)

if downloading the docs is truly a dealbreaker in many places there are no options other than making it optional

we should not discuss anything else if we agree the bandwidth cost is unacceptable

that said, if 30mb is a significant cost i'm not sure how it would be possible to work with rust on a large project anyway g

[2019-02-18 07:48] dwijnand commented on #998
I think @pravic's solution strikes the right balance:

[2019-02-18 08:00] thedavidmeister commented on #998
given the age of this issue, i am a little worried that we might "commit" to an ideal that requires a lot of yak shaving... then 12 months passes because nobody has the time/expertise to land what was "committed to", despite best intent

do we have a passable option that doesn't require heroic effort from anyone?

[2019-02-18 08:06] dwijnand commented on #998
I was hoping to back able to ask @nrc tomorrow/Tuesday, at the Rustup WG meeting.

[2019-02-18 08:14] thedavidmeister commented on #998
that sounds awesome

[2019-02-18 08:31] faern commented on #998
Installing them by default, but being able to fully opt out of their download completely sounds like the only really clean solution to me. Everyone who don't really care will get them by default and have access to them when they are offline, just like now. But CI and those who care about their bandwidth and time it takes to install on Windows can just append something like `--minimal` and save a l

[2019-02-18 09:29] retep998 commented on #998
There's basically two separate but related features here:

* Allowing components to be optional yet default, with an opt out to never download them in the first place.
* Allowing components to be downloaded without actually being installed. Switch the `src` and `docs` components to use this by default, since they take a long time to install on NTFS, but aren't necessary to get code building.

Eith

[2019-02-18 23:11] PeterOGB opened #1665 "No rust-doc installed for stable-armv7-unknown-linux-gnueabihf"
**Problem**

I've installed Rust on x86-64 and Raspberry Pi platforms.  rustup doc only works on the X86-64 and fails on the PI due to  /home/pi/.rustup/toolchains/stable-armv7-unknown-linux-gnueabihf/share/doc/rust/html not exisiting.

There seems to be no rust-doc built for armv7....

pi@Pi3BPlus1:~ $ rustup install nightly
info: syncing channel updates for 'nightly-armv7-unknown-linux-gnueabihf

[2019-02-20 11:55] gnzlbg opened #1667 "Retry downloads"
In libc, some of our build jobs use `rustup target add <target>` many times, and some times, these build jobs fail spuriously because one of those commands fails to download what's required. Retrying the download solves the issue.

There should be an easy way to get `rustup` to retry downloading artifacts a couple of times. Pretty much every application that downloads artifacts has this, and it is

[2019-02-20 13:43] mati865 commented on #1611
It's convenient way to use Rust packaged by Linux distributions. Not like I'm using it often but it comes handy.

[2019-02-20 15:38] joshtriplett commented on #1611
I'm using `rustup toolchain link system /usr` for that exact purpose.

[2019-02-21 10:42] SimonSapin opened #1668 "detected conflict: '"share/doc/rust/LICENSE-MIT"'"
**Problem**

Updating to today’s Nightly fails.

**Steps**

[code]

**Notes**

Running `rustup uninstall nightly` first works around the issue.

[2019-02-21 10:58] dwijnand commented on #1668
What's changed in the nightly build to cause this?

I'm wondering whether this a bug in Rustup and how it should be solved?

[2019-02-21 11:07] SimonSapin commented on #1668
Maybe the contents of `$RUSTUP_HOME/toolchains` should be considered “owned” by rustup.rs, and it should overwrite any existing file there rather than error on conflicts?

[2019-02-21 11:24] dwijnand commented on #1668
FWIW I couldn't reproduce it.  Any ideas why you got a conflict on `share/doc/rust/LICENSE-MIT`?

[2019-02-21 12:37] SimonSapin commented on #1668
I don’t know. I tried to manually downgrade by installing `nightly-2019-02-05` and copying the files into those for `nightly`, but then updating succeeded after that and I couldn’t reproduce the issue.

[2019-02-22 09:58] asamolion opened #1669 "I tried installing rust using rustup but after install rustc isn't working."
**timeout reading rustc version**
I've installed the rust toolchain using

`curl https://sh.rustup.rs -sSf | sh`

However after installation I get this message

`timeout reading rustc version`

and the rustc compiler doesn't work at all. It simple halts in a blank screen while doing nothing.

![image](https://user-images.githubusercontent.com/14261053/53234677-e7f1b700-36b1-11e9-9076-03a53a1e1c14.

[2019-02-22 16:34] ehuss commented on #1669
Do you have an anti-virus installed (such as ESET)? I have seen similar things happen.

It might be helpful to post a stack trace of rustc when it is hung (attach to the process with gdb).

You may get more help posting on https://github.com/rust-lang/rust/issues since I don't think this is an installation issue.

[2019-02-22 16:42] asamolion commented on #1669
@ehuss
As a matter of fact, I do have ESET installed. However, it is not running while I am trying to run this.

[2019-02-22 16:55] ehuss commented on #1669
Ah, in that case it is probably rust-lang/rust#56736.  I suspect it's still finding the `libesets_pac.so` shared library even if it is not "on".  There's some more information in that issue about what's going on.

[2019-02-23 07:21] asamolion commented on #1669
Okay, so here is how I solved the problem.

I opened the file `/etc/ld.so.preload` and deleted the line containing `libesetspac.so`. So now the `/etc/ld.so.preload` file is empty but my Rust programs are compiling correctly.

Thanks @ehuss.

[2019-02-23 07:21] #1669 closed, assigned to nobody

[2019-02-23 12:51] DavidR91 commented on #1662
Finally got this working - no actually changes and installing the exact same version

Presumably some cache / CDN etc. had cleared and it now functions

But it sounds like this is a continuation of the issue being discussed here? https://github.com/rust-lang/rustup.rs/issues/1243#issuecomment-335713996

[2019-02-23 12:51] #1662 closed, assigned to nobody

[2019-02-23 22:25] marshallpierce commented on #1580
Nope, it seems okay now. :man_shrugging:

[2019-02-23 22:25] #1580 closed, assigned to nobody

[2019-02-24 02:00] alexreg opened #1670 "Nightly update fails on macOS Mojave"
[code]

Version: rustup 1.16.0 (beab5ac2b 2018-12-06)

Output of `rustup show`:

[code]

[2019-02-24 02:02] alexreg commented on #1670
Eh, seems something got messed up during my migration to a new Mac. Fixed now by deleting the toolchain and reinstalling.

[2019-02-24 02:02] #1670 closed, assigned to nobody

[2019-02-24 10:56] Nemo157 opened #1671 "Provide consistent "plumbing" commands for scripting"
Currently trying to wrap `rustup` in general purpose wrappers for specific environments is painful because of inconsistencies between different subcommands. For example when writing CircleCI commands that take in a `toolchain` parameter each of [`rustup component`](https://github.com/Nemo157/circleci-rust/blob/8e12bd78225319db491ab95ef3eef7dcb8d7b554/src/commands/rustup-component.yml), [`rustup ru

[2019-02-26 20:48] #1621 closed, assigned to nobody

[2019-02-26 20:52] #1650 closed, assigned to dwijnand

[2019-02-27 22:14] matthiasdiener commented on #1339
For those that are struggling with this issue on ppc64le, I created a gist to bootstrap rust using the binaries for RHEL/CentOS 7: https://gist.github.com/matthiasdiener/335fefd33be707c532a919a2971d6b86

[2019-02-28 02:36] yodaldevoid commented on #1611
`rustup toolchain link` is also very useful for rustc development.

[2019-02-28 20:33] #1406 closed, assigned to nobody

[2019-02-28 20:45] kinnison commented on #1638
For someone who wanted to ensure that this kind of thing was fixed for the future, then it'll probably be a combination of altering `fn make_executable(path: &Path) -> Result<()>` which lives in `src/rustup-utils/src/utils.rs`

I'd expect that something where we can only call `set_permissions` if the mode changes in the non-Windows `inner()` would be the right approach.

A test which then validate

[2019-02-28 20:56] kinnison commented on #1339
@matthiasdiener Are you saying that the PR linked above still doesn't fix this for CentOS 7?

[2019-02-28 20:59] kinnison commented on #1611
So I think `rustup toolchain link` is important to keep; certainly I wouldn't advocate removing it.

I do wonder if there might be something even more nice we could do for supporting system-managed toolchains (e.g. converting components, targets, etc, into package names and reporting useful commands such as `apt install rust-rls` or somesuch should a proxy be run which isn't installed for the syst

[2019-02-28 21:01] mati865 commented on #1339
@kinnison that PR fixed it for i686 and amd64 as I said. Other architectures are still hit by this bug.

[2019-02-28 21:10] Xanewok commented on #1611
Agreed on `rustup toolchain link`; I'd even go as far and possibly better integrate the local workflow.

I know I wanted to `rustup component add XYZ` in the past. This could possibly run `./x.py dist XYZ` under the hood or we could change the way these components are built inside Rust repo so that rustup can understand the resulting artifacts and be able to use them for `rustup component add` pur

[2019-02-28 21:21] matthiasdiener commented on #1339
Yes, this is still an issue on RHEL7 ppc64le with the current Rustup version. I also tried all older Rustup versions that I could find, and they also do not run on this system.

[2019-02-28 21:22] cuviper commented on #1339
I still think the right answer is to reuse rust-lang/rust's images in src/ci/docker.

[2019-02-28 21:51] mati865 commented on #1339
Another option would be static linking to musl but I don't know how well it works for non x86 architectures.

[2019-03-01 02:44] sribe-pearson opened #1675 "iOS target is installed, yet not found?"
I've followed what seems to be the standard process of `rustup target add...` and yet cannot build those targets. (I have the Xcode toolchain installed, including command-line tools. I build plenty of open source using `configure` and `make` so that's not an issue.) Instead of further description, let me just illustrate. Here's what's installed:

    $ rustup show
    Default host: x86_64-apple-da

[2019-03-01 03:59] ehuss commented on #1675
Can you check which xcode tools are active? `xcode-select --print-path`

ios targets will only work with the full xcode install, it won't work with the command-line tools. It can be selected with `sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer`

[2019-03-01 11:01] leonardo-m commented on #1464
Now the problem is solved for real in the last Nighties.

[2019-03-01 11:06] Geobert commented on #1464
I don't think rustup is tied to Rust nightly. I just had the issue this morning updating to Rust 1.33.
with `rustup 1.16.0 (beab5ac2b 2018-12-06)`

[2019-03-01 20:15] kinnison commented on #1339
OK, thank you for that report.  @alexcrichton does the suggestion of reusing the `rust-lang/rust` docker images make sense to you?

[2019-03-01 20:35] macisamuele commented on #1532
Hey @behnam on clippy is still missing on [x86_64-apple-darwin](https://mexus.github.io/rustup-components-history/x86_64-apple-darwin.html).
I don't know if still makes sense to comment here.

[2019-03-02 00:13] sribe-pearson commented on #1675
Ah, that was it. From the docs I got that I needed a full install with both UI & command-line tools, and that `xcode-select` needed to have been run. I did not catch that the path needed to point to within the full install. When I get a chance, I will review docs to see if it's my oversight or they need clarification, and put in a PR if I think clarification is needed. Thanks.

[2019-03-02 00:13] #1675 closed, assigned to nobody

[2019-03-02 00:18] sribe-pearson commented on #1675
Well, haha, the incomplete instructions are not part of this project--just all blog posts etc, so no PR coming...

[2019-03-02 00:29] iamthad commented on #904
`stat` appears to get called 3 times for each file in  `set_file_perms`:

- One to get the file permissions in `needs_x` https://github.com/rust-lang/rustup.rs/blob/67d740fca643f07b38618f42a28757fa988b5ba7/src/rustup-dist/src/component/package.rs#L131
- One inside `utils::is_directory` https://github.com/rust-lang/rustup.rs/blob/67d740fca643f07b38618f42a28757fa988b5ba7/src/rustup-dist/src/componen

[2019-03-02 00:54] brackleian opened #1676 "Check for component included without installing toolchain?"
I guess this is a feature request rather than a bug; it may already be doable but I can't find out how.

Is it possible to check for a given component being included in a given toolchain, without actually downloading the whole toolchain? E.g. I'm using 'rls', which is in some nightly builds but not all. To get the latest, I have to work backwards from today's date. Installing the whole toolchain t

[2019-03-02 01:05] Li-ReDBox commented on #953
Not sure what has happened, using `-y` or `RUSTUP_INIT_SKIP_PATH_CHECK` to stop checking when installing `rustup` did not work for me:

[code]

Is it possible to install `rustup` without un-installing?

[2019-03-02 06:04] ehuss commented on #1676
I'm not sure if this will help for your case, but you can check https://rust-lang-nursery.github.io/rust-toolstate/ or https://mexus.github.io/rustup-components-history/ to find when the last working build was.

[2019-03-02 06:13] yoni386 commented on #1339
I think I tied that and hit another / same issue.

[2019-03-02 06:13] #1339 closed, assigned to nobody

[2019-03-02 07:54] matthiasdiener commented on #1339
@yoni386 Why did you close this issue? This seems to be still a problem for ppc64le

[2019-03-02 13:51] yoni386 commented on #1339
Sorry it was by mistake.

I found out on different projects that rust as a new language is still
“weak” on all the compilation. On the positive side, when it do work it is
very easy but when you need different platform or fully static or something
more “custom” then you will probably hit a barrier and you will be stuck no
matter how much time you spent. On my future project I will definitely try
i

[2019-03-02 14:06] jxub commented on #1558
Had the same issue with rustc 1.33.0 on Darwin (macos Mojave) and fish shell.

Following the consensus (`rustup toolchain remove nightly && rustup toolchain add nightly`) from the comments above seems to fail, so I guess what does apply to nightly applies to 1.33 as well.

[code]

[2019-03-02 19:31] mykmelez commented on #1558
@jxub I think you just need to re-install cargo-clippy via `rustup component add clippy`.

[2019-03-02 20:00] norru commented on #1676
Hello,

I think it would be useful to have a look at the discussion at https://github.com/rust-lang/rls/issues/1221. There have been reports of users finding the current `rustup` behaviour not friendly in this use case, with a couple of suggestions of how this could be easily solved.

Here's an excerpt from that conversation, hope it helps:

[2019-03-02 20:02] norru commented on #1676
+@NickeZ @alexheretic @Xanewok @petar-dambovaliev

[2019-03-03 07:26] Manishearth opened #1678 "Expose clippy-driver as an executable"
We're working on moving cargo-clippy into cargo (https://github.com/rust-lang/rust-clippy/issues/3837). As a part of this, `clippy-driver` will need to be exposed by rustup.

Can clippy-driver be exposed into the bin folder as a shim? It's fine if it has a different name or something

[2019-03-03 13:11] mati865 commented on #864
Rustup works fine in WSL on Windows 10 1809, this issue should be closed.

[2019-03-03 19:01] kinnison commented on #904
Given that the majority of filesystem operations which Rustup performs are reading and writing large (10s of MBs) datasets, I think the `stat()` inefficiency is by no means the most important thing to consider for speed.

I do, however, think that we should look at consider if there's anything we can do to improve install performance on Windows.

[2019-03-03 19:04] kinnison commented on #1676
This is a feature request, certainly.  I *think* that @nrc's profiles stuff (https://github.com/rust-lang/rustup.rs/pull/1673) might be a step toward a good mechanism for this.

[2019-03-03 19:07] kinnison commented on #1678
We can add proxies sure, all we'll need is some indication of if it'll be a "normal" proxy or if you'll need something special.  If it's normal, then just give us the name you want and we can add it.

If you do that pretty soon, we might even be able to get it into 1.17.0 which we'd like to release soon (and will then be entering a larger refactoring effort which will make 1.18.0 a longer way off)

[2019-03-03 19:08] kinnison commented on #864
Thanks @mati865

[2019-03-03 19:08] #864 closed, assigned to nobody

[2019-03-03 19:37] mati865 commented on #904
Installation on Linux filesystems is fast even on HDD so measuring performance there won't help much for Windows but still it'd be nice to make it even faster.

I don't know which one is more limiting NTFS or AV software but shipping less files would be the way to go here.
Nightly on my Linux machine consists of 17957 files, 16617 of them docs. It'd be significant improvement for Windows if they c

[2019-03-03 21:38] iamthad commented on #904
If I understand correctly, the `set_file_perms` function walks the entire tree of files after they have been extracted to ensure their permissions are correct. This is especially costly in the docs, since there are a tremendous number of files there as @mati865 points out. I would expect tens of thousands of fewer system calls in an installation operation to be noticeable, especially e.g. on NFS.

[2019-03-04 01:47] Manishearth commented on #1678
Just needs to be clippy-driver. Users should probably not invoke this themselves so feel free to give it another name, but just clippy-driver is fine.

[2019-03-04 07:50] kinnison commented on #1678
See https://github.com/rust-lang/rustup.rs/pull/1679

[2019-03-04 16:05] johnthagen commented on #998
Does anyone know, now that @nrc [is leaving Mozilla](https://www.ncameron.org/blog/leaving-mozilla-and-most-of-the-rust-project/amp/), what will become of [his implementation of this feature](https://github.com/rust-lang/rustup.rs/issues/998#issuecomment-451780269)?

[2019-03-04 16:17] dwijnand commented on #998
An initial, still WIP PR was sent last week intended to bring a solution to this issue: https://github.com/rust-lang/rustup.rs/pull/1673.

[2019-03-04 19:53] cuviper opened #1681 "rustup requires newer GLIBC than rustc on some arches"
**Problem**
The distributed builds of `rustup` on some arches require relatively recent GLIBC symbols, newer than the baseline used by `rustc` itself. Especially, those that build `rustup` with `ubuntu:18.04` cross-gcc will be tied to a similar OS ABI, while `rustc` supports older systems than that.

This bug is a continuation of #1339.

**Steps**
For example, on RHEL 7.6 ppc64:
[code]

**Possible

[2019-03-04 19:56] cuviper commented on #1339
@yoni386, only you can control whether you're subscribed to any particular issue, using the **Notifications** section in the web sidebar, or using the "mute" link in the email footer. Furthermore, only the issue submitter or someone with repo write access can open or close an issue.

I don't have such access, so instead I've opened a new issue: #1681.

[2019-03-05 08:26] kinnison commented on #1681
Thanks for your report @cuviper - I guess that what we need to do is to consider the base docker images we use for our builds.  Currently we simply use `trusty` but perhaps there's a still-supported Ubuntu option we might use instead?  Otherwise I guess we need to customise the dist for each architecture.

If you could take a look at `.travis.yml` and make a suggestion (or even better, a PR) then

[2019-03-05 08:40] mati865 commented on #1681
Trusty (Ubuntu 16.04) will reach EOL on 17.04.2019 so this workaround will be temporary. Also it ships with glibc 2.19 so binaries still would not work on RHEL or CentOS.

[2019-03-05 09:00] LutzCle commented on #1620
Are there any updates to this issue? It still persists for me using: stable-powerpc64le-unknown-linux-gnu - rustc 1.33.0 (2aa4c46cf 2019-02-28).

[2019-03-05 09:10] kinnison commented on #1620
Is this a `rustup` issue or a `cargo` issue?

[2019-03-05 09:21] LutzCle commented on #1620
According to https://github.com/rust-lang/cargo/issues/6568, this is a rustup issue.

[2019-03-05 09:25] kinnison commented on #1620
Then this is likely related to https://github.com/rust-lang/rustup.rs/issues/1681 ?

[2019-03-05 09:47] LutzCle commented on #1620
Not sure - is there any way to test this?

[2019-03-05 09:52] lu-zero commented on #1620
It is not. The openssl used is somehow faulty. Rebuilding cargo using the host openssl makes it work just fine.

[2019-03-05 10:01] LutzCle commented on #1620
Yes, I can verify that everything works with a locally-built cargo.

[2019-03-05 10:03] lu-zero commented on #1620
I updated the issue so people do not have to look at the cargo issue for the details.

[2019-03-05 11:19] ehuss commented on #1620
This does not sound like a rustup issue.  cargo is built in [rust-lang/rust](https://github.com/rust-lang/rust/) — see https://github.com/rust-lang/rust/tree/master/src/ci/docker/dist-powerpc64le-linux.  There is more information in rust-lang/cargo#6320 and the cause has been identified in rust-lang/rust#57345 (the [binutils](https://github.com/rust-lang/rust/blob/f22dca0a1bef4141e75326caacc3cd59f

[2019-03-05 12:29] #1678 closed, assigned to nobody

[2019-03-05 15:50] Nodraak commented on #1617
Might be related to #330

[2019-03-05 20:41] nrc commented on #1681
I think that for non-tier 1 platforms, you're best course of action is to build from source. We would happily accept a PR if needed to help with that, but I don't think we have the bandwidth to improve things for our own distributions, sorry.

[2019-03-05 20:41] #1681 closed, assigned to nobody

[2019-03-05 20:41] #1596 closed, assigned to nobody

[2019-03-05 20:43] #1658 closed, assigned to nobody

[2019-03-05 20:43] cuviper commented on #1681
I'm intending to work on this, if you could leave it open...

[2019-03-06 13:19] corvinux commented on #1665
I've the same problem with no rust-doc on my JollaC phone. I tried stable and nightly toolchains, no **/doc/rust/html/** directory in either !

[nemo@JollaC ~]$ rustup --version
rustup 1.16.0 (beab5ac2b 2018-12-06)
[nemo@JollaC ~]$ rustc -V
rustc 1.35.0-nightly (f22dca0a1 2019-03-05)
[nemo@JollaC ~]$ cargo -V
cargo 1.34.0-nightly (5c6aa46e6 2019-02-22)
[nemo@JollaC ~]$ rustup default stable
info:

[2019-03-06 15:15] Delet0r opened #1684 "RUSTUP_UPDATE_ROOT not set by default"
The rust install script (https://sh.rustup.rs) when executed fails with the error:
[code]

I tried it on two different ubuntu setup by executing `curl https://sh.rustup.rs -sSf | sh`. When I set the value manually it worked but as far as I understand it this variable should have been set with a default with a default value.

[2019-03-06 15:18] thallada commented on #1684
It looks like the script was just updated to fix this.

![screen shot 2019-03-06 at 10 17 38 am](https://user-images.githubusercontent.com/1505923/53891813-1f892900-3ff9-11e9-8f01-1c42624885e6.png)

[2019-03-06 15:20] scealiontach commented on #1684
problem introduced in https://github.com/rust-lang/rustup.rs/pull/1495

The script now contains a potential contradiction if the user has not set a RUSTUP_UPDATE_ROOT.  The set makes use of unbound variables an error, and then there is a check for if the variable is empty.  This would be fine if the user had set RUSTUP_UPDATE_ROOT to an empty value, but breaks if they haven't set it at all.  I hav

[2019-03-06 15:21] dwijnand commented on #1684
See #1683

[2019-03-06 15:24] kinnison commented on #1684
All I'll say is that it was nearing midnight when I tested 1.17.0's installer, and I clearly tested 1.16.0's instead because I'm super-clever like that.  Mea culpa.

[2019-03-06 15:28] dwijnand commented on #1684
I'll bankroll the use of a brand-new version number.  No stress.

[2019-03-06 15:37] kinnison commented on #1684
We have a fix live which is fine for now, so unless other issues are spotted with 1.17.0 which we weren't aware of, I figure we'll leave this be.  @Delet0r are you okay for this issue to be closed?

[2019-03-06 15:39] Delet0r commented on #1684
Shure :D, thanks alot.

[2019-03-06 15:46] #1684 closed, assigned to nobody

[2019-03-06 15:48] dwijnand opened #1685 "Check rustup-init.sh with Shellcheck"
We should verify `rustup-init.sh` with https://github.com/koalaman/shellcheck

Here's a simple Travis CI setup:

[code]

[2019-03-06 15:49] #1648 closed, assigned to nobody

[2019-03-06 16:05] kinnison commented on #1685
So I think this will be useful to have, yes.  But even if code is syntactically valid, it might sploof, so we'd still want to try running it too.  This could be a good catch of the mistake we had here though.

[2019-03-06 16:30] tesuji opened #1686 "Changelog for 1.16 and 1.17"
Does `rustup`  1.16 and 1.17 bring any new improments over older versions?
Those new features would be better documented in CHANGLOG.md.

[2019-03-06 16:32] kinnison commented on #1686
When we were discussing the 1.17.0 release in our weekly meetings we decided that as CHANGELOG.md hadn't been touched since 1.13.0 we were okay with not bothering for 1.17.0.

If you wanted to generate a backfill for it, I'd be pleased to review it.  But I don't have the time/mental space for it right now myself.

[2019-03-06 18:31] tesuji opened #1687 "Make git tag to match those releases in CHANGELOG.md"
Those tags including:

* 1.11.0
* 1.10.0
* 1.9.0
* 1.8.0
* 1.7.0
* 1.6.0
* 1.5.0

Use this script to reproduce the list:
[code]

[2019-03-06 18:38] kinnison commented on #1687
@nrc Do you think this looks sane?  If so, do you want to make and push the historic tags?

[2019-03-06 18:41] dwijnand commented on #1687
Those tags exist already: https://github.com/rust-lang/rustup.rs/tags

Any reason (or guess) as to why @lzutao wouldn't have them locally?

[2019-03-06 18:43] tesuji commented on #1687
Oh, seems like I don't have these tags locally. Thanks for your helps.

I would close this PR.

[2019-03-06 18:43] #1687 closed, assigned to nobody

[2019-03-06 20:56] dwijnand commented on #1644
Root layout-wise @kinnison prefers

[code]

The code in `rustup-mock` would either become `#[cfg(test)]`-gated code in the rustup crate, or directly a module in the tests.

[2019-03-07 00:37] jsgf opened #1688 "Rustup 1.17 ignores http_proxy environment vars"
**Problem**

rustup 1.16 and before would accept proxy configuration via the `http_proxy` (and `https_proxy` environment variables). rustup 1.17 ignores this environment variable and always tries to connect directly.

**Steps**

With 1.16:
[code]
ie failure shows it tried to use my bogus proxy

but with 1.17:
[code]
It should not have worked

**Possible Solution(s)**

**Notes**

Output of `rustup

[2019-03-07 01:50] mamcx commented on #1340
Hit for this today.

What it make it worse, is that rustup is _deleted before_. So run again:

[code]

I totally expect the "uninstaller" is the _last_ program to go...

[2019-03-07 06:00] tesuji opened #1690 "Add man proxy to rustup for viewing rust-toolchain manpages"
**Describe the problem you are trying to solve**

I cannot directly use `man cargo`, `man rustc`, etc.

**Describe the solution you'd like**

The new command might be: `rustup man` (which is somewhat similar to `rustup completions`).

As @kinnison suggest, we could use the `man` proxy of `rustup`. This command could alter
the `MANPATH` to point to appropriate `rust-toolchain`'s manpages and open t

[2019-03-07 08:00] kinnison commented on #1688
Thank you for this report.

I will look into why `env_proxy` isn't doing what we hoped, but in the meantime you can continue to use 1.17.0 if you add `RUSTUP_USE_CURL=1` to your environment too.

I am sorry for causing you this inconvenience.

[2019-03-07 08:00] dwijnand commented on #1688
Discussed on Discord: https://discordapp.com/channels/442252698964721669/459149107387170817/553011624517304322

This seems to be related to the switch from the curl crate to reqwest/hyper.

The workaround is to use the curl crate: `RUSTUP_USE_CURL=1`.

[2019-03-07 08:04] kinnison commented on #1690
I fear we'd have to add a `man` proxy to rustup which altered the environment to include an appropriate MANPATH and then ran the system version of `man`.  I don't see how any other approach would work given we have to find which manpages to display based on `rust-toolchain` and friends.

[2019-03-07 08:24] kinnison commented on #1688
I have spent some time investigating and it seems that `env_logger` is perhaps a smidge more strict than cURL's interpretation of the environment variables.  If you set `http_proxy=http://127.0.0.1:1123` then you'll get the behaviour of reqwest using the false-proxy and failing.  I think we possibly need to get some useful statement on what is *valid* in the proxy envvars and then if `env_proxy` i

[2019-03-07 08:29] kinnison commented on #1688
Further investigation suggests that `env_logger` is using `url` to parse the content of the environment variable directly.

[2019-03-07 08:39] #1686 closed, assigned to nobody

[2019-03-07 17:22] jsgf commented on #1688
OK, I can change the variables to include `http[s]://`.

There seems to be another difference in behaviour - curl will use `http_proxy` for http:// urls, and `https_proxy` for https:// urls, whereas the reqwest path will use either `http_proxy` or `https_proxy`. (I think?)

[2019-03-07 21:48] kinnison commented on #1688
Yes, `env_proxy` uses `https_proxy.or(http_proxy).or(all_proxy)` for HTTPS as it were.

[2019-03-08 04:56] ojhunt opened #1694 "Rustup updates need to be validated with the RLS VSCode extension"
If you install rustup-1.17.0 the RLS extension ceases to work

**Steps**
1. Install the latest Rustup
2. Launch vscode
3. Edit a rust file

**Possible Solution(s)**
The problem is caused by an API breakage - the addition of "(default)" to the name of the current default toolchain. The RLS extension is going to change their parsing, so that they'll work again, but there should not have been a point

[2019-03-08 06:54] dwijnand commented on #1694
Parsing unstructured CLI output like that is just fragile and I disagree the solution is to take on the responsibility of downstream tools.

I'm happy RLS is unbreaking themselves, but I don't think there's a bug in Rustup.

Perhaps the RLS team can open a feature request for the information they require?

An alternative is the RLS team contributing a test that captures the behaviour required, wit

[2019-03-08 08:37] kinnison commented on #1694
As Dale says, this is not an API with any kind of guarantee from `rustup` -- Over all I think we need to organise a plumbing layer for Rustup consumers, but shorter-term, tests from the RLS team (or even just a document/issue describing their use of rustup and thus what they depend on in terms of our output) would be useful.  I've noted on the PR discussing the release process that validating agai

[2019-03-08 19:34] tesuji commented on #1632
Close it?

[2019-03-08 21:52] #1632 closed, assigned to nobody

[2019-03-08 22:10] nikonthethird opened #1696 "Rustup-Init displays ETA with lots of decimal places"
**Problem**

I installed Rust 1.33 using Rustup-Init.exe on Windows 10 (in a Powershell window), and the ETA while installing displayed many decimal places that can be seen below. (See the last line of the picture).

![Rustup_Time](https://user-images.githubusercontent.com/15893812/54058784-3006f280-41f7-11e9-9b6c-fa82294a945a.png)

**Steps**

1. Download Rustup-Init
2. Install Rust
3. Look at the

[2019-03-09 16:40] kinnison commented on #1696
Interesting, I thought we'd merged some code to improve matters here.  Thank you for this report.

[2019-03-09 16:41] kinnison commented on #1696
@Manishearth Could this be related to the work you did for #1547  ?

[2019-03-09 16:46] Manishearth commented on #1696
Yeah some of the things there need to be casted to integers. I'll make a patch.

[2019-03-09 16:53] Manishearth commented on #1696
https://github.com/rust-lang/rustup.rs/pull/1699

[2019-03-10 02:36] #1696 closed, assigned to nobody

[2019-03-10 08:59] tensor-programming opened #1702 "Extremely slow download speeds on update in US"
**Problem**
Running Rustup Update updates the toolchains as expected but the speed with which it fetches the files is absurdly slow.  For rustc, I am seeing 8mb/s where as for rust-docs I am getting speeds like 17KiB/s.  This pattern repeats for all of the toolchains installed on my machine (both stable and nightly msvc and gnu.

As a side note, it also seems to ignore installing RLS.

**Steps**

[2019-03-10 09:37] kinnison commented on #1702
If this persists then it might be an indication that there's something squiffy with the S3 bucket we're in at a guess.  @alexcrichton any idea what might cause this pattern of access speeds?

[2019-03-10 19:51] kornelski opened #1703 "Mystery of the disappearing --prefix option"
Snapcraft Rust plugin has been using `--prefix` option, which isn't supported by the current rustup, and all Rust builds in Ubuntu Snaps became broken:

https://bugs.launchpad.net/snapcraft/+bug/1809259

and builds on build.snapcraft.io:

https://github.com/canonical-websites/build.snapcraft.io/issues/1203

Snapcraft is taking a while to recover from that.

Please consider keeping options for back

[2019-03-10 20:44] tensor-programming commented on #1702
I reinstalled Rustup and the toolchains and ran update and heres what I noticed:

Specifically for Rust-docs the speed is terribly slow.  Everything else seems to be at least above 2.5MiBs.

[code]
[code]

As you can see on both nightly toolchains the rust-docs download took almost a minute with speed at 250KiBs and at lowest 15KiBs.  Could it be that Rust-Docs just has more files and something on

[2019-03-10 21:00] kinnison commented on #1703
I'm somewhat confused by your statement here.  As far as I can tell, neither rustup-init.sh nor rustup-init in setup mode have supported a `--prefix` commandline argument.

Could you help me narrow down what happened, when, and where, by telling me what used to work, with what version of rustup, and when it stopped working.  I'll then try and see if we can ensure that this kind of thing doesn't hi

[2019-03-10 21:05] kinnison commented on #1702
Ooh I think I know what's going on - we use the same UI when unpacking components as we do when downloading them now.  This means that you get progress information for unpacking components which previously used to say nothing.  I imagine this is that since you're on Windows, the unpack of rust-docs is painful - this is a problem we're aware of, though we've yet to determine the right fix.

It's th

[2019-03-10 22:02] kornelski commented on #1703
Snapcraft runs:

    /root/parts/…/rust/rustup.sh --prefix=/root/parts/…/rust --disable-sudo --save --channel=stable

I presume it must have worked a few months ago, since Snapcraft Rust support has been released with this.

[2019-03-10 22:23] kinnison commented on #1703
Can you find out what that script is and where it comes from?  Those flags are not those of rustup-init.sh or rustup-init.

[2019-03-10 23:32] kornelski commented on #1703
The script seems to be downloaded from https://sh.rustup.rs

https://github.com/snapcore/snapcraft/blob/8eee6c131e89feae428d335085e8d47866bd8030/snapcraft/plugins/rust.py#L51

[2019-03-11 00:21] kornelski commented on #1703
Sorry for the confusion. I assumed that when it broke in December, that was due to a new rustup release.

But indeed I don't see any related change, and I can only find very very old posts mentioning the `--prefix` and `--channel` options.

Could they be from the previous shell-based rustup? I don't know why it broke recently though. Maybe some forgotten files got updated or old caches flushed?

I

[2019-03-11 00:21] #1703 closed, assigned to nobody

[2019-03-11 03:30] tensor-programming commented on #1702
Alright, so basically the download speed is being adjusted because its unpacking an archive and its not actually the download speed that is dropping but the installation process.

Thank you for clearing that up.

[2019-03-11 03:30] #1702 closed, assigned to nobody

[2019-03-11 03:32] rohitjoshi commented on #1542
Any update on this?

[2019-03-11 10:50] dmarcoux opened #1706 "Include completion files instead of generating them on the fly"
**Describe the problem you are trying to solve**
I am working on packaging _rustup_ for _openSUSE_ and generating completion files on the fly cannot guarantee reproducible builds (because the generated completion files could differ).

**Describe the solution you'd like**
I would like that the completion files are included in the source, so they are always the same and are also easily packaged. Thi

[2019-03-11 11:14] dwijnand commented on #1706
The way that rustup does it is apparently the same way `npm completion` does it and the way cargo wants to do it too: https://github.com/rust-lang/cargo/issues/6645

Rather than revert back to flat files, could can we continue to generate them in a way that guarantees reproducibility?  How does packaging on openSUSE deal with other resources being generated on the fly and reproducibility concerns?

[2019-03-11 12:35] tesuji commented on #1690
Closed in #616.

[2019-03-11 12:35] #1690 closed, assigned to nobody

[2019-03-11 13:31] bmwiedemann commented on #1706
From the reproducible builds perspective, it is OK to generate files on the fly as long as this happens in a deterministic way. From `echo foo > output` to `gcc -o output $input` it is all fine.
https://github.com/bmwiedemann/theunreproduciblepackage lists 10 known ways of introducing non-determinism. I'll test and report back if any of them applies here - and which.

[2019-03-11 13:55] bmwiedemann commented on #1706
Test done: all outputs of the `home:dmarcoux/rustup.rs` package are reproducible.

[2019-03-11 14:14] dmarcoux commented on #1706
Thank you very much @bmwiedemann.

I'm closing this issue.

[2019-03-11 14:14] #1706 closed, assigned to nobody

[2019-03-11 15:07] dwijnand commented on #1706
Excellent news.  Thank you, both.

[2019-03-12 02:08] thedavidmeister commented on #998
maybe this got worse, or maybe travis got worse

now seeing intermittent build timeouts:

https://travis-ci.com/holochain/holochain-rust/jobs/184030443

maybe the docs have grown recently and we hit some threshold?

[2019-03-12 05:45] SimonSapin commented on #998
You might be seeing https://github.com/rust-lang/rust/issues/58849. Workaround at https://github.com/rust-lang/rust/issues/58849#issuecomment-471642734.

[2019-03-12 05:47] SimonSapin commented on #998
Ah sorry, the issue I just linked is about running the rustdoc tool but this thread and your comment is about installing the rust-docs component of a rustup toolchain. Never mind.

[2019-03-12 21:20] kinnison commented on #1688
env_proxy 0.3.0 is less strict and we've merged a PR for that.  I consider this closed for now.

[2019-03-12 21:20] #1688 closed, assigned to nobody

[2019-03-12 21:24] dwijnand commented on #1694
@Xanewok (apologise, I couldn't find a GitHub team to ping for RLS-things) has this issue come up on your radar?  We feel this (essentially) isn't a bug in Rustup and are inclined to close it, but let us know if you'd like to pursue other of the two options mentioned.

[2019-03-12 21:25] kinnison commented on #1668
I think this was likely to be a bogon in the nightly components, especially if you can't reproduce it.  I'll close this for now.

[2019-03-12 21:26] kinnison commented on #1542
We continue to discuss this in #1624

[2019-03-12 21:32] Xanewok commented on #1694
No worries, thanks for letting me know! Right now I agree that we:
1) are using unstable CLI output so we don't expect it to follow any stability guarantees and should unbreak stuff ourselves
2) we need tests in `rls-vscode` (we have... none atm, which is rather depressing - I imagine having a regression test suite to be used with `rustup` is definitely something we should have and is feasible for

[2019-03-12 22:18] #1694 closed, assigned to nobody

[2019-03-13 16:04] jsgf commented on #1688
Do you plan to roll out a new release soon?

[2019-03-13 16:40] kinnison commented on #1688
There is no plan specifically to do so, but if we gather enough changes to warrant it, then yes we will.  I have a number of small changes I'd like to see completed before we do though, so not for a month maybe.

[2019-03-13 19:37] mmacedoeu opened #1710 "Update Reqwest in order to avoid Crash with proxy URLs containing `^`"
**Problem**

Some urls on proxy env vars cause rustup-init to panic

**Steps**

1. setup proxy env vars with url encoded special chars
2.
3.

**Possible Solution(s)**

Update reqwest to newer version see https://github.com/seanmonstar/reqwest/issues/442

**Notes**

[2019-03-14 09:12] gnanasekar-somanathan commented on #1710
Facing same problem behind proxy when installing rustup
thread 'reqwest-internal-sync-runtime' panicked at 'a parsed Url should always be a valid Uri: InvalidUri(InvalidUriChar)', src/libcore/result.rs:997:5

Any workarounds?

[2019-03-14 09:42] kinnison commented on #1710
So based on the referenced bug in reqwest, I think we need to update our lock file for a newer http version.  I'll look at this ASAP.  Short-term you could set RUSTUP_USE_CURL=1 in your environment to push rustup back to using libcurl.

[2019-03-14 21:24] #1710 closed, assigned to kinnison

[2019-03-14 21:25] #1685 closed, assigned to dwijnand

[2019-03-15 18:03] marnunez opened #1712 "Install throws "unsuccessful tunnel" behind proxy"
**Problem**

Install fails behind proxy. Tested on fresh Debian Linux and Windows
**Steps**

For Debian:
1. Make sure http_proxy = HTTP_PROXY = https_proxy = HTTPS_PROXY = "http://user:pass@proxy_ip:proxy_port"

2. curl https://sh.rustup.rs -sSf | sh -s -- -v

3. output:

[code]

**Possible Solution(s)**

**Notes**

curl https://sh.rustup.rs -sSf | sh -s -- -v --version
[code]

[2019-03-15 20:43] #1644 closed, assigned to dwijnand

[2019-03-15 20:46] kinnison commented on #1712
Could you please try with RUSTUP_USE_CURL=1 set in your environment but otherwise with things unchanged?

[2019-03-16 16:57] liuchong opened #1713 "Support command rustup update nightly/yyyy-MM-dd"
When we install nightly build of rust, some components may break.
With page https://rust-lang.github.io/rustup-components-history/ we know which version we could use, but we must specify the toolchain, like `rustup update nightly-2019-03-15`, and it will be a specified toolchain `nightly-2019-03-15-x86_64...` but not just `nightly-x86...`.

I would like to install the specified date of build, and

[2019-03-17 11:56] sanmai-NL opened #1717 "Support HTTP over TLS 1.3 on rustup.rs"
The maximum TLS version supported is currently 1.2. TLS 1.3 delivers [security and performance benefits](https://casecurity.org/2018/04/10/tls-1-3-includes-improvements-to-security-and-performance/).

In terms of security, the distribution mechanism's security currently depends on TLS. Only with TLS 1.3 and the appropriate certificate practical downgrade attacks can be prevented. https://www.nccgr

[2019-03-18 08:27] mark-summerfield opened #1720 "rustup shows timings on windows like "5.1334958959 mins""
**Problem**

When doing an update it shows times like this:
 1.9 MiB /   8.5 MiB ( 22 %)  52.8 KiB/s ETA: 2.1394449869791665 min 8.36669921875 s

Surely this should be more like "2min 8sec"?

**Steps**

rustup update stable on Windows 7-64

**Possible Solution(s)**

**Notes**

Output of `rustup --version`: rustup 1.17.0 (069c88ed6 2019-03-05)
Output of `rustup show`:
V:\>rustup show
Default host:

[2019-03-18 08:34] kinnison commented on #1720
Fixed in #1699

[2019-03-18 08:38] kinnison commented on #1717
The rustup website is managed on EC2 - do you happen to know if TLS1.3 is supported by AWS?

[2019-03-18 13:05] marnunez commented on #1712
Thanks @kinnison , it works flawlessly now. Is this realted to reqwest then?

[2019-03-18 13:20] kinnison commented on #1712
Quite probably yes.  We'll need to work out what's going on with that.

[2019-03-18 15:26] sanmai-NL commented on #1717
@kinnison: I don't know. I have understood [AWS uses the s2n](https://aws.amazon.com/blogs/security/s2n-is-now-handling-100-percent-of-of-ssl-traffic-for-amazon-s3/) implementation for TLS and the s2n maintainership is actively working on TLS 1.3 support (https://github.com/awslabs/s2n/issues/388).

[2019-03-18 16:40] patriksvensson opened #1721 "The "rustup fix --edition" command claims project is not under VCS"
**Problem**

I wanted to update an old project to the 2018 edition (on Windows), so I ran `rustup fix --edition`. However, even though my project is under source control, it says it's not:

[code]

Of course I can use the `--allow-no-vcs` flag, so it's not really a problem but wanted to report this anyway.

**Steps**

1. Update the toolchain by running `rustup update`
2. Clone `git@github.com:cake

[2019-03-19 13:10] marnunez commented on #1712
Is there a way to make this permanent? Can this be setup in rustup's settings.toml?

[2019-03-19 20:13] kinnison commented on #1721
I think this should be filed against `cargo` since `fix` is not a `rustup` subcommand.

[2019-03-19 20:16] kinnison commented on #1712
You'll have to put that environment variable into your bashrc or similar, it's only communicated to rustup via the environment.  Long term we intend to remove cURL too, so this needs to be solved in our reqwest backend.

[2019-03-20 16:05] patriksvensson commented on #1721
@kinnison You're absolutely right. I was a bit tired when I wrote the issue. Thanks! 👍

[2019-03-20 16:05] #1721 closed, assigned to nobody

[2019-03-21 18:08] cuviper commented on #1620
This should be fixed by rust-lang/rust#58986 as of `rustc 1.35.0-nightly (82e2f3ec2 2019-03-20)`. It looks like @bors didn't track the auto-close to this issue though.

[2019-03-21 19:49] kinnison commented on #1620
Thanks @cuviper

[2019-03-21 19:49] #1620 closed, assigned to nobody

[2019-03-22 18:06] bjorn3 opened #1723 "error: conflict detected"
**Problem**
`rustup update` fails with `error: could not rename component file`.

**Steps**

[code]

**Notes**

Output of `rustup --version`: `rustup 1.17.0 (069c88ed6 2019-03-05)`
Output of `rustup show`:

[code]

In the past space issues have caused update problems, but I believe I have enough free space now:

[code]
`rm -r ~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu` fixes the problem

[2019-03-23 01:26] cuviper commented on #1661
The target will have to be added and built in the main rust repo, and then rustup can fetch it.

cc @rust-lang/wg-wasm

[2019-03-23 01:50] alexcrichton commented on #1661
At this time this is expected because a 64 bit target for was does not exist (it's not even spec'd!)

It sounds like there may be some confusion about targets though? For Rust all wasm targets start with wasm32

[2019-03-23 01:50] #1661 closed, assigned to nobody

[2019-03-23 09:33] Pauan commented on #1661
To clarify, there are two things here: the bitness of your computer, and the bitness of the wasm runtime.

The bitness of your computer might be either 32-bit or 64-bit: either are fine.

The bitness of the wasm runtime is *always* 32-bits. This is *mandated* by the official wasm specification. That's why it's called `wasm32-*`.

So even if you are building on a 64-bit system, and even if you're r

[2019-03-26 20:37] #1720 closed, assigned to nobody

[2019-03-27 19:56] cuviper opened #1728 "Miri should be presented as miri-preview until it's stable"
**Describe the problem you are trying to solve**

We would like the miri component to be presented as "miri-preview" until it has been deemed stable.

**Describe the solution you'd like**

Any advice on how to accomplish this would be fine. :smile:

**Notes**

The component was renamed to `miri-preview` in rust-lang/rust#59236, so the current `channel-rust-nightly.toml` describes miri like this:

[2019-03-27 20:00] mati865 commented on #1728
I wanted to go `miri-preview` but I didn't found way to test it locally. In some places it was called `miri` and in the other it was `miri-preview` so I just made sure it works either way.
You can see it's history here: https://github.com/rust-lang/miri/issues/520

[2019-03-27 20:02] cuviper commented on #1728
@mati865 I think it's totally fine that it can be named either way. I just want the canonical name to be `miri-preview` until it's actually deemed stable.

[2019-03-27 20:16] mati865 commented on #1728
My PR was a bit overkill and would not mind reverting `rename` part as long as it doesn't break installation via rustup. I think it rustup would have to get fixed first: https://github.com/rust-lang/rustup.rs/blob/819ddda6b7fc1f18884f027f646cd8714f8c4e9a/src/lib.rs#L44 along with the tests. After next release it should work without `rename` in manifest.
I'm not decisive person by the way.

[2019-03-27 21:02] kinnison commented on #1728
It's fine, we merged miri support in https://github.com/rust-lang/rustup.rs/pull/1606 but I can easily change it over to default to `miri-preview` instead if you want that.  It's a tiny change.  I'm not certain when rustup 1.18.0 will be due though, just to warn you.

[2019-03-27 21:24] cuviper commented on #1728
I'm curious, what's the change? Looking at #1606, I tried:

[code]

but AFAICS that only affects the `install_msg`. Maybe it needs something in `Manifest` too?

Can we try to get it before this reaches stable? Rust 1.35 will be on 2019-05-23.

[2019-03-27 21:26] cuviper commented on #1728
Also, I'm trusting your judgement whether this needs a change in rustup or build-manifest, maybe both.

[2019-03-27 21:54] mati865 commented on #1728
Definitely https://github.com/rust-lang/rust/pull/59236/files#diff-2ca914af4ccadf4a4cafbf6a7bc13dcdR423 has to go away if we want `miri-preview` to stick.
When I was debugging `error: component manifest for 'miri' is corrupt` I noticed miri is called `miri-preview` in Rust's bootstrap or `miri` in build-manifest and rustup so I went the "most compatible" way.

If @RalfJung agrees to move it back t

[2019-03-27 21:59] cuviper commented on #1728
As I said originally, I was thinking we might just keep the rename, but flipped. So it would still work to ask for either `miri` or `miri-preview`, and wouldn't break nightlies, but hopefully rustup would start displaying `miri-preview`.

[2019-03-28 05:42] cheako opened #1729 "man pages not configured."
`man cargo` should do something decent.

Append to `MANPATH` environment variable, if none exists use `manpath` binary to supply default.

```export MANPATH="$HOME/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/share/man:${MANPATH:-`manpath`}"```

**Notes**
I originally installed the Debian rust packages, where by Policy all executables should have a man-page.  I opted to use rustup only becau

[2019-03-28 05:54] ssokolow opened #1730 "rustup probabilistically panics with "Broken pipe" when used in a shell pipeline"
**Problem**

When I run the `install-rustup-deps` task in the justfile for my [rust-cli-boilerplate](https://github.com/ssokolow/rust-cli-boilerplate) repo, there's about a 50/50 chance that one of the several calls to rustup that it makes will panic with the following output:

[code]

I've been experimenting with porting the repo to cargo-make, so I've confirmed that the issue also occurs under c

[2019-03-28 09:31] kinnison commented on #1728
I'm ready to give this a go (and PR the recommendation change from miri to miri-preview) if someone can tell me if the manifests are updated on nightly so that I can give it a go to check it's all good.

[2019-03-28 09:35] kinnison commented on #1729
We are working on improving the manual pages experience with `rustup` we cannot do as you suggest because that'd lock a singular toolchain into the MANPATH - a toolchain which might not even remain installed.  Instead we're working on a `man` proxy which will detect the requisite toolchain and amend MANPATH before invoking the `man` binary further on.  For now you can run `rustup man cargo`.

[2019-03-28 09:38] kinnison commented on #1730
Hi, we have started to address this issue - so far we've merged https://github.com/rust-lang/rustup.rs/pull/1622 which deals with  this for `rustup show` I believe.  Would you be able to provide a PR to extend that change to the other commands you are trying to process?

As a word of warning though, we do not make any guarantees as to the long-term reliability of such parsing, though we will be ai

[2019-03-28 09:47] ssokolow commented on #1730
Unfortunately, I have enough already on my plate that I don't really have time to get up to speed with other people's codebases right now.

I didn't expect otherwise. It's for that exact reason that I've tried to make as few assumptions as possible and, if the assumptions I *do* make are broken, the failure state is annoying but should be harmless.

[2019-03-28 11:43] kinnison commented on #1730
Short term, you could write the output to a temporary file which you then parse.  That'd enable you to continue until we have something more supportable for plumbing.

[2019-03-29 13:53] toothbrush7777777 opened #1731 "Rustup display lots of decimal places for ETA when installing components"
**Problem**

I ran `rustup self update && rustup update nightly` and the ETA when _installing_ components shows lots and lots of decimal places.

**Steps**

1. Run `rustup update nightly` in latest version of rustup
2. Check displayed ETA when installing components:
[code]

**Possible Solution(s)**

#1699

**Notes**

Output of `rustup --version`: `rustup 1.17.0 (069c88ed6 2019-03-05)`
Output of `r

[2019-03-29 15:17] kinnison commented on #1731
This is a known issue whose fix is, as you have noted, already merged.  I'm unclear as to what you hope to achieve with this bug report.

[2019-03-29 15:33] toothbrush7777777 commented on #1731
I didn't know that fixed this issue; I thought it was specific to the other issue. I can close this issue if you verify that it indeed fixes the issue.

[2019-03-29 15:52] kinnison commented on #1731
It's the same code which is used to report progress in both cases.  Sorry, I realise that wasn't necessarily obvious to you.

[2019-03-29 16:22] #1731 closed, assigned to nobody

[2019-03-29 16:22] toothbrush7777777 commented on #1731
@kinnison Thanks for clarifying.

[2019-03-30 01:09] cuviper commented on #1728
I tried actually using miri with beta, and found that it doesn't work at all, because xargo errors out when it sees the stable or beta channel. I opened rust-lang/rust#59544 to only let miri into the manifest on nightly.

I looked some more at flipping the package name and rename, but I'm not very confident that this will actually work. It looks to me like it's actually important for upgrade paths

[2019-03-30 02:18] tesuji opened #1732 "Remove header license"
Related https://github.com/rust-lang/rust/pull/57108.

[2019-03-30 18:05] kinnison commented on #1728
OK, in that case are we going to close this off, or do you still want some rustup changes?

[2019-03-30 18:06] kinnison commented on #1732
I don't understand why this is desirable considering the shell script is acquirable independently of rustup itself.

[2019-03-30 18:09] tesuji commented on #1732
No, I just saw header license in rustup-init.sh. Looks like I am wrong. In that case, I will change the issue name.

[2019-03-30 18:21] cuviper commented on #1728
I think we can leave it alone for now, thanks!

[2019-03-30 18:21] #1728 closed, assigned to kinnison

[2019-03-31 16:06] sourcefrog commented on #1436
This was still happening for me. Beyond rofrol's suggestions, I also had

1. Temporarily disable Windows Defender entirely
2. `rustup toolchain remove` every installed toolchain, then reinstall the ones I want.

[2019-04-02 01:18] Aaron1011 opened #1735 "Support 'optional' components"
When using Nightly Rust, some components (e.g. Clippy) may be temporarily unavailable due to recent compiler changes. If the latest nightly doesn't happen to have Clippy available, running `rustup update nightly` gives me this error:

[code]

This requires me to:
1. Run `rustup component remove clippy`
2. Re-run `rustup update nightly`
3. The next time I want to use Clippy, run `rustup component a

[2019-04-02 01:50] nrc commented on #1735
You can use `rustup update --force` to do this, you might need to `rustup self update` to get this ability.

[2019-04-02 08:35] kinnison commented on #1732
Given https://github.com/rust-lang/rustup.rs/pull/1733#issuecomment-478718234 I think @nrc is in favour of this change anyway, so I'll remove my mild objection.

[2019-04-02 08:37] kinnison commented on #1436
Unfortunately there's little we can do short-term about Windows Defender.  We're looking into sorting a mechanism for trusted binary signatures, but we're a long way off that.

[2019-04-02 08:50] andywwright commented on #998
it seems to me that no one but 0.1% of the community needs the docs by default, but I just can't think of what to do next? shouldn't we create a poll or something somewhere?

[2019-04-02 08:53] kinnison commented on #998
Progress is being made, though slowly, on installation profiles to allow for this without the need for polling a subset of the community.  All I can ask is that you remain patient.

[2019-04-02 08:57] ashthespy commented on #998
@kinnison Any way the community could help? If there are smaller sub tasks, I don't mind trying my hand at it.

[2019-04-02 09:09] kinnison commented on #998
There is a draft PR at https://github.com/rust-lang/rustup.rs/pull/1673 which needs updating against the reorganisation of the codebase and such.  I'm not sure how much more work will be needed after that, though @nrc will hopefully have something to say on what his plans are.

[2019-04-02 20:03] nrc commented on #1712
@seanmonstar hey, is this something you'd expect to work with reqwest, or has it not been implemented? If it should work, is there something we might be doing wrong to cause this?

[2019-04-02 20:23] seanmonstar commented on #1712
I'd expect this to normally work. The relevant line is here in reqwest: https://github.com/seanmonstar/reqwest/blob/871ec6f9899358aefa68ac011b232df24b788076/src/connect.rs#L379

Seems the proxy in question is returning something other than `HTTP/1.1 200` to the `CONNECT` request? If I knew what the proxy in question were doing, I can add support in reqwest...

[2019-04-02 20:26] tesuji commented on #1732
Closed on #1733.

[2019-04-02 20:26] #1732 closed, assigned to nobody

[2019-04-02 22:40] seanmonstar commented on #1712
Could it be that the proxy requires a username and password sent through basic auth? The `proxy_env` piece in rustup may not be converting that to the right option on `reqwest::Proxy`.

[2019-04-03 13:32] KaneGreen opened #1736 "Network failure after using socks5 proxy on rustup 1.17.0"
**Problem**
Failed to make network request when `update` using socks5 proxy on 1.17.0.

**Steps**

0. The last time I updated my rustup is when stable-1.33.0 release, I can't remember which version that is.
1. Today, I run `set https_proxy=socks5://127.0.0.1:1080` and `rustup self update`. The rustup upgraded to 1.17.0 successfully.
2. The I run `rustup update nightly`, and there cames an error.
[

[2019-04-03 13:45] kinnison commented on #1736
@seanmonstar Any chance reqwest will support socks proxying?

[2019-04-03 13:57] kinnison commented on #1712
Looks like `env_proxy` passes through the username and password stuff, so we return a URL with auth content to the Proxy but based on the implementation of `Proxy` in `reqwest`, I think the returned auth details are then ignored.  I am unsure how we might proceed because in `rustup` we don't have any idea what the auth details will be until the URLs are queried via the custom proxy.

@seanmonstar

[2019-04-03 14:58] kinnison commented on #1665
Yes, armv7 is tier 2 and rust-doc doesn't build for it right now.

We could add better error messages for `rustup doc` perhaps, and we'll likely do that when we add support for profiles.  Until then, I don't really see the value in this issue so I'm closing it.

You can reopen it if you feel there's actually something *rustup* can do for you for this situation.

[2019-04-03 14:58] #1665 closed, assigned to nobody

[2019-04-03 15:04] #1592 closed, assigned to nobody

[2019-04-03 15:27] PeterOGB commented on #1665
I don't care any more.  I found rust to be just to different for the sake of being different for my liking.
I have no interest in it anymore

[2019-04-03 15:45] kinnison commented on #1665
@PeterOGB I'm sorry to hear that Rust didn't fit well with you, and I wish you all the best.

[2019-04-03 16:19] seanmonstar commented on #1736
There was a PR to add support in reqwest, it stalled due to the socks lib being blocking IO only (and reqwest tries to use non-blocking internally), but I can push it through anyways.

[2019-04-04 14:58] mati865 opened #1737 "`RUSTUP_INIT_SKIP_PATH_CHECK=yes` doesn't work"
**Problem**

I'm trying to install `rustup` in Docker container of Ubuntu alonside the toolchain I'm working on:
[code]

**Steps**

1. Install Rust with standalone installer.
2. Rustup won't install even with `RUSTUP_INIT_SKIP_PATH_CHECK=yes`.

[2019-04-04 15:15] kinnison commented on #1737
Fair point.  There appears to be two places in `self_update.rs` where this kind of check is done, and only one is guarded with the environment variable support...

This one is guarded: https://github.com/rust-lang/rustup.rs/blob/master/src/cli/self_update.rs#L356

This one is not: https://github.com/rust-lang/rustup.rs/blob/master/src/cli/self_update.rs#L385

It's worth noting that the first (guar

[2019-04-04 16:29] mati865 commented on #1737
When working on Rust I'm often comparing my patched toolchain to released versions and I don't see why it should matter whether it's installed to `/usr/local` or somewhere else.

Anyway I'll just use customized Docker Image with preinstalled Rustup.

[2019-04-04 16:29] #1737 closed, assigned to nobody

[2019-04-04 17:20] tesuji commented on #1729
ping @cheako : Do you satisfy with Daniel suggestion? If not, could you describe your problem
a bit:
- Things you want to do?
- What do you expect?
- Suggestion to improve things?

[2019-04-04 17:27] tesuji commented on #978
Is this issue fixed? @kinnison

[2019-04-04 17:43] cheako commented on #1729
I still think that "man cargo" and "man rustc" ect should display something useful.  Even if they just display to run "rustup man cargo".

[2019-04-04 19:08] tesuji commented on #975
EDIT: I misunderstood the issue that the users want to use Rust right after
installation without restarting their shell.

When we use `curl https://sh.rustup.rs -sSf | sh` to install rustup and rust,
we execute the installer script in the new child shell. The question now is
[how to alter PATH within a shell script?][alter_path]. Only one solution is
appropriate here, that's to *spawn a new shell*

[2019-04-04 19:39] kinnison commented on #978
Not until we do a `cargo update` and commit that to mainline, @steveklabnik we keep a lock file committed because we're slightly conservative about moving forwards - we've had certain deps s'plode on us in the past because they're still in the 0.x range :D

[2019-04-04 19:40] tesuji commented on #1729
I don't think injecting rustup manpath to shell `MANPATH` variable is a good thing.
`MANPATH` is not a particular environment variable of `rustup`. If rustup manipulates
the global shell MANPATH, it will interfere or conflict with other programs
using MANPATH.

There is one proposed workaround here:
- Add option to print current rust toolchain's manpath, something like
`rustup man --print`. Then a

[2019-04-04 19:41] kinnison commented on #1729
@lzutao Do you fancy having a go at adding a `man_mode.rs` to rustup, i.e. detecting that rustup was invoked as `man` and acting as though `rustup man` was run?  You'd need to find and eliminate the path to the rustup proxy from the PATH environment variable before then invoking the real `man`.

[2019-04-04 19:45] kinnison commented on #975
I'm not sure what approach is best.  Nominally `.profile` should be read by all shells (though bash will not read it if `.bash_profile` exists too.  I suppose really we should attempt to detect the right shell and adjust the right file, so `.bash_profile` if bash is detected, `.profile` if zsh etc.

[2019-04-04 19:48] cheako commented on #1729
@lzutao Since rustup changes PATH I think it's already behaved more destructively than any change to MANPATH could possibly be.

I think it would be a grave mistake to try and replace the man command when man already provides an API for achieving the intended goal of adding additional places to look for manpages.

[2019-04-04 19:49] kinnison commented on #1729
man *cannot* know where to look because the requisite information is held by rustup.  i.e. man cannot examine `rust-toolchain` or the rustup default setting, or directory overrides, etc. in order to know the correct toolchain to display the manpage from.  As such we'd *have* to proxy `man` to do what you're asking.

[2019-04-04 19:54] cheako commented on #1729
@kinnison All I'm asking for is that "man cargo" display something, it doesn't have to display the correct manual, just a manual that says that cargo is a command that has further documentation under the "rustup man cargo" command.

[2019-04-04 20:00] tesuji commented on #1729
@cheako

`rustup` doesn't change global shell PATH. All it does when using something like
`rustup +nighly rustc` is to call appropriate toolchain using `exec` function family.

`man` program is not a part of `rustup` project. I don't know how we could manage
to do that unless you're willing to change MANPATH yourself.

[2019-04-04 20:09] kennytm commented on #1729
At least on macOS and Linux, if you symlink `$TOOLCHAIN/share/man` as `~/.cargo/man`, then `man cargo` and all manpages work properly.

The behavior is documented in `/private/etc/man.conf`:

[code]

[2019-04-04 20:10] kinnison commented on #1729
I think we could yet manage to proxy `man`

[2019-04-04 20:10] kinnison commented on #1729
Same problem as I mentioned above - it still isn't toolchain-sensitive.  i.e. it's (IMO) less optimal than `rustup man cargo`

[2019-04-04 20:15] kennytm commented on #1729
@kinnison At least this could make `man rustup` work 🤷, and the symlink can be updated when you change the `rustup default` (so it works as long as you don't override a toolchain).

[2019-04-04 20:15] cheako commented on #1729
I offered this suggestion so that new users would be able to find the documentation with man.  I think it's entirely do able with toolchan agnostic man pages for each command being made available when PATH is altered, just extended MANPATH at the same time.

[2019-04-04 20:18] kinnison commented on #1729
Please don't think that I'm not wanting to solve the problem - I entirely agree that `man rustc` or `man cargo` should absolutely work -- I think I just disagree with the implementation plan :D

[2019-04-04 20:38] steveklabnik commented on #978
even if you commit it, when people depend on your project, cargo won't use it for resolution, so that' wont help.

Oops, sorry, just realized which repo I'm in. Of course, nobody is depending on rustup as a library...

[2019-04-05 16:04] tspiteri opened #1738 "rustup show fails on terminal without color"
**Problem**

When I run `rustup show` inside an Emacs shell, I get the message `error: color not supported by the terminal`. Some other rustup commands, like `rustup install`, work. I haven't tried the commands exhaustively.

**Possible Solution(s)**

`rustup show | cat` works.

**Notes**

Output of `rustup --version`:
`rustup 1.17.0 (069c88ed6 2019-03-05)`

Output of `rustup show`:
`error: color

[2019-04-05 19:20] blabaere commented on #1712
Same situation here: Windows 7 behind a corporate proxy that became finicky recently.
Setting HTTP_PROXY & HTTPS_PROXY is not enough anymore, it now only works with RUSTUP_USE_CURL=1.

And you don't want to know what kind of belly dance is required to get curl.exe on the machine.

[2019-04-05 19:22] seanmonstar commented on #1712
I'm working on pulling in some updates for reqwest, which include support for socks5 and username/password in the URL.

[2019-04-06 11:40] lu-zero opened #1739 "Cargo bundled with stable-powerpc64le-unknown-linux-gnu unchanged - rustc 1.33.0 (2aa4c46cf 2019-02-28) is (still) broken"
There is a sigill triggered in the bundled openssl:

[code]

Nightly works as intended luckily.

[2019-04-08 01:59] PaulBone opened #1740 "`rustup install` is missing from `rustup -h`"
**Problem**
The `rustup install` sub-command is missing from the built-in documentation (`rustup -h`).  I learnt about it here: https://github.com/rust-lang/rustup.rs/blob/master/README.md#toolchain-specification.

Maybe there are other undocumented commands?

Thank you.

**Notes**

Output of `rustup --version`:
rustup 1.16.0 (beab5ac2b 2018-12-06)

Output of `rustup show`:
Default host: x86_64-un

[2019-04-08 02:03] PaulBone opened #1741 "'rustup install' error could be more helpful"
**Problem**
When a toolchain is typed icorrectly:

    paul@aluminium:~$ rustup install stable-x86-unknown-linux-gnu
    info: syncing channel updates for 'stable-x86-unknown-linux-gnu'
    info: latest update on 2019-02-28, rust version 1.33.0 (2aa4c46cf 2019-02-28)
    error: target not found: 'x86-unknown-linux-gnu'

I was initially confused, not realising I should have written "i686". It wasn'

[2019-04-08 09:30] Nemo157 opened #1742 "rustup 1.17 complains about not being installed in CARGO_HOME"
On `rustup 1.16.0` it was possible to override `CARGO_HOME` to change Cargo's cache directory, since `rustup 1.17.0` this has stopped working and `rustup` complains about not being installed under the overridden `CARGO_HOME` directory:

[code]

[code]

[2019-04-08 20:32] rbtcollins commented on #1540
I think this is a strict duplicate of #904 - the rust-docs component shows the pathology most severely, but its not unique to rust-docs.

[2019-04-08 21:02] retep998 commented on #1540
@rbtcollins Even if we had perfect disk access, installing `rust-docs` would still take a long time. This issue is for taking measures such as not extracting the docs until needed or even not downloading them at all.

[2019-04-08 21:05] Geobert commented on #1540
I agree with @retep998 , #904 can improve things, but with this amount of files, I don't think it's a "strict duplicate". It's related, but not duplicate.

[2019-04-08 21:14] rbtcollins commented on #904
I've done some basic analysis on  Windows 10 Surface; since OS specific code paths can make Linux traces (while convenient to grab) misleading :). My test setup had Windows Defender running normally; controlled folder access was off, no defender exclusions defined.

The high level view is that for docs we spend:
2m20s extracting ~16K files
30 seconds copying from staging to final dir
26 seconds de

[2019-04-08 21:15] mati865 commented on #1540
I tested it on fast NVMe drive and disk usage does not exceed 30% but Windows Defender tops two cores.

[2019-04-08 21:17] rbtcollins commented on #1540
@retep998 ok, so if the focus here is on making docs something more just-in-time or whatever, I agree; I was going from the title, which was that its slow - it needn't be more than ~60seconds from my quick experiments (without getting into esoteric NTFS behaviours or anything like that) - see https://github.com/rust-lang/rustup.rs/issues/904#issuecomment-481010675

[2019-04-08 22:47] rbtcollins opened #1743 "progress bar overly precise"
**Problem**

The progress bar during installation can be overly precise like so:
`3.1 MiB /  10.4 MiB ( 30 %)  46.4 KiB/s ETA: 2.6780612989403734 min 40.68367793642241 s`
I would expect instead to see something like:
`3.1 MiB /  10.4 MiB ( 30 %)  46.4 KiB/s ETA: 2min 40s`

**Steps**

1. Install nightly on Windows (See #904 )
2.
3.

**Possible Solution(s)**

**Notes**

Output of `rustup --version`:

[2019-04-08 23:24] rbtcollins commented on #904
Codewise this is layered like so:
 - TarXz/GzPackage on TarPackage on DirectoryPackage
   - this is where the double copy comes on: the code assumes the temporary copy of the extracted tar is sancrosanct because installing a directory shouldn't mutate the source directory.

[2019-04-09 06:53] kinnison commented on #1739
Is this traceback occurring in *cargo* or in *rustup*'s proxy to cargo?

[2019-04-09 06:56] kinnison commented on #1740
Hmm, the top level `rustup install` and `rustup uninstall` commands come as part of the `rustup toolchain` command, hence

[code]

in `fn cli()` in `src/cli/rustup_mode.rs`.  I think the *correct* fix here is to the `README.md` to use the `rustup toolchain install` form instead.

[2019-04-09 06:59] kinnison commented on #1742
Interesting.  Are you able to bisect between 1.16.0 and 1.17.0 to find the commit which causes this to occur?  I am not really au-fait with docker so don't know how I'd do that myself.

[2019-04-09 07:02] kinnison commented on #1743
This is a duplicate of #1696 and #1731 and was fixed in #1699 - the fix will be in rustup 1.18.0

[2019-04-09 07:02] #1743 closed, assigned to nobody

[2019-04-09 07:07] lu-zero commented on #1739
In cargo.

[2019-04-09 07:08] kinnison commented on #1739
Then why are you filing it against rustup?  Would this not be better filed in rust-lang/cargo ?

[2019-04-09 07:24] Nemo157 commented on #1742
These were just the docker images I’ve been using in CI so was the easiest way to test without affecting my system, I only have these two versions of rustup installed in them.

I can probably give bisecting a go later today.

[2019-04-09 08:10] kinnison commented on #1742
Thank you.

[2019-04-09 09:48] Nemo157 commented on #1742
I found some time to do it earlier, first failing commit is 9f532de4d33330a35d4164a7d2faad68a6b7addb

[code]

which makes sense, the other issues I noticed related to this error message were from running `rustup self update`.

It looks like this can be suppressed with `--no-self-update`, but that doesn't appear to be mentioned in `rustup update --help`.

[2019-04-09 10:12] lu-zero commented on #1739
Because the problem is in what rustup uses to build cargo that then distributes, not in cargo.

[2019-04-09 10:26] kinnison commented on #1742
Interesting, thank you.

The --no-self-update option is indeed deliberately hidden, perhaps @nrc can explain why?

[2019-04-09 10:29] kinnison commented on #1739
I think you might be somewhat confused.  Rustup does not build cargo, we simply help users acquire the cargo built as part of the Rust toolchain.  I think this bug should be filed against the Cargo repository, not us.

If, on the other hand, the bug is in `~/.cargo/bin/cargo` (which is, in fact, a hard link to `rustup` as that is how we proxy to the correct version of `cargo` at runtime) then I th

[2019-04-09 13:32] lu-zero commented on #1739
It is more that we do not have a defined place for this kind of problems.

The faulty component is built as part of the https://github.com/rust-lang/rust CI but distributed through rustup.

[2019-04-09 13:42] kinnison commented on #1739
This is not a bug in rustup.

As such, I'm like to close this issue because this is the wrong place to file it.

I've suggested you file it against Cargo, and you've also identified it might be well placed to be filed against rust-lang/rust -- whatever you do though, it's not a bug in rustup.

Unless you think we should fix it by not offering tier two/three content whatsoever.

[2019-04-09 13:50] lu-zero commented on #1739
Yes, you are right, this issue could be closed or moved to the rust issue.

Since you experience the behavior after you update through rustup so I'd expect people to check first here.

Would be ok to update the README with directions regarding this kind of problems?

[2019-04-09 13:55] kinnison commented on #1739
If this were a tier one platform then yes.  As this is related to a tier two platform I think it's better to just close this and file something appropriate either against cargo or against the rust repository directly.

I will consider if it may be appropriate to update the bug reporting template for rustup though, to encourage people to think carefully about the problem and decide if this is the r

[2019-04-09 15:07] mykhailokrainik opened #1745 "invalid (valid) channel name in rust-toolchain"
**Problem**

I'm trying to get the rust version I need through specifying the version in rust-toolchain
**Steps**

1. Create rust-toolchain in project directory, which contains `nightly-2018-11-27-x86_64-unknown-linux-gnu` without any space in the word
2. run $rustc -V
3. got error
[code]
4. check with cargo
[code]
**Possible Solution(s)**

**Notes**

Output of `rustup --version`:
Output of `rustu

[2019-04-09 15:08] mykhailokrainik commented on #1745
@kinnison

[2019-04-09 15:57] kinnison commented on #1745
Hi @mikhail-krainik,

Thanks for reporting this.

For the edification of others, we had a brief discussion on the rust developers discord in the Cargo channel about all this, becuase Mikhail was trying to force the use of a specific toolchain (including specific architecture) by means of writing a cargo plugin to do this.  I asked why he didn't use `rust-toolchain` and this bug report is the resul

[2019-04-09 19:23] rbtcollins commented on #1540
Oh, in terms of running up a little web server with docs - offering the docs package as an .iso would be a sensible way to do it: Windows has built in iso mounting support these days, and so it should be possible to programmatically mount the iso when 'rustup doc' is called.

[2019-04-09 19:31] kinnison commented on #1540
@rbtcollins That would make it harder to allow users to bookmark parts of the docs which they find useful, unless we had a rustup httpd service of some kind which seems somewhat problematic for us to manage.

[2019-04-09 19:31] lnicola commented on #1540
@rbtcollins there are more sensible ways to serve files from an archive, e.g. https://github.com/killercup/static-filez/. ZIP archives would work great. ~~But that's a different issue: some users basically have permanent Internet connections, and they might think there's no point in downloading and storing the documentation if they're never using `rustup doc`.~~

[code]

Why‽ But if you do choose

[2019-04-09 19:36] rbtcollins commented on #1540
@kinnison I'm sure that can be engineered past. e.g. a symlink at the current path pointing to wherever the ISO got mounted, updated when its remounted.

@lnicola I phrased myself really poorly: yes, serving actual http from a .zip is trivially easier; I was more meaning 'having a format to access locally and efficiently'. Hmm, there is an explorer view *into* .zip files these days, but I don't kn

[2019-04-09 19:43] lnicola commented on #1540
@rbtcollins Yeah, #1744 is awesome, thanks for that (and see my edit). As a further step, do you think it would be possible to extract the package on the fly while downloading it?

Even with the large amount of files, for me the package server is probably even slower than the disk access, which can be annoying.

[2019-04-09 19:51] rbtcollins commented on #1540
@lnicola see #731 - I put some thoughts on that there; but a high level tl;dr - absolutely it can be done; the current code isn't particularly well structured for it, and there would be rather wider race conditions where nothing is usable (time from moving old files out of the way to moving new files into place). I suspect increasing download concurrency and optimising the IO of extraction will ge

[2019-04-09 19:59] lnicola commented on #1540
@rbtcollins Sorry, I'm probably missing something, but with #1744 I assume things work like this:

1. the installation package is downloaded
2. the package is extracted to a temporary directory
3. the old directory is replaced with the new one

Assuming the above is correct (and it might not be), streaming the decompression would happen between the first two steps above, so it shouldn't affect in

[2019-04-09 20:15] rbtcollins commented on #1540
@lnicola ah yes, we can merge 1 and 2 in that model, if we keep a staging area.

[2019-04-09 20:23] seanmonstar commented on #1736
reqwest v0.9.14 now has an optional `socks` cargo feature. By enabling it, I *believe* the combination with `env_proxy` should be enough to use SOCKS5 automatically.

[2019-04-09 20:24] seanmonstar commented on #1712
reqwest v0.9.14 has a fix to look for the username/password in the URL provided by `Proxy::custom`, so an update should be enough to get this fixed.

[2019-04-09 21:43] lallotta commented on #1638
Hi @kinnison
I'd like to help here if still needed. I've replicated the issue and am prepared to test. Any further tips? Thanks!

[2019-04-10 07:14] kinnison commented on #1638
Hi @lallotta and thank you for wanting to help.

I would suggest that since you've managed to replicate the issue you're in a good position to try and narrow down a bare-minimum test case to be added to the test suite which demonstrates the problem.

My un-researched thoughts are above, but in summary, I think that this is a case that `set_permissions` likely fails because it's unable to alter the

[2019-04-10 08:29] #1712 closed, assigned to nobody

[2019-04-10 08:29] #1736 closed, assigned to nobody

[2019-04-10 09:10] tesuji commented on #1738
Could you try these workarounds?
- [How to make Emacs terminal colors the same as Emacs GUI colors?][1]
- [Use colors specified in terminal emulator for emacs][2]

[1]: https://stackoverflow.com/questions/63950/how-to-make-emacs-terminal-colors-the-same-as-emacs-gui-colors
[2]: https://emacs.stackexchange.com/questions/21354/use-colors-specified-in-terminal-emulator-for-emacs

[2019-04-10 09:12] kinnison commented on #1738
Also could you please tell me the value of TERM for your terminal in emacs?

[2019-04-10 09:17] tspiteri commented on #1738
Those workarounds are for running Emacs inside a terminal, not using a window system.

The issue is with running `rustup show` inside a shell inside Emacs, and I get the same error whether I'm running Emacs inside a terminal or using the window system.

I can reproduce the issue if I `export TERM=dumb` in a normal terminal. `rustup update` and `rustup show | cat` work, but `rustup show` fails.

[2019-04-10 09:19] tspiteri commented on #1738
@kinnison Inside the shell in Emacs, `TERM=dumb`.

[2019-04-10 09:30] kinnison commented on #1738
Thanks @tspiteri I've confirmed I can reproduce with `env TERM=dumb rustup show` in my normal terminal so I'll see what I can do to find a fix.

[2019-04-11 03:10] #1738 closed, assigned to kinnison

[2019-04-11 03:19] nrc commented on #1742
I cannot. I think it should be documented.

[2019-04-11 03:21] nrc commented on #1740
`rustup install` is just an alias for `rustup update` and `update` is documented.

[2019-04-11 03:21] #1740 closed, assigned to nobody

[2019-04-11 07:11] kinnison commented on #1742
OK, thanks, I'll see if I can get to that if you don't before me.

@Nemo157 would that be sufficient for you, or do you think there's a better error we might give in this circumstance?

[2019-04-11 08:22] Nemo157 commented on #1742
That seems fine. You could consider adding some context to the error message so that users know it's self-update related, but this seems like a niche enough use-case.

I think the real fix would be decoupling the environment variables that determine where rustup is installed and where cargo caches the registry & crates, but seeing as [RFC1615](https://github.com/rust-lang/rfcs/pull/1615) has been

[2019-04-11 09:03] kinnison commented on #1742
OK thanks, I'll assign this to myself to remind me to get some documentation around `--no-self-update` done, but I'm not sure it's worth complicating the error path there.  As you say, the decoupling has been, erm, on-pause :D

[2019-04-11 17:26] tesuji opened #1755 "Replace deprecated dependent crates"
**Describe the problem you are trying to solve**

I suggest to replace deprecated (abandoned) dependent crates like:

- [x] ~`markdown` => `pulldown_cmark`~
  Rationale: rustup currently needs to iterate through `markdown::Block`
  to print content to std{out,err} approriately. But `pulldown_cmark`
  doesn't provide equivalent methods (only `push_html` and `write_html`).

- [x] ~`ole32-sys` => `wi

[2019-04-11 19:27] lallotta commented on #1638
Thank you for your guidance @kinnison

I did some experimenting with your notes, and I found that running the binary as its owner from a read-only directory still succeeds:

[code]
Running a symlink succeeds as well:

[code]

I only seem to produce this error under the original conditions:

[code]

[2019-04-12 00:49] ice1000 commented on #998
I am very looking forward to see an update on this issue.

[2019-04-12 10:17] kinnison commented on #1755
This sounds emminently sensible and I look forward to reviewing PRs for each in turn :D

[2019-04-12 10:20] kinnison commented on #1638
Hmm, looks like I was mistaken, the read-only directory only prevents directory changes, not changes to the inode data of entries inside it.  Urgh, this makes life harder for trying to get this to a state we can CI it since I don't think our CI systems have multiple users we can set up for testing.  Certainly it'd be unreasonable to expect that of random people running `cargo test` too ;(

It's po

[2019-04-12 16:40] jdm opened #1756 "Confusing error when trying to add new targets with non-default host"
**Problem**
I installed rustup by passing `--default-toolchain none --default-host aarch64-unknown-linux-gnu`, then in a directory with a `rust-toolchain` containing `nightly-2019-03-26` I tried to run `rustup target add --toolchain nightly-2019-03-26 aarch64-unknown-linux-gnu`, which failed with a confusing error message: `error: toolchain 'nightly-2019-03-26-x86_64-unknown-linux-gnu' does not su

[2019-04-13 09:50] crp-dev-outlook opened #1757 "rustup-init.exe doesn't work if file-name is changed to a name including special-signs like '+'"

[2019-04-13 20:31] shepmaster opened #1761 "ETA precision is unneeded and complicated."
**Describe the problem you are trying to solve**

This is what you get to stare at when updating Rust on Windows:

[code]

**Describe the solution you'd like**

**15** decimals of precision gets us down to [femtoseconds](https://en.wikipedia.org/wiki/Femtosecond), an utterly unneeded specificity.

Additionally, reporting the precision on the minutes **and** the seconds is redundant.

By nature, th

[2019-04-14 01:53] nrc commented on #1761
Dup of #1696, closed by #1699

[2019-04-14 01:53] #1761 closed, assigned to nobody

[2019-04-14 15:47] kinnison commented on #1756
Hi @jdm,

This bug report is really quite confusing to me -- So if you could bear with me, I'd like to clarify what you have, what you wanted, what you did, and what happened...

1. You appear to have an x86_64 linux system based on the `default host` shown above.
2. You tried to install (presumably x86_64) rustup with no toolchain (skipping the install of stable) but with `aarch64` as the archite

[2019-04-14 15:56] kinnison commented on #1757
Hi @crp-dev-outlook,

Thank you for your bug report.  Can you please provide me with an example workflow which you are trying to achieve where `rustup-init.exe` then fails to work?  We use the name of the binary as a way to disambiguate which command is actually being run (`rustup-init.exe` *is* `rustup.exe` etc).

Thanks,

D.

[2019-04-14 22:08] BartMassey commented on #1540
I'm seeing the same behavior on Debian Linux boxes at my University. It's *possible* that they are running network antivirus there, but I'm skeptical. 1m or so to download everything else: 30m for the docs at a few KB/s. (It also took several minutes to extract everything at work, and a few seconds at home.) I don't see this from my home Linux box at all. Maybe this is not really a Windows thing?

[2019-04-14 23:40] retep998 commented on #1540
No it is definitely a windows things where installing the docs takes forever. The download taking a long time is a completely different unrelated issue.

[2019-04-15 07:03] lallotta commented on #1638
No apologies necessary. I've learned something new.

My changes below appear to fix the issue. I aimed to check if the mode is ok already, and avoid calling `set_permissions` if so. I appreciate your advice if this can be improved. Thank you again.

https://github.com/rust-lang/rustup.rs/compare/master...lallotta:fix-1638?expand=1

[2019-04-15 13:11] kinnison commented on #1638
That patch LGTM as the bugfix itself.  I'm happy to merge that if we can't come up with a good way to CI test it.

[2019-04-15 13:42] jdm commented on #1756
@kinnison Your 1-4 bullets are all correct, as is your summary of what I was trying to achieve.

[2019-04-15 14:30] kinnison commented on #1756
OK cool, so... Your mistake was thinking you should set the host to aarch64 in order to get a compiler capable of *targetting* aarch64.  Our mistake was letting that happen without warning.

Separately there is a confusing error message where you attempt to add a component to a not-yet-installed toolchain which we could do with improving.

For you, short term, a sequence of approx.

1. `rustup-ini

[2019-04-15 14:37] jdm commented on #1756
I already came up with a solution locally, but thanks for trying to address my original intention. And yes, a more specific error message in that case would be a good outcome from my point of view.

[2019-04-15 14:47] kinnison commented on #1756
Excellent, I'm glad you're making progress.  I'll self-assign this issue and try and write an error message patch.

[2019-04-15 15:22] vi opened #1768 "Message about missing nightly components suggests using invalid command"
**Problem**
When `rustup update nightly` fails because of some components are unavailable, it now shows extended, more helpful message about choosing a other-dated nightly.

Hovewer, installation command mentioned at the end of that message is confusing:

[code]

I though that it does #1628 and tried this:

[code]

, meaning "Download nightly versioned 2019-04-15 and use it for channel nightly". B

[2019-04-15 17:33] kinnison commented on #1756
I have tested this locally and get the following sequence:

[code]
The error there looks sane to me, so I wonder how you managed to get that error message at all.

Could you please try and reproduce the error for me, and give me a console log?

[2019-04-15 17:34] #1638 closed, assigned to nobody

[2019-04-16 02:17] jdm commented on #1756
I can't reproduce it now. Very mysterious.

[2019-04-16 02:17] #1756 closed, assigned to kinnison

[2019-04-16 08:01] #1730 closed, assigned to nobody

[2019-04-16 13:01] #1768 closed, assigned to nobody

[2019-04-17 00:05] PaulBone commented on #1740
The fix in #1750 looks good. Thanks.

[2019-04-17 02:57] bestia-dev commented on #998
"rustup docs" can be smart: if there is offline docs use it else go online.
The existing required "docs component" could be for online use.
A new optional "DocsOffline component" could be for offline docs.
Does it make sense?

[2019-04-17 04:39] softprops opened #1771 "toolchain slimming options"
**Describe the problem you are trying to solve**

**Describe the solution you'd like**

I'd like a way to opt out of any default component that isn't essential for build and test to install the smallest possible toolchain.

I believe rustup installs more than that including vendored copies of multiple books and other documentation with no way to opt out

**Notes**

I have docker containers that in

[2019-04-17 05:39] Qquanwei commented on #1745
I have the same error
![image](https://user-images.githubusercontent.com/9263655/56263620-35b8f780-6116-11e9-9bd8-37e6098e545b.png)

[2019-04-17 07:06] #1741 closed, assigned to nobody

[2019-04-17 07:06] kinnison commented on #1771
This kind of functionality is that intended by the _profiles_ concept being developed by @nrc.

[2019-04-17 07:08] kinnison commented on #1745
@Qquanwei Thank you for confirming that this problem exists for others.  Could you provide any insight into *why* the `rust-toolchain` in that directory contains a host architecture as well as the channel name?  What is _remacs_ trying to achieve by doing this?

Also, do you have an opinion on the options mentioned in https://github.com/rust-lang/rustup.rs/issues/1745#issuecomment-481313146 and/or

[2019-04-17 17:35] TjeuKayim opened #1772 "Visual Studio 2019"
**Describe the problem you are trying to solve**

Rustup prompts for installing the Microsoft C++ build tools on Windows. It refers to Visual Studio 2017, and links to https://aka.ms/buildtools. I noticed that this information is outdated.

On 2 April 2019, Visual Studio 2019 was released. The link https://aka.ms/buildtools is pointing to https://visualstudio.microsoft.com/downloads/#build-tools-f

[2019-04-17 17:59] TjeuKayim commented on #1772
I just noticed that the content at 'https://www.rust-lang.org/tools/install' is already updated for Visual Studio 2019.
https://github.com/rust-lang/www.rust-lang.org/pull/736

Could you please have a look at this @yoshuawuyts?

I searched the Github oranisation rust-lang for "Visual Studio 2017", to find that the Rust Book also needs an update.
https://github.com/rust-lang/book/pull/1923

[2019-04-17 21:38] yoshuawuyts commented on #1772
@TjeuKayim thanks for the ping and raising this! -- I don't maintain rustup, but I'm sure someone from the tools team will be able to help with this soon!

[2019-04-18 03:20] nrc opened #1774 "Builtin support for mirrors"
Using Rustup can be very slow in some places, people have addressed this by creating mirrors, but these are not very discoverable. I wonder if we can build-in support for local mirrors to make this easier? At the least we should be more up-front about documentation.

[2019-04-18 06:01] Qquanwei commented on #1745
This error is not a common error , when I re-install remacs environment it not appear for me.

the only thing that I do is `rustup default xxx` .

[2019-04-18 07:20] kinnison commented on #1772
@TjeuKayim Thanks for the issue, and the PR.  I've asked on the PR for you to also update our `README.md` appropriately so that the two parts are not contradicting one another.

[2019-04-18 07:24] kinnison commented on #1774
There are a number of approaches we could take / recommend for local mirrors.

I suppose the first and most obvious way would be to make a config value for `settings.toml` which can provide a different default for `RUSTUP_DIST_SERVER` to remove the need for people to set that in their shell environments.

It might be interesting to then add a `rustup mirror $channel` type subcommand which would fe

[2019-04-18 07:26] kinnison commented on #1745
@Qquanwei Something else must be putting that file down then - I suggest that if it happens again you grep around looking for what created the file.  In the meantime, I'm glad the problem has gone away for you for now.

[2019-04-19 02:39] pkking commented on #1710
Is there a windows binary contain this fix? I download latest rustup from website still meet this problem

[2019-04-19 08:56] kinnison commented on #1710
@pkking I'm afraid we don't do `nightly` or similar for `rustup` itself.  We are looking to cut a new release of `rustup` fairly soon (within a week or two) which will contain the fix.  Until then you would have to build your own copy (which isn't too hard to do) if you wanted the fix.

[2019-04-19 09:01] #1755 closed, assigned to nobody

[2019-04-19 09:10] #1742 closed, assigned to kinnison

[2019-04-19 09:15] kinnison opened #1775 "`CHANGELOG.md` needs updating ready for 1.18.0"
Ideally we'd have something handle this automatically but for now it seems a manual process once per release isn't too onerous.

We need `CHANGELOG.md` updating before we can release 1.18.0.

[2019-04-19 10:15] TjeuKayim commented on #1772
Thank you for merging!

[2019-04-19 10:15] #1772 closed, assigned to nobody

[2019-04-19 12:29] Riateche opened #1777 "toolchain install: unchanged - (toolchain not installed)"
**Problem**
Rustup failed to install a toolchain:
[code]
After that, it is not possible to retry the installation:
[code]
I managed to fix the error by deleting the `~/.rustup/update-hashes/1.34.0-x86_64-unknown-linux-gnu` file manually.

The expected behavior is that `rustup toolchain install 1.34.0` installs the toolchain if it's not installed.

**Steps**
I don't know how to reproduce the exact

[2019-04-20 07:03] DoumanAsh commented on #998
Until there is no way to opt-out of docs, they should not be installed by default

[code]

This is especially making me _happy_

[2019-04-20 08:19] lnicola commented on #1771
Duplicate of https://github.com/rust-lang/rustup.rs/issues/998.

[2019-04-20 10:13] yhoiseth opened #1779 "Missing directory error when adding Fish completions"
Thanks for making Rust 😄

This is my first time trying it, and I discovered a tiny issue that might trip some people up.

**Problem**

When running [the documented command to enable tab completions for Fish on macOS](https://github.com/rust-lang/rustup.rs#enable-tab-completion-for-bash-fish-zsh-or-powershell), I get:

[code]

**Steps**

1. `brew install rustup-init`
2. `rustup-init`
3. Add `source

[2019-04-20 19:04] softprops commented on #1771
@lnicola I subscribed to the other issue which has more momentum and commentary. I'll close this in favor of that

[2019-04-20 19:04] #1771 closed, assigned to nobody

[2019-04-20 19:06] softprops commented on #998
I'm fine with docs by default as long as there is a way to opt out for use cases where they are not needed.

[2019-04-21 13:51] tesuji opened #1782 "Searching for replacements of markdown crate"
**Describe the problem you are trying to solve**

I'm searching for replacements for [`markdown`] crate.

Rationales:
- Latest commit of markdown: Oct 27, 2017.
- It almost be abandonned.

**Describe the solution you'd like**

There are two solutions here:

1. Find new crates to replace markdown crate.
   Candidates:
   * [`pulldown-cmark`]
   * [`comrak`]
1. Fork markdown crate and keep it up-to-

[2019-04-21 16:17] tesuji opened #1783 "`update_exact` test failed if `git depth` equals to 1"
**Problem**

`update_exact` test failed if `git depth` equals to 1

**Steps**

Run these commands (Travis [buildlog](https://travis-ci.com/rust-lang/rustup.rs/builds/109030862#L1134)):
[code]

**Possible Solution(s)**

Not at this time. I'm planning to have a look at `git-testament` crate.

[2019-04-21 16:21] tesuji commented on #1783
cc @kinnison because you're the author of `git-testament`.

[2019-04-21 18:29] tesuji commented on #1775
Opened #1784

[2019-04-21 20:21] kinnison commented on #1783
This is because with depth=1 you don't get information about the most recent tag which is needed for `git-testament` to do the right thing on untrusted branches.

[2019-04-21 20:29] kinnison commented on #1777
The behaviour when you remove the `~/.rustup/toolchains/FOO` is that the update-hash still exists in `~/.rustup/update-hashes/FOO` which causes the confusion.  I wonder if we should either remove the hash if the toolchain is not present, or would it be better to report that the toolchain was unexpectedly absent and require that the user run `rustup toolchain uninstall FOO` (which will currently fa

[2019-04-21 20:30] kinnison commented on #1777
I am prepared to help someone to get into `rustup` coding by working on this with them.

[2019-04-21 20:42] kinnison commented on #1782
Do we truly need to update the markdown crate?  We only use it for processing chunks of text for our output routines, and the version we have is sufficient for our needs.

[2019-04-21 20:49] #1775 closed, assigned to nobody

[2019-04-21 21:14] #1779 closed, assigned to nobody

[2019-04-22 03:21] tesuji commented on #1782
What if markdown crate has security vulnerable but no one care enough
to find out and fix it? At least, we should keep `markdown`s dependencies up to date.

[2019-04-22 07:10] tesuji commented on #832
Could we close this issue? Because I've never encountered this issue with `rustup install`.
@kinnison  ^

[2019-04-22 12:10] kinnison commented on #1782
Given that it's pretty much only used to parse content under our control (i.e. text inside the tool) I'm not too worried about dependencies for now.  `pulldown_cmark` I've used in other projects and while it might be a bit more of a pain to work with for us, it's pretty good.

[2019-04-22 12:10] kinnison commented on #832
We've had so many changes to the download machinery that I agree, it's unlikely to still be an issue.

[2019-04-22 12:10] #832 closed, assigned to nobody

[2019-04-22 15:37] crp-dev-outlook commented on #1757
Ooops, sry - seems i missed to paste the message ...

Essentially as the title says, effectively going easy by downloading the rustup-init.exe as correctly identified for Windows 10 LTSC 2019 | Windows 10 Professional 1903 | Windows Server Standard 2016 [all: amd64 | X86_64] from https://rustup.rs/ ;

I always 'save as' to rewrite the file-name by the schema:
`
+Manufacturer_Name-Product_Name+Prod

[2019-04-22 15:37] #1757 closed, assigned to nobody

[2019-04-22 21:34] cmyr opened #1789 "Compilation fails with default-features = false"
**Problem**

The rustup crate fails to build if either of the `curl-backend` or `reqwest-backend` features are not selected.

**Steps**
1. Create a new cargo project, and include in the manifest:

[code]

2. Run `cargo check` or `cargo build`

**Possible Solution(s)**
Update the two fallback modules in [download/src/lib.rs](https://github.com/rust-lang/rustup.rs/blob/master/download/src/lib.rs#L36

[2019-04-22 21:36] kinnison commented on #1789
We certainly don't intend for people to use rustup in this way.  We would *NOT* support you in doing this.

Instead we'd rather discuss ways in which you might run rustup as a subprocess to learn about toolchains etc in some machine-readable way.  We're much more interested in that.

[2019-04-22 21:37] kinnison commented on #1757
I understand what you tried to do, but certainly it's not a supported mechanism for rustup because we rely on the filename being *exactly* `rustup-init.exe` in order to detect we're in installer mode.

[2019-04-22 21:46] cmyr commented on #1789
Noted, thank you for the quick response.

I'm currently just hacking around trying to get something to work; the only rustup code I'm interested in is just for locating the rustup directory and listing off installed toolchains & components. Any 'real' invocation of rustup will go through a shell.

If it looks like this experiment has legs, I'll open a discussion issue, but let's just forget that b

[2019-04-23 09:02] Glamhoth commented on #1777
I would be interested. How can I reach you?

[2019-04-23 09:04] kinnison commented on #1777
The best way is to join us on the `#wg-rustup` discord channel at https://discord.gg/cKdYFVz  (Note you'll have to jump through a hoop to be able to speak with us, check your direct messages when you join)

If you can't discord, then we can see if there's another way which works for both of us.

[2019-04-23 09:05] #1789 closed, assigned to nobody

[2019-04-23 09:39] emturner opened #1793 "error: toolchain 'stable-x86_64-pc-windows-msvc' does not support components"
**Problem**

attempting to list a toolchain's components gives an error on Windows 10.   The same error is given trying to add components.
[code]

**Steps**

1.  `.\rustup-init.exe` with default options
2.  `rustup default stable`
3.  `rustup component list`

**Notes**
Fresh install of rustup, Windows 10 build 17763
same happens with the GNU toolchain

Possibly a duplicate of https://github.com/ru

[2019-04-23 09:45] victorjulien opened #1794 "curl: option --proto: is unknown on CentOS 6"
**Problem**
curl error when using: curl https://sh.rustup.rs -sSf | sh -s -- -y
[code]
Expected (this worked until 4 days ago):
[code]

**Steps**

1. docker run -it centos:6 /bin/bash
2. curl https://sh.rustup.rs -sSf | sh -s -- -y

**Possible Solution(s)**
N/A

**Notes**

Output of `rustup --version`: N/A
Output of `rustup show`: N/A

[2019-04-23 09:46] kinnison commented on #1793
The output of `rustup show` looks truncated.  Also Rustup 1.18.0 was released this morning and *may* have a better error message (we've changed a bunch of stuff around errors) so could you please try `rustup self update` and then `rustup component list` again?  (Also show me the full output of `rustup show`

[2019-04-23 09:54] emturner commented on #1793
thanks!
[code]

that's the full output of rustup show - it definitely does look different to how I've seen it on linux

[2019-04-23 09:57] kinnison commented on #1794
This is a side-effect of our change to `rustup-init.sh` to force newer TLS versions always.

The `--proto` option is nine years old and was part of 7.21.0 released June 16th 2010.

I suggest that you come up with a way to update the version of curl available in your docker because to undo the change we made would be to weaken a commitment to stronger security around the installation of rustup.

If

[2019-04-23 10:01] kinnison commented on #1793
That looks very odd indeed.  Can you confirm that the `stable` toolchain is in fact installed properly?  I'd imagine so given the `rustc` version but that's very odd.  Could you try `rustup toolchain uninstall stable` followed by `rustup toolchain install stable` and then a fresh `rustup show` please?

[2019-04-23 10:03] tesuji commented on #1794
Simpler solution is to download and run this file if you're on x86-64-linux machine:
https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init

[2019-04-23 10:05] victorjulien commented on #1794
Ok that is unfortunate. Does this mean CentOS 6 is not a supported target for rustup? At https://github.com/OISF/suricata we just made our Rust support mandatory and one of the reasons was that for CentOS 6 it could be installed (& then kept up to date) using very simple instructions.

[2019-04-23 10:11] rbtcollins commented on #904
Current performance quick metrics:
With defender on:
my perf script above: 1m8s
rustup master release build: 3m26
stat-per-dir rather than stat-per-file: 3m14s
8M IO buffer on the tar: 3m14s
less stats + buffer - 3m11

With a defender exclusion on ~/.rustup:
my perf script: 24s
rustup master release build: 1m6s
stat-per-dir: 1m3
8M IO buffer on the tar: 50s
less stats + buffer - 36s

So there is s

[2019-04-23 10:13] tesuji commented on #1794
No, Rustup should run well on CentOS 5+. The problem is in the `rustup-init.sh` script.
Can you point out which part in your project use rustup.rs so we can help?

[2019-04-23 10:15] emturner commented on #1793
thanks so much!  That seems to have fixed it
[code]

[2019-04-23 10:15] #1793 closed, assigned to nobody

[2019-04-23 10:37] victorjulien commented on #1794
I don't use it other than as part of my QA/CI infra, but we want to give users a simple instruction of how to upgrade our program from 4 (optional rust) to 5 (mandatory rust). Since quite a few of our users are still on CentOS 6, having a simple instruction like rustup normally provides would work best.

We could tell them to pull down the rustup-init for their arch manually (I confirmed it works)

[2019-04-23 12:21] ralfbiedert opened #1795 "Rustup lists commands multiple times"
**Problem**

Typing `rustup` prints the commends `self` and `set` twice.

**Steps**

1. Type `rustup`
2. Observe the output

[code]

**Possible Solution(s)**

**Notes**

Output of `rustup --version`: rustup 1.18.0 (8603e2c56 2019-04-22)
Output of `rustup show`:

[code]

[2019-04-23 12:24] kinnison commented on #1794
We are trying to make it easy *and* safe to get Rust.  In order to reduce the chance of TLS downgrade attacks, we introduced this flag to our use of curl (and similarly for wget) and we ensured our configuration of TLS inside rustup was similarly secured.  I certainly don't want to make it impossible for your users, so we need to come up with a halfway house.

@lzutao suggested on our discord chan

[2019-04-23 13:05] kinnison commented on #1795
I can confirm this on Linux too.  Interesting.  Thanks for the report

[2019-04-23 13:11] kinnison commented on #1795
Looks like a bit of a snafu from when we rationalised some of the code, I'll sort a PR to fix this in a few mins.

[2019-04-23 13:13] victorjulien commented on #1794
I could see 2 paths (w/o reverting the new behaviour):
1. some kind of version and/or functionality check on curl/wget. What to do in case of too old versions is the next problem then of course. You could warn and continue, or you could fail and explain.
2. add some kind of 'legacy' commandline option that allows for these kinds of older versions. I guess this could even be combined with (1) to on

[2019-04-23 14:11] kinnison commented on #1794
I think that a check/downgrade-if-option-set is the only approach which is going to maintain the benefit while not causing users of older operating systems too much pain.  Regarding the protections - downgrade attacks (which I'd tend to assume would be in the infra between the users's computer and rust-lang's servers) open the way to potentially introducing bad code into the compiler which is inst

[2019-04-23 14:46] #1795 closed, assigned to nobody

[2019-04-23 17:41] cuviper commented on #1681
The symbol versions for those arches look much better in the rustup 1.18 release:

[code]

[2019-04-23 19:30] Eric-Arellano commented on #1794
This is hitting us with our CI in https://github.com/pantsbuild/pants too, as we use Centos6 to build our native wheels for max compatibility.

I think this is a good solution. Perhaps log a warning that you have to make this downgrade.

Thanks for your help here!

[2019-04-23 23:23] rbtcollins opened #1798 "More efficient incremental updates"
**Describe the problem you are trying to solve**

Toolchain updates are currently very inefficient, particularly with documentation, most of the new content is identical to the previous content; this wastes internet bandwidth for low bandwidth regions, and we currently churn on disk - removing the unaltered content and then replacing it, which has knock on effects on search indices, for a net wast

[2019-04-24 00:26] jimmycuadra opened #1799 "Bash syntax errors reported when loading cargo shell completions"
**Problem**

The cargo command completion shell script produces syntax errors when loaded:

[code]

**Steps**

1. Install latest rustup. I'm using rustup 1.18.0 (8603e2c56 2019-04-22).
2. Run `source $(rustc --print sysroot)/etc/bash_completion.d/cargo` in a shell.
3. Observe output.

**Possible Solution(s)**

**Notes**

Output of `bash --version`:
GNU bash, version 3.2.57(1)-release (x86_64-apple

[2019-04-24 01:06] matthiasdiener commented on #1681
Thanks @cuviper! I can confirm that installation on CentOS 7 ppc64le works out of the box now, without requiring the script I had mentioned in #1339.

[2019-04-24 04:24] rbtcollins opened #1800 "Repeated terminfo db opens"
**Problem**
rustup is opening the terminfo db repeatedly, which is wasteful.

**Steps**
Run rustup under strace / process monitor; debug builds are useful to get good stacks :).
[code]
This shows up multiple times

A sample stack fragment
[code]

1.
2.
3.

**Possible Solution(s)**

The term library does no caching of the environment; it looks likes complete minimisation requires retaining the term

[2019-04-24 06:10] hh9527 commented on #1540
Maybe we can keep rust-doc in zip format in installing. This will require IDE/doc viewer to support zip format.

[2019-04-24 11:11] tesuji commented on #1794
Looks like Rust in macOS 10.12 is broken with image xcode9.2 (on Travis). :sob:
But we have temporary workaround.

[2019-04-24 16:08] kinnison commented on #1799
Hi, the completions come from Cargo rather than rustup itself, this is probably better filed against `rust-lang/cargo`

[2019-04-24 17:48] victorjulien commented on #1794
Is this travis-ci error related as well?
[code]
https://travis-ci.org/OISF/suricata/jobs/523642627

I believe its using xcode 8.3

[2019-04-24 18:27] kinnison commented on #1800
How many times do we currently do this?  The majority of the uses of the `term` instances seem to be cached and passed around.  The stdout/stderr helpers instantiate a TerminfoTerminal which does seem to cache the content.  Basically only calls to `term2::std*()` create new instances which, while called moderately commonly, doesn't seem to be done in any performance critical areas (e.g. the termin

[2019-04-24 18:46] rbtcollins commented on #1800
cli/log.rs seems to be particularly evident when I sample the stack traces

[2019-04-24 19:04] kinnison commented on #1800
I concur that the log functions reopen the terminal, we could `lazy_static` it perhaps.

[2019-04-24 21:43] #1794 closed, assigned to nobody

[2019-04-25 09:46] ebkalderon commented on #1053
@dwijnand Looks like that upstream issue has been successfully resolved. Is this task ready to move forward?

[2019-04-25 10:01] shenki commented on #1665
I hit this issue while attempting to use the docs on a aarch64 Chromebook.

What's the issue that needs to be resolved? I had a quick search and couldn't find an issue relating to building docs for arm.

I am surprised that html documentation is architecture specific. Can we install the x86 package as a workaround?

[2019-04-25 10:16] kinnison commented on #1665
Unfortunately the documentation is actually architecture specific to some extent.  It's unclear to me why docs fail to build on those architectures, but you could try opening an issue on rust-lang/rust about improving matters?  There's little we can do in rustup itself really :(

[2019-04-25 10:19] shenki commented on #1665
You missed the second half of my question. How would a user install the x86 documentation?

[2019-04-25 10:21] brson opened #1805 "`rustup -V` outputs strange version number"
**Describe the problem you are trying to solve**

`rustup -V` outputs `rustup 1.18.0 :: 1.17.0+179 (8603e2c56 2019-04-22) dirty 1 modification`.

I do not understand what the " :: 1.17.0+179" and "dirty 1 modification" strings mean. I am confused and worried about the state of my installation.

**Describe the solution you'd like**

The tool's output should be self-explanatory.

[2019-04-25 15:22] Nemo157 opened #1807 "Missing renames for stable channel"
**Problem**
Cannot use `rustup component add rls --toolchain stable`, but `rustup component add rls-preview --toolchain stable` works. This appears to be because the `renames` table in `~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/multirust-channel-manifest.toml` is missing. Instead there is a `rename` table declared at the end of the file with no entries in it ([gist with full

[2019-04-25 18:48] kinnison commented on #1665
@shenki Oops sorry, You could install an x86 toolchain just to use the docs, but that will use the space for the compiler and cargo too :/

[2019-04-25 18:51] kinnison commented on #1805
This version form means that the Cargo.toml says 1.18.0 but the git tags say 1.17.0 and you have 179 commits since then, and 1 in-tree modification (added, changed, deleted, or untracked file)

How did you get the rustup you are running?  Release rustup should give a very clean version number because of our CI build process.

If you're running your own version of rustup or you have a repo which do

[2019-04-25 18:54] kinnison commented on #1807
Hi Nemo,

Thanks for filing this, the other system I've seen this on doesn't have as old a rustup install (less than a year old) so I don't think your relative age is appropriate.  I'll investigate this soon.

D.

[2019-04-27 08:41] kinnison opened #1811 "Tracking: env_proxy loses :80 on http proxies"
A user reported on the discord that this was happening, we've tracked it through and filed https://github.com/inejge/env_proxy/issues/6 this issue is here to track that so that we can update our `Cargo.{toml,lock}` when a fix is released.

[2019-04-27 08:56] kinnison commented on #1739
I have thought about it and decided that the bug reporting template should be good enough for now and we can just help redirect people as appropriate should they file an issue without talking to us first.  It's not too much bother for now and we don't want to put people off filing issues which really are problems in rustup.

Thank again for your time.

[2019-04-27 08:56] #1739 closed, assigned to nobody

[2019-04-27 11:23] tesuji commented on #1805
I would suggest adding a [FAQ in README][1] about this `rustup -V` output.

[1]: https://github.com/rust-lang/rustup.rs#faq

[2019-04-28 08:13] kinnison commented on #1805
I'm not convinced about `README.md`, but perhaps `CONTRIBUTING.md` instead?

In my mind, `README.md` is more for users of the tool, who *should* **never** end up with tools whose version string looks like that.  Any user who's being asked to beta-test a newer version will be told about it directly, and that'd be the responsibility of the wg-rustup member who was asking them to, hence `CONTRIBUTING

[2019-04-28 09:15] kinnison opened #1816 "Make suggestions based on Levenshtein distance"
**Describe the problem you are trying to solve**

From time to time people have difficulty installing components because of typos.  Sometimes they're even really hard to spot, particularly for those who are dyslexic.  For example, recently someone had difficulty installing the `rls` component because they kept typing `rsl` but reading it as `rls` and so couldn't tell what was wrong.

**Describe th

[2019-04-29 07:31] kinnison commented on #1811
This has now been fixed in `env_proxy` version `0.3.1` which means we need to update our Cargo.{toml,lock} now.

[2019-04-29 07:55] kinnison opened #1818 "Shift away from `term` crate"
The `term` crate is unmaintained.  cf. https://github.com/Stebalien/term/issues/93

It is recommended we shift to `termcolor` (https://crates.io/crates/termcolor)

Whatever the move is toward, it ought to be away from an unmaintained and troublesome crate.

[2019-04-29 07:57] kinnison commented on #1800
Looks like `term` is unmaintained and we should move away from it anyway -- #1818 is related to that.

[2019-04-29 07:57] kinnison commented on #1818
Doing this may solve #1800

[2019-04-29 07:59] rbtcollins commented on #1800
Hah. Well I have a thing that makes it all better, just playing rust golf,
combined with road tripping. Will try to put it up today.

On Mon, 29 Apr 2019, 19:57 Daniel Silverstone, <notifications@github.com>
wrote:

[2019-04-29 10:01] kinnison commented on #1777
(Hopefully) fixed in #1801

[2019-04-29 10:01] #1777 closed, assigned to nobody

[2019-04-29 19:27] nikomatsakis commented on #1668
FWIW, I am encountering this same problem on my windows machine. Perhaps I can help provide some debugging information?

[2019-04-29 19:42] kinnison commented on #1668
Normally I'd guess that this means more than one of the components had that path in it, but if the failure is as the OP had it where only one component was being unpacked at the time, then it implies that something more insidious is going on.  I guess we should start with:

1. Is your current nightly toolchain sanely installed -- i.e. is there the conflicting file present, and is it listed in exac

[2019-04-29 20:37] rbtcollins commented on #1800
Ok, have looked at termcolor; (ug the spelling :( ). It's no different in terms of primary public API - in that it still returns a thing we have to manage ourselves to avoid repeated requerying of the underlying context; it does appear to do a somewhat lighterweight job of that - by virtue of *not honouring terminfo at all*.

[2019-04-29 21:27] #1811 closed, assigned to kinnison

[2019-04-29 22:31] andradei opened #1821 "ZSH Cargo autocompletion not working"
**Problem**
`cargo` tab completion is not working. I installed it the same way I did `rustup`, which works.

**Steps**
1. `rustup completions zsh cargo > /usr/local/share/zsh-completions/_cargo`
2. On my `.zshrc` I have

[code]

3. Open a new terminal or reload `.zshrc`

**Notes**

Output of `rustup --version`: rustup 1.18.1 (462683b3a 2019-04-25)
Output of `rustup show`:

[code]

[2019-04-30 07:44] rbtcollins commented on #1800
https://github.com/rust-lang/rustup.rs/pull/1820

[2019-04-30 08:34] kinnison commented on #1821
I imagine this is an issue with the zsh completions provided for cargo, rather than rustup itself.

I have just tried manually installing the cargo completions into my zsh setup and can confirm they seem to do nothing.

I'd suggest filing an issue against https://github.com/rust-lang/cargo referencing this issue so that we can discuss it usefully across the projects.

[2019-04-30 15:52] rye commented on #1247
Dup of #1053.

[2019-04-30 21:11] jens1o commented on #1818
I'd like to take this. :)

[2019-04-30 21:16] kinnison commented on #1818
@jens1o Cool, thank you, if you want to discuss things, you should come onto the Rustup discord on https://discord.gg/cKdYFVz and we can talk.

[2019-04-30 21:21] hrvolapeter commented on #1816
I would like to take this one

[2019-04-30 21:43] kinnison commented on #1816
Hi @retep007 and thanks for being interested in helping on Rustup.

We hang out on Discord: https://discord.gg/cKdYFVz and we'd be pleased to discuss this with you on there.

[2019-04-30 23:02] mkduer commented on #1367
I also received the same error. Upon closing VSCode (which had RLS running), re-running `rustup update` worked fine. Thanks all.

[2019-05-01 02:11] nrc commented on #1774
A particular use case I have in mind is locale-specific mirrors, for example, using the rust-lang.org sources is very slow in China. There are local mirrors, but you have to know they exist, if you don't then the first run experience of installing Rust is pretty miserable.

If Rustup could choose a local mirror rather than rust-lang.org, then installing Rust would be much quicker for these users.

[2019-05-01 02:15] nrc commented on #1798
This does sound great to have. I believe our servers at the moment are very dumb, and I think we probably need to keep them that way, but if we can pre-calculate the information we need, that would be fine.

[2019-05-01 02:55] JasonWeise commented on #1805
I have just installed rust on Windows 10 with the `rustup-init.exe` installer from the Rust homepage (literally just now).

When I run `rustup -V` I get the following output as well:
`rustup 1.18.1 :: 1.18.0+20 (462683b3a 2019-04-25) dirty 1 modification`

Is there a way for me to update rustup so it is showing as clean?

[2019-05-01 07:18] kinnison commented on #1805
Thanks @JasonWeise - I'm guessing that our appveyor builds are somehow dirtying the git repository.  The version code deliberately refuses to hide that, even on releases, hence the very odd looking version number.  @brson I apologise, I had assumed you were doing some kind of build because the other platforms seem to report version numbers just fine on our stable builds.

I stand by my assertion t

[2019-05-01 08:44] kinnison commented on #1805
Okay, I've determined what went wrong with our appveyor builds and have filed #1822 to deal with it.  I won't consider this closed though until I've written up something in `CONTRIBUTING.md` too though.

Thank you both for reporting this.  I simply didn't consider that appveyor builds wouldn't be clean :cry:

[2019-05-01 09:44] JasonWeise commented on #1805
@kinnison good stuff.
Thanks for the speedy investigation.
I had never noticed it before I saw @brson post but when installing onto my new laptop today found the above results and thought it odd.

Thanks again!

[2019-05-01 10:26] kinnison commented on #1805
It's partly my fault - I do have a tendency to treat Windows as a third-class citizen behind MacOS behind Linux :D  1.18.2 should have this fixed when I release it later this week.

[2019-05-01 11:55] thedavidmeister commented on #998
we moved to azure + appveyor "enterprise" and built images containing rust already installed

it was the only way to avoid timeouts

it's not cheap tho

[2019-05-01 11:57] ashthespy commented on #998
There is hope!
![image](https://user-images.githubusercontent.com/16233271/57016173-fd86de00-6c18-11e9-9f3f-63f242950eb3.png)

[2019-05-02 07:33] LPGhatguy opened #1826 "Progress indicator broken on Alacritty with ConPTY"
## Problem
When updating a toolchain, Rustup tries to draw over its previous progress indicators, but fails, and instead produces beautiful art:

![unknown (6)](https://user-images.githubusercontent.com/654598/57061223-f68bba00-6c70-11e9-91b5-feb0474ca55f.png)

## Steps
1. `rustup update stable`, or another command that causes Rustup to output progress

## Possible Solution(s)
Bash in Alacritty in

[2019-05-02 13:35] kinnison commented on #1805
1.18.2 has been released which should resolve this for the most part, but I will still need to write a `CONTRIBUTING.md` statement about the shape of version numbers too.  So I'll hold this open until that is done.

[2019-05-02 15:11] nikomatsakis commented on #1668
[code]

[2019-05-02 15:19] kinnison commented on #1668
OK, that is fascinating -- where it's fun is the `warning: during uninstall component rustc was not found`

Could you please provide:

[code]

For example, I get:
[code]

[2019-05-02 15:19] nikomatsakis commented on #1668
[code]

[2019-05-02 15:20] nikomatsakis commented on #1668
I sort of dimly recall that I *may* have tried to delete some stuff in an effort to make this go away =)

[2019-05-02 15:21] kinnison commented on #1668
Eep!

Are there any `*.toml` files in that directory (`...lib/rustlib/`)

[2019-05-02 15:21] nikomatsakis commented on #1668
[code]

[2019-05-02 15:22] kinnison commented on #1668
If you deleted the manifest files then rustup will be entirely unable to uninstall/update that channel because it won't know which files came from what component.

You can remove the entire toolchain directory and ask rustup to reinstall the channel but that's about your best bet at this point :disappointed:

[2019-05-02 15:24] nikomatsakis commented on #1668
I think what I did was to run `rustup uninstall stable` or something. If you *do* want the tarball, it's here

http://smallcultfollowing.com/rustup-issue-1668.tgz

at least for a while :)

[2019-05-02 15:24] nikomatsakis commented on #1668
for now I will just kill rustup and reinstall I guess

[2019-05-02 15:29] kinnison commented on #1668
Thanks, I've downloaded that now, so you can remove the tarball if you want.  I guess that for now that will be your best bet.  I think longer-term we ought to detect this kind of issue and offer a way to nuke-from-orbit from within rustup, though you must have gone behind its back at which point UB is your reward anyway :D

[2019-05-03 23:03] konstankinollc opened #1831 "rustup update: seconds to complete output improvements"
**Problem**
![Screen Shot 2019-05-03 at 3 20 01 PM](https://user-images.githubusercontent.com/38840828/57169645-d2d58a80-6dbc-11e9-9582-2c4995cdfdb5.png)

**Solution**
https://github.com/rust-lang/rustup.rs/pull/1832

**Notes**

Output of `rustup --version`: rustup 1.18.2 (a0bf3c9cb 2019-05-02)
Output of `rustup show`:
x86_64-apple-darwin
stable-x86_64-apple-darwin (default)
rustc 1.34.1 (fc50f328

[2019-05-04 18:44] softprops commented on #998
Is there a place where I can read up on profiles. I've only found this open pull without a description  https://github.com/rust-lang/rustup.rs/pull/1673

[2019-05-05 22:57] rbtcollins commented on #1826
So this is interesting; it looks like we're either not sending a \r correctly, or the number of spaces being sent to overwrite content is wrong, leading to wrapping to the next line, and so on. Probably some diagnostic testing will be needed to determine what terminfo we're ending up with with term today.

[2019-05-05 23:00] rbtcollins opened #1835 "Investigate using a community maintained progress bar"
**Describe the problem you are trying to solve**
Stop us playing whack-a-mole with progress bars. Also get nicer, shinier ones. https://github.com/rust-lang/rustup.rs/issues/1826 is perhaps a case of this (but perhaps also is just in the term detection bucket).

**Describe the solution you'd like**
Use https://github.com/mitsuhiko/indicatif

**Notes**
Some care is needed in investigating the behav

[2019-05-05 23:01] rbtcollins commented on #1835
@mitsuhiko

[2019-05-05 23:12] mitsuhiko commented on #1835
I would love to get people on board to improve indicatif :)

[2019-05-05 23:21] rbtcollins commented on #1826
Capturing from discord:
`TERM= rustup toolchain add nightly` displays correctly but without colour. TERM=xterm-256color otherwise.

The `term` package fallsback to probing the Windows Console via console APIs when TERM is unset, and if that fails, rustup then creates a Terminal object that tries to work with dumb terminals (e.g. just depends on `\r` and discards attempts to do bold/colour etc).

S

[2019-05-07 13:59] kinnison commented on #998
Currently there's not anything concrete to read about, sorry, no.

[2019-05-07 14:01] kinnison commented on #1835
I think that switching to indicatif or another similar library would be an interesting approach.  It'd be a significant departure for the current UI if we also funnelled all messaging through such a beast, so we'd need to think carefully.

[2019-05-07 14:02] kinnison commented on #1826
This kind of failure mode is something we attempted to fix with the downgrade of term to before the fallback terminfo thing.  I wonder what we could do to output some useful debugging of what kind of terminal object we've ended up with?

[2019-05-07 16:20] ashthespy commented on #998
@softprops
Maybe [this](https://github.com/nrc/rustup.rs/blob/ebde0f9bcebc621c727707a2724adf5f4090bfa6/tests/mock/dist.rs#L403) gives you a starting point?

[code]

[2019-05-07 20:59] rbtcollins commented on #1798
I don't have the time to take on building this at this point, but I do have the time to help someone interested work through technology choices, interactions and implications on different platforms, and likely constraints/desired capabilities for the components we install to make this really fly.

[2019-05-07 21:34] rbtcollins opened #1838 "Suggest performing self-update first"
**Describe the problem you are trying to solve**
1. Users suffer buggy versions of rustup one time more than they need to.

**Describe the solution you'd like**
Rustup should self update first, not last, and then continue the update process.

**Notes**

[2019-05-08 09:05] tesuji commented on #1393
@kinnison This should be closed .

[2019-05-08 09:09] kinnison commented on #1393
Indeed it should, well spotted.

We have been checking formatting as part of CI for several months now.

[2019-05-08 09:09] #1393 closed, assigned to nobody

[2019-05-08 15:11] MalteSchledjewski commented on #1367
I do have a similar problem.
I have a gitlab runner on my machine.
I set up a new user "gitlab".
Running a CMD as "gitlab" I installed rustup.

Now whenever there is a rustup self-update, I get the following error:
[code]

If I then manually start a CMD as "gitlab" and do the same steps, everything works.

So far I haven't found a solution.

I do not have concurrent builds so there should be no ad

[2019-05-08 23:59] rbtcollins commented on #1800
Fixed with 1820.

[2019-05-08 23:59] #1800 closed, assigned to nobody

[2019-05-09 00:21] rbtcollins commented on #1577
I think https://github.com/rust-lang/rustup.rs/commit/0a08a66f2cc69ce9ab04ef6d334ace20a7bed1d8 fixed this.

[2019-05-09 00:33] rbtcollins commented on #1564
I'm inclined to think that thats a cargo responsibility. Thoughts @nrc  @kinnison  ?

[2019-05-09 00:44] rbtcollins commented on #1458
So I think this should be broken into two problems:
- sometimes we don't get a default toolchain
- when there isn't a default toolchain, rustup show errors - which was cleanly filed as https://github.com/rust-lang/rustup.rs/issues/1450

I propose that we reopen 1450, fix that because its clear and simple, fix it (with the case that no default results in a link to this ticket), and then try to figu

[2019-05-09 01:35] rbtcollins commented on #1508
I think this bug is mistitled/analysed - the mismatched path separators don't prevent the msvc runtime (which the windows build of rustup is built with) don't prevent manipulating those files. I think its much more likely that something was holding a file lock open on the rustup-init.exe at the time removal is being attempted.

To analyse this a system tracing tool like process monitor can be used

[2019-05-09 07:15] kinnison commented on #1600
I have updated the title and the top of the summary post to make it clear that this is about how we communicate when a toolchain cannot be updated because components are installed which are missing from the newer version of the toolchain.

We now have `TOOLSTATE_MSG` which is output in these situations, providing output akin to:

[code]

If this is sufficient, then we can close this issue, otherwi

[2019-05-09 07:19] kinnison commented on #1577
I believe you're right, I'm closing this.  If @DuckerMan thinks the new link is still bad, a fresh issue would be appropriate.

[2019-05-09 07:20] #1577 closed, assigned to nobody

[2019-05-09 07:21] kinnison commented on #1564
This is certainly not `rustup`'s purview entirely.  There may need to be collusion between `rustup` and `cargo` to allow `cargo` to request that the LLVM tools be installed.

[2019-05-09 07:23] kinnison commented on #1458
We've not `panic!()`d on a lack of default toolchain for a few releases now, instead you get a well-formed `error: no default toolchain configured` though perhaps we could then offer a hint on how to fix that.

Regarding why there's no default toolchain, I'm not sure, so we can proceed with investigating that on this issue.

[2019-05-09 09:15] NickeZ commented on #1600
I can't determine neither from https://rust-lang-nursery.github.io/rust-toolstate/ nor https://rust-lang.github.io/rustup-components-history/ which is the latest version of rust that has all the components.

I think the new title of this issue is wrong. The issue is that rustup doesn't update to the latest nightly with all the components when I issue rustup update.

Edit: At the very least, the er

[2019-05-09 09:21] kinnison commented on #1600
@NickeZ Your request is covered by #1628

[2019-05-09 09:26] NickeZ commented on #1600
Ah, ok, then I'll watch that issue instead. Thanks

[2019-05-09 11:01] kinnison commented on #1816
Closed in #1824

[2019-05-09 11:01] #1816 closed, assigned to nobody

[2019-05-09 15:27] igalic opened #1843 "x86_64-unknown-freebsd does not come with rust-lld"
**Problem**

a (wasm based) project i'm trying to compile on FreeBSD is expecting rust-lld, but it doesn't exist.

**Steps**

1. follow https://rustup.rs/ to install rustup on a FreeBSD
1. Follow https://docs.joinplu.me/installation/with/source-code to compile Plume (this installs cargo-web)
1. Fail compiling with the following error:

[code]

**Notes**

Output of `rustup --version`: `rustup 1.18.

[2019-05-09 15:33] kinnison commented on #1843
I imagine you need the `llvm-tools-preview` component installed.  If the dependency on `rust-lld` directly is part of the project you're trying to build then it may be worth their while including that into their documentation.

[2019-05-09 15:35] kinnison commented on #1843
It's also possible you may need `cargo-binutils` installing too, I'm not sure though.

Either way, I don't think this is directly a bug in `rustup` itself.

[2019-05-09 15:57] igalic commented on #1843
on my linux laptop i don't have `llvm-tools-preview` installed either…
…and neither do i have cargo-binutils installed.
so my assumption is that on linux, rust-lld is just part of the toolchain, whereas on freebsd, it's not.

[2019-05-09 20:20] igalic commented on #1843
it seems, i should open this issue upstream:

here's the CI build's configure for Linux:

https://github.com/rust-lang/rust/blob/2ec6f340cd29f289fea1c5a672195ceeaf44c475/src/ci/docker/dist-x86_64-linux/Dockerfile#L96-L105

and here's the configure for FreeBSD:

https://github.com/rust-lang/rust/blob/ef01f29964df207f181bd5bcf236e41372a17273/src/ci/docker/dist-x86_64-freebsd/Dockerfile#L32

[2019-05-09 20:20] #1843 closed, assigned to nobody

[2019-05-10 09:12] kinnison commented on #1843
Aha, I apologise for my misunderstanding of the situation then.  Good luck.

[2019-05-11 17:15] konstankinollc commented on #1831
Resolved.

[2019-05-11 17:15] #1831 closed, assigned to nobody

[2019-05-11 23:18] maufirf opened #1849 "Rustup nightly install failed for the 2019-05-11 update"
**Problem**

I was trying to update my `rustup` to nigthly version with `rustup update nightly` to the latest, which happens to be `1.36.0-nightly (d595b1135 2019-05-10)`, but it said this instead:
[code]

More in-depth console output:
[code]
*Irrelevant part is cut as it repeats the same installing progress, you can see in comment history.*
[code]

I am using Windows 8.0 and using CMD terminal. I

[2019-05-13 07:44] llebout commented on #1540
Rather than fixing this, Windows should definitely realize that slowing their system down like this isnt acceptable.

It's an issue in Windows, not rustup.

[2019-05-13 07:57] kinnison commented on #1849
Hi,

Nightly can sometimes have problems like this.  Could you confirm if this remains the case in a few days?

If it does, then we might have something to investigate.

Thanks,

Daniel.

[2019-05-13 08:00] kinnison commented on #1540
@leo-lb We're significantly more likely to be able to use the OS in a way that the OS author intended, than to change the OS author's mind on their design tradeoffs.

[2019-05-13 08:12] rbtcollins commented on #1540
@leo-lb There are were many issues that lie definitively within rustup's remit, including the poor syscall behaviour noted at the start of the bug (which is largely [directories are a remaining exception for now] mitigated by the patches I have written, some of which are already merged. Those issues affect[ed] Linux too, but will show up much less often (putting ~ on a network share would be one l

[2019-05-13 08:14] rbtcollins commented on #1540
It's also worth noting, as I do in the commit message, that third parties can cause arbitrary delays in CloseHandle, which neither Microsoft nor rustup can control, and we mitigate that as well with this patch. https://randomascii.wordpress.com/2018/04/17/making-windows-slower-part-1-file-access/ is a good blog post about some of the ways this can happen. Similar things can happen to Linux as well

[2019-05-13 08:38] llebout commented on #1540
Windows Defender who is the principal contributor to this issue, is spinning up whole arbitrary file type parsers between system calls, there's nothing to do about it but to change Windows Defender and thus Windows, who has it enabled by default. I understand the problem of using a monolithic system where any program gets access to the whole filesystem without an Anti-Virus, but it's not like we c

[2019-05-13 08:45] llebout commented on #1540
To clarify, as rustup executables lack digital signatures, they're considered unknown and potentially suspicious by Windows Defender or other Anti-Viruses and stricter active scanning rules are being applied on them. A file without a digital signature could end up being considered trusted, but it takes more time, an employee needs to go and attest that the executable is trusted and register it's h

[2019-05-13 08:48] rbtcollins commented on #1540
@leo-lb you may be interested to know that the performance work I'm doing is improving performance when Defender is disabled / excluded on the rustup directory: When I started doing this optimisation work with defender disabled and indexing disabled, rust-docs installation was nearly 40 seconds: I've pulled it down to 10 seconds.

Yes Defender's overhead is a significant factor as well: There is a

[2019-05-13 08:53] llebout commented on #1540
@rbtcollins Okay, well good work on that. Rather than signing rustup binaries themselves, you could ship rust docs in .zip format and make use of a command line tool shipped by default in Windows to extract the archive.

[2019-05-13 09:13] llebout commented on #1540
Rather than ZIP, I would use CAB files, because there is better supported tools installed by default for it since early Windows days. See https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh875545(v=ws.11) and https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/expand

Also, the standard installation mechanism on Windows i

[2019-05-13 09:14] llebout commented on #1540
You have little hope at staying in the FOSS world for your toolchains and build systems if you are using Windows, else you'd be suffering quite big constraints like this performance one.
Stuff to make cab or msi files arent FOSS. Code signing certificates are the same thing, they're an administrative cost.

[2019-05-13 09:21] llebout commented on #1540
https://en.wikipedia.org/wiki/WiX is the only FOSS that can create MSI Windows Installers, CAB file can be read but not created by FOSS.

[2019-05-14 02:48] ghost opened #1851 "`x86_64-pc-windows-gnu/rustup-init.exe` should suggest `x86_64-pc-windows-gnu` as the default host triple"
If I download this file:

https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-msvc/rustup-init.exe

and run I get this result by default:

[code]

However if I download this file:

https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-gnu/rustup-init.exe

and run I get the same result. With GNU RustUp why is it not setting GNU ABI for
the default host triple?

[2019-05-14 09:15] tesuji commented on #1851
I think that each `rustup-init.exe` does the same thing is intended.
You have each one built on each Windows target.
By default rustup install msvc target if it find msvc installed.
You could override that behavior by using `--default-host`, example:
[code]

I would like @kinnison or anyone to comment about this.

[2019-05-14 10:59] kinnison commented on #1851
Windows builds of rustup *always* default to the `-msvc` variant, even if they're the `-gnu` variant copy of rustup.  This is done via https://github.com/rust-lang/rustup.rs/blob/master/src/dist/dist.rs#L148 (part of `rustup::dist::dist::TargetTriple::from_host()`.  It might make sense to detect in there if we're a `-gnu` variant and pick the `-gnu` host triple by default, though that'd be a signi

[2019-05-14 19:24] retep998 commented on #1851
I find it weird that we still release rustup binaries compiled by `-gnu`. Users of rustup gain nothing by using the `-gnu` version and the choice of host/target is independent of which version of rustup you install. The rustup website for Windows only gives you the choice between 64-bit and 32-bit and does not expose the `-gnu` built version as an option.

In general, if you have VC++ installed th

[2019-05-14 21:32] rbtcollins commented on #1851
I think we have three separate but related issues being discussed here:
a) the rustup installation experience on windows
b) what toolchain rustup built for mingw should default to
c) how hermetic rust builds on window should be by default

Some background first - my understanding here is incomplete, but I believe that requiring the MSVC++ runtime dll is not a hard requirement for rust built binari

[2019-05-14 21:52] ghost commented on #1851
@rbtcollins i didnt install it.

Once I got the screen with what I perceived as an error - i stopped and reported it here.

Again I will stress that i dont think its appropriate that BOTH installers are defaulting to MSVC - they should either default to their respective toolchains or we should remove the GNU altogether, as i cant see how it could produce anything but confusion

my current install

[2019-05-14 22:05] ghost opened #1852 "workaround can be fixed"
https://github.com/rust-lang/rustup.rs/blob/master/src/lib.rs#L54 is naming an issue which is the reason for some workaround.

the [issue](https://github.com/rust-lang-nursery/error-chain/issues/254) is now fixed, therefore the workaround can be removed ;)

[2019-05-14 22:15] rbtcollins commented on #1851
@cup so per @retep998 and our wg meeting today our most likely action to resolve this confusion is going to be removing the mingw build from our downloads.

You can use rustup to configure rust for the GNU ABI - no tar hacking should be needed

[2019-05-14 22:21] ghost commented on #1851
@rbtcollins thats not ideal.

For new users I think the best option is to offer:

1. a ZIP file that can be downloaded
2. extract
3. write `hello-world.rs`
4. `rustc.exe hello-world.rs`

This workflow is currently not possible with Rust, as with both the MSI and
TAR.GZ, Rust has to be installed before its actually usuable. Other languages
like Go and Nim dont require this. Make it easy for new use

[2019-05-14 23:14] rbtcollins commented on #1851
@cup setting the host is documented here - https://github.com/rust-lang/rustup.rs/blob/master/README.md#working-with-rust-on-windows (which is linked from https://www.rust-lang.org/tools/install and that is linked from https://doc.rust-lang.org/1.5.0/book/installing-rust.html).

Basically during install select the option to change the default and put `x86_64-pc-windows-gnu` in instead for the host

[2019-05-14 23:18] rbtcollins commented on #1851
re: the idea of a zip with all the bits in it - thats an interesting idea; I'm not sure of the best forum to discuss it, its a larger topic than just rustup though - perhaps raising it in the user forums or something to get some traction around the idea might make sense

[2019-05-15 10:58] rbtcollins commented on #1851
@cup I understood your point; which is why I said that it was really a larger discussion than the rustup team; in the context of the rustup team I think the obvious thing to do is to stop offering mingw builds of rustup, as, as already pointed out here by you and others, all they do is confuse folk. I'm trying to get this ticket here to a point where we can either act on it to fix it, or decide th

[2019-05-15 12:40] kinnison commented on #1852
This looks to be fairly easy to do:

- [ ] remove the workaround
- [ ] update error-chain version
- [ ] verify everything is okay incl. with clippy

I'm prepared to help anyone along who wants to do this.

[2019-05-15 21:41] maufirf commented on #1849
Hi

So i have tried it again today, same problem still presist, here's the console output:
[code]

[2019-05-16 08:16] kinnison commented on #1849
Okay, thank you @parampaa2 for trying again.

So now we know there's something we need to diagnose, let's step another step along the path.

Based on the log you're showing, I think you're running a slightly old copy of rustup, so let's eliminate that as a problem by first running `rustup self update` before trying `rustup update` once more.

Also, can you confirm how much free space you have on t

[2019-05-16 09:53] tesuji commented on #813
@kinnison What can we do with this?

[2019-05-16 12:09] pzmarzly commented on #1243
Rustup downloading backend seems to be changed from curl to reqwest, and rust-lang.org architecture seems to have changed as well, but the issue is still present:

[code]

[2019-05-16 13:42] kinnison commented on #813
We now report "No manual entry for override" so that's fine, this is no longer an issue.

[2019-05-16 13:42] #813 closed, assigned to nobody

[2019-05-16 13:43] kinnison commented on #1243
I don't suppose you retained the .partial file so that we can tell what was in it?

[2019-05-16 13:52] pzmarzly commented on #1243
No, but after few minutes of trying, I managed to recreate similar condition (using `rust-src`, as it's larger):

[code]

[downloads.zip](https://github.com/rust-lang/rustup.rs/files/3187370/downloads.zip)

[2019-05-16 14:36] maufirf commented on #1849
Alright, so i have recently updated the rustup using `rustup self update`, and it was a success with this output:
[code]

However, it still does not relieve the problem, using `rustup update nightly` yields the same result:
[code]

I recently backed up my personal data from my C: partition, which is 41 GB right now. Previously, on the first encounter of the problem, i have 33 GB.

Also as an addit

[2019-05-16 14:46] kinnison commented on #1243
Fascinating - so the same thing happened as happened for @Nemo157 (i.e. the file is the right size) but this time the checksums match, so it's as though your download completes yet never signals completion to rustup somehow.

Do you have a proxy of some kind in the way of your internet connection, and if so might it be holding the connection open in a way rustup isn't expecting, I wonder.

I know

[2019-05-16 14:48] kinnison opened #1854 "Complete, or spurious `.partial` file can cause repeated failure to download"
If a `.partial` file is actually complete, then any attempt to continue the download will fail because the byte-range request will be out-of-range.  There is then no recovery method within `rustup` instead the user ends up having to delete the `.partial` file and try again.

In #1243 this has been discussed, and there's at least one person for whom the partial file was corrupt, and one for whom it

[2019-05-16 15:02] #1852 closed, assigned to nobody

[2019-05-16 15:20] pzmarzly commented on #1243
In my case, I'm using OpenVPN, but that should be transparent to HTTPS layer. I triggered this bug by hitting Ctrl+C at the right moment, haven't tried or experienced network failures. I probably interrupted rustup during file validation (hashing)/renaming. I'm running Linux. Nemo's issue may be unrelated except for the last error (when file is right size)

[2019-05-16 19:34] nightlark opened #1856 "Unable to download files, certificate verify failed"
**Problem**
Rustup has no option to disable certificate checking. The place I work at has networking hardware in place that basically breaks SSL. I've tried adding --no-check-certificate and --insecure to the curl/wget commands in the "easy" rustup-init.sh script, but then the rustup command fails due to the same SSL certificate validation errors. A no-nonsense get.

**Steps**
1. Find a company th

[2019-05-16 19:54] nightlark commented on #1856
Okay, I stumbled upon an environment variable, RUSTUP_USE_CURL, that appears to not do the SSL certificate checking. It would've been much nicer if a reliable workaround for corporate environments were mentioned somewhere on the install page for rust.

[2019-05-17 07:18] kinnison commented on #1849
Hi,

Thanks for that, it has eliminated some paths of investigation, for sure.

So what we're left with is a question of whether it could be a Windows-specific issue, perhaps related to path lengths, or a rustup issue with the space in your username, or something else.

@rbtcollins Do you happen to have any ideas on this issue?  Would it help if we had a zip of this user's `.rustup` to look at?

[2019-05-17 07:20] kinnison commented on #1243
Right, but by whatever means you got the "complete" partial file, #1854 is important to solve so that you can subsequently proceed.

Dealing with the triggers that cause such a file to be laid down can then be the topic of this issue :D

[2019-05-17 07:23] kinnison commented on #1856
We have been around on this topic before.  Currently we have no intention to add to `rustup` a way to ignore certificates.

That `RUSTUP_USE_CURL=1` helped you suggests that your system has appropriate certificates installed onto it, and that our reqwest based backend is not managing to find them.  It is certainly not a workaround to disable certificate checking and if it currently does ignore bad

[2019-05-17 08:35] nightlark commented on #1856
It causes problems on enough websites using https that it’s the first thing to blame when I see an error with ssl certificates, though other https webpages work.

Mentioning in a FAQ on the installation page the curl backend as a workaround if there are certificate errors using the default reqwest backend would’ve been nice. If it’s because it does a better job finding certificates, then as a user

[2019-05-17 10:22] rbtcollins commented on #1849
The errors being logged are all during the rollback - the bk directory is for rollbacks. We're not seeing the actual error other than 'detected conflict'.

Thats a ComponentConflict, which only gets emitted from dist::component::transaction::ChangedItem.dest_abs_path.

add file, copy file, copy dir, move file, move dir call that.

dest_abs_path stats the destination and if it exists, triggers the

[2019-05-17 10:45] rbtcollins commented on #1849
I should mention, I haven't looked closely at the local data store details,
so modify my suggested investigation path based on your better knowledge.
Tldr though is that we should make sure rust knows there is content at the
conflicting path before the update begins, and that it is moving it out of
the way, before suspecting platform issues.

Perhaps running with -v will help.

[2019-05-18 08:20] ishitatsuyuki opened #1858 "Prefer faster compression methods under good network"
**Describe the problem you are trying to solve**

Decompression can be an bottleneck if the network is fast. XZ (LZMA) is surprising slow and can quickly dominate the time spent on installation.

For network connections faster than broadband, we should consider not using LZMA compression. This includes home fiber and datacenters, notably CI environments.

**Describe the solution you'd like**

- Ad

[2019-05-18 14:49] kinnison commented on #1856
See, I wouldn't want to mention that in the readme explicitly because we're hoping to remove the cURL backend over time, so encouraging people to use it would be counterproductive.  What we need to do is determine where the certificates are being stored and thusly why reqwest isn't finding them.

Regarding the use of `apt` you can install rustc and cargo via `apt install rustc cargo` and then just

[2019-05-18 14:49] kinnison commented on #1856
The version of cargo and rustc you get via `apt` will be up to your distribution, not us.

[2019-05-18 14:52] kinnison commented on #1858
For the most part, the compression scheme selected is up to the tool which generates the compiler releases.  As far as I know, however, the manifest format only allows for a single download file per component, so we wouldn't be able to choose compression methods for the user.  I imagine that we use xz for compression ratio reasons.

[2019-05-18 19:08] rbtcollins commented on #1647
The \\?\ paths are processed lower in the NT IO stack as I understand it; so the / separate becomes a problem there, and this should indeed be fixed within tar-rs.

[2019-05-19 13:46] sunjay opened #1859 "Replace link to #rust-beginners IRC on home page"
Now that the [IRC Sunset](https://blog.rust-lang.org/2019/04/26/Mozilla-IRC-Sunset-and-the-Rust-Channel.html) has been announced, we should consider replacing the "Ask on #rust-beginners" link with something else. I wanted to open a separate issue from #1372 because this is a bit more urgent now that the IRC channels are going to be shutdown.

Note that I'm not opening this to argue about the bene

[2019-05-19 21:09] kinnison commented on #1859
This sounds emminently sensible.  Is there any chance you could provide a PR to this effect?

[2019-05-19 21:32] sunjay commented on #1859
@kinnison see #1860. :)

[2019-05-21 03:44] nightlark commented on #1856
Actually, it looks like I might have been wrong about RUSTUP_USE_CURL=1 working; I noticed today that running `rustc` is still giving the `no default toolchain configured` error, and running `rustup install stable` or `rustup default stable` give errors regarding verifying the SSL certificate (with both the reqwest and curl backends) due to it being "self-signed".

The copy of rustc I'm using was

[2019-05-21 11:02] #1859 closed, assigned to nobody

[2019-05-21 11:07] kinnison commented on #1856
So it sounds like you're expecting `/usr/bin` to be in your `PATH` before wherever `rustup` is (probably `~/.cargo/bin`) but in reality the latter is first, so when you run `rustc` it's picking up `rustup`'s proxy.

Either uninstall rustup (`rustup self uninstall`) move the `PATH` around, or you can add your system-installed toolchain for now `rustup toolchain link system /usr && rustup toolchain

[2019-05-21 21:23] Glamhoth commented on #1854
I'm taking a look at this.

[2019-05-22 00:59] nrc commented on #998
You can see the initial design discussion at https://internals.rust-lang.org/t/pre-rfc-improve-access-to-rustup-components/8318

[2019-05-22 03:28] softprops commented on #998
Thanks @ashthespy. I'll follow this issue's progress.

For context I'm interested in slimming down the docker builder image for aws lambda https://github.com/softprops/lambda-rust/issues/1. I really just need to cargo build tool chain. The bundled docs artifacts aren't useful in this context and yet they aren't currently possible to opt out of. This `minimal` profile looks great!

[2019-05-22 20:10] rbtcollins commented on #1540
I'm now involved in a discussion with Defender folk ; they've asked for traces of the poor behaviour. Please use rustup 1.18.3 or newer, nothing older, as there is no point sending in unoptimised traces IMO.

We only need 3-4 traces from a few different machines where *Defender overhead* is the problem; I'll be submitting one from a surface pro and one from a 2990WX. If someone has a machine with

[2019-05-22 21:42] CAD97 commented on #1540
@rbtcollins feedback-hub:?contextid=242&feedbackid=953429f7-8755-4abb-ae7b-26cb61729786

I have my `.rustup`, `.cargo`, and `%TEMP%` directories are on a

non-OS HDD drive (`D:\`; `C:\` is a SanDisk SDSSDH3 500G). Both 'rustc' and 'rust-std' components claimed a somewhat constant install rate of 11.7 MiB/s; 'rust-docs' varied between as low as 15 KiB/s and as high as 300 KiB/s.

[2019-05-22 21:47] kinnison opened #1864 "Self update could interfere with itself"
We don't seem to download the self-update to a unique pathname.  As such two self-updates could interfere with one another.

It probably makes sense to alter the self-update pathways to use unique names and potentially to use a lockfile during the actual update process after download.

[2019-05-22 22:01] rbtcollins commented on #904
I think this ticket should be closed: we're doing create, write, close now for each file, no extra copies. We do do the move-into-place thing but as docs is moved as a top level dir, its a single syscall.

[2019-05-22 22:23] rbtcollins commented on #1540
This is my trace from my 2990WX `feedback-hub:?contextid=242&feedbackid=b17bbe6c-dca5-4589-8f2b-367aa517fbad`

[2019-05-22 22:38] rbtcollins commented on #1540
@CAD97 do you perhaps have the console output? e.g. something like

```Closing 15213 deferred file handles  5.3 Kihandles /  14.9 Kihandles ( 36 %) 346 handles/s in 19s ETA: 28s```

If you didn't see the above, you were running an older, single-threaded rustup

[2019-05-22 22:46] rbtcollins commented on #1258
#500 / #1838 exist already; if done, then point 2 would not be needed at all.

[2019-05-22 22:50] rbtcollins opened #1865 "rustup self update fails when RLS using IDE's are open on Windows"
**Problem**
rustup.exe cannot be replaced when an IDE that uses RLS is open on Windows

**Steps**
1. Install rustup
2. Install vscode
3. Work on a rust project
4. run rustup some time later and get an error about rustup.exe permission denied

**Possible Solution(s)**
Suggest having a handof/respawn protocol for the proxies so they can be told to GTFO when rustup.exe needs to be replaced.

Proxies

[2019-05-22 22:52] rbtcollins commented on #1540
My surface pro trace - `feedback-hub:?contextid=242&feedbackid=5c819752-1ac9-435d-befc-1af8e5828f52&form=1&src=1`

[2019-05-22 23:24] rbtcollins commented on #1858
@ishitatsuyuki do you have some profiling data showing that decompression is a bottleneck here? One thing we could very easily do if it is a bottleneck is move decompression to a dedicated thread.

[2019-05-23 03:20] rbtcollins opened #1866 "rustup is still slow under WSL"
**Problem**
We forgot about WSL when making the threading code OS specific.

**Steps**

1. Run rustup in WSL on Windows 10 (a WSL backed to an NTFS volume)
2.
3.

**Possible Solution(s)**
Perhaps thread always? Or perhaps try to detect WSL?

**Notes**

Output of `rustup --version`:
Output of `rustup show`:

[2019-05-23 03:47] ishitatsuyuki commented on #1858
Reference file: `183M    rust-std-1.34.2-x86_64-pc-windows-gnu.tar`
CPU: `Intel(R) Core(TM) i7-6500U CPU`

| Compression | Compressed size | Download time | Decompression time |
|-------------|-----------------|---------------|--------------------|
| gz          | 71M             | 4.4s          | 1.25s              |
| xz          | 56M             | 3.4s          | 3.50s              |
| zstd (-

[2019-05-23 04:03] rbtcollins commented on #1858
Thank you for the profiling data.

So, lets break this into several aspects.

I have absolutely no attachment to the current compressor; but rustup is merely a consumer of the archives produced elsewhere in the ecosystem. So the adoption process is going to be:
1. get the rest of the ecosystem producing multiple formats
2. get rustup to switch (whether dynamically or just permanently)

Do you know

[2019-05-23 04:13] rbtcollins commented on #1858
In terms of assessing formats, we have binaries, libaries, and docs, I don't know that we'll get consistent results across all types; it may be worth testing across them all.

[2019-05-23 04:14] ishitatsuyuki commented on #1858
The distribution manifest has two urls: no suffix (gz) and xz.

[2019-05-23 04:36] saethlin opened #1867 "docs installation slow on NFS home"
**Problem**
rustup docs installation is remarkably slow on an HPC system (probably most HPC systems). In case it's useful to anyone, I'm observing this on HiPerGator, which uses the Lustre filesystem.
I've attached some `strace -c` output below along with what rustup printed during the update. The 433.6 KiB/s is probably mis-stating the situation; for a few seconds at a time the install speed drop

[2019-05-23 13:18] doxxx opened #1869 "self update fails on windows (access is denied)"
**Problem**
`rustup self update` fails with an access denied error on Windows 10 with Cisco AMP for Endpoints installed.

Output:

[code]

**Possible Solution(s)**
Cisco AMP does some funky stuff with file deletions, especially executables. I've personally experienced the following sequence of events:

1. Delete a file in Windows Explorer
2. See the file disappear from the window
3. Hit F5 to refr

[2019-05-23 15:09] kinnison commented on #904
I concur, thank you @rbtcollins

[2019-05-23 15:09] #904 closed, assigned to nobody

[2019-05-23 15:12] kinnison commented on #1865
If we `rename()` the old proxies out of the way before trying to delete them, and then opportunistically silently try to `unlink()` old proxy names whenever we encounter them, this ought to be a fairly rare event.  How does that sound?

[2019-05-23 15:13] CAD97 commented on #1540
@rbtcollins Didn't record the console output directly, and Feedback Hub seems to not have preserved the screenshots in a user-visible way. Output was inded of the format `3.5 MiB /  11.1 MiB ( 32 %)  99.2 KiB/s in 11s ETA:  1m 18s`. This is where my reported speed came from. A new trace did add the handles, and did speed up the process! 🎉

I added another trace to my report after confirming that I

[2019-05-23 15:16] eddyp commented on #1869
I'm seeing **the issue on regular update (NOT self) on** Windows 10 without any Cisco AMP.

`rustup --version` says:

[code]

`rustup show` says:

[code]

[2019-05-23 15:17] kinnison commented on #1866
So one option is we could include the `uname` crate if we don't already, and then use `uname::uname()?.release.find("Microsoft")` to detect WSL.

Alternatively we just enable threading for closes always -- I would like us to have a more robust limit on open handles at that point, (perhaps limited queue length would be sufficient?)

[2019-05-23 15:23] kinnison commented on #1867
What's fascinating here is that while the install took minutes, there's only 6 seconds of syscalls there.  I can only assume we're only getting CPU cost, not wait latency logged by strace.

However, profiles support should resolve this issue for you (PR #1673) so let's revisit this after the release of a `rustup` containing that.

[2019-05-23 15:35] saethlin commented on #1867
I don't think I'd assume that; here's the `time` output for a re-installation of nightly
[code]
I'll be watching that PR with great interest!

[2019-05-23 15:38] kinnison commented on #1869
We do a self-update at the end of any update anyway.  So that's the same codepath.

This error could also easily be that we've a proxy still running or somesuch.

I'm considering a `rename()` based approach to try and mitigate this kind of issue.  See #1865

[2019-05-23 15:48] kinnison commented on #1858
In order to proceed on this, the infra team want some comparisons.

Could you please gather:

1. For all artifacts of a nightly, what is the total size of the .xz files vs. the .zstd file equivalents
2. How long does it take to decompress all the .xz and all the .zstd equivalents in total.
    (incude your approximate CPU details here)
3. How fast does a network have to therefore be, to make the i

[2019-05-23 15:52] kinnison commented on #1867
Yep, so 2m38s of *wallclock* time, of which 16s user time (likely decompression, hashing, etc) and 6.6s of syscall CPU time.  The remaining 2m14s or so will be *waiting* for the storage/network. :D

[2019-05-23 18:37] rbtcollins commented on #1866
We can do some experiments... windows doesn't have anywhere near the same
file descriptor limits Unix does, so sure, but let's make throttling limits
platform specific or actual OS resource getrlimits based or some such.

On Fri, 24 May 2019, 03:18 Daniel Silverstone, <notifications@github.com>
wrote:

[2019-05-23 21:16] geraldgg commented on #1483
Finally I found what I was missing! So yes, I agree that this guide should be given somewhere.

[2019-05-23 23:29] hcnelson99 commented on #1838
See also #500

[2019-05-24 05:43] ishitatsuyuki commented on #1858
Tested release: `nightly-x86_64-unknown-linux-gnu 2019-05-24`
CPU: `Intel(R) Xeon(R) CPU E5-2670 0 @ 2.60GHz * 4` (virtualized)
Note: only single-threaded implementations are tested. `pixz` did not seem to yield speed increase, `pzstd` performed well but it has its own logic, `zstdmt` did not support parallel decompression.

**Size and decompression times:**

| Component         | xz   | xz time |

[2019-05-24 07:21] kinnison commented on #1866
Sounds good.  I don't have a WSL setup (yet) but I can try and get one on my gaming platform (rapidly I'm going to have to think of `rustup` as a game to justify this) and try.  `getrlimit()` or somesuch seems like a very sensible approach.